[2019-10-16 13:49] #1468 closed

[2019-10-16 13:52] pombredanne commented on #1404
This is confirmed as fixed and merged in develop.
[code]

[2019-10-16 13:52] #1404 closed

[2019-10-16 13:53] pombredanne commented on #1354
This is all merged in develop. Closing

[2019-10-16 13:53] #1354 closed

[2019-10-16 13:56] pombredanne commented on #986
The error messages are improved and more actionable and now include file:/// links to the culprit.

[2019-10-16 13:56] #986 closed

[2019-10-16 13:59] #1351 closed

[2019-10-16 14:06] pombredanne commented on #1523
This is a follow up from #707
See also this details tickets:
- RPMs  #2412 and #1731
- OpenSource.org  #1627
- FreeBSD #1471 and #1470
- Bintray #974
- Nuget #799

[2019-10-16 14:07] pombredanne commented on #799
See #1523 for follow up work

[2019-10-16 14:07] #799 closed

[2019-10-16 14:08] pombredanne commented on #695
This is fixed and merged in develop! Thanks

[2019-10-16 14:08] #695 closed

[2019-10-16 14:11] pombredanne commented on #1757
This is fixed in `develop` now.
@fossygirl Thanks!

[code]

[2019-10-16 14:11] #1757 closed

[2019-10-16 14:13] #504 closed

[2019-10-16 14:16] sschuberth commented on #504
Thanks @pombredanne for the update, but could you clarify what excatly "now" means? In `develop`, or in an existing release?

[2019-10-16 14:16] #400 closed

[2019-10-16 15:16] licodeli opened #1765 "Investigate a way to avoid elf/dwarf parser platform dependencies"
### Description
Let's find a good way to handle the OS platform dependencies for elf and dwarf parsers.

One possible solution is:
https://github.com/eliben/pyelftools

[2019-10-16 19:09] majurg commented on #1751
@ummer9987 Make sure you are in the scancode-toolkit virtualenv before installing the `hello` sample plugins.

[2019-10-17 03:32] sbs2001 commented on #1283
I would like to work on this. Can you provide some additional details about, what exactly needs to be done?

[2019-10-17 07:41] pombredanne commented on #1691
This is fixed and merged in develop... but I am keeping open as we need to have a test too for this

[2019-10-17 07:49] pombredanne commented on #1283
repaste from the giiter chat at: https://gitter.im/aboutcode-org/discuss?at=5da81c05809de9699f5148a9

the first thing is to understand how license detection works. You can browse the code under src/licensedcode or more simply check some doc https://github.com/nexB/scancode-toolkit/wiki/How-to:-Add-new-license-rules-for-enhanced-detection and examples of what we call license detection rules under s

[2019-10-17 09:31] ummer9987 commented on #1751
@majurg @pombredanne The sample plugin works with one change.
 Could you please let me know whether you were able to develop the plugin with the requirements provided above.

[2019-10-17 15:36] pombredanne commented on #1751
@ummer9987  @AyanSinhaMahapatra will be working on this at the same time as he writes a tutorial to write plugins. So this will take some time, unless you want to give it a go before that separately?

[2019-10-17 22:09] JonoYang commented on #1748
We now scan the RCS directory and we properly ignore directories when creating the codebase. Closing.

[2019-10-17 22:09] #1748 closed

[2019-10-17 23:34] JonoYang opened #1771 "Package scanners should be able to return multiple Package objects for a Resource"
This feature would be useful for the BUCK package parser. In the case of the BUCK build system, a single BUCK file can define multiple build targets. Our current system has the constraint that a Package parser only returns a single Package object for each package manifest parsed.

[2019-10-18 00:27] JonoYang commented on #1010
@pombredanne I've run scancode against `/dev` on my system using `sudo scancode -i /dev --json ~/Desktop/dev.json`, and scancode correctly did not scan the special files and only reported the directories under `/dev`.

[2019-10-18 00:35] linexb commented on #1761
The fix is verified and merged into develop branch now. I will close the ticket now. Please reopen if needed.

[2019-10-18 00:35] #1761 closed

[2019-10-18 00:37] linexb commented on #1762
This is verified and merged into develop branch now. I will close it now. Please reopen if needed.

[2019-10-18 00:37] #1762 closed

[2019-10-18 00:38] linexb commented on #1752
This is verified and merged into develop branch. I will close this and please reopen if needed.

[2019-10-18 00:38] #1752 closed

[2019-10-18 00:39] linexb commented on #1732
The fix is merged into develop branch. I will close the ticket and please reopen if needed.

[2019-10-18 00:39] #1732 closed

[2019-10-18 00:39] JonoYang opened #1772 "Should ScanCode be more explicit about ignoring symlinks/special files?"
Currently, ScanCode does not create Resources for symlinks and special files (FIFO, device files, etc.), however we do not tell this to the user at any point when the program is running.

Should ScanCode provide a message about skipped special files? Also, should ScanCode fail loudly if someone tries to scan a special file?

[2019-10-18 01:03] JonoYang commented on #1749
The Pypi parser has been enhanced to collect classifiers while scanning wheels.

[2019-10-18 01:03] #1749 closed

[2019-10-18 05:03] YashJipkate commented on #1377
Hi @pombredanne, I would like to work on this issue. Is this issue available? If yes, then could I be assigned to it?

[2019-10-18 05:54] ummer9987 commented on #1751
@pombredanne @AyanSinhaMahapatra We are also working on that, will share the updates.

[2019-10-18 14:18] majurg commented on #1715
#1741 merged, closing this.

[2019-10-18 14:18] #1715 closed

[2019-10-18 21:05] DennisClark opened #1773 "Errors scanning log4j"
Using the latest develop branch, as of 2019-10-18, on Mac OS 10.14.5, I ran a scan of `apache-log4j-2.12.1-src` and received the messages shown below.   Scan results attached.
[apache-log4j-2.12.1-src-scan.json.zip](https://github.com/nexB/scancode-toolkit/files/3745657/apache-log4j-2.12.1-src-scan.json.zip)

[code]

[2019-10-19 00:26] JonoYang commented on #1773
@DennisClark Thanks for the ticket. I've narrowed down the problem to https://github.com/nexB/scancode-toolkit/commit/0bf0c7082d5ee6c99c7cd8c197e213ea5ff5080f#diff-9feddae6239d49e50571ae6742c91612L296, where we jump the gun and modify the POM qualifiers before the other attributes that we generate from the POM can use the qualifier data

[2019-10-20 04:25] AyanSinhaMahapatra commented on #1758
@pombredanne Sorry for the delay. Yes, the same error occurs in the develop branch latest.

[2019-10-21 09:42] pombredanne commented on #1377
@YashJipkate by all please go for it!
The place to look into is going to be likely in src/scancode/cli.py

[2019-10-21 09:47] pombredanne commented on #504
@sschuberth I mean by now that this is in develop and also in the latest tagged version (which is a release candidate and has still a few open bugs to close before we mark it a 3.1 final)

[2019-10-21 09:54] pombredanne commented on #1758
Thanks, I am making this as a must have for the next release candidate!

[2019-10-21 10:13] sschuberth commented on #504
Great, so this mean the fix is in the [3.1.1 release candiadate](https://github.com/nexB/scancode-toolkit/releases/tag/v3.1.1).

[2019-10-21 12:39] pombredanne commented on #504
@sschuberth yes, and this should start to be rather decent to help build a straight-from-scan attribution notice generation.

[2019-10-21 12:43] sschuberth commented on #504
One more question @pombredanne for double-checking: It *is* so that the text from `matched_text` is exactly the text I would get if I'd manually extract the lines from `start_line` to `end_line` from the scanned file, right? Or can it be under any circumstances that `start_line` / `end_line` only reference e.g. a subset of the text in `matched_text`?

[2019-10-21 13:42] ummer9987 commented on #1751
@pombredanne We have created keyword plugin using the email plugin code. But when we try to trigger a scan using the --keyword option it is showing no such keyword error. If we avoid that option am getting another error
ERROR: failed to load plugin: scan:search:

Could you please help me on this

[2019-10-21 17:46] JonoYang commented on #1751
@ummer9987 Do you have the code available for us to look at? Its hard to see the possible problems without all the files available.

[2019-10-21 21:20] MartinPetkov opened #1777 "Incorrect AGPL finding in Ruby file"
### Description
Please leave a brief discription of the bug or feature request:
Steps to reproduce:
[code]
You see this finding, which should clearly not be there:
[code]

What's strange is how high the score is, 92.94. I don't think almost any of this text overlaps with the AGPL 1.0 license text.

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on?

[2019-10-21 23:36] AyanSinhaMahapatra opened #1778 ""pip install scancode-toolkit" gives error"
### Description
Please leave a brief description of the bug or feature request:

Creating a Python 3 virtualenv and running `pip install scancode-toolkit` generates this error
[code]
When I was testing a few days before, the Error was
[code]
The exact commands were
[code]
The scancode-toolkit downloaded from PyPI is of version 3.1.1
[On Python 3.6.8 and pip 19.3.1]

The python 2 pip install obviou

[2019-10-22 09:57] pombredanne commented on #1778
Thank you. Great catch!

[2019-10-22 13:36] ummer9987 commented on #1751
[plugin_changes.zip](https://github.com/nexB/scancode-toolkit/files/3755954/plugin_changes.zip)
@JonoYang please find the attached plugin code.

[2019-10-22 13:37] ummer9987 commented on #1751
Sorry closed the issue by accident

[2019-10-22 13:37] pombredanne commented on #504
@sschuberth yes, and this should start to be rather decent to help build a straight-from-scan attribution notice generation.

[2019-10-22 13:38] pombredanne commented on #1777
Thank you for this. I went ahead and ran a scan on all of chef for sanity and found a few more issues and files this too https://github.com/chef/chef/pull/9016

[2019-10-22 13:45] sschuberth commented on #504
I just had a deja-vu 😜

[2019-10-22 14:01] pombredanne commented on #1739
@CoralineAda The PR #1739 by @sbs2001 contains what is needed to detect properly the Hippocratic license 1.1 with ScanCode. I would assume it is fine to ignore version 1.0: is this correct? Thank you for your kind response!

[2019-10-22 14:02] CoralineAda commented on #1739
Yes, it should be fine. Note that 1.2 will be coming out very soon too. You might want to watch the repo?

[2019-10-22 14:17] pombredanne commented on #1739
@CoralineAda Thank you for the super fast reply! I will keep this open to make sure we add the 1.2 when it comes up.

[2019-10-22 14:36] pombredanne opened #1780 "Cannot call (easily) the main scancode function from Python"
### Description
This has been discovered during a hacking session with  @valeriocos . See also  https://github.com/chaoss/grimoirelab-graal/issues/64

Note that we also faced #1778 reported by @AyanSinhaMahapatra

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on? Linux
* What version of scancode-toolkit was used to generate the scan file? develop
*

[2019-10-22 15:03] reversi-fun commented on #1510
@pombredanne,Thanks for the response.
My enhancement request is to add:
* Java-Spec-doc(java documentated Specification License)
* Java-Spec-RI(JSR Specification Reference Implementation License Agreement)
* Java-BCL(Oracle Binary Code License Agreement)
* Java-RL(Java Research License)
* Java-DL(Java Distribution License)
* Java-Spec-Eval(JSR Spec Evaluation License)

In addition, the rules engin

[2019-10-22 16:17] pombredanne commented on #1777
A fix is available in the https://github.com/nexB/scancode-toolkit/pull/1779 PR. Thanks again for the report!

[2019-10-22 16:27] pombredanne commented on #1777
@MartinPetkov you wrote:

Actually the matched rule file is [mit_or_agpl-1.0_1.RULE](https://github.com/nexB/scancode-toolkit/blob/25d71f078f82d23a0b6ee0d0019e810430af4295/src/licensedcode/data/rules/mit_or_agpl-1.0_1.RULE) that has an AGPL reference, but that part is not matched. The fix has been in this case to ensure that `mit_or_agpl-1.0_1.RULE` must be matched almost entirely to be considered

[2019-10-22 18:04] pombredanne commented on #1691
This is now all fixed and merged in develop!
@armijnhemel  @leonardr and @Iamshankhadeep thank you ++ respectively for your report, your support and your fix! :bowing_man:

[2019-10-22 18:04] #1691 closed

[2019-10-22 18:07] pombredanne opened #1781 "Check scan errors in ORT"
### Description
See  [Analyse & Scan errors with Flutter project](https://github.com/heremaps/oss-review-toolkit/issues/1873)  reported by @NicolasToussaint

I could not reproduce on a pain ScanCode ... And I also pushed in develop a bunch of license improvements from reviewing a scan of Flutter

See also #1670

[2019-10-22 18:07] pombredanne commented on #1670
See also #1781

[2019-10-22 18:08] JonoYang commented on #1751
@ummer9987 I've looked at your files.

In `plugin_changes.zip/plugin_changes/scancode-keyword-search/src/keyword_search/keyword_search.py` on line 50

[code]
The option is named `keyword` whereas in `plugin_changes.zip/plugin_changes/scancode-keyword-search/setup.py` on line 49, the entry point is named `search`

[code]

The name in the entry points and the option names should be the same.
[plugin

[2019-10-22 18:25] Iamshankhadeep commented on #1760
@pombredanne can I work on it?

[2019-10-22 18:32] Iamshankhadeep commented on #1780
@pombredanne Can I work on it?

[2019-10-22 19:51] pombredanne commented on #1760
@Iamshankhadeep I think that @AyanSinhaMahapatra is working on this as part of the work he has in progress on documentation.

[2019-10-22 20:10] pombredanne commented on #1780
@Iamshankhadeep this is a rather complex one: this about being able to call https://github.com/nexB/scancode-toolkit/blob/25d71f078f82d23a0b6ee0d0019e810430af4295/src/scancode/cli.py#L540 from another program for instance with `run_scan(<absolute location of a file>, license=True, copyright=True, return_results=True)` and get the results.

I know how to fix the problem ... but this requires intros

[2019-10-23 03:35] Iamshankhadeep commented on #1758
@pombredanne Can I work on it?

[2019-10-23 03:35] Iamshankhadeep commented on #1759
and can I work on this too?

[2019-10-23 05:22] sbs2001 opened #1785 "Stuck on 'Setup plugins...' when scanning for license in Linux"
### Description
I might be missing something obvious, but I really can't get scancode-toolkit to scan for licenses on Linux. It gets stuck on 'Setup plugins...'. It works fine when I scan for copyrights.

I am able to scan for licenses using on my Windows system, by following the exact same procedure.

I  also tried using scancode  3.0.4, but the issue persists

* if reporting a bug, tell us how t

[2019-10-23 06:24] ummer9987 commented on #1751
@JonoYang I am still getting the same error with the changes you told.

[2019-10-23 06:56] pombredanne commented on #1785
@sbs2001 sorry for that... let's try to eliminate possible causes of issues.

Would you be able to try these steps:

- open a new fresh terminal
- run this `rm -rf ~/.cache/scancode-tk` to clear any scancode cache you may have
- create a new directory and cd to it: `mkdir scancode` and `cd scancode`
- clone and run
[code]

[2019-10-23 07:04] pombredanne commented on #1758
@Iamshankhadeep please go for it!

[2019-10-23 12:58] pombredanne commented on #1777
merged in develop now. And this is in the next candidate RC in a few.
Thank you ++ for the report!

[2019-10-23 12:58] #1777 closed

[2019-10-23 15:17] pombredanne commented on #1146
This is really what @AyanSinhaMahapatra is working on.

[2019-10-23 15:21] pombredanne commented on #1031
Actually we had discussed to unbundle examples from the scancode repo proper with #1286
@DennisClark @mjherzog no objections?

@AyanSinhaMahapatra what would be the impact on the doc if we move the examples outside in a new repo?

[2019-10-23 15:22] pombredanne commented on #1688
@bobgob1 I will add this in the results too. Good point and there is a bug that needs to be fixed before we push a proper release candidate.

[2019-10-23 15:50] JonoYang commented on #1751
@ummer9987

After you make the changes to your plugin, you need to reinstall the plugin.

Make sure you are in the `scancode-toolkit` virtual environment

Make the changes to your code

Install the plugin using `pip install -e <path to plugin folder>`

I forgot to mention this in my previous post, my apologies.

[2019-10-23 15:57] pombredanne commented on #1785
@sbs2001 were you able to get this through?

[2019-10-23 16:28] pombredanne commented on #1377
And for the record this is now in the PR https://github.com/nexB/scancode-toolkit/pull/1787

[2019-10-23 16:32] pombredanne commented on #1688
One issue to fix is this message:
[code]
This showed up with a git clone

[2019-10-23 16:37] pombredanne commented on #1759
@Iamshankhadeep let's do one at a time if that works for you!

[2019-10-23 16:49] mjherzog commented on #1031
I think that we should unbundle them and recommend that we use examples from a few smaller OSS projects - much more realistic.

[2019-10-23 17:15] DennisClark opened #1789 "Add new licenses from the spdx license list version 3.7"
Please update the scancode-toolkit licenses with the latest entries on the spdx license list.

The version 3.7 release of the license list is now tagged and live at https://spdx.org/licenses. Along with documentation updates and markup tweaks, 6 new licenses and exceptions were added to the list:
* etalab-2.0
* MulanPSL-1.0
* OGL-Canada-2.0
* SSH-OpenSSH
* SSH-short
* UCL-1.0

[2019-10-23 21:26] pombredanne commented on #1789
I ran these rom ScanCode virtualenv:
1. `mkdir spdx`
2. `python etc/scripts/synclic.py -s spdx spdx`
[code]
3. manual review of updates/changes to correct them

[2019-10-24 05:37] ummer9987 commented on #1751
@JonoYang
We were doing the same after the code change. am still getting the error.
below is the command and error we are getting

/opt/scancode-toolkit-3.0.2/bin/scancode -c -p -l test/2205/18984 --kwsearch --json-pp test.json
ERROR: failed to load plugin: scan:kwsearch:
Traceback (most recent call last):
  File "/opt/scancode-toolkit-3.0.2/src/scancode/cli.py", line 509, in scancode
    if plugi

[2019-10-24 06:22] JonoYang commented on #1751
@ummer9987

The method names were not correct in the plugin. I've named them properly, The plugin should be able to be enabled.
[scancode-keyword-search.zip](https://github.com/nexB/scancode-toolkit/files/3765995/scancode-keyword-search.zip)

[2019-10-24 10:26] sbs2001 commented on #1785
Solved! Thanks @pombredanne the reindexing took awhile, but it's working!.

[2019-10-24 14:44] ummer9987 commented on #1751
@JonoYang It works now. Thank you
Now I am facing issue in the get_keys function in api.py we are trying to resolve that. At the same time could you also please trace out the function? I am new to python development. We need to deliver the plugin by this week
@pombredanne  @AyanSinhaMahapatra Is there any update on the plugin.

[2019-10-24 20:15] AyanSinhaMahapatra opened #1790 "Travis-CI jobs on queue for a long time"
### Description

Travis-CI seems to be stuck at "Job recieved" for a long time before starting jobs across all nexB repositories.

Quoting @majurg from aboutcode/discuss at Gitter

The macOS side of Travis is awful and has been for some time.
IMO if we lighten up the load for Travis specifically just to get the tests to run in a timely manner, what is the point of having it as a valid CI check?
Al

[2019-10-24 22:32] AyanSinhaMahapatra commented on #1146
So, https://github.com/nexB/scancode-toolkit/pull/1784 is the first step. Making sure tests for documentation builds are in place, with all requirements in place.
Next, I'll test cross-sphinx links (To maintain links with nexB/aboutcode). Then comes the actual migration of the docs.

[2019-10-24 23:10] JonoYang opened #1791 "Consolidation plugin needs to be updated following Package changes"
We are not properly consolidating Packages due to how we stopped moving package data from the manifest to the root directory.

[2019-10-25 09:36] pombredanne commented on #1790
Travis used to be awesome... but it is a tad less so lately.
What I think we will do is to limit more and more what we run there only to ruhttps://github.com/nexB/scancode-toolkit/blob/develop/tests/licensedcode/licensedcode_test_utils.py#L198n basic smoke tests on a few more OSes.

[2019-10-25 14:04] Iamshankhadeep commented on #1758
@pombredanne how can I solve this? I am not getting any Ideas.

[2019-10-25 16:17] MartinPetkov opened #1794 "Scancode reports on "originally licensed under X" as if it's a license notice"
### Description
Not sure if this is a "bug" or if there's any good way to solve it short of embedding an NLP parser, but it's at least an edge case. In https://github.com/gettalong/kramdown/blob/179b81dcf057f8079fd9df5296ba858114d30f7a/README.md, there's this text:
[code]

Try scanning it:
[code]

You see this:
[code]
It (correctly imo) zeroes in on the "licensed under..." text, but it would be ni

[2019-10-25 17:30] pombredanne commented on #1794
Hi Martin!

Thank you for this report.

Comments about licenses are always tougher ones: (for the record there is also two MIT references in the same file, detected alright)...

There are two ways to deal with this:

1. Using a rule with a `is_negative: yes` flag. For instance with this text `was originally licensed under the GPL until the 1.0.0 release` ...  then the exact text will be entirely r

[2019-10-25 17:44] JonoYang commented on #1791
This has been merged into develop

[2019-10-25 17:44] #1791 closed

[2019-10-25 17:45] JonoYang commented on #1771
This has been merged into develop

[2019-10-25 17:45] #1771 closed

[2019-10-25 17:48] aj4ayushjain commented on #1778
What's the actual issue here @pombredanne .
As in tried replicating it in my machine with almost same config only difference being ubuntu upgraded 16->18.Everthing was working fine.

[2019-10-25 19:03] JonoYang commented on #1678
We can now parse BUCK files, but no other build files. We can probably use the code from the BUCK parser for the Bazel parser as well.

[2019-10-25 19:47] MartinPetkov opened #1795 "Rule "bsd-new_or_gpl-2.0_12.RULE" matches even though GPL alternative block isn't there"
### Description
It's not clear to me why [this block](https://github.com/apache/beam/blob/4fa1501b377e70df0971ec4a4b8f585fd8f34a6c/LICENSE#L277-L301) matches the bsd-or-gpl rule, since it's missing the the "Alternatively, this software may be distributed under the terms of the GNU General Public License ("GPL") version 2 as published by the Free Software Foundation." blurb. The only difference I c

[2019-10-27 02:11] AyanSinhaMahapatra commented on #1760
Updated the ``template.html`` on ReadTheDocs (by https://github.com/nexB/aboutcode/pull/31), not scancode-toolkit/wiki, but the issue can be left open until the wiki is corrected (or after I mark the wikis outdated when I'm done migrating docs), if you want.

[2019-10-27 23:29] MartinPetkov commented on #1794
Thank you for the in-depth explanation! I've tried my hand at fixing it and opened https://github.com/nexB/scancode-toolkit/pull/1797. When I run the reproducing steps above, I correctly no longer see gpl-1.0-plus in the results. Let me know if that's acceptable.

You're right about the old version, I hadn't run `./configure` on my local fork of the code.

[2019-10-28 15:42] #1760 closed

[2019-10-28 15:52] #1794 closed

[2019-10-28 17:26] JonoYang commented on #1532
`extra_data` has not been added to `Package` since we do not a problem that would be solved by having the `extra_data` field. `extra_data` was added in some branches, but removed since more pertinent fields are available for use.

[2019-10-28 17:26] JonoYang commented on #1773
This has been fixed in develop.

[2019-10-28 17:26] #1773 closed

[2019-10-29 13:10] ummer9987 commented on #1751
@JonoYang @pombredanne
When we are trying to scan a package with new options we are getting the below error. Could you please help me on this

Setup plugins...
Collect file inventory...
Scan files for: kwsearch, licenses, copyrights, packages with 1 process(es)...
[------------------#-] 2 Scanned: Configuration.java
Removing temporary files...done.
Traceback (most recent call last):
  File "bin/sc

[2019-10-29 16:35] pombredanne opened #1798 "Error when extracting archive of Debian package"
### Description
When extracting http://ftp.debian.org/debian/pool/main/l/labplot/labplot_2.7.0-1_armel.deb I get some errors:
[code]

[2019-10-29 22:35] JonoYang commented on #1751
@ummer9987 Can you upload the code you have right now and tell me about some of the changes you have made on top of scancode, e.g. where you added new code and what you are trying to do with it?

[2019-10-30 00:42] jkschulz opened #1800 "Incorrect BSD-3 finding for Ruby license"
### Description
[These lines](https://github.com/rubyzip/rubyzip/blob/9d891f7353e66052283562d3e252fe380bb4b199/samples/example.rb#L80-L81) are being identified as BSD-3 license, though it says "ruby license"

To reproduce:
[code]

License finding:
[code]

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on? MacOS
* What version of scancode-toolkit was

[2019-10-30 11:59] pombredanne commented on #1800
@jkschulz thanks for the report!
This is fixed with in a branch now

[2019-10-30 14:52] pombredanne commented on #1778
@aj4ayushjain thank you for the feedback. All has been fixed now. The key thing was actual re-release of the latest binary plugins for extractcode/typecode

[2019-10-30 14:52] pombredanne commented on #1780
This has been fixed and merged in develop. I am keeping this open to add the docs for this.

[2019-10-30 20:30] CleanHit opened #1802 "Getting Licenses Information on used third Party Libraries in Android or IOS Projects"
I've scanned an Android, a Node.js and an IOS project with the command `./scancode --html my_result.html --licenes --package --copyright <path_to_project>`. In the Android and Node.js projects it didn't find anything and in the IOS project it found some licenses and copyright stuff, but only from the given information in the local files.

I don't know if I'm doing something wrong or if the scancod

[2019-10-30 20:31] jkschulz commented on #1800
Thanks so much for the quick fix!

[2019-10-30 20:31] #1800 closed

[2019-10-30 23:12] pombredanne commented on #1802
@CleanHit It sure should pick things up if the information is present.
Can you provide some details?
1. which version of Scancode do you use?
2. can you provide the links to these Android, a Node.js and IOS projects to we can try them out?

[2019-10-30 23:29] pombredanne commented on #1800
@jkschulz re:

Sure thing! we like our bugs quickly squashed when possible! :bug:
And this is the kind of reports that helps make things much better for everyone so this is really appreciated. Please send more of these our way!

Note that because of the way scancode works, we eventually perform a pairwise diff.
Since we did not had anything exactly matching the rubyzip notice wording:
[code]
This

[2019-10-31 10:42] pombredanne commented on #1802
@CleanHit please see my answers inline:

In the source and binaries that you scan.

It uses only it own local package license database that is builtin and stored in scancode as pairs of text/YAML files https://github.com/nexB/scancode-toolkit/tree/develop/src/licensedcode/data

Yes, this is quite easy: you can add a text file for a license and the description of the licenses as pair of files. See

[2019-11-01 15:10] pombredanne opened #1803 "Detect Alpine Linux APK packages"
### Description
We should collect data from apk Alpine packages (not to be confused with Androir apk)

[2019-11-01 17:54] Iamshankhadeep commented on #1758
@pombredanne can you give me any idea about how to solve it?

[2019-11-01 18:08] pombredanne commented on #1758
@Iamshankhadeep here are steps:
1. try to reproduce the problem in the most minimal way with a command line invocation of scancode as outlined above, trying to find a few files that make this fail
2. once you have a minimally reproducible problem, create a unit test (that is failing for now) that reproduces the problem. Assert the things that should be there in the results.
3. look at the failure

[2019-11-01 23:38] pombredanne opened #1805 "[RFC} Consider adding a new "non-commercial" license category"
### Description
It would be great  to add a new non-commercial license category

There are only a few license that prohibit commercial usage (like the CC NC licenses). There are however a serious restriction for any kind of usage beyond personal home-style usage and this would deserve its own category IMHO as this is typically problematic to reuse both in FOSS and proprietary software.

[2019-11-01 23:39] pombredanne commented on #1805
@DennisClark @leChasseur your input is mucho welcomed

[2019-11-02 00:05] DennisClark commented on #1805
@pombredanne    I need to give this some extended thought, since I am generally quite reluctant to create a new license category.  Isn't there already a "free restricted" ?

[2019-11-02 00:12] DennisClark commented on #1805
@pombredanne   On further reflection I really think we should stick with Free Restricted for licenses that prohibit commercial use but are otherwise free.

[2019-11-02 08:08] AyanSinhaMahapatra commented on #1031
As we discussed in this [comment](https://github.com/nexB/aboutcode/pull/27#discussion_r334833424), this would be great in the sense sample scans would be much more informative about the various Scancode options, given that we have better examples.

Currently, a lot of Scan Examples used to demonstrate scancode capabilities use the ``/samples`` folder as scan input (mentioned that it is distribute

[2019-11-02 08:09] AyanSinhaMahapatra commented on #1286
Made this [comment](https://github.com/nexB/scancode-toolkit/issues/1031#issuecomment-549021457) related to this issue.

[2019-11-02 09:41] filips123 commented on #1778
@pombredanne Repository's README says that PYthon 2 is required? Is this still true? If it is, you should really be fixing this as Python 2.7 EOL is in 2020.

[2019-11-02 16:08] pombredanne opened #1806 "Add new Windows PE tags for licese"
### Description
In this question by @suterma https://opensource.stackexchange.com/a/8874/947  @andxpto points to recent license-related tag addition in Windows assemblies that we do not yet collect in https://github.com/nexB/scancode-toolkit/blob/450205506989607c8361b17e1bce0db63c9923b2/src/packagedcode/win_pe.py#L73

See https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#packagelicensefile

[2019-11-02 16:16] pombredanne commented on #1778
@filips123 good catch!
@Abhishek-Dev09 completed the Python 3 port and we now fully support at least Python 3.6. For now we also still support Python 2.7 so we need to update the README for sure!.
Do you mind to support a pull request? that would be welcomed and very kind of you.

[2019-11-02 16:19] filips123 commented on #1778
@pombredanne So the only need it to add a notice that boh Python 2.7 and 3.6+ are supported? If so, I can create PR. Are there any other places except README where this should be fixed? Also, is 32-bit version of Python still needed?

[2019-11-02 19:26] Abhishek-Dev09 commented on #1778
@filips123 :Scancode supports upto Python 3.6.8 only. Soon we will be add the support Python 3.7+ .

[2019-11-02 19:27] filips123 commented on #1778
@Abhishek-Dev09 Up to 3.6.8 or only 3.6.8? Also, is 64-bit on Windows now supported?

[2019-11-02 19:32] Abhishek-Dev09 commented on #1778
Yes, upto 3.6.8 but 3.6.8(recommended) and 64 bit on window.

[2019-11-02 19:37] filips123 commented on #1778
@Abhishek-Dev09 So 32-bit Python 2.7 and 64-bit Python up to 3.6.8? If so, I can create PR with corrections. Also, what exectly is wrong with 3.7+?

[2019-11-02 19:53] Abhishek-Dev09 commented on #1778
Sorry, we don't support x64 bit https://github.com/nexB/scancode-toolkit/blob/develop/azure-pipelines.yml#L390 . For py 3.7 https://github.com/nexB/scancode-toolkit/issues/1631#issue-462058920

[2019-11-02 19:55] filips123 commented on #1778
Ok, so just 32-bit PYthon from 2.7 up to 3.6.8? I'm currently preparing PR so I will include this in it. And please support 64-bit and Python 3.7+ when possible as those limitations makes quite a lot harder to use ScanCode.

[2019-11-02 20:04] Abhishek-Dev09 commented on #1778
@filips123 : You can test on 64 bit architecture for confirmation and raise a **ticket** of that problem if exists. For now we are working on #1703 ,no need to look for version of Python and then we upgrade python version as well.

[2019-11-02 20:11] filips123 commented on #1778
@pombredanne @Abhishek-Dev09 I created #1807.

[2019-11-02 20:37] Abhishek-Dev09 commented on #1778
@filips123 : @max-te already working on python 3.7 for intbitset https://github.com/inveniosoftware/intbitset/pull/62 and https://github.com/inveniosoftware/intbitset/issues/64

[2019-11-03 22:20] pombredanne commented on #1778
@filips123 Thank you ++... FWIW we are not really supporting 32 bits... or rather this is complicated:
- on Linux, 64 bits is the default and you should be able to  recompile everything for Linux 32 bits alright with a pip install
- on macOS this is a non issue
- on Windows we have a pending issue to support 64 bits and for now only 32 bits Python works (and 32 Bits Python works also on 64 bits wi

[2019-11-04 18:21] pombredanne opened #1808 "Collect deatils from debian packages"
### Description
We need to collect explicitly .deb package details both in their archives, extracted, development and installed forms.

[2019-11-05 05:39] nilihz opened #1809 "MemoryError even trying to scan a empty txt file - ubuntu"
Hi i hit MemoryError even scanning a empty .txt file.

OS: ubuntu linux
scancode version 2.2.1

 ubuntu@ip-172-xx-xx-xx:~/scancode-toolkit-2.2.1$ ./scancode -f json ./empty.txt > result.json
Scanning files for: licenses, copyrights, packages with 1 process(es)...
Building license detection index...Traceback (most recent call last):
  File "/home/ubuntu/scancode-toolkit-2.2.1/bin/scancode", line 11

[2019-11-05 11:29] pombredanne opened #1810 "Add support for binary package references"
### Description
We already track the sources packages of a package. We would need to track the inverse relationship which would be the "binary" or "built" packages from a "source" package (such as a Git repo or an upstream tarball).

See   https://github.com/nexB/scancode-toolkit/blob/450205506989607c8361b17e1bce0db63c9923b2/src/packagedcode/models.py#L465

This would be a new attribute with this

[2019-11-05 11:47] bs-matil opened #1811 "Release links are broken"
### Description
Current releases don't show a correct artifact url.

Additionally, it would be good if the installation page also shows the pip installation guide.

e.g. pip install scancode-toolkit==3.0.2

[2019-11-05 16:17] AyanSinhaMahapatra opened #1813 "Documentation Inconsistencies Tracker"
##  **This Issue is to Track Documentation Inconsistencies in One Place.**

---

## 1. Issues Already Present

- [ ] Migrate Docs From Aboutcode
- [ ] Docs in Wiki Outdated [Add Disclaimer and Links to ReadTheDocs]
- [ ] Update Docs in Pypi Page
- [ ] Update README (mention ``pip install`` and Python 3 support)
- [ ] Check that all Links to Documentation in Various places point to ReadTheDocs

---

[2019-11-05 16:47] AyanSinhaMahapatra opened #1814 "Old Issue Template"
The page https://github.com/nexB/scancode-toolkit/blob/develop/ISSUE_TEMPLATE.md shows the following warning

The [Learn More Link](https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates) says

This is also valid for other [community checklist items](https://github.com/nexB/scancode-toolkit/community) that are currently unchecked, though they are prese

[2019-11-05 16:48] AyanSinhaMahapatra commented on #1814
I'll go ahead and solve these? @pombredanne

[2019-11-05 17:11] pombredanne commented on #1811
@bs-matil Sorry for the inconvenience! You wrote:

Can you leaborate a bit? Which URL is not shown in which place?

Good point. We are working on a new release so that definitely something to add!

[2019-11-05 17:47] pombredanne commented on #1809
@nilihz sorry for that!
How much memory do you have on this machine? We have  some minimum requirements and the first run creates the license detection index which likely uses  a tad more memory too.
Also ScanCode 2.2.1 is a very old version.... could you try instead the latest 3.1.1 https://github.com/nexB/scancode-toolkit/releases/tag/v3.1.1 ?

[2019-11-05 17:52] pombredanne opened #1815 "Put release archives on a diet"
### Description
The 3.1.1 RC2 release archives are about 180MB. The reasons:

1. a plugins directory that should not be included and should be moved outside the repo
2. two versions of each native third-party: one for Python 2 and one for Python 3

We should go on a diet and could consider:
1. do not include the plugins
2. create differentiated smaller archives for each OS and Python version (e.g.

[2019-11-05 17:53] pombredanne commented on #1814
@AyanSinhaMahapatra thank you for catching this: please go for it!

[2019-11-05 17:58] pombredanne commented on #1802
@CleanHit ping?

[2019-11-05 22:20] pombredanne opened #1816 "Detect https://software.reuse new copyright syntax"
### Description
See https://github.com/fsfe/reuse-tool/blob/4fe435ad269e26df38d4c6a5abc4747908dac8cc/src/reuse/_comment.py#L2 in the form of:
[code]

[2019-11-06 02:38] nilihz commented on #1809
v3.1.1 works! Thanks!
I was running AWS EC2 with free tier 1GB ram. Ubuntu v18 might be the problem. But anyway, v3.1.1 works.

[2019-11-07 09:47] bs-matil commented on #1811
e.g. Release https://github.com/nexB/scancode-toolkit/releases/tag/v3.0.2 links in the bottom show 1.0.o

[2019-11-07 09:49] sschuberth opened #1817 "Configuring with Python 3.7 fails due to no matching distribution found for future>=0.16.0"
### Description

I'm trying to configure ScanCode (current `develop` branch) with Python 3.7 as part of my work on an [Alpine-based Docker image](https://github.com/sschuberth/docker-files/tree/alpine-miniconda3). However, running `./configure` fails with

[code]

Can this be because the is no `future-*py3*` file in `thirdparty/`?

### System configuration

For bug reports, it really helps us to k

[2019-11-07 12:28] pombredanne opened #1820 "Add support for symfony.lock"
### Description
See https://github.com/debricked/debricked-cli/blob/master/symfony.lock
This likely is the same as a composer.lock

[2019-11-07 18:44] AyanSinhaMahapatra commented on #1817
Encountered the same ERROR.

[2019-11-07 19:17] Abhishek-Dev09 commented on #1817
@sschuberth : I have solved that #1819 to support py 3.7 . Don't worry i working on it. FYI , we support upto python 3.6.8 . You need to install with python 3.6.8

[2019-11-07 19:29] sschuberth commented on #1817
Oh, I wasn't aware that there's such a big difference between Python 3.6.8 and 3.7.x that requires changes to dependencies. Anyway, thanks @Abhishek-Dev09 for working on it!

[2019-11-08 09:43] hakandilek commented on #295
Is this working or documented somewhere how to get scancode running on Python3?

I've tried running it within Docker (`python:3.8.0-slim-buster`)and get this following error:

[code]

BTW, it runs just fine in image `python:2.7.17-slim-buster`

[2019-11-08 09:53] Abhishek-Dev09 commented on #295
@hakandilek : Try with python 3.6.8. Till now we support upto python 3.6.8. And we are working on Python 3.7 and Python 3.8

[2019-11-08 11:45] hakandilek commented on #295
Thanks @Abhishek-Dev09

I've tried with `python:3.6.9-slim-buster` and it did work.

[2019-11-08 19:12] JonoYang opened #1821 "consolidation plugin crashes with ZeroDivisionError exception"
The consolidation plugin crashed with a ZeroDivisionError when scanning some private code. This is related to the line of code: https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/plugin_consolidate.py#L368

I will have to check to see what exactly was scanned that triggered this, but I can put a check to see if the file count is zero before using it for division.

[2019-11-08 23:43] JonoYang opened #1822 "Show consolidation results in CSV output"
I'm not sure what the best way is to show the consolidation results in a CSV format, but I think this would be useful for audits

[2019-11-10 20:52] AyanSinhaMahapatra opened #1824 "ScanCode Toolkit Documentation Roadmap"
## GSoD 2019

- [x] Distribute Docs and Requirements with ScanCode
- [ ] Migrate Docs From Aboutcode
- [ ] Getting Started for Newcomers
- [ ] Cookiecutter Plugin + Docs
- [ ] JSON Model (Autodoc)

## Roadmap Forward

- [ ] API (Importing ScanCode and using API to Scan) #1780

[2019-11-10 21:29] AyanSinhaMahapatra opened #1825 "All Good First Issues List"
## What are Good First Issues?

A [good first issue](https://github.com/nexB/scancode-toolkit/labels/good%20first%20issue) means it's recommended for people who **haven't contributed to our codebase before**.

## Short Step by Step Guide

- Maintainers label Good First Issues and Update Here
- Browse Issues
- Claim an Issue
- Maintainer Assigns you to That Issue
- Create an Issue using [this forma

[2019-11-10 21:31] AyanSinhaMahapatra opened #1826 "First Timers Only Issues List"
## What are First Timers Only Issues?

A [first timers only](https://github.com/nexB/scancode-toolkit/labels/first%20timers%20only) issue means it's recommended for people who **haven't contributed to our codebase before**.

## Short Step by Step Guide

- Browse [Documentation Inconsistencies]()
- Claim an Issue by Commenting Below
- Maintainer Assigns you to That Issue
- Create an Issue using [th

[2019-11-11 16:59] majurg commented on #1690
#1823 merged. Closing this.

[2019-11-11 16:59] #1690 closed

[2019-11-12 11:38] pombredanne commented on #1798
Based on a quick check:
[code]

So these should be extracted alright and gunzip does it fine.

[2019-11-14 13:32] yashagarwal1999 commented on #595
is this issue still open? If it is can I work on it?

[2019-11-14 14:02] pombredanne opened #1831 "Add support for qt_attribution.json files"
### Description
These are structured package-like manifests that describe many packages licensing
See https://wiki.qt.io/Qt_attribution.json and http://quips-qt-io.herokuapp.com/quip-0007.html by @kkoehne :

These are essentially similar to ABOUT files

Some examples and links:
- https://github.com/qt/qttools/tree/dev/src/qtattributionsscanner
- https://fossies.org/linux/qt-everywhere/qtbase/src/3

[2019-11-18 09:58] pombredanne commented on #1746
Actually having a quick look,https://github.com/leovoel/BeautifulDiscord/blob/master/beautifuldiscord/asar.pyand  https://github.com/AS1337/asarPy seem all to be derived from the older https://github.com/Photonios/pyasar

The WTPFL license is not great as a license though so I asked @Photonios for a possible change at https://github.com/Photonios/pyasar/issues/3

[2019-11-18 15:25] mjherzog commented on #1746
Are we at a point where we can use a Python 3 only solution?

[2019-11-18 15:29] pombredanne opened #1833 "Cannot install v3.1.1 release candidate from Pypi on Python2"
### Description
That version was built on Python 3 and requires Python 3.6 or higher.

`Requires-Python: >=3.6` is in the generated metadata

[2019-11-18 16:01] pombredanne commented on #1746
@mjherzog re

I would not go there fully yet.

[2019-11-19 15:40] CleanHit commented on #1802
I'm scanning the source code repo and there are some manifest files in it. But I'm using the [oss-review-toolkit](https://github.com/heremaps/oss-review-toolkit) and the `scancode-toolkit` can be used there.

[2019-11-19 16:58] pombredanne commented on #1802
@CleanHit you need to help me help you: which type of manifests were not detected?
Please provide enough details so that we can act on it.

[2019-11-19 20:51] AyanSinhaMahapatra opened #1837 "[Setup] Commonly encountered Errors while Setting Up"
Welcome! While setting up Scancode-Toolkit for the first time, users can encounter errors, but if common mistakes are avoided, we can get past many of the common roadblocks that first-time contributors encounter!

See this [page](https://scancode-toolkit.readthedocs.io/en/latest/index.html) to get started.

You can:

- Add the issues you encountered and solved later, for other people.
- Add new Er

[2019-11-19 20:54] AyanSinhaMahapatra commented on #1837
@pombredanne there's this pinned issue in Publiclab https://github.com/publiclab/plots2/issues/3840 and I also noticed a lot of people asking about errors (often the same type of errors) they encountered while setting up scancode in Gitter Chat, and since this issue.

[2019-11-19 23:40] AyanSinhaMahapatra commented on #1570
@pombredanne Since we are already tracking the outdated wiki problem [here](https://github.com/nexB/scancode-toolkit/issues/1813) should we close this issue and [this other issue](https://github.com/nexB/scancode-toolkit/issues/1475)?

[2019-11-19 23:43] AyanSinhaMahapatra commented on #1287
@pombredanne This should be closed now?

[2019-11-20 14:42] furuholm opened #1838 "Proposal for avoiding false positives"
I have come across several instances of matches that a human easily can determine is wrong, but I can totally get why the matching algorithm considers a hit. I have included a couple of examples from https://github.com/x-stream/xstream

**Example 1:**

The text
[code]

Matches `cpal-1.0_11.RULE` (score 90)
[code]

The texts are very similar, but since `CPAL` is not mentioned in the text (wheras `B

[2019-11-20 17:02] pombredanne commented on #1838
@furuholm thank you for this detailed ticket.
Eventually the scancode license detection does a pair-wise diff so this can effectively catch things that are similar texts that differ only by a few words, and that's both the strength and weakness of the approach. (I like of it only as a strength since it can catch things it does not know about).

You wrote:

We could do that, in fact we have a list

[2019-11-20 19:14] pombredanne commented on #1837
@AyanSinhaMahapatra Thanks! I pinned this issue as suggested

[2019-11-20 19:17] pombredanne commented on #1838
@furuholm I am tempted to qualify this is as a bug rather than an enhancement request. What do you think?

[2019-11-20 20:05] furuholm commented on #1838
Thanks for the quick response @pombredanne!

There is a lot to unpack in your answer, and I am not familiar enough with the ScanCode codebase to understand all aspects, but from what I understand from your answer your suggestions are focused on how to get more accurate results. I don't see how these would target false positives. The CPAL example is the best I since there is so much matching text.

[2019-11-20 20:44] AyanSinhaMahapatra commented on #811
Since this [page](https://aboutcode.readthedocs.io/en/latest/scancode-toolkit/tutorials/how_to_visualize_scan_results.html) was added and the new getting started section has links to this page and then to ScanCode Workbench, should this be closed?

[2019-11-20 22:41] pombredanne commented on #1838
Quite simply if we have a detected rule such as:
[code]
... the rule "knows" that there is a `LICENSE.txt` filename that is referenced in its data file: https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/cpal-1.0_11.yml#L4

The plan with #1379 is to find that `LICENSE.txt` file in the scan and use its detected license to update the match/do something. In this case, h

[2019-11-20 22:49] majurg commented on #1287
Closing this

[2019-11-20 22:49] #1287 closed

[2019-11-20 22:54] majurg commented on #1570
This is being tracked here: https://github.com/nexB/scancode-toolkit/issues/1813

Closing this.

[2019-11-20 22:54] #1570 closed

[2019-11-20 22:56] majurg commented on #1475
This is being tracked here: #1813

Closing this.

[2019-11-20 22:56] #1475 closed

[2019-11-20 22:58] majurg commented on #1157
#1261 Merged, closing this.

[2019-11-20 22:58] #1157 closed

[2019-11-20 23:13] majurg commented on #1031
@AyanSinhaMahapatra We do have this repository: https://github.com/nexB/aboutcode-example-code

We could re-name this or create a new repo with similar structure. There are some packages in there that could be re-used for the new samples directory.

[2019-11-20 23:16] majurg commented on #811
https://aboutcode.readthedocs.io/en/latest/scancode-toolkit/tutorials/how_to_visualize_scan_results.html contains updated scancode-workbench screenshots.

Closing this.

[2019-11-20 23:16] #811 closed

[2019-11-21 18:06] tdruez opened #1841 "gpl-2.0 wrongly detected in a single mit notice line"
### Description
The `gpl-2.0` license is matched in the following line:
`"- License: [MIT License](http://opensource.org/licenses/MIT)"`
See bellow for the full data output.

### System configuration
* Ubuntu 16.04
* ScanCode version 3.1.2-92102c8c0

### Output

[code]

[2019-11-21 18:28] AyanSinhaMahapatra commented on #1146
@pombredanne This task list can also be updated, only this is remaining. All other issues are closed.

[2019-11-22 16:49] krutztq opened #1842 "add new rule - using wildcard for similar headers"
### Description
Is it possible to create a rule with some kind of wildcard to handle license references?

Let's say we have a lot of files which all have a similar header, like:
`/*`
`* <various comments>`
` * Copyright (c) 1999, Company XYZ`
` * All rights reserved. For further information see LICENSE file.`
` * <various authors>`
`*/`
`REST_OF_FILE`

Is is possible to add one rule for the use ca

[2019-11-22 17:26] JonoYang opened #1843 "Merge two scans of the same codebase using --from-json"
This may be a useful thing. Take for example that we have one info scan of a codebase and one package scan of the same codebase, this new function would merge the results of the two scans into one, where the info and package info for a resource in the codebase is combined.

[2019-11-22 22:12] JonoYang opened #1844 "Consider ignoring OS-specific ignorable files when creating a Codebase"
It may benefit us to skip the creation of these files (e.g. https://github.com/nexB/scancode-toolkit/blob/7f0e3c57a8de0ea34385821d920455862e26aa65/src/commoncode/ignore.py#L85) when we create a codebase

[2019-11-23 00:16] pombredanne commented on #1842
@krutztq eventually license detection use a full diff, and does not use regex or globs so there are no wild cards (there used to be more or less something like wild cards in early versions, but that was not really useful nor efficient) so it was dropped quickly).

That said in your example, I would assume that what you want to capture/not capture may be:
- not captured: `* <various comments>`
- ca

[2019-11-25 14:35] krutztq commented on #1842
Ok, I see. But why `license_expression: unknown-license-reference`? Isn't it a reference I do know?
Thanks for the quick reply.

[2019-11-25 16:38] Angi2412 opened #1845 "interrupt while scanning with python cli"
### Description
Sometimes when i scan certain packages e.g. openssl source code i get following error:

i use the following cli command via python to scan:
[code]
where "path" is the path of the source code folder.
Unfortunately does scancode not provide part results - instead it gets stuck when the exception occours.
### System configuration
For bug reports, it really helps us to know:
* What OS

[2019-11-25 18:34] pombredanne commented on #1842
@krutztq

In the general case, `For further information see LICENSE file.` is not something that's specific to one license (so much so that I starting adding new rules for that and several variations).

This:
[code]

could make this more  specific, if this were always pointing to a specific license. This could work if this is private code and a private detection rule. (From what I can see in publi

[2019-11-25 18:37] pombredanne commented on #1842
Note that its perfectly OK to have proprietary licenses in the public scancode-toolkit too...
And not being too righteous, but `For further information see LICENSE file.` is best avoided if you have control on that code... Inlining a notice would be best  rather than a file reference (and even better is using an SPDX license expression and/or the http://reuse.software conventions)

[2019-11-25 18:57] #1814 closed

[2019-11-26 09:31] pombredanne commented on #1845
@Angi2412 Thank you for this detailed report!

Is this happening all the times? Do you have a URL for a public package where this happened?
What are the specs of your machine (CPU, RAM)?

Would you have a more complete or full stack trace available?

Note that this kind of things are sometimes hard to debug: one way to simplify the problem is to disable multiprocessing and multithreading entirely

[2019-11-26 09:58] pombredanne commented on #1845
Actually your timeout is 360,000 seconds... meaning 100 hours.

[2019-11-26 10:18] Angi2412 commented on #1845
@pombredanne Thank you for your fast response.

No, it does not happen all the time, only with certain archives - but with these all the time.

I don't think so - but I will take a look.

It's a mobile eight-generation i7 with 16gb of ram in a dell notebook

I will try your suggested command on Friday at work. Then I will provide a full stack trace.

I only set the timeout that high, that there wo

[2019-11-26 12:04] krutztq commented on #1842
I am using your proposal with private detection rules, this works fine for my use case. I see the advantage of a license notice and will it discuss in my team. Thanks for the declaration!

[2019-11-26 12:04] #1842 closed

[2019-11-26 12:23] krutztq opened #1846 "problem with cached rules after changing a rule"
### Description
If I add/update/delete a rule, scancode is somehow caching the old ones. I tried deleting ~/.cache/scancode-tk and drop the cache (/proc/sys/vm/drop_cache), unsuccessfully.
How can the cached data be updated or be ignored?

### How To Reproduce
- run a scan
- add/update/delete a rule
- run the same scan, again
- scancode does not know the changes in the rules

### System configurat

[2019-11-26 14:38] pombredanne commented on #1846
The short story:
============
Use this
- add/update/delete a rule
- run `scancode --reindex-licenses`
- run the same scan, again

The long story:
===========
There are two modes that drive license cache handling: the regular "user" mode and the "development" mode.

- In "development" mode, (typically from a git checkout), you typically start by calling first `./configure`. This will create an empt

[2019-11-26 15:05] krutztq commented on #1846
Thanks, again :-)

[2019-11-26 15:05] #1846 closed

[2019-11-27 06:10] ummer9987 commented on #1751
@pombredanne @JonoYang We were able to develop the plugin it is working in our environment. Currently we have hard coded the set of keywords in plugin itself since we only have a limited number of keywords to be searched. It is possible to add set of keywords along with the command line options. Is it possible to add the plugin in the next release.
[scancode_keyword_plugin_code.zip](https://github

[2019-11-27 22:23] pombredanne commented on #1751
@ummer9987 Thank you! this is great! It is a tad uncommon to have a zip but it can be worked out if you are not familiar with git.

I would still need a formal sign-off per https://developercertificate.org/ (e.g. like `Signed-off-by: Philippe Ombredanne <pombredanne@nexb.com>` but with your name and email) ... can you paste that in a message here?

[2019-11-27 22:23] pombredanne commented on #1751
What I will do is craft a PR from this so we can review it there.

[2019-11-29 10:55] Angi2412 commented on #1845
@pombredanne
I tried your suggested command. Then scancode stopped when it should scan a .tar file (see screenshot).
![debug console](https://user-images.githubusercontent.com/11177877/69864334-f43d1d00-129e-11ea-8596-43fd255df71d.png)

But this .tar file wasn't supposed to be there - because of this i found out, that our extraction script had a bug. I fixed the bug - now all archives are extracte

[2019-11-29 14:25] pombredanne commented on #1845
@Angi2412 Thank you for following up!

You can use 0 instead to disable any timeout. But did you have issues with timeouts to set such a high one? Generally you should avoid using a --timeout option except for special cases.

Also using a very long or 0 timeout will effectively make scancode wait forever until a scans complete for each file, which could be a bug or a very large or a large file wit

[2019-12-02 10:58] furuholm commented on #1838
Seems that there are issues that addresses the the problems I listed in my original report, except for maybe

bsd-new_292.RULE) we should tag their .yml with with a high relevance

If this is the case then maybe we should close this issue? If we find more examples of false positives with similar properties we can always reopen it.

[2019-12-02 14:00] Angi2412 commented on #1845
No, i did not have any issues. Using such a high timeout was just a
preventive action.

It just reported an error on that single file but did not give a resulting json file.

For me the problem does not occur again so far...

The application is still in internal Development. I don't know if it will be available for the public ... if this will be the case, i will inform you

Thanks again, for the f

[2019-12-02 14:00] #1845 closed

[2019-12-02 14:38] pombredanne commented on #1845
@Angi2412 re:

IMHO you will be best leaving this out for now. Having not too long a timeout is a preventive measure so you were effectively defeating that and that would be a good reason for the issue you have faced.

sure thing: any time. And thank you for using Scancode!

[2019-12-02 15:27] pombredanne commented on #1751
@ummer9987 I look at the code and there seems to be two different searches (legal and keys)?
also the things being searched cannot be provided at the command line so it may be hard to use in practice. Is that your intent? Can you comment a bit?

[2019-12-03 10:56] pombredanne opened #1848 "Invalid gpl-2.0-only license key returned"
gpl-2.0-only is not a valid license key but can somehow be returned in a few rare cases by this code https://github.com/nexB/scancode-toolkit/blob/f1bea6a4ad29be132f7316b32957aaa0e7ac77d0/src/licensedcode/match_spdx_lid.py#L204

[2019-12-03 15:39] pombredanne commented on #1848
Actually this is a fluke. This is working but was not properly tested. I pushed a test and updated code comments

[2019-12-03 15:39] #1848 closed

[2019-12-04 09:31] ChinnuJose commented on #1751
We have 2 type of search Legal & IPR, which could be defined through command line. And currently we have hard coded the keywords to be searched. But we also have to modify this in a way that the keywords to be given through command line. is it possible for you to make such changes in the code & include in next release? or do we have to modify the code to give the keywords through command line

[2019-12-04 19:46] DennisClark opened #1849 "Update scancode-toolkit github pages with new documentation links"
It's time to let visitors to https://github.com/nexB/scancode-toolkit to know about the latest documentation at https://scancode-toolkit.readthedocs.io/en/latest/

Please add a sentence under the first paragraph of https://github.com/nexB/scancode-toolkit#scancode-toolkit  to say

`Read more about ScanCode here:  https://scancode-toolkit.readthedocs.io/en/latest/ `

Please update each redundant wi

[2019-12-05 18:39] JonoYang opened #1850 "Parse composer.lock files"
It would be nice to be able to get info from these files during a scan

[2019-12-05 20:42] AyanSinhaMahapatra commented on #1849
To sum up from our discussion in the [gitter chat](https://gitter.im/aboutcode-org/gsod-season-of-docs) -

- We are keeping all the wiki pages.
- Different links at different wiki pages, to their corresponding/closest resembling page in the RTD documentation, like the wiki page for comprehensive installation should point to the RTD install page. - A link to the main RTD page should also be there a

[2019-12-05 20:44] AyanSinhaMahapatra commented on #1849
@DennisClark If [this Home Page](https://github.com/nexB/scancode-toolkit/wiki) looks fine, I'll go ahead and do the same in all the other pages.

[2019-12-05 20:48] AyanSinhaMahapatra commented on #1146
@pombredanne I updated the task list.

[2019-12-05 21:34] AyanSinhaMahapatra commented on #1849
This PR #1851 adds [this commit](https://github.com/nexB/scancode-toolkit/pull/1851/commits/245e4abfe0715459d62d70e03c3e1783f8c29af1) to add the line you suggested in README.

[2019-12-06 01:53] JonoYang opened #1853 "Parse package-lock.json"
Like in #1850, it would be convenient to get info from package-lock.json files during a scan.

[2019-12-06 10:44] pombredanne commented on #1853
yes, and also the less common npm-shrinkwrap.json and more... This is a dupe of #1220

[2019-12-06 10:44] #1853 closed

[2019-12-06 11:22] AyanSinhaMahapatra commented on #1849
Wiki updated -

- [x] Home
- [x] Comprehensive Installation
- [x] Development
- [x] Documentation
- [x] FAQ
- [ ] Google Summer of Code 2019
- [ ] How To: Add a post scan plugin
- [ ] How to: Add new license rules for enhanced detection
- [ ] How To: Extract archives
- [ ] How To: Format scan output
- [ ] How To: Run a scan
- [ ] How To: Set what will be detected in a scan
- [x] IDE Configuration

[2019-12-06 12:06] pombredanne commented on #1220
@JonoYang ping ... this predates #1853

[2019-12-06 14:56] pombredanne opened #1854 "Do not build documentation on every CI run"
### Description

Today the doc is built in the CI on every OS. We need no such thing: it should run on a single host instead which would be enough (one of the Linux only) .

[2019-12-06 22:57] JonoYang opened #1855 "Add version field to DependentPackage model"
This allows us to record both the package version requirement and the resolved package version when parsing lockfiles

[2019-12-07 14:43] AyanSinhaMahapatra commented on #57
@pombredanne Can I go ahead and do this? (I've done citation stuff before) IMHO Zenodo DOI's are indeed a good option, as it will set up a webhook to archive and cite individual releases (third-party access to zenodo has to be given), and we'll have DOI numbers (basically unique identifiers for citing) for them which will make the citation process simpler and better. Then I'll add relevant documen

[2019-12-09 17:31] #1854 closed

[2019-12-11 09:08] pombredanne commented on #1849
that's great. Thanks!

[2019-12-11 09:15] pombredanne commented on #57
@AyanSinhaMahapatra  please do! thanks

[2019-12-11 16:58] hahasuperking commented on #1816
@pombredanne  Can you please assign the ticket to me?

[2019-12-11 22:56] johnmhoran opened #1858 ""Contributors" portion of copyright not detected"
Working on Windows 10 with the current `develop` branch, a scan of [libzmq-4.3.2](https://github.com/zeromq/libzmq/tree/v4.3.2) did not detect the portion of a series of copyrights that starts with the term "Contributors".  For example, in `/src/` we have:

[code]

[2019-12-12 15:57] aj4ayushjain commented on #1615
This not an issue anymore with the debian package.
It was just an intermediate issue while creation of the package.

[2019-12-12 15:57] #1615 closed

[2019-12-13 05:15] inishchith commented on #1759
@pombredanne Please let me know if I can work on this.

Thanks!

[2019-12-13 11:56] pombredanne commented on #1759
@inishchith please go for it: thanks! You may need to sync up with @JonoYang that is working in the same area too

[2019-12-13 15:19] inishchith commented on #1759
@pombredanne @AyanSinhaMahapatra Do we have an implementation of package summarizer or is it being worked on?

[2019-12-13 18:57] inishchith commented on #1759
@JonoYang Any pointers on what work is done until now?
I could reproduce the error, but I'm finding it difficult to understand reason for the `KeyError`

[2019-12-16 18:24] JonoYang commented on #1759
@inishchith If you look in the error message, there is a filename and line number where the function of what is being called resides in. With this error, the problem is in line 305 of `scancode-toolkit-3.1.1/src/summarycode/summarizer.py`. The key error is occurring because we are not handling packages at all.

https://github.com/nexB/scancode-toolkit/blob/develop/src/summarycode/summarizer.py#L29

[2019-12-17 18:26] inishchith commented on #1759
@JonoYang Thanks for the response.

Yes, I get that.
The part which I didn't get ( because I have just started exploring the tool ) is what should be the result format for the package summary by facet? (an example would really help)

I've currently added a method ( which returns a counter object  like: [summarize_licenses](https://github.com/nexB/scancode-toolkit/blob/develop/src/summarycode/summa

[2019-12-18 00:33] JonoYang commented on #1759
@inishchith I think it would make sense to make something like summarize_licenses (as you pointed to) that returns a mapping of package PURL and the number of instances of that package, i.e `{package_purl: count of occurences}`

[2019-12-18 05:57] inishchith commented on #1759
@JonoYang Don't you think the logic of returning the mapping of package PURL and the number of instances of that package should be a part of `package_summarizer` method, just the like the `license_summarizer`? ( returning something like: `[ {"value": "<purl>", "count": } .. ]` )

The current version of `package_summarizer` seems to return a whole lot of information.
Please do let me know in case I

[2019-12-18 19:35] DennisClark opened #1861 "confluent-community-1.0 reported as proprietary-license"
A recent scan of ksql-5.4.0-rc191218083414.tar.gz from scancode.io returned multiple hits for the very generic `proprietary-license` but none for the `confluent-community-1.0` license, which is a source-available license with a very specific text that should be recognized by scancode-toolkit. Scan results attached.

See https://www.confluent.io/confluent-community-license/

See https://github.com/

[2019-12-18 19:43] pombredanne commented on #1861
@DennisClark good catch ... based on https://github.com/nexB/scancode-toolkit/search?q=Confluent&unscoped_q=Confluent there is indeed a mix of rules pointing to multiple license keys for this one.

[2019-12-18 19:44] pombredanne commented on #1858
Thanks... that should be fixable hopefully. This is really a weird wording though.

[2019-12-19 09:19] inishchith commented on #1759
@AyanSinhaMahapatra I could reproduce this issue on the `v3.1.1 release` and solved it (ref. above). But when I clone this repository in order to suggest a fix.
- **`Error Log`**
[code]
Knowing more on what aspects of the scan have been changed in the due course would help me understand the problem.

Please do have a look.
Thanks!

/cc @pombredanne @JonoYang

[2019-12-19 16:29] pombredanne commented on #1129
This has been fixed so I am closing short of other feedback. Please reopen if this is still an issue

[2019-12-19 16:29] #1129 closed

[2019-12-19 19:11] DennisClark opened #1862 "Scan of perl5-5.31.6.tar.gz completes with errors"
A recent scan of perl5-5.31.6.tar.gz from https://github.com/Perl/perl5/archive/v5.31.6.tar.gz reported some errors that may want attention.  The scan was initiated using scancode.io and was mostly successful.

Extracting archives...
ERROR extracting: perl5-5.31.6.tar.gz-extract/perl5-5.31.6/cpan/IO-Compress/t/files/encrypt-aes.zip: Password protected archive, unable to extract
ERROR extracting: p

[2019-12-20 00:41] chinyeungli opened #1863 "Problem with large codebase"
### Description

Scancode gives `Timeout Error` when I launched an info scans on a large codebase which consist of more than 1m files.

The last line's error message:
[code]

It seems to be scancode doesn't work very well in a huge codebase.

### How To Reproduce

This is the command that I used
[code]

[2019-12-20 15:11] pombredanne opened #1865 "Consider dropping pdfminer and use XPDF to extract text from PDF"
# Short Description
pdfminer is both slow and has been the source of more than a few issues in the past. Xpdf is C code and os-specific but the pdftotext command may be just enough of what we need:
http://www.xpdfreader.com/download.html

It comes with pre-built command line tools for Linux, Windows  and Mac

## Possible Labels
- new feature

## Select Category
-  Enhancement [x]
-  Add License/Co

[2019-12-20 15:17] pombredanne opened #1866 "Documentation build error"
### Description
See https://travis-ci.org/nexB/scancode-toolkit/jobs/627621941#L552
[code]

[2019-12-20 17:42] AyanSinhaMahapatra commented on #1866
@pombredanne @majurg

Created these 3 PRs,

https://github.com/nexB/scancode-toolkit/pull/1867
https://github.com/nexB/aboutcode/pull/38
https://github.com/nexB/scancode-workbench/pull/419

[2019-12-20 19:10] majurg commented on #1866
@AyanSinhaMahapatra So I took care of https://github.com/nexB/aboutcode/pull/38 and https://github.com/nexB/scancode-workbench/pull/419

Ill leave the merging of #1867 to @pombredanne

[2019-12-20 19:19] AyanSinhaMahapatra commented on #1866
@majurg Thanks!

[2019-12-21 14:53] Gaupeng commented on #1627
Can I have a go at this?
Also, can someone please explain how dump works? After I modify the License Model to include an OSI Key, and update the key, how exactly do I dump/modify the existing licenses?

[2019-12-21 17:28] pombredanne commented on #1627
@Gaupeng re:

Yes and thank you!

Say you add a new attribute called `osi_license_key` then you would do:
[code]
Or you edit by hand each file ... which is likely needed at some level?

[2019-12-21 18:07] Gaupeng commented on #1627
Sorry, I'm an absolute rookie, I figured out how to map the OSI Keys to the existing Scancode keys, however, after updating the License model to have an attribute (osi_license_key):
[code]
 I get an invalid attribute error:
[code]
I'm guessing this is because the existing License objects do not have the osi_license_key attribute, and I'm trying to modify them directly. Any pointers please? @pombre

[2019-12-22 18:30] pombredanne commented on #1627
Can you please start a pull request? We can then review the code together.

[2019-12-25 09:54] inishchith commented on #1855
@JonoYang @pombredanne I'm interested in working on this.
Please let me know if this is being worked on already.

Thanks!

[2019-12-29 23:38] licodeli commented on #1865
Use xpdf binaries as a plugin could be a choice. :)

[2019-12-30 00:21] chinyeungli commented on #850
This has already been implemented in the plugins

[2019-12-30 00:21] #850 closed

[2019-12-30 06:48] chinyeungli opened #1870 "Provide an option in `extractcode` to extract sepecific extension files"
For instance, I would only want to extract `.rpm`, `.zip`, `.tar.gz`, but not `.jar` files.

The current `extractcode` does not have the ability for user to define which files do the user want to extract or ignore from the extraction.

[2019-12-30 07:09] chinyeungli commented on #1168
I believe this is covered in the following `--elf` plugin
[code]

[2019-12-30 07:09] #1168 closed

[2019-12-30 07:11] chinyeungli commented on #1165
This has already been covered
[code]

[2019-12-30 07:11] #1165 closed

[2019-12-30 14:20] pombredanne commented on #1855
@inishchith thank you ++ for the PR: it is thorough and you understand the codebase very well!
Let's discuss a bit the specific needs a bit.
@JonoYang what is your use case? Would it be instead something that is integrated in an updated purl for a dependency?

[2019-12-31 07:01] inishchith commented on #1855
@pombredanne re:

Let's discuss a bit the specific needs a bit.

Sure!

[2020-01-02 08:50] #1866 closed

[2020-01-02 12:44] adityaviki commented on #1865
@pombredanne
Do you want to completely remove pdfminer or just the text extraction part?
pdfminer is also being used to check for encrypted pdfs and xpdf doesn't allow us to do that.

[2020-01-02 17:44] pombredanne commented on #1865
@adityaviki checking for encrypted pdf is not super important. So I would be fine to drop it

[2020-01-02 17:52] pombredanne commented on #867
@camillem and at last https://github.com/pypa/virtualenv/issues/457 has been fixed upstream by @gaborbernat so we should have this land in scancode pretty soon!

[2020-01-02 17:53] camillem commented on #867
And that's brilliant news to start the new year with :-) Thanks !

[2020-01-02 18:15] gaborbernat commented on #867
We'll release it via 20.0.0 (see https://github.com/pypa/virtualenv/milestone/7), so look out for that, my hope is by end of month.

[2020-01-02 18:29] pombredanne commented on #867
@gaborbernat thank you ++
You rock and virtualenv is a life saver!

[2020-01-03 03:23] adityaviki commented on #1865
@pombredanne won't we need to check for encrypted pdfs before extracting the text to show proper output of the scan? otherwise scancode will try to directly extract the pdfs and fail without any warning or error.

[2020-01-06 12:00] sbs2001 commented on #1798
Repaste from gitter
My archive manager is GNOME's File Roller

[2020-01-07 14:53] pombredanne opened #1872 "Failure to collect matched license text in some rare case with unicode"
### Description

When scanning this file https://github.com/go-gitea/gitea/blob/v1.10.2/public/vendor/plugins/pdfjs/web/locale/az/viewer.properties
with these options: `--license --license-text` the scan fails.

The failure happens exactly here:
https://github.com/nexB/scancode-toolkit/blob/b564c32fe116d9a26a4ca09b6b7ea551da60f85c/src/licensedcode/match.py#L1446
because of this weird Unicode thing

[2020-01-07 15:07] pombredanne commented on #1872
the gist of the issue is that an uppercase string without punctuation characters may contain a punctuation once lowercased

[2020-01-07 18:29] jonassmedegaard commented on #1872
Why lowercase?

If purpose of lowercasing is to normalize - i.e. to reach a form where possible to reliably compare agnostic to variation in representation of each character, then my understanding is that the the proper unicode form for that is foldcase: https://www.w3.org/International/wiki/Case_folding

[2020-01-07 19:01] jonassmedegaard commented on #1872
...but (depending on what exactly it is you want to do) it seems the Python "foldcase" function "cannot pass the Turkey Test" - as discussed (including a solution - which may or may not address the issue you are having here): https://stackoverflow.com/questions/40348174/should-i-use-python-casefold

[2020-01-07 20:20] pombredanne commented on #1872
@jonassmedegaard the purpose of lowecasing here is indeed casefolding. And casefolding is indeed what happens. But that's not a Python bug after all, this is instead a standard behavior for Unicode in this specific case of Turkish characters. The sequence of events in the scancode side:
1. to find licenses the scanned text (a.k.a. the "query") is broken into words and lowercased. All punctuation e

[2020-01-08 04:19] inishchith commented on #1855
@JonoYang Ping

[2020-01-08 07:13] inishchith commented on #1872
@pombredanne I tried to reproduce the issue, found out that the scan succeeds and extracted the license text correctly. ( output below ).

[code]

Please let me know if I got something wrong.

Thanks!

[2020-01-08 09:10] pombredanne commented on #1872
@inishchith You did not get anything wrong: the file at https://raw.githubusercontent.com/go-gitea/gitea/e88d67b774ae615208b25133c299f2d50b3a018b/public/vendor/plugins/pdfjs/web/locale/az/viewer.properties scans alright on Python 2 and fails on Python 3:

      ]

I have a fix that I will commit shortly.

[2020-01-08 09:14] pombredanne commented on #1872
@inishchith and BTW thank you ++ for taking the time to run a test there ! :bowing_man:

[2020-01-08 09:17] inishchith commented on #1872
@pombredanne you're welcome ;)

[2020-01-08 10:57] akshatcx commented on #487
Hi @pombredanne
Wanted to check the status of this issue. I was really keen on working on it as my GSOC 2020 project. Moreover, would you think it is a good idea to maybe develop a python API for scancode as well so that the users can simply do `pip install scancode` to use this.

[2020-01-08 14:38] nishakm opened #1873 "Strange error statement: Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.\n"
### Description
I ran a scan on what looks like a minimized Debian filesystem (I got it from a Docker container):
`scancode -lpcu --quiet --json - /path/to/filesystem`
Before it spits out the giant json object it gives this message:
`Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.\n`

When running without `--quiet` I get this message:
[code]
I don't see any issu

[2020-01-08 14:44] nishakm commented on #1873
Copyright files attached:
[gpgv_copyright.txt](https://github.com/nexB/scancode-toolkit/files/4035782/gpgv_copyright.txt)
[libgcrypto20_copyright.txt](https://github.com/nexB/scancode-toolkit/files/4035783/libgcrypto20_copyright.txt)

[2020-01-08 14:50] pombredanne commented on #1872
BTW this issue seems well known as  "The Turkish-I Problem" See:

- https://blog.codinghorror.com/whats-wrong-with-turkey/
- https://docs.microsoft.com/en-us/previous-versions/dotnet/articles/ms973919(v=msdn.10)?redirectedfrom=MSDN#the-motivation-the-turkish-i-problem
- https://en.wikipedia.org/wiki/Dotted_and_dotless_I#In_computing

[2020-01-08 19:27] pombredanne commented on #1873
@nishakm Thanks! that's a bug alright but I cannot reproduce it for now on the head of develop.
I will check it more and get a fix in tomorrow if it needs one.  But can you tell which version of Python you run?

[2020-01-08 21:32] nishakm commented on #1873
@pombredanne Of course! It's Python 3.7 in a virtual environment. I'll add that to the issue description.

[2020-01-08 21:42] nishakm commented on #1873
@pombredanne Confirmed - I don't see the error when running scancode at the the head of develop. I believe 3.1.1 is the latest pip release?

[2020-01-08 21:45] mjherzog opened #1874 "Promote Python 3.6 to primary platform (vs Python 2.7)"
### Description
The installation documentation currently references a choice of Python 2.7 or 3.6, but most of the specific steps reference Python v2.7. Shouldn't the primary use case now be Python 3.6 since Python 2.7 is EOL as of the new year.

### Link to Documentation Pages

https://github.com/nexB/scancode-toolkit/docs/source/getting-started/install.rst
https://scancode-toolkit.readthedocs.io

[2020-01-08 22:22] pombredanne commented on #1873
@nishakm re:

Thank you for testing! yes, 3.1.1 is the latest @ PyPI and we are working on a new release ATM.

[2020-01-09 07:45] sschuberth opened #1875 "Running v3.1.1 fails with "cannot import name RPM""
### Description

Running `scancode --version` for v3.1.1 on Windows yields:

[code]

### How To Reproduce

I'm building ScanCode from Git sources on Windows. I was on tag `v3.0.2` (which works fine on Windows) and then switched to tag `v3.1.1`:

    $ git checkout v3.1.1
    $ ./configure --clean
    $ ./configure
    $ ./scancode --version

### System configuration

* What OS are you running on?

[2020-01-09 08:31] sschuberth opened #1876 "Scanning a path with "%" fails on Windows"
### Description

At least with ScanCode 3.0.2, scanning a path that contains "%" (the percent character) fails on Windows:

[code]

Note the `%40xtuc` in the input path vs. `0xtuc` in the error message.

Background: To guard against characters that are invalid / special on some file systems, [ORT](https://github.com/heremaps/oss-review-toolkit) percent-encodes charaters like `@` when downloading s

[2020-01-09 08:32] sschuberth commented on #1876
Possibly related ScanCode issues: https://github.com/nexB/scancode-toolkit/issues/442, https://github.com/nexB/scancode-toolkit/issues/542

[2020-01-09 12:11] pombredanne commented on #1875
@sschuberth I am not sure we ever tested Windows 10 x64 with Git Bash...
Do you have the same issue from a plain command prompt as oppsoed to running gitbash (which is really Cygwin and is therefore a completely different beast than Windows... something like a crossover of POSIX and Windows)

[2020-01-09 12:33] sschuberth commented on #1875
It indeed works when configuring ScanCode from *cmd* instead of *Git Bash*, i.e. when using `configure.bat` instead of `configure.sh` on Windows. As a quick work-around, how about issuing a warning and aborting `configure.sh` if the `OS` environment variable it set to `Windows_NT`?

[2020-01-10 04:53] akshatcx commented on #487
Hi @pombredanne

Is there more work required on this front or this project has been wrapped up?

[2020-01-10 07:05] pombredanne commented on #487
@akshatcx ... @aj4ayushjain has been working on it ... Ayush what's the status on your side? How could  Akshat help there?

[2020-01-11 04:17] AyanSinhaMahapatra commented on #1874
I'm working on this. Thanks.

[2020-01-11 15:40] pombredanne commented on #1820
This is a composer.lock-like file with locked dependencies. Some pointers:
- https://symfony.com/doc/current/setup/flex.html#how-does-flex-work
- https://github.com/symfony/flex/search?q=%22symfony.lock%22&unscoped_q=%22symfony.lock%22
This may be similar to the composer.lock? Some research needed

[2020-01-11 15:40] pombredanne commented on #1820
@sbs2001 ping ^

[2020-01-12 04:18] sbs2001 commented on #1820
symfony.lock is lock file for just the symfony stuff. It is same as composer.lock but doesn't contain non-symfony stuff.

[2020-01-13 19:32] JonoYang commented on #1850
This has been merged into develop.

[2020-01-13 19:32] #1850 closed

[2020-01-13 19:53] JonoYang commented on #1821
This is no longer relevant since we are creating consolidations for anything with a holder detected in it.

[2020-01-13 19:53] #1821 closed

[2020-01-13 20:00] JonoYang commented on #1678
Closing, as we now can parse a few build files in develop.

[2020-01-13 20:00] #1678 closed

[2020-01-14 02:06] JonoYang commented on #1220
We have added support for parsing package-lock.json, npm-shrinkwrap.json, and yarn.lock into develop. Closing.

[2020-01-14 02:06] #1220 closed

[2020-01-15 18:30] aj4ayushjain commented on #487
@pombredanne @akshatcx
I have done the debian(unofficial)package -scancode tool in python2 along with docker image.
So u can help me out with these things:-

1.There is major roadBlock  which need's to be sorted to ease packaging and further issues (naming of the python plugins).
2. If u know about official rules and regulations of debian u can help me getting an official debian package or might b

[2020-01-15 21:44] akshatcx commented on #487
@pombredanne @aj4ayushjain
Sure I would be glad to work on that. Can we maybe discuss this in detail over something like slack?
Meanwhile @pombredanne , is there a particular area of focus where I can start helping out to gain familiarity with the scancode codebase

[2020-01-15 22:05] Abhishek-Dev09 commented on #487
@akshatcx
We don't use slack , we are  on gitter. You can discuss here [here](https://gitter.im/aboutcode-org/discuss) . First you need to use it to get familiar to know how it works.

[2020-01-16 08:25] Addisco commented on #1523
Just wanted to point out that NuGet introduced a [`<license>`](https://docs.microsoft.com/en-us/nuget/reference/nuspec#license) field that specifies the SPDX license expression of the license.
So in addition to the license URLs this should also be used.

[2020-01-16 11:05] jayfk opened #1879 "Improve package url derived from ABOUT files"
### Description

The output of a `scancode --package` scan on `ABOUT` files could be improved by using additional metadata the `ABOUT` file provides.

Scanning https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/interrupt-robotframework.ABOUT returns a generic `pkg:about/robotframework@3.0.2` instead of the fully qualified `pkg:pypi/robotframework@3.0.2`. The `download_url` could be

[2020-01-16 13:46] Gaupeng commented on #997
@pombredanne May I take this up? Also, would you suggest hardcoding common spam words/strings to ignore these emails?

[2020-01-16 17:59] pombredanne commented on #997
@Gaupeng re:

Sure. Thanks!

yes, that's an acceptable way.

[2020-01-16 20:08] pombredanne commented on #1879
@jayfk Thank you ++! @JonoYang what do you think? I recon that @tdruez pushed some code in https://github.com/package-url/packageurl-python/blob/master/src/packageurl/contrib/url2purl.py that gets a proper Package URL back from a URL... that would make a lot of sense to use that  (NB: @jayfk is the author of https://github.com/pyupio/dparse that we use in ScanCode and https://github.com/pyupio/pyu

[2020-01-16 21:53] DennisClark opened #1880 "Scan is not always providing valid package filenames"
I scanned libmzq-4.3.2 using scancode-toolkit-develop from 2020-01-16.  The scan results include this:
[code]

If you use the downoload_url provided in the scan results, you get this file:
`libzmq-vc120.4.2.3.nupkg`
but that filename value is not to be found in the original scan results.
There is no obvious, reliable way to derive that filename from the scan results, which is unfortunate if you ar

[2020-01-16 23:43] cls4242 commented on #1837
Hopelessly messed up installation process. It doesn't like Python27, try 3 - doesn't like that version - says to please use "system" python path. Python 2.7 gives a unicode path error where there isn't unicode in the path. Removed 2.7 and 3.8. Install 3.6 (no longer supported). Get that installed - and then get a message saying it needs a Python27.dll.

I give up - I've spent 8 hours just trying t

[2020-01-16 23:44] cls4242 commented on #1837
Also, the link in the sentence that says to look here for common installation problems - goes to a "Page Not Found". Meh.

[2020-01-16 23:56] mjherzog commented on #1837
@cls4242 Sorry to hear that you have had so much trouble installing ScanCode Toolkit. It is hard to figure out why without information about your computer, but I have fixed the Page Not Found. The correct link is https://scancode-toolkit.readthedocs.io/en/latest/index.html.

[2020-01-17 13:42] pombredanne commented on #1837
@cls4242 Do you mind to start a new ticket and add your details so we can better help you? In particular we would need to know which OS and how you are do your install.
There is also a chat channel to request immediate help https://gitter.im/aboutcode-org/discuss

[2020-01-17 14:33] pombredanne commented on #1876
@sschuberth thanks for that report.

[2020-01-17 14:36] pombredanne commented on #1875
that would be great. I wish we could support Cygwin... but that's a can of worms that I have already played with in the past and that's really painful as instead of getting the best of Windows and POSIX it feels to me that you are instead faced with all the bugs and quirks of the union of both!

[2020-01-17 18:41] pombredanne commented on #1880
@DennisClark there is no guaranteed relationship between the package data collected from a scan and the actual files beeing scanned... that's not scancode fault but that's driven by the context.

Here we parse the package manifest (a .nuspec for a NuGet) which is here: https://github.com/zeromq/libzmq/blob/v4.3.2/packaging/nuget/package.nuspec
The thing is that https://github.com/zeromq/libzmq is

[2020-01-17 18:43] pombredanne opened #1881 "Explain what we support for Window environments, what we don't and why not"
### Description

There are different environents  to run ScanCode on Windows:
1. Windows proper in command prompt
2. the Git bash shell (which is Cygwin)
3. the WSL aka. Windows Subsystem for Linux

We need to be clear and explain why that we support 1. and NOT 2. and 3.

[2020-01-19 16:03] pombredanne opened #1884 "Add another open-source-in-name-only proprietary license"
See https://cosli.eu/
Despite all the best intentions, the "COSLi — Civilian OpenSource License" is non open source because of its field of use restriction:

[2020-01-20 19:18] Gaupeng commented on #1884
This would require scanning every license for such restrictions, correct?

[2020-01-22 22:14] JonoYang opened #1885 "Parse additional dependency/lock files"
We should parse Gemfile.lock and go.mod files for package info

[2020-01-22 23:28] JonoYang commented on #1885
We have a gemfile.lock parser, but it is not used https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/gemfile_lock.py

[2020-01-23 18:01] JonoYang opened #1886 "Support crafting more repository_download_url's for Packages"
Currently only ~6 Packages have this method. It would be nice to have more Packages be able to craft download urls in the case where we don't detect any.

[2020-01-23 23:20] AyanSinhaMahapatra commented on #1874
PR #1851 added to address this issue.

[2020-01-26 08:14] pombredanne commented on #1865
@adityaviki we could either ignore encrypted PDF issues: after all there is nothing that can be done. One nice addition would be to report them as encrypted with the "--info" option (e.g. in their filetype).

[2020-01-28 20:37] i-m-vivek commented on #1758
hi, I am new to open source. I was looking at some good first issues. Can I work on this?

[2020-01-28 20:38] i-m-vivek commented on #1746
hi, I am new to open source. I was looking at some good first issues. Can I work on this?

[2020-01-28 20:43] DennisClark opened #1887 "Recent scan detects Simplified BSD as unknown"
A recent scan of istio-1.3.5 (via scancode.io) detected the license in

https://github.com/istio/istio/blob/1.3.5/vendor/github.com/russross/blackfriday/LICENSE.txt

as `unknown`.   Note that the file starts with the sentence

`Blackfriday is distributed under the Simplified BSD License:`

followed by a copyright statement and what appears to be the standard bsd-simplified text.

[2020-01-28 22:08] pombredanne commented on #1887
@DennisClark thanks.. This is because `"distributed under"` in "distributed under the Simplified BSD License" is reported solo as a license intro which taken alone is unknown.

[2020-01-29 09:23] i-m-vivek commented on #1380
hi, I am new to open source can I work on this.

[2020-01-29 15:14] pombredanne commented on #1380
@i-m-vivek thanks!
There is a PR above by @mnpw that should guide you... but it could be that this is all done?
 @mnpw do you recall what was left to do?

[2020-01-29 15:23] #1849 closed

[2020-01-29 15:23] #1874 closed

[2020-01-29 15:35] #1627 closed

[2020-01-29 15:36] pombredanne commented on #1627
@Gaupeng I think we are all set now thanks to #1868 ... correct?

[2020-01-29 15:39] pombredanne commented on #1855
@JonoYang @inishchith let's chat a tad more about this. The PR from @inishchith is clean and ready to merge but I am not convinced that we need this is way.
What was the rationale originally?

[2020-01-30 03:57] i-m-vivek commented on #1380
@mnpw if something is left please tell me. I will be happy to help.

[2020-01-30 12:09] Gaupeng commented on #1627
Yes, looks good! @pombredanne, thanks for the help!

[2020-01-31 19:28] eastmadc opened #1888 "Add support for CycloneDX Output format"
Similar to the support of exporting to SPDX output format.  It would be helpful to add support to export into the increasingly popular CycloneDX format.

[Specification](https://github.com/CycloneDX/specification)
[Example Project](https://github.com/CycloneDX/cyclonedx-node-module)

[2020-02-04 02:39] mnpw commented on #1380
@pombredanne you can close this issue, from what I recall, it has already been completed. Thanks @i-m-vivek, please have a look at other open issues.

[2020-02-04 02:51] lukas-h commented on #1380
@pombredanne Thanks for being mentioned in such a useful project.

[2020-02-04 18:50] jonassmedegaard opened #1889 "BSD-style non-non-promo (non-)clause falsely treated as BSD-new non-promo clause"
The test file `tests/licensedcode/data/licenses/bsd-new_100.txt` and `tests/licensedcode/data/slic-tests/identification/chemeris.h` and `tests/licensedcode/data/slic-tests/identification/MSIntTypes.h` and `src/licensedcode/data/rules/bsd-new_6.RULE` contains a 3rd "clause" which explicitly permits endorsement of derived products.

It looks like the classic non-endorsement clause but the initial ne

[2020-02-04 19:03] pombredanne commented on #1889
@jonassmedegaard re:

AFAICR, I actually filed a ticket on that long long long ago with @chemeris and that was a bona fide mistake/typo he had made back then and has fixed since.
See:
- https://code.google.com/archive/p/msinttypes/issues/7
- https://github.com/chemeris/msinttypes/issues/7

The commit that fixed this is still the latest
https://github.com/chemeris/msinttypes/commit/7636cabe55318824

[2020-02-04 19:05] pombredanne commented on #1889
@jonassmedegaard re:

That's likely a bug... gosh... you have eagle eyes. You rock!
Let me fix this tomorrow

[2020-02-04 20:10] jonassmedegaard commented on #1889
Thanks for the additional details.

I understand how the statement issued was a mistake, and that it makes sense for that statement to be corrected to reflect the intent of the author.

 That said, I do still think, however, that a tool to scan code for licensing information should present what it _scans_ which is factually different from BSD-new in that case.

Debian seems to have 331 instances o

[2020-02-04 20:11] jonassmedegaard commented on #1889
oh, I forgot: Here's the search showing 331 instances of the pattern: https://codesearch.debian.net/search?q=The+name+of+the+author+may+be+used+to+endorse&literal=1

[2020-02-04 20:29] pombredanne commented on #1889
@jonassmedegaard Let's do what is right together then! let me ping you on IRC tomorrow and fix this how it should be.

[2020-02-04 20:51] jonassmedegaard commented on #1889
Quoting Philippe Ombredanne (2020-02-04 21:29:18)

I am online now and tomorrow as well - and happy to discuss further.

It might be that we simply disagree on how your tool should behave, and
that is all fine - I simply wanted to make it clear that I disagree with
(how I so far understand) your position here.

Looking forard to chat more - here and/or on irc :-)

--
 * Jonas Smedegaard - idealist

[2020-02-05 05:57] pombredanne commented on #1889
@jonassmedegaard

that is all fine - I simply wanted to make it clear that I disagree with
(how I so far understand) your position here.

Actually we are in agreement there after all and I might not have been clear. The legacy Chemeris notice should be returned as something else than a `bsd-new` since this has been so widely copied and vendored in so many packages.

So what I suggest here is to cr

[2020-02-05 10:47] jonassmedegaard commented on #1889
Quoting Philippe Ombredanne (2020-02-05 06:57:22)

We agree that the text should be treated as a separate license.  Good.

We also agre on adding some side-channel remark when possible.  Good.

Related to that I recently shared some thoughts on "side-channel stuff"
on my wishlist: https://bugs.debian.org/950363#10 (where I would
categorize this one as "imperfect").

I agree that providing such sid

[2020-02-06 01:44] JonoYang opened #1891 "Consolidation plugin crashes"
I was scanning a codebase using the consolidation plugin and the following error occured:

[code]

[2020-02-06 02:03] JonoYang commented on #1891
This is happening under Python 3

[2020-02-06 02:15] JonoYang commented on #1891
And I can't seem to reproduce this locally

[2020-02-06 13:06] pombredanne commented on #1891
See https://github.com/nexB/scancode-toolkit/blob/16377111febfaef2fd0806200a43cd9f239f7d0a/src/summarycode/plugin_consolidate.py#L413 does not look right for sure:

Eventually the original holder was a Text object with a key attribute BEFORE it was serialized to JSON https://github.com/nexB/scancode-toolkit/blob/16377111febfaef2fd0806200a43cd9f239f7d0a/src/summarycode/copyright_summary.py#L145

Wh

[2020-02-06 16:07] theOpetunde opened #1892 "New user signup returns "PermissionError""
### Description

New users trying to sign-up through this link http://ec2-52-53-177-18.us-west-1.compute.amazonaws.com/en-us/registration/signup_volunteer/ get permission error after filling out all the necessary required details and licking on the "sign-up" button

### How To Reproduce

1) Go to http://ec2-52-53-177-18.us-west-1.compute.amazonaws.com/en-us/registration/signup_volunteer/

2) Click

[2020-02-06 16:08] #1892 closed

[2020-02-06 16:49] pombredanne commented on #1892
@theOpetunde is this a mistake of yours? If so you can entirely delete this

[2020-02-06 17:07] theOpetunde commented on #1892
my apologies. It was intended for another project. I'll delete it right away

[2020-02-06 17:13] theOpetunde commented on #1892
It appears I can only close an issue. There is no delete issue option

[2020-02-06 18:05] pombredanne commented on #1892
@theOpetunde that's fine we are cool! I though for as ec this was spam. this is closed alright, no harm done!
Now you need to try ScanCode and provide some feedback! :smiley:

[2020-02-10 13:39] sschuberth commented on #636
I finally managed to create an Alpine-based Docker image with Python 3.6 that is able to run ScanCode. Feel free to give it a try: https://github.com/sschuberth/docker-files/blob/4ebd681dfef5a8142b92c1157edd4f5495f0706b/scancode/Dockerfile

[2020-02-10 14:08] pombredanne commented on #636
@sschuberth you rock!
Do you know if the base image is something that is reliable In https://github.com/sschuberth/docker-files/blob/4ebd681dfef5a8142b92c1157edd4f5495f0706b/scancode/Dockerfile#L2
As a first gut reaction in:
[code]
... `frolvlad` makes me cringe a bit to use a trusted base image.

[2020-02-10 14:21] sschuberth commented on #636
That depends on your definition of "trusted" :wink: I was also a bit reluctant at first as it's "just some random single user" (and not e.g. a company / foundation) maintaining these images. But @frolvlad seems to be very active in the Docker / Alpine community and quite a few people seem to be using his images. So I decided for myself to trust these base images.

[2020-02-10 18:00] pombredanne commented on #636
It feels a tad engaged to me if I dig a little:

1. we start from a ultimate alpine:3.11 base image which I would assume is the base standard one.
https://github.com/Docker-Hub-frolvlad/docker-alpine-glibc/blob/master/Dockerfile
2. that then fetches a pre-built binary from https://github.com/sgerrand/alpine-pkg-glibc/releases
3. and finally these are installed on top https://github.com/Docker-Hub-

[2020-02-10 18:09] JonoYang opened #1894 "Consolidating large codebases uses excessive amounts of memory"
I was using the consolidation plugin on a 18.3 mb scan with 14886 files and scancode managed to use 10+ gigs of ram. I have a feeling that it is this dict (https://github.com/nexB/scancode-toolkit/blob/develop/src/summarycode/plugin_consolidate.py#L391) bloating up horribly when there are a lot of copyright holders consolidated.

[2020-02-10 19:21] sschuberth commented on #636
I haven't bothered to measure this so far TBH...

[2020-02-11 04:38] qduanmu opened #1895 "License expression of 'GPLv3+ and LGPLv3+' is incorrect"
### Description
The license expression of 'GPLv3+ and LGPLv3+' is incorrect.

### How To Reproduce
`>>> from packagedcode.licensing import get_normalized_expression`
`>>> get_normalized_expression('GPLv3+ and LGPLv3+')`
`'(gpl-3.0-plus AND lgpl-3.0-plus) AND unknown'`

Based on my understanding, 'GPLv3+' and 'LGPLv3+' are failed in the SPDX matching as they are not SPDX license keys(If we use thei

[2020-02-11 14:20] pombredanne opened #1896 "Add new Maintainers' Contract license"
See https://framagit.org/inno3/tm-contract-for-oss-maintainers/blob/518f146ccd9e8fb07faf5aa717ddd02a972ed973/docs/tm-maintainers-contract.md
@camillem ping^ ... tell me if now is a good time to support it in ScanCode

[2020-02-11 14:22] pombredanne opened #1897 "Add new atmosphere licenses"
See https://www.open-austin.org/atmosphere-license/ We should add them to be able to detect these

[2020-02-11 14:24] pombredanne commented on #1897
See also https://github.com/open-austin/atmosphere-license by @mscarey

[2020-02-11 14:26] pombredanne opened #1898 "Ensure all newer "ethical" licenses are added"
See https://ethicalsource.dev/licenses/

[2020-02-11 15:05] pombredanne commented on #1895
@qduanmu thank you for catching this! :bowing_man:
I think the resolution is to have a list of license symbols mapped to license keys so that we can then do a proper license expression detection on this. The https://github.com/nexB/license-expression/ library supports this explicitly for this purpose. There are a few tickets to deal with this https://github.com/nexB/scancode-toolkit/issues/1523 an

[2020-02-11 15:21] pombredanne opened #1899 "Add new "bad" licenses"
See https://github.com/ErikMcClure/bad-licenses by @ErikMcClure
This is a list of off licenses that we should detect

[2020-02-11 17:24] pombredanne commented on #1723
This is still not fixed.  I want this fixed before the upcoming release!

[2020-02-11 17:33] jonassmedegaard opened #1900 "bsd test with no-op non-endorsement clause is effectively freebsd (not bsd-new)"
These file src/licensedcode/data/rules/bsd-new_141.RULE contains this as 3rd clause:

Sure, it is "just a typo" that organisation name is missing - but effect is that the clause _cannot_ hold any meaning at all: which names is it that cannot be used to endorse? the name [undef] and the names of contributors to [undef] -> noone!

I think this test should legally be categorized as BSD-2-Clause.

Eve

[2020-02-11 19:09] jonassmedegaard opened #1901 "considering "License: BSD" as meaning bsd-new should include some notion of uncertainty"
The test src/licensedcode/data/rules/bsd-new_89.yml is categorized as bsd-new, but contains only this:

I disagree that "BSD" equals "BSD-3-Clause" - sure, that is the "more original among the Free flavors" and also the more common among all of them.  But neither is a reason for reliable disambiguation.

I think the most sensible is to classify this as "any of the BSD licenses, but not possible to

[2020-02-11 19:24] pombredanne commented on #1901
@jonassmedegaard you have a point but that's also something that we debated with several others including @royaljust @ariel11 and @kpfleming in particular as we curate things in the ClearlyDefined project...

We have agreed to this so far:
https://github.com/clearlydefined/clearlydefined/pull/121/files#diff-850e84ef50dc7426c075c56ed961142cR97

The rationale is that you are never wrong by treating

[2020-02-11 20:58] jonassmedegaard commented on #1901
The rationale of saying BSD-3-Clause when in doubt is safe only within a world of _Free_ licenses.

How about non-free licenses, most famously known being the original BSD-4-Clause, but also newer problematic derivatives like SSLeay?

For someone sloppily refering to BSD, I would not be so certain that they chose only among 2 safe variants: The only thing I see as certain when stating "BSD" is tha

[2020-02-11 21:02] jonassmedegaard commented on #1901
If it really is BSD-3-Clause, then how do I obey the third clause? See https://github.com/nexB/scancode-toolkit/issues/1900 for a concrete example of that dilemma.

[2020-02-12 09:35] pombredanne commented on #1901
@jonassmedegaard you wrote:

These BSD-4-Clause, SSLeay, OpenSSL, Apache-1/1.1 variants and more are all their own licenses so they are not at issue. They WILL be reported with their own license key.

The BSD case you raised here and that I am interested is strictly when the only clue we have is `License: BSD`. Nothing else, no text, no other lead.

That's not certain for sure, but also generally

[2020-02-12 09:37] pombredanne commented on #1901
@spotrh @richardfontana I would be interested to get you take on this topic

[2020-02-12 10:38] jonassmedegaard commented on #1901
clause being superfluous or not is besides the point of _detecting_ licenses.

Sorry, I see how my way of framing the question caused the derailing into discussing _use_ of licenses, so let me try clarify:

What I meant to ask is not "how can a recipient use a third clause with zero subjects?" but instead "how can a license scanner claim to have found a 3-clause BSD license when third clause is bo

[2020-02-12 13:01] camillem commented on #1896
Hi @pombredanne : that's very kind :-) I think it's still a bit early, as we will change the text following the feedback we got at FOSDEM+Fringe 2020. But I'll update this issue as soon as we are ready to be indexed!

[2020-02-12 14:06] richardfontana commented on #1901
I largely agree with arguments of @pombredanne here. It's reasonable to treat "License: BSD" as meaning "BSD-3-Clause at the most restrictive". (This btw would obviously not be so if you somehow found "License: BSD" on some code from say 1997.)

The fact that a standard license clause can be a no-op given the lack of information and specificity in the indication of licensing is not at all a new or

[2020-02-12 14:51] jonassmedegaard commented on #1901
thanks, @richardfontana, those are convincing arguments (and sorry if your points were the same, @pombredanne, and I simply didn't pay proper attention).

So what is left of this issue is the part of indicating uncertainty.

[2020-02-12 15:26] pombredanne commented on #1900
@jonassmedegaard AFAICR this is actually done on purpose such that we can detect as a 100% match things such:
[code]
Did you see an actual match to the text without a name in the wild?

[2020-02-12 15:52] jonassmedegaard commented on #1900
No, I triedd but failed to locate any samples in the wild.

Are you saying that I am reading the yaml file wrong or that in other ways this case is unsuitable for testing?

I discovered it while reusing the tests of scancode-toolkit for testing accuracy of licensecheck - and seem to recall that you told me to simply check all the files with a corresponding yaml file. If there is more to it than th

[2020-02-12 16:16] pombredanne commented on #1900
Let's put it this way: say that you have found all the words in this rule in this sequence and that there is typically extra words to mention the name in the middle, then this is a proper bsd-new match for scancode (in this case because of the extra word this will be reported as less than 100% match).

ScanCode does eventually exhaustive pair-wise diffs so it will find added and removed words .

F

[2020-02-12 16:25] pombredanne commented on #1900
There is not more to it than that, but again since we do a diff all rules files used for detection are akin to a fuzzy pattern (except that they are not tagged as patterns would). If you use regexes, this is going to be a challenge for sure to get the same results.

[2020-02-12 16:31] jonassmedegaard commented on #1900
I think I understand. So this is not a bug, just a flaw in how I (ab)use the testsuite for different (regex-based) detection technique.

[2020-02-12 16:31] #1900 closed

[2020-02-12 16:33] jonassmedegaard commented on #1900
...and to answer your (non-)question: No, I don't expect to mimick everything in scancode-toolkit - I expect to have something reusable for multiple purposes (which scancode-toolkit might be extended to do as well, but that would have to wait for someone else doing it, or for me learning Python)

[2020-02-12 20:33] JonoYang opened #1902 "Erroneous agpl-3.0 detection in Wordpress source files"
agpl-3.0 is mistakenly detected in several files in Wordpress v 5.2.3 and above. For example, I have scanned `wordpress/wp-admin/async-upload.php` and it detected agpl-3.0 in the following string:

``` * Server-side file upload handler from wp-plupload or other asynchronous upload methods.```

Below is the full scan of the file:

[code]

[2020-02-12 20:53] DennisClark commented on #1902
problem reproduced on scancode.io with the file available from
https://github.com/WordPress/WordPress/archive/5.3.1.tar.gz

Scan results attached.  I have a hunch that it gets sidetracked by the word `plupload` .

[WordPress-5.3.1.tar.gz_scan.json.zip](https://github.com/nexB/scancode-toolkit/files/4194977/WordPress-5.3.1.tar.gz_scan.json.zip)

[2020-02-12 20:56] DennisClark commented on #1902
the overall license should be gpl-2.0-plus  as stated in
https://github.com/WordPress/WordPress/blob/5.3.1/license.txt

[2020-02-13 08:53] qduanmu commented on #1895
Thank you for the linked information @pombredanne .
Based on the discussion of spdx/tools-python#106, could I understand like this? we will use this repo https://github.com/spdx/package-licenses-mapping as the mapping source to get the license aliases in future.

Maybe this is too detailed, but should we feed it here?
https://github.com/nexB/scancode-toolkit/blob/16377111febfaef2fd0806200a43cd9f23

[2020-02-13 12:13] msrb commented on #1899
One more here: https://github.com/landondyer/kasm/blob/master/LICENSE

It's "Anyone But Richard M Stallman" (ABRMS) license.

[2020-02-13 12:23] pombredanne commented on #1895
@qduanmu thank you for your detailed answer!

re:

yes that's the place.

I am split on this. @sschuberth 's suggestion was that this could be something that is not package-type specific. It works in many cases, but on the other hand some "aliases" are found only in a single type package manifest (for instance some peculiar R packages) or some multiple license expressions are quite peculiar to a m

[2020-02-13 18:30] nishakm opened #1903 "Add sha256 checksum for files"
## Short Description
When doing a scan of a file, we get sha1 and md5 checksums:
[code]
It would be nice to add a sha256 checksum as well.
## Possible Labels

- new feature

## Select Category

-  Enhancement [x]
-  Add License/Copyright []
-  Scan Feature [x]
-  Packaging []
-  Documentation []
-  Expand Support []
-  Other []

## **Describe the Update**
Add a new checksum type for sha256

## **H

[2020-02-13 18:52] sschuberth commented on #1895
My stance on this still is that in such cases some package-manager-specific pre-processing / mapping should happen before using the result of this pre-processing as the lookup key for the generic mapping.

[2020-02-13 21:08] armijnhemel opened #1904 "GPLv2 licensed file recognized as GPLv1 and GPLv3"
### Description
https://github.com/Azure/azure-iot-sdk-c/blob/master/build_all/arduino/Makefile.iot

is a GPLv2 file, but scancode says:

      "license_expressions": [
        "gpl-1.0-plus",
        "gpl-3.0"

### How To Reproduce

1. get scancode
2. get that file I linked
3. run scancode

### System configuration

Fedora 30

ScanCode version 3.1.1.post337.16377111fe

[2020-02-13 21:25] armijnhemel opened #1905 "libwebsockets: static linking exception not recognized"
### Description

Several files in older versions of libwebsockets have a "static linking exception":

https://libwebsockets.org/git/libwebsockets/tree?id=e6bd6296bd9f90f6a264ea9e69825552e8702490

### How To Reproduce

1. download older version of libwebsockets
2. run scancode

### System configuration

Linux Fedora 30

ScanCode version 3.1.1.post337.16377111fe

[2020-02-13 21:28] armijnhemel opened #1906 "libwebsockets: LGPL 2.1-only recognized as or-later"
### Description

https://libwebsockets.org/git/libwebsockets/tree/lib/output.c?id=e6bd6296bd9f90f6a264ea9e69825552e8702490

is LGPL-2.1-only but Scancode sees:

LGPL-2.1-only
LGPL-2.1-or-later
Other Copyleft Licenses

### How To Reproduce

1. download older version of websockets
2. run scancode

### System configuration

ScanCode version 3.1.1.post337.16377111fe

[2020-02-13 22:08] armijnhemel opened #1907 "bison 2.4.3: GPL-3.0-or-later file also recognized as "Free unknown""
### Description

bison-2.4.3/src/getargs.c

is recognized as "Free unknown":

      "license_expressions": [
        "gpl-3.0-plus",
        "free-unknown"

which is too much.

### How To Reproduce

1 download bison 2.4.3
2 run scancode

### System configuration

ScanCode version 3.1.1.post337.16377111fe

[2020-02-13 22:25] armijnhemel opened #1908 "bzip2 1.0.5: recognized as "Free unknown""
### Description

bzip2.c is recognized as "free unknown":

      "license_expressions": [
        "bzip2-libbzip-2010",
        "bsd-new",
        "free-unknown"
      ],

### How To Reproduce
1. download bzip2 1.0.5
2. run scancode

### System configuration

ScanCode version 3.1.1.post337.16377111fe

[2020-02-14 07:21] qduanmu commented on #1895
This is related to how we define the license mapping structure and whether to have the package manager stuff in it. I second the idea from @sschuberth in [this comment](https://github.com/spdx/package-licenses-mapping/issues/1#issuecomment-579192225) and also [this one](https://github.com/spdx/package-licenses-mapping/issues/1#issuecomment-586125987) that we should keep the mapping generic and sim

[2020-02-15 03:43] hp77-creator commented on #1899
I would like to work on this issue @pombredanne, Can you guide me what I should do?

[2020-02-15 18:08] Gaupeng commented on #1903
Seems fairly easy to add, since there's already a function to calculate the sha256 checksum. Would just require adding it to the scan output, and perhaps add tests for it. May I take it up? @pombredanne, @nishakm.

[2020-02-16 22:47] armijnhemel opened #1910 "cmake: agpl false positive"
### Description
For cmake the files:

cmake-3.4.1/Source/cmCommandArgumentParser.cxx
cmake-3.4.1/Source/cmCommandArgumentParserTokens.h

are recognized as AGPL-3.0-or-later. They are not.

### How To Reproduce

### System configuration

Fedora 30

ScanCode version 3.1.1.post337.16377111fe

[2020-02-16 23:21] armijnhemel opened #1911 "iptables: GPL-2.0-only recognized as GPL-2.0-or-later"
### Description

The following files in iptables 1.4.10 are recognized as both GPL-2.0-only and GPL-2.0-or-later but are GPL-2.0-only:

iptables-1.4.10/extensions/libipt_ECN.c
iptables-1.4.10/ip6tables-restore.c
iptables-1.4.10/ip6tables-save.c
iptables-1.4.10/iptables-xml.c

There are more files inside iptables 1.4.10 that have the same pattern.

### How To Reproduce

### System configuration

Fe

[2020-02-17 11:20] armijnhemel opened #1912 "libtool 2.2.10: libtool exception not recognized"
### Description

libtool-2.2.10/libltdl/argz.c

has the libtool exception, but scancode sees it as "unknown".

### How To Reproduce

### System configuration

Fedora 30

ScanCode version 3.1.1.post337.16377111fe

[2020-02-17 14:31] 0xc0170 opened #1913 "spdx identifier not recognized if using python license header"
### Description

I've scanned the issues to find this, as this seems to be trivial. I have a file with license header like this:

[code]

This is the output for cmd: `scancode --license --json-pp output.json SCANCODE`

[code]

If I move SPDX identifier above the copyright or outside the block (first line starting with `#`), it is recognized and I have `matched_rule` spdx.  I use the same format in

[2020-02-17 14:53] armijnhemel opened #1914 "linux 2.6.39: GPL2 file recognized as GPL1, GPL2 and GPL3"
### Description

Linux kernel, v2.6.39

arch/arm/mach-s5pc100/gpiolib.c

is recognized as GPL 1, GPL 2 and GPL 3

The following rules were triggered:

            "identifier": "gpl-1.0_11.RULE",

            "identifier": "gpl-3.0_123.RULE", (line 280)

These are triggered because of variable names called "GPL0" through "GPL4":

https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tre

[2020-02-17 15:04] armijnhemel opened #1915 "linux 2.6.39: GPL2-or-later recognized as GPL-3-or-later"
### Description

https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/drivers/net/wireless/atmel.h?h=linux-2.6.39.y

is recognized as GPL-3.0-or-later

### How To Reproduce

### System configuration

ScanCode version 3.1.1.post337.16377111fe

[2020-02-17 15:10] armijnhemel commented on #1915
https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/drivers/net/wireless/atmel_cs.c?h=linux-2.6.39.y

Also, it should be interesting to note that at the end of the file there is also a license text:

https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/drivers/net/wireless/atmel_cs.c?h=linux-2.6.39.y#n261

[2020-02-17 15:49] armijnhemel opened #1917 "mtd-utils: GPL3 false positive"
### Description

http://git.infradead.org/mtd-utils.git/blob/aea36417067dade75192bafa03af70b6eb2677b1:/flash_erase.c#l79

is confusing scancode, which thinks it is GPL1, GPL2 and GPL3. There is no mention of GPL3

### How To Reproduce

### System configuration

ScanCode version 3.1.1.post337.16377111fe

[2020-02-17 15:51] armijnhemel commented on #1917
Other files in mtd-utils 1.5.2 have similar issues:

mtd-utils-1.5.2/mtdpart.c
mtd-utils-1.5.2/nanddump.c

etc.

[2020-02-17 16:09] armijnhemel opened #1918 "ntp-4.2.6p3: AGPL-3.0-or-later false positive"
### Description

http://repository.timesys.com/buildsources/n/ntp/ntp-4.2.6p3/

ntp-4.2.6p3/sntp/libopts/genshell.c

is recognized as AGPL, but it is not.

### How To Reproduce

### System configuration

ScanCode version 3.1.1.post337.16377111fe

[2020-02-17 16:10] armijnhemel commented on #1918
ntp-4.2.6p3/sntp/libopts/genshell.h

[2020-02-17 16:19] armijnhemel opened #1919 "OpenVPN 2.3.4: GPL-1.0-or-later false positive"
### Description

openvpn-2.3.4/contrib/pull-resolv-conf/client.up

is recognized as GPL-1.0-or-later but it is not.

### How To Reproduce

### System configuration

ScanCode version 3.1.1.post337.16377111fe

[2020-02-17 17:44] armijnhemel opened #1920 "socat: GPL-3.0-or-later false positive"
### Description

http://www.dest-unreach.org/socat/
version 2.0.0b4

socat-2.0.0-b4/gatherinfo.sh

is recognized as:

GPL-2.0-only
GPL-3.0-or-later
TeX exception to GPL 3.0

but it is GPL-2.0-only only.
### How To Reproduce

### System configuration

Fedora 30

ScanCode version 3.1.1.post337.16377111fe

[2020-02-17 18:44] armijnhemel commented on #1920
socat-2.0.0-b4/hostan.c
socat-2.0.0-b4/hostan.h
socat-2.0.0-b4/procan.h
socat-2.0.0-b4/sslcls.h
socat-2.0.0-b4/xio-ascii.c
socat-2.0.0-b4/xio-creat.h

[2020-02-17 18:49] armijnhemel opened #1921 "socat: GPL-1.0-or-later false positive"
### Description

similar to #1920

socat-2.0.0-b4/error.h

is recognized as GPL-1.0-or-later and GPL-2.0-only but it is very clearly GPL-2.0-only only.

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (pip/source dow

[2020-02-17 18:51] armijnhemel opened #1922 "socat: bzip2 false positive"
### Description

related to #1921

socat-2.0.0-b4/xioexit.c

gives a hit for bzip2, but there is nothing bzip2 related there.

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (pip/source download/other)

[2020-02-17 18:57] armijnhemel opened #1923 "socat: LGPL-2.1-only false positive"
### Description

Similar to #1921

socat-2.0.0-b4/proxy.sh

is recognized as GPL-2.0-only and LGPL-2.1-only but it is GPL-2.0-only only

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (pip/source download/other)

[2020-02-17 18:58] armijnhemel commented on #1923
socat-2.0.0-b4/sycls.h <-- similar but now GPL-2.0-only is not recognized

[2020-02-17 19:06] armijnhemel opened #1924 "socat: font exception false positive"
### Description

related to #1920 and #1921

socat-2.0.0-b4/filan.h
is recognized as PS-or-PDF-font-exception-20170817 and GPL-2.0-only but it is GPL-2.0-only only

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (pi

[2020-02-17 19:17] armijnhemel opened #1925 "tcpdump-4.1.1: Apache 2 false positive/GPL-2.0-only false positive/GPL-2.0-or-later false positive"
### Description

tcpdump-4.1.1/print-stp.c

is recognized as:

Apache-2.0
BSD-3-Clause
GPL-2.0-only
GPL-2.0-or-later

but the header is:

/*
 * Copyright (c) 2000 Lennert Buytenhek
 *
 * This software may be distributed either under the terms of the
 * BSD-style license that accompanies tcpdump or the GNU General
 * Public License
 *
 * Format and print IEEE 802.1d spanning tree protocol packets.

[2020-02-17 19:19] armijnhemel opened #1926 "tcpdump 4.1.1: GPL-2.0-or-later false positive"
### Description

tcpdump-4.1.1/win32/Include/getopt.h

is reported to be:

GPL-2.0-or-later
LGPL-2.0-or-later
Other Copyleft Licenses

but only LGPL-2.0-or-later applies.

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scanco

[2020-02-17 19:26] armijnhemel opened #1927 "U-Boot 2010.06: GPL-3 false positive"
### Description

u-boot-2010.06/arch/powerpc/cpu/ppc4xx/4xx_pci.c

GPL-2.0-only
GPL-2.0-or-later
GPL-3.0-only
IBM-pibs
Unknown License reference
unknown

but only GPL-2.0-only and the IBM or the unknown licenses seem to be correct.

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan fi

[2020-02-17 19:29] armijnhemel opened #1928 "U-Boot: GPL-1.0-only, GPL-2.0-only and GPL-3.0-only false positives"
### Description

u-boot-2010.06/board/netphone/netphone.c

recognized as:

GPL-1.0-only
GPL-2.0-only
GPL-2.0-or-later
GPL-3.0-only

but the file is GPL-2.0-only only

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (

[2020-02-17 19:32] armijnhemel commented on #1928
u-boot-2010.06/board/netta2/netta2.c
u-boot-2010.06/board/stx/stxxtc/stxxtc.c

[2020-02-17 19:33] armijnhemel opened #1929 "U-Boot: LGPL-3.0-only false positive"
### Description

u-boot-2010.06/doc/README.mpc8349itx

recognized as LGPL3 but it is just the name of a board jumper

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (pip/source download/other)

[2020-02-17 19:44] armijnhemel opened #1930 "which: AGPL-1.0 false positive"
### Description

which-2.20/getopt.c

recognized as:

AGPL-1.0-or-later
LGPL-2.0-or-later

but there is no AGPL in there

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (pip/source download/other)

[2020-02-17 19:46] armijnhemel opened #1931 "which: GPL-2.0-only false positive"
### Description

which-2.20/bash.c

is recognized as GPL-2.0-only but it should be GPL-2.0-or-later

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (pip/source download/other)

[2020-02-17 20:45] armijnhemel opened #1932 "wpa_supplicant: BSD file recognized as GPL"
### Description

wpa_supplicant-2.5/src/ap/ieee802_11_vht.c

Header says:
[code]
Scancode says it is GPL but should be BSD.

[2020-02-17 20:52] armijnhemel opened #1933 "zlib 1.2.5: LGPL false positive"
### Description

zlib-1.2.5/old/as400/compile.clp

LGPL is a variable somewhere in the code:

             DCL        VAR(&SRVLIB) TYPE(*CHAR) LEN(10) +
                          VALUE('LGPL')                         /* Service program library. */

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to gene

[2020-02-18 14:11] carmenbianca commented on #1816
SPDX recently formalised this in https://github.com/spdx/spdx-spec/pull/196

Though it's not formally released at the moment.

[2020-02-18 14:37] pombredanne commented on #1816
@carmenbianca :+1:  thanks!

[2020-02-18 16:33] Gaupeng opened #1934 "Incorrect hyperlink in Pull Requests"
### Description

While creating a pull request, one of the checkmarks suggests to run tests locally

Run [tests](https://aboutcode.readthedocs.io/en/latest/scancode-toolkit/contribute/contrib_dev.html#running-tests) locally to check for errors.

However the link goes to a page that does not exist. The correct link to that would be::
https://scancode-toolkit.readthedocs.io/en/latest/contribute/cont

[2020-02-18 18:31] DennisClark opened #1936 "Scan of elasticsearch-7.5.2.tar.gz returns multiple unknown licenses"
A recent scan (via ScanCode.io) of elasticsearch-7.5.2.tar.gz obtained from
https://github.com/elastic/elasticsearch/archive/v7.5.2.tar.gz
contains multiple detections of `unknown` where a visual inspection of the associated bits in the scan results show that actual licenses should have been detected.  Examples include:

elasticsearch-7.5.2/LICENSE.txt
contain `-oss` in the artifact name are licen

[2020-02-19 14:03] armijnhemel opened #1937 "add duration of the scan to JSON"
## Short Description

currently there is already a start time stamp and end time stamp in the JSON output. It would be nice to also have a "duration" field so I don't have to compute that myself.

## Possible Labels

- new feature

## Select Category

-  Enhancement [X]
-  Add License/Copyright []
-  Scan Feature []
-  Packaging []
-  Documentation []
-  Expand Support []
-  Other []

## **Describ

[2020-02-19 16:12] DerAndere1 opened #1938 ""MIT and GPL" may be wrongly detected as mit-OR-gpl-plus"
### Description

According to the [mit_or_gpl.RULE](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/mit_or_gpl.RULE), the string "Dual licensed under the MIT and GPL licenses." is interpreted as "mit OR gpl-1.0-plus".

**Expected behaviour:**
The string "Dual licensed under the MIT and GPL licenses." should be interpreted as "mit AND gpl-1.0-plus".

This bug was i

[2020-02-19 22:46] pombredanne commented on #1938
@DerAndere1 Thank you for this report. I reckon this looks like a bug and can be confusing and should be better explained.
The wording "Dual licensed under the MIT and GPL licenses." is an invention of the JQuery project that is 10+ years old and was poorly worded and came with an explanation that this is choice and not that both licenses apply.  See for instance https://stackoverflow.com/question

[2020-02-20 15:17] 0xc0170 commented on #1913
This seems to be not limited to just the example above. I've seen this in headers or code files (C/C++) as well.

I implemented a workaround, if there is license found but not SPDX, I just recheck the file and try to find a match for SPDX identifier to confirm there is none - as scancode gave me couple of false positives.

[2020-02-20 15:44] pombredanne commented on #1913
Thanks for the report. This is a bug alright! great find:
Here are output of scans with the matched text: (note that you may not get exactly the same results as I may have some uncommitted new license rules locally)

In any case the root problem seems to come from a few "legacy" license detection rules that embed also the SPDX-License-identifier ... rather than leaving that to the dedicated matche

[2020-02-20 22:43] JonoYang commented on #1902
@DennisClark `plupload` is definitely the problem word. I will create a fix for this.

[2020-02-20 23:04] JonoYang commented on #1902
Interesting. I have created:
`false_positive29.RULE`, which contains:
[code]

`false_positive29.yml`, which contains:
[code]

and I am a license rule conflict when I run scancode:

[code]

@pombredanne Any insights into what's happening?

[2020-02-20 23:35] JonoYang commented on #1902
@pombredanne It appears that the contents of `agpl-3.0_100.RULE` and `false_positive29.RULE` hash to the same value:

[code]

[2020-02-21 08:08] pombredanne commented on #1902
@JonoYang you cannot have duplicate rules... But the rationale for `plupload` to return an AGPL license is straight forward: plupload AGPL-licensed https://www.plupload.com/download/ (or alternatively commercial)

[2020-02-21 08:12] pombredanne commented on #1937
@armijnhemel Thank you for this: would a duration in seconds work as in `7776045`? (as opposed to a human readable and formatted string such as `3:12:45` for 3 hours, 12 minutes and 45 seconds?
Note also this cannot be 100% accurate as the actual time it takes to write the JSON cannot be integrated, and this could be several seconds on large scans.

[2020-02-21 08:30] pombredanne commented on #1902
Note that before the [AGPL](https://github.com/moxiecode/plupload/commit/a32eab6fb30e714c0935e2a111f86ffa9ccb0485), this was using a mishmash of GPL and LGPL references or a commercial license nothing quite clear to me https://github.com/moxiecode/plupload/tree/d55ef20c7e9ff352e76afb7fe2317fd649196f3e

So in all cases we have a copyleft license in the front end. Some older versions are GPL-license

[2020-02-21 09:56] pombredanne commented on #1928
Good catch!
there are a bunch of defines and symbols GPL0, GPL1, GPL2 and GPL3 that are the sources of the false positives

[code]

[2020-02-21 10:18] armijnhemel commented on #1937
Having just seconds would be perfect. I could do formatting myself later.

[2020-02-21 12:58] pombredanne commented on #1899
@msrb thanks!
@hp77-creator Sure this is about adding new licenses and/or license detection rules. The process is explained there https://scancode-toolkit.readthedocs.io/en/latest/how-to-guides/index.html

[2020-02-21 12:59] pombredanne commented on #1901
@jonassmedegaard would reporting these cases as "90%" relevant work for you?

[2020-02-21 13:21] jonassmedegaard commented on #1901
What would be helpful to me specifically is that e.g. "90%" is noted in the YAML data for the test cases.
(what Scancode toolkit is _reporting_ is less useful to me, because I don't actually run the tool, only reuse the test cases)

[2020-02-21 13:30] pombredanne commented on #1901
That would be possible, but the YAML test metadata only contain the list of matched licenses expressions today and there are no expectations of a certain score/coverage/relevance and that should be added (as an option)

[2020-02-21 14:06] jonassmedegaard commented on #1901
I understand that we are talking about a future extension to the test hints.
Including such probability note in cases known to be uncertain would be helpful - thanks!

[2020-02-22 07:52] Pratikrocks commented on #1817
I have python 3.6 along with python 3.7 , how can i explicitly configure with python 3.6
_

[2020-02-23 13:27] mnv936 commented on #1937
@pombredanne i would like to work on the feature.
Anything I should know that might help me or I should take care of?

[2020-02-23 13:55] shivam-bit commented on #1937
@pombredanne  even I would love to work on this feature

[2020-02-24 00:55] AyanSinhaMahapatra commented on #1934
Hey, I think this was fixed some days ago by this [commit](https://github.com/nexB/scancode-toolkit/commit/9530931c3016f8b5c04b225a8cce96cfd1de2cba).

Basically, the Pull Request Template is located [here](https://github.com/nexB/scancode-toolkit/blob/develop/.github/PULL_REQUEST_TEMPLATE.md).

Is this still valid?

[2020-02-24 20:43] MankaranSingh commented on #1937
Hi, I have added the requested feature in the following pull requests:
https://github.com/nexB/scancode-toolkit/pull/1939

Now, you can see a 'time_taken' field in the header of the output JSON file,

[2020-02-24 21:18] JonoYang opened #1940 "TypeError when attempting to run an installed plugin in python3"
I am creating a plugin that runs fine under Python 2, but when I try to run it in Python 3, I get this error:

[code]

Looking at https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/cli.py#L679, there is a Try/Except that checks the error messages:
[code]
I have a hunch the TypeError error message was changed between Python 2 and 3. A fix would be to add `'required positional argume

[2020-02-25 00:32] JonoYang commented on #1940
The problem is related to my plugin, where I forgot to set the `option` attribute, so ScanCode did not register the plugin.

[2020-02-25 00:32] #1940 closed

[2020-02-25 07:14] MankaranSingh commented on #1937
i guess i need to edit the test cases too since this feature requires direct change in the output JSON file, alot of test cases.

So how should i go dealing with this ? any help is appreciated

[2020-02-25 14:22] Gaupeng commented on #1934
Ah, should have checked for it. Thanks! Closing this now.

[2020-02-25 14:22] #1934 closed

[2020-02-25 15:51] pombredanne commented on #1937
@MankaranSingh thank you for this!
@armijnhemel do you see this feature as something always present in the JSON scan outputs?  Or as guarded by a command line option?

[2020-02-25 15:52] pombredanne commented on #1937
@MankaranSingh  let's see if this need to be enabled at all times or not first before updating the tests. There are ways to regenerate test fixtures to help a bit

[2020-02-25 16:01] mjherzog commented on #1937
I think that we can avoid yet another command line option.

[2020-02-25 16:20] armijnhemel commented on #1937
I would just always include it.

[2020-02-25 18:29] gaymathur commented on #1863
@chinyeungli It is showing not only this error but also run time error when I loaded some files in it.It is  also a bug.

[2020-02-25 18:31] gaymathur commented on #1778
@filips123 It s working fine now.

[2020-02-25 20:24] pombredanne commented on #1937
@MankaranSingh so you will have indeed to update a good bunch of test scan files since they will now contain your new field... On te other hand, since this field will have a different value on each run, it is best excluded from most of the scan tests assertions, except for a few tests focused only on the tests of that feature. Does it make sense? There are very few places where these checks are do

[2020-02-26 03:34] MankaranSingh commented on #1937
ok, on it.
So, if i need further help, shall i ask here or on the gitter discussion channel ?

[2020-02-26 06:12] pombredanne commented on #1937
@MankaranSingh best is to keep ticket related discussions on the ticket and you can ask for help in the chat linking to the ticket.

[2020-02-26 16:50] MankaranSingh commented on #1937
@pombredanne ok, so all the tests seem to be passing now.
What i found out was, that the "start_timestamp" and "end_timestamp" were excluded from the JSON file prior to comparing with the expected JSON file. So, it made sense for me to exclude the new "time_taken" field too !

also, i found no other tests that specifically tested the "start_timestamp" and "end_timestamp", so i too didn't write any

[2020-02-27 19:28] rpotter12 opened #1943 "Email is not detected properly in Python setup.py"
### Description

Hi,
***I have mentioned this in gitter chat also***
I was trying to use scancode. I ran scancode for https://raw.githubusercontent.com/python/mypy/master/setup.py

Commands used for mypy:
1. `wget https://raw.githubusercontent.com/python/mypy/master/setup.py`
2. `scancode setup.py --package --license --copyright --json-pp abc.json`

Output link for mypy project: https://drive.goog

[2020-02-28 21:11] JRavi2 commented on #1870
Hey, can I work on adding this feature?

[2020-02-28 21:42] majurg commented on #1870
@JRavi2 Yes you can.

[2020-02-29 08:56] dakshaladia commented on #1937
I wish to work on this issue. Is it still available?

[2020-02-29 09:38] dakshaladia commented on #1377
I wish to contribute to this issue. Is it still available?

[2020-02-29 09:40] dakshaladia commented on #997
Hi I wish to contribute to this issue. Is still available?

[2020-02-29 09:45] dakshaladia commented on #863
Hi I wish to contribute to this issue. Is it available?

[2020-02-29 11:12] dakshaladia commented on #296
hi i would like to contribute to this issue. is it available?

[2020-02-29 12:31] aj4ayushjain commented on #296
Great!
You can go ahead it's available.

[2020-02-29 13:32] JRavi2 commented on #1870
Okay, so I thinking of implmenting it like this:
The user while calling extractcode, would provide a 'filter' flag mentioning the extensions of the files he/she wants to extract,
`extractcode samples --filter=zip,tar`
And if no filter option is provided all the files in the given directory would be extracted
@majurg Does this sound okay?

[2020-02-29 19:30] majurg commented on #1870
@JRavi2 I think we are better off implementing this as `--ignore`, like `scancode` does. It is easier to reason about things this way, and we can specify multiple ignores, like `extractcode --ignore=*.tar.gz --ignore=*.jar`

[2020-03-01 12:12] hanif-ali opened #1945 "Add --depth option to the CLI"
## Short Description
A --depth option for the CLI to limit the nesting level of the scan to a specified number of sub-directories .

## Possible Labels
- new feature
- nice to have

### Category: Scan Feature

The feature can be helpful when you want to scan only a particular number of sub-directories. For example, if you just want to scan the files in the current directory, setting depth to 1 wou

[2020-03-01 12:34] hanif-ali commented on #1945
I ran the test cases and it fails some of them. I will fix them in a while.

[2020-03-02 07:53] JRavi2 commented on #1870
@majurg You're right, `--ignore` sounds more appropriate. I'll implement it that way.

[2020-03-02 15:57] abd96 opened #1947 "Api get_licenses method fails"
### Description

`` This is a package of commutative diagram macros built on top of Xy-pic by Michael Barr (email: barr@barrs.org). Its use is unrestricted. It may be freely distributed, unchanged, for non-commercial or commercial use. If changed, it must be renamed. Inclusion in a commercial software package is also permitted, but I would appreciate receiving a free copy for my personal examinati

[2020-03-02 16:07] carmenbianca commented on #1816
Might this be a duplicate of #1022? Or vice versa.

[2020-03-02 18:09] MankaranSingh commented on #1947
ii'l open a pull request tomorrow, have an exam right now

[2020-03-03 23:05] armijnhemel commented on #1937
I suppose it is no longer available, but perhaps @pombredanne can clarify?

[2020-03-04 02:12] arthur657834 commented on #1875
this problem did not fix on linux, the code is update today

./configure --clean && ./configure is not work, and same error

Python 2.7.5
CentOS Linux release 7.5.1804 (Core)

10:04:55  ERROR: UNABLE TO IMPORT SCANCODE PLUGINS.
10:04:55  Check your installation configuration (setup.py) or re-install/re-configure ScanCode.
10:04:55  The following plugin(s) are referenced and cannot be loaded/import

[2020-03-04 16:59] ritiek commented on #1885
Perhaps Cargo.lock too!

[2020-03-04 17:50] pombredanne commented on #1885
@ritiek sure thing... welcome back! do you want to tackle this? (Note also that GSoC project idea https://github.com/nexB/aboutcode/wiki/Project-Ideas-DependentCode-A-Mostly-Universal-Package-Dependency-Resolver )

[2020-03-05 07:03] #1884 closed

[2020-03-05 07:05] #1937 closed

[2020-03-05 07:12] ChinnuJose opened #1950 "Scancode process getting killed while scanning with package and license parameter"
@pombredanne
### Description

Scancode process getting killed while scanning with package and license parameter

Similar issue was reported earlier https://github.com/nexB/scancode-toolkit/issues/1520
The issue got solved when we upgraded the scancode from 2.2.1 to 3.0.2.

### How To Reproduce

When we were trying to scan a package with -c -p -l parameters the scan process is getting killed. Scan

[2020-03-05 11:27] fstorck opened #1951 "C# type named gpl is being detected as gpl-1.0-plus license in file"
### Description

Having C# sourcefiles which are using typenames "gpl" are being incorrectly detected as "GPL 1.0 or higher" licensed files.  This is no other licensing reference in these files included.

### How To Reproduce

Create a C# File testscan.cs containing this code:

    public class ScancodeTest
    {
      object gpl;

      public ScancodeTest()
      {
          // should produce a

[2020-03-05 13:14] ritiek commented on #1885
@pombredanne Hi, and thanks! Sure, I'd love to take this on!

I took a look at the GSoC idea page you linked. PURL seems a very nice idea. In the past when I worked with [PlasmaPy](https://github.com/PlasmaPy/PlasmaPy), it quickly became clear how much of a pain it can be working on parsing large particle datasets with no well-defined conventions. And then we discovered about [openPMD](https://git

[2020-03-06 13:41] rpotter12 commented on #1943
@pombredanne This bug is already solved in previous PRs. Please update the project on pypi also :)

[2020-03-06 21:51] rpotter12 opened #1954 "url not detected in parties"
### Description

Hi,
I was trying to use scancode. I ran scancode for https://raw.githubusercontent.com/rpotter12/whatsapp-play/master/setup.py

Commands used for whatsapp-play:
1. `wget https://raw.githubusercontent.com/rpotter12/whatsapp-play/master/setup.py`
2. `scancode setup.py --package --license --copyright --json-pp wplay.json`

Output:
[code]
***In this url is shown null but the original

[2020-03-07 11:12] ritiek commented on #1817
@Pratikrocks This may a bit late but if you're on Linux you can symlink the `python` executable to point to `python3.6`. This should help:

[code]

You could revert these changes by running:
[code]

----------

Otherwise, if you're on Windows I'm not sure if this would work but try editing your $PATH variable such that the order of directories with the python 3.6 executable comes after python 3.7.

[2020-03-07 11:23] Pratikrocks commented on #1817
Thanks a lot it worked

On Sat, 7 Mar, 2020, 4:42 PM Ritiek Malhotra, <notifications@github.com>
wrote:

[2020-03-07 12:07] ritiek opened #1958 "Test for Python 3.7 and Python 3.8 on CI"
Currently, Travis CI and Azure Pipelines run checks only on Python 2.7 and Python 3.6. However, newer Python minor releases can sometimes bring out breaking changes, which means that ScanCode could fail to run properly on such Python versions. It should be a good idea to also add support for Python 3.7 and Python 3.8 on our CI to make sure ScanCode runs as expected on these Python versions too.

-

[2020-03-07 12:47] ritiek commented on #1947
@abd96 What Python version are you on? I can't seem to reproduce this on my Linux machine either with Python 3.6 or Python 2.7.

Are you also able to reproduce this error when scancode is installed from GitHub?

[2020-03-07 16:12] MankaranSingh commented on #1947
Same, i tried on Windows and can't seem to reproduce this issue on both python 3 as well as 2

[2020-03-08 06:28] rpotter12 opened #1959 "wrongly detected data"
### Description

Hi,
I ran scancode for https://raw.githubusercontent.com/rpotter12/whatsapp-play/master/setup.py

Commands used for whatsapp-play
1. `wget https://raw.githubusercontent.com/rpotter12/whatsapp-play/master/setup.py`
2. `scancode setup.py --package --license --copyright --json-pp wplay.json`

Output:
[code]
***In this download_url is shown null but original file contains the data***

[2020-03-09 05:47] ChinnuJose commented on #1950
@pombredanne Could you please comment on this

[2020-03-10 17:15] Pratikrocks opened #1962 "Against DRM License is not being detected"
### Description
Hi ,
I was trying to scan Against DRM license file (which was in .js extension)
![Screenshot from 2020-03-10 22-36-26](https://user-images.githubusercontent.com/44219625/76339559-4242d180-6320-11ea-9386-ecb623e80bcb.png)

Upon scanning scancode is not detecting the license associated with it.

![Screenshot from 2020-03-10 22-36-58](https://user-images.githubusercontent.com/44219625

[2020-03-10 19:33] viragumathe5 commented on #426
@pombredanne I really want to comment on this and
so to achieve this I think
1. From the last day, I was doing some searches on documentations of projects and all so if the directory is for documentation then it must have more files of markdown or HTML or YML files if the directory is of some plugins then it must have more numbers of script files and some tests which also includes some script file

[2020-03-10 23:30] pombredanne commented on #1950
@ChinnuJose thank you for the report and sorry for the late reply!
Is this something that still happens with 3.02? How much RAM do you have on this machine or VM?

[2020-03-10 23:33] pombredanne opened #1964 "Update macOS image on Azure pipelines"
The macOSX 10.13 VM are being retired.
[code]
See https://devblogs.microsoft.com/devops/removing-older-images-in-azure-pipelines-hosted-pools/

We need to replace the 10.13 image with the 10.14 in our azure pipelines

[2020-03-11 00:03] pombredanne commented on #863
@dakshaladia Sorry for the late reply... actually @AyanSinhaMahapatra is already working on that one

[2020-03-11 06:31] ummer9987 commented on #1950
@pombredanne
This was happening with version 2.2.1 then we upgraded it then the issue was gone. Now we are facing the same issue in 3.0.2. The issue happening with the scancode server integrated with our application production server, which will have more scancode triggering that sandbox. Is there any limit for the packages to be scanned?
RAM :32GB
RHEL  : Red Hat Enterprise Linux Server release 7

[2020-03-11 13:31] AyanSinhaMahapatra commented on #1813
This is now updated and has issues from https://github.com/nexB/aboutcode/issues/32 here. As that issue is being closed.

[2020-03-11 17:38] pombredanne commented on #1907
On https://github.com/nexB/scancode-toolkit/pull/1963#issuecomment-597753225 @AyanSinhaMahapatra wrote:

3. #1907  Even after having a 100% match coverage with the correct `gpl-3.0-plus` LICENSE(not rule), matches with another `free-unknown` Rule. [File](https://drive.google.com/open?id=1mLH7F1mow1jUZ1jZJyIzpjfuwDcUtocN)

[code]

Even if the `free-unknown` rule's relevance is decreased to 50, noth

[2020-03-11 17:42] pombredanne commented on #1907
@AyanSinhaMahapatra the actual full scan results are these (when using the 12-03-license-updates branch) and this attached file

[1907-bison-2.4.3-getargs.c.txt](https://github.com/nexB/scancode-toolkit/files/4319819/1907-bison-2.4.3-getargs.c.txt)

[code]

the first GPL detection is for this line range:
[code]
the second detection is for the `free-unknown` for this line range:
[code]

These are t

[2020-03-11 19:52] AyanSinhaMahapatra commented on #1907
@pombredanne Yes, I did not notice that. Now #1908 is also solved since it's similar.

But this second text here 349 -350 is very generic, this function text got detected.
[code]
Now, only these two lines are available for detection , i.e. "This is a free software ... PARTICULAR PURPOSE" what could be done in this case?

[2020-03-11 20:07] pombredanne commented on #1907
@AyanSinhaMahapatra AFAIK not the whole function was detected, only this... correct?
[code]

What is the problem there? this is detected as some `free-unknown` license... which is what this is. Not sure we could do anything else, or am I missing something?

[2020-03-11 20:09] AyanSinhaMahapatra commented on #1907
No that's exactly what's happening. I don't think we can do anything else here. Thanks!

[2020-03-12 00:02] pombredanne commented on #1907
@armijnhemel does this make sense?

[2020-03-12 16:40] nitish81299 opened #1966 "./configure command causes error with exit status 1."
### Description

Trying to setup scancode-toolkit using `./configure` command.

[code]
### How To Reproduce
1) Cd in to cloned repo.
2) run `./configure`
3) See the error

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
Manjaro
* What version of scancode-toolkit was used to generate the scan file?
3.1.2
* What installation method was used to install/run scancode? (pip

[2020-03-12 16:53] majurg commented on #1966
@nitish81299 What version of python are you using?

[2020-03-12 17:04] nitish81299 commented on #1966
I am using python 3.8.1, but also tested the build with virtualenvironment of version 3.6.

[2020-03-12 17:59] TG1999 commented on #1964
Hi, I checked the azure-pipelines.yml it has both the images 10.13 and 10.14 so should I just remove that 10.13, since 10.14 is already there

[2020-03-12 19:54] pombredanne commented on #1964
@TG1999 yes :+1:

[2020-03-13 00:42] pombredanne opened #1971 "Do not include doc tools in the standard install/setup"
See https://github.com/nexB/scancode-toolkit/blob/3ea6e3e0b9a05a7ffe9a66f14acac509ddb8deb8/setup.py#L224
These should be included in the base distro as they are used only to generate the doc,

[2020-03-13 00:51] pombredanne commented on #1966
@nitish81299 3.8.1 would likely be the issue, we do not have support for it yet when using configure as some third-parties would need to be recompiled ... Can you try this:
1. `git clone ...`
2. `python3 -m venv .`
3. `source bin/activate`
4. `pip install -e .`

[2020-03-13 07:58] nitish81299 commented on #1966
I tried to do in python3.6 venv but I am still facing the same issue.

All the 4 steps that you mentioned worked perfectly but when I run `./configure` I getting the same issue.

[2020-03-13 17:13] ritiek commented on #1966
@nitish81299 This is really weird.

Just to confirm - what is your python and pip version as indicated by
[code]
?

[2020-03-13 18:12] nitish81299 commented on #1966
`Python 3.6.10`
`pip 18.1`

[2020-03-13 18:42] ritiek commented on #1966
I see. What if you manually install `future` via pip:
[code]

Does it still fail? If it does fail, try running it again with verbose output enabled:
[code]
and post the output here.

[2020-03-13 23:01] rpotter12 opened #1974 "add .opam file checker"
## Short Description
Currently there is no implementation for checking .opam file. Opam is a source-based package manager for OCaml. It supports multiple simultaneous compiler installations, flexible package constraints, and a Git-friendly development workflow. opam files contains the information of ocaml project.

## Possible Labels

- new feature

## Select Category

-  Enhancement [ ]
-  Add Li

[2020-03-15 02:56] qduanmu opened #1976 "Confusing license 'ps-or-pdf-font-exception-20170817'"
### Description
The license ['ps-or-pdf-font-exception-20170817'](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/licenses/ps-or-pdf-font-exception-20170817.LICENSE) states that it is the GNU Affero license, but the identifier "ps-or-pdf-font-exception-20170817" makes me think that it *not* a license but an exception to the license. Related SPDX link for this license is

[2020-03-15 09:26] nitish81299 commented on #1966
[code]

[2020-03-15 09:38] ritiek commented on #1966
Hm. It says `future` is already installed. Is `./configure` still failing? Perhaps with a different error?

[2020-03-15 09:39] nitish81299 commented on #1966
I performed a simple reboot and refollowed @pombredanne instructions and it's working.

I noticed that error is coming due to `python version 3.8`.

Thank you all.

[2020-03-15 14:29] majurg commented on #1966
Closing this for now. See #295 for process towards supporting python 3.x+

[2020-03-15 14:29] #1966 closed

[2020-03-16 11:15] darkdebo commented on #1976
Can I work on it

[2020-03-16 11:18] darkdebo commented on #1881
Can I work on it to give more details about the windows environment...

[2020-03-16 12:27] AyanSinhaMahapatra commented on #863
@pombredanne I've already written a script to download all these license texts (and some notices) and performed a scan of them. In the process of analyzing the results, as the scan result json is pretty long, 10k lines. I had a few questions btw,

1. The script I wrote is of similar fashion to this script added before [here](https://github.com/nexB/scancode-toolkit/pull/908), but this just extract

[2020-03-18 13:57] decamajo opened #1978 "FFTPACK License incorrectly identified as GPL (!)"
### Description

Extract licenses information from the pffft.c file produces unexpected results. These results does not match the license information inside the file. Same issue for pffft.h. Expected is FFTPACK. got is BSD and GPL (!)

### How To Reproduce

1. Create a test folder
2. Download the pffft.c file into a "src" folder inside the created folder
https://github.com/marton78/pffft/blob/mast

[2020-03-18 16:26] pombredanne commented on #1978
@decamajo Thank you for the report.
This is looking like a bsd-new/3-Clause BSD will clauses order shuffled which is a rare and new thing!
If this is confirmed, then we could treat that as a plain `bsd-new` as the order of the clauses should not matter too much... But I can see enough small text differences that while this is a bsd-new in the spirit, this may be its own new license text.
@johnmhor

[2020-03-18 18:06] richardfontana commented on #1978
@pombredanne While it is a variant of 3-clause BSD I think it is sufficiently textually distinct that I would treat it as a unique license (deserving of its own identification when scanning, I mean).

[2020-03-19 07:19] decamajo commented on #1978
Hi, thanks to everyone for taking time with this issue!

Just to be precise about our concern: scancode also outputs the file is under the terms of the GPL 2.0 license and we all know about the implications.

Anyway, we came with a workaround for our system (adding license information for the file manually) and therefore we downgrade the issue internally (from prio 1 to 3)

[2020-03-19 14:28] MankaranSingh opened #1979 "Treat 'Directories' differently from 'Files' in the JSON output."
## Short Description

The JSON outputs treats directories and files in the same manner. Due to this, each directory type in the output has unnecessary field such as `extension`, `size`, `sha1`, `is_binary`, etc, which ultimately make the JSON file unnecessarily bigger. for example:

`  "files": [
    {
      "path": "New Archive",
      "type": "directory",
      "name": "New Archive",
      "base

[2020-03-19 17:30] mjherzog opened #1980 "Merge Tutorials and How-to Guides"
We do not need separate top-level sections for Basic Tutorials and How-to Guides (esp. clear since most of the Basic Tutorials subsections are titled "How to....".
We should merge all of the content for these two sections under How-to Guides with "How to Add a New License" and "How to Add New License Rules after.." after "How to set what will be detected..".
"Add a Post-Scan Plugin" will be the la

[2020-03-20 14:53] majurg commented on #1979
@MankaranSingh Personally I do not see the value in this currently and have a feeling it may introduce bugs both in scancode and other tools. I could be wrong about this, but there is little benefit to be gained anyway. File size issues related to this disappear when you compress the file.

@pombredanne may have a different take.

[2020-03-20 15:43] MankaranSingh commented on #1979
hmm, it may cause issues for people already using this in production and some other tools.

[2020-03-21 06:49] MankaranSingh commented on #1947
I have tried to reproduce it on all systems, Linux, Windows, python3 and 2. I am not able to reproduce this. Can you provide the actual file you were trying to scan, maybe there could be problem with the file encoding ?

[2020-03-23 07:21] ummer9987 commented on #1950
@pombredanne Any updates?

[2020-03-23 17:10] #1964 closed

[2020-03-24 21:20] sutula commented on #1976
@darkdebo, do you have a preferred direction on this issue?  Do you plan to change the name of the license type to include "affero", or do you plan to leave the name and trim the matched text to include only the exception portion?

As input, I would prefer the second option, leaving the name alone and trimming the matched text to be only the exception portion.  Then scancode would report both affe

[2020-03-25 23:13] pombredanne opened #1983 "Add license detection rules for https://licensebuttons.net/"
## Short Description
https://licensebuttons.net/ contains several buttons to CC licenses that are found as links often enough.
For instance https://licensebuttons.net/p/80x15.png or https://licensebuttons.net/l/GPL/2.0/88x62.png
Each such URL should be added as a license detection rule

## Possible Labels

- new feature

## Select Category

-  Enhancement [x]
-  Add License/Copyright [x]
-  Scan F

[2020-03-27 08:08] MankaranSingh commented on #1983
All these would be considered as 'license reference', right ?

[2020-03-27 10:08] carmenbianca opened #1984 "Documentation says reference data is under CC-BY-1.0"
### Description

The documentation in getting-started/home says the following:

This appears to be incorrect to me. The reference data is licensed under CC0-1.0 according to the README:

(This should probably also be edited to use the SPDX license identifier, CC0-1.0).

### Link to Documentation Page

https://scancode-toolkit.readthedocs.io/en/latest/getting-started/home.html

### Select Category

[2020-03-27 14:16] MankaranSingh commented on #1983
I tried to add this as a license rule "https://licensebuttons.net/l/GPL/2.0/{{88x62.png}}" since they may add new resolutions or formats later. But this doesn't seem to work when i change the resolution or format in test file.

Also, See this https://licensebuttons.net/l/by-nc-nd/2.5/
It has a lot of sub folders according to region, so should i just add "https://licensebuttons.net/l/by-nc-nd/2.5/"

[2020-03-27 15:21] pombredanne commented on #1984
@carmenbianca thank you! I guess that would qualify as a genuine cobbler's son problem, would it?

[2020-03-27 15:23] pombredanne commented on #1984
@carmenbianca if a PR is not too much to ask that would be mucho welcomed!

[2020-03-27 15:26] pombredanne commented on #1983
Yes these are references...

Also, there is no such thing as curly braces to abstract parts such as in `{{}}`
Instead of `https://licensebuttons.net/l/GPL/2.0/{{88x62.png}}` just craft eventually two rules:
- `https://licensebuttons.net/l/GPL/2.0/88x62.png`
- `https://licensebuttons.net/l/GPL/2.0/`

yes that's an excellent approach! :+1:

[2020-03-27 19:58] Abhishek-Dev09 commented on #1958
@ritiek : We deosn't support python beyond 3.6.8 . This issue already created https://github.com/nexB/scancode-toolkit/issues/1817 . And we are working on it.

[2020-03-27 19:58] #1958 closed

[2020-03-28 18:08] carmenbianca commented on #1984
@pombredanne Will craft a PR after the weekend :+1:

[2020-03-29 01:16] manzurulislam789 opened #1986 "https://github.com/nexB/aboutcode.wiki.git"
## Short Description

## Possible Labels

- new feature

## Select Category

-  Enhancement []
-  Add License/Copyright []
-  Scan Feature []
-  Packaging []
-  Documentation []
-  Expand Support []
-  Other []

## **Describe the Update**

## **How This Feature will help you/your organization**

## **Possible Solution/Implementation Details**

## **Example/Links if Any**

## **Can you help with th

[2020-03-29 12:36] n1khilmane opened #1987 "Sample snap package"
## Short Description

## Possible Labels

- new feature

## Select Category

-  Packaging

## **Describe the Update**

Update is regarding creation of snap packages for Linux distros for scancode-toolkit.

## **How This Feature will help you/your organization**
Snap is a package format similar to .rpm or .deb specifically created for snappy package manager.
It helps you to:
-build and then publish

[2020-03-30 01:12] chinyeungli opened #1989 "Enhance package scan with API request for package-lock.json and yarn.lock"
There are many useful metadata that can be extracted from package-lock.json and yarn.lock files which scancode's package scan should parse and log these data.

[2020-03-30 03:51] qduanmu commented on #1976
Hi @pombredanne , any opinion on this please?

[2020-03-30 15:59] Pratikrocks opened #1990 "VirtualCodebase is showing error results when files are having the "fingerprint" attribute in it"
### Description

Hello all,
When I was scanning a json file using the scancode ,I was receiving few errors.
This is the [json file](https://drive.google.com/open?id=1lY0wctipt5YUxE10lJxq7pHnE5h78LTp) which I was testing
The following is the errors I received
[code]
This error is because of the presence of the "fingerprint" attribute in the files.

### System configuration
Ubuntu 18.04 ,Python3.6.9

[2020-03-30 16:22] pombredanne commented on #1976
@qduanmu @sutula sorry for the late reply!

Here is my take: the license should not include this notice:

the following exemption:

This is an Affero GPL notice of its own
So I agree with you and I suggest these:
1. remove that part from the standard text for this exception such that if is ever seen alone it is detected alone
2. add a rule that combine both and return the expression `agpl-3.0 WITH

[2020-03-30 17:05] Pratikrocks commented on #1990
@pombredanne @majurg if this is a valid issue, can I go for it?

[2020-03-30 18:40] JRavi2 commented on #1989
@chinyeungli Aren't we already parsing package-lock.json and yarn.lock files [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/npm.py#L822) and [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/npm.py#L929)?

[2020-03-30 22:12] chinyeungli commented on #1989
Thanks @JRavi2 for pointing out.
The current code will get the name and version from these lock files. The purpose of this ticket is to take one step futher to have an API request to get the license/copyrigt information from the packages.
For instance,
For `@angular-builders/custom-webpack`, we will get the package information from https://registry.npmjs.org/@angular-builders/custom-webpack and th

[2020-03-30 23:04] chinyeungli commented on #1989
actually this need to be on hold as this may not be a good fit for scancode-toolkit.

[2020-03-31 00:11] qduanmu commented on #1976
@pombredanne , thank you. Hi, @darkdebo , will you work on this?

[2020-03-31 14:53] pombredanne commented on #1976
@qduanmu I have a fix in a branch that I will push tomorrow at the latest ;)

[2020-04-01 01:39] mjherzog commented on #895
This needs to be in the RTD documentation, not the wiki (which will be deprecated soon).

[2020-04-01 01:50] mjherzog opened #1991 "Redirect to ScanCode Workbench RTD"
### Description

The documentation for ScanCode Workbench is out-of-date and needs to be replaced with a very simple summary of what SCWB does and links to the current SCWB RTD pages for everything else.

### Link to Documentation Page

https://scancode-toolkit.readthedocs.io/en/latest/tutorials/how_to_visualize_scan_results.html#how-to-visualize-scan-results

### Select Category

-  Inconsistency

[2020-04-01 19:04] mwelsh1118 opened #1992 "scancode -h fails on pip install"
### Description

On scancode -h, I receive a pip install failure. Subsequent calls to scancode -h fail with a message about C:\scancode-toolkit-2.2.1\bin\scancode being missing. If I delete the bin junction point, I can re-run scancode -h and produce the initial pip failure.

### How To Reproduce

Copy scancode-toolkit-2.2.1.zip contents to C:\scancode-toolkit-2.2.1

`pip install --no-allow-extern

[2020-04-01 21:53] pombredanne commented on #1992
@mwelsh1118 the combination of versions you have will not work.
Please try at least ScanCode 3.1.1 for any Python 3.6 usage.
2.2.1 is a rather old version and will surely not work with Python 3

[2020-04-01 22:01] mwelsh1118 commented on #1992
@pombredanne Thanks. I tried 2.2.1 because it was marked as the "Latest release"; all others were pre-release.

I had a similar problem with 3.1.1, though.  And unlike 2.2.1, after I delete the bin junction point, I still get errors about C:\scancode-toolkit-3.1.1\Scripts\scancode not being an operable program.

[2020-04-01 23:08] majurg commented on #1989
@chinyeungli @JRavi2 As far as the API request portion, this is the job of an external tool for now. Scancode should not go out to the web during a scan.

However, we want to make sure the `yarn.lock` parsing returns a pURL for each dependency found in the `yarn.lock` file. There may be a ticket out there already for this, but if not, I think we can use this one.

[2020-04-02 01:49] chinyeungli commented on #1989
closing as this does not fit with the scancode toolkit

[2020-04-02 01:49] #1989 closed

[2020-04-02 01:59] chinyeungli opened #1993 "Incomplete/Incorrect result for yarn.lock and package-lock.json from package scan for pacakge that have '@' in namespace"
### Description

With the following yarn.lock context
[code]
The tool parses the first 3 alright. However, it fails to parse the forth element `"@angular-builders/custom-webpack@^7.0.0":`, correctly. The following is the result:
[code]

The expected result should be
[code]

In addition, the `lodash` does not exist in the output as well.

Following is the complete output from the package scan for t

[2020-04-02 06:12] 00032118 opened #1994 "extractcode error:File name address is longer than 255 bytes"
D:/apptest/nqi/nia-npa-workflow-sl_master_20200218180521_5860907_B72.n0063.tar.gz-extract/nia-npa-workflow-sl/nia-npa-workflow.tar.gz-extract/nia-npa-workflow-1.0-SNAPSHOT.jar: [(u'd
\\scancode-toolkit-3.0.0\\tmp\\scancode-tk-3.0.0-aerdzt\\scancode-extract-c__kic\\com\\codahale\\metrics\\InstrumentedScheduledExecutorService$InstrumentedCallable.class', u'**D:\\apptest\\nqi\\
workflow-sl_master_202

[2020-04-02 08:01] MankaranSingh opened #1995 "Treat 'comments' and 'actual code' differently while scanning."
## Short Description

Examine the following code sample:

[code]
although, they don't really signify those licences, but scancode outputs following:
 - cc-by-4.0
 - GPL 2.0
 - GPL 1.0 or later

It would be better if scancode separates comments/docstrings  and actual code in a file before scanning since the the licence or stuff like that are almost always found in comments/docstrings.

For this we

[2020-04-02 08:55] pombredanne commented on #1995
That's a great idea!

You have to be extremely careful when you use synthetic, made up examples: in most cases, these do not exists in the real world. And using these, you may end up not solving any problem and/or over fitting your solution to a non-problem

That said, I am all for it: you can splits things in eventually three categories:
code proper, literals variables in code and comments, thoug

[2020-04-02 09:03] pombredanne commented on #1994
Thank you for the report!

Are you on Windows 10 or 7?

On the surface of it it looks like a possible path length limitation on Windows. Your path is about ~243 char long.

1. Can you try to rename "nia-npa-workflow-sl_master_20200218180521_5860907_B72.n0063.tar.gz" to "n.tgz" and move it to a new dir d:\a ? And then rerun the extract again with this?

2. Do you mind to try if this still happens w

[2020-04-02 09:27] MankaranSingh commented on #1995
That's a really great insight to learn ! II'l be more carefull next time.

I guess if we gather enough evidence that almost all the licence statements are found in comments, we may avoid scanning the actual code (not sure if this would be good, maybe add something as a 'shallow scan' option ?) This would speed up things as most of the file is made up of code rather than comments.

[2020-04-02 09:53] pombredanne commented on #1995
@MankaranSingh the idea of a lighter, lesser assurance driven by a command option can make sense. Sometimes it can make sense to get a quicker feel for what's in there.

[2020-04-02 12:15] MankaranSingh commented on #1995
@pombredanne yes,  some codebases would specifically benefit from this, there can be following outcomes:

 - Less false positives with improved speed
 - no affect on accuracy with improved speed
 - less accuracy but improved speed
 - full scan with extra info of category (comment, variable, literals, actual code) so user can decide for himself.

the amount of percentages of outcomes is unknown tho

[2020-04-03 00:00] mjherzog commented on #830
When you convert a Scan JSON file (run with any options beyond --info) to CSV format you end up with a file that is almost impossible to use for any type of analysis because of the arbitrary number of rows per Resource when the data for that Resource includes one or more lists.

The first step should be to offer a new output option --flat-csv which would allow you convert a JSON Scan file to a fla

[2020-04-03 12:58] pombredanne opened #1996 "restore progress reporting to extractcode"
Following recent changes (may be #1893 ?) there is no progress displayed with the --verbose option anymore, or rather this is display after the fact long after the extraction is completed and all at once... which really means that no progress info is really reported.

[2020-04-04 08:21] MankaranSingh commented on #1885
Sorry for inconvenience, the above references were made by mistake due to wrong rebasing while signing off my commits for another pull request.

[2020-04-06 13:32] n1khilmane commented on #487
Hey @aj4ayushjain @pombredanne , Regarding the second task mentioned here , how much work is done on getting an official debian package? or rpm/fedora? how can i help in that ?

[2020-04-07 02:40] sutula opened #1999 "other-permissive includes references to now-defunct visualidiot.com"
### Description

https://github.com/nexB/scancode-toolkit/issues/960 added three rules related to the visualidiot license.  Since that time, the referenced website has changed such that the license isn't visible any more.  It may be that the domain has changed hands or that the original author uses these references for publicity or click-bait.  In any case, I would take issue with continuing to ch

[2020-04-07 09:02] pombredanne commented on #1999
@sutula good catch! And thank you for this. Your suggestion to add a new license for that makes the most sense to me, even if this a legacy license of sorts there are still enough examples of this https://github.com/search?q=%22persons%2C+or+any+similar+actions+percolating+the+given+%22&type=Code

This would be best qualified as some kind of proprietary license e.g. using the "Proprietary Free" ca

[2020-04-07 18:23] aj4ayushjain commented on #487
@n1khilmane
This could be pulled off by anybody being an official debian maintainer easily and if you are not one then i guess you need to work on that bit and then publish the package on debian publicly but with the current constraints it's tough though.

[2020-04-09 08:48] chinyeungli commented on #1993
For the package-lock.json
`"@angular/animations",`
is parsed as
[code]
The `@angular` should fall in "namespace" and the "name" should be `animations` only

In addition,
the `purl` from the json output is
[code]
which is incorrect as the `@` sign has been translated to `%40`

[2020-04-09 14:37] mwelsh1118 commented on #1992
@pombredanne Do you have any other suggestions?

[2020-04-09 19:15] pombredanne commented on #1992
@mwelsh1118 here is what I can see when running on fresh Windows 10 VM.

1. I installed the Python version you have from this (32 bits) https://www.python.org/ftp/python/3.6.4/python-3.6.4.exe
In the installer I checked "Add Python 3.6 to PATH". Then I click the "Customize Installation link"->the "Next" button and checked "Install for all users". Then "Install" button. Then "Close"

2. I fetched h

[2020-04-09 20:23] n1khilmane commented on #1378
@pombredanne since this license is detected weakly what new rules you except to add in this?

[2020-04-10 12:38] n1khilmane commented on #1381
Hey!! @pombredanne may i know how much is the work done regarding the issue, so i can work on this issue?

[2020-04-10 16:34] tdruez opened #2003 "Feedback on using `run_scan` from Python"
I've started to use the internal ScanCode API to run my scans using `run_scan`.
It works great but I found minor issues on which we could improve for the Python API:

### 1. Options are not set in the `headers`
Using the command line, we got a proper list of used options during the scan:
[code]
Those are missing when calling directly `run_scan`:
[code]

### 2. Scan options are not validated
[code]

[2020-04-10 20:35] manzurulislam789 opened #2004 "Nnn"
## Short Description

## Possible Labels

- new feature

## Select Category

-  Enhancement []
-  Add License/Copyright []
-  Scan Feature []
-  Packaging []
-  Documentation []
-  Expand Support []
-  Other []

## **Describe the Update**

## **How This Feature will help you/your organization**

## **Possible Solution/Implementation Details**

## **Example/Links if Any**

## **Can you help with th

[2020-04-10 20:37] manzurulislam789 commented on #2004
Notification folder

[2020-04-10 20:38] manzurulislam789 commented on #2004
Filed

[2020-04-10 20:39] #2004 closed

[2020-04-11 06:49] pombredanne commented on #2004
?

[2020-04-11 18:22] n1khilmane commented on #1377
hey! @pombredanne i can see the PR #1787 you mentioned above is closed, there were certain tests left i suppose , is it fine to contribute further for  this issue?

[2020-04-12 17:57] #1984 closed

[2020-04-13 00:52] chinyeungli opened #2006 "Missing information in the CSV output"
Some of the scans have the same key name output such as `start_line`/`end_line` which is not a problem in JSON format as this is logged in the nested list. However, it is a problem in the CSV output because we only have 1 column for `start_line` and ` column for `end_line` which user don't know if this piece of information is from license/copyirght/emails/urls?

Same behavior if we transform the .

[2020-04-13 04:02] chinyeungli commented on #2006
My bad. This is invalid.

[2020-04-13 04:02] #2006 closed

[2020-04-13 18:36] pombredanne opened #2007 "Imrpove SPDX license identifiers handling"
There are some non-standard use of Licence (with a `C` (and not an `S`) as in the English spelling) https://github.com/BramvanPelt/PPDecryption/blob/6de599af84cb4dc706df6e448c552bd098ea47d7/PP-Decrypt/src/nl/logius/resource/pp/key/PseudonymClosingKey.java#L3

There are also some corner cases where a rule with a text of such as:
`SPDX license identifier: BSD-3-Clause`
... and the scanned text conta

[2020-04-13 22:44] mjherzog opened #2008 "Create "data dictionary" for all SCTK fields"
We need a comprehensive "data dictionary" of all fields that may be present in a ScanCode output file.
The minimum requirement is a list of fields with type (single value, list or ?)  and description. This should, of course, be versioned SCTK releases.
We have some of this information for the CSV output at https://scancode-toolkit.readthedocs.io/en/latest/cli-reference/output-format.html#custom-ou

[2020-04-13 22:45] mjherzog commented on #112
Closing in favor of #2008

[2020-04-13 22:45] #112 closed

[2020-04-14 00:26] mjherzog opened #2009 "Change name of first column in CSV output from "Resource" to "path""
The CSV outputs from SCTK currently name the first column "Resource" instead of "path" which is the field name from the corresponding JSON output. This is probably a hold-over from our old version of Toolkit which recognized a CSV file as a "BOM" based on the name Resource for the first column.

We should revert the name of the first column to "path" for all CSV outputs from SCTK.

[2020-04-14 21:26] #1999 closed

[2020-04-15 07:33] #1993 closed

[2020-04-17 17:33] mwelsh1118 commented on #1992
This was the part I missed! After wiping out the original install, re-extracting, and running configure.bat, I was able to get scancode -h to print the help. Thanks for your help!

[2020-04-17 17:33] #1992 closed

[2020-04-20 03:52] chinyeungli opened #2013 "License scan for Domain.java will return `public-domain` because of the constructor"
### Description

If a java file is named "Domain.java", the licesne scan will return `public-domain` as a detected license because of the constructor statement
i.e.
[code]
For instance,
https://introcs.cs.princeton.edu/java/42sort/Domain.java.html

Scancode should be smart enough to tell this is a constructor statement instead of comment/notice etc.

[2020-04-20 12:05] JRavi2 opened #2014 "Can't run scancode in ArchLinux with libffi-3.3-3"
### Description

I just did a full system update, which included upgrading libffi from 3.2.1-4 to 3.3-3. But after that I can't run scancode. Just running `./scancode --help` gives the following error:

[code]

I tried re-configuring and also configuring a fresh clone, with `./configure`, but got the following error :
[code]

Tried downgrading to libffi-3.2.1-4, and everything works perfectly fine

[2020-04-20 23:59] chinyeungli commented on #1995
This is not exactly the same, but can be related: https://github.com/nexB/scancode-toolkit/issues/2013

[2020-04-21 06:34] pombredanne commented on #1377
@n1khilmane sure thing! :+1:

[2020-04-21 16:37] pombredanne commented on #2014
@JRavi2 Thanks, so we need to put an upper version range for this in our setup

[2020-04-21 18:04] JRavi2 commented on #2014
@pombredanne It appears that this issue is not specific to scancode. I just found out at a forum that others are also encountering the same problem since the new libffi update was released for Arch, like [here](https://bugs.archlinux.org/task/66222) and [here](https://bbs.archlinux.org/viewtopic.php?id=254650). I too am having some problems related to libffi, while installing python modules on my

[2020-04-22 15:56] pombredanne opened #2015 "Incorrect dependencies purl"
### Description
I have this (simplified) package-lock.json file: [package-lock.json.txt](https://github.com/nexB/scancode-toolkit/files/4517234/package-lock.json.txt)

[code]
I scan this with develop and `scancode -p  --json-pp p.txt package-lock.json`: [p.txt](https://github.com/nexB/scancode-toolkit/files/4517251/p.txt) and I get this dependencies section:

[code]
These are NOT resolved and we s

[2020-04-25 14:40] pombredanne opened #2018 "Add support for Pants PEX Python binaries as Package"
## Short Description
This is style of Python binaries that contain all their deps.
See https://github.com/pantsbuild/pex
We have limited support for them as archive and .pex package extension but no code to support that otherwise.

[2020-04-26 14:39] Pratikrocks opened #2019 "Virtual Codebase shows `RecursionError: maximum recursion depth exceeded`"
### Description

`Virtual Codebase` is showing `Recursion Error` upon using its Virtual Codebase , for scanning a this following [json file](https://drive.google.com/file/d/1okZlHwP0eziNY2ghQ3iwWwUZm3YUvEh7/view?usp=sharing)
The command used for scanning is `scancode  --json-pp  ../asd.json --from-json  new.json`
The following are the exceptions raised:
![Screenshot from 2020-04-26 20-00-17](https

[2020-04-26 14:58] Pratikrocks commented on #2019
@pombredanne  , @majurg can you kindly have a look in the issue, I was facing it when I was using the `Virtual codebase`

[2020-04-26 17:08] Pratikrocks commented on #2019
The error is raised for json files where `--full-root` is enabled during the scan (as in the linked json file above), for rest of the files where `--full-root` is not enabled this error do not occour

[2020-04-27 08:19] pombredanne commented on #954
At this stage we have the base code for collecting data from Windows DLLs but we do not have yet a plugin for that https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/win_pe.py

[2020-04-27 08:55] pombredanne opened #2020 "Not all RPM data are collected"
### Description
Using ftp://ftp.ntua.gr/pub/linux/fedora/linux/updates/32/Everything/SRPMS/Packages/z/zathura-0.4.5-1.fc32.src.rpm I have these data:
[code]
but with scancode (latest develop) I get this:
[code]
I am missing:
- `bug_tracking_url`
- a `qualifier` that this is an src rpm
- a `qualifier` for the architecture `armv7hl`
- the `size`
- I am not sure `Group` is correctly mapped to keyword

[2020-04-28 05:14] ummer9987 commented on #1950
@pombredanne Is there any limit for using the scancode on packages. We are still facing the issue. After some package upload scancode would not work.
please find the error screen attached.
![image](https://user-images.githubusercontent.com/56027123/80434422-5d40c380-8917-11ea-953c-b5ba4a15fe9f.png)

[2020-04-28 05:25] Pratikrocks commented on #1950
@ummer9987 you can try with the latest version 3.1.2(from develop branch ) , I think this problem, should not arise with this version

[2020-04-28 05:28] Pratikrocks commented on #1950
@ummer9987  I think this error may also arise due to the more number of processes you are running in parallel (10), you can also reduce it or neglect it and try again

[2020-04-28 05:50] ummer9987 commented on #1950
@Pratikrocks We are getting the same error when we reduce the number of process and removing the option
![image](https://user-images.githubusercontent.com/56027123/80451753-3d72c500-8942-11ea-9d5d-204fd1436d62.png)

[2020-04-28 06:03] Pratikrocks commented on #1950
@ummer9987 , okay
Try this command and tell the results
`./scancode -clip --json-pp - samples`

[2020-04-28 06:25] ummer9987 commented on #1950
![image](https://user-images.githubusercontent.com/56027123/80454027-ffc46b00-8946-11ea-9147-5241ec0e98ce.png)

[2020-04-28 06:30] Pratikrocks commented on #1950
Your system configuration are mucho fine for running scancode  , but still I am not getting why this error is ocouring  , However you can also try from the latest branch

[2020-04-28 13:42] pombredanne opened #2021 "Cannot install Scancode from source on Python 3.8.x"
There are issues reported where url.py cannot be recompiled and our url.py dependency is incorrect

[2020-04-28 18:57] Pratikrocks commented on #2021
Hi @pombredanne ,are you referring to the `url` wheels in the `thirdparty` directory which is not compatible with Py3.8?

[2020-04-29 16:48] mjherzog opened #2022 "Announce deprecation of Windows 32-bit and Python 2.7 support"
#1435 # Description

We need to announce that SCTK v3.2 will be the last to support Windows 32-bit or Python 2.7.
We probably need to post this prominently in at least two places:
- README on GitHub
-  A new Announcement or similar section in RTD.
The announcement should be clear about whether there will be any exceptions for critical bugs.

[2020-05-04 17:02] pombredanne opened #2023 "Recognize site-packages installed python packages (e.g. dist-info)"
See also https://github.com/nexB/scancode-toolkit/issues/253 for details

[2020-05-05 16:03] DennisClark opened #2024 "Proposed new Summarization option to identify "Additional Licenses""
Please consider a new Summarization option to identify and collect "Additional licenses"  in license-expression format:

Suggested definition of the new field:

Identifies licenses detected in the lower level files of a software package that are not the same as the license(s) declared as primary for a package (or software project). Note that these licenses are often assigned to files intended for

[2020-05-06 13:36] is2ei opened #2025 "`virtualenv` is required but not mentioned."
### Description

I found I need to run `pip install virtualenv` before running `./configure`.

### Link to Documentation Page

https://github.com/nexB/scancode-toolkit/blob/develop/CONTRIBUTING.rst

### Select Category

-  Inconsistency []
-  New Section Request []
-  General Improvement [x]
-  Typo/Mistakes []
-  Other []

[2020-05-06 13:53] is2ei opened #2026 "Should check boxes be placed at the beginning of the line?"
### Description

I think check boxes should be placed at the beginning of the line.

like:

- [ ] something...
- [ ] something...

not:

- something []
- something []

### Link to Documentation Page

https://github.com/nexB/scancode-toolkit/blob/develop/.github/ISSUE_TEMPLATE/--doc-report.md
https://github.com/nexB/scancode-toolkit/blob/develop/.github/ISSUE_TEMPLATE/--feature-request.md

### Sele

[2020-05-07 05:29] chinyeungli opened #2028 "memoryerror in output plugin"
### Description

scancode fails to write to the output for scanning ~200k files.

[code]

### How To Reproduce

The command that I used was
[code]

[2020-05-07 09:01] pombredanne commented on #2025
@is2ei you wrote:

I am sorry things did not work out for you alright!
Normally you do not need to install or create your own since virtualenv is included in the checkout.
Can you provide a few extra details like which OS, version of Python,etc. you have used and face an issue with?

[2020-05-07 15:10] Thra11 opened #2029 "Rule for linux's MODULE_AUTHOR"
## Short Description
Linux module source code often lists authors at the end of the file using a macro, `MODULE_AUTHOR("Author Name <author email>")`. This is not currently recognised by scancode-toolkit.

## Possible Labels

- new feature

## Select Category

-  Enhancement []
-  Add License/Copyright []
-  Scan Feature [x]
-  Packaging []
-  Documentation []
-  Expand Support []
-  Other []

##

[2020-05-08 14:43] is2ei commented on #2025
@pombredanne

OS information:
[code]

Python information:
[code]

I tried to attach the error message but I couldn't reproduce it after I installed `virtualenv` manually. If no one experienced the same issue, I guess this issue should be closed.

[2020-05-09 13:02] is2ei opened #2030 "Link is dead in issue templates"
### Description

This link is dead:
https://aboutcode.readthedocs.io/en/latest/aboutcode-docs/writing_good_commit_messages.html

It causes CI failure:
https://travis-ci.org/github/nexB/scancode-toolkit/jobs/683851978

I found the doc was restructured:
https://github.com/nexB/aboutcode/commit/8ed78d27811c2d8303c8326a273444490150697b#diff-d667a7501caa44b6a7c09d58f1b0be83

The latest URL:
https://abo

[2020-05-09 19:42] Yash-Varshney opened #2032 "GSoC and GSoD page doesn't contains description of it"

[2020-05-09 19:44] rpotter12 commented on #1866
@pombredanne @majurg This issue should be open again as these warning appeared again.

[2020-05-09 19:53] #2032 closed

[2020-05-09 22:54] nelullc opened #2033 "Copyright"
Running Linux

I have tried with both ScanCode v3.0.2 and V3.0.0. Tried install via pip and downloading / running directly.

Even the 'sample' directory used in the examples, throws this error 'if' copyright scan is enabled.

Error occurs for every file it scans

` SyntaxError: invalid syntax
  Path: rollo-backend-api-dev/api-admin/src/main/java/com/rollo/backend/admin/job/usps/UspsAdjustmentProce

[2020-05-12 06:02] tdruez opened #2034 "Temporary directory leftover"
### Description

I encounter multiple cases when using scancode-toolkit where temporary directories are created but not removed at the end of the execution.

### How To Reproduce

Some examples:
- `extractcode`
- `scancode --help`
- `scancode [with invalid args]`

### System configuration

* What OS are you running on? -> MacOS and Linux
* What version of scancode-toolkit was used to generate the

[2020-05-12 14:50] majurg opened #2035 "Parse Gemspec Files"
This is apart of GSoC 2020 phase 1.

We need to add the ability to parse `.gemspec` files and have them apart of a `--package` scan.

[2020-05-12 14:50] majurg opened #2036 "Parse Podspec Files"
This is apart of GSoC 2020 phase 1.

We need to add the ability to parse `.podspec` files and have them apart of a `--package` scan.

[2020-05-12 14:50] majurg opened #2037 "Parse requirements.txt files"
This is apart of GSoC 2020 phase 1.

We need to add the ability to parse `requirements.txt` files and have them apart of a `--package` scan.

[2020-05-15 17:05] rainerth commented on #1816
Any plans to enhance scancode towards reuse / SPDX-2.1 compatibility? We use reuse for a new OS project and it would be fantastic to use scancode. Currently this kind of headers are not detected:

// SPDX-FileCopyrightText: 2009-2020 Company, authors: Joe Doe
//
// SPDX-License-Identifier: MPL-2.0

Or
// SPDX-FileCopyrightText: Company
// SPDX-FileContributor: authors: Joe Doe
// SPDX-FileContribu

[2020-05-16 00:16] tieguy opened #2038 "consistent SPDX identifier usage in short_name and keys"
For some licenses, 'key' is an SPDX Identifier, while short name is not an SPDX identifier. For other licenses, the reverse is true. It seems like it would be better if this was consistent?

For example:
For Apache, key is `apache-2.0` (the SPDX identifier) and short_name is `Apache 2.0` (not SPDX identifier nor SPDX full name).

For BSD 2-clause, key is `bsd-new` (_not_ the SPDX identifier) and s

[2020-05-16 00:22] tieguy commented on #2038
(or documentation explaining the origin/reasoning for the inconsistency, so that people aren't tripped up? :)

[2020-05-16 00:53] tieguy opened #2039 "false positive: Apache"
### Description

scancode detects Apache in https://github.com/tartley/colorama/blob/master/README.rst

I can't for the life of me see why :(

### How To Reproduce

run scancode on colorama HEAD.

### System configuration

* What OS are you running on? MacOS
* What version of scancode-toolkit was used to generate the scan file? version 3.1.1
* What installation method was used to install/run scanc

[2020-05-16 00:54] mjherzog commented on #2038
@tieguy - Luis, As you probably know it took SPDX a very time to define license naming standards and it still takes a long time to add a license to the SPDX License List. We decided long ago to proceed with our own naming standard for license keys and names and then map to SPDX Identifiers if/when they are assigned. Currently, there are SPDX Identifiers for only about 20% of the licenses that SCTK

[2020-05-18 16:36] pombredanne commented on #2039
@tieguy if you use the --license-text option you will see exactly what is detected. With that said, the issue no longer exist in the latest develop branch which will soon be promoted to release and we have a BSD-3-Clause detected alright

[code]

[2020-05-18 16:41] pombredanne commented on #2038
@tieguy just to explain further, for each license we track both the "key" which is scancode's own stable indentifier and the "spdx key" which is present  if there is an SPDX id for that license.  When a scancode license that did not have an SPDX id gets one, we will sometimes --but not very often--  deprecate the scancode own "key" and create a new license... though we try to avoid that when possi

[2020-05-18 18:52] tieguy opened #2040 "pyparsing: gpl-v2 false positive (should be v3!)"
### Description

scanning https://github.com/pyparsing/pyparsing/blob/master/examples/pymicko.py returns GPL v2, should be v3.

### System configuration

* What OS are you running on?  MacOS
* What version of scancode-toolkit was used to generate the scan file? 3.1.1
* What installation method was used to install/run scancode? pip + pyenv

[2020-05-18 19:32] tieguy opened #2041 "pandas: false positive on GFDL, should be BSD-2-clause"
### Description

https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/src/inline_helper.h

### How To Reproduce

Scans as GFDL, text is:

`Copyright (c) 2016, PyData Development Team
All rights reserved.

Distributed under the terms of the BSD Simplified License.

The full license is in the LICENSE file, distributed with this software.`

### System configuration

* What OS are you running

[2020-05-19 18:04] JonoYang opened #2042 "Add field in Resource to show where a Resource was extracted from"
e.g. we have a scan of foobar.zip and foobar.zip-extract, where foobar.zip-extract is the extracted version of foobar.zip. Each Resource in foobar.zip-extract would have an `extracted_from` field that contains the path of `foobar.zip`.

[2020-05-19 21:27] JonoYang opened #2043 "Create package parser for Windows Package Manager manifest"
Manifest schema is found here: https://docs.microsoft.com/en-us/windows/package-manager/package/manifest?tabs=minschema%2Ccompschema

[2020-05-20 16:40] tieguy commented on #1901
I'd still much prefer something like Licenseref-BSD-unknown so that the end-user can make an informed policy decision. I take Richard's point that 3-clause is almost always the reasonable answer in that scenario, but still seems to me that the scanner should not be (silently) making that policy assessment.

[2020-05-20 16:41] pombredanne opened #2044 "Add support for lz4 archives"
These are not super common but they are supported by the latest libarchive

[2020-05-20 16:41] pombredanne opened #2045 "Add support for zstandard archives"
These are not super common but they are supported by the latest libarchive

[2020-05-21 22:15] pombredanne commented on #438
This is solved with #1835

[2020-05-21 22:15] #438 closed

[2020-05-22 16:20] pombredanne commented on #335
#616 is alos the ticket that was used to track this

[2020-05-23 20:16] pombredanne commented on #2033
@nelullc Do not close this if this is still an issue! Or did you figure out what the issue was?

[2020-05-23 21:01] nelullc commented on #2033
@pombredanne was not able to resolve the issue.

[2020-05-23 21:03] pombredanne commented on #2033
Do you mind trying the latest of the develop branch at https://github.com/nexB/scancode-toolkit/archive/develop.zip ?
Thanks!

[2020-05-28 19:00] DennisClark opened #2048 "Improve the license expression returned when only "GPL" with no version is detected"
When there is a reference to "GPL" with no version number, scancode-toolkit is "technically" correct and declares the license key to be gpl-1.0-plus in these cases, in spite of the fact that actual usage of gpl-1.0 is extremely rare, very old, and usually obsolete.  For example, recent scan results for a current moby release (moby-19.03.8.tar.gz) returned a list of 85 detections of gpl-1.0-plus bu

[2020-05-29 00:34] 00032118 opened #2049 "Error in version 3.0, everything is normal in version 2.9.9"
[root@localhost scancode-toolkit-3.0.0]# ./scancode --help
Traceback (most recent call last):
  File "/home/hf/scancode-toolkit-3.0.0/bin/scancode", line 11, in <module>
    load_entry_point('scancode-toolkit', 'console_scripts', 'scancode')()
  File "/home/hf/scancode-toolkit-3.0.0/lib/python2.7/site-packages/pkg_resources/__init__.py", line 484, in load_entry_point
    return get_distribution(di

[2020-05-29 00:36] 00032118 commented on #2049
[root@localhost scancode-toolkit-3.0.0]# sudo yum install python3.6-devel zlib bzip2-libs xz-libs libxml2-devel libxslt-devel
Loaded plugins: fastestmirror, langpacks
Repository base is listed more than once in the configuration
Repository epel is listed more than once in the configuration
Repository extras is listed more than once in the configuration
Repository updates is listed more than once i

[2020-05-29 00:43] 00032118 commented on #2049
bzip2-libs  has Already installed, libbz2.so.1.0  Does not exist, what is it

[2020-05-29 01:31] #2049 closed

[2020-05-29 08:36] pombredanne commented on #2049
@00032118 this is a known bug on Fedora and RPM-based distros for which there is a workaround (and should go away in the next version): #443

The solution thanks to @akaihola is to:
`sudo ln -s /usr/lib64/libbz2.so.1 /usr/lib64/libbz2.so.1.0`

[2020-05-31 16:41] AyanSinhaMahapatra opened #2050 "Data Loading/Cleaning from ClearlyDefined Dataset"
Data Formatting, Assertion, Stripping, and Loading for Cleaning Up data, having only the License Scan specific data. Clarifying on the different tasks

1. Loading

Scan Result Data from how it is collected from the ClearlyDefined
dataset (provided in the form of Postgres dumps), writing functions for connection, and loading/querying from tables.

2. Stripping

Unnecessary attributes from the Scan

[2020-05-31 16:54] AyanSinhaMahapatra opened #2051 "An Analysis of the Existing Rules"
1. Load in all the Rules/License-Texts in a Pandas Dataframe (and one without the texts for faster loading).

2. Analysis on the following contexts

a. Minimium Coverage
b. Relevance Scores
c. License Type [“unknown”, “other-copyleft", "permissive" etc]
d. Rule Length
e. Most Used Words across License Types (and their variance)
f. Rules vs License Texts

This would be used later, as all the Scan R

[2020-05-31 16:58] AyanSinhaMahapatra opened #2052 "Case specific classification of Licese Scans"
Divide dataset into 3 Parts (and more for more interesting groups, if detected later), each of them a specific case.

- Unknown License texts (entire file with a license text, not detected accurately)
- License Tag Detections (For False Positives among them)
- And the most important, when multiple licenses are detected with a low score and some detections are incorrect (the most important one)

Du

[2020-05-31 17:08] AyanSinhaMahapatra opened #2053 "Remove Identical/Correct Detections"
1. Removing Identical Cases across the same Package

Across one same package, there can be similar faulty license detection results, as there
might exist same license notices/pieces of text throughout the package files, referring to

- the same license
- some specific exception/variation of the same license

Only keep one of these cases, and delete the remaining. Also, preserve data on how many of

[2020-05-31 17:21] AyanSinhaMahapatra opened #2054 "Case: Multiple Licenses with Low Score"
Now it can be any of these cases -

- Entirely new license which is a mixture of already known ones [WITH exceptions, OR, AND cases]
- Multiple False Positives(some with low scores), even when the correct(similar) license rule match score is 100, here there might be more than one area of interest location-wise, one is detected properly, another is not.
- Multiple False Positives, the correct(simil

[2020-05-31 17:27] AyanSinhaMahapatra opened #2055 "Unknown License Text and License Tag Detection"
1. Unknown (New, previously unseen) License Text

● How to Detect/Segregate
● Adding new Licenses
● Adding new tests for these licenses

2.  All License Tags Detections, for possible False Positives

After segregation, all these License tag Detections have to be reviewed
semi-autonomously, as it’s entirely dependent on the context whether it is a correct
detection or False Positive.

Implement a G

[2020-05-31 17:47] AyanSinhaMahapatra opened #2056 "Automatic Rule/.yml file Generation"
The last part of analyzing the scan results is creating new rules (automatically) to add to the existing
repository of rules, and even attempts semi-automated .yml file generation.

1. Rule Generation

Grouping the license detections by location, and essentially, at last, these are the boundaries (start and end) of the matched text, and by stitching all the matched texts together from all these li

[2020-05-31 17:53] AyanSinhaMahapatra opened #2057 "Scale up to Large Datasets"
Research in the Pipeline

1. IO speed Analysis
2. Computation Bottlenecks
3. Memory/Processing Profiling
4. System Specific Changes in parameters
5. Chunking data and Batching Tasks

So that the pipeline can be effectively and efficiently scaled to very large datasets, to perform the analysis on the whole Clearly Defined Dataset.

[2020-06-02 15:20] pombredanne opened #2058 "Collect as-installed system and application packages"
We can detect a good bunch of as-installed packages through their manifests.
This is about something a tad different to collect as-installed package details based on either:
- specific layouts and installation manifests (such as a Python `site-packages` and dist-info or a Rubygems `vendor` or npm's  `node_module`)
- installation databases such as Debian dpkg database files, RPM installed db, alpin

[2020-06-02 15:37] pombredanne commented on #2058
@majurg ping ^ ... your take and help would be mucho welcomed there, starting with Debian (and debut?)

[2020-06-03 12:49] SrikanthShyamanur opened #2059 "--include option not working"
### Description

**_--include_** option is not working.

### How To Reproduce

Run scancode on samples folder with **_--include_** option

### ./scancode samples --json-pp samples_include_java.json --include "*.java"

### Output :
`Setup plugins...`
`Collect file inventory...`
`Scanning done.`
`Summary:         with 1 process(es)`
`Errors count:   0`
`Scan Speed:     0.00 files/sec.`
`Initial coun