[2022-02-02 07:09] #1461 closed

[2022-02-02 07:18] pombredanne commented on #514
At this stage I checked we have all the CC licenses except the non-english translations. This is tracked in https://github.com/nexB/scancode-toolkit/issues/139 so I am closing this now.

[2022-02-02 07:18] #514 closed

[2022-02-02 07:25] pombredanne commented on #974
The approach should be to:

1. create a scripted test that run license detection on each field of the list above. Push this in a PR
2. selectively add new license detection rules. Several of these short license references may not deserve such a rule though!. Push this in a PR

[2022-02-02 07:26] pombredanne commented on #2781
@tichavskym how did things worked our for you?

[2022-02-02 07:30] pombredanne commented on #1825
@AyanSinhaMahapatra  should this be closed in favor or only a dynamic listing based on the label?

[2022-02-02 07:37] pombredanne commented on #2809
@AnalogJ Sorry for this... there is likely a bug on our side and some pip issue too https://github.com/pypa/pip/issues/10824
Also M1 Macs may require to run an X86 Python and run ScanCode in the compatibility mode. We use native code too and this is not yet compiled for ARM.

[2022-02-02 07:38] pombredanne commented on #2809
We are trying to solve these in the upcoming release. I will ping you as soon as we have a beta and your feedback would me much appreciated!

[2022-02-02 07:40] pombredanne commented on #2758
This needs to be fixed in the next release

[2022-02-02 07:43] pombredanne commented on #2761
@tardyp FYI @JonoYang is contributing some support for gradle in #2822

[2022-02-02 07:48] pombredanne commented on #2753
@xu1119 Sorry for the late reply!
The requirement field is supposed to be more the version spec than the name... though it should be also as much as much as possible the barebone content (so Flask would be correct here)
 This needs to be clarified for sure.
Note that this is going to evolve quickly with https://github.com/nexB/univers and https://github.com/package-url/purl-spec/pull/139 that we s

[2022-02-02 07:55] pombredanne commented on #636
FWIW, there is a new support for Alpine musl in the Python wheel manylinux including support on PyPI. This could pave the way to support Alpine images.

[2022-02-02 07:58] pombredanne commented on #689
Closing this as this is part of the standard now.

[2022-02-02 07:58] #689 closed

[2022-02-02 08:04] pombredanne commented on #584
Closing for now.

[2022-02-02 08:04] #584 closed

[2022-02-02 08:06] pombredanne commented on #582
We have now a fairly decent support for multiple OS arch in tests with Azure. Closing at last.

[2022-02-02 08:06] #582 closed

[2022-02-02 08:07] pombredanne commented on #922
This is best closed at this stage. There are a few more higher priority than this and we have overall a fairly decent test suite so far.

[2022-02-02 08:07] #922 closed

[2022-02-02 08:09] pombredanne commented on #1274
Moving to skeleton

[2022-02-02 08:12] pombredanne commented on #1393
I have not received much feedback on this, so I assume this works fine and I am closing for now. Please feel free to reopen!

[2022-02-02 08:12] #1393 closed

[2022-02-02 08:12] pombredanne commented on #1580
Closing https://github.com/nexB/scancode-toolkit/issues/1614 in favor of this

[2022-02-02 08:13] pombredanne commented on #1614
Closing for https://github.com/nexB/scancode-toolkit/issues/1580

[2022-02-02 08:13] #1614 closed

[2022-02-02 08:16] pombredanne opened #2836 "Revamp ScanCode installation packages"
We have several pesky installation issues that come up on certain new or different OS/arch/Python combos. This makes the initial experience really poor for some users.

We need to rethink the entire OS support and installation approach

The key is likely to always include a Python interpreter and to build installers as described in https://github.com/nexB/scancode-toolkit/issues/1703

- an AppImag

[2022-02-02 08:19] pombredanne commented on #1817
Closing this in favor of tracking https://github.com/nexB/scancode-toolkit/issues/2836 instead.

@Zainab-Fahim sorry for the late reply! ... do you mind to enter a separate issue or a discussion so we can help you? https://github.com/nexB/scancode-toolkit/discussions

[2022-02-02 08:19] #1817 closed

[2022-02-02 08:22] pombredanne commented on #2102
This would require rerunning the coverage pytest plugins. I have mixed feeling though as this will slow down our tests even more .
So I am instead closing this in favor of https://github.com/nexB/skeleton/issues/52

[2022-02-02 08:22] #2102 closed

[2022-02-02 08:22] pombredanne commented on #2173
This has been completed. We now use dparse2 which is a pared down fork

[2022-02-02 08:22] #2173 closed

[2022-02-02 08:23] pombredanne commented on #2231
This has been completed. Pygments is now also vendored in typecode

[2022-02-02 08:23] #2231 closed

[2022-02-02 08:47] pombredanne commented on #1134
@adityaviki sorry for missing your comment. There has been some attempt to support this in https://github.com/nexB/plugincode/blob/c6bd7c6cb3b505b9c24558c32a7e94f9a494ef90/src/plugincode/__init__.py
 and used https://github.com/nexB/scancode-toolkit/blob/9ed2cb4e78a8b1b138bcb201f50203b43098febb/src/packagedcode/plugin_package.py#L59

But this is not enforced at all.

We have however enforcing a "s

[2022-02-02 08:48] pombredanne commented on #1386
At this stage we no longer depend on six directly... I assume this is no longer an issue. Closing.

[2022-02-02 08:48] #1386 closed

[2022-02-02 08:53] pombredanne commented on #1493
I am actually thinking to add a live scan feature that will fetch remote dependencies details optionally. So I will not close!

[2022-02-02 08:58] pombredanne commented on #1637
I am closing this for now.

[2022-02-02 08:58] #1637 closed

[2022-02-02 09:14] pombredanne commented on #1626
I fetched https://netcologne.dl.sourceforge.net/project/net-snmp/net-snmp/5.7.3/net-snmp-5.7.3.tar.gz then:
- `extractcode  net-snmp-5.7.3.tar.gz`
- `scancode --p --yaml net-snmp-5.7.3.yml.txt net-snmp-5.7.3.tar.gz-extract/net-snmp-5.7.3/
See attached details.
We are now at least reporting (possibly in a too noisy or incorrect way?)
- some autotools-based package at the root-
- some Perl modules u

[2022-02-02 09:16] pombredanne commented on #2591
Actually we will also add some support here.

[2022-02-02 09:25] pombredanne commented on #2554
Thanks for the report. This should be fixed in the upcoming release.

[2022-02-02 09:28] pombredanne commented on #2517
I am closing this now... Note also that we have since forked dparse in dparse2 ... and use a new https://github.com/nexB/pip-requirements-parser parser for requirements.

[2022-02-02 09:28] #2517 closed, assigned to nobody

[2022-02-02 09:30] pombredanne commented on #2495
I renamed the issue. We will be adding a feature to fetch remotely the dependency details when not available in the scanned code

[2022-02-02 09:38] pombredanne commented on #2408
@bmarsh9 we have now a brand new requirements.txt parser derived from pip that landed in the develop branch

`$ scancode --package --yaml new.yml.txt foobar/` yield the attached :tada:
[new.yml.txt](https://github.com/nexB/scancode-toolkit/files/7985156/new.yml.txt)

We are also revamping the dependencies handling across the board.

[2022-02-02 12:18] pombredanne commented on #2495
See also  https://github.com/nexB/scancode-toolkit/issues/1237

[2022-02-02 12:25] pombredanne commented on #1451
Python 3 migration is now complete. Closing this!

[2022-02-02 12:25] #1451 closed

[2022-02-02 12:26] pombredanne commented on #2309
I was not able to reproduce this. Closing for now.

[2022-02-02 12:26] #2309 closed, assigned to nobody

[2022-02-02 12:31] pombredanne commented on #1603
One approach that might work would be to treat the &copy case as a special copyright word and may be use the whole line? This is otherwise hard to fit in the current approach of using a grammar for copyrights.

[2022-02-02 12:36] pombredanne commented on #1567
Closing now. Please reopen if you feel this should be discussed further

[2022-02-02 12:36] #1567 closed

[2022-02-02 12:36] pombredanne commented on #1484
This should be all set now.

[2022-02-02 12:36] #1484 closed

[2022-02-02 12:38] pombredanne commented on #1740
Closing now for lack of response.

[2022-02-02 12:38] #1740 closed

[2022-02-02 12:40] pombredanne commented on #1754
The code behind this issue and branch is now in https://github.com/nexB/typecode but there never was a PR for https://github.com/nexB/scancode-toolkit/compare/1754-primary-content
Should be find a way to migrate this to typecode?

[2022-02-02 12:52] pombredanne commented on #1816
These are detected alright:
[code]
yield this with:
scancode -c --yaml -
[code]

[2022-02-02 13:32] pombredanne commented on #1816
@rainerth   The SPDX-FileContributor is SPDX alright but seldom seen used in a file and not a reuse spec...It would be easy enough to add this as an "author" tag in ScanCode ... I can see enough instances of it in the wild to add it

So I pushed this https://github.com/nexB/scancode-toolkit/pull/2838
and now we get this:
[code]
detected as:
[code]

[2022-02-02 13:33] pombredanne commented on #1816
Feedback welcomed on the PR. Closing this for now

[2022-02-02 13:35] pombredanne commented on #1802
Closing for now. I do not have enough details to investigate.

[2022-02-02 13:35] #1802 closed

[2022-02-02 13:35] pombredanne commented on #1843
This works nicely. Closing

[2022-02-02 13:35] #1843 closed

[2022-02-02 13:38] pombredanne commented on #1843
For reference:
[code]

[2022-02-02 13:39] pombredanne commented on #1844
Moving this to CommonCode

[2022-02-02 13:46] pombredanne commented on #2144
@ewdurbin gentle ping... we need to use the most stable possible base URL for a PyPI download URl for sdists that we generate here https://github.com/nexB/scancode-toolkit/blob/bebbcf7daed62a609271251158114457e99aaa9c/src/packagedcode/pypi.py#L84

Is `https://pypi.org/packages/source` the best longer term one?

[2022-02-02 13:47] pombredanne commented on #1886
I think we have a better coverage now. I am closing and we can revisit as needed.

[2022-02-02 13:47] #1886 closed

[2022-02-02 13:49] pombredanne commented on #2251
Done. Removed

[2022-02-02 13:49] #2251 closed

[2022-02-02 13:51] pombredanne commented on #2281
We are tracking separately the reporting of package instances now. #2825

[2022-02-02 13:51] #2281 closed

[2022-02-02 13:54] ewdurbin commented on #2144
FWIW it is not considered best practice to generate URLs, but to fetch them from the [JSON document](https://warehouse.pypa.io/api-reference/json.html) for a given project.

See https://warehouse.pypa.io/api-reference/integration-guide.html#querying-pypi-for-package-urls for a guidance on the alternative "`/packages/`" approach.

[2022-02-02 14:06] pombredanne commented on #2501
@cole-h all the upper versions bound have been removed in the develop branch. I still want to keep some lower bounds as the minimal version that we test against and that is pinned in the app archives for sanity.

Also dparse2 is now used instead of dparse which I will not further anymore. And overall the set of dependencies has changed quite a bit too

I am closing this now... but feel free to reo

[2022-02-02 14:06] #2501 closed, assigned to nobody

[2022-02-02 14:10] pombredanne commented on #2581
Sorry for missing this when reported!
This is a bug alright and this should not happen!

Can you confirm that this is close enough file to the problematic one?
https://github.com/grpc/grpc/blob/fed797b70de08b4c5dc34751ab9a12b4b13eac79/src/objective-c/BoringSSL-GRPC.podspec

[2022-02-02 14:17] pombredanne commented on #2756
Closing for lack of reply

[2022-02-02 14:17] #2756 closed, assigned to nobody

[2022-02-02 15:02] frol commented on #636
Oh, wow, I am quite amused to find these types of topics and articles throughout the internet using my Alpine-baked images here and there (`frolvlad` is my handle on Docker Hub). Well, I would not trust a random guy on the internet to provide a base image for some mission-critical software, but you are free to just copy-paste the contents of the Dockerfile to your image based on plain alpine image

[2022-02-02 15:36] silverhook commented on #2794
I get a similar bug on KUbuntu 20.04 LTS with:

[code]

[code]

Errno 36 translates to “filename too long”.

[2022-02-02 15:39] AyanSinhaMahapatra commented on #1825
@pombredanne Yes! This wasn't useful at all in hindsight.

[2022-02-02 15:39] #1825 closed

[2022-02-02 15:53] silverhook commented on #2794
I also have trouble with that file if I extract the scanode-toolkit release tarball.

[2022-02-02 16:17] pombredanne opened #2839 "Consider breaking CSV output in multiple XLSX "tabs" or files"
This would help report files and packages separately SCIO-style

[2022-02-02 16:20] pombredanne opened #2840 "Can a Package exist without a name? (e.g. Gemfile.lock only, etc)"
See https://github.com/nexB/scancode-toolkit/issues/1514

[2022-02-02 16:29] pombredanne opened #2841 "Create common header for ABC Data."
We want to be able to track which tool did what, when, how and on which  files consistently across all projects.

- https://github.com/nexB/scancode-toolkit/pull/945
- https://github.com/nexB/aboutcode/issues/7
- https://github.com/nexB/scancode-toolkit/issues/211
- https://github.com/nexB/scancode-toolkit/issues/599

[2022-02-02 18:12] pombredanne opened #2842 "Design the new user experience for primary/declared data summaries in SCTK"
We have many related options and we want to design a new, better approach to get primary, declared licensing and package data. What would it be?

This is the current set of options:
[code]

[2022-02-02 18:15] pombredanne opened #2843 "Adopt improved design for Packages and Dependencies in SCTK"
For package data, deps and manifests, new design to discuss
[code]

[2022-02-02 18:31] pombredanne commented on #2794
@silverhook are you running some disk encryption such as luks?

[2022-02-02 21:36] jroes commented on #2835
Testing on M1 here. Wasn't able to build from a git clone. Let me know if I should create a separate issue.

[code]

[2022-02-02 21:37] jroes commented on #2835
Also failed with `pip install`, unfortunately:

[code]

[2022-02-03 07:39] pombredanne opened #2844 "Add more Android Bazel structured metadata"
We have support for Buck and Bazel but there are likely new things in Android we do not support yet:

https://android.googlesource.com/platform/external/dng_sdk/+/refs/heads/master/Android.bp
[code]

https://android.googlesource.com/platform/external/exfatprogs/+/c7d72b803f7af322611675f15016039f2331e568/METADATA
[code]

https://android.googlesource.com/platform/external/dng_sdk/+/refs/heads/master

[2022-02-03 08:34] pombredanne commented on #2823
@adii21-Ux yes!... so the first step would be to document which files and index exist in a nix package that could be used to scan and collect details.
You should consider:
- A. where to collect a list of packages (e.g. an index) and what is the format
- B. what are the files/formats used in development, e.g. as seen in a VCS repo checkout
- C. what are the files/formats used in built packages e.g.

[2022-02-03 08:55] pombredanne commented on #2835
@jroes Thank you ++ this helps!

I am working on a fix for this.

See also these:
- https://github.com/nexB/scancode-toolkit/issues/2836
- https://github.com/nexB/skeleton/issues/53
- and the many issues listed https://github.com/nexB/scancode-toolkit/issues?q=is%3Aopen+is%3Aissue+label%3A"installation+and+packaging"+label%3A"os+support"

[2022-02-03 10:03] mtichavsky commented on #2781
So far so good. We're working on adding support for Rubygems to [Cachito](https://github.com/containerbuildsystem/cachito) and it's still work in progress, so it's not properly tested, but this library looks really good so far.

[2022-02-03 13:43] karan-vaishnav commented on #2844
@pombredanne  may I work on this issue??

[2022-02-03 15:51] OsmiumOP opened #2845 "Direct Link to Docs for Windows Users"
### Description

The Installation Section on the Docs page can easily confuse a Windows User to do a lot of setup, when there is an easy way to deploy using Releases and the Documentation is very easy to understand and read for the Windows Part, but not easily accessible.

Hence my suggestion is to add a note for Windows Users that directs them to the Release-method setup considering he is a NEW C

[2022-02-03 16:54] pombredanne commented on #2781
@tichavskym Thanks! Eventually it will be massively improved and split in a separate ruby-inspector for everything Ruby in one place: gem/Gemfile/.lock/gemspec that will also handle rubygems API and index lookup and deserialization... I will make sure we keep as much as possible a mostly compatible or super easy to update API ... and possibly build in deps resolver (using likely https://github.com

[2022-02-03 16:58] pombredanne commented on #2781
@tichavskym Note that we also have parsers for npm/yarn, pip/setup.py and more and eventually a comprehensive set for mostly all package manifests
There is a new https://github.com/nexb/pip-requirements-parser which is IMHO best in class and second to none, bare the pip own parser.

[2022-02-03 17:00] pombredanne commented on #2781
@tichavskym this https://github.com/containerbuildsystem/cachito/blob/master/docs/dependency_confusion.md looks really interesting!
(Side note: are you using https://github.com/package-url/purl-spec :innocent: ? )

[2022-02-03 18:01] silverhook commented on #2794
encryptfs for the home partition, yes.

[2022-02-03 21:24] #2798 closed, assigned to nobody

[2022-02-04 07:24] pombredanne commented on #2798
@adii21-Ux Thank you ++ for fixing this.

[2022-02-04 09:23] adityasangave commented on #2796
@pombredanne remainder you said we need to talk about solution to above problem

[2022-02-04 13:30] suhasml commented on #2782
Hello, if this issue is still open, I would like to work on it.

[2022-02-04 13:50] pombredanne opened #2848 "Support codemeta"
Codemeta is a spec for code metadata https://codemeta.github.io/
We could treat this as package data and collect them in packagedcode.

See for example
- https://github.com/search?l=&p=5&q=codemeta+filename%3Acodemeta.json&ref=advsearch&type=Code
- https://github.com/indigo-dc/udocker/blob/master/codemeta.json

[2022-02-04 15:31] pombredanne opened #2849 "Collect repostatus badge data"
See https://github.com/jantman/repostatus.org and https://repostatus.org
These are useful health information on a project.
I am not sure these are exactly package data the way we track these today, but this is useful package information.

[2022-02-05 07:42] pombredanne opened #2850 "Add support for nim "nimble" manifests"
See https://github.com/nim-lang/nimble and an example at https://github.com/ayman-albaz/distances/blob/master/distances.nimble

[2022-02-05 07:57] pombredanne opened #2851 "Collect publiccode metadata as package-like data"
See https://github.com/publiccodeyml/publiccode.yml
This is package-like data in YAML and we would a handler to parse this.
See also:
- https://github.com/publiccodeyml/publiccode.yml
- https://github.com/italia/publiccode.yml-docs
- https://github.com/italia#-publiccode for several tools maintained by @bfabio

Examples:
- https://github.com/consiglionazionaledellericerche/sigla-main/blob/master/p

[2022-02-05 09:04] pombredanne opened #2852 "Consider collecting the "License-Filename" tag"
Seen in https://git.sr.ht/~etalab/sill.etalab.gouv.fr/tree/master/item/src/clj/sillweb/config.clj#L3

We have one example of such rule https://github.com/nexB/scancode-toolkit/blob/ebb55c341bc6ba644d2be0e531ffbfc2948bca47/src/licensedcode/data/rules/gpl-3.0_115.RULE

There are enough in the wild: https://github.com/search?p=2&q="License-Filename"&type=Code

It likely may need to be a new detector

[2022-02-05 09:08] pombredanne opened #2853 "Treat git submodule as a package-like dependency manifest"
See https://git-scm.com/book/en/v2/Git-Tools-Submodules

[2022-02-05 12:35] pombredanne commented on #1243
See also:
- https://www.yoctoproject.org/pipermail/yocto/2018-June/041469.html
- https://github.com/trru12233/stm32mp15x_linux_rootfs/blob/ca27984044b86f62d4854431b621f4ccc0dfa938/usr/share/common-licenses/license.manifest
- https://github.com/lenovo/ELIE/blob/905fcefbe72e85c80e32f0550ed0e5aff2fcff06/elie-2.2.1/licenses/core-image-minimal-initramfs-lxci-20170815135146/license.manifest

[2022-02-05 21:59] sschuberth commented on #461
Note that at the example of SHA-1, the [hash for an empty string](https://en.wikipedia.org/wiki/SHA-1#Example_hashes) / no content is `da39a3ee5e6b4b0d3255bfef95601890afd80709`.

[2022-02-07 07:59] pombredanne commented on #461
@sschuberth thanks! I think we should not return it always ... but rather only in SDPX outputs, because otherwise this has little value. Frankly SPDX-wise, demanding a checksum (and a combined document-level checksum) that includes empty files makes no sense to me. From a matching point of view, an empty file has no purpose either.

[2022-02-07 08:59] eversinc33 opened #2854 "Dependencies for maven project only resolved for cyclonedx, not for spdx/json"
### Description

Dependencies/Packages from a maven pom.xml are only detected when outputting to cyclone-dx-xml, but not when outputting to json or spdx-tv or spdx-xml.

Im not sure if this is a missing feature that is only implemented in cyclonedx or a bug?

### How To Reproduce

I created a Hello-World-Style java project with the following dependency included in pom.xml

[code]
Running scancode

[2022-02-07 10:43] pombredanne opened #2855 "Improve handling of license exceptions"
There are cases where a notice may not be amenable to a clean detection such as when we would have:
- a gpl-2.0
- a classpath-exception-2.0

both detected separately. Yet these we could instead report a single `gpl-2.0 WITH classpath-exception-2.0`.

To achieve this we should IMHO:
1. use the upcoming LicenseDetection post-processing approach
2. tag all exceptions with the list of license keys tha

[2022-02-07 13:05] pombredanne commented on #2495
@S3j5b0 I would like to keep this open until fixed.

[2022-02-07 13:17] pombredanne opened #2856 "Ensure the --version output is easy to parse"
Today's output of the `--version` option requires some work to be parsed:
[code]
we should instead make it valid YAML such that this is easy to read for human and parse for tools:
[code]

This would be enough!
[code]

[2022-02-07 13:49] pombredanne commented on #2796
yes!
So there are two use cases:
1. offline usage in which case no check should be done
2. online usage in which case a PyPI lookup should be done at most once a week

This was essentially the previous implementation if I recall? You may want to search the history a bit

[2022-02-07 13:52] adityasangave commented on #2796
Ok I'll do some search and will get back to you

[2022-02-08 10:09] #2856 closed, assigned to nobody

[2022-02-08 13:00] adityasangave commented on #2796
Ok So I found out before version 30.0.0 we only used PyPI check of scancode version both for online and offline take a look
![Screenshot from 2022-02-08 18-29-46](https://user-images.githubusercontent.com/88366673/152992058-9425ac48-115b-4c09-91cb-11abdae50245.png)
![Screenshot from 2022-02-08 18-30-05](https://user-images.githubusercontent.com/88366673/152992063-54f9e12d-a588-4f08-a9a6-8cb0a92833

[2022-02-08 13:03] adityasangave commented on #2796
So I guess the solution for solving this problem when offline we need to store latest version of scancode-toolkit somewhere for e.g. in scancode-config.py so that exception won't occur, what do you think?

[2022-02-08 13:06] mtichavsky commented on #2781
Great! I'm looking forward to see this project evolving. I find dependency confusion interesting too (and also kinda terrifying). I'm quite new to Cachito project thanks to which I learned about purl-spec and I like it - it's simple and clever.

[2022-02-08 14:32] fviernau opened #2859 "license detection: Add the nunit license"
Scanning the nunit license [2] via [1] results in a couple of generic license findings, with ScanCode version 31.1.0, which match only parts of the license text. Add a separate license identifier for that license along with detection capabilities.

[1] https://github.com/apache/avro/blob/6b55656b25cacf0d88cf44d9d802ce46dfaadc83/LICENSE.txt#L312-L345
[2] https://docs.nunit.org/2.6/license.html

[2022-02-08 15:09] the-illuminatus commented on #2782
has the issue been closed?

[2022-02-08 15:28] pombredanne commented on #2796
@adii21-Ux Good research! Thank But pasting images makes it bit hard... please use text. That said, I think now that just removing the https://github.com/nexB/scancode-toolkit/blob/cec5846d3864fd53d13c3e6f536ecc8a39f448e8/src/scancode/outdated.py#L138 and https://github.com/nexB/scancode-toolkit/blob/cec5846d3864fd53d13c3e6f536ecc8a39f448e8/src/scancode/outdated.py#L70 to remove all "local" checks

[2022-02-08 15:37] adityasangave commented on #2796
Ok i'll make the changes

[2022-02-08 16:42] pombredanne commented on #2007
This has been completed.

[2022-02-08 17:12] pombredanne commented on #2782
you do not need to ask permission :) If you want to work on it, say so and submit a PR.

[2022-02-08 17:51] pombredanne commented on #1697
This will include the `--licenses-reference` option and the `licenses_reference` top level attribute.

[2022-02-08 18:46] pombredanne commented on #2754
This has been completed. I am also puhsing the LL 3.16.

[2022-02-08 18:46] #2754 closed, assigned to pombredanne

[2022-02-08 20:58] coughlinj commented on #2809
@AnalogJ On an M1 mac, and this worked for me, thank you!

[2022-02-08 21:47] pombredanne commented on #2809
@coughlinj thanks for the report. This helps

[2022-02-09 19:59] DennisClark opened #2861 "RFC: Improve License Clarity Scoring"
Replace the current license clarity scoring, which was originally associated with the Clearly Defined project, with the following structure:

### Proposed Element Definitions

#### License Clarity
License Clarity is a set of criteria that indicate how clearly, comprehensively and accurately a software project has defined and communicated the licensing that applies to the project software. Note tha

[2022-02-10 08:00] #2845 closed, assigned to nobody

[2022-02-10 11:50] pombredanne commented on #1122
This is now the default with the `--license-text` option... is this working OK for you?

[2022-02-11 14:30] pombredanne commented on #2861
@LeChasseur FYI, we would be interested in your take on this!

[2022-02-11 15:12] pombredanne commented on #2861
@DennisClark the only edits I made were to add tags for titles and bold

[2022-02-12 11:16] pombredanne opened #2863 "Find a way to detect when an Apache-2.0 license requires a special NOTICE"
The section 4(d) of the Apache License is specific about notice requirements
NOTICE filenames, statements such as `NOTICE file corresponding to section 4(d) of the Apache License, Version 2.` and so on are all clues that there is a special notice to produce and include. To automate this, we should be able to detect these specifically, possibly as their own license key?
This way we could have these

[2022-02-13 11:08] pombredanne opened #2864 "An LSP for licenses"
The https://en.wikipedia.org/wiki/Language_Server_Protocol is a way to offer language introspection support in IDEs and is used in many places.
Some came with this idea, both weird and brilliant: creating a language server for licensing and origin that would:
1. detect licenses, copyrights, etc
2. highlight obligations, requirements

[2022-02-13 12:28] LeChasseur commented on #2861
The idea sounds good to me. If possible I wouldn't give the same weight to NOTICE, LICENSE, COPYING or README if more of one of these categories contains license informations. To my experience most projects use LICENSE or COPYING. The README contains sometimes additional information that isn't a declaration of the applicable license. I would give such information less weight if LICENSE or COPYING

[2022-02-13 12:32] LeChasseur commented on #2863
Very important to know whether or not an Apache-2.0 project contains a NOTICE file or not. Even better to extract the content of such files.
The main of advantage of the Apache-2.0 that there is no need to look into all files for copyright notices (because the license does not require to provide copyright notices). However, if the code is modified, the NOTICE file must be forwarded to recipient.
I

[2022-02-13 14:42] pombredanne commented on #2844
Sure ! no need for permission

[2022-02-13 14:43] pombredanne commented on #2844
The first thing is to research and document here how licenses are documented, which data structures, conventions, specs and filenames.

[2022-02-14 11:21] pombredanne commented on #1525
See some attached example of poms with license comments at the top:
[pom.xml.txt](https://github.com/nexB/scancode-toolkit/files/8060173/pom.xml.txt)
[log4j-1.2.15.pom.txt](https://github.com/nexB/scancode-toolkit/files/8060178/log4j-1.2.15.pom.txt)

[2022-02-14 11:55] #2796 closed, assigned to nobody

[2022-02-14 14:46] pombredanne commented on #2863
@LeChasseur Thank you for the feedback!

[2022-02-14 15:36] pombredanne commented on #2767
BTW here is a mapping of Fedora license ids https://github.com/fedora-modularity/check_modulemd/blob/55555db5796d92311acea65273f7536fd3a9663e/valid_sw_licenses.txt by @bgoncalv ... well not a mapping bu a list. A mapping to normalized licenses would need to be built from this!

# Valid Software Licenses according to https://fedoraproject.org/wiki/Licensing:Main

Another avenue could be https://git

[2022-02-14 15:59] bgoncalv commented on #2767
I'm not sure if helps, but rpminspect contains a list of supported Licenses in Fedora: https://github.com/rpminspect/rpminspect-data-fedora/blob/master/licenses/fedora.json

[2022-02-14 17:01] DennisClark commented on #2863
so we might perhaps want to create something like an apache-notice-4d-2.0 ?   I shall investigate.

[2022-02-15 04:33] pombredanne commented on #2767
@bgoncalv It will surely help as between the SPDX ids and the text URL for the ones that do not have an SPDX id we should be able to map these alright. We have likely most if not all these licenses somehow already detectable as text and notices, and this would get us the Fedora id and name
I stumbled on this too which is similar yet subtly different: https://gitlab.com/redhat/centos-stream/ci-cd/r

[2022-02-15 13:12] sschuberth opened #2865 "False-positive `proprietary-license` finding in Guava source code"
### Description

Scanning https://github.com/google/guava/blob/v31.0.1/guava/src/com/google/common/graph/StandardValueGraph.java#L36 results in a false-positive license finding of `proprietary-license`, although no licenses declaration is present at all. (Thanks to @PatteSI for finding this.)

The matched text just says

    changes to the graph (if the graph is mutable) but may not be modified by

[2022-02-15 14:41] pombredanne commented on #2865
@sschuberth Thanks... yes the matched rule is: https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/proprietary-license_276.RULE

[2022-02-15 15:45] pombredanne commented on #2865
@sschuberth @PatteSi : there you go : https://github.com/nexB/scancode-toolkit/commit/dade2046ad6fad90443bdf7f0c100642cce3c481 :)

[2022-02-15 15:48] sschuberth commented on #2865
Thank you for the quick fix @pombredanne! I believe @PatteSI has a few more of similarly obvious cases, and will eventually report them as separate issues.

[2022-02-15 16:42] pombredanne commented on #2865
Excellent! The more the better! @PatteSI I could also show you to fix these if you like!

[2022-02-16 02:59] JonoYang opened #2866 "Error when running license scan"
I've downloaded https://registry.npmjs.com/arm-analysisservices/@azure/arm-analysisservices-2.3.0.tgz, extracted it and scanned it with the latest version of scancode from the develop branch using the command:
`scancode -clipeu --classify --license-clarity-score ~/Desktop/arm-analysisservices-2.3.0/ --json-pp ~/Desktop/arm-analysisservices-2.3.0-clipeu-license-clarity.json`

and I get the followin

[2022-02-16 09:49] pombredanne commented on #2575
@zivian sorry for missing this... @AyanSinhaMahapatra  this has been fixed now, has it?

The default was  latest (development) version (and this was a bug) and is now  stable version

[2022-02-16 09:50] pombredanne commented on #2826
@lucasgonze  That's part of the upcomin work that's  on deck... It could a nice GSoC project... this is a lot of work but super important in any case :)

[2022-02-16 11:19] pombredanne commented on #2866
Bummer!
Are you working from a checkout of develop?
If so you should run `scancode --reindex-licenses` after an update

[2022-02-16 12:18] AyanSinhaMahapatra commented on #2575
Yes. [scancode-toolkit.readthedocs.io/](https://scancode-toolkit.readthedocs.io/) now goes to the stable version, and it goes to latest only if https://scancode-toolkit.readthedocs.io/en/latest/ is asked for explicitly.

[2022-02-16 12:23] #2575 closed, assigned to nobody

[2022-02-16 12:37] pombredanne opened #2868 "When scanning structured documents, use the structure!"
We are scanning markup as plain text such as a JSON, YAML, XML, or HTML files and so on (not when these are package manifests).
We should instead parse these are treat them as a structure. For instance, it does not make sense to detect a single license across multiple attributes in a JSON file.

This would help removing a class of false positive. We are already doing special pre-processing for PDF

[2022-02-16 13:46] AyanSinhaMahapatra commented on #2098
Also see improvements to this in #2843

[2022-02-16 15:10] sschuberth opened #2869 "Cannot install / configure ScanCode 30.1.0 anymore to due dependency version conflict"
### Description

Building our Docker image which includes ScanCode 30.1.0 (built from source) started to fail today with

[code]

### How To Reproduce

[code]

### System configuration

* What OS are you running on? Linux / Docker (adoptopenjdk:11-jdk-hotspot-focal)
* What version of scancode-toolkit was used to generate the scan file? 30.1.0
* What installation method was used to install/run scan

[2022-02-16 15:45] sschuberth commented on #2869
Interestingly, the conflicting dependencies seem to change every time I try to build:

[code]

[2022-02-16 15:52] AyanSinhaMahapatra commented on #2869
Our CI at azure is also failing on some cases because of this btw, like https://dev.azure.com/nexB/scancode-toolkit/_build/results?buildId=5637&view=results. Re-running solves this (only on CI) sometimes.

[2022-02-16 16:34] PatteSI commented on #2865
@pombredanne Thank you for the quick "fix".
However I wanted to ask if you think that this is the correct way, adding exceptions for specific wordings in specific source files instead of trying to make the matching pattern more specific resp. improving the rules.
Unfortunately after my first investigation I have to disagree with  @sschuberth and in our projects, using ScanCode 30.1.0, we have lite

[2022-02-16 17:28] pombredanne commented on #2842
Here is consensus from some chat and discussions: deprecate and remove in the version after next all these options
- consolidate
- license-clarity-score
- summary
- summary-by-facet
- summary-key-files
- summary-with-details

The new "primary", may be reusing code from summary-key-files is tracked in https://github.com/nexB/scancode-toolkit/issues/2065 and will be always ON in the default JSON/YAM

[2022-02-16 17:40] pombredanne commented on #2842
And the `--classify` option should become default too implicitly to support the above

[2022-02-16 20:29] pombredanne opened #2870 "Ingest SBOM"
It would be great to ingest SBOM such as SPDX or CycloneDX.
I think the best design is to treat these as "package_data" and process them in the same flow as packages in general.

[2022-02-16 21:02] pombredanne commented on #2869
@sschuberth there has been some PyPI server issue following some CI misconfiguration. This should be resolved now.
We are also updating the settings so this never happens again. So let's keep this open.

[2022-02-16 21:46] JonoYang commented on #2866
@pombredanne Running the `--reindex-licenses` option worked. Thanks!

[2022-02-16 21:46] #2866 closed, assigned to nobody

[2022-02-17 11:22] pombredanne commented on #2869
@sschuberth Part of it may also be due to this https://github.com/pypa/pip/issues/10824 and this https://github.com/pypa/pip/issues/10391 issues for pip. This is being researched!

[2022-02-17 12:30] PatteSI commented on #2865
Nevermind I think you were already aware of the problematic "unknown" license detection behavior: https://github.com/nexB/scancode-toolkit/issues/1675  I guess this covers my point 2. Not sure how helpful point 1 and 3 would be. However the issue with false "unknown" detection still seems to be big.

[2022-02-18 22:18] MarcelBochtler commented on #2809
For me, running ScanCode on my M1 Mac fails using x86_64 bash and python3.8:

[code]

[2022-02-18 22:27] MarcelBochtler commented on #2835
For me, running ScanCode on my M1 Mac fails using x86_64 bash and python3.8:

[code]

[2022-02-19 08:14] pombredanne commented on #1549
@0xc0170 I had missed this when you posted it ....

Yes, this is a difficult and weird thing to handle as this is ambiguous.

Some thoughts:

1. @akugarg contributed a new feature that can smartly find and follow the LICENSE file and its license ... See https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/plugin_license.py#L132
2. I am adding a specific rule that can be detected

[2022-02-19 17:15] pombredanne opened #2872 "Ensure the "licenseref-license" convention of npm before 3.10 is detected correctly"
See https://github.com/search?p=2&q="LicenseRef-LICENSE"&type=Code

Over the years, npm had a few evolving conventions:

See https://softwareengineering.stackexchange.com/questions/285885/which-spdx-license-is-equivalent-to-all-rights-reserved

https://github.com/npm/npm/issues/8795#issuecomment-119760485

and https://www.bonbon.io/commercial-licenses-for-npm-packages

This legacy way should be su

[2022-02-19 17:46] sschuberth opened #2873 "Wrong SPDX license key for "llvm-exception""
### Description

ScanCode translates its own license `key` "llvm-exception" to `spdx_license_key` "LLVM-exception". However, as exceptions in SPDX expressions always have to come together with a license followed by the `WITH` keyword, and as the LLVM exception always applies to Apache-2.0 only (AFAIK), the `spdx_license_key` should be "Apache-2.0 WITH LLVM-exception" instead.

*Edit:* I just reali

[2022-02-20 16:00] adityasangave commented on #2872
A new license rule for npm should fix this, should I make the changes?

[2022-02-21 08:06] pombredanne commented on #2872
@adii21-Ux good point! yes... please go ahead.
Thank you ++

[2022-02-21 14:40] Jeeppler commented on #2826
@pombredanne As far as I understood it, the `json` and `json-pp` are not in SPDX JSON format. Is this correct?

[2022-02-21 16:43] mjherzog commented on #2826
This is correct.  SPDX is a data exchange format not a scan output format. There are --spdx-tv and spdx-rdf output options for creating a SPDX output file (currently SPDX v2.1).

[2022-02-22 13:53] Jeeppler commented on #2826
I understand where my confusion is coming from. New in SPDX v2.2 is the JSON file format.

Source: https://spdx.github.io/spdx-spec/diffs-from-previous-editions/#i2-differences-from-v22-and-v21

However, `spdx.json` is not the same as `json` or `json-pp`. `json` and `json-pp` are ScanCode specific formats. `json-pp` is the same as `json`, except that `json-pp` is pretty printed. The `-pp` stands f

[2022-02-22 14:13] Jeeppler commented on #2826
@mjherzog It seems to me, that ScanCode does support the latest SPDX 2.2 standard. As a result of scanning with `scancode-toolkit 30.1.0`, I get `SPDX-2.2` as SPDX Version:

[code]

I used the [Java SPDX-Tool](https://spdx.dev/spdx-tools/) to convert the tag-value output file from ScanCode to the JSON format (ScanCode `--spdx-tv` to `spdx.json`):

[code]

And verified both the ScanCode Tag-Value a

[2022-02-22 16:27] pombredanne commented on #2826
@Jeeppler This is correct. We support the SPDX 2.2 spec but not all the formats.

 Note that I have been mentoring a student to add support for JSON and YAML to the upstream SPDX Python library, but I did not have had the time to review and merge this unfortunately for now. This library needs some love.

May be the right way could be to use the Java tools for now to perform the conversion?
You may

[2022-02-22 16:27] mjherzog commented on #2826
@Jeeppler I am happy to be corrected

[2022-02-22 17:32] Jeeppler commented on #2826
@pombredanne thank you for clarifying it.

What Python library? Do you have a link?

[2022-02-22 17:50] JonoYang commented on #2861
@DennisClark

I've began making modifications to the license clarity scoring, which I have created as a separate plugin for now. You can test out the new license clarity scoring by using the `--license-clarity-score-2` and `--classify` option.

`scancode -clip --classify --license-clarity-score-2 <package directory> --json-pp <json output location>`

I had some questions about how the following cr

[2022-02-22 18:24] goneall commented on #2826
@Jeeppler Here's the link to the Python library: https://github.com/spdx/tools-python

[2022-02-22 22:55] DennisClark commented on #2861
regarding "Ambiguous ..."   If more than one license is mentioned in a paragraph of text, and there is no "OR" and no "AND", then we have ambiguity.  I realize that we may need to refine that after some testing.  The main culprit is the mention of a "dual" or "Dual" license without any qualifier to indicate if it is a choice or not.

regarding  "Conflicting..."    It is nearly impossible that all

[2022-02-24 11:19] kiranravindran90 opened #2874 "Tracing "Start Line" of ScanCode report back to the Binary file."
I have scanned few Binaries using Scancode toolkit. I wanted to know how to find the "Start Line" from the report back to Binary? For e.g. the Scancode toolkit report says "Start Line 64343" (for License text option) but I am unable to locate the exact Binaries in the original Binary file.
The reason I am posting is because I found a GPL v1 license as per the ScanCode report. The rule it used to i

[2022-02-24 12:35] pombredanne opened #2876 "The doc is missing explanation that packages should be installed first with their package manager"
from @fcat : https://gitlab.com/gitlab-org/gitlab/-/issues/343399#note_853906683

we should have this doc alright.

[2022-02-24 15:27] pombredanne commented on #2826
@Jeeppler FWIW I am technically a maintainer on the Python library: https://github.com/spdx/tools-python too but I do not have enough time to handle it these days and I am looking for sponsors that could help fund some work of community members on this.

[2022-02-24 15:28] pombredanne commented on #2826
Or folks that could help maintain it.

[2022-02-24 16:02] pombredanne commented on #2874
@kiranravindran90 Thank you ++ for this.
Do you mind to try this out on the latest code from the HEAD of the develop branch?
There could be less issues in this code... Also see this related issue with elements of a design to solve this  #2403

[2022-02-24 16:03] pombredanne commented on #2874
In particular https://github.com/nexB/scancode-toolkit/commit/72faf0c45abef36f135a65614532eae114e1cef3 did bring up some improvements

[2022-02-25 06:57] pombredanne opened #2877 "False positive AGPL detection from a mere URL"
We are detecting an AGPL with `agpl-3.0-plus_152.RULE` and this text `http://www.ghostscript.com` ... for instance from https://github.com/ReactiveX/rxjs/blob/6.x/README.md

This is noisy.

There are two ways out:
1. remove these short URL and related rules since they are not enough of their own to be a license detection, or
2. treat and report separately mere clues such as this one: they could be

[2022-02-25 08:07] pombredanne opened #2878 "RFC: a plan for false positive license detection"
### Context

We are reporting too many false positive licenses. We need to fix this!

### Problem

There are several false cases, yet they boil down to these types:

1. False detection of very short and weak license detection rules detected exactly such as:
    - a URL or a project name such as a URL to a well known AGPL-licensed which is not always a sign of AGPL as in https://github.com/nexB/sca

[2022-02-25 11:56] pombredanne opened #2879 "Research https://opendev.org/assets/js/licenses.txt"
Find out how https://opendev.org/assets/js/licenses.txt was generated and if there is a format that's used commonly enough that we could treat this as a package-like data. Find a list of projects that may use this (openstack may be?)

[2022-02-25 15:19] pombredanne commented on #2854
Thanks for the report. Deps reporting is being overhauled in @AyanSinhaMahapatra branch  #2691 which is under review :)

You wrote:

The SPDX is missing the deps alright, but the JSON output which ScanCode's native AboutCode format should have the deps alright?

Also I am a bit at loss on how to represent dependencies in the SPDX output. What would be your take for this?

[2022-02-25 15:32] pombredanne commented on #2859
Thanks for the report!
The latest develop returns something as:
[code]
and we should really get only
[code]
or just one of these.
Nunit --if I recall correctly-- has a long history (with ScanCode) because of the injection of copyright in the middle of the license text. I have added a note in #2878 too, and your input would mean a lot there too!

[2022-02-25 19:15] pombredanne commented on #2865
@PatteSI @sschuberth I am putting together a the outline of a "False" plan at https://github.com/nexB/scancode-toolkit/issues/2878
And I will ping all interested parties so we can find the best solution.
One thing that would be really critical is to get more examples and test cases so we can better discern patterns to resolve this in the most efficient way

[2022-02-28 06:27] kalashvasaniya commented on #2879
I want to work on this issue Please assigned me!

[2022-02-28 06:28] kalashvasaniya opened #2881 "Change emoji"
## Introduction

### 🧐 What you will have to Do

You'll have to contribute to the ScanCode Toolkit Documentation, to solve inconsistensies/update
docs.

 - You'll find an issue from [here](https://github.com/nexB/scancode-toolkit/issues/1826)
 - Create an issue using this template [here]()
 - And then solve it (Follow the Task List Below).

### A first-timer's Issue

A [first-timers-only issue](ht

[2022-02-28 07:58] pombredanne commented on #2881
What is this about? there is nothing but boilerplate in this

[2022-02-28 08:26] porsche-rishisaxena commented on #2878
Hi Philippe,

In reference to our collective ORT community meeting, we touch base on the false positive license detection 2 weeks ago on version v30.1.0 where Porsche AG OSO also consolidated a report of false-positive cases. Please find attached the report for your kind reference and review.

[report_false_positives.xlsx](https://github.com/nexB/scancode-toolkit/files/8151669/report_false_positiv

[2022-02-28 18:44] PatteSI commented on #2878
Thank you for taking action here.
I will now have a deeper look into our false positive findings as well.
EDIT: I forgot to mention that everything I mention below was found using scanCode 30.1.0
At first glance it seems that many LicenseRef-scancode-free-unknown  and LicenseRef-scancode-unknown-license-reference findings in our Java projects are actually found in META-INF/LICENSE files created by

[2022-03-01 15:06] PatteSI commented on #2878
I created a python parser that can parse the evaluated-model.json file create by the ORT Reporter.
It is currently scanning a list of problematic licenseRefscan codes which are mostly (always?) causing false positives: https://gist.github.com/PatteSI/5904f4bdfb149dc1ce8c73da53e2f6ae
I parse a couple of our component and this is the result. Of course it still contains a lot of duplicates (it's a js

[2022-03-01 18:36] pombredanne commented on #793
See the PR in https://github.com/nexB/scancode-toolkit/pull/2822
We still need support for kotlin build scripts too.

[2022-03-01 18:36] pombredanne commented on #793
See also https://github.com/nexB/scancode-toolkit/issues/2761

[2022-03-02 12:14] AyanSinhaMahapatra opened #2882 "Package Detection errors are swallowed"
### Description

Any errors in package_data parsing is swallowed and not raised as an error.
See the comment at https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/api.py#L317

This is problematic as it doesn't show errors which should be raised and quietly just drops package results.
This should be atleast added to the codebase scan errors at minimum.

### How To Reproduce

This is

[2022-03-02 13:11] Jeeppler commented on #1903
@pombredanne it seems like this issue can be closed. The corresponding pull request was merged almost 2 years ago.

[2022-03-02 13:14] Jeeppler commented on #2812
@DennisClark thanks for reporting this. I ran into the issue as well and got very confused.

[2022-03-02 13:46] Jeeppler opened #2883 "Checksum for release artifacts"
## Short Description

Please provide a checksum for the release artifacts.

## Possible Labels

- integrity
- new feature

## Select Category

-  [ x ] Other

## **Describe the Update**

Provide a checksum of the release artifacts.

## **How This Feature will help you/your organization**

It allows one to confirm the integrity of the downloaded file. A simple checksum does not provide authenticity

[2022-03-02 15:50] pombredanne commented on #1675
As part of this we should also revisit the meaning of "unknown" licenses.
We have at least these today  in the "Unstated License" Category:
- free-unknown
- generic-exception
- generic-export-compliance
- generic-tos
- generic-trademark
- unknown
- unknown-license-reference
- unknown-spdx
- other-permissive
- other-copyleft

As discussed with @DennisClark most of these licenses have inadequate not

[2022-03-02 15:59] pombredanne commented on #2883
@Jeeppler sure thing! we can have these signed and checksumed alright.
Can I interest you in a small PR? :innocent:
The code to create the release is there https://github.com/nexB/scancode-toolkit/blob/develop/etc/release/scancode-create-release.sh

[2022-03-02 22:24] soma2000-lang commented on #2876
@pombredanne  I want to work on this

[2022-03-03 03:52] #2881 closed, assigned to nobody

[2022-03-03 06:48] pombredanne commented on #2865
@PatteSI and I had forgotten to thank you for the detailed suggestions.

[2022-03-03 06:50] pombredanne commented on #2878
@porsche-rishisaxena Thank you ++ for the list of false positive in https://github.com/nexB/scancode-toolkit/issues/2878#issuecomment-1054006455 ... this is great and actionable!

[2022-03-03 07:07] pombredanne commented on #2878
@PatteSI re: https://github.com/nexB/scancode-toolkit/issues/2878#issuecomment-1054555346

These tow look like basic license-related clues, but are not real license statement alright.

Here is the detection I get:
[code]

This is weird and I got them the same way in both case. Could it be ORT handling things differently in these cases?

Oh well.... as the saying goes, "no good deed goes unpunished

[2022-03-03 07:16] pombredanne commented on #2878
@PatteSI re: https://github.com/nexB/scancode-toolkit/issues/2878#issuecomment-1055541382

This is great! Ideally what I would need is a script that would fetch the code. With that I could run `extractcode` to extract any archive and run a scan to get the actual details. I think this can be derived from you JSON.

[2022-03-03 07:19] pombredanne commented on #2878
@porsche-rishisaxena re: https://github.com/nexB/scancode-toolkit/issues/2878#issuecomment-1054006455

The CSV is super useful and I can derive a script to automate re scanning from this too.

In your case and @PatteSI case, creating these data required a lot of (useful) work.
I am wondering what could be the tools that would make it easier to help you report these false positive.

[2022-03-03 07:27] sschuberth commented on #2878
ORT is not handling findings in binaries or sources differently per se, and is taking ScanCode findings mostly as-is (except some post-processing to remedy #2873). But it might be that some project-specific path excludes were applied in that particular case.

[2022-03-03 07:29] sschuberth commented on #2878
For ORT, if false-positives were addressed via [package configurations](https://github.com/oss-review-toolkit/ort/blob/main/docs/config-file-package-configuration-yml.md#defining-path-excludes-and-license-finding-curations), we could quite easily extract the `detected_license` vs. the `concluded_license`.

@fviernau, is that something that could be done from HERE's (probably massive) amount of pac

[2022-03-03 08:37] pombredanne commented on #2878
@fviernau

If there is something that can be shared, that could be used to fix massively some of these false positive! :)

[2022-03-03 09:20] eversinc33 commented on #2854
With JSON I was referring to spdx-json.

I would suggest to add the relationships such as CONTAINS, CONTAINED_BY etc., see page 80 here: https://spdx.dev/wp-content/uploads/sites/41/2020/08/SPDX-specification-2-2.pdf

I can not answer you about the native AboutCode format as that was not of interest to us when evaluating scancode toolkit and unfortunately I do not have the files anymore.

Looking

[2022-03-03 09:43] pombredanne commented on #793
For a kotlin example, see https://github.com/oss-review-toolkit/ort/pull/5118/files#diff-33aaad2b3b1af4604de8953a12f27fd248b6d4ab52d1d26ec5aff807123d2715

[2022-03-03 13:25] pombredanne commented on #2854
@eversinc33 re:

we do not have this yet as an output format

What do you think would be the best way to map our models to these relationships?

[2022-03-03 13:39] eversinc33 commented on #2854
Right, I'm stupid, then I probably meant the AboutCode format, and thought it was SPDX-JSON. Sorry, tried too many different tools, and its hard to not mix memories in my mind :)

I cannot give an elaborate answer on that, but what I would be expecting as a user, is at least to have them not as individual files, but as a Package. Then, if there are dependencies between packages, list them as Relat

[2022-03-03 14:12] Jeeppler commented on #2883
Yes, I will create a PR. Thanks for pointing me to the release script.

[2022-03-04 09:13] pombredanne commented on #767
Note that we have implemented the bulk of these recipes as pipelines in scancode.io
See https://scancodeio.readthedocs.io/en/latest/scanpipe-concepts.html#pipelines for details.
Of note, there is no YAML involved. These are instead plain Python scripts
This is an example of a sophisticated recipe for Docker image scanning https://github.com/nexB/scancode.io/blob/main/scanpipe/pipelines/docker.py

[2022-03-05 13:07] pombredanne commented on #2815
@adii21-Ux I just saw your comment... can you elaborate a bit? may be pasting the --yaml output can help as this is hard to read otherwise

[2022-03-05 21:49] pombredanne commented on #2878
Here are some related issues:
- https://github.com/nexB/scancode-toolkit/issues/270 reported by @yahalom5776
- https://github.com/nexB/scancode-toolkit/issues/2877
- https://github.com/nexB/scancode-toolkit/issues/2865 by @sschuberth and @PatteSI
- https://github.com/nexB/scancode-toolkit/issues/2815 by @sschuberth
- https://github.com/nexB/scancode-toolkit/issues/2769 by @mjherzog (which contains

[2022-03-06 08:24] kiranravindran90 commented on #2874
Dear Philippe,
While thanks for the initiatives on the False Positives. While as you would already know Binaries can be very challenging with so much gibberish around the keywords.

See if it would be possible that along with "Start-line", the "Binary address" in the original file also can be part of the report?
It would help me to identify the location & manually verify some false positives, not

[2022-03-06 08:24] sschuberth commented on #2815
In any case, "MIT" would also be a false finding ;-)

[2022-03-07 07:45] soimkim commented on #2835
I'm also trying to install on m1 mac, but I get the same error as https://github.com/nexB/scancode-toolkit/issues/2835#issuecomment-1028381190. (m1, python 3.9)

[2022-03-07 09:42] pombredanne commented on #2835
@soimkim @MarcelBochtler Thank you for the reports. I now officially hate Apple and ARM. :angel:

[2022-03-07 10:10] bennati commented on #2878
@pombredanne I attach the false positives from a bunch of HERE curations, as produced by @PatteSI 's script.
Hope this helps,
[falsepositives.txt](https://github.com/nexB/scancode-toolkit/files/8196756/falsepositives.txt)

[2022-03-08 07:50] sschuberth commented on #2878
To be frank, I believe having a live call with all reporters of false-positive mentioned here would be overkill. Also, I guess most people don't care too much *how* their issue is fixed as long as it *is* fixed.

From my side, however, I'd strongly vote against hard-coding just the reported cases as false-positives. Instead, we should
- ensure that rules always contain enough words / context to co

[2022-03-08 10:03] armijnhemel commented on #2878
Be careful to not fall into the "perfect is the enemy of good" trap. If trying to avoid the false positives from happening in the first place significantly complicates the code (making it harder to maintain/change/etc.) then I don't see a problem with hardcoding the false positives.

But this depends on how many of the results are false positives. @pombredanne do you have an idea of the scale of f

[2022-03-08 17:13] pombredanne opened #2885 "Treat as Debian copyright some extra files"
See https://github.com/rapid7/metasploit-framework/blob/master/LICENSE
[code]
this is not named copyright BUT is a copyright file.

IMHO the mere fact that we have:
`Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/`
or `Format: http://www.debian.org/doc/packaging-manuals/copyright-format/1.0/` as the first line could be enough?

[2022-03-09 20:22] AyanSinhaMahapatra opened #2886 "Do not raise exception on name/type mismatch for package instance creation"
### Description

[code]

Exception being raised here: https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/models.py#L966

This was happening because we were looking into manifests from test folders too btw, in this case:  `setuptools-58.2.0/pkg_resources/tests/data/my-test-package-source/setup.cfg`

### How To Reproduce

Scan `setuptools-58.2.0` with scancode-toolkit develop at

[2022-03-09 23:47] #2886 closed, assigned to AyanSinhaMahapatra

[2022-03-10 12:13] sschuberth commented on #2480
This is [happening again](https://github.com/oss-review-toolkit/ort/runs/5494035652?check_suite_focus=true#step:5:1465) as of today, but this time regarding `charset_normalizer`:

[code]

[2022-03-10 12:54] sschuberth commented on #2480
BTW, @pombredanne, following up on a comment by @maxhbr in ORT, what *is* the recommended way to install ScanCode nowadays?

We seem to have 3 options by now:
- from source
- via pip (see this issue)
- from the release archive (currently suffers from #2762 and #2869)

According to [ScanCode docs](https://github.com/nexB/scancode-toolkit/blob/develop/docs/source/getting-started/install.rst#installa

[2022-03-10 16:26] AyanSinhaMahapatra commented on #2843
Closing this! Addressed in #2825

[2022-03-10 16:26] #2843 closed, assigned to AyanSinhaMahapatra

[2022-03-10 16:26] AyanSinhaMahapatra commented on #2693
Addressed in #2825 . Closing this!

[2022-03-10 16:26] #2693 closed, assigned to AyanSinhaMahapatra

[2022-03-10 16:27] AyanSinhaMahapatra commented on #2692
Addressed in #2825 , closing this!

[2022-03-10 16:27] #2692 closed, assigned to AyanSinhaMahapatra

[2022-03-10 16:28] AyanSinhaMahapatra commented on #2691
Added in #2825 , closing this.

[2022-03-10 16:28] #2691 closed, assigned to AyanSinhaMahapatra

[2022-03-10 19:42] pombredanne commented on #2480
@sschuberth re: charset_normalizer: issue above

Sorry for this, but there quite a bit of churn these on PyPI packages changing their minimal Python version and dropping Python 3.6 and I noted that this has many side effects. I am not sure this comes from our side though.

We have three options:
- 1. for developers, a git checkout or git tarball then run `./configure` or `./configure --dev`. This

[2022-03-10 20:39] sschuberth commented on #2480
Ok, so that leaves us only with the option to build from source, I guess, as `pip install` does not work right now, and neither do the release archives due to #2869. I'll make the changes in ORT.

[2022-03-10 21:44] pombredanne commented on #2869
@sschuberth this works fine for me:
[code]
There is no need to reindex licenses anymore when you use a proper release archive BUT I see you are NOT using a release archive here but a GitHub generated git tarball. I would NOT recommend this way of installing as this is never something that is tested.

Use instead a proper release archive for your Python version and OS such as https://github.com/nex

[2022-03-10 21:49] pombredanne commented on #2480
@sschuberth Can you tell me what is your exact setup? Because I can install from pip alright on Python 3.8 on Linux. There are no specific issues in general at this stage. There can be quirks at times, but most are rare. It could very much be that the "charset_normalizer" issues you have is a transient failure or an heisenbug.

If the problem is that in https://github.com/nexB/scancode-toolkit/iss

[2022-03-10 21:50] pombredanne commented on #2480
@sschuberth also FWIW I do not think your issue is related to this issue at all.

[2022-03-11 09:23] pombredanne commented on #2603
This is called https://scancode-licensedb.aboutcode.org/bsd-source-code.html and the missing disclaimer is not critical to make it a separate new license.

[2022-03-11 09:25] pombredanne commented on #2551
This is the same as https://github.com/nexB/scancode-toolkit/issues/2603 that I closed as a duplicate of this.

Carrying over the notes from there:

[2022-03-11 09:26] pombredanne commented on #2551
Note that the latest develop branch has these results:
[code]

.... this is better but not prefect yet.

[2022-03-15 14:28] sschuberth commented on #2480
That indeed seems to have been the case, as the issue not reproducible anymore 🤷🏻‍♂️

[2022-03-15 14:28] #2480 closed, assigned to nobody

[2022-03-15 14:34] sschuberth commented on #2869
Yes, that's something we did in the past as not all releases we were interested in had binaries attached.

Out of curiosity, how's installing from a GitHub generated source archive different from installing from sources as documented (and thus probably tested) [here](https://github.com/nexB/scancode-toolkit/blob/develop/INSTALL.rst#advanced-installation-from-source-code-using-a-git-clone)?

[2022-03-15 15:55] pombredanne commented on #2869
Good point: it should not be vastly different but there are no test for it. And since we are moving to a git-tag-derived automated versioning, this may have unwanted side effects as it may not work exactly as expected, though we do have a .VERSIOn generated for git tarballs to possibly mitigate this as seen here https://github.com/nexB/scancode-toolkit/blob/7bc0782fdfda9da5dba0500446ff3e8d58623e99

[2022-03-15 16:02] sschuberth commented on #2869
Thanks for the explanations.

Ok, let's close this then.

[2022-03-15 16:02] #2869 closed, assigned to nobody

[2022-03-16 08:59] sschuberth commented on #2878
That's exactly the point. Based on feedback from ORT users, the false-positive rate for at least the "free-unknown", "unknown-license-reference" and "proprietary-license" license keys seems to be close to 100%.

[2022-03-16 09:25] pombredanne commented on #2878
@sschuberth re:

My hunch and anecdotal evidence is that this is surely not close to 100%  by a large margin. But I may be wrong.
That's why the hard data input is key here.

[2022-03-17 01:34] JonoYang opened #2890 "Clarification on license rules with openssl exception"
When reviewing the scan results for the copyright file from the Ubuntu package `libcryptsetup12` (http://changelogs.ubuntu.com/changelogs/pool/main/c/cryptsetup/cryptsetup_2.2.2-3ubuntu2.4/copyright), we ran across the license expressions that look incorrect because `openssl-exception-gpl-3.0-plus` is present in the expression when `gpl-3.0` is not mentioned in the copyright file:

- `lgpl-2.1-plu

[2022-03-18 10:16] PatteSI commented on #2878
I could not identify a single "true" finding in our projects so that there was an actual hint to an "unknown license". You have 2 big text files here in this thread from 2 different persons with potential false positive findings that are categorized as "*unknown*" license references. I challenge you to show me a real finding in those files that are actual true hints to an unknown license behind so

[2022-03-18 12:10] armijnhemel commented on #2878
I guess that there might be an interpretation issue here about what "unknown" means. Is it "not a known open source license" or "a license that Scancode couldn't determine". Correct me if I am wrong, but I think that you mean the former. For me it is definitely the latter. Could you clarify?

Depending on what is meant there are different solutions (if there are). It might be good to look at what

[2022-03-18 14:30] porsche-rishisaxena commented on #2878
Hi @pombredanne
We have found further false-positive license detection where scan-code reported blank SPDX expression but when checked manually the actual license was present in the library on GitHub. Please find attached report to this thread for your kind review.
Note: This time scan-code did not even report "Unknown" and was just blank.

[NoLicenseDetection-report.xlsx](https://github.com/nexB/

[2022-03-18 15:32] pombredanne commented on #2878
@PatteSI Thank you ++ that's super valuable input.

[2022-03-18 15:33] pombredanne commented on #2878
@porsche-rishisaxena re:

Note: This time scan-code did not even report "Unknown" and was just blank.

Thanks. Super useful too.

[2022-03-18 16:12] PatteSI commented on #2878
It's not about "open source" license. I am pretty sure we can detect almost all known open source licenses. It's about "hints" to "unknown" (usually proprietary) licenses. As far as I know there is no standard on what wording has to be used in a source code file in order to place it under some arbitrary license. I am not even sure if one has to use the word "license" in order so do so. So basicall

[2022-03-18 16:16] armijnhemel commented on #2878
So the core question really is: what do you think "unknown license" means? Is it "there is a license but scancode doesn't know which one because it is not in its knowledgebase" (whether or not it is open or closed) or "scancode couldn't detect which license it is and threw its hands up"? This is conceptually a big difference.

[2022-03-18 17:59] abhishak3 commented on #2299
@pombredanne i added new copyright test cases.

[2022-03-18 18:14] abhishak3 commented on #2299
@pombredanne i added new copyright test cases.

[2022-03-19 00:29] mjherzog opened #2892 "Choice of GPL versions 2 or 3 reported as gpl-3.0"
The source files for https://www.remlab.net/ndisc6/ have the following license notice:

   5 /*************************************************************************
   6  *  Copyright © 2004-2007 Rémi Denis-Courmont.                           *
   7  *  This program is free software: you can redistribute and/or modify    *
   8  *  it under the terms of the GNU General Public License as publish

[2022-03-19 11:09] adityasangave commented on #2872
@pombredanne I tried to solve it by adding a new rule but no use can you please explain any other ways

[2022-03-20 13:24] adityasangave commented on #2872
We have specified LicenseRef-LICENSE [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/licenses/proprietary-license.yml) but its not detecting it so should I declare new .LICENSE and .yml for this specific key

[2022-03-21 14:37] schvvarzekatze opened #2893 "Unknown Scanner Error for Python Files in packages"
### Description

I scanned our project using ORT which depends on ScanCode.

I get unknown scanner errors referring to serveral Python files e.g.:
Package: `Maven:com.drewnoakes:metadata-extractor:2.16.0`

``
ERROR: for scanner: licenses: ERROR: Unknown error: Traceback (most recent call last): File "/usr/local/lib/python3.8/dist-packages/scancode/interrupt.py", line 91, in interruptible return NO

[2022-03-21 15:02] pombredanne commented on #2872
this would be a likely  bug in the code that's supposed to do this. That's the npm code to compute a normalized license

[2022-03-21 16:49] pombredanne commented on #2872
I think that this can be fixed in code and not just with a rule.
See https://github.com/nexB/scancode-toolkit/blob/7bc0782fdfda9da5dba0500446ff3e8d58623e99/src/packagedcode/npm.py#L485 and https://github.com/nexB/scancode-toolkit/blob/7bc0782fdfda9da5dba0500446ff3e8d58623e99/src/packagedcode/models.py#L658

[2022-03-23 10:04] PatteSI commented on #2878
I think this discussion is a bit deviation from the original problem here. It doesn't matter what anyone thinks "unkown license" means. We are discussing how the heuristics could be improved and ways to give the end users more options to evaluate findings. I am talking here as an end-user of ORT, which is using ScanCode as a scanner. Now we started to migrate away from NexusIQ to ORT and we see so

[2022-03-23 14:01] clempou opened #2895 "extractcode --shallow inconsistency"
### Description

The Section "Performing Extraction" from the tutorial page "How to run a scan" mentions a Note:
"--shallow option can be used to recursively extract packages" while the "How to extract archives" tutorial mentions:
"--shallow
Do not extract recursively nested archives (e.g. Not archives in archives)."

### Link to Documentation Pages

https://scancode-toolkit.readthedocs.io/en/late

[2022-03-23 15:49] pombredanne commented on #2895
@clempou Thanks! that's a bug alright. `--shallow` means non-recursive

[2022-03-24 15:05] pombredanne commented on #2861
At this stage I think we are mostly feature complete with the code merged in develop and is ready to test and use there.
We will need to have through feedback and testing once we have a release out.

[2022-03-24 15:14] pombredanne opened #2897 "We should assign a category to a license-expression to clarify `license WITH exception` cases"
For instance `GPL-2.0 WITH Classpath-exception 2.0` should be treated as Copyleft-limited and not as Copyleft

This was reported by @DennisClark and it could be that all exceptions to a Copyleft license turn a license expression in a Copyleft-limited

[2022-03-24 15:16] pombredanne commented on #2842
We now have a new `--summary2` option by @JonoYang that gets a decent primary license for a whole codebase. What we do not have yet is the surfacing the primary license in a package.

[2022-03-24 15:25] pombredanne commented on #2098
This is mostly done but there are some smaller issues pending.

[2022-03-26 08:30] pombredanne commented on #2878
I have attached a presentation to better grap a summary of the issue:

[ScanCode-licenses-false-positive-2022-03.pptx.pdf](https://github.com/nexB/scancode-toolkit/files/8354991/ScanCode-licenses-false-positive-2022-03.pptx.pdf)

[2022-03-26 08:52] pombredanne commented on #2878
@richardfontana I would be interested to get some feedback too
@opensourcepilot I was re-reading your (thought-provoking) article in https://opensource.com/article/21/7/open-source-scanning-error and we are trying to fix false positives license detections for ScanCode with this issue. Your insights would be much appreciated!

[2022-03-26 09:04] pombredanne commented on #2893
@schvvarzekatze Thanks!

I reckon that you see these in the scan output or in scan results in the error attribute, but that scan does not crash otherwise?
is this correct?

This seems to be from invalid PDF file.

[2022-03-26 15:34] richardfontana commented on #2878
@sutula may find this of interest

[2022-03-27 04:29] askkhan84 opened #2898 "Dcoument CICD integration"
Do we have an example of how to integrate Scancode in CICD pipeline. My use case is that I have an allowed list of licenses that I have defined as license policy and pass it to scan code --license-policy. It adds a new tag as well. But I cannot figure out how to easily identify which files do not match my license policy and extract them from the output. The idea is to extract the files that have u

[2022-03-28 07:20] alext34ms commented on #2878
On the topic of making the current rule set a bit more stringent:
The feature of making certain tokens required by putting them in `{{` `}}` is an awesome tool to sharpen SCTK even more.
The challenge is that we have 31.000+ rules. But that should not stop us. 😉

**Proposal**: doing an "automated" retro-fit of all rules to include SPDX identifiers in `{{` `}}`.
I made a very KISS "one liner" that

[2022-03-29 06:34] lalitbittu11 opened #2900 "required match percentage for Scan to identify a string of text as a license must be increased"
Scan thinks there is a "google-patent-license-webm" but this is not true

The rule (bsd-new_and_google-patent-license-webm_5.RULE):

*  Use of this source code is governed by a BSD-style license
*  that can be found in the LICENSE file in the root of the source
*  tree. An additional intellectual property rights grant can be found
*  in the file PATENTS.

The text in the source code:

     1

[2022-03-29 09:18] schvvarzekatze commented on #2893
Yes, exactly. The scan continues after throwing this or a similiar error.

[2022-03-29 14:07] pombredanne commented on #2878
@alext34ms re:

Sleek! very smart. I like it

I do not think there it would have any impact.

These should be left alone. These are rules that can be matched only exactly and that are about licenses but are NOT license notices or texts. They should be used sparingly as a last resort. For instance, this text:

is NOT a GPL-related notice, but some commentary about the GPL license and would be a typ

[2022-03-29 15:38] emmahsax commented on #2591
@pombredanne

I am running into the same exactly issue as described here:
[code]

results in empty license data. Why does this not work as expected? What is the fix?

I would rather not use scancode.io.... I just want a parseable json file.

[2022-03-29 16:11] TechnologyClassroom opened #2901 "Filename too long"
When installing from pip on Ubuntu 18.04, I ran into this error:

[code]

Referenced [scancode file link](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/gpl-3.0_with_sencha-app-floss-exception_or_gpl-3.0_with_sencha-dev-floss-exception_or_sencha-commercial_and_public-domain_and_mit_and_mit_1.RULE)

Commands ran:

    sudo apt update && sudo apt upgrade -y && sudo

[2022-03-29 20:52] pombredanne commented on #2591
@emmahsax Thank you for the feedback!

For now, scancode has been strictly working offline e.g., without any network connection and without running a build. Offline means that we do not have/fetch details for things that do not exist in the codebase.

Getting license for packages that do not exist locally can be resolved in two ways:

- you run a build (say here an `npm install` or `yarn install`)

[2022-03-29 20:59] pombredanne commented on #2901
@TechnologyClassroom Thank you for the report.
This is surprising though.... are you running some kind of encrypted filesystem like luks?
https://en.wikipedia.org/wiki/Linux_Unified_Key_Setup ... this would be the only case I can think of. Which FS you have?

[2022-03-29 21:02] pombredanne commented on #2901
See https://unix.stackexchange.com/questions/32795/what-is-the-maximum-allowed-filename-and-folder-size-with-ecryptfs

[code]
where 144 is just one too many above 143... which is luks and ecryptfs max filename length! So fixing this will be easy: shortening these names and adding a test to ensure we reject names longer than 143 chars.

[2022-03-29 22:26] emmahsax commented on #2591
@pombredanne In order to get some results, I've just been passing in `yarn.lock`. Whenever I try to run scancode offline on an entire repository, it takes forever to get through the `node_modules` directory. It sometimes takes hours to scan all the `node_modules` directory, and then will just timeout at the filtering stage. I'm not sure if there's some sort of flag I'm supposed to use to make it n

[2022-03-29 23:19] TechnologyClassroom commented on #2901
You guessed it!

[2022-03-30 01:52] chinyeungli opened #2902 "Issues about the `--dwarf` plugin"
### Description

There are two issues that I spot for the `--dwarf` plugin:
1. Nothing is returned from the `--csv` output (Note that the `--json` and `--yaml` work fine)
2. The returned dwarf reference path is not normalized (i.e. there are some path that have project/a/b/c/../../test.c)

### How To Reproduce

[code]

[2022-03-30 15:32] chaitanya710 opened #2903 "Throws invalid format error despite correct path specification for some files/directories"
While passing valid directories for scanning, it shows (running with docker)

[code]

[code]

But if I pass the 'src' directory as an input, it does give a complete report.
OS: Ubuntu 20.04.4 LTS

[2022-03-31 04:32] chaitanya710 commented on #2810
Hello. I performed an email scan and it did not detect a false positive. Also when I modified that to a valid domain like gmail, it detected as a valid result.

[2022-03-31 07:55] Jeeppler commented on #2874
I created a small quick and dirty Python script which generates a binary file with an embedded MIT license text:

[code]

[MIT.txt](https://github.com/nexB/scancode-toolkit/files/8387021/MIT.txt)

After scanning it with ScanCode, one will get an output similar to:

[code]

NOTE: The output is shortened for readability purposes.

ScanCode recognizes the license and copyrights well. However, how are

[2022-03-31 08:42] pombredanne commented on #2810
Thanks! This confirms that https://github.com/nexB/scancode-toolkit/commit/fd81c3d244ee5a362eb190fd7bde4a25283b7431 is a proper fix. I can now close this.

[2022-03-31 08:43] AyanSinhaMahapatra commented on #2810
We still detect a `cc0` license here btw, which shouldn't be detected.  #2878  #2403

[2022-03-31 09:08] pombredanne commented on #2874
@Jeeppler Thanks for this report!

The start and end lines for binaries are kind of special.
The text is first processed through a binary to strings converter and the license numbers are the ones in this conversion. We do not track binary offsets in practice as ScanCode rarely operates on bytes (or even strings) but rather either lists of text lines and/or lists of words (themselves abstracted com

[2022-03-31 13:02] vargenau opened #2904 "ScanCode stops with the following error message: AttributeError: module 'click' has no attribute 'get_terminal_size'"
### Description

ScanCode stops with the following error message:
[code]

### How To Reproduce

[code]

### System configuration

* What OS are you running on? Ubuntu 21.10
* What version of scancode-toolkit was used to generate the scan file?
[code]
* What installation method was used to install/run scancode? pip

[2022-03-31 13:32] pombredanne commented on #2904
@vargenau Thanks for the report!
How did you install scancode? using pip?

[2022-03-31 13:41] pombredanne commented on #2904
@vargenau I am pretty sure you did so!

I think we need to run a daily test that runs against the latest and great of every dependency.
The root of this issue is https://click.palletsprojects.com/en/8.1.x/changes/#version-8-1-0

Basically click dropped features in a dot release :|
I do not blame them for this, but that's unfortunate.
We have release tarballs that contain pinned version of all deps

[2022-03-31 13:42] pombredanne commented on #2904
Short term, your fix is going to be `pip install click==8.0.4 scancode-toolkit`

[2022-03-31 14:12] vargenau commented on #2904
Hi Philippe,

Thank you for your quick answer.
Yes, I have installed with pip, it was mentioned at the end of the report.
[code]
solved the issue.

[2022-03-31 14:13] AyanSinhaMahapatra commented on #2904
This is also effecting CI at https://dev.azure.com/nexB/scancode-toolkit/_build/results?buildId=6002&view=logs&j=6fa229e7-9b02-598d-9b65-7b6b72923281?

[2022-03-31 15:44] pombredanne commented on #2861
Next step will be to deprecate the old license scoring

[2022-03-31 17:38] vargenau opened #2905 "Many duplicates in SPDX files"
### Description

In the SPDX code, we have multiple times the same code, for example:
[code]

or

[code]

I do not know if it is really a bug, but is is at least confusing.

[reuse.spdx.txt](https://github.com/nexB/scancode-toolkit/files/8391750/reuse.spdx.txt)
[tern.spdx.txt](https://github.com/nexB/scancode-toolkit/files/8391751/tern.spdx.txt)

### How To Reproduce

[code]
where the code comes f

[2022-03-31 18:36] pombredanne commented on #2905
@vargenau Thank you for the report!

You wrote:

I assume here (may be incorrectly) that when you say " we have multiple times the same code" you mean that the "Se details ... " comment is showing up twice?

It is always best to run with `--license-text` with an SPDX output to ensure that the extracted text is populated.
Otherwise, you have a boilerplate `ExtractedText: <text>See details at https:

[2022-03-31 19:04] pombredanne commented on #2905
I ran a single scan on https://raw.githubusercontent.com/tern-tools/tern/cdc6732eda7de1e5e1f9e1298a6db2e073ec48fc/LICENSE.txt

Of note:
1. the text is damaged with mojibake. This is eventually making matching a bit less accurate
[code]

2. the license detection could be better and return only two matches rather than three
3. we are working on refinements to eventually merge multiple matches in a s

[2022-03-31 19:14] pombredanne commented on #2905
wrt. to reuse: https://github.com/fsfe/reuse-tool/tree/master/src/reuse/resources contains long lists of SPDX licenses that are real license mentions but false positives since this is a tool that is license-related.
The latest develop branch has several fixes in this area and many more planned in #2878 but this is still showing up in this case.

In general, note that ScanCode is not optimized to s

[2022-03-31 19:17] pombredanne commented on #2904
@vargenau re:

Great!

FWIW, 1/2 of the whole Python FOSS world started to bug and crash over the last few days following this release of Click 8.1.0
At least we are not alone there.

[2022-04-01 03:41] xu1119 opened #2906 "How to use --ignore in run_scan()"
I call scancode from python code by using run_scan, code is below:
’‘’
from scancode import cli
path = '/work/osl/sample'
rc, results = cli.run_scan(path, license=True, info=True, ignore='*.js', return_results=True, processes=2)
‘’‘
code executes successfully，but error message occurs in result:
’‘’
"errors": [
                "ERROR: failed to run pre-scan plugin: ignore:\nTraceback (most recent c

[2022-04-01 06:49] AyanSinhaMahapatra commented on #2906
Try putting the `ignore` patterns in a tuple/list, see the ignore plugin code [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/plugin_ignore.py#L64).

`rc, results = cli.run_scan(path, license=True, info=True, ignore=('*.js'), return_results=True, processes=2)` should work imho

[2022-04-01 07:16] xu1119 commented on #2906
I try putting the ignore patterns in a tuple and also try in a list, it dosen't work, the error message is same.

[2022-04-01 11:50] vargenau commented on #2905
Hi Philippe,

Sorry if I was not clear.

In the tern.spdx SPDX file, you have the following:
[code]

(see bigger extract in the initial report)

Why do we have the same information 3 times for the same file?

[2022-04-01 13:28] vargenau commented on #2905
Hi Philippe,

As you recommended, I have used the  `--license-text` option.

I now get:

[code]

So we have the same LicenseID with a different ExtractedText. This seems illegal for me.

The SPDX spec says:
Provide a **locally unique** identifier to refer to licenses that are not found on the SPDX License List.

What do you think?

[2022-04-01 16:25] pombredanne commented on #2905
This "scancode" as used in the `LicenseRef` is called a license namespace and this is registered here https://tools.spdx.org/app/archive_namespace_requests/2/
So this is global and not local.

[2022-04-01 16:31] mjherzog commented on #2905
unknown-license-reference is a special case where ScanCode detects elements of what may be a license. The LicenseID values for unknown-license detections are generated for consistency in the output data - not for use in an SPDX document. There is major rework pending on the handling of unknown-license-reference - see also https://github.com/nexB/scancode-toolkit/issues/2878

[2022-04-01 22:36] pombredanne commented on #2801
@sameer1046 @chaitanya710  contributed a PR for this... See  #2907

[2022-04-02 12:02] chaitanya710 commented on #2801
Example report:

Command
`scancode --license --copyright samples/zlib/zlib.h --xml -`

Report on standard output

[code]

[2022-04-04 08:16] kiranravindran90 opened #2908 "Getting traceback calls & no report is generated."
### Getting traceback calls & no report is generated.

### How To Reproduce

While scanning source code files, after encountering a .sh file, this error seemed to be popping out (image below).
![MicrosoftTeams-image](https://user-images.githubusercontent.com/90866692/161502710-35a592df-7dba-47bf-89c6-59153f1df4c2.png)

Many Traceback calls were followed by a "**Multiprocessing Context Timeout Erro

[2022-04-05 21:27] pombredanne commented on #2908
@kiranravindran90 Thanks: do you have instructions so we can reproduce your setup? including a full trace?

[2022-04-06 00:56] mjherzog commented on #2422
Update from Chin Yeung from 3/30/22 from Issue 2902. I closed 2902 in favor of tracking this Issue.
There are two issues that I spot for the --dwarf plugin:

Nothing is returned from the --csv output (Note that the --json and --yaml work fine)
The returned dwarf reference path is not normalized (i.e. there are some path that have project/a/b/c/../../test.c)

How To Reproduce
`scancode --dwarf <pro

[2022-04-06 00:58] mjherzog commented on #2902
Added the information to Issue 2422. We should track the progress there instead

[2022-04-06 00:58] #2902 closed, assigned to nobody

[2022-04-06 06:14] kiranravindran90 commented on #2908
@pombredanne Find the full trace & instruction details.
__________________________________________________________
**Scan Instruction :**
scancode -clpi -n 2 --timeout 3600 --json <Output>.json <path>

**Package :** (~15GB)
Linux based Flashwares & source code.

**File types :**
.bin, .bct, .dat, .dtb, .img, .cpio

**Trace :**
Removing temporary files...done.
Traceback (most recent call last):
  F

[2022-04-06 06:41] pombredanne commented on #480
@KevinJi22 you wrote in the chats:

This could be an approach alright.

PyPI could work, or some other private mechanism like a private PyPI. For private things that would be beyond our reach anyway, so not in scope.

I could be something like this alright. Trying to ensure that we know exactly the state of the index would be difficult and error prone IMHO, so it seems best to require a manual rei

[2022-04-06 07:13] KevinJi22 commented on #480
@pombredanne Thanks for the quick reply! Can you explain why you're leaning towards the plugin approach instead of having a directory of these licenses? The directory approach seems simpler, and distribution seems roughly equivalent since users could just download a tar file of their desired licenses or something.

[2022-04-06 09:55] xu1119 commented on #2906
It is my problem, I ignore a single element tuple should contain a comma.
[code]
can work

[2022-04-06 09:55] #2906 closed, assigned to nobody

[2022-04-06 16:24] rspier opened #2910 "AGPL False Positive: W3C-TestSuite-LICENSE"
### Description

FP AGPL detection on https://raw.githubusercontent.com/gonum/gonum/master/THIRD_PARTY_LICENSES/W3C-TestSuite-LICENSE

### How To Reproduce

scancode -l --json-pp out.json  [W3C-TestSuite-LICENSE.txt](https://github.com/nexB/scancode-toolkit/files/8428725/W3C-TestSuite-LICENSE.txt)  --license-text --license-text-diagnostics

results in
[out.json.txt](https://github.com/nexB/scancod

[2022-04-06 16:35] pombredanne commented on #2910
@rspier Thanks!
@DennisClark  https://www.w3.org/Consortium/Legal/2008/04-testsuite-license.html and https://www.w3.org/Consortium/Legal/2008/04-testsuite-copyright.html looks like a new W3C license that we do not have in ScanCode?
See also https://www.w3.org/Consortium/Legal/2008/04-testsuite-copyright.html

This is quite rare as there are only a few refs found by Google search https://www.google

[2022-04-06 16:45] pombredanne commented on #2910
@rspier I pushed a partial fix and a test with https://github.com/nexB/scancode-toolkit/commit/d92df725ca62f801cd670e49b2cda8bbb804d181
We want a new license in too for proper resolution.

[2022-04-06 17:02] DennisClark commented on #2910
note, btw, that the original text spells the title as "Licence" rather than "License" so it will make some sense to look for either spelling for detection purposes.

[2022-04-06 17:09] pombredanne commented on #2910
@DennisClark great! I will make sure we have support for both spellings

[2022-04-07 02:29] JonoYang opened #2911 "Package scan error when scanning pip 22.0.4"
I downloaded pip 22.0.4 from https://files.pythonhosted.org/packages/33/c9/e2164122d365d8f823213a53970fa3005eb16218edcfc56ca24cb6deba2b/pip-22.0.4.tar.gz and I get the following error:

[code]

From a casual glance at https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/plugin_package.py#L265, it appears that we are getting this issue because some dependencies do not have purl va

[2022-04-07 03:10] rspier commented on #2910
Thanks!

[2022-04-07 13:00] AyanSinhaMahapatra commented on #2911
The culprit is the file below:

`pip-22.0.4/docs/requirements.txt`:

[code]

Here in the last line we have a `.` which is parsed and the following dependency is returned:

[code]

This purl less dependency causes the failure at dependency creation.

@pombredanne what should be the approach here to fix this?

1. Is this something the requirements parser should handle?
2. Should we discard these whi

[2022-04-07 13:31] pombredanne commented on #2911
It does afaik. If not please submit a patch at https://github.com/nexB/pip-requirements-parser

This sounds the best approach. "dot" and editable requirements are not really something that can be processed further (pip-requirements-parser should provide all that is needed to determine which is which)

in all cases this should not crash. IMHO we should skip the one record that failed to be assemble

[2022-04-09 02:13] JonoYang opened #2912 "Get more Python package data when scanning setup.cfg"
In Python packages, the `setup.py` file can contain origin info for a package. We can determine what the license, copyright holder, homepage and download URLs, as the package owner/maintainer declared it. However, some Python packages (like scancode-toolkit and other nexB projects) declare all of the package info and whatnot in `setup.cfg`, then let setuptools handle everything else. It does not s

[2022-04-11 09:54] sven-dmlr opened #2913 "PDS-Scancode: Make versions configurable"

[2022-04-11 09:56] sven-dmlr commented on #2913
Sorry - wrong project.

[2022-04-11 09:56] #2913 closed, assigned to nobody

[2022-04-11 12:14] AyanSinhaMahapatra commented on #2911
So pip-requirements-parser does have a flag `is_local_path` which is set True for this.

There are two places where we can drop this:

1. If `is_editable` or `is_local_path` is True, skip adding a `DependentPackage` for this line to PackageData.dependencies
2. If Purl is None, skip adding top-level Dependency for this.

Should both be done here?

Doesn't errors in `process_codebase` steps get coll

[2022-04-11 14:40] Jeeppler commented on #2874
@pombredanne the problem I want to solve is the following: one receives large binary files (several MBs to several GBs) which one has to scan for license compliance. The files are the result of compiling software from source code. However, the source code is not available, but one needs to know what licenses were detected. In case, the detected license is likely a false-positive, it is necessary t

[2022-04-12 08:29] BenediktThelen opened #2915 "Package scan for open source component detects 940mb of duplicated information"
### Description

We encountered an issue trying to scan the following open source component: [RxDataSources - 4.0.1](https://github.com/RxSwiftCommunity/RxDataSources/tree/4.0.1)

When doing a scan with the package information enabled it detects about 940MB of package information in the file [RxDataSources.podspec](https://github.com/RxSwiftCommunity/RxDataSources/blob/4.0.1/RxDataSources.podspec)

[2022-04-12 14:18] pombredanne commented on #2915
Thanks for the report! That's a bug alright and a great find.
Thank you for the details instructions to reproduce too!

[2022-04-12 15:22] pombredanne commented on #2874
IMHO the location is a possible and maybe useful but not essential and this is why ScanCode can extract and return the exact text that was matched with `--license-text` ... this is what is IMHO best suited for diagnostics.

You should reconsider this IMHO... That's going to be a problem otherwise as SPDX is a reporting format for exchange and not a license detection diagnostic format, e.g., this i

[2022-04-14 15:14] pombredanne commented on #2842
The latest approach is going to keep the old --summary and rename it as --tallies and the new summary is replacing it and  --consolidate will be deprecated.

[2022-04-14 15:17] DennisClark commented on #2094
this has been addressed by other tickets

[2022-04-14 15:17] #2094 closed

[2022-04-14 15:33] pombredanne commented on #1237
This has been merged. Closing now!

[2022-04-15 15:15] pombredanne commented on #2915
@BenediktThelen FYI I pushed a fix in a branch that @AyanSinhaMahapatra and I are working on. This will soon land in the develop branch

[2022-04-18 17:23] pombredanne commented on #480
Either way can work. The plugin may come in handy too for installation in many places.

[2022-04-18 21:26] JonoYang opened #2917 "Failing test for CycloneDX output plugin"
I am failing this CycloneDX output test
[code]

I tried regenerating the test expectations, but it doesn't seem to change the existing test expectations.

[2022-04-20 09:16] pombredanne commented on #2901
@TechnologyClassroom This is fixed in https://github.com/nexB/scancode-toolkit/pull/2918

[2022-04-20 09:17] pombredanne commented on #2904
A proper fix is in https://github.com/nexB/commoncode/commit/14a142d18ccff4746d20010cbb7a1db08d58cc94 by @georgthegreat

[2022-04-21 07:27] pombredanne commented on #2412
Merging this other issue to consolidate things in one place for RPMs:
- [x]  #1116 "Use list to build a mapping of RPM license keys"

[2022-04-21 07:27] pombredanne commented on #1116
Merged in https://github.com/nexB/scancode-toolkit/issues/2412#issuecomment-1104812955

[2022-04-21 07:27] #1116 closed

[2022-04-21 07:30] pombredanne commented on #2412
These other issues are closely related:
- [x] this has a list of mappings #2767#issuecomment-1039232263
- [x] this has pointers to mappings #2255#issuecomment-701260317
- [x] this is a related bug #1731

[2022-04-21 07:30] pombredanne commented on #2412
This other issue as a related bug https://github.com/nexB/scancode-toolkit/issues/1731

[2022-04-21 07:38] pombredanne commented on #2412
@ivanayov ping, following up on this comment https://github.com/nexB/license-expression/issues/70#issuecomment-1104821249

[2022-04-21 07:40] pombredanne commented on #2412
@sutula @qduanmu @richardfontana @jlovejoy ping FYI

[2022-04-21 15:34] JonoYang commented on #2861
The new license clarity scoring changes have been merged into develop.

[2022-04-21 15:34] #2861 closed, assigned to pombredanne, DennisClark, JonoYang

[2022-04-21 15:56] pombredanne opened #2919 "ScanCode TK ROADMAP"
This is a placeholder to put a proper roadmap here
We have some elements there https://github.com/nexB/scancode-toolkit/blob/develop/ROADMAP.rst
And the goal of this issue is to update ROADMAP.rst

[2022-04-25 15:04] pombredanne commented on #2917
@JonoYang I think this is fixed and merged, correct?

[2022-04-25 15:06] pombredanne commented on #2901
And this has been merged in develop. Closing now. Thanks again.

[2022-04-25 15:06] #2901 closed, assigned to nobody

[2022-04-25 15:28] pombredanne commented on #2873
@sschuberth what you are saying is that https://github.com/bytecodealliance/wasi/blob/9ec04a7d8ebb1bbb9e3291503425cee1ec38a560/LICENSE-Apache-2.0_WITH_LLVM-exception should be detected as an `Apache-2.0 WITH LLVM-exception` which makes sense. As for always reporting an exception with a license, it does make sense in general, but the difficulty lies in the specifics. Some exceptions exist for sever

[2022-04-25 15:33] pombredanne commented on #2652
This has been completed. We now have a simpler structure:
- one class for each DatafileHandler, e.g. a manifest format parser and handler
- a single class for PackageData to keep track of parsed manifest data at the file level
- a single class for Package and Dependency to keep track of assembled manifest data at the top level
Closing this now.

[2022-04-25 15:33] #2652 closed, assigned to AyanSinhaMahapatra

[2022-04-25 15:38] pombredanne commented on #2418
We do not have such concept yet and this requires further design.

[2022-04-25 15:39] pombredanne commented on #1524
This is now implemented in the new package handler design: in the "assembly" step, the files of a package are tagged as related to a package instance. Eventually multiple related manifests and lock files contribute to  top-level package instances.

[2022-04-25 15:39] #1524 closed

[2022-04-25 15:42] sschuberth commented on #2873
Correct. That's why in ORT we now have https://github.com/oss-review-toolkit/ort/blob/main/utils/spdx/src/main/resources/exception-mapping.yml.

Absolutely!

We do maintain the score as of https://github.com/oss-review-toolkit/ort/pull/5131.

[2022-04-25 15:44] pombredanne commented on #2873
:+1: Thanks!

[2022-04-28 08:39] heyg opened #2925 "output csv fail"
Hi guys,

I have a problem, when I scan for GPL using "./scancode -l --processes 10 --csv ../result/hardware.csv ${SRC_CODE_PATH}", the "../result" directory doesn't exist, no will generate hardware.csv, I think even if there is no output path, the tool should generate csv (probably generate csv to current path), it will save time for us to scan huge code.

[2022-04-28 12:25] pombredanne commented on #2925
@heyg Thanks... are you saying that when we output a file and the directories are missing, any non-existing intermediate directory should be created automatically? like when calling `mkdir -p somefoo/bar/baz` would create `somefoo` then `somefoo/bar` and `somefoo/bar/baz`?
If yes, this could work but I wonder if this would be best enabled with a command line option as this is not a standard, defau

[2022-04-28 12:27] armijnhemel opened #2926 "Missing license: Detection Rule License 1.1 (DRL)"
### Description

Currently seems to be missing: https://github.com/Neo23x0/signature-base/blob/master/LICENSE

### How To Reproduce

### System configuration

[2022-04-28 15:19] JonoYang commented on #2842
We have updated the summary plugin with the new fields and scoring critera and merged the code in #2914

[2022-04-28 15:19] #2842 closed, assigned to DennisClark

[2022-04-28 15:21] JonoYang commented on #2258
We have updated the summary plugin in #2842 and merged in #2914. The consolidate option will be deprecated in the future. Whenever the consolidate option is used, a deprecation warning is shown in the terminal and in the scan warnings in the scan headers.

[2022-04-28 15:30] AyanSinhaMahapatra commented on #2917
Yes. Closing this.

[2022-04-28 15:30] #2917 closed, assigned to nobody

[2022-04-28 15:32] AyanSinhaMahapatra commented on #2842
Btw, we have not made the options default (--classify/--summary/--license-clarity-score), yet. This is for the next release tentatively?

[2022-04-28 17:39] armijnhemel opened #2927 "Missing license: Semgrep Registry License"
### Description

Currently missing license:

https://semgrep.dev/docs/licensing/

It is a "source available" license.

[2022-04-28 21:59] pombredanne commented on #1697
Merged in develop

[2022-04-28 21:59] #1697 closed

[2022-04-28 21:59] pombredanne commented on #2058
This is now all in develop

[2022-04-28 21:59] #2058 closed

[2022-04-28 22:00] pombredanne commented on #2098
I consider this done now. @JonoYang @AyanSinhaMahapatra Thanks!

[2022-04-28 22:00] #2098 closed

[2022-04-28 22:01] pombredanne commented on #2654
Merged.

[2022-04-28 22:01] #2654 closed, assigned to nobody

[2022-04-28 23:21] JonoYang opened #2928 "Infinite recursion bug when scanning Python package"
I've downloaded and scaned `pyobihai` v 1.3.2 (https://files.pythonhosted.org/packages/f5/09/5163e884d87d6ac9b8d6e52f8de35eb7dd09b281d744f02fc4aec9a5d5bc/pyobihai-1.3.2.tar.gz) from pypi and I ran into this bug:
[code]

[2022-04-28 23:45] JonoYang commented on #2928
This is happening because `PythonEditableInstallationPkgInfoFile.assign_package_to_resources()` calls `cls.assign_package_to_parent_tree`, and then `cls.assign_package_to_parent_tree` calls `cls.assign_package_to_resources` https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/pypi.py#L118

[2022-04-28 23:58] JonoYang opened #2929 "for_packages field not populated for Package Resources"
I am scanning `electron` v 3.1.11 from npm (https://www.npmjs.com/package/electron) and I do not see any values in the `for_packages` field for the scanned Resources, other than the `package.json` Resource. I expect that all of the files neighboring `package.json` would also have their `for_packages` field set.

[2022-04-29 00:07] JonoYang commented on #2929
It doesn't appear that ` assign_package_to_resources` isn't being entered in https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/npm.py#L85 . I've put a print statement in that method and no messages show up when I run a scan.

[2022-04-29 01:03] JonoYang commented on #2929
@pombredanne

I've noticed that in `packagedcode.npm.BaseNpmHandler.assemble` that it made no calls to `assign_package_to_resources`, so I've made that change in my branch (https://github.com/nexB/scancode-toolkit/blob/37db949e9918932b7cc6454936f829dfb22bd213/src/packagedcode/npm.py#L56), however, it doesn't seem like we are entering the `assign_package_to_resources` method on `packagedcode.npm.Ba

[2022-04-29 04:25] heyg commented on #2925
@pombredanne Yes.

This ensures that even if there is no output directory (we forgot to create the output directory ourselves), we can still generate files like csv.csv .

Alternatively, check if the output directory exists, thus alerting the person using the tool that "there is no output directory".

[2022-04-29 07:29] MarcelBochtler opened #2930 "Multiple false-positive findings in flyway-core"
### Description

Scanning flyway-core with ScanCode 30.1.0 results in multiple findings of `LicenseRef-scancode-proprietary-license` which IMO are false-positives.

The matched lines are in all `package-info.java` files lines 14-17:
[code]
https://github.com/flyway/flyway/blob/fe24e96a51a6b4b43a56832d3258662ae71ef669/flyway-core/src/main/java/org/flywaydb/core/package-info.java#L14-L17

Another `L

[2022-04-29 07:34] pombredanne commented on #2023
This has been implemented and merged in develop as part of the "installed files" features.

[2022-04-29 07:34] #2023 closed

[2022-04-29 07:38] pombredanne commented on #437
FWIW, this feature has been significantly reworked in the latest develop branch here and will be enabled on ScanCode.io when ScanCode toolkit is released.

[2022-04-29 07:40] pombredanne commented on #253
This is all done now and merged in develop.

[2022-04-29 07:40] #253 closed

[2022-04-29 07:41] pombredanne commented on #2058
This is now all in develop, merged.

[2022-04-29 08:31] pombredanne commented on #2930
@MarcelBochtler Thanks!
The good news is that this is already fixed in the develop branch:
[code]
and
[code]

[2022-04-29 08:31] AyanSinhaMahapatra commented on #2928
I got this too, while fixing #2911, working on this.

[2022-04-29 10:21] pombredanne opened #2931 "Support alternate names for composer files"
See for instance
- https://raw.githubusercontent.com/petrknap/trunk/ae09c1f0b4aeb16685614657fb9cf0bde9dcce57/symfony.composer.json
- https://raw.githubusercontent.com/xrowgmbh/xrowvagrant/70a3b29ecba5cf3781ce11962c2b4585ef009b13/ezcluster/templates/composer.symfony.json
- https://github.com/petrknap/trunk/blob/ae09c1f0b4aeb16685614657fb9cf0bde9dcce57/php.composer.json

The same name pattern is lik

[2022-04-29 20:12] pombredanne opened #2934 "Files not assigned correctly to PyPI package in test scan"
See https://github.com/nexB/scancode-toolkit/pull/2932

[2022-04-30 06:31] #2928 closed, assigned to AyanSinhaMahapatra

[2022-04-30 06:31] #2911 closed, assigned to AyanSinhaMahapatra

[2022-05-02 05:36] yahym opened #2936 "during pyside6-essentials scan, scancode does not detect LGPL/GPL licenses in files"
### Description

During pyside6-essentials scan, scancode does not detect LGPL/GPL licenses in files:
Question: Are the LGPL/GPL used in this package not standardized or why are these licenses not detected?

### How To Reproduce

[code]

### System configuration

* What OS are you running on? (Windows/MacOS/Linux): `Windows 10 19042`
* What version of scancode-toolkit was used to generate the scan

[2022-05-02 05:52] yahym commented on #2936
my mistake - by playing with csv... issue can be closed.

[2022-05-02 06:28] pombredanne opened #2937 "Do not display debug messages during scans"
Using the latest beta3, I see this during a package scan:
[code]

[2022-05-02 06:44] pombredanne commented on #2936
Thanks for the report!
Scanning d:\PySide6_Essentials-6.3.0-cp36-abi3-win_amd64\PySide6\qml\QtQuick\Controls\Universal\MenuSeparator.qml with the latest/newest beta 31.0.0b3 I have mostly correct but not perfect results, so this is a bug:
I have this:
[code]
I would expect instead only something such as: `qt-io-commercial OR lgpl-3.0 OR kfqf-accepted-gpl`
FWIW, the many incarnations of QT as a com

[2022-05-02 07:02] pombredanne commented on #2936
@yahym unrelated, you pasted this nice screenshot... I am curious about which app this comes from!
Do you mind to elaborate?

![166188552-5d75184d-1597-4e8a-adb7-5e0942432394](https://user-images.githubusercontent.com/675997/166196585-b3048f3d-28a2-46f8-9bd3-f248f55c0e54.png)

[2022-05-02 07:26] yahym commented on #2936
Just a simple excel pivot table from csv export... my filtering was wrong and I missed some data.

I attached the exports after the scan (see xlsm file). Seems the detection worked properly on scancode side.
[PySide6_essentials.ZIP](https://github.com/nexB/scancode-toolkit/files/8601358/PySide6_essentials.ZIP)

After filters removal, looks that both GPL/LGPL were detected:
![image](https://user-im

[2022-05-03 10:00] Hritik14 opened #2938 "Cannot install scancode toolkit v31.0.0b3 on Mac (ResolutionImpossible)"
### Description

Unable to install using the instructions given at https://scancode-toolkit.readthedocs.io/en/stable/getting-started/install.html#installation-from-source-code-git-clone

### How To Reproduce

[code]

### System configuration

* What OS are you running on? MacOS
* What version of scancode-toolkit was used to generate the scan file? [v31.0.0b3](https://github.com/nexB/scancode-toolk

[2022-05-03 10:01] Hritik14 commented on #2938
I tried with `Python 3.9.12`. Will try with the supported version and update the issue

[2022-05-03 13:47] pombredanne commented on #2938
@Hritik14 Thank you ++
Can you tell me if you are running a Python x86/64 or a Python ARM build?

[2022-05-03 13:50] pombredanne commented on #2936
@yahym Thanks for the reply. Let me keep this open as there are still some detections that we can improve there.

[2022-05-03 14:58] Hritik14 commented on #2938
@pombredanne It's Mac M1 processor which is based on arm in some way.
Here's how the prompt looks like
[code]

Tried again on python 8. Here are the results
[code]

[2022-05-03 15:53] pombredanne commented on #2938
Is there a way to use a x86/64 build of Python instead? and use that?
Apple support x86/64 on their OS...
May be some of the steps in https://medium.com/swlh/run-x86-terminal-apps-like-homebrew-on-your-new-m1-mac-73bdc9b0f343 ?
If you get it to work I am really looking forward to the steps to document this.

[2022-05-03 17:44] pombredanne opened #2940 "Check npm package.json and package-lock.json name/version are consistent"
https://docs.npmjs.com/cli/v8/configuring-npm/package-lock-json#file-format

We should double check that we have the same name and version.

[2022-05-04 08:06] ohemelaar opened #2942 "Recommended install method fails: No module named 'distutils.cmd'"
### Description

Following the README's instructions to install using the recommended method fails with the following output.

[code]

Further runs show this error:
[code]

### How To Reproduce

[code]
or with beta release
[code]

### System configuration

* Ubuntu 21.10
* Python 3.9.7
* scancode v30.1.0 - 2021-09-25 or v31.0.0b3 - 2022-04-30
* Downloaded from releases

[2022-05-04 08:09] ohemelaar commented on #2942
I could work around this issue by running `sudo apt install python3-distutils` before running `./scancode --help` for the first time. So maybe this dependency should be documented in the README?

[2022-05-04 11:32] pombredanne commented on #2942
@ohemelaar Thank you for the report!
the missing `sudo apt install python3-distutils` is kinda weird since this is a standard library module, but Debian has always done weird things such as this.... let me think if there could be a better way..

Do you know if this is specific to Ubuntu 21?
What is the default Python version on Ubuntu 21?

Note that there is a fairly extensive issues in https://gi

[2022-05-04 14:07] AyanSinhaMahapatra commented on #2937
This has landed in develop. Closing.

[2022-05-04 14:07] #2937 closed, assigned to nobody

[2022-05-04 14:08] pombredanne commented on #2942
Yes, it should be for sure... do you mind to propose a PR to update the installation doc? :innocent:

[2022-05-04 14:19] AyanSinhaMahapatra opened #2943 "pypi `PKG_INFO` returns two packages"
### Description

Scanning [pip-22.0.4](https://github.com/nexB/scancode-toolkit/tree/develop/tests/packagedcode/data/pypi/source-package/pip-22.0.4) returns two PackageData and eventually two top level packages for the same PKG-INFO file at `pip-22.0.4/src/pip.egg-info/PKG-INFO`.

These have the following datasource IDs `pypi_sdist_pkginfo` and `pypi_editable_egg_pkginfo`, see https://github.com/n

[2022-05-06 01:24] johnmhoran opened #2945 "RFC: categorize codebase files to prioritize license-related risk analysis"
A codebase can have thousands or more files of a vast range of types, from those that are clearly code (`.py`, `.cpp`, `.so`) to those that clearly are not code (`.txt`, `.xlsx`), and many that are somewhere in between (`.jsp`, `.html`, `.erb`).  Our goal: automate the identification of which files are more or less important in the risk analysis process so that the more important files can be anal

[2022-05-06 15:52] pombredanne opened #2946 "Handle latest style of many "qualified" URLs in PyPI packages"
For instance: https://github.com/pypa/build/blob/2eee5818daa414203d15f701aa9d40bf6bb6c80c/setup.cfg

[code]

[2022-05-06 21:57] pombredanne commented on #2904
and commoncode has been bumped in the latest develop branch. Closing this ... this is part of the next 31 beta release that I will publish over the weekend!
Thank you all :bow:

[2022-05-06 21:57] #2904 closed, assigned to nobody

[2022-05-10 01:58] mjherzog opened #2948 "Document v31 API and data structure changes."
Since we have made some significant data structure changes for copyrights, authors and holders. licenses and packages in v31, we need to provide some detailed documentation (before and after?) of the structure and API changes.
This could be a special file in the GitHub top folder or a special section on the RTD page.

[2022-05-10 07:19] lf32 opened #2949 "Support shortcut flags"
## Short Description

It's annoying while typing `--about`, `--quiet`, `--verbose`, `--version` ... all the time.

It will be easier if the software supports shortcut flags

## Possible Labels

- new feature

## Select Category

-  [ ] Enhancement

## **Describe the Update**

Add support for shortcut flags to make CLI usage

## **How This Feature will help you/your organization**
It's will make CL

[2022-05-10 13:31] AyanSinhaMahapatra commented on #2948
Data Structure changes are documented in https://scancode-toolkit-reference-scans.readthedocs.io/en/latest/ across versions, I'll update this with the latest releases.

[2022-05-10 17:45] mjherzog commented on #2948
This sounds good. Two quick items:
- The title for the RTD page on the top left says: "nexB-Skeleton"
- We need a link to this documentation from GH - probably in the README and in the Changelog.

[2022-05-10 18:08] #1586 closed

[2022-05-10 18:53] pombredanne commented on #1586
that's a wart of merging in partial Git history from Pygments for a Groovylexer. And GitHub should allow us to disable autoclose... that's their bug

[2022-05-10 18:59] pombredanne commented on #1586
@mjherzog That was mistakenly autoclosed becasue of this https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2022-05-11 07:18] pombredanne commented on #2942
@ohemelaar gentle ping:

[2022-05-11 07:20] pombredanne commented on #2943
This has been fixed in 31.0.0b4. closing now

[2022-05-11 07:21] pombredanne commented on #2898
I will try to provide an example with release 31.

[2022-05-11 07:27] pombredanne opened #2950 "RFC: Drop Python 3.6 and move to Python 3.8 as base reference version"
Once v31 is out, I would like to drop support for Python 3.6 which is starting to become problematic to support on several OSes and move to make 3.8 the base version (we would still support Python 3.7)

[2022-05-11 10:55] pombredanne commented on #2900
@lalitbittu11 Thanks for the report! This is a bug alright.

[2022-05-11 10:58] pombredanne commented on #2942
@ohemelaar based on https://bugs.launchpad.net/ubuntu/+source/python3.10/+bug/1940705 ... can you try without python3-distutils and the latest updates?

[2022-05-11 11:03] pombredanne commented on #2900
This is fixed with the commit above.

[2022-05-11 11:25] pombredanne commented on #2240
This is completed.

[2022-05-11 11:25] #2240 closed

[2022-05-11 11:26] pombredanne commented on #2178
this is done.

[2022-05-11 11:26] #2178 closed

[2022-05-11 11:27] pombredanne commented on #2158
@hobbeschild @NickBower-Woodside Do you mind to take a stab at installing the latest 31.0.0b4 on Windows? This would be super useful as part of the beta testing before we release!
Thanks in advance https://github.com/nexB/scancode-toolkit/releases/tag/v31.0.0b4

[2022-05-11 11:28] pombredanne commented on #2750
@Mhanna112 Can you try this with the latest beta?
https://github.com/nexB/scancode-toolkit/releases/tag/v31.0.0b4

[2022-05-11 12:21] ohemelaar commented on #2942
Sorry for the delay!

The python version is 3.9.7.

I just tried on my setup and on a freshly installed 21.10 VM and encountered the same error. Indeed, the bug report seems to only mention python 3.10. I wanted to test on a 22.04 VM too but found out that scancode does not support python3.10 yet.

[2022-05-11 14:55] AyanSinhaMahapatra commented on #2948
See https://scancode-toolkit-reference-scans.readthedocs.io/en/latest/outputs/latest/clipeu-v31.0.0b4-v30.1.0-37d4e0a.html and https://scancode-toolkit-reference-scans.readthedocs.io/en/latest/outputs/latest/packages-v31.0.0b4-v30.1.0-37d4e0a.html.

[2022-05-11 15:06] mjherzog commented on #2948
Very nice!

[2022-05-11 15:40] AyanSinhaMahapatra commented on #2943
This hasn't been solved btw, (I reported a different issue form the duplicated dependencies issue) I think.

See the `"path": "src/pip.egg-info/PKG-INFO"` here in this test data https://github.com/nexB/scancode-toolkit/blob/develop/tests/packagedcode/data/pypi/source-package/pip-22.0.4-pypi-package-expected.json, there are 2 `PackageData` objects that are returned at the file level `package_data`

[2022-05-11 16:28] sschuberth opened #2954 "Recognize the DUENDE SOFTWARE LICENSE AGREEMENT"
## Short Description

It would be nice if ScanCode would recognize the DUENDE SOFTWARE LICENSE AGREEMENT as used by https://www.nuget.org/packages/Duende.IdentityServer/6.0.4. For the license text see https://duendesoftware.com/license/identityserver.pdf.

## Possible Labels

- new feature
- license scan

## Select Category

-  [ ] Enhancement
-  [x] Add License/Copyright
-  [ ] Scan Feature
-  [

[2022-05-11 16:50] sschuberth opened #2955 "Recognize the MICROSOFT VISUAL STUDIO ADD-ONs and EXTENSIONS license terms"
## Short Description

It would be nice it ScanCode would recognize the license at https://www.nuget.org/packages/Microsoft.VisualStudio.Debugger.Contracts/17.2.0/License. Currently, there is not good match for it with an acceptable score, see this result for scanning that text:

[code]

## Possible Labels

- new feature
- license scan

## Select Category

-  [ ] Enhancement
-  [x] Add License/Copy

[2022-05-12 06:13] pombredanne commented on #2955
@sschuberth Thanks.... Let's add these. Any other MSFT licenses that would not be detected correctly?
Also FYI using the --license-text option helps better eval the issue by displaying the full text
I usually run this:
`scancode --license --license-text --license-text-diagnostics --yaml -` to get a diagnostic displayed on screen in more readable YAML format.

[2022-05-12 06:49] lf32 commented on #2895
@pombredanne what would be the preferred text?
[code]

[2022-05-12 07:37] pombredanne commented on #2955
A few other:
- https://www.nuget.org/packages/Microsoft.TypeScript.MSBuild/4.1.4/License
- https://www.nuget.org/packages/Microsoft.Direct3D.D3D12On7/1.1.0/License
- https://www.nuget.org/packages/Microsoft.ProgramSynthesis/7.22.0/License
- https://www.nuget.org/packages/Microsoft.DXSDK.D3DX/9.29.952.3/License
- https://www.nuget.org/packages/Xamarin.UITest/3.2.0/License
- https://www.nuget.org/pa

[2022-05-12 07:38] sschuberth commented on #2955
Thanks for asking. I actually also came across https://www.nuget.org/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets/1.15.0/License, but that seems to be reasonably close to `ms-visual-studio-2017-tools` with a score of 92.74.

[2022-05-12 07:58] pombredanne commented on #2878
@vargenau Another case to track here https://github.com/nexB/scancode-toolkit/issues/2905

[2022-05-12 08:03] pombredanne commented on #2905
@vargenau I am revisiting this as we start some major work on false positive:
- You are scanning tern and reuse and they have quite a few licenses in them making it not the best example as they are license tools. That said we should still scan them correctly
- There is work on a the new thing called "License Detection" to eventually group multiple license matches in a detection that should general

[2022-05-12 13:06] Jeeppler opened #2956 "Release package for Python 3.10"
## Short Description

Ubuntu 22.04 only includes Python 3.10 by default in the package repository. Please provide an installer for Python 3.10.

## Possible Labels

- Change management
- Ubuntu 22.04

## Select Category

-  [x] Packaging
-  [x] Expand Support
-  [x] Other

## **How This Feature will help you/your organization**

- The feature will help all users which use Ubuntu 22.04 or derivativ

[2022-05-12 13:09] Jeeppler commented on #2956
Just an addition, the Python 3.10 package would be nice for the upcoming 31 release.

[2022-05-12 15:44] rnjudge commented on #2905
@pombredanne that file comes directly from GitHub when you choose a license for the project. Do you have a suggestion for a more parse-able/standard license text we can use to communicate BSD-2?

Thanks for bringing this to my attention, I wasn't aware. Happy to update!

[2022-05-12 17:01] pombredanne commented on #2905
@rnjudge you wrote:

It may have bee this way, but this seems to be no longer the case:
https://raw.githubusercontent.com/pombredanne/test-bsd2/main/LICENSE

Any BSD text that scancode detects works! (I will be adding yours as a new rule FWIW) .... using  https://scancode-licensedb.aboutcode.org/bsd-simplified.html will surely work perfectly . This https://opensource.org/licenses/bsd-license.php a

[2022-05-13 04:03] rnjudge commented on #2905
Thanks @pombredanne. The license file in Tern was created 5 years ago so it's good you're bringing this up. I opened a [PR](https://github.com/tern-tools/tern/pull/1167) to fix this in Tern. Could you have a look?

[2022-05-13 09:26] lf32 opened #2957 "cluecode warning message on running scancode-toolkit (cli)"
### Description
Everytime I execute `scancode` (installed using pip) I get this error message saying
[code]

### How To Reproduce

Install scancode-toolkit using pip

### System configuration

* What OS are you running on? **Linux**
* What version of scancode-toolkit was used to generate the scan file? **30.1.0**
* What installation method was used to install/run scancode? **pip**

[2022-05-13 11:16] Nikolai-Hlubek commented on #2750
Hi I wanted to report the same error as the OP on windows 10.

For version 30.1.0 and 31.0.0b3 I get the same error as the OP. For 31.0.0b4 I get the error below:

[code]

[2022-05-14 12:33] MarcelBochtler commented on #2938
l've installed the `universal` variant of Python 3.8 on my MacBook Pro 14" M1 Max using [MacPorts](https://www.macports.org/):
[code]
[code]

Running ScanCode 31.0.0b4 works fine when forcing it to use `x86_64` under Rosetta 2:
[code]

Scanning a file with findings:
[code]

[2022-05-16 16:59] AyanSinhaMahapatra commented on #2957
See #2686, this is a duplicate then?

[2022-05-17 09:04] borisbaldassari commented on #2878
Hi Philippe, all,

First things first: thanks for the good work people! You're great!
I'd like to contribute some feedback regarding false positives (/wrong license) we get at the Eclipse Foundation. One of our main issues is with the canonical headers used with the EPL-2.

[code]

Some lines (typically {4,5}) are recognised as `LicenseRef-scancode-unknown-license-reference` even with the SPDX tag

[2022-05-17 13:59] cuemaker3e opened #2960 "Docker container can't be used, produces error that python 3.8 can't be found."
### Description

Docker container can't be used, produces error that python 3.8 can't be found.
Reason: Dockerfile contains wrong Python version.

### How To Reproduce

Download linux tar, extract run docker as described:

docker build -t scancode-toolkit .

Result:

#10 0.256 * Configuring ScanCode for first use...
#10 0.266 /scancode-toolkit/configure: line 105: Python3.8: command not found

Cha

[2022-05-17 18:15] AyanSinhaMahapatra commented on #2878
@borisbaldassari Thanks for your feedback and report.

We are working on this and this specific issue of a `license_intro` being present before detections is going to be fixed, this is WIP and hasn't landed yet.

This would be extremely helpful, we will use this for testing this new feature extensively, as we are using the other lists contributed here. Thanks a lot!

[2022-05-18 09:40] yahym opened #2964 "file version extracted from file properties"
## Short Description
Is it possible to extract also the details from the `File Properties` and to reflect them in the final report?
This will allow a better traceability to the `File version` (which is not available now) and also to `Copyright details`.
![image](https://user-images.githubusercontent.com/16311538/169008012-cde81ef7-956f-479d-bb74-8aedc44b1da5.png)

## Possible Labels

- new feature

[2022-05-18 12:46] pombredanne commented on #2964
What about this using the --package option:
[code]
[dll.yaml.txt](https://github.com/nexB/scancode-toolkit/files/8716268/dll.yaml.txt)

[2022-05-18 12:48] pombredanne commented on #2964
of this:
[code]
[full.yaml.txt](https://github.com/nexB/scancode-toolkit/files/8716296/full.yaml.txt)

[2022-05-18 12:52] pombredanne commented on #2964
Long story short: this is collected as part of the "package_data" (or "packages" in the previous version) as we essentially run a parser for Windows DLL and executables to extract the metadata, including the version

See https://github.com/nexB/scancode-toolkit/blob/19d77e99c0c37270752849a1f27bb3ec9ad96c72/src/packagedcode/win_pe.py#L42 for internal details.

(NB: we also can extract data from a w

[2022-05-18 12:55] pombredanne commented on #2964
Also see these closely related issues: https://github.com/nexB/scancode-toolkit/issues/2734 and  https://github.com/nexB/scancode-toolkit/issues/2733 and this other approach https://github.com/nexB/commoncode/blob/main/src/commoncode/version.py

[2022-05-18 14:14] borisbaldassari commented on #2878
Hi @AyanSinhaMahapatra Thanks for the head-up! I'll wait for the landing and give it a try. :-)

Please find below a list of unknown-license false positives found in a few Eclipse projects (Che, JGit, CDT, Tycho). If needed I can analyse more projects -- but since we're using ORT we don't have direct access to the scancode output, so I need to run it separately (and manually).

[scancode_fp_eclips

[2022-05-18 14:43] borisbaldassari commented on #2878
Please also find attached the Python script used to generate the csv's, if it's useful.

[extract_false_positives.py.tar.gz](https://github.com/nexB/scancode-toolkit/files/8717255/extract_false_positives.py.tar.gz)

[2022-05-18 16:15] DennisClark opened #2965 "Unexpected "free-unknown" detections in PaddleNLP 2.3.0"
See attached scan results. I scanned https://github.com/PaddlePaddle/PaddleNLP/archive/refs/tags/v2.3.0.tar.gz using a recent  version of SCTK The results were generally quite impressive, but I was concerned about 274 "free-unknown" occurrences detected.   These are generally of the pattern "# This file is distributed under the same license as the PaddleNLP package."  Given that the Declared Licen

[2022-05-18 18:02] pombredanne commented on #2965
@DennisClark Thanks!
@AyanSinhaMahapatra one more to hunt down

[2022-05-19 07:09] phschulth opened #2966 "How to ignore specific directorys during scan"
Hi all,

currently i'm playing around with scancode to get familiar with it. Since we have a few submodules for test purposes in our repositories id like to know if it is possible to say scancode to ignore specific directories. At the moment i only found the solution with the ignore/include pattern. But its quite exhausting to filter all file endings and most of the time the same endings are reuse

[2022-05-19 17:10] JonoYang opened #2967 "Rename precise_license_detection field to identification_precision in license clarity scoring plugin"
The `precise_license_detection` field from the license clarity scoring plugin should be called `identification_precision`.

[2022-05-19 17:50] johnmhoran opened #2969 "Add black and isort to options.extras_require / testing"
Add `black` and `isort` to the `setup.cfg` `[options.extras_require]` `testing` section so they're available when we run `./configure --dev`.

[2022-05-19 19:03] JonoYang opened #2971 "Cannot detect system installed packages on distroless rootfs using --system-package option"
I downloaded a distroless docker image from `docker://gcr.io/distroless/base`, extracted the layers, and run scancode on them using the `--system-package` option. However, scancode did not return any system installed packages.

[2022-05-19 19:33] JonoYang opened #2972 "Consider detected copyrights when determining a declared holder from a package manifest in summary plugin"
When scanning the package `atheris v 2.0.11` (https://github.com/google/atheris/archive/refs/tags/2.0.11.tar.gz) using the `--summary` plugin, the `declared_holder` value in the scan summary is `Bitshift`, which is the author of the package. This was determined from the parsed package data from the `setup.py` file of `atheris`. However, the `setup.py` contains a comment that is a copyright stateme

[2022-05-19 19:50] JonoYang commented on #2972
It also may not behoove us to use the package authors as a copyright holder when we do not detect an explicit copyright statement from package data.

[2022-05-19 23:28] JonoYang commented on #2972
@DennisClark @tdruez @pombredanne

When removing the code that assigns the author or other detected parties from a Package as the declared holder, I noticed that the tallies plugins does some sort of normalization on the detected holders from Resources in the codebase. The majority of the files have `Google LLC` as the copyright holder, but looking at the summary, only `Google, Inc.` shows up as t

[2022-05-19 23:44] DennisClark commented on #2972
@JonoYang   I am not convinced that using an author value for Holder when there is no copyright detected is a good thing, although I don't feel strongly about it. However, I vaguely recall some community discussion on this topic, where someone strongly asserted that author is NOT equivalent to copyright, so there is definitely a case for not using it at all for a Holder.

As far as "normalizing" t

[2022-05-20 00:05] JonoYang commented on #2972
@DennisClark

I've removed the code that uses the Package authors/maintainers as a holder when no copyright is detected.

Maybe we can have a list of the original holder values when we present the tallies of holders?
[code]
I'm not sure what the best name for that field would be.

[2022-05-20 04:58] pombredanne commented on #2878
@borisbaldassari Thank you ++

[2022-05-20 20:55] #2895 closed, assigned to nobody

[2022-05-23 17:36] JonoYang commented on #2967
This has been merged into develop.

[2022-05-23 17:36] #2967 closed, assigned to JonoYang

[2022-05-23 21:02] pombredanne opened #2975 "False positive SSPL license detection"
`#define PEX_ROOT_CMPLX_SSPL_REG(if)    ((MV_PEX_IF_REGS_BASE(if)) + 0x1A0C)` gets detected incorrectly this way:
[code]

[2022-05-23 21:03] pombredanne commented on #2878
Another short SSPL false positive https://github.com/nexB/scancode-toolkit/issues/2975

[2022-05-23 21:05] rspier commented on #2975
This binary file contains SSpL https://android.googlesource.com/platform/packages/apps/DocumentsUI/+/refs/heads/master/tests/res/raw/images_7z which also triggers

[code]

[2022-05-23 21:06] pombredanne commented on #2975
@rspier Thanks!

[2022-05-23 21:37] johnmhoran opened #2976 "Add rerun capability to pytest test failures"
I've noticed with a recent PR (https://github.com/nexB/scancode-toolkit/pull/2958) that one test in particular (`FAILED tests/scancode/test_cli.py::test_scan_does_scan_php_composer`) seems to fail with near-regularity, yet often will subsequently pass after being manually rerun.

As @pombredanne pointed out when we were discussing how best to handle this behavior, https://github.com/pytest-dev/pyt

[2022-05-24 14:10] Blackclaws commented on #2885
Since this is also the format that reuse (https://github.com/fsfe/reuse-tool) uses for annotating copyright for files that can't be annotated directly or for bulk annotating a directory being able to parse this would make a lot of sense.

[2022-05-24 14:12] Blackclaws commented on #726
Wouldn't it make sense to allow specification of an ignore file with the same syntax as a .gitignore file (which incidentally is the same as dockerignore and some other ignore formats). There are cases where you want to scan a checked out git repo that you might have already run some builds on however and that is therefore full of files that aren't really part of the package anyway.

[2022-05-24 17:58] pombredanne commented on #2885
@Blackclaws we support debian copyright files format extensively in https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/debian_copyright.py

The issue here is about the file names we support. Basically we only attempt to parse file with these path patterns as copyright files: `'*/debian/copyright'` and `'*usr/share/doc/*/copyright'` as copyright is a common name otherwise.

Sinc

[2022-05-24 18:06] pombredanne commented on #726
@Blackclaws re:

Yes 100% agree. This exactly what we want to have. There has been some work towards enabling this with https://github.com/nexB/commoncode/pull/42
Next will be to find a decent library and dropping the custom ignores and also use a dot ignore file. Would a `.scanignore` or a `.scancodeignore` work as a name?

[2022-05-24 19:16] JonoYang commented on #2972
After discussion with @pombredanne, it would make sense to just use the company/organization name itself without any of the suffixes. `Google, Inc.`, `Google LLC`, etc. should just become `Google`.

[2022-05-24 19:23] mjherzog commented on #2972
That does make sense for this case, but this Google example seems to be a relatively easy one. There will be many other cases where the relationship among holders is not evident in the names. There is really no way for us to figure this out from a set of copyright holder names beyond these simple cases. What would be interesting is to know the holder best associated with the primary license.

[2022-05-25 10:21] carmenbianca commented on #2885
@pombredanne Small notice that `.reuse/dep5` will be deprecated at some point in the future

https://github.com/fsfe/reuse-docs/issues/81

Not sure yet on the timeline, and it's very likely that it will remain as an optional deprecated feature for quite a while.

[2022-05-25 14:00] pombredanne commented on #2885
@carmenbianca thank you for the heads up! Now that's OK for us as the change to support the "dep5" name is minor and there will be trailing files named this way likely for a long while.

[2022-05-26 09:43] pombredanne opened #2977 "Failure to process Debian copyright file"
This fails to scan https://metadata.ftp-master.debian.org/changelogs//main/l/llvm-toolchain-11/llvm-toolchain-11_11.0.1-2_copyright

This was discovered by @JonoYang

The issue is this section with a license stuffed in a copyright paragraph text:
[code]

We should not fail there and also support licenses stored in a copyright section.

[code]

[2022-05-26 09:44] pombredanne commented on #2976
Thanks! actually this is more than nice to have as these random CI are a pain as they make automation fail at automating.

[2022-05-26 14:04] pombredanne commented on #2965
Another example:
`# This file is distributed under the same license as the Django package.`

[2022-05-26 17:22] armijnhemel opened #2978 "support "Hacking License""
### Description

https://github.com/hermescenter/monitorapa/blob/main/LICENSE.txt

This is not a free software license: https://github.com/hermescenter/monitorapa/issues/39

[2022-05-29 06:22] lf32 commented on #2957
looks duplicate, will close it

[2022-05-29 06:22] #2957 closed, assigned to nobody

[2022-06-03 20:22] Jeeppler commented on #608
@pombredanne I am struggling to understand how many processes would be a sensible value to improve the speed of the scan? The default is 1, I guess that is a conservative value to ensure Scancode-Toolkit works even in resource restricted environments (e.g. low powered VM).

Should the processes be equal to the number of cores of the CPU? Is there an amount of processes which is just too much? Beca

[2022-06-03 20:32] Jeeppler opened #2980 "CLI Option `processes`, what is a good value?"
### Description

The documentation contains very little information about the effect of the  `--processes` parameter. It mentions the default value, but not much more.

I am struggling to understand how many processes would be a sensible value to improve the speed of the scan? The default is 1, I guess that is a conservative value to ensure Scancode-Toolkit works even in resource restricted enviro

[2022-06-04 10:21] pombredanne commented on #2980
Excellent point!

A good rule of thumb for maxing out CPU usage would be number of CPU minus one to yield some to other things for sanity. I once got a report of someone running a scan https://github.com/rbarrois/python-semanticversion/issues/100on a whole Debian packages pool on a small server with 192 cores and there using 192 worked nicely.
There is usually not much benefit from using a process

[2022-06-04 17:09] pombredanne commented on #653
This has been implemented and merged in develop

[2022-06-04 17:09] #653 closed

[2022-06-06 17:50] pombredanne opened #2981 "Go binary analysis"
The gist of this idea is have a tool that can take a Go binary as an input and list which Go source packages (and repos) were used to compile this binary the same way we process DWARFs in plain Elf.

See also https://github.com/nexB/vulnerablecode/issues/742

[2022-06-07 13:10] GitaWei opened #2982 "In B5 Copyright Tab in html output now has no information"
### Description

In the html output report there is no longer a list copyrights although the license tab's list is fine

### How To Reproduce

A typical scan cmd used successfully for a few years:

scan code -n 500 --html-app  ${APPNAME}.html --license --copyright --package --info --email --url --classify --consolidate  --license-clarity-score ${CODEBASEDIR}

### System configuration

* What OS ar

[2022-06-07 14:24] pombredanne commented on #2982
@GitaWei Thanks!  and good catch!

Are you sure you use `-n 500` ? this would be spawning 500 parallel processes meaning you have likely 500 CPU core on hand to benefit from this ....if this is the case, I want your machine!!

Also eventually we want to retire the HTML output ...  I would be interested to understand how you use this

[2022-06-07 15:59] TG1999 opened #2983 "get_requires_dependencies gives out specifier in extracted_requirement"
### Description

get_requires_dependencies gives out specifier in extracted_requirement
https://github.com/nexB/scancode-toolkit/blob/aba31126dcb3ab57f2b885090f7145f69b67351a/src/packagedcode/pypi.py#L1152
It should return requirement instead of that

### How To Reproduce

Try to get dependencies from a wheel

### System configuration

* What OS are you running on? Linux
* What version of scancode

[2022-06-07 16:41] Jeeppler commented on #2980
@pombredanne I would like to contribute the explanation to the documentation. Where is the appropriate place/file to write this in?

[2022-06-07 20:44] AyanSinhaMahapatra commented on #2980
We would want to add documentation [here](https://scancode-toolkit.readthedocs.io/en/stable/cli-reference/core-options.html) for which the file is at [here](https://github.com/nexB/scancode-toolkit/blob/develop/docs/source/cli-reference/core-options.rst) similar to the section here at https://scancode-toolkit.readthedocs.io/en/stable/cli-reference/core-options.html#timeout-option . We could also a

[2022-06-08 01:25] JonoYang opened #2985 "Setting `strip_root=True` when calling `cli.run_scan()` does not strip the root from Resource paths"
In my program, I am calling `cli.run_scan()` to get information using the scancode scanners. I also want to strip the roots from the paths of the Resources from the scan, but when I call `cli.run_scan()` with the argument `strip_root=True`, the root is not removed from the Resource paths.

[2022-06-08 01:49] JonoYang opened #2986 "Scancode does not associate all Package Resources to a system Package"
Scancode does not associate all Package Resources to a system Package when running --system_package on a Debian RootFS that was extracted with extractcode.

This problem is caused by extractcode replacing the `:` in `.list` files with the arch tags in them, e.g. `libc6:amd64.list` gets extracted as `libc6_amd64.list`, which causes some code in the debian parsers to not work properly.

https://gith

[2022-06-08 18:15] DennisClark opened #2987 "Improve `--cyclonedx` output option"
Running scancode-toolkit-31.0.0b5 on MacOS 11.6.6
The --json-pp output option works fine, but
the --cyclonedx output option fails.

scancode-toolkit-31.0.0b5 % ./scancode --license --copyright --cyclonedx scancode_results_cyclonedx.json samples
Setup plugins...
Collect file inventory...
Scan files for: licenses, copyrights with 1 process(es)...
[####################] 66
ERROR: failed to run output

[2022-06-09 15:06] pombredanne commented on #2987
@DennisClark can you try with "--package" ? It should not crash anyway.

[2022-06-09 15:58] DennisClark commented on #2987
Running it with
`./scancode --license --copyright --package --cyclonedx scancode_results_cyclonedx.json samples`
works without failing.   About to review the results.

[2022-06-09 17:27] DennisClark commented on #2987
I got beyond the crash by specifying the --package option.  Now there is a rather different problem which might be called "lost in translation".  The samples provided for testing with sctk did not produce really interesting results, so I extracted a folder from `libX11-1.7.2.tar.bz2' and scanned that.  The results using the --json-pp output option are extensive and detailed, but running the same s

[2022-06-10 08:11] pombredanne commented on #2987
@DennisClark Thanks... that's super useful to track this issue.

[2022-06-10 11:47] pombredanne opened #2989 "Nuget issue /question Reported on Gitter channel"

[2022-06-10 11:50] pombredanne opened #2990 "Silence noisy warnings for pyicu"
See this when running SCTK latest develop:
``
scancode-toolkit-master/venv/lib/python3.6/site-packages/fingerprints/cleanup.py:54: ICUWarning: Install 'pyicu' for better text transliteration.
  text = ascii_text(text)
``

[2022-06-10 11:53] pombredanne opened #2991 "NuGet package party types is missing"
See https://github.com/nexB/scancode-toolkit/issues/2989
[code]

is missing a party type

[2022-06-10 11:57] pombredanne commented on #2989
I ran this using the latest beta version of scancode (actually I use the head of the develop branch... but this should be essentially the same):

[code]
And I have attached the results  (in YAML and JSON)
[dapper.json.txt](https://github.com/nexB/scancode-toolkit/files/8878539/dapper.json.txt)
[dapper.yml.txt](https://github.com/nexB/scancode-toolkit/files/8878540/dapper.yml.txt)

The important pa

[2022-06-10 11:58] pombredanne commented on #2989
@adrtarnowski FYI ^

[2022-06-10 19:21] #2949 closed, assigned to nobody

[2022-06-12 13:36] pombredanne commented on #2752
Yes!

You need either: "typecode-libmagic" or another typecode plugin that "provides" libmagic... it could be actual system-provided libmagic such as:
- https://pypi.org/project/typecode-libmagic-from-sources/ to build it from sources
- https://pypi.org/project/typecode-libmagic-system-provided/ to get it from system packages

The question is why would you want the scancode-toolkit mini build? Thi

[2022-06-12 22:12] #2983 closed, assigned to nobody

[2022-06-13 14:28] pombredanne opened #2993 "License expressions of system packages (as in Debian) are too complex"
could be deduped to:

or simplified to:

And this without even applying any transform.

We should return a simplified version of every license expression.

[2022-06-14 05:31] pombredanne commented on #1364
We have support for this now, but the approach is refined in the next release. I am moving this there instead

[2022-06-14 05:33] pombredanne commented on #2158
I am closing this now. AFAIK things work fine with the latest. We have pushed a 31.0.0rc1 release candidate too.

[2022-06-14 05:33] #2158 closed

[2022-06-14 05:34] pombredanne commented on #2489
Closing this now. Please report using the latest 31.0.0rc1 to double validate this!
Thanks

[2022-06-14 05:34] #2489 closed, assigned to nobody

[2022-06-14 05:34] pombredanne commented on #2664
Done.

[2022-06-14 05:34] #2664 closed, assigned to nobody

[2022-06-14 05:54] pombredanne commented on #2938
@tdruez reported to me:

With this said here is the status of M1 support:

1. the installation of 31.0.0rc1 application archive for macOS should work out of the box now
2. a  `pip install scancode-toolkit==31.0.0rc1` will NOT work on macOS M1 unless you do either of this first:
- start your terminal in rosetta mode
- or first run this: arch -x86_64 /bin/bash

In essence we still need the rosetta X

[2022-06-15 16:31] KevinJi22 opened #2994 "Install custom licenses using wheels"
This will enable users to install custom licenses using wheels during license detection.

[2022-06-15 16:39] pombredanne commented on #2994
Let me try to put a use case:
- there are few special licenses that I want to detect.
- in order to help using this in CI and a few other places, I put these their own repo, which is then built as a wheel and released on PyPI
- when I need to use this, I install this with scancode with a single pip command.

A possible case could be a collection of licenses in another language, say in German, or a

[2022-06-15 16:45] KevinJi22 commented on #2994
So what functionality does this feature actually need to provide? Should I assume that the licenses have already been installed?

- Would I need to add a new CLI option for the user to specify the installed licenses they want to include?
- After the licenses are installed, what does the code need to do? Does it need to find the locations of those installed licenses and use them in license detectio

[2022-06-15 16:49] michellesenar opened #2995 "Redundant license "libzip" should just be BSD-3-Clause"
### Description

Per https://libzip.org/license/, the project is released under the BSD-3-Clause.

The above URL is what I'm redirected to when I click the `homepage_url` portion at https://scancode-licensedb.aboutcode.org/libzip.

I'm using an older scancode-toolkit version, but I see that this license still exists under the latest `develop` branch.
https://github.com/nexB/scancode-toolkit/blob/d

[2022-06-15 17:48] pombredanne commented on #2994
In this case, not sure. There could be two designs:
- use automatically all the licenses available even if contributed by a plugin or part of the standard index
- have each plugin expose a CLI option that would need to be provided for the contributed licenses to be used

That's the most likely scenario. A good example of this would be the "path providers" plugins that provide a path to a binary fo

[2022-06-15 18:57] DennisClark commented on #2995
I am OK with deprecating license `libzip`

[2022-06-15 19:24] pombredanne opened #2996 "Do not create dummy URLs as https://registry.npmjs.org/None/-/None-None.tgz"
https://registry.npmjs.org/None/-/None-None.tgz was seen with this package.json:
[code]

[2022-06-15 19:33] pombredanne commented on #2995
@michellesenar Thank you ++ for spotting this!
I pushed a fix in a branch: https://github.com/nexB/scancode-toolkit/commit/a28c55a767c6df5b0fb5a3a6885422d999f594d3

[2022-06-16 02:50] KevinJi22 commented on #2994
This seems like the simplest approach to me since then we could just add the licenses contributed by the plugins to the index once, and then after caching the index, we continue using that file until we need to add new licenses. I'll go with this unless there are any objections.

It looks like each plugin class implements its own `get_locations()` method, which hard-codes the path. So it seems lik

[2022-06-16 15:15] DennisClark commented on #2897
this needs more detail to explain the issue and what ought to be done about it.

[2022-06-16 16:32] pombredanne commented on #2994
@KevinJi22 this sounds right :+1:
Using `__file__` and navigating from there to a directory that contains is usually more robust than `site.getusersitepackages()` or else. Fewer moving parts and simpler too.

[2022-06-16 20:36] armijnhemel opened #3001 "Turn pronom DROID Signature files into matching rules for binary files"
## Short Description

## Possible Labels

Process Pronom DROID Signature files as an alternative to using `libmagic` for quick and dirty identification of binary files so those can be skipped during a scan.

## Select Category

-  [ ] Enhancement
-  [ ] Add License/Copyright
-  [x] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ] Expand Support
-  [ ] Other

## **Describe the Update**

<h

[2022-06-17 11:28] armijnhemel opened #3002 "Cross correlate results from old Scancode with results from current Scancode to find regressions using Software Heritage licenses dump"
## Short Description
Software Heritage has a dump of many license artifacts at <https://annex.softwareheritage.org/public/dataset/license-blobs/2021-03-23/>.

All of these licenses were scanned with an earlier version of Scancode (assuming a version from early 2021). It might be useful to search this dataset for unknown licenses or possible exceptions or regressions in Scancode.

## Possible Label

[2022-06-17 11:32] armijnhemel commented on #3002
https://arxiv.org/pdf/2204.00256.pdf

[2022-06-17 16:48] gk4 opened #3003 "hangs after Removing temporary files...done"
### Description

scancode hangs after printing the "Removing temporary files...done" message.

### How To Reproduce

scancode -clpeui -n 1 --verbose --json-pp spdx.json rpmbuild

### Output

Save scan results...
 Save scan results as: json-pp...
Scanning done.
Summary:        info, licenses, copyrights, packages, emails, urls with 1 process(es)
Errors count:   0
Scan Speed:     0.75 files/sec. 267

[2022-06-17 16:51] gk4 commented on #3003
retesting.

[2022-06-17 22:02] pombredanne commented on #3003
@gk4 Sorry for this issue... do you mind to try the latest and greatest RC release instead? See https://github.com/nexB/scancode-toolkit/releases/tag/v31.0.0rc2
Also, what are the specs of your machine? RAM? CPU?

[2022-06-20 16:20] KevinJi22 commented on #2994
@pombredanne I see two paths forward:

1. make all the external license plugins provide a ``scancode_location_provider`` entry point. This way, we can reuse the `get_location()` method in PluginCode since it is initialized with all plugins of the ``scancode_location_provider`` group. However, this means the installed license plugins will be grouped with the builtin plugins (e.g. the TypeCode plugi

[2022-06-21 05:49] kiranravindran90 opened #3004 "Scan mismatch between "scancode-toolkit-30.1.0_py39-windows" vs. "scancode-toolkit-31.0.0rc1_py38-windows""
### Description

1. A .bin file is scanned in 2 different versions of ScanCode (older & new).
2. GPL license (gpl_bare_word_only.RULE) gets detected in older version.
3. The same .bin file fails to scan in new version with an error (point 4).
4. Error - "Inconsistent rule text for: gpl_bare_word_only.RULE\nfile:///home/runner/work/scancode-toolkit/scancode-toolkit/src/licensedcode/data/rules/gpl_b

[2022-06-21 13:38] AyanSinhaMahapatra commented on #2987
@DennisClark The above PR addresses the crash.

1. We do not crash anymore
2. We show the following CLI warning:

3. We also add the same message to the BOM metadata in warnings.

Please review the warning text also btw.

As for the `did not produce really interesting results` and `produces a very limited file with hardly any content` part of the issue, we need some more work and investigation. So

[2022-06-22 14:55] DennisClark commented on #2987
@AyanSinhaMahapatra    The warning text provided in your comment is good and very informative, thanks. No changes suggested.

[2022-06-23 00:03] lucasgonze opened #3006 "Create a way to use Scancode without Docker"
## Short Description

Docker shouldn't be a requirement for using scancode-toolkit. It is proprietary. It is a resource hog. The Scancode-toolkit image does not run on an M1 mac.

## Possible Labels

- new feature

## Select Category

-  [x] Enhancement
-  [ ] Add License/Copyright
-  [ ] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ] Expand Support
-  [ ] Other

## **Describe the Updat

[2022-06-24 22:20] JonoYang commented on #2994
@KevinJi22 Part of me is not sold on creating a different entry point for external licenses just yet. I would go with the first approach you listed and mandate that custom licenses start with a common prefix, like `scancode_licenses`.

[2022-06-26 06:37] GitaWei commented on #2982
I guess I could bump it to -n 512 to try to use every resource thoroughly.  This one is a shared machine so I couldn't give it to you, my apologies.

Frankly, I really question the value of the stand alone app.  Why would you want to support that with multiple users and need for potential updates?  Seems like a lot of effort.  For HTML app the use case is simple we have scan code contribute it's r

[2022-06-27 15:38] mjherzog commented on #2982
@GitaWei If you are looking for a multi-user ScanCode system see https://github.com/nexB/scancode.io

[2022-06-28 08:42] GitaWei commented on #2982
Thanks Micheal, I'll take a look at it and see how it could work with our system.

[2022-06-28 12:00] usmankhanisb commented on #2758
solution of this please. I download latest version and tried installation by docker
`                                                                   19.8s
------

#11 0.212 * Configuring ScanCode for first use...
#11 19.45 ERROR: Cannot install scancode-toolkit[packages]==31.0.0rc2 because these package versions have conflicting dependencies.
#11 19.45 ERROR: ResolutionImpossible: for help visi

[2022-06-28 12:08] usmankhanisb commented on #2808
I tried it is not working for me . @pombredanne

<img width="421" alt="image" src="https://user-images.githubusercontent.com/39516394/176174942-6864cafb-d91f-460c-b401-be851dacf7d7.png">
earlier the error was at the end of installation as

ERROR [6/6] RUN ./scancode --reindex-licenses                                                                          19.8s
------

#11 0.212 * Configuring Sca

[2022-06-28 13:22] usmankhanisb commented on #2808
there is no source directory , I user docker installation instruction , running on MAC

[2022-06-29 14:01] borisbaldassari commented on #3006
Hi @lucasgonze Not sure to understand your request -- why don't you simply use the native install? We use it and it runs like a charm.
See https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html#app-install

[2022-06-30 08:39] usmankhanisb opened #3007 "Please provide support for OWASP Cyclone DX format"
## Short Description
The Scancode features can further help us in security or supply chain security. I request a feature which support generation of SBOM files in Cyclone dx and SPDX format. This can be used to secure software from inherent vulnerabilities and secure supply chain of software.

## Possible Labels

- new feature

## Select Category

-  [ ] Enhancement

-  [ ] Scan Feature

## **Desc

[2022-06-30 14:35] TG1999 opened #3008 "Parsing issue in setup.cfg"
### Description

### How To Reproduce

[code]
Parse this cfg file with `SetupCfgHandler`.

Expected : extracted_requirements should be like `packaging>=19.0`,
Computed: extracted_requirements is `>=19.0`

### System configuration

* What OS are you running on? Linux
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? s

[2022-06-30 14:51] TG1999 opened #3009 "Exception in parsing cfg file"
### Description

### How To Reproduce
Parse this cfg file with SetupCfgHandler.
[code]

Got this error while parsing this file
[code]
Adding one more file for input
[code]

* What OS are you running on? Linux
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? source download

[2022-06-30 15:24] TG1999 opened #3011 "Scope of every dependency is install in setup.cfg"
### Description
Scope of every dependency is install in setup.cfg

### How To Reproduce
Parse this cfg file with SetupCfgHandler.
[code]
Scope of every dependency is install, but it should be different

Expectation: DependentPackage(purl='pkg:pypi/html5lib', extracted_requirement='html5lib', scope='examples')
Computed: DependentPackage(purl='pkg:pypi/html5lib', extracted_requirement='html5lib', sc

[2022-06-30 15:28] DennisClark commented on #2987
a helpful link here:
https://cyclonedx.org/schema/bom-1.4.schema.json

[2022-06-30 15:31] DennisClark commented on #2987
another helpful link:
https://cyclonedx.org/use-cases/

[2022-06-30 15:43] DennisClark opened #3012 "Provide a way to specify default scanning options, especially "core" and "output" options"
SCTK offers many useful options to optimize the performance and end results of a scan to meet the requirements and objectives of the user. Finding the right ones to specify may require a certain amount of trial-and-error or experimentation on the part of the user, especially to find the right options to get the most benefit from the machine that is running the scan. It would be really great if the

[2022-06-30 18:46] DennisClark opened #3013 "Scan of facebook/folly returns an incorrect Declared holder"
A recent scan of
filename   `folly-2022.06.27.00.tar.gz`
purl    `pkg:github/facebook/folly@2022.06.27.00`
from
https://github.com/facebook/folly/archive/refs/tags/v2022.06.27.00.tar.gz

returns a Declared holder = `Google`  rather than the more obvious Facebook or Meta.  Very surprising.  I took a look at the Project web site
https://github.com/facebook/folly
and noticed that it contains a refere

[2022-07-01 01:44] JonoYang commented on #3013
@DennisClark

The declared holder is Google because the summary plugin only considers detected holders from key files. The `LICENSE` file has a Google copyright statement at the end of it. The other key file `README.md` has no copyright statements detected. Ignoring the key files, Meta is the most detected holder in the codebase. I'll have to revisit considering using the majority holder as the de

[2022-07-01 14:24] DennisClark commented on #3013
@JonoYang   Thanks very much for the analyais and explanation  I did not see the Google copyright at the end of the LICENSE file, and it makes sense that it was chosen as the Holder.  It sounds like this one should be approached cautiously, so probably best not to change anything right away

[2022-07-02 21:06] TG1999 opened #3014 "exception in get_description in pypi for packagecode"
### Description
Got this error while using pypi from packagecode
[code]

### How To Reproduce
Path was `.cache/thirdparty/click_didyoumean-0.3.0-py3-none-any.whl/click_didyoumean-0.3.0.dist-info/METADATA`

### System configuration

* What OS are you running on? Linux
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode?

[2022-07-05 08:41] xu1119 opened #3015 "Parse build.gradle special dependency"
### Description
When analyse dependeices of  project [pygradle](https://github.com/linkedin/pygradle), results and purls from file [build.gradle](https://github.com/linkedin/pygradle/blob/master/examples/iris-classification/build.gradle) are wrong,
such as **pkg:maven/pypi/numpy@1.11.2**
Following are the file and part of the result:
[code]
[code]

### How To Reproduce

scancode -p --json-pp - pyg

[2022-07-06 16:34] jkwasny opened #3016 "Exception when creating cyclonedx output"
There is an exception when generating cyclonedx output and external references are merged. The error is:
    seen = set(x)
TypeError: unhashable type: 'CycloneDxExternalRef'

It is not reproduceable using sample files but I've managed to slightly modify json output from scanning the samples and got the same error. Json file is attached, please try it with --cyclonedx and --from-json options.
I've

[2022-07-06 17:07] AyanSinhaMahapatra commented on #3016
Thanks for the report, I could reproduce from this JSON file you attached, and looking into this.

[2022-07-07 15:06] DennisClark commented on #2065
pending resolution of some other related issues to complete this

[2022-07-07 15:22] AyanSinhaMahapatra commented on #2065
So we have file level license field name changes [here in this commit](https://github.com/nexB/scancode-toolkit/pull/2961/commits/4fc7d24ada087c73c58bf228930958c777791532) and all the package level field name changes are [here in this commit](https://github.com/nexB/scancode-toolkit/pull/2961/commits/af4dec73bf1129fdbe76b77b83e44c8fd747a5e9). But the later one is WIP as there are a lot of other re

[2022-07-07 23:27] nsoft commented on #2835
Downloaded tarball fails on my m1:

[code]
scancode-toolkit-30.1.0_py39-macos.tar.xz

[code]

[2022-07-08 11:15] pombredanne commented on #2835
@nsoft Thanks. The latest 31.* release candidate tarball should work on macOS with an M1 chip. The trick is that it requires to run in x86 emulation mode (aka. "Rosetta")... The installation/setup script in the release tarball handles this. See https://github.com/nexB/scancode-toolkit/blob/746c33683225efe16cf6630753b51ef7697574bb/scancode#L123

Alternatively you can force this mode on older versio

[2022-07-08 11:16] pombredanne commented on #2835
@soimkim @MarcelBochtler @jroes I would be grateful if you can try and report if the issue is still there with the latest 31.x release candidate or the procedure explained above https://github.com/nexB/scancode-toolkit/issues/2835#issuecomment-1178867194

[2022-07-09 16:55] bluetechy opened #3017 "Add option to export scan results as "markdown""
## Short Description

As a user, I would like a command line option (e.g. `--markdown`) so that I can export the scan results in "markdown" format.  This would enable the user to upload these markdown pages to a github wiki.

## Possible Labels

- new feature

## Select Category

-  [x] Enhancement
-  [ ] Add License/Copyright
-  [ ] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ] Expand

[2022-07-09 18:42] bluetechy commented on #3017
I would prefer that the markdown resembles more like the HTML format than the CSV format.  I am able to convert from CSV format to MD format, but previewing it is ugly and hard to read....that is why I prefer the HTML style of formatting for the markdown rather than the CSV style of formatting.

[2022-07-11 10:02] pombredanne commented on #3017
@bluetechy Thanks for the report. You wrote:

Have you tried to craft a custom template for this? These are standard Jinja2 templates and  a markdown output could be as simple as an alias to a "custom" output.

This template work would have to done first in all cases. Do you mind to take a stab at it?

See https://scancode-toolkit.readthedocs.io/en/stable/rst_snippets/custom_output_format.html?hig

[2022-07-11 10:15] pombredanne commented on #3015
@xu1119 Thanks for the report!
This pygradle plugin defines its own dependencies semantics. It should be not hard to recognize what we extract as a "python" scope and a "pypi" namespace in `python 'pypi:numpy:1.11.2'` to get a proper purl.

That said, do you how prevalent and common pygradle would be?  I asked the authors at https://github.com/linkedin/pygradle/issues/357 FWIW

[2022-07-11 17:36] armijnhemel opened #3019 "DOS/32 Advanced DOS Extender Software License (4 clause BSD/Apache 1.1 hybrid)"
### Description

A possibly interesting BSD variant:

https://github.com/open-watcom/open-watcom-v2/blob/master/bld/redist/dos32a/license.d32
https://dos32a.narechk.net/content/license.html

It is a lot like a 4 clause BSD license, except it uses some different wording lifted from Apache 1.1:

[code]

Section 4 might also be derived from Apache 1.1 (section 5):

[code]

[2022-07-11 21:00] pombredanne commented on #3019
Would you consider this a permissive license?

[2022-07-11 21:54] DennisClark commented on #3019
yes

[2022-07-12 14:06] AyanSinhaMahapatra opened #3020 "License Scan fails for header at e2fsprogs-1.45.4"
License scan fails for the following license header.

[code]

Btw, this bug is somehow solved in https://github.com/nexB/scancode-toolkit/pull/2961
License expression: `gpl-2.0 AND patent-disclaimer`

### Failure Trace

[code]

### How To Reproduce

Scan `e2fsprogs-1.45.4/contrib/fsstress.c` for licenses.

### System configuration

* What OS are you running on? Linux
* What version of scancode-too

[2022-07-12 17:21] AyanSinhaMahapatra commented on #2993
This is https://github.com/nexB/license-expression/issues/67

[2022-07-13 15:50] AyanSinhaMahapatra opened #3021 "[RFC] Use new license key `undetected-license`"
We have some discussion [here](https://github.com/nexB/scancode-toolkit/issues/2878#issuecomment-1072567707) wrt `unknown` licenses and how in some cases it could be confusing.

In license detection there are a few unknown cases: (which are more persistent and will be possibly)

1. When there is a private (proprietary/commercial or others) license
2. We have a incorrect detection as the detected t

[2022-07-13 16:01] DennisClark commented on #3021
@AyanSinhaMahapatra   thanks for articulating this issue.  As a solution, I would prefer something a bit different, and would like to suggest:

custom-license
A license statement that identifies license terms but is not recognizable as any standard license text with a published name and version.

the word "custom" communicates here that yes, this thing really is different and might possibly be a v

[2022-07-13 16:10] DennisClark commented on #3021
Another candidate key could be
unpublished-license

making it clear that the license text has never been formalized as a standard text with its own name and version.

[2022-07-13 16:12] DennisClark commented on #3021
@AyanSinhaMahapatra  and @pombredanne    After further reflection on this topic, I think I prefer

unpublished-license
A license statement that states license terms but is not recognizable as any standard license text with a published name and version.

[2022-07-13 16:15] DennisClark commented on #3021
one final refinement:

unpublished-license
A license statement that states license terms but is not recognizable as any standard license text with a published name and version, although there could be plans to publish it and submit it to the community as a new, unique license.

[2022-07-13 16:38] pombredanne commented on #3021
@DennisClark I kinda prefer the `custom-license` over the `unpublished-license` which feels a bit too narrowly defined.

[2022-07-13 16:40] DennisClark commented on #3021
@pombredanne   OK, I can go with `custom-license` -- np.

[2022-07-13 16:48] DennisClark commented on #3021
here we are:

custom-license
A license notice that states license terms but is not recognizable as any standard license text with a published name and version, although there could be plans to publish a final version of it and submit it to the community as a new, unique license.

[2022-07-13 16:49] mjherzog commented on #3021
It seems that this use case is for license text that we detect as license text but cannot match to an existing license in the SC LicenseDB.  (I am assuming that this is not for the case where we a reference to a license but cannot find the corresponding license text). So this seems to be a transitory license identifier where we would often add the license to LicenseDB sooner that later.
If this is

[2022-07-13 17:11] DennisClark commented on #3021
my problem with `undetected`  `unknown` `unmatched` is that those adjectives strongly imply that there is a license out there but we could not find it, which is often simply not the case.  We need to recognize that a text with license-like terms may not exist anywhere else, and that is a different matter, because the problem is not an inability to find/detect/match a license, but instead finding y

[2022-07-13 17:26] mjherzog commented on #3021
Since we do not have the license text in LicenseDB at the time of running ScanCode "unmatched" seems most descriptive of the situation. If we research and find some standard license text that we add to LicenseDB then this text will have a match in LicenseDB in the future. If/until then this is a placeholder license key for use during scanning.

[2022-07-13 17:42] DennisClark commented on #3021
We need to discuss this issue in context of the analysis provided already in this issue:
https://github.com/nexB/scancode-toolkit/issues/2827

where multiple "unstated" licenses are identified with proposed descriptions, which do not yet exist in the licensedb.   If we are going to create yet another "un-" license we also need to revisit those others.

[unstated-license-analysis-2022-01-31.xlsx](h

[2022-07-14 07:48] derwahla commented on #1392
Hi! I got the same usecase, I would like to provide a list of files to be scanned. I would expect one output file containing information about all files in the list. It would be nice if the files must not have the same root folder but this is no must have for me.

[2022-07-14 07:57] pombredanne commented on #3015
I am copying here this feedback from upstream pygradle author in https://github.com/linkedin/pygradle/issues/357

Also there are only a handful of pygradle projects I can find in the wild: https://github.com/search?q="dependencies+{python+'pypi"&type=code and https://github.com/search?q="pyGradlePyPi"&type=Code

So based on this, I wonder if doing anything special is worth it? How often do you see

[2022-07-14 09:22] xu1119 commented on #3015
Thanks for doing these. I found this just when I scan some java gradle project searched from github sorted by stars. Based on the search results you found and feedback from pygradle author, I think it may not worth to change.

[2022-07-15 06:13] #3015 closed, assigned to nobody

[2022-07-15 12:29] pombredanne commented on #3015
@xu1119 you wrote:

I would be interested if you can elaborate a bit on this? Also if you find any other issue while parsing gradle build files.

[2022-07-18 09:27] xu1119 commented on #3015
I find some open source SCA tools, and compare results generated by these tools. So I search different projects from github. Other projects scancode can normally analyze, pygradle is special in results.

[2022-07-18 09:31] pombredanne commented on #3015
@xu1119 you wrote:

If you can share more results this would be awesome as this will help improve and/or fix bugs here!

[2022-07-20 04:35] WisdomZheng commented on #2581
Sorry for reply late.

The file is similar to the file you mentioned, I guess they are just different version, the problematic one's version is 0.0.1 and you mentioned one's version is 0.0.19

Below is the file from AOSP(Android Open Source Project) code which will run into the problem:
[BoringSSL-GRPC.zip](https://github.com/nexB/scancode-toolkit/files/9146212/BoringSSL-GRPC.zip)

[2022-07-20 15:59] pombredanne opened #3022 "Add support for Scala SBT packages"
In https://github.com/delta-io/delta/archive/refs/tags/v2.0.0rc1.tar.gz we detect only PyPI and no Scala.

[2022-07-20 17:29] pombredanne commented on #3021
@DennisClark thanks! So the key thing to do is use the excellent definitions you provided in the XLSX of https://github.com/nexB/scancode-toolkit/issues/3021#issuecomment-1183504423 and add them to the notes of the license here to remove any ambiguity.

For the rare case where there is no license, we can create a `no-license` key, but we would never have detection rules and never detect this. This

[2022-07-21 15:09] pombredanne commented on #2065
For package licenses, we have a PR in progress to use "declared_license_expression" and "declared_license_expression_spdx", but for Debian license (and the long list we get from copyright files) have a specific problem: primary vs. other or "secondary licenses"

- All package types except debian tend to have a terse declared license that we can use as a primary license
- Debian in contrast has a p

[2022-07-21 15:50] pombredanne opened #3024 "Do not double scan a file both as a package and as a plain file"
This leads to confusing reporting.
We should scan first for package and skip scanning as a file when the package manifest is scanned properly.

 Though we need to make sure that we do not skip or ignore rare cases such as some Maven POM that use XML comments for their license notice as opposed to use structure license fields.

https://repo1.maven.org/maven2/org/glassfish/javax.json/1.1.4/javax.jso

[2022-07-21 17:27] JonoYang opened #3025 "Consider variable expansion during Package parsing"
In the case of podspec manifests, sometimes the version is defined in a variable and we end up capturing the version variable name as the version value rather than the actual version value itself. For example, in the case of scanning `AmplifyPlugins.podspec`
[code]
scancode creates a package for `AmplifyPlugins` with a version of `$AMPLIFY_VERSION`.

It would be nice to have scancode figure out wh

[2022-07-22 16:04] pombredanne commented on #2581
@WisdomZheng Thank you ++ for these details!

[2022-07-26 00:27] soimkim commented on #2835
@pombredanne ,
In the environment set with pyenv on Mac M1, the following error occurs when pip install scancode-toolkit.
[code]
However, in the environment set with conda, it is installed without error.
On Mac M1, installing and using scancode-toolkit with conda solves the problem. 😃

[2022-07-27 15:48] pombredanne commented on #2835
@soimkim Thank you ++ for the report!
For a `pip install scancode-toolkit` on Apple M1 you would need to ensure that you run in rosetta X86 emulation mode for now using either `arch` or starting a terminal in X86 mode.

[2022-07-27 16:13] robertlagrant opened #3026 "Publish scancode-toolkit Docker image to ghcr.io"
## Short Description
Prepackage the software as a Docker image, hosted here on ghcr.io.

## Select Category
-  [x] Packaging

## **Describe the Update**
Build and upload the Docker image to ghcr.io

## **How This Feature will help you/your organization**
It'll be much simpler to pull in without going through the build process.

## **Possible Solution/Implementation Details**
Perform the automation

[2022-07-27 22:52] JonoYang opened #3028 "Yield Packages before Package Resources in `assemble()` methods"
This is related to https://github.com/nexB/scancode.io/issues/447, where we are implementing the Package assembly step of Package scanning in scancode.io. In scancode.io, we need to create the Package before we can associate it to a Resource. This involves modifying the `assembly` methods to always yield the Package first before the dependencies or Package Resources

[2022-07-28 07:31] pombredanne commented on #3026
@robertlagrant Thanks... this sounds like a good idea ... one question though: is this a free service? Based on https://github.com/features/packages#pricing there seems to be a price tag attached not only to publishing but also to the mere pulling of images which is something we cannot control?

[2022-07-28 07:35] #2827 closed, assigned to pombredanne

[2022-07-28 07:35] #3021 closed, assigned to nobody

[2022-07-28 08:33] robertlagrant commented on #3026
@pombredanne that page design is very misleading! The prices on the right are for private repos. On the left, public repos, it's unlimited.

[2022-07-28 12:50] pombredanne opened #3032 "Collect Android XML metadata"
These are valuable package information
https://pypi.org/project/pyaxmlparser/ @ https://github.com/appknox/pyaxmlparser does a nice job

[2022-07-29 23:27] JonoYang opened #3034 "Add new argument `package_adder` to `DatafileHandler.assemble()`"
We want to reuse the code from the `assembly()` method of the different `PackageHandler`s in scancode.io, and the current method of associating Packages to Resources (in the `assembly()` methods), where we append `package_uid` to `resource.for_packages`,  does not work there. We need to be able to pass in a function that performs the Package - Resource association, so we can use the `assembly()` m

[2022-08-02 18:48] AyanSinhaMahapatra commented on #2402
I was testing out the very basic gibberish detector at https://github.com/rrenaud/Gibberish-Detector, which https://github.com/domanchi/gibberish-detector (mentioned above is based on), as it is much easier to integrate.

I used our scancode license texts and rules (minus the test set) as the training data and false positives and some of the license tags as test data.

It is pretty good at detecti

[2022-08-03 13:58] AyanSinhaMahapatra commented on #2877
@pombredanne I have a couple of possible cases here which could be clues, as opposed to detections. what do you think?

i.e. they will have is_clue as `True` in their .yml files and will be reported in `license_clues`, and not at `license_detections`.

Cases where  is_clue = True:

1. urls to github/other code repo licenses: example: http://github.com/dotnetcore/Util/blob/master/LICENSE or https:/

[2022-08-03 14:05] pombredanne commented on #2402
very nice! what's your take on applicability to license then? Did you apply some boosting to legalese words?

[2022-08-03 14:10] AyanSinhaMahapatra commented on #2402
I still think we need better performance to integrate, i was looking into the other implementation which is a library. There are some additional steps there so I'll try that with the same data. Also thing to note is this only uses positive training, i.e. only trains on good non gibberish values, so if we could do some negative boosting for legalese gibberish that could improve the performance.

I

[2022-08-03 14:17] pombredanne commented on #2877
This makes 100% sense... we have to thread lightly though..

1. urls to github/other code repo licenses: example: http://github.com/dotnetcore/Util/blob/master/LICENSE or https://devshed.codeplex.com/license : **==> IMHO several are bona fide detection rules not mere clues.**
2. links to websites like ghostscript like above: **this is the case for mere clues**
3. unknown references like http://lic

[2022-08-03 14:20] pombredanne commented on #2402
Let's be mindful not to get too much into the weeds as this can be hairy and yield only small improvements.
It may be best to start using this on copyright before applying to license?

[2022-08-03 14:23] pombredanne opened #3037 "Detect new NuGet license URLs with expressions"
Following discussions in https://github.com/nexB/scancode-toolkit/issues/2877 there is service: https://docs.microsoft.com/en-us/nuget/nuget-org/licenses.nuget.org
Therefore we can have SPDX expressions of this shape `https://licenses.nuget.org/(LGPL-2.0-only WITH FLTK-exception OR Apache-2.0+)`

We should extend the matcher used to detect SPDX license identifiers to suppoty this

[2022-08-04 06:35] pombredanne commented on #2761
I think we should also support first the standard Gradle lockfile: https://docs.gradle.org/current/userguide/dependency_locking.html

- Names: `gradle.lockfile` and buildscript-gradle.lockfile`
- Content: This is an ini or properties-like file:

[code]

[2022-08-04 08:59] tardyp commented on #2761
Indeed...
FWIW on my side we did not implement nebula after learning that Nebula is not anymore supported in more recent version of Android (as I was told).

We currently generate the dependency tree manually at project milestones :(
Good news that gradle now has standard dependency locking, I will ping my devs if they can use that.

[2022-08-04 13:16] AyanSinhaMahapatra opened #3038 "Consider CLA's as license clues?"
We have Contributor License agreements as licenses/rules in scancode and we should consider if we report these instead as `license_clues` instead of adding them in `license_detections` proper.

The steps discussed related to this are:

1. decide on a case by case basis if some CLA's are more like proper license detections or they are license clues.
2. if a CLA is decided as a license clue, add `is

[2022-08-04 13:44] AyanSinhaMahapatra commented on #3038
These are some CLAs in scancode licenses:

(Have to decide which of these are clues or not)

`is_clue` | license_key | short_name | name
-- | -- | -- | --
True | dco-1.1 | DCO 1.1 | Developer Certificate of Origin 1.1
True | dgraph-cla | Dgraph Community License Agreement | Dgraph Community License Agreement
True | generic-cla | Generic CLA | Prior Generic Contributor License Agreement
True | isot

[2022-08-04 15:01] richardfontana opened #3039 "ScanCode incorrectly identifies BSD-3-Clause text as proprietary license"
### Description

I ran ScanCode 31.0.0rc1 on the Fedora source package for webkit2gtk3-2.36.5. The license text in one file, which appears to be identical or substantially identical to this Webkit source file:
https://github.com/WebKit/WebKit/blob/main/Source/cmake/DetectSSE2.cmake
was incorrectly identified as "proprietary-license" by ScanCode, with the score 90.99, for reasons that are unclear t

[2022-08-04 15:04] pombredanne commented on #2065
This is not yet merged but completed in the #2961 PR

[2022-08-04 16:51] pombredanne opened #3040 "macOS 12 on x86 does not work when installing from an actual app archive"
we do have some issue that's been reported privately with macOS 12 on X86 : SCTK 31.0.0rc3 does not install correctly

[2022-08-04 16:52] pombredanne commented on #3039
@richardfontana Thank you ++ for the report!

[2022-08-04 17:01] pombredanne commented on #3039
See https://github.com/nexB/scancode-toolkit/pull/3041 for a likely fix

[2022-08-04 18:20] pombredanne commented on #3039
@richardfontana this fix works and has been merged and will be in the next release.
Thanks!

[2022-08-04 18:20] #3039 closed, assigned to nobody

[2022-08-05 10:01] pombredanne commented on #2925
IMHO that's a better behaviour. the approach we have today is lazy and therefore and to your point the scan may fail at the end because the CSV path is only looked at at the tail end of the scan.

[2022-08-05 10:28] pombredanne opened #3043 "RFC: Improve tabular output formats"
The current CSV output is a mess, albeit a convenient mess. We need something and quick. I suggest these short term and long term actions

## For now in v31:

- [x] #3047
The deprecation message should have a link to this PR.

## In v32:

- [ ] Create a new `--csv-file` option that would only list file level details in this way:
   - file info columns, license expression, copyright, holder, urls,

[2022-08-05 20:33] pombredanne commented on #3040
The issue has been traced to these related issues:
- https://github.com/mkorman90/regipy/issues/239
- https://github.com/libyal/libfwsi/issues/19

A solution may be to

- provide the sources in all cases for `libfwsi-python` and hope for the best
- same, but add an extra to restrict Windows registry support to Linux?
- build `libfwsi-python` on all OSes... but this may need a light fork of `libfws

[2022-08-05 22:26] pombredanne commented on #3040
We need to tests that an app archive is effectively test installed and test run after its build.

[2022-08-05 22:27] pombredanne commented on #3040
The wheel for pefile is missing everywhere too per https://github.com/erocarrera/pefile/issues/341

[2022-08-08 10:49] TejaPutcha commented on #2879
Hi @pombredanne
I am new to Open Source and all of this so please ignore if I have said anything incorrect. It would be appreciated if you could educate me regarding this!

The issue that has been raised can be divided into 3 questions:

The contents on the page are various licenses that are used for a website and I will tell the type of the website in the answer to the third question. I do not kn

[2022-08-09 10:32] pombredanne opened #3044 "Invalid hardcoded paths for data files in cache LicenseIndex"
[code]

Here `'/home/runner/work/scancode-toolkit/scancode-toolkit/src/licensedcode/data/rules/agpl-3.0_371.yml' ` is the absolute path if the data files as they existed on some obscure CI runner that was used to create the index... the paths should be relative and "portable" on another machine!

[2022-08-09 12:18] AyanSinhaMahapatra opened #3045 "dependencies in requirements.txt not present in top level"
See the test [here](https://github.com/nexB/scancode-toolkit/tree/develop/tests/packagedcode/data/pypi/source-package) for which [top-level dependencies](https://github.com/nexB/scancode-toolkit/blob/develop/tests/packagedcode/data/pypi/source-package/pip-22.0.4-pypi-package-expected.json#L2) doesn't contain the requirements that are present in this [package_data dependencies](https://github.com/n

[2022-08-10 12:57] pombredanne commented on #2879
@TejaPutcha Excelllent research!... one hint for you: I see that the opendev website is based on Gitea. And Gitea's own demo site also uses the same style of license file seen the bottom of https://try.gitea.io/
IMHO the next step down would to find how and where does https://github.com/go-gitea/gitea create this file: Is this generated live? is this stored in version control? Searching for "licen

[2022-08-11 06:06] AyanSinhaMahapatra commented on #3037
This is finished in #2961

[2022-08-11 12:03] pombredanne commented on #2653
This is now versioned and merged. Closing

[2022-08-11 12:03] #2653 closed, assigned to AyanSinhaMahapatra

[2022-08-11 12:13] AyanSinhaMahapatra commented on #2943
This is fixed, closing.

[2022-08-11 12:13] #2943 closed, assigned to nobody

[2022-08-11 15:13] pombredanne commented on #2990
Not seen anymore as reported by @AyanSinhaMahapatra ... moving to later and lower priority

[2022-08-11 15:16] pombredanne opened #3047 "Deprecate and hide the CLI help the current `--csv` option so that we do not further the mess in r31.... drop it entirely in v32"
Discussion on the new format is in https://github.com/nexB/scancode-toolkit/issues/3043

[2022-08-11 15:39] pombredanne commented on #2987
The bug is fixed and we are keeping this open to ensure we can report more useful data.

[2022-08-11 16:05] AyanSinhaMahapatra commented on #3045
See discussion [here](https://github.com/nexB/scancode-toolkit/commit/a13f81e8a2a9902b565583a3dfc8c3a509135546#r80942604)

[2022-08-11 17:18] pombredanne commented on #2950
This has been merged and received no push back... this is fairly non controversial... closing!

[2022-08-11 17:18] #2950 closed, assigned to nobody

[2022-08-12 20:53] rspier commented on #2877
This seems like a recipe for noise in the output.  Or possibly the need for more granular levels of clue.  (strong clue / weak clue).  But I would probably lean towards "if it isn't actually useful signal, it's not interesting".  What are you going to do *with* the clues once you have them?

One of the challenges with these heuristics is context, or the lack thereof.

I had a case a few weeks ago

[2022-08-15 16:30] gk4delltech opened #3048 "Analysis exception processing SPDX file: Missing document namespace"
### Description

I have used the openSUSE OBS to RPM build the GNU "hello world" example.   Using this RPM as my input, I would like to create an SBOM for it.   When I go to verify the SBOM, then it says the document namespace is missing.   I don't see a  scancode command line option to specify it.    I do see that document namespace was a bug a couple of years ago and was fixed.

### How To Repro

[2022-08-15 18:57] gk4delltech commented on #3048
Example hello-rpm-spdx.json file
[hello-rpm-spdx.json.txt](https://github.com/nexB/scancode-toolkit/files/9339243/hello-rpm-spdx.json.txt)

[2022-08-16 07:49] pombredanne commented on #2427
I made a few tests with shiv which works almost beautifully... but there is a bug in Python and this cannot work for now https://github.com/linkedin/shiv/issues/224

[2022-08-16 08:07] pombredanne opened #3050 "Fix deprecation warning with data files"
When building a wheel of the latest SCTK on recent Python with the latest setuptools we have this error:

[code]
then repeated a few times for other dirs:
[code]

[2022-08-16 08:08] pombredanne opened #3049 "ScanCode contains too many data files"
The src/licensedcode/data directory contains 68K+ files and 64k just for the rules.
These rule files are not used much at runtime because they are baked into the index in a compressed form that is used at runtime. The same applies to the licenses files that are fully included in the index in an object form.

These are only needed when the index is rebuilt.
Another issue is that handling so many fi

[2022-08-16 09:14] tdruez commented on #3050
@pombredanne wrong repo?

[2022-08-16 09:14] pombredanne commented on #3050
Yes!

[2022-08-16 13:31] yahym opened #3051 "Error: Invalid value: ERROR: failed to setup plugin: scan:licenses -> licensedcode.index.DuplicateRuleError: Duplicate rules:"
### Description
I tried to use the latest RC version `31.0.0RC5` and folder scan ends with an exception below.
-  With pypi published version `ScanCode version 30.1.0, ScanCode Output Format version 1.0.0, SPDX License list version 3.14` the same folder scan is finished successfully
- As info: since I could not find a wheel available, the wheel was build on windows 10 machine from python 3.9x64 ve

[2022-08-16 13:38] yahym commented on #2964
`--package` does the job!
Thank you for all the details and support. Issue can be closed. 👍

[2022-08-16 13:38] #2964 closed, assigned to nobody

[2022-08-16 15:58] mjherzog commented on #3049
The first action seems to be the simplest solution.

[2022-08-17 08:05] armijnhemel opened #3052 "new license: BigScience RAIL license v1.0"
### Description

https://huggingface.co/spaces/bigscience/license

is a new license for AI models. It can be best qualified as an "ethical license".

[2022-08-17 13:03] pombredanne commented on #2835
The doc is updated in the https://github.com/nexB/scancode-toolkit/pull/3053 PR.
There are also extensive release tests on various OS

[2022-08-17 13:03] pombredanne commented on #2758
This is solved in https://github.com/nexB/scancode-toolkit/pull/3053
Thanks!

[2022-08-17 13:03] #2758 closed, assigned to nobody

[2022-08-17 13:04] pombredanne commented on #2809
This is solved in https://github.com/nexB/scancode-toolkit/pull/3053 and will be released with v31.
Thanks!

[2022-08-17 13:04] #2809 closed, assigned to nobody

[2022-08-17 13:05] pombredanne commented on #2808
This is solved in https://github.com/nexB/scancode-toolkit/pull/3053 and will be released with v31.
Thanks!

[2022-08-17 13:05] #2808 closed, assigned to nobody

[2022-08-17 13:06] pombredanne commented on #2750
This should be solved in https://github.com/nexB/scancode-toolkit/pull/3053 and will be released with v31.
But I am not sure 100% since I never got details wrt. how ScanCode has been installed and what's the version of Python used.

[2022-08-17 13:07] pombredanne commented on #3047
This is solved in https://github.com/nexB/scancode-toolkit/pull/3053 and will be released with v31.

[2022-08-17 13:07] #3047 closed, assigned to nobody

[2022-08-17 13:07] pombredanne commented on #2560
This is solved in https://github.com/nexB/scancode-toolkit/pull/3053 and will be released with v31.

[2022-08-17 13:07] #2560 closed, assigned to nobody

[2022-08-17 13:08] pombredanne commented on #2938
This is solved in https://github.com/nexB/scancode-toolkit/pull/3053 and will be released with v31.
Thanks!

[2022-08-17 13:08] #2938 closed, assigned to nobody

[2022-08-17 13:08] pombredanne commented on #2750
I am closing it for now... please reopen of file a new issue if you are still experiencing this.

[2022-08-17 13:08] #2750 closed, assigned to nobody

[2022-08-17 13:09] pombredanne commented on #2835
The tests are also running on release archives on various mac, windows and linux configurations. I am running Apple M1 tests by hand on a borrowed machine.
Closing this for now!
Thanks you all.

[2022-08-17 13:09] #2835 closed, assigned to nobody

[2022-08-17 16:03] AyanSinhaMahapatra commented on #3048
The file you generated from scancode is a json file as you've used the `--json-pp` option.

Refer to https://scancode-toolkit.readthedocs.io/en/latest/cli-reference/output-format.html#all-scan-output-options
where the spdx options are: `--spdx-rdf` or `--spdx-tv`.

I could generate a file using the following command:

`scancode -clpeui -n 1 --verbose --spdx-rdf hello-rpm-spdx.rdf ./hello-2.10-4.2.

[2022-08-17 16:07] AyanSinhaMahapatra commented on #3048
Btw, I ran the verify command for [spdx tools java](https://github.com/spdx/tools-java/releases) versions:

- 1.0.0
- 1.0.4
- 1.1.0

This `not valid` statement was  present for all the versions.

We need to fix this such that we produce valid spdx documents.

[2022-08-17 21:36] pombredanne commented on #2554
This has been fixed in https://github.com/nexB/scancode-toolkit/pull/3053 and will be in release v31
Thank you for your patience!

[2022-08-17 21:36] #2554 closed, assigned to nobody

[2022-08-17 21:49] pombredanne commented on #2762
The latest Dockerfile at https://github.com/nexB/scancode-toolkit/commit/73a1452926bce10460564fc8c820d33f46b9f38a can be used as a blueprint.
Alternatively I recommend using the application archives or the released PyPI wheels.
I am closing this now. But please reopen if you think this is still an issue!

[2022-08-17 21:49] #2762 closed, assigned to nobody

[2022-08-17 21:50] pombredanne commented on #3040
This is fixed in https://github.com/nexB/scancode-toolkit/pull/3053

[2022-08-17 21:50] #3040 closed, assigned to nobody

[2022-08-17 22:18] pombredanne commented on #3052
@armijnhemel Thanks!

[2022-08-17 22:19] pombredanne commented on #3052
@DennisClark FYI

[2022-08-17 22:20] pombredanne commented on #3052
@DennisClark See also this list from @LeChasseur https://github.com/LeChasseur/ifrOSS/blob/master/EthicalLicenses.md

[2022-08-17 22:55] JonoYang opened #3054 "Create winexe package only when name is available?"
I scanned a docker image layer from `docker://python:3.8-slim-buster` using the `--system-package` option and there were a number of Package data detected from Windows executables that did not provide a name or any other information:
[code]
Should we skip package creation for Windows executables if we cannot get a name for it?

[2022-08-18 15:29] pombredanne opened #3056 "in SCTK, detect debian/ directory and its copyright as package and as part of keyfiles"

[2022-08-18 15:29] pombredanne opened #3057 "Always ignore copyrights, authors, emails, and URLs found in license texts"
They are noisy for primary detection

[2022-08-18 15:29] pombredanne opened #3058 "Improve documentation of the --filter-clues SCTK option"
The description is poor and should refer to ignorables copyright more explicitly

[2022-08-22 13:45] pombredanne opened #3060 "Add support for cgmanifest"
See https://github.com/search?q=org%3Amicrosoft+cgmanifest.json&type=code
https://github.com/microsoft/onnx-server-openenclave/blob/ae91aa27dbba69c610462319068865304cf7191f/cgmanifests/README.md#L2

This is a (proprietary?) format seen in MSFT open source repos. Doc is behind login at https://docs.opensource.microsoft.com/tools/cg/cgmanifest.html

See for instance:
- https://github.com/microsoft/a

[2022-08-22 16:58] OmkarPh opened #3061 "Scancode toolkit not running on Apple silicon (M1)"
### Description
I downloaded archives from the latest release [here](https://github.com/nexB/scancode-toolkit/releases/tag/v31.0.1)
Unzipped the archive, and then tried `./scancode --help` but it's giving these errors.
Tried on the normal terminal as well as terminal using rosetta
![image](https://user-images.githubusercontent.com/48476025/185976333-dd53dd6d-969b-4941-a6d2-b7d0902a4421.png)

Error

[2022-08-22 16:58] OmkarPh commented on #3061
@pombredanne @AyanSinhaMahapatra ^^

[2022-08-24 11:31] AyanSinhaMahapatra commented on #3049
@pombredanne :

I think YAML front-matter would be much better. There are a lot of issues in YAML when it comes to text with whitespace/symbols as we were discussing, and plain YAMLs are causing a lot of YAML read errors.

[2022-08-24 21:38] JonoYang opened #3066 "Should package assembly be aware of the fact that it is processing Resources from an extracted Package archive?"
What I mean by the title is that in the case where we are scanning a package archive, we tend to extract it first using extractcode and then we call scancode on the directory where the contents was extracted to. In that scan, we would find that extracted package archive contents are all part of the package (from the package assembly step), but the archive where those package archive resources were

[2022-08-25 08:03] tdruez opened #3067 "InvalidRule: Inconsistent rule text for: cc0-1.0_176.RULE"
### Description

"InvalidRule: Inconsistent rule text for: cc0-1.0_176.RULE" while scanning `_codecs_jp.cpython-38-x86_64-linux-gnu.so` file from `docker://python:3.8-slim-buster`.

### How To Reproduce

[_codecs_jp.cpython-38-x86_64-linux-gnu.so.zip](https://github.com/nexB/scancode-toolkit/files/9422726/_codecs_jp.cpython-38-x86_64-linux-gnu.so.zip)

[code]

[code]

### System configuration

* W

[2022-08-25 08:26] tdruez commented on #3067
Encounter the same issue on various rules while scanning `docker://docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2`

Inconsistent rule text for:
- `gpl-3.0-plus_28.RULE`
- `lgpl-2.0-plus_68.RULE`
- `gpl-2.0-plus_bare_single_word.RULE`
- `gpl-3.0_357.RULE`
- `mpl-2.0_21.RULE`
- `gpl-3.0-plus_28.RULE`
- `gpl_bare_word_only.RULE`

Problematic files:
- `usr/sbin/install-info`
- `var/lib/rpm/B

[2022-08-25 08:58] pombredanne commented on #3061
I could not reproduce.... can you confirm that you used exactly this:
- download https://github.com/nexB/scancode-toolkit/releases/download/v31.0.1/scancode-toolkit-v31.0.1_py3.8-macos.tar.gz
- in a terminal `tar -xf scancode-toolkit-v31.0.1_py3.8-macos.tar.gz` and cd to the directory and run scancode?

[2022-08-25 08:59] pombredanne commented on #3061
Also do you have `python3`?
IF you run `python3` in a terminal, what shows up?

[2022-08-25 11:26] OmkarPh commented on #3061
yes, I tried that again, and still the same error:
![image](https://user-images.githubusercontent.com/48476025/186652320-c4562a97-6147-499c-b6fb-db05504c978b.png)

[2022-08-25 15:05] pombredanne commented on #3067
Thanks... That's a major one. We are on it.
This is related to https://github.com/nexB/scancode-toolkit/issues/3044 that I thought was only a "nice to have"

[2022-08-26 19:50] DennisClark opened #3069 "Detection rule needed for "3-Clause BSD License""
A scan using `scancode-toolkit-31.0.2` of `tomviz-2.0.0-rc1`
[tomviz-2.0.0-rc1-results.json.zip](https://github.com/nexB/scancode-toolkit/files/9436042/tomviz-2.0.0-rc1-results.json.zip)

( available from https://github.com/OpenChemistry/tomviz/archive/refs/tags/2.0.0-rc1.tar.gz )
returned the correct Declared license of bsd-new from the project LICENSE file, but it returned 425 instances of unkno

[2022-08-29 09:54] camillem commented on #2942
Hi,
There is a similar problem on Ubuntu 22.04 LTS, where Python 3 is 3.10.
It will be fixed by #2956 but in the meantime, it can be fixed by installing Python 3.8 from the "deadsnakes" ppa.

[code]
@pombredanne : I'd be happy to document that in a PR if you find it appropriate

[2022-08-30 18:48] JonoYang opened #3072 "Repeated package and dependency results when scanning extracted rubygem"
I extracted a rubygem (https://rubygems.org/downloads/awesome_print-1.8.0.gem) and I scanned it with scancode-toolkit and I got repeated Package and Dependency results. The package `awesome_print` was reported 20 times, and each dependency for `awesome_print` was reported 20 times.

In `GemfileLockHandler.parse()` it appears that we yield the package and dependencies too many times.