[2022-08-31 09:28] francescayeye opened #3073 "ScanCode version 31.1.0 produces `license_expression` in `packages` with duplicated licenses"
### Description

ScanCode version 31.1.0 produces `license_expression` in `packages` with duplicated licenses

### How To Reproduce

[code]

### System configuration

* What OS are you running on? (Windows/MacOS/Linux) MacOs 12.5.1 (21G83)
* What version of scancode-toolkit was used to generate the scan file? 31.1.0
* What installation method was used to install/run scancode? (pip/source download/

[2022-08-31 13:53] pombredanne commented on #3073
Thanks!
@DennisClark @chinyeungli @mjherzog @JonoYang @AyanSinhaMahapatra ping...
The key question is whether or not we should simplify these expressions and remove duplicates (the remove is easy since @chinyeungli  did contribute code to this effect in license-expression)
@AyanSinhaMahapatra this could also have some impect on your pending PR on license detection

[2022-08-31 14:40] DennisClark commented on #3073
@pombredanne    we should definitely simplify these license expressions by removing duplicates when possible.

[2022-08-31 15:07] AyanSinhaMahapatra commented on #3073
This is fixed in https://github.com/nexB/scancode-toolkit/tree/add-license-detection

I.e. we simplify these expressions and this is not `mit AND mit` anymore, but just `mit`.

Attaching a scan of the same from the branch I linked above for reference, notice the two seperate License Detections and the `declared_license_expression` is `mit`:
[double-license.json.txt](https://github.com/nexB/scancod

[2022-08-31 16:02] pombredanne opened #3074 "Add support for packages from https://wordpress.org/plugins"
See for examples:
- https://github.com/sgvcool/wordpress-template/blob/b46a1d33d3ecaef58a27be24844df143a876f403/wp-content/plugins/terms-descriptions/terms-descriptions.php#L3
- https://github.com/Alkagar/hompage/blob/cae3c3cc731c8ddc8487fd25d528dee66a58eaa1/wp-content/plugins/codecolorer-markdown/codecolorer-markdown.php#L4

See some tools:
- https://github.com/gedex/wphd
- https://github.com/ini

[2022-08-31 16:31] DennisClark opened #3075 "Provide an "ambiguity_clue" field to support the setting of ambiguous_compound_licensing"
When the summary option is requested, SCTK provides some high-level information including a license_clarity_score in the scan results.  One of the summary fields is `ambiguous_compound_licensing` which is set to true or false, and is defined as

"Indicates that the software has a license declaration that makes it difficult to construct a reliable license expression, such as in the case of multiple

[2022-08-31 19:57] eastmadc commented on #1888
Implemented by #2698

[2022-08-31 19:57] eastmadc commented on #1888
Implemented by #2698

[2022-08-31 19:57] #1888 closed

[2022-08-31 21:12] TG1999 opened #3076 "Unable to get name, version, extension from get_sdist_name_ver_ext in utils_thirdparty.py"
### Description

### How To Reproduce

[code]
https://pypi.org/simple/functools32/

### System configuration

Linux Python 3.8

[2022-09-01 04:44] francescayeye commented on #3073
great @AyanSinhaMahapatra

is `declared_license_expression` a new field or renaming of `license_expression` ?

[2022-09-01 08:44] AyanSinhaMahapatra commented on #3073
@aspacca yes! We have a couple of these renaming and a lot of other output format changes w.r.t license detection with a lot of other related improvements.

See #2065 for more info on the renaming.

[2022-09-01 12:08] TG1999 commented on #3076
According to this https://peps.python.org/pep-0440/ , it is a non-valid version, since it has a hyphen in version.

[2022-09-01 20:37] DennisClark opened #3078 "scancode-toolkit-31.0.2 returns an unknown-license-reference just before the mit-nagy text"
I scanned doris-1.1.1-rc03 ( available at https://github.com/apache/doris/archive/refs/tags/1.1.1-rc03.tar.gz )
using scancode-toolkit-31.0.2
and although it detected most of the licenses in the rather complex notice (attached) in
doris-1.1.1-rc03/be/src/glibc-compatibility/musl/COPYRIGHT
it returns both unknown-license-reference and mit-nagy for this chunk of text:

[code]

Although the mit-nagy

[2022-09-01 20:56] DennisClark opened #3079 "scancode-toolkit-31.0.2 returns an unknown-license-reference just before the x11-lucent text"
I scanned doris-1.1.1-rc03 ( available at https://github.com/apache/doris/archive/refs/tags/1.1.1-rc03.tar.gz )
using scancode-toolkit-31.0.2
and although it detected most of the licenses in the rather complex notice (attached) in
doris-1.1.1-rc03/dist/LICENSE-dist.txt
it returns both unknown-license-reference and x11-lucent for this chunk of text:

[code]

See lines 9102 through 9189 in the attac

[2022-09-01 21:14] DennisClark opened #3080 "scancode-toolkit-31.0.2 returns an unknown-license-reference just before the bzip2-libbzip-2010 text"
I scanned doris-1.1.1-rc03 ( available at https://github.com/apache/doris/archive/refs/tags/1.1.1-rc03.tar.gz )
using scancode-toolkit-31.0.2
and although it detected most of the licenses in the rather complex notice (attached) in
doris-1.1.1-rc03/dist/LICENSE-dist.txt
it returns both unknown-license-reference and bzip2-libbzip-2010 for this chunk of text:

[code]

See lines 9190 through 9257 in t

[2022-09-01 21:32] pombredanne opened #3081 "Incorrect purl type for cocoapods"
### Description

https://github.com/nexB/scancode-toolkit/blob/9c0f4ccca5cfc9cb79168dc888412c7246a2418d/src/packagedcode/cocoapods.py#L197 has "pods" as a purl type for cocoapods.
It should be "cocoapods" instead https://github.com/package-url/purl-spec/blob/master/PURL-TYPES.rst#cocoapods

[2022-09-01 21:34] DennisClark opened #3082 "scancode-toolkit-31.0.2 is not recognizing a declared license choice"
scanned doris-1.1.1-rc03 ( available at https://github.com/apache/doris/archive/refs/tags/1.1.1-rc03.tar.gz )
using scancode-toolkit-31.0.2
and although it detected most of the licenses in the rather complex notice (attached) in
doris-1.1.1-rc03/dist/LICENSE-dist.txt
it returns unknown-license-reference twice for portions of the following text:

[code]

See lines 9463 forward in the scan results f

[2022-09-01 22:42] JonoYang opened #3083 "No dependency results when scanning celery-5.2.7.tar.gz"
Originally reported at https://github.com/nexB/scancode.io/issues/516

I've downloaded, extracted, and run a package scan on https://files.pythonhosted.org/packages/ce/21/41a0028f6d610987c0839250357c1a00f351790b8a448c2eb323caa719ac/celery-5.2.7.tar.gz but no dependency results show up in the top-level dependencies field.

I think this is due to the pypi package parser getting results from the `cel

[2022-09-02 00:44] soimkim opened #3084 "The contents of the analyzed file are output."
### Description
When analysis is executed, the contents of the analyzed file are output.

`$ scancode --json-pp - --license --copyright display-webos`
![image](https://user-images.githubusercontent.com/4284712/188035217-a561ee87-bd84-4ed0-b883-8dc7dee0e0d0.png)

### How To Reproduce

1. Unzip the file.  (File Source: https://www.npmjs.com/package/@signageos/display-webos)
[display-webos.tar.gz](ht

[2022-09-02 04:59] francescayeye commented on #3073
thanks for clarifying @AyanSinhaMahapatra
what version should I pin as higher dependency in order to be sure not have break because of the renaming and output format changes? thanks

[2022-09-02 07:31] pombredanne commented on #3084
Thanks for the report. The attached tarball is empty... is this for https://registry.npmjs.org/@signageos/display-webos/-/display-webos-2.3.0-beta.1.tgz ?

[2022-09-02 07:34] pombredanne commented on #3084
Actually never mind... that's tracing flags that I forgot to turn off..
I am pushing a new release ASAP!
Thank you ++ for the report :bow:

[2022-09-02 07:35] soimkim commented on #3084
Thank you! File upload was blocked. 😢

[2022-09-02 08:00] pombredanne commented on #3084
You can only upload zip files in issues . Tarballs need to be further wrapped in a zip. Weird... but that's their way.

[2022-09-02 11:24] LeChasseur opened #3086 "Qt Company proprietary license instead of Digia proprietary license for Qt"
### Description

Scancode provides "digia-qt-commercial" for the following license text which is a follow up license for Qt from Qt Company:
.....
** Commercial License Usage
** Licensees holding valid commercial Qt licenses may use this file in
** accordance with the commercial license agreement provided with the
** Software or, alternatively, in accordance with the terms contained in
** a writte

[2022-09-02 13:16] pombredanne commented on #3084
This has been fixed and released in v31.1.1
Thank you ++

[2022-09-02 13:16] #3084 closed, assigned to nobody

[2022-09-02 20:00] JonoYang opened #3088 "Invalid dependency created when scanning gemspec"
I've scanned the gemspec https://raw.githubusercontent.com/logstash-plugins/logstash-mixin-ecs_compatibility_support/main/logstash-mixin-ecs_compatibility_support.gemspec and in the dependency results, there is an invalid dependency created from the description (https://github.com/logstash-plugins/logstash-mixin-ecs_compatibility_support/blob/main/logstash-mixin-ecs_compatibility_support.gemspec#L

[2022-09-02 20:05] JonoYang opened #3089 "Issue scanning extracted rubygem"
I've downloaded and scanned the ruby gem awesome_print (https://rubygems.org/downloads/awesome_print-1.8.0.gem) and the scan results contain repeated reported Packages and Dependencies. awesome_print has been reported as many times as there are dependencies and the entire set of dependencies have been repeated the same number of times as there are dependencies.

[2022-09-02 20:06] JonoYang commented on #3089
Closing in favor of #3072

[2022-09-02 20:06] #3089 closed, assigned to JonoYang

[2022-09-04 16:02] robinsandhu commented on #3061
I cannot reproduce the bug either.

System details:

<img width="981" alt="Screenshot 2022-09-04 at 9 31 06 PM" src="https://user-images.githubusercontent.com/40196431/188322617-6142edca-c712-4232-829f-2d3a10bd4114.png">

[2022-09-05 11:06] pombredanne commented on #3061
@robinsandhu Thank you ++ for checking!
@OmkarPh You have Python 3.9 rather than the default stock Python 3.8

[2022-09-05 13:11] AyanSinhaMahapatra commented on #3069
This is already fixed in the LicenseDetection branch for the upcoming release: https://github.com/nexB/scancode-toolkit/tree/add-license-detection.

How this is solved:

Issue 1
----------

1. We see a `unknown-license-reference` present in a license match which has a `referenced_filename` (i.e. here the text is referring to a file named `LICENSE`) (This also happens if this is not unknown, i.e. w

[2022-09-05 13:21] AyanSinhaMahapatra commented on #3069
Attaching the full scan results here:

[tomviz.json.txt](https://github.com/nexB/scancode-toolkit/files/9490100/tomviz.json.txt)

[2022-09-06 06:25] nnobelis opened #3093 "Duplicated output when running Scancode in verbose mode"
### Description

When running Scancode in verbose mode (`-v` flag), the files listed in output are duplicated and it looks they are scanned two times.
According to @pombredanne, this is a bug and needs to be reported.

### How To Reproduce

I experienced this bug when scanning https://github.com/Azure/azure-sdk-for-net.git with the command:
`scancode --copyright --license --info --strip-root --tim

[2022-09-06 11:17] pombredanne commented on #3093
Thanks!
It is a display bug and that's likely the progress manager that displays twice... we do not scan twice for sure.

[2022-09-06 12:35] gk4delltech opened #3094 "Latest scancode-toolkit not building on SLES 15 SP4."
The latest scancode-toolkit is not building on SLES 15 SP4.   I could build a month ago, but not now.   We cannot seem to resolve the dependencies.

sudo zypper install -y python3-devel git-core
sudo pip install --upgrade pip setuptools wheel ftfy jaraco-functools commoncode plugincode debian-inspector importlib-metadata jinja2 zipp markupsafe requests click
mkdir ~/source
cd ~/source
git clone ht

[2022-09-06 13:05] gk4delltech opened #3095 "Build RPMs for scancode"
The LSB and ISO Linux was the genisis of the Linux Foundation.   The scancode-toolkit needs to live up to the LF standards of portability.   Either [fix to build](https://github.com/nexB/scancode-toolkit/issues/3094) or offer noarch RPMs.

[2022-09-06 14:19] OmkarPh commented on #3061
I had an arm-only python installed on my machine, that was the issue
@pombredanne & I discussed and tried with a universal python install and it worked fine,
Specifically, i tried this version - https://www.python.org/downloads/release/python-3913/
![image](https://user-images.githubusercontent.com/48476025/188659250-caac9204-5c0a-40d1-807d-636f900b1b2f.png)

[2022-09-06 17:40] pombredanne commented on #3095
@gk4delltech Thanks for the report! Do you think you can help contribute RPMs?

[2022-09-06 17:43] pombredanne commented on #3095
BTW, I am note sure that scancode "is anti ISO Linux (ie., LSB)" in anyway shape or form I can fathom! ;)

[2022-09-06 18:01] gk4delltech commented on #3095
The SPDX workgroup should have a build farm and CI/CD to do this.

[2022-09-06 18:03] pombredanne commented on #3094
@gk4delltech Would you have a log of the errors and some details on your configuration so it could be reproduced?

How would one be able to reproduce this? Can a container be used for this?

What is the OS/architecture you have used and which Python version?

Some notes:
- `sudo pip install ` may not be the best way to install as you would mix it other installations? I would prefer using an isolat

[2022-09-06 18:12] pombredanne commented on #3095
@gk4delltech

I am pretty sure the SPDX workgroup has no such build farm; but even if it did and assuming we could get access to it ( ScanCode is an independent project from SPDX), there is still quite a bit of work that would be required to create, build and test packages on various Linux distros than just having a build farm. This is a lot of work from my personal experience, especially to get a

[2022-09-06 18:16] gk4delltech commented on #3094
I've tried following the venv way and also with packages installed on the system.

[2022-09-06 18:17] gk4delltech commented on #3094
[scancode-install.log](https://github.com/nexB/scancode-toolkit/files/9499706/scancode-install.log)

[2022-09-06 18:24] gk4delltech commented on #3094
Please disregard.   User error.

[2022-09-06 18:24] #3094 closed, assigned to nobody

[2022-09-06 20:09] pombredanne commented on #3094
@gk4delltech no problem. If you experience any issue with building on openSUSE, please report and we will try to help.
Note that we could also add a container-based smoke test to make sure things work in all cases?

[2022-09-06 20:09] pombredanne commented on #3095
Let me reopen this. We still need RPMs alright!

[2022-09-06 22:04] JonoYang commented on #3083
Fix merged in #3091

[2022-09-06 22:04] #3083 closed, assigned to nobody

[2022-09-06 22:41] AyanSinhaMahapatra commented on #3078
@DennisClark this is already fixed in the LicenseDetection branch for the upcoming release: https://github.com/nexB/scancode-toolkit/tree/add-license-detection.

Similar to `Issue 2` in https://github.com/nexB/scancode-toolkit/issues/3069#issuecomment-1237003830 and also similar to this issue reported by eclipse foundation here: https://github.com/nexB/scancode-toolkit/issues/2878#issuecomment-112

[2022-09-06 22:44] AyanSinhaMahapatra commented on #3079
@DennisClark this is already fixed in the LicenseDetection branch for the upcoming release: https://github.com/nexB/scancode-toolkit/tree/add-license-detection.

Similar to `Issue 2` in https://github.com/nexB/scancode-toolkit/issues/3069#issuecomment-1237003830 and also similar to this issue reported by eclipse foundation here: https://github.com/nexB/scancode-toolkit/issues/2878#issuecomment-112

[2022-09-06 22:47] AyanSinhaMahapatra commented on #3080
@DennisClark this is already fixed in the LicenseDetection branch for the upcoming release: https://github.com/nexB/scancode-toolkit/tree/add-license-detection.

Similar to `Issue 2` in https://github.com/nexB/scancode-toolkit/issues/3069#issuecomment-1237003830 and also similar to this issue reported by eclipse foundation here: https://github.com/nexB/scancode-toolkit/issues/2878#issuecomment-112

[2022-09-06 22:58] AyanSinhaMahapatra commented on #3082
@DennisClark this is already fixed (in the sense we don't return an unknown anymore) in the LicenseDetection branch for the upcoming release: https://github.com/nexB/scancode-toolkit/tree/add-license-detection.

Similar to `Issue 2` in https://github.com/nexB/scancode-toolkit/issues/3069#issuecomment-1237003830 and also similar to this issue reported by eclipse foundation here: https://github.com/

[2022-09-07 09:50] #3061 closed, assigned to nobody

[2022-09-07 09:59] pombredanne commented on #3061
Thanks! that was a bit of an head scratcher for sure... Glad we could find a way to fix this

[2022-09-07 12:17] hanna-modica opened #3097 "elastic-license-v2 duplicate of Elastic-2.0"
### Description

The license under the licenseref [elastic-license-v2](https://github.com/nexB/scancode-toolkit/blob/24aae228fa0d06059a59c9748f9d366850a8d47a/src/licensedcode/data/licenses/elastic-license-v2.yml) is a duplicate of [Elastic-2.0](https://spdx.org/licenses/Elastic-2.0.html). If the license is present, both license refs are reported by ScanCode

### How To Reproduce

Scan a recent ver

[2022-09-07 14:28] pombredanne commented on #3097
Thanks for the report. For background, our elastic license predates the addition in SPDX and the latest update from Feb. 7th adopted the SPDX id  in https://github.com/nexB/scancode-toolkit/commit/2debf40ea5981fd8201a636f68d30bd4df9438db

Do you have an example of a specific file path with the issue?
Did you try it with the latest ScanCode toolkit 31.x?

[2022-09-08 14:06] AyanSinhaMahapatra commented on #3073
@aspacca we really don't recommend keeping pinned to a dependency for too long as you'll miss out on a lot of important license updates, bugfixes and new features. We have a ouput version changes documentation at https://scancode-toolkit-reference-scans.readthedocs.io/en/latest/ with diffs and explanations for each changes in output format version. You can refer to this for the magnitude of change

[2022-09-08 15:38] pombredanne commented on #3067
This has been merged and released. Thanks for the report!

[2022-09-08 15:38] #3067 closed, assigned to nobody

[2022-09-09 17:51] AyanSinhaMahapatra commented on #3049
are we going ahead with this?

Then the options are:
- Generate some kind of content based hash (no need for nested dirs, just one level of directories, so maybe just one character of the hash is required)
- give the major license keys a folder of their own (the various gpls, apache, lgpl and so on)
- make directories based on characters from the license-key (if there's a lot of them under one cha

[2022-09-09 17:54] pombredanne commented on #3049
IMHO let's wait a bit for this

[2022-09-09 18:10] AyanSinhaMahapatra commented on #2738
There are two options:

 - We have a command line option (I was thinking something like  --get-license-data folder_path) in SCTK to:
Just generate the .json/.yml files used to generate the LicenseDB pages and have validation tests (this way we have the sort of API for license data and other tools like ORT can consume and not read the actual License files)
- Do everything in option 1. plus we actua

[2022-09-12 13:02] hanna-modica commented on #3097
Hi @pombredanne,

we did not try with ScanCode Toolkit 31.x. Seeing the commit you posted I believe, this issue should be fixed by upgrading the ScanCode-Version in ORT.
Thank you for the hint. This ticket can be closed from my perspective.

[2022-09-12 13:02] #3097 closed, assigned to nobody

[2022-09-12 14:41] pombredanne commented on #3097
Thanks for checking!

[2022-09-12 22:10] pombredanne opened #3102 "Track when a package or dependency is private"
## Short Description
Some local packages are "private" and never published in public repositories.
npm has a private flag for instance https://docs.npmjs.com/cli/v6/configuring-npm/package-json#private
We should have a way to track this as these never have a public URL for example.

[2022-09-13 03:51] ekidonatan opened #3103 "Unable to deploy post-scan plugins - unreachable documentation links (404)"
I'm currently working on deploying a postscan plugin as instructed by the ScanCode-Toolkit's [postscan plugin documentation](https://scancode-toolkit.readthedocs.io/en/latest/tutorials/how_to_add_a_post_scan_plugin.html#how-to-add-post-scan-plugin). However, the links provided in the documentation for "Add A Post-Scan Plugin" are unreachable. The `scancode-toolkit/plugins/` directory doesn't exist

[2022-09-13 08:03] AyanSinhaMahapatra commented on #3103
Thanks for the report, we moved out the plugins directory out of the main repository and the documentation needs to be updated.  I will do this right away. Follow these links instead:

https://github.com/nexB/scancode-plugins/tree/main/misc/scancode-ignore-binaries
https://github.com/nexB/plugincode

[2022-09-13 17:31] pombredanne commented on #3103
@AyanSinhaMahapatra while updating the doc, the example could be refreshed too, s=though the code is still valid.
@ekidonatan just curious, what would this plugin be doing? do you plan to make it open source?

[2022-09-13 17:44] ekidonatan commented on #3103
@AyanSinhaMahapatra Thanks for letting me know.
@pombredanne I'm planning on deploying a plugin that would redirect the scancode output into a SQLite DB. I'm probably going to make it open source though I haven't decided on that yet.

[2022-09-14 14:57] Jeeppler commented on #2908
This is related to: #2160

[2022-09-14 15:17] Jeeppler commented on #2908
I am facing the same issue.

OS: Linux (Debian)
Python: 3.9
Scancode version: 30.1.0
Installation: download (container [Dockerfile](https://github.com/mercedes-benz/sechub/blob/develop/sechub-pds-solutions/scancode/docker/ScanCode-Debian.dockerfile) is public)

[Timeout](https://scancode-toolkit.readthedocs.io/en/stable/cli-reference/core-options.html#timeout-option) option set to: `--timeout 1800

[2022-09-14 18:37] pombredanne commented on #2908
@Jeeppler there is a new release of ScanCode and I would like to see if you are also experiencing the issue there. Can you try the latest 31.x?
But there is no application archive for Python 3.9 ... only 3.8 for now.
Let me review your Dockerfile  at https://github.com/mercedes-benz/sechub/blob/develop/sechub-pds-solutions/scancode/docker/ScanCode-Debian.dockerfile

`func(self, timeout=timeout or

[2022-09-15 01:40] chinyeungli opened #3105 "lgpl-2.1 incorrect detected as lgpl-3.0"
This file is incorrected detected as lgpl-3.0.
[code]
The correct license should be lgpl-2.1

[2022-09-15 10:45] StefanOid opened #3106 "'scancode' is not recognized as an internal or external command, on Win 10 and Python 3.9"
Hello,
Apologies if the bug isn't labeled correctly.
I have installed Scancode via pip3. When i run pip3 list it's in the list of packages.
I am using a simple command to run the scanner in the sample folder.
def run_scancode():
        print('starting scan')
        os.system('scancode -l --csv new.csv /samples')
        print('ended scan')

run_scancode();

The error in the console is:
'scancode

[2022-09-15 12:25] nnobelis opened #3107 "Scancode 30.1.0 is broken due to commoncode update"
As explained on the slack channel of ORT (https://ort-talk.slack.com/archives/C9NNJ54B1/p1663241492555069)

We are running Scancode 30.1.0 with a pip installation.
When running Semver4j, we encounter the following exception:

[code]

According to @pombredanne , this is because of an update in commoncode:

[code]

https://github.com/nexB/commoncode/blob/main/CHANGELOG.rst#version-3100---2022-08-24

[2022-09-15 13:39] pombredanne commented on #3107
Thank you! Somehow I vaguely recalled doing something about this not too long ago.  And @mnonnenmacher pointed to https://github.com/oss-review-toolkit/ort/commit/a243bdaa135c47140c5e3585c97d6bb4a89e727e  and https://github.com/oss-review-toolkit/ort/pull/5692

In anycase we need to have a better to dela with this in the future

[2022-09-15 20:02] JoeSzymanski opened #3108 "Unable to configure scancode on a macOS jenkins server"
### Description

When attempting to use scancode on a macOS jenkins server, the configure step fails because of errors attempting to install the scancode wheel.

`WARNING: Requirement 'scancode_toolkit*.whl' looks like a filename, but the file does not exist
ERROR: scancode_toolkit*.whl is not a valid wheel filename.`

From what I can tell, the glob is not being exanded properly. When testing loca

[2022-09-16 13:44] pombredanne commented on #3108
@JoeSzymanski Thanks for the report... can you provide a few more details on how you install scancode?
Which version? Fetched from where? How do you install it? And with which Python version?

[2022-09-16 13:47] JoeSzymanski commented on #3108
We are downloading the packaged macOS version of v31.1.1 (https://github.com/nexB/scancode-toolkit/releases/download/v31.1.1/scancode-toolkit-v31.1.1_py3.8-macos.tar.gz) and unzipping that into a standard directory.

We have the system version of Python installed, though to my knowledge, the packages cancode releases include an internal version of Python so that there aren't issues with the system

[2022-09-16 13:47] pombredanne commented on #3108
We run extra release smoke tests on macOS 12 here https://github.com/nexB/scancode-toolkit/actions/runs/2978733053/jobs/4773993057 for instance and this runs this plain configure .... https://github.com/nexB/scancode-toolkit/blob/develop/etc/release/scancode_release_tests.py

[2022-09-16 13:50] pombredanne commented on #3108
@JoeSzymanski re: https://github.com/nexB/scancode-toolkit/issues/3108#issuecomment-1249387231

Thanks for the details! That's weird. It this something that happens only in the Jenkins server? Would you have by chance another mac to try this not under Jenkins?

[2022-09-16 13:51] pombredanne commented on #3108
we are isolated from the python libraries, but we use the system python for now, not an internal version (yet that's in the plan for the future)

[2022-09-16 14:01] JoeSzymanski commented on #3108
I've tried running the command on my own Mac, and on the same Mac instance used by the jenkins server (via SSH and a terminal instance over Remote Desktop). In all other instances, the commands work correctly. It's only when running the command inside a jenkins job that the commands fail.

That's partly why we tried forcing the command to be run inside a bash shell instance (with `/bin/bash ./conf

[2022-09-16 14:28] pombredanne commented on #3108
@JoeSzymanski OK, what would be the simplest way to try to reproduce this? knowing that I could run something on a mac from Azure or GitHub actions? (Or I can may be fine someones running a mac, I run on Linux otherwise)

[2022-09-16 14:34] JoeSzymanski commented on #3108
Give me some time to think that over. We still aren't sure of the exact cause, and I'm not sure how easily you could find or setup a jenkins server (especially since I'm not sure if this is a Mac specific issue or not).

I'm going to see if a coworker can help test on a non-mac jenkins instance and I will update here once we get time to figure that out.

Barring that, I might see if I can figure o

[2022-09-16 17:45] JoeSzymanski commented on #3108
I've been doing more digging today, and I can't find any specific reason for the failures when running within jenkins.

I was able to dump as much information as I could find around the environment: shell type, env vars, bash options. When comparing between the jenkins job instance and the ssh instance, the only difference I was able to see that I thought would impact this issue was that the jenki

[2022-09-16 21:27] pombredanne commented on #3108
re: macOS is a rather peculiar beast and has specific failure modes ;) AFAIK, Jenkits being mostly Java may add another layer of issues ... I managed to borrow a macBook M1 and another one using Intel for a couple days. Both run macOS 12.x.... if you can provide reproducible instructions to install and setup something that fails consistently that would be great

I also found this: https://support.

[2022-09-16 21:37] bwjohnson-ss opened #3109 "Error: 'ScannedResource' object has no attribute 'holders'"
### Description

Running scancode with `--package` and `--summary` options produces the following error:

[code]

### How To Reproduce

1. scancode --processes 4 --license --package --json-pp ../scancode-output.json --summary --classify .

### System configuration

* What OS are you running on? MacOS
* What version of scancode-toolkit was used to generate the scan file?
* * ScanCode version: 31.1.

[2022-09-16 22:42] JoeSzymanski commented on #3108
I will spend some time next week to see if I can get a stand-alone jenkins instance running locally on my Mac laptop and if I can reproduce the issue. That should help testing here and make it clear whether it’s a wider issue or not.

[2022-09-17 05:29] pombredanne commented on #3108
@JoeSzymanski Thanks! mucho appreciated.

[2022-09-19 12:47] JoeSzymanski commented on #3108
I was able to get this running locally on a jenkins instance and was able to replicate, so this should allow testing of what's going on more widely. Here are replication steps for everything:

- Following instructions from https://phoenixnap.com/kb/install-jenkins-on-mac
- Install Homebrew
- Install Java
  - brew install openjdk@11
  - sudo ln -sfn /opt/homebrew/opt/openjdk@11/libexec/openjdk.jdk

[2022-09-20 10:00] pombredanne opened #3112 "Use libxml2 as a test for the new "license detection""
https://gitlab.gnome.org/GNOME/libxml2/-/archive/v2.7.8/libxml2-v2.7.8.tar.gz is a good test as this is a common library annd it has many files with this notice "See Copyright for the status of this software." matched to https://github.com/nexB/scancode-toolkit/blob/6007301cca4eff424202abf197467ee2f004e139/src/licensedcode/data/rules/unknown-license-reference_30.yml
[code]
This is a file reference

[2022-09-20 10:46] AyanSinhaMahapatra commented on #3112
I tested this, and we successfully resolve these `unknown-license-reference` to `x11-xconsortium-veillard` in all the cases. This is resolved by checking in the root of the scan for the referenced filename.

See results for this one file:

[code]

Also attaching the full scan results for reference:
[libxml-v2.7.8-add-license-detection.json.txt](https://github.com/nexB/scancode-toolkit/files/960661

[2022-09-21 11:49] relikd commented on #2966
Chiming in on this cause I wanted to open a bug report myself.

Normally you would be able to `--ignore "googletest/*"` however scancode does not look relative to the current working directory but relative to the parent directory. So you would need to `--ignore "my-proj/googletest/*"`. Which is a bummer, because now I need to write code for a folder-name I have no control over. Imagine a public li

[2022-09-21 12:09] relikd commented on #2966
It gets weirder. Even though the console output does not show it, if I abort the scan, the output json will include sub-directories of ignored folders. To be clear: something seems to be ignored because the "Collect file inventory" step is much faster compared to scanning all 120k files without the ignore filter. But these files (or at least folders) are still processed somehow without showing any

[2022-09-21 13:43] relikd commented on #2966
It keeps getting better:

This works as expected:
`scancode --include "proj/src/*" .`

This, however, does not:
`scancode --ignore 'src/temp/*' src`

The asterisk (`*`) is expanded and puts the first file of temp into the ignore flag and the remaining files are treated as input. Which is not only utterly wrong but ignores the single quoted string which should prohibit any expansion.

This is even

[2022-09-21 13:50] AyanSinhaMahapatra commented on #3109
@bwjohnson-ss Thanks for the report. I'm working on fixing this, just for reference, can you provide the files/package you were scanning when the error occured (if they are public and can be shared, otherwise ignore this), it'll be easier to test my fix then. Thanks!

[2022-09-22 00:09] bwjohnson-ss commented on #3109
Unfortunately it's proprietary code and can't be shared. Sorry. Let me know if you have trouble reproducing it with something that's open source. Thanks.

[2022-09-22 04:29] aadityasinha-dotcom commented on #3102
Can I work on this issue?

[2022-09-22 07:09] MochonDeVuelta commented on #3016
I have the same problem, when I try to generate a cyconedx or cyclone dx-xml i get the following error message:
ERROR: failed to run output plugin: cyclonedx:
Traceback (most recent call last):
  File "C:scancode-toolkit-v31.1.0\venv\lib\site-packages\scancode\cli.py", line 1077, in run_codebase_plugins
    plugin.process_codebase(codebase, **kwargs)
  File "C:scancode-toolkit-v31.1.0\venv\lib\sit

[2022-09-22 07:30] MochonDeVuelta commented on #3016
I have the same problem, when I try to generate a cyclonedx or cyclonedx-xml I get the following error message:

ERROR: failed to run output plugin: cyclonedx:

Traceback (most recent call last):
File "scancode-toolkit-v31.1.0\venv\lib\site-packages\scancode\cli.py", line 1077, in run_codebase_plugins
plugin.process_codebase(codebase, **kwargs)
File "scancode-toolkit-v31.1.0\venv\lib\site-packages

[2022-09-22 07:33] pombredanne opened #3113 "Usee FFmpeg LICENSE.md as a test for a complex license notice"
Here is the text for the FFmpeg 2.5.3:
[code]

[2022-09-22 10:56] AyanSinhaMahapatra commented on #3109
@bwjohnson-ss Thanks! This was an easy fix, and I could also reproduce the bug and add a test for that.

[2022-09-22 20:01] bwjohnson-ss commented on #36
Are there any docs for what's supported by `<pattern>`? All I found was this:

https://scancode-toolkit.readthedocs.io/en/stable/cli-reference/list-options.html

[2022-09-23 11:54] AyanSinhaMahapatra commented on #36
@bwjohnson-ss see https://scancode-toolkit.readthedocs.io/en/stable/cli-reference/scan-options-pre.html#ignore-option

I should probably link to details from all scan options page.

[2022-09-23 17:04] bwjohnson-ss commented on #36
Yes, that would help immensely. Thank you!

[2022-09-26 11:04] StefanOid commented on #3106
hello?

[2022-09-29 16:24] DennisClark opened #3118 "Improve license detection for project strapi"
The text at https://github.com/strapi/strapi/blob/refs/tags/v4.4.0/LICENSE  provides an interesting challenge for license detection, since it tends to ramble on about exceptions at the beginning before it presents the primary license, mit, for the project.  A recent scan resulted in a declared license value of `unknown-license-reference` which is rather incomplete.  I understand that work is alrea

[2022-10-03 02:38] derrickmehaffy commented on #3118
I just happened to stumble across this, as I work for Strapi, I'm curious if there would be a better way to structure our license to make it easier for you (unless you are really interested in the challenge :sweat_smile: ). We have a bit of a hybrid license structure since only a few sub-directories aren't covered under the normal MIT license.

[2022-10-03 08:32] pombredanne commented on #3118
@derrickmehaffy Hey :) Thank you for chiming in... yes we love ways to make things easier or rather clearer! And since scancode is used in many places and projects that will make also your user's life easier.

... is at best an ambiguous statement of sorts IMHO.

My suggestions:

0. In all cases, you should clearly spell out what is under which license directly in https://github.com/strapi/strapi/

[2022-10-03 13:40] derrickmehaffy commented on #3118
We are largely following it GitLabs footsteps here and due to the way node module distribution works we can't split repos unfortunately.

https://gitlab.com/gitlab-org/gitlab/-/blob/master/LICENSE

[2022-10-03 15:12] pombredanne commented on #3118
Fair enough but these are not the best "footsteps"  and this is pretty bad wrt. being machine readable and unambiguous IMHO.

Think of it this way: ambiguity in licensing could be eventually treated by ScanCode roughly as if it were as a "syntax" or "compilation" error in a programming language.

Check also https://reuse.software for inspiration which essentially what I was suggesting.

[2022-10-03 20:04] AyanSinhaMahapatra commented on #3105
@chinyeungli could you paste the file contents/link the file?

[2022-10-05 14:53] AyanSinhaMahapatra commented on #3109
The fix is now merged and released, closing this.

[2022-10-05 14:53] #3109 closed, assigned to AyanSinhaMahapatra

[2022-10-05 14:54] AyanSinhaMahapatra commented on #3103
This is updated now: https://scancode-toolkit.readthedocs.io/en/stable/tutorials/how_to_add_a_post_scan_plugin.html

[2022-10-05 14:54] #3103 closed, assigned to nobody

[2022-10-05 14:55] AyanSinhaMahapatra commented on #3081
Merged and released, closing this.

[2022-10-05 14:55] #3081 closed, assigned to nobody

[2022-10-05 20:32] mpcen commented on #3107
@nnobelis  any workarounds for this?

[2022-10-06 05:30] nnobelis commented on #3107
@mpcen Please have a look of the recommendations of @pombredanne above on how to solve this:

    The resolution in your case could be:

        use the application archive instead of a pip installation
        use a pip installation using the requirements file from the released version fetched from the git repo as a constraint file to ensure you get the exact same pinned versions as the applicati

[2022-10-06 12:24] Jeeppler commented on #2908
Since Debian 11 comes with Python 3.9 it would be nice to have an archive for Python 3.9 otherwise I would have to install ScanCode via `pip`. Are there any problems installing ScanCode via `pip` rather than the archive?

I would love to help fix the bug, it includes coding something as well.

However, I was unable so far to find public test cases/files to test it with. The files I use, I am not a

[2022-10-06 12:28] Jeeppler commented on #2908
Related to: #2703

[2022-10-06 12:30] Jeeppler commented on #2908
Can I disable the timeout if I set it to `0`? Or does it set the fallback in this case to 3600 seconds?

[2022-10-06 15:34] DennisClark commented on #2897
basically we are talking about applying a category to a license_expression, so that the category of the Exception influences the category of the expression, thus simplifying and improving the review process.

[2022-10-06 15:54] pombredanne opened #3122 "Design how to report a summary of ambiguous license and package detections"
We have some dangling amd biguous clues that are not parts of top level "Packages" or upcoming license "Detection" and similar.
We should have a way to report these at the top level with a new CLI option such that this becomes items that need review

[2022-10-06 23:58] JonoYang commented on #3075
I'm closing the ticket for now as it may be unfeasible to report the specific places where the license ambiguity happens. Scancode has no awareness of the context and cannot determine if one license is more of a problem than another. The best we can do is to say that there is a license ambiguity detected in the key files and to show what licenses were detected.

I think that the idea of pointing o

[2022-10-06 23:58] #3075 closed, assigned to JonoYang

[2022-10-07 11:17] Wirgiliusz opened #3123 "Manually added license with detection rule is not detected"
### Description
I am having trouble with adding my own license and detection rules to ScanCode. I don't know if this is some kind of bug, or I am doing something wrong, so I will describe simple reproducable (at least for me) example that shows my steps and the result.

### How To Reproduce
#### 1. Fake Project structure
Let's consider simple fake project of following structure:
[code]

The `main.

[2022-10-07 11:29] Jeeppler commented on #2908
I was able to reproduce the issue with the [Armbian image of the Jetson Nano](https://www.armbian.com/jetson-nano/):

[code]

The image takes more than an hour to scan and on Debian 11 with Scancode-Toolkit version:  30.1.0. I get the following output:

[code]

I set `--timeout 18000` (5 hours). However, the scan only takes a hour and then I get the `multiprocessing.context.TimeoutError`.

[2022-10-07 15:52] pombredanne commented on #2908
@Jeeppler Thanks for digging further.
https://redirect.armbian.com/jetson-nano/Jammy_current is 350MB of xzipped data is massive. So I guess that we should rather skipp scanning such an image for anything but file information. We can do it just based on the size, with a default and a possible new CLI option?

What should be the default max size above which it does not make sense to attempt scannin

[2022-10-07 15:53] pombredanne commented on #2908
(FWIW, the uncompressed disk image above is 1.7GB ;) )

[2022-10-07 15:54] pombredanne commented on #2908
you can but that may make all fail. You can make it super short as 0.001 second if you want

[2022-10-07 16:08] Jeeppler commented on #2908
No, no skipping of the file. The requirement is to scan files in that size or bigger for license information. It takes hours, but Scancode can find license information in files of that size.

In case, you have more questions about the use case you can reach me via email using the email address located in this file: https://github.com/mercedes-benz/sechub/blob/develop/MAINTAINERS.md

[2022-10-07 16:24] Jeeppler commented on #2908
The problem is, that even if I set the `--timeout` above `3600` I get the `multiprocessing.context.TimeoutError` after exactly one hour (3600 seconds = 1 hour). My expectation, would be that `--timeout 18000` will increase the timeout duration to 5 hours and the scan might work.

I encountered the problem under Linux. It apparently works under Windows.

[2022-10-07 16:29] AyanSinhaMahapatra commented on #3123
Whenever scancode runs for the first time, it indexes the licenses and if a new license is added, we must run  `scancode --reindex-licenses` like [here](https://scancode-toolkit.readthedocs.io/en/stable/cli-reference/core-options.html#reindex-licenses-option) to make sure we reindex from the licenses data, and this also verifies that the licenses/rules are consistent and usable.

We also had a [GS

[2022-10-07 20:13] Jeeppler commented on #2908
I ran the test again with the new version of `scancode` under Ubuntu 22.04 (Mint 21).

Setup:

[code]

I installed `scancode` via `pip`.

[code]

Scancode was running 60 minutes, before raising the `multiprocessing.context.TimeoutError`. However, I specified a timeout of `--timeout 3800`, therefore `scancode` should have ran for 63 minutes.

[2022-10-07 20:40] pombredanne commented on #2908
@Jeeppler Thanks.... clearly we need to revisit the timeout story! Thank you for all these efforts.

[2022-10-07 20:42] pombredanne commented on #2908
@Jeeppler BTW https://github.com/mercedes-benz/sechub looks awesome!
You may find https://github.com/nexb/vulnerablecode and https://github.com/nexB/vulnerablecode/pull/801 of some interest.

[2022-10-09 22:39] chinyeungli commented on #3105
ouch.. sorry as I lost the file. I will re-enter the ticket when I see it again. my bad.

[2022-10-09 22:39] #3105 closed, assigned to nobody

[2022-10-10 07:44] pombredanne commented on #2908
@Jeeppler

OK. Let's have a issue to track this. Do you mind to enter one? This should be easy enough now that we automated the whole release build. An alternative could be an appimage of sorts. See also #2836

This should work fine and is tested on each build using the latest version of all deps with https://github.com/nexB/scancode-toolkit/blob/ded56e9120f5fdfb9a1a0309130bb4305a66aacb/azure-pipe

[2022-10-11 08:10] darcyfdu commented on #608
你好。darcy已经收到你的邮件，谢谢！

[2022-10-11 13:57] Jeeppler commented on #2836
An AppImage for Linux Desktop users is a good idea. Download it and run it.

However, the drawback is that one has to download the app and run it, like on Windows. Meaning, there is no repository which one can just search and install Scancode from. There is also no possibility to get updates automatically.

To support a variety of use cases it would be best to package Scancode for Debian, Alpine,

[2022-10-11 14:09] Jeeppler opened #3124 "Package released application archives for Python 3.9, 3.10 and 3.11 and not only 3.8"
## Short Description

Debian 11 comes with Python 3.9 packaged. Meaning, `apt install python3` will install Python 3.9. At the time of writing there is no other Python version supported, therefore a Python 3.9 archive package should be provided to be able to easily install Scancode on Debian 11. Debian 11 is the current stable version of Debian.

## Possible Labels

- Python3
- new feature

## Sel

[2022-10-11 14:17] Jeeppler commented on #2908
@pombredanne

Thanks for explaining what the difference between the package archive and the `pip` installation is. I did not know about the `--constraint` flag, that is interesting.

Furthermore:

- I created an issue for the Python 3.9 package archive: #3124
- A while back I created one for Python 3.10 as well: #2956

[2022-10-12 11:34] sschuberth commented on #2813
Has this been actually fixed?

[2022-10-12 12:40] pombredanne opened #3125 "Tag package-specific licenses"
Some licenses text or license notices are sometimes uniquely associated with specific package version(s).
We should tag such package-specific licenses and notices with Package URL(s) and use this as an extra origin clue

[2022-10-12 15:16] pombredanne commented on #2727
This could also apply to copyrights

[2022-10-12 16:42] pombredanne commented on #2813
@sschuberth yes, in https://github.com/nexB/scancode-toolkit/commit/4ddc97484247ee895ae652dee716f15b782bc37b and in all versions since v31.0.0 ... and we have a check to ensure this does not happen again

[2022-10-12 16:42] #2813 closed, assigned to nobody

[2022-10-12 18:06] Wirgiliusz commented on #3123
Indeed the `scancode --reindex-licenses` did fix the issue. Thank you for the help.

[2022-10-12 18:06] #3123 closed, assigned to nobody

[2022-10-13 01:13] pabs3 commented on #2727
What kind of copyright checks could be done? Maybe these:

 * copyright-year-missing
 * copyright-year-before-copyright-law
 * copyright-year-in-the-future

--
bye,
pabs

https://bonedaddy.net/pabs3/

[2022-10-13 18:49] JoeSzymanski commented on #3108
@pombredanne Any updates here? We've been blocked on usage of this tool because of this bug.

[2022-10-13 21:21] AyanSinhaMahapatra commented on #2965
See the old issue #1379, where this was originally tracked btw.

[2022-10-17 20:01] bwjohnson-ss opened #3126 "consolidate option should be marked as deprecated in the docs"
### Description

It looks like the consolidate option is on the path to deprecation, but the docs don't mention that fact.

[code]

### Link to Documentation Page

https://scancode-toolkit.readthedocs.io/en/stable/cli-reference/list-options.html#all-post-scan-options

### Select Category

-  [x] Inconsistency
-  [ ] New Section Request
-  [ ] General Improvement
-  [ ] Typo/Mistakes
-  [ ] Other

[2022-10-18 17:18] AyanSinhaMahapatra commented on #2965
This is fixed now in #2961 @DennisClark

[2022-10-18 17:21] AyanSinhaMahapatra commented on #1379
This is now fixed in the PR #2961

[2022-10-18 19:17] JoeSzymanski commented on #3108
Just as a confirmation, the issue still exists in the recently release v31.2.1

[2022-10-19 10:30] AyanSinhaMahapatra commented on #3125
@pombredanne could you provide some examples? Thanks!

[2022-10-19 14:38] pepper-jk opened #3128 "GPL-2.0-only detected in GPL-2.0-or-later"
### Background

I am currently working on copyleft license compatibility rules for [ORT](https://github.com/oss-review-toolkit/ort). For this I created a [test repository](https://github.com/pepper-jk/compatibility_test) containing `GPL-2.0-or-later` and `GPL-3.0` (later I added some CC licenses as well, but those are not relevant to the issue). Both license texts were copied from [spdx.org](https

[2022-10-19 15:35] sschuberth commented on #1566
This is still an issue with ScanCode 31.2.1. The [Copyright (C) 2011 Felix Geisendörfer](https://github.com/node-formidable/formidable/blob/7e07387c295cbd19f563a99bd91cadd0e18e406b/LICENSE#L1) appears as

      "copyrights": [
        {
          "copyright": "Copyright (c) 2011 Felix Geisendorfer",
          "start_line": 1,
          "end_line": 1
        }
      ],

in the result. This is probl

[2022-10-20 08:36] pombredanne commented on #1566
@sschuberth We still have not addressed this ... I have made some tests in the past in https://github.com/nexB/scancode-toolkit/commit/d35e308d0137630be2a1d349c4a10341d1d886ec but there were too many induced issues to complete this.

An alternative could be an "oe" and "ae" transliteration for German... do you think this could work out (I am not saying this could be simpler, btw)? ... but then, th

[2022-10-20 09:04] sschuberth commented on #1566
No, I don't think so, because "oe" is not really equivalent to "ö" in German language. It's just a "work-around" if you *have* to stick to ASCII characters, but strictly (like, legally) speaking e.g. "Möller", "Moeller" and "Moller" are all different (and valid) family names.

[2022-10-20 09:06] sschuberth commented on #1566
As a follow-up question: In

      "copyright": "Copyright (c) 2011 Felix Geisendorfer",
      "start_line": 1,
      "end_line": 1

is "copyright" always a *full* line match? Because if so, we could probably do some hacky post-processing that goes over all copyright findings and re-extracts the lines from the real files to get the original string.

[2022-10-20 09:45] pombredanne commented on #1566
re: https://github.com/nexB/scancode-toolkit/issues/1566#issuecomment-1285190832

No, there are cases where a statement spans multiple lines and many cases where what is before and after a copyright statement is not part of the copyright at all. That being said, we could find way to get back to the original unprocessed text but the difficulty is that words and letters do not align one for one betw

[2022-10-20 14:19] pombredanne opened #3129 "incorrect gem version"
We get `pkg:gem/elasticsearch-api@Elasticsearch::API::VERSION` and
`pkg:gem/elasticsearch-api@Elasticsearch::API::VERSION?uuid=5e6ab586-9674-4f11-b9cb-75f384d8594b`  when parsing a gemspec. See https://github.com/elastic/elasticsearch-ruby/blob/f745eddd3b4332cf365c5df53f482a86a05ae96b/elasticsearch-api/elasticsearch-api.gemspec#L25
We may be able to recover from this.

[2022-10-20 14:32] pombredanne commented on #3129
See also:
- excon  https://github.com/excon/excon/blob/17ed91945ea07d781a984a31411d6adf814bf53e/excon.gemspec#L2
- faraday  https://github.com/lostisland/faraday/blob/36916f07596f6e1ab71b688be56e5e087a1372df/faraday.gemspec

[2022-10-20 14:47] pombredanne commented on #3128
@pepper-jk Hey! Thank for chiming in!

This is not a bug ... you have take a truncated version of the GPL text from SPDX that is known for modifying these texts.

You further truncated the GPL-2.0 by stripping this at the end "This General Public License does not permit incorporating your program into proprietary programs. If your program is a subroutine library, you may consider it more useful to

[2022-10-20 14:51] pombredanne commented on #3128
@pepper-jk re:

I am not sure what you are trying to achieve and it looks definitely interesting, (I would like to hear more, please elaborate) but trying to make fake license texts/notice is not going to help IMHO. You should also check out @hesa https://github.com/vinland-technology/flict that may be vaguely related.

[2022-10-20 17:22] chrish42 opened #3130 "No documentation on calling ScanCode as a library"
### Description

The ScanCode documentation mentions that it is possible to use it as a Python library, which is great when you want to use it from a Python script. It includes instructions to install it as a library: https://scancode-toolkit.readthedocs.io/en/stable/getting-started/install.html#installation-as-a-library-via-pip However, after that, there is zero documentation available on how to

[2022-10-20 17:33] pombredanne commented on #3130
@chrish42 Thanks... guilty as charged!

Until we get there:
- https://github.com/nexB/scancode.io/blob/main/scanpipe/pipes/scancode.py can provide some directions as an example of using the code as a library.
- If you wander in these territories, collecting your travel notes and dropping these  in a PR would be much appreciated.
- Please ask questions: what are you trying to achieve? any fancy thi

[2022-10-20 17:35] jens-erdmann commented on #3128
Lets not boost his ego too much. It might cause negative effects on his surroundings.

IMHO the scoring is a bit misleading in this example. Seeing a 100.0 score for only parts of the actual license is a bit misleading.
I am aware that the test data might be flawed and therefore the issue a bit theoretical but this result had me worry a bit.

Shouldn't it affect the score if only a part of the lic

[2022-10-20 18:13] pepper-jk commented on #3128
Thanks for letting me know. I was unaware that the website, providing the (open source) license identifiers used by a lot of license validation tools, was modifying the license texts. That seems counter productive, if you ask me. (I could confirm it though.)

If I was to add a license to a real project, I would have gone for the original source obviously. But since this was just a test, I hurried

[2022-10-21 07:30] pombredanne opened #3131 "Add ScanCode version + headers to the scan summary displayed on screen"
Add ScanCode version + headers to the scan summary displayed on screen, otherwise if the scan fails we cannot tell what options/versions where used

[2022-10-21 07:56] pombredanne commented on #3126
Thanks!

[2022-10-22 18:17] armijnhemel opened #3132 "OFRAK community license"
### Description

Following license (which is not open source) seems to be missing:

https://github.com/redballoonsecurity/ofrak/blob/master/LICENSE

[2022-10-24 07:51] tdruez opened #3133 "mpl-2.0 detected as apache-2.0"
### Description

The following line:
[code]
is  detected as `apache-2.0`

### How To Reproduce

Using ScanCode version: 31.2.1

Using the file [METADATA.txt](https://github.com/nexB/scancode-toolkit/files/9849766/METADATA.txt) as input (extracted from https://files.pythonhosted.org/packages/63/82/2179fdc39bc1bb43296f638ae1dfe2581ec2617b4e87c28b0d23d44b997f/pathspec-0.10.1-py3-none-any.whl)

[code]

[2022-10-24 08:26] pombredanne commented on #3128
No worries, I never considered this report of yours to be a problem or unfair!

Yes, that's a good option, though there again, even the FSF --that otherwise demanded a "verbatim" reproduction of the GPL text -- has published several different minor versions of the GPL-2.0 text of the years making eventually the word verbatim somewhat not as clear. See https://github.com/pombredanne/gpl-history/

A

[2022-10-24 13:30] pepper-jk commented on #3128
After adjusting the `gpl-2.0-or-later` file as instructed, see commit above, I indeed get different score values:

[code]

So with ORT (old scancode) I get a `98.99` score for `gpl-2.0-only` and with the current scancode I get `99.0`, see json below.

I think, this is still cutting it pretty close. The threshold to catch this problem would be `99.01`. With this threshold we would most likely miss

[2022-10-24 17:34] pombredanne commented on #3128
@pepper-jk you may want to use this command for reviewing license scan details: `scancode --license --license-text --license-text-diagnostics --yaml - <path to some file>` which is what I use to review finely matches. The words not matched with be enclosed in square brackets in the matched text.

As for the report you just made, you need to provide the actual text you used as otherwise, there is n

[2022-10-24 23:41] pepper-jk commented on #3128
I updated the test in the repository I provided, as can be seen above in this issue. But here is the commit: https://github.com/pepper-jk/compatibility_test/commit/efda93ad073628450e5e889160aa0cc970d13b13
I removed the gnu instructions after "END OF TERMS AND CONDITIONS" and moved the `or-later` to the top, as per your instructions. There should be no difference to the GPL now.

I feel like we are

[2022-10-25 00:24] NickHastings opened #3134 "Failure of consolidate plugin"
### Description

Running scancode with consolidate plugin failed on zig source tree.

### How To Reproduce
[code]
### System configuration

* OS: Debian 11
* Installation method: `python3 -m pip install --user scancode-toolkit`
* Scancode version:
[code]

[2022-10-25 06:04] pombredanne commented on #3134
@NickHastings Thanks!
@JonoYang ping

[2022-10-25 14:14] pepper-jk commented on #3128
The output of `scancode --license --license-text --license-text-diagnostics --yaml gpl-2.0-or-later_diagnostics.yml license-gpl-2.0-or-later.txt`:

<details>
<summary>yaml</summary>

[code]

</details>

[2022-10-26 08:46] pombredanne commented on #3128
If you removed part of the text that's a difference alright, and the score that will be returned will be only partial unless there is a rule for this text variant. As a side note the GPL states that this is a violation of the GPL to truncate or remove parts of the GPL text ;) .

I had not noticed until now that pyinstaller's [GPL text](https://github.com/pyinstaller/pyinstaller/blob/3b07670f6bb9c6

[2022-10-26 08:49] pombredanne commented on #3128
Just to clarify that since this is not ambiguous we report a high score when matched.
But  since this is a truncated text, this is not considered as a proper GPL full text, but only tagged as a notice in https://github.com/nexB/scancode-toolkit/blob/ded56e9120f5fdfb9a1a0309130bb4305a66aacb/src/licensedcode/data/rules/gpl-2.0_247.yml#L2

[2022-10-26 13:15] tdruez opened #3136 "Poor Scan results quality on Python wheel (.whl) distributions"
### Description

While the quality on the source distribution is great, we could do better on the wheel distributions:

- Scanning the source distribution [license-expression-30.0.0.tar.gz](https://files.pythonhosted.org/packages/80/ad/9b3614c4630f3a1c0d5d7e5f6cfa8e90850186864e1181e86a65150d983f/license-expression-30.0.0.tar.gz)

[code]

- Scanning the wheel [license_expression-30.0.0-py3-none-any

[2022-10-27 01:09] JonoYang commented on #3134
@NickHastings Thanks for the report! I'm able to reproduce this error on my end. From an immediate glance, it looks like we're slipping a dictionary into a list of `Text()` objects. I'll have to dig more to see where/how that's happening. Interestingly, I do not encounter this error when I scan something else, like https://codeload.github.com/rust-lang/libc/tar.gz/refs/tags/0.2.121

[2022-10-27 05:12] tdruez commented on #3136
See also https://github.com/nexB/scancode.io/issues/512 on the ScanCode.io side.

[2022-10-27 11:33] pepper-jk commented on #3128
Ok, so it just diffs against all (appropriate/possible) licenses? One by one?

I am aware.

So my question was/is. For `gpl-2.0-or-later` detection, does scancode diff only against the `or-later-notice` or against the notice plus the full GPL 2.0 text? I would expect the later.

Further would I expect it to diff the whole license text against both `gpl-2.0-or-later` and then against `gpl-2.0-only`

[2022-10-27 12:12] pepper-jk commented on #3128
Ok, in case of truncated texts, we can still have a high score, but the finding is marked as a `notice` not a `license` somewhere in the report? This is valuable information and should be utilized by ORT and other users.

Ok, I readded the "how to apply" section from gnu.org: https://github.com/pepper-jk/compatibility_test/commit/3474dd876b1c4ce77f6b3044b1f37639f3922d61

And I indeed get different

[2022-10-27 21:20] pombredanne commented on #3128
In pepper-jk/compatibility_test@3474dd8 , you now mixed parts of the LGPL 2.0 https://www.gnu.org/licenses/old-licenses/lgpl-2.0.txt bottom from this lines range  https://gist.github.com/pombredanne/95ecbb5118e3bec8db343a0080947037#file-lgpl-2-0-txt-L439-file-lgpl-2-0-txt-L481 with a top of the GPL 2.0 from this lines range https://gist.github.com/pombredanne/bd3ce201c53fa895f108ea4ee45dfb18#file-

[2022-10-27 21:50] pepper-jk commented on #3128
Oh. Thanks. I must have clicked on the wrong license, when retrieving this. I must admit, that I did this in haste today. Sorry about that mistake.

I have removed the LGPL license text. And to make sure the rest of the GPL is not "made up", I have replaced the whole license with the license found here: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
https://github.com/pepper-jk/compatibili

[2022-10-27 22:03] pepper-jk commented on #3128
Before I could attempt writing a PR, I would need to know the answer to the questions I voiced above: https://github.com/nexB/scancode-toolkit/issues/3128#issuecomment-1293391487

I do not see the point in looking for a real world project. I have already shown (https://github.com/nexB/scancode-toolkit/issues/3128#issuecomment-1290628012) that the `pyinstaller` GPL produced the same result, as this

[2022-10-28 06:17] pombredanne commented on #3128
@pepper-jk @jens-erdmann if you are interested to learn how the license matching process works please see https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/README.rst
There are also major reworks under way in https://github.com/nexB/scancode-toolkit/pull/2961 described in https://github.com/nexB/scancode-toolkit/issues/2878

@pepper-jk re:

I am at loss to help there.  We do n

[2022-10-28 08:52] pepper-jk commented on #3128
I do not understand what you assume the "observed practice" is, asides from the practice you described as "putting the or-later notice in the front" and "not truncating the license" (one of which we already observed in the wild).

1. I used the license text from spdx, which is a will known source and I assumed you matched against. The license was out of order und truncated. **[synthetic]**
2. Then

[2022-10-28 15:13] pombredanne opened #3137 "Refactor License indexing"
We should simplify indexing and caching by using a list of license directories be they builtin,  "additional" or plugin-contributed.

See https://github.com/nexB/scancode-toolkit/pull/2979#pullrequestreview-1150782261

[2022-10-28 15:35] #3126 closed, assigned to nobody

[2022-11-01 11:32] pombredanne commented on #3125
For instance the openssl license typically implies that the package using this license is likely openssl
There are cases where the openssl is used by other non-openssl packages, so this is not an absolute rule, but this is is a decent clue.

The same applies to several package-specific licenses such as zlib (though this may only be the case for some zlib-specific rules, rather than the license at

[2022-11-01 15:21] pepper-jk commented on #3128
@pombredanne I'd like to apologize for my behavior last week. I grew frustrated while looking into the issue. But I should not have let that influence the discussion. I'll try to do better in the future.

Could you let me know if the evidence I provided [above](https://github.com/nexB/scancode-toolkit/issues/3128#issuecomment-1294719865) is sufficient to submit a pull request?

In case it is not,

[2022-11-01 17:39] AyanSinhaMahapatra opened #3138 "Update license scripts for yaml frontmatter"
Update scripts in https://github.com/nexB/scancode-toolkit/tree/develop/etc/scripts/licenses to work with the updates made in https://github.com/nexB/scancode-toolkit/pull/3100

[2022-11-01 17:50] AyanSinhaMahapatra commented on #2427
@pombredanne can we revisit this now that https://github.com/nexB/scancode-toolkit/pull/3100 has landed on develop?

[2022-11-02 08:54] Jeeppler commented on #2908
I did another test with the Armbian image: `Armbian_22.08.1_Jetson-nano_jammy_current_5.18.19.img`. What I observed was that, first the `scancode` process has a [`waiting channel` of `0`](https://askubuntu.com/questions/19442/what-is-the-waiting-channel-of-a-process), meaning it is running. The CPU usage is very high. One core will be at 100% of utilization. Indicating to me: `scancode` does it's

[2022-11-02 21:51] pombredanne commented on #3128
@pepper-jk Thanks! but no worries, I am cool!
Your approach seems sensible. Please submit the PR and I can best comment it there.

[2022-11-08 16:02] Jeeppler commented on #2908
I see the same pattern with a 64 GB machine.

Is there are way to profile/investigate it?

[2022-11-08 16:30] bwjohnson-ss opened #3139 "Scancode output doesn't populate correct files.for_packages values"
### Description

I've got a js project called omni, that I've pulled my deps into node_modules and the values for all the `files.for_pacakges` is "pkg:npm/omni?uuid=b37e5fd3-599d-4287-a8e3-fd04ce2aa0d0", instead of the values I'd expect that match the values in `dependencies`.

### How To Reproduce

The project I'm working on is proprietary. Do you have any open/public js test projects that you co

[2022-11-08 23:43] chinyeungli opened #3140 "The `--csv` output does not work with the `--dwarf` option/plugin"
### Description

I use the `--dwarf` option/plugin in with `--csv` output, but the output only contains 3 columns which are `path`, `type` and `scan_errors`. It does not contains any `dwarf` information. However, the `--yaml` and `--json` output work fine.

### How To Reproduce

[code]

[2022-11-10 11:12] heliocastro opened #3141 "scancode can't be installed on arm64 through pip due invalid requirements"
### Description
Attempt to install scancode-toolkit on arm64 platform using PIP lead to a invalid chek of requirements, and breaking the instalation.
At a moment during dependency resolution without pinned version, system try to install intbitset < 3.0.0 with forced core2 architechture, breaking binding wheel compilation.
With pinned version, error point out to extractcode conflicts

# Tested vers

[2022-11-10 12:22] pombredanne commented on #3141
@heliocastro Thanks for the report... do you know a way to get some VM on linux with ARM to help review this?
And some ARM CI/CD to tests?

And also this should be working at least on Apple M1 with Rosetta with SCTK https://github.com/nexB/scancode-toolkit/releases/tag/v31.2.1

As for getting it to work on Linux ARM and Apple M1 natively, this would require to build a certain number of packages wi

[2022-11-10 13:37] heliocastro commented on #3141
It possible on github actions, somehow slow because qemu, but somthing like this:
https://github.com/scivision/github-actions-arm64/blob/main/.github/workflows/arm64.yml

[2022-11-10 13:56] heliocastro commented on #3141
A quick evaluation:
* Need to be compiled ( not exists on pip )
   * extractcode-7z==16.5.210531 (incluing 7z/p7zip)
   * extractcode-libarchive==3.5.1.210531 (including libarchive)
   * typecode-libmagic==5.39.210531 (including libmagic)
   * packagedcode-msitools==0.101.210706

* Doesn't proper compile:
   * rpm-inspector-rpm==4.16.1.3.210404

The rest are already ok on arm64

[2022-11-10 14:52] pombredanne commented on #3139
You can create a test public repo with a simple package.json and run npm install (or yarn?) ... that would be enough

[2022-11-10 14:52] pombredanne commented on #3139
Normally we should report `node_modules` separately, so you have likely hit a snag

[2022-11-11 16:54] pombredanne commented on #2404
For reference the current develop branch gets these license_expressions:
- apache-2.0
- unknown-license-reference
- apache-2.0
- apache-2.0
- apache-2.0
- bsd-new

in [develop.yml.txt](https://github.com/nexB/scancode-toolkit/files/9992104/develop.yml.txt)

and the upcoming add-license-detection branch get this expression:
- apache-2.0 AND bsd-new

in [add-detection-branch.yml.txt](https://github.

[2022-11-11 16:55] pombredanne commented on #2404
actually this is fairly small and straight forward.

[2022-11-14 08:23] nnobelis opened #3143 "Question: dealing with timeouts during the scan"
I run Scancode within ORT on a big repository (+ 3.5 GB) containing .json test data (a lot a big files).

Scan crashes with a timeout:
[code]
Is this occurring because of the `--timeout 300` parameter I specified ?
I know the clean solution would be to use `--ignore` parameter but is there another way to alleviate this error ?

Also the memory usage goes through the roof so I tried to see if ` --m

[2022-11-14 11:06] AyanSinhaMahapatra commented on #3043
I was looking into https://www.python-excel.org/ for what we can use to implement this:

https://foss.heptapod.net/openpyxl/openpyxl/ has `pandas` in it's [requirements](https://foss.heptapod.net/openpyxl/openpyxl/-/blob/branch/3.0/requirements.txt#L6) so probably not something we can use.

Others are libraries that only use the standard library, no other requirements:

https://github.com/jmcnamar

[2022-11-14 11:35] pombredanne commented on #3043
@Ayan Sinha Mahapatra IMHO just reuse what is used in SCIO
See https://github.com/nexB/thirdparty-packages/blob/main/pypi/XlsxWriter-3.0.3.tar.gz.ABOUT
See https://github.com/nexB/scancode.io/blob/c4523ea0ab5d19d5dd22a5b5af785bac05be583c/scanpipe/views.py#L339

[2022-11-15 08:56] NaveenTSW opened #3144 "Install scancode resulting in ERROR: Could not build wheels for intbitset, which is required to install pyproject.toml-based projects"
### Description

Error when installing scancode-toolkit
error: legacy-install-failure
 Encountered error while trying to install package.
╰─> intbitset

Tried adding explicit wheel installation " pip install scancode-toolkit --use-pep517" this also complains about intbitset
### How To Reproduce

Using below commands in github action to install scancode-toolkit results in error, could not build whe

[2022-11-15 09:01] pombredanne commented on #3144
@NaveenTSW  Thanks for the report!

Can you tell which exact Linux distro, processor architecture and Python version you use?

And also: did you follow the installation instructions, in particular the pre-requisite at https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html#install-prerequisites ?

Note that if you do a pip installation you may need a compiler toolchain and t

[2022-11-15 09:46] NaveenTSW commented on #3144
@pombredanne Thanks for the quick response

Linux distro - Ubuntu
 20.04.5 LTS
Python version - 3.x, using github action and can see setup CPython (3.11.0) successfull

have been using only below commands as part of the github actions, from past 6+ months it was working all fine and started erroring out from 2nd November 2022.

 python -m pip install --upgrade pip
 pip install scancode-toolkit

[2022-11-15 09:54] tdruez commented on #3144
@NaveenTSW `intbitset` is not yet supported on Python 3.11, see https://github.com/inveniosoftware/intbitset/issues/81

[2022-11-15 14:18] pombredanne commented on #3144
ok, I maintain intbitset too, so let me see what we can do there.

[2022-11-16 09:15] AyanSinhaMahapatra commented on #2942
@camillem please do thanks! Sorry for the late reply.

[2022-11-16 10:13] armijnhemel opened #3145 "compiledcode: java class strings are not utf-8 but mutf-8"
### Description

The parser for Java byte code is incorrect: it treats strings (incl method names, class names, and so on) as UTF-8, but according to the Java class specification these are MUTF-8:

<https://docs.oracle.com/javase/specs/jvms/se12/html/jvms-4.html#jvms-4.4.7>

While for *most* strings they are interchangeable it will be different once you start getting non-Western strings (example:

[2022-11-16 10:28] pombredanne commented on #3145
@armijnhemel Thanks.. @TkTech 's code is awesome. I have been using Jawa elsewhere (now https://github.com/TkTech/Lawu ) and we should like switch to using this exclusively and contribute upstream and fixes.

[2022-11-16 10:34] pombredanne commented on #3145
IMHO Lawu would best replace this https://github.com/nexB/scancode-plugins/blob/main/binary-analysis/scancode-compiledcode/src/compiledcode/javaclass/javaclass.py which does not even support the most recent updates to the Java class file format

[2022-11-16 14:14] AyanSinhaMahapatra commented on #2551
This is fixed in the current develop, attaching scan results for CocoaLumberjack.

[cocoalumberjack-ld-2551.json.txt](https://github.com/nexB/scancode-toolkit/files/10022499/cocoalumberjack-ld-2551.json.txt)

[2022-11-16 14:14] #2551 closed, assigned to nobody

[2022-11-16 14:14] AyanSinhaMahapatra commented on #2566
Closing as this is completed and LicenseDB issue is tracked seperately here : https://github.com/nexB/scancode-licensedb/issues/3

[2022-11-16 14:14] #2566 closed, assigned to AyanSinhaMahapatra

[2022-11-16 15:18] AyanSinhaMahapatra commented on #2581
This is fixed in develop, closing.

Also attaching license results:
[code]

[2022-11-16 15:18] #2581 closed, assigned to nobody

[2022-11-16 15:20] AyanSinhaMahapatra commented on #2580
This is fixed in latest develop, see results below:

[code]

[2022-11-16 15:20] #2580 closed, assigned to nobody

[2022-11-16 15:33] AyanSinhaMahapatra commented on #2639
This is fixed in develop, as we parse all package extracted_license_statements in a similar fashion where they can be anything: string, list, mappings or some composite forms.

[2022-11-16 15:33] #2639 closed, assigned to nobody

[2022-11-16 15:38] AyanSinhaMahapatra commented on #2614
@JonoYang is this fixed in the commits referenced above? can you confirm?

[2022-11-16 15:38] #2614 closed, assigned to JonoYang

[2022-11-16 15:47] AyanSinhaMahapatra commented on #2605
This is fixed in the develop now and https://github.com/nexB/scancode-toolkit/issues/2637 is also closed, attaching scan results:
[2605-kiwi.json.txt](https://github.com/nexB/scancode-toolkit/files/10023351/2605-kiwi.json.txt)

[2022-11-16 15:47] #2605 closed, assigned to nobody

[2022-11-16 16:00] AyanSinhaMahapatra commented on #2604
This is fixed in develop, see result:

[code]

Also added some rules for other detections in this notice.

[2022-11-16 16:00] #2604 closed, assigned to nobody

[2022-11-16 16:01] AyanSinhaMahapatra commented on #2603
This is fixed in develop:

[code]

[2022-11-16 16:01] #2603 closed, assigned to nobody

[2022-11-16 16:12] AyanSinhaMahapatra commented on #2640
This is fixed in develop, with the new package detection in v31, closing.

[2022-11-16 16:12] #2640 closed, assigned to nobody

[2022-11-16 16:26] AyanSinhaMahapatra commented on #2738
This is in develop now, and will be released in a release-candidate soon, @fviernau can you try it out. More details in the PR linked above ^ .

[2022-11-16 16:33] AyanSinhaMahapatra commented on #2732
This is fixed in the package detection update in v31.x, closing.

[2022-11-16 16:33] #2732 closed, assigned to nobody

[2022-11-16 16:51] AyanSinhaMahapatra commented on #2803
@rnjudge the license detection updates and attribute name changes are in develop now, and soon will be released in a release candidate for v32.x.

See [changelog](https://github.com/nexB/scancode-toolkit/blob/develop/CHANGELOG.rst#v3200-next-roadmap) and this [doc page](https://scancode-toolkit.readthedocs.io/en/latest/explanations/license-detection-reference.html) for some context and details.

[2022-11-16 18:27] DennisClark commented on #3086
The text of the license at https://www.qt.io/terms-conditions/  should be added to the scancode licensedb with
key = qt-commercial-agreement-4.4.1
both name and short name = Qt License Agreement v4.4.1
SPDX identifier = LicenseRef-scancode-qt-commercial-agreement-4.4.1

and the notice text provided in this issue should be used as a detection rule to identify this license.

[2022-11-16 18:46] TkTech commented on #3145
If you run into bugs with mutf8, just let me know. Happy to debug.

For Lawu, I strongly suggest keeping what you have for a couple of weeks, as there's going to be a major version bump and major breaking changes as the long time develop branch becomes master.

[2022-11-16 18:50] DennisClark commented on #3038
Most of these items are not really software "licenses" but Contributor License Agreements (CLA's) that describe the allowed or required licensing that any contributor should assign to a code contribution.  There are two items in the list that are not CLA's but rather proper licenses:

dgraph-cla | Dgraph Community License Agreement
is a "Source-available" license (note that this category is not op

[2022-11-16 21:56] fviernau opened #3147 "Extend license data model to tell which licenses IDs represent a CLA"
Contributor License Agreements (CLAs) seem fundamentally different from licenses which apply to the use of open source.
The likelyhood that also the handling in context of policy automation differs seems high.

So, it would make sense to have a way to tell which licenses do represent a CLA. This could be done by either of

1. Introducing a dedicated category and assigning CLAs (only) to that categ

[2022-11-16 22:21] DennisClark commented on #3147
@fviernau   thanks very much for your observations.  I am generally very reluctant to introduce a new license category, but the CLA case is so obviously different that it might be the best approach, and would potentially provide corresponding benefits for clarity and reporting purposes. I will discuss this further with my colleagues.  This approach should of course help us with resolving Issue #30

[2022-11-17 12:02] pombredanne opened #3148 "Do not skip image files"
Several formats contains some textual metadata, exit, etc.
Some are licenses.
For instance:
[code]

This should be optional as this can be super noisy otherwise.

[2022-11-17 13:50] pombredanne opened #3149 "Add odd licenses"
If not common enough, we can track these as rules for now:
- https://github.com/wormyrocks/SafariSearchFocuser/blob/eb7bdb463ae39b39b11f55597c85208f3a9cdc5e/LICENSE.md#L1
- https://github.com/tarakiyee/ABAB-License
- https://github.com/Zuph/ACAB-License/blob/master/LICENSE.md/LICENSE.md
- https://wiki.p2pfoundation.net/Peer_Production_License
- https://github.com/mistress-of-loft-and-spire/mutant-

[2022-11-17 15:37] AyanSinhaMahapatra commented on #3122
The following design is proposed:

[code]

This will be a codebase level attribute `review` which will be added on using the `--review` CLI option with scancode-toolkit.

The following cases are examples of reviewable detections:

licenses:

- extra words
- false positive
- license clues
- undetected license (in packages)
- unknown license

packages:

- purl could not be created (and also not a lo

[2022-11-17 15:58] pombredanne commented on #3143
@nnobelis Thank for the report. `--max-in-memory -1` prevents data to be kept in memory during the scan, but not at the last step when writing the scan results.

We discussed this on Monday... the overall scancode process is roughly this:
- collect the list of files to scan
- for each file run in a separate process the scan and write the results to a small JSON data file (or keep in memory) (think

[2022-11-18 01:08] bwjohnson-ss commented on #3139
I used this one here: https://github.com/fluro-developers/fluro

I ran it with these options:
[code]

And here's the issue, that all the files.for_packages list the base package, not the deps:
[code]

Maybe I'm just not understanding the output schema? ¯\_(ツ)_/¯

[2022-11-18 10:49] pombredanne commented on #3139
This is a clear bug! Thanks. for reference I have attached the JSON scan

[scancode-output.json.zip](https://github.com/nexB/scancode-toolkit/files/10040569/scancode-output.json.zip)

[2022-11-18 14:13] nnobelis commented on #3143
Thanks @pombredanne for your answer.

- **ubuntu:22.04** (See https://github.com/adoptium/containers/blob/fa65b46d19f4db0e1c8736c3d7b2a8392dd58b1b/11/jdk/ubuntu/jammy/Dockerfile.releases.full).
- I could try running the latest ScanCode. I will comment on this ticket when it's done.
- Not really :(
Since I run ORT Docker image, I install ScanCode through PIP. Hence, I can only use the officially re

[2022-11-18 17:21] Jeeppler commented on #2908
I was able to confirm: [`pool.py#L52`](https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/pool.py#L52) is the problem. We overwrote it with a fixed value: https://github.com/mercedes-benz/sechub/blob/develop/sechub-pds-solutions/scancode/docker/Scancode-Debian.dockerfile#L52. Now, it does work for us.

I am not sure what the issue is with `Armbian_22.08.1_Jetson-nano_jammy_current_

[2022-11-18 23:40] pombredanne commented on #2908
@Jeeppler Very nicely finding. Thank you.
This may be related to https://github.com/nexB/scancode-toolkit/issues/3143 by @nnobelis
@nnobelis Do you mind to mind this patch on your big scan?
@Jeeppler Do you mind to submit a patch/PR?

[2022-11-18 23:41] pombredanne commented on #2908
Each whole file is loaded in memory indeed

[2022-11-19 00:28] JonoYang opened #3152 "None assigned to is_resolved field when parsing dependencies from a Maven POM"
I scanned the pom file from https://repo1.maven.org/maven2/com/wordnik/swagger-java-sample-app_2.10/1.3.1/swagger-java-sample-app_2.10-1.3.1.pom and the `is_resolved` field for the dependency `pkg:maven/com.wordnik/swagger-jaxrs_2.10` has a value of null, when there should be a true or false value.

[2022-11-21 11:33] Jeeppler commented on #2908
@pombredanne I am happy to submit a patch/PR and fix this issue.

However, my current solution is to overwrite `pool.py` with brute force. I would have to look at the code in depth to understand it better. I probably will have more question along the way about the Scancode code base.

My expectation is, that the fix allows the user to set the value using the `--timeout` parameter. I do not conside

[2022-11-22 08:02] NaveenTSW commented on #3144
@pombredanne any updates on this ?

[2022-11-22 09:36] nnobelis commented on #2908
@pombredanne No sorry I cannot test the changes unless there is a ScanCode release of it (I get ScanCode from PIP when building the Docker image).

[2022-11-22 10:33] s01ipsist opened #3155 "Dockerfile uses removed --reindex-licenses flag"
### Description

The Dockerfile uses the `--reindex-licenses` flag
https://github.com/nexB/scancode-toolkit/blob/develop/Dockerfile#L42
which was recently removed
https://github.com/nexB/scancode-toolkit/commit/5361052117189489703d436a68e5f364f9a39c0d#diff-fad3fa964c566642a9a64df45efd8c9daeb435e1c8791ac1f64d2881b299d753L165
in this PR
https://github.com/nexB/scancode-toolkit/pull/2979

so the Dock

[2022-11-22 11:40] Jeeppler commented on #2908
@nnobelis we install the Scancode using `pip` as well, but later overwrite the `pool.py` in the container:

- Dockerfile: https://github.com/mercedes-benz/sechub/blob/9bec3e053a9ba5498c2ed81799bf6c3f398fb680/sechub-pds-solutions/scancode/docker/Scancode-Debian.dockerfile#L52
- Modified `pool.py`: https://github.com/mercedes-benz/sechub/blob/9bec3e053a9ba5498c2ed81799bf6c3f398fb680/sechub-pds-solut

[2022-11-22 11:57] pombredanne commented on #2591
@emmahsax sorry for missing your report above... do you mind creating a different issues for this?

[2022-11-22 12:03] nnobelis commented on #2908
Thanks @Jeeppler. I will have a look when I have capacity.

[2022-11-22 12:26] tgodau commented on #3016
Hi there,

got a similar issue with the cyclonedx-output when scanning a very large package...

Used version:

    ScanCode version: 31.0.1
    ScanCode Output Format version: 2.0.0
    SPDX License list version: 3.17

Download, prepare package and start scanning:

Gives the following error message:

    :
    :
    ERROR: failed to run output plugin: cyclonedx:
    Traceback (most recent call las

[2022-11-22 20:15] Gator8 opened #3156 "Inconsistent License cache: rebuilding index."
### Description

Recently upgraded to 31.2.1 from 30.1, this has started happening on a much more frequent basis. So much so that I've had to disable these scans until the issue is resolved. Looks like the file scan runs fine, but when it tries to scan licenses, I get this error:

14:53:16   Inconsistent License cache: rebuilding index.
14:53:16   ERROR: Failed to load license cache (the file may

[2022-11-22 21:13] pombredanne commented on #3156
@Gator8 how did you install scancode? Which exact zip file did you use?
The wheel and application comes now with a pre-built index.

[2022-11-22 21:15] pombredanne commented on #3016
@tgodau Thanks for the report. I am planning this for the next milestone

[2022-11-23 07:41] abhi-kr-2100 commented on #3155
I would like to work on this. I've successfully built `scancode-toolkit` from source and ran it.

I plan to solve this issue as follows:
* Try to understand how indexes are being rebuilt in the newer versions as `--reindex-licenses` has been removed.
* Use the newer method instead of `--reindex-licenses`.

Does this sound good?

[2022-11-23 08:26] s01ipsist commented on #3155
Sounds reasonable to me. 👍

[2022-11-23 08:45] abhi-kr-2100 opened #3157 "Can't build from source; `configure --dev` fails"
### Description

According to `INSTALL.rst`:

However, `configure --dev` fails with the following error:

### How To Reproduce

Follow the instructions in `INSTALL.rst` for building from source using `git clone`.

### System configuration

* OS: WSL2 on Windows 11
* Latest commit: a410f6ebb93a9b22343d7737897b61f3cd2a6ac3

[2022-11-23 08:58] abhi-kr-2100 commented on #3157
After running `./configure --dev` a `venv` directory is indeed created, but it doesn't have a `bin` subdirectory. Instead, I see a `local/bin` subdirectory.

Changing `CFG_BIN_DIR` in the [configure script](https://github.com/nexB/scancode-toolkit/blob/develop/configure) fixes this for me.

[2022-11-23 09:25] abhi-kr-2100 commented on #3157
Apparently, this bug affects only a few people. I have `pip` et. al. installed locally (`~/.local/bin`). That could be a reason. However, this still needs to be fixed.

[2022-11-23 09:52] abhi-kr-2100 commented on #3157
To reproduce this bug if you don't have a local installation of `pip`, do the following:

* Obtain a clean installation of Ubuntu (as this is what was used by me) using a method suited to you:
  - WSL2 (used by me)
  - Virtual Machine
  - A physical machine (although this would be an overkill)
* Install `python3-pip` using `sudo apt-get install python3-pip`.
* Use `pip3` to install `pip` locally:

[2022-11-23 10:40] abhi-kr-2100 commented on #3155
The newer way to reindex is the `scancode-reindex-licenses` command defined in https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/reindex.py#L15. It's installed as a separate executable.

The `scancode` bash script simply runs `scancode` (the Python script, not the bash script), but it should now be able to `scancode-reindex-licenses`. I think, a good solution would be to creat

[2022-11-23 10:52] pombredanne commented on #3157
@abhi-kr-2100 Thanks for this report and PR. On the surface you setup seems to be fairly customized.... Can you run this quick experiment for me?

1. open a shell, run `python` and paste back here the prompt that's displayed with version, arch like this:
[code]

2. run `curl --location --output virtualenv.pyz https://github.com/nexB/scancode-toolkit/raw/develop/etc/thirdparty/virtualenv.pyz`

3. r

[2022-11-23 10:56] pombredanne commented on #3155
@abhi-kr-2100 re:

sure, thank you and you do not need to ask for permission!

but there is no need to create a bash script for `scancode-reindex-licenses`.... it can just be called directly either as `scancode-reindex-licenses` in an activated virtualenv, or as `venv/bin/scancode-reindex-licenses` otherwise. This is an exceptional operation and should therefore not need extra scripts

[2022-11-23 10:57] pombredanne commented on #3155
Note also that it would be useful to have a test step in the CI that tests the creation and minimal run of the Dockerfile to avoid any future regression.

[2022-11-23 11:18] abhi-kr-2100 commented on #3157
@pombredanne Sure.

1.
[code]

2. Running these and subsequent commands inside the `scancode-toolkit` main directory with my modifications (is this what you meant by my checkout? If you meant the unmodified version, skip this and scroll below):

**NOTE**: After downloading `virtualenv.pyz`, I took a look inside and saw some weird characters; leaving them as is.
![image](https://user-images.githubu

[2022-11-23 12:08] abhi-kr-2100 commented on #3155
@pombredanne @s01ipsist I used `./configure` and `venv/bin/scancode-reindex-licenses` to do what `./scancode --reindex-licenses` was doing earlier.

I don't know much about CI, but if you could provide some guidance, I would like to work on that as well. Will this be accomplished by a test run of docker in the CI?

[2022-11-23 12:29] pombredanne commented on #3155
Thanks... You can see https://github.com/nexB/scancode-toolkit/blob/a410f6ebb93a9b22343d7737897b61f3cd2a6ac3/azure-pipelines.yml for inspiration
You can use something such as https://stackoverflow.com/a/62871607 (See also reference doc at https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/reference/docker-v2?view=azure-pipelines&tabs=yaml )

The steps should be IMHO:
1. build a docker

[2022-11-23 13:59] emmahsax commented on #2591
@pombredanne My team actually switched to using a different tool, so I haven't had a chance to really see these issues again. So if I'm 100% honest, I probably won't come across this issue again, and therefore won't have the information I'd need to make a proper issue. But I'd encourage anybody else that sees time out issues or incomplete answers or long runs (over 10 minutes) to make an issue. Th

[2022-11-23 15:22] abhi-kr-2100 commented on #3155
@pombredanne I've added the following to the `azure-pipelines.yml` just under the top-level `jobs:` key:

[code]

I've never used Azure Pipelines, but according to what I could find on the internet, it's not possible to verify if an `azure-pipelines.yml` file a valid locally. Can you verify if the above is enough?

[2022-11-23 15:55] pombredanne commented on #2591
@emmahsax thanks! can you tell which tool you use?

[2022-11-23 16:30] pombredanne commented on #3155
@abhi-kr-2100 I would prefer some explicit reference to a Dockerfile .... and I cannot verify this either short of running it, so this needs to be in the PR
You could also have something that effectively runs a `docker build` instead of using a pre-configured task.
In all cases, you need to run the thing once built to validate that a scan can run. `Check that building using Docker succeeds` is not

[2022-11-23 16:57] abhi-kr-2100 commented on #3155
@pombredanne I've added an explicit reference to the Dockerfile, and a script to run `docker scan` at the end. I only know the basics of Docker and almost nothing about Azure Pipelines, so please let me know everything I'm doing wrong here. Have a look at the latest PR #3159.

[2022-11-23 21:42] emmahsax commented on #2591
We've been using https://github.com/pivotal/LicenseFinder, and so far it's been a fantastic tool to use, both for our bundler gems and our node modules installed via yarn. Also seems to work with our go modules.

[2022-11-24 22:24] #3155 closed, assigned to nobody

[2022-11-25 13:16] danielthieleog opened #3160 "Accesses gemfileparser which is not installed"
### Description

Installation of scancode-toolkit using pip (version 32.2.1) also installs gemfileparser2, but code still depends on gemfileparser, which is not installed automatically.
File `spec.py` imports from `gemfileparser`, not from `gemfileparser2`.

### How To Reproduce

In a python environment with all the necessary OS libraries, e. g. a docker container for image python:3.9-slim:

[code

[2022-11-25 14:04] pombredanne commented on #3160
@danielthieleog thank you for the report. As it happens this has just been fixed in a branch in https://github.com/nexB/scancode-toolkit/tree/new-ruby-lexer

There is also extensive work towards a new, better parser for gemspec/Gemfile/podspec/Podfile manifests.

[2022-11-25 14:05] pombredanne commented on #3160
If this is a blocker for you in the very short I could backport just this fix and trigger a release.

[2022-11-25 14:48] danielthieleog commented on #3160
@pombredanne , thank you for taking care. Currently it is OK for me to install gemfileparser additionally. Will the fix be part of the next regular release?

[2022-11-25 16:45] pombredanne commented on #3160
@danielthieleog you wrote:

Thank you for using the tool!

Yes.

[2022-11-28 16:22] NaveenTSW opened #3161 "License Analysis - resulting in error "Process completed with exit code 1""
### Description

License Analysis - resulting in error "Process completed with exit code 1"

### How To Reproduce

Post successful scancode setup in Linux distro - Ubuntu , 20.04.5 LTS , Python version - '3.10.6', the license analysis command
run  scancode -clpeui -n 2 --ignore "*.js" --html result.html .  &> output.txt && grep 'Error' output.txt > result.txt
is resulting in error "process complet

[2022-11-28 18:19] vargenau opened #3162 "ScientiaMobile commercial license not detected"
### Description

Download Haproxy at: http://www.haproxy.org/download/2.6/src/snapshot/haproxy-ss-20221026.tar.gz

File ```contrib/wurfl/wurfl/wurfl.h``` contains the following header:

[code]

When running ScanCode, this commercial license is not detected.

SPDX result is:
[code]

### How To Reproduce

[code]

### System configuration

* What OS are you running on? Linux Ubuntu 22.10
* What versi

[2022-11-28 20:41] pombredanne commented on #3160
@danielthieleog @tdruez @multiplemonomials this is now fixed by pushing a fix for backward compat to https://github.com/nexB/gemfileparser2/releases/tag/v0.9.3

[2022-11-28 20:45] pombredanne commented on #3160
Note that the only cure I can think of is this:

- Run everyday a schedule CI test that will install scancode-toolkit using pip therefore using the latest compatible version of the deps as released on PyPI.

- Run this for the latest tagged release and the head of of the main branch.

- Run this as part of the standard test suite on every commits.

[2022-11-28 23:18] pombredanne commented on #3162
@vargenau Thank you for the report! :bow:
I entered this https://github.com/haproxy/haproxy/issues/1948 upstream and we will be adding rules to correctly detect this weirdness.

[2022-11-29 00:00] pombredanne commented on #3162
This https://github.com/nexB/scancode-toolkit/commit/097298d66a2a9d971e1827061ec19ee7d92c1bc7 is fixing this

[2022-11-29 00:07] pombredanne commented on #3161
Can you attach the JSON scan output as txt? it will contain error details.

[2022-11-29 09:31] NaveenTSW commented on #3161
[1_Setup Scancode and Run analysis.txt](https://github.com/nexB/scancode-toolkit/files/10111664/1_Setup.Scancode.and.Run.analysis.txt)
Please find the scan setup and output details in the attached file, thanks

[2022-11-29 10:41] pombredanne opened #3164 "Support illumos/omnios/netbsd packages"
See
- http://pkgsrc.joyent.com/
- https://pkgsrc.org/
- https://github.com/TritonDataCenter/pkgsrc/blob/trunk/multimedia/ffmpeg2
- https://github.com/omniosorg
- https://github.com/omniosorg/omnios-extra/tree/master/build/byobu and https://github.com/omniosorg/omnios-build/tree/master/build

[2022-11-29 11:07] pombredanne commented on #3164
From a chat:

[2022-11-29 14:18] pombredanne commented on #3161
@NaveenTSW this file is empty

[2022-11-29 14:18] pombredanne commented on #3161
and how did you install Scancode?

[2022-11-29 14:21] NaveenTSW commented on #3161
[1_Setup Scancode and Run analysis.txt](https://github.com/nexB/scancode-toolkit/files/10113856/1_Setup.Scancode.and.Run.analysis.txt)
check this attachment please

[2022-11-29 14:22] NaveenTSW commented on #3161
installing scancode using github actions as mentioned below

- name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: '3.10.6'

        - name: Install Scancode
          run: |
            pip install --upgrade pip setuptools wheel
            pip install scancode-toolkit

[2022-11-29 14:29] pombredanne commented on #3161
Your text file contains no error log at all.
Can you instead run this:
`scancode -clpeui -n 2 --verbose --ignore "*.js" --json-pp output.json <path to your code>`

And I would need at least:
1. the header with the error section
2. any error at the file level
3. the stdout with a stack trace that was printed on screen

[2022-11-29 15:25] NaveenTSW commented on #3161
![image](https://user-images.githubusercontent.com/104576221/204569435-037707d0-08f2-484f-9d85-a3c6dded93a5.png)
Yes, I am unable to see the details on error as this is running on github hosted runners, all I can see is error as in attached image, the same step was working fine and started failing recently.
will try verbose and see if it comes up with more details, thanks.

[2022-11-29 16:44] sschuberth commented on #2836
I'd like to chime in here by saying that I'm having a hard time to get https://github.com/nexB/scancode-toolkit/releases/download/v31.2.1/scancode-toolkit-v31.2.1_py3.8-linux.tar.gz to run on Fedora 36 (KDE Spin).

The first problem is that the release archive comes with a `PYTHON_EXECUTABLE` file that contains the string `python3.8`, so the `configure` script sets that as the interpreter, but on

[2022-11-29 18:52] pombredanne commented on #3161
@NaveenTSW do not capture standard out/error then, just let it be. ScanCode will return a proper error code on failure.

In your CI, replace your call:
`run scancode -clpeui -n 2 --ignore "*.js" --html result.html . &> output.txt && grep 'Error' output.txt > result.txt`
by:
`run scancode --verbose -clpeui -n 2 --ignore "*.js" --html result.html --json-pp result.json .`
and make sure you keep the r

[2022-11-29 19:18] pombredanne commented on #3160
@danielthieleog I am keeping this open for now until we have tests for this to ensure there will be no future regression.

[2022-11-29 19:40] pombredanne commented on #3157
This is a zip, e.g. a binary.

This is really weird. I have never seen this before. I cannot understand why your setup would end up with `venv/local/bin/pip`
Is this a stock configuration or did you customize this?

[2022-11-29 21:27] Gator8 commented on #3156
![image](https://user-images.githubusercontent.com/7840300/204651351-3a596008-2d41-4504-988e-caf606c51ac4.png)

[2022-11-29 21:36] pombredanne commented on #3156
@Gator8 Thanks. That's really weird and this should never happen in this case unless there is some filesystem level file corruption.
Is this c:\tools a shared drive somehow?
Can you reproduce this on a fresh scancode zip extract?

[2022-11-30 05:37] abhi-kr-2100 commented on #3157
I'm running a Ubuntu on WSL2, with Python 3 install from the package manager and `pip` installed locally inside `~/.local/bin`. I tried to replicate this error in another WSL2 distro, but everything seemed to work fine. As such, right now, I'm not sure what's causing this either. The problem seems very specific to only one particular WSL2 distro I have.