[2017-07-21 14:45] pombredanne commented on #381
So format plugins have landed in `develop` thanks to @yashdsaraf  with #639
There is no new features there for now except that there is a new CSV output plugin.
Beside this we need documentation on how to create plugins and likely implement the JSON-> other format conversion as discussed here.

[2017-07-21 14:48] pombredanne commented on #552
with #639 we now have support for pluggable output formats. This ticket should be used to track the high level feature completion. @yashdsaraf  please create separate ticket for each pluggable features (e.g. pre-scan, scan, post-scan)

[2017-07-22 08:49] yashdsaraf opened #697 "Pre scan plugins for plugin architecture"
#552, #14

[2017-07-22 08:50] yashdsaraf opened #698 "Scan plugins for plugin architecture"
#552

[2017-07-22 08:53] yashdsaraf opened #699 "Post scan plugins for plugin architecture"
#552, #377
For now at a simpler level, the plugin is supposed to return at a directory level if all or the majority of a directory files are source code.
The goal is to set the `is_source` flag to True for a directory if and only if the majority (~90%) of the files under a directory have `is_source` set to True.
The flow would be that the plugin accepts `scanned_files` iterable, does its job and r

[2017-07-22 08:55] pombredanne commented on #699
Can you elaborate a bit on the your design here?

[2017-07-24 07:39] openCage commented on #690
There is now a new github project https://github.com/openCage/scancode-toolkit-licenses.

Its layout is data in one dir, programming specific code in an other dir.
This is java only at moment.
A version for scancode license data is published to maven central.

What do you think?

Who can help with other languages / packages / os packages ?

[2017-07-25 07:51] chinyeungli opened #700 "`gpl-2.0-broadcom-linking` not detected."
[code]

Only `gpl-2.0` and `gpl-1.0` is detected with a low score.
The above license should be detected as `gpl-2.0-broadcom-linking`

[2017-07-25 16:53] mjherzog commented on #700
Curious that the tag is DUAL/GPL, but this may be their idea of "Dual"

[2017-07-25 19:54] sschuberth opened #701 "Timeouts scanning espree JSON test fixtures"
Yet another report of mine about scan timeouts. Scanning [this](https://github.com/eslint/espree/tree/v3.4.3/tests/fixtures/libraries) with ScanCode version 2.0.1.post106.0d1bfba9 results in timeouts for various files:

    Some files failed to scan properly:
    Path: tests/fixtures/libraries/jquery-1.9.1.js.result.json
      ERROR: Processing interrupted: timeout after 600 seconds.

    Path: te

[2017-07-25 20:26] pombredanne commented on #701
@sschuberth Thanks! For this as a more general solution I am inching towards something like `--maximum-size` arg where when a file is bigger than a certain size, only that much of it will be scanned.

[2017-07-25 20:27] pombredanne commented on #700
@chinyeungli Thanks. Good catch

[2017-07-25 20:32] pombredanne commented on #690
@openCage that's great! so about adding more packaging formats (rather than more language per se, since adding a packaging for Python or Ruby would not mean adding Python or Ruby code IMHO) .... let me think a bit about it. I might want to have a format with less nested directories. And also have the manifests (pom, setup.py, package.json, etc) at the root of the repo rather than in sub dirs. But

[2017-07-25 20:35] sschuberth commented on #701
Ah, I was hoping that a fix of the kind in #694 would be possible.

[2017-07-25 20:45] pombredanne commented on #701
@sschuberth it may too. Still working a solution in a not-yet-pushed branch atm

[2017-07-27 07:49] pombredanne opened #703 "Review and refine which XML files should be treated as "source" code"
This is a follow up to #702 by @jpopelka and a reminder to review and revisit this

[2017-07-27 23:38] chinyeungli opened #705 "Incorrect `nokos-1.0a` detected"
[code]
The above text yield to `nokos-1.0a` with score `100` which is incorrect.

[2017-07-28 01:38] scottctr opened #706 "Windows Installation Error"
I've tried installing 2.0.1 on Windows 10 twice -- ensuring I followed the directions. I've gotten the same error both times when running ScanCode the first time:

[code]

[2017-07-28 06:07] pombredanne commented on #705
Thank you for the bug report.

[2017-07-28 06:11] pombredanne commented on #706
@scottctr thank you for this report.
Can you tell which exact command you used for scanning?
And what were you scanning? is this public code?

[2017-07-28 11:33] scottctr commented on #706
This actually occurred right after decompressing the latest ScanCode files into a new directory and using `scancode -h`. Note that I've previously been using 2.0.0 rc2 and never had a problem.

[2017-07-28 12:11] pombredanne commented on #706
@scottctr Thanks. This is surprising... but there have been some changes in handling unicode paths... Anything special about your environment? is this is an English installation of Windows 10 or a some other language?
Is there something special in your `PATH` variable? Would it contain paths with special, non-Ascii like characters may be? I am trying to find a way to reproduce this correctly.
For

[2017-07-28 12:12] scottctr commented on #706
I should also add that I'm using the scancode-toolkit-2.0.1.zip download and the Windows 10 decompress tool. I'll try the scancode-toolkit-2.0.1.tar.bz2 and 7zip shortly.

[2017-07-28 12:15] pombredanne commented on #706
@scottctr using the windows built-in zip should be fine normally I doubt this would make a difference to use another archive type and unarchiver. The reason for the failure is more likely in the `PATH` and some bug on our side about dealing with this

[2017-07-28 12:17] scottctr commented on #706
This is a standard US/English Windows 10 machine, but I think you're onto something with the path. Notice the entry in the path is `C:\\Program Files (x86)\\V\xf6r Security\\DevAudit\\`, but should be `C:\\Program Files (x86)\\Vör Security\\DevAudit\\`. I'll test this shortly.

[code]

[2017-07-28 12:46] pombredanne commented on #706
@scottctr thanks. The culprit is the last path segment `C:\\Program Files (x86)\\V\xf6r Security\\DevAudit\\`... That makes for a good test case! If you temporarily remove this from your `PATH` variable, things should work OK normally.

[2017-07-28 12:46] pombredanne commented on #706
And I will work out a fix

[2017-07-28 14:11] pombredanne commented on #688
FYI, I am doing experiments with https://github.com/jaraco/path.py and also direct support of Unicode surrogate pairs encoding of bytes to ensure we can still use Unicode throughout and handle bytes paths correctly.

[2017-07-29 09:15] pombredanne commented on #672
@armijnhemel I added some extra tests for sanity ... The private IPs are detected here:
https://github.com/nexB/scancode-toolkit/blob/3a3fd333742e6b798f71caf2401e9515fa7373f6/src/cluecode/finder.py#L412 and any localhost-like is caught here: https://github.com/nexB/scancode-toolkit/blob/3a3fd333742e6b798f71caf2401e9515fa7373f6/src/cluecode/finder.py#L455 (where the logic is simply to detect if the

[2017-07-29 09:16] pombredanne commented on #672
Thanks again... Merged #675 and closing now.

[2017-07-29 09:16] #672 closed

[2017-07-29 09:30] pombredanne commented on #596
This has been addressed with commits related to #534 ... and in particular this https://github.com/nexB/scancode-toolkit/commit/f42b7869bc9b1ebd5ed4b10c50d8d1cb2fac81f4

[2017-07-29 09:31] #596 closed

[2017-07-29 09:33] pombredanne commented on #668
This is fixed and merged.

[2017-07-29 09:33] #668 closed

[2017-07-29 10:52] pombredanne commented on #676
There is already a license entry for https://github.com/nexB/scancode-toolkit/blob/f1f6e2cc29516455ac1732787658ede2b927f8d0/src/licensedcode/data/licenses/red-hat-trademarks.LICENSE ....

I guess this new text could be a new entry with a key such as `red-hat-trademarks-notice`
@richardfontana what's you take on this?

[2017-07-29 11:46] pombredanne commented on #663
Here is another variants in the same style:
[code]

[2017-07-30 09:40] pombredanne opened #707 "Add general support to detect "structured" and tagged licenses notices"
We should support specialized license detection for some cases where a project provides a structured or semi-structured licensing information: these are becoming common.

* First there are all the package manifest metadata. We collect these alright but only capture the asserted license when present and then also run a plain license detection on the manifest text. We should instead only run a detec

[2017-07-30 09:44] pombredanne commented on #689
See also https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/159

[2017-07-30 17:20] yashdsaraf commented on #643
@pombredanne Can new groups be added dynamically? i.e using plugins?

[2017-07-30 20:30] pombredanne commented on #643
@yashdsaraf

IMHO not yet for now. Eventually yes... but this is TBD when we get there. Start small and simple for now

[2017-07-31 13:34] richardfontana commented on #676
@pombredanne I am perhaps biased here but I think the value of detecting that notice is low. That BTW is part of a legacy GPL notice from before 2008. Today I would recommend against Red Hat developers including it. Of course my view is that it has no effect on the substantive GPL license grant.

The second one (https://github.com/nexB/scancode-toolkit/blob/f1f6e2cc29516455ac1732787658ede2b927f8d0

[2017-07-31 14:51] pombredanne commented on #676
@richardfontana Thanks for the input! I might still add that old, rarely-but-still-seen pre-2008-ish notice for the sake of being comprehensive.

[2017-07-31 17:50] pombredanne opened #710 "Failed to write spdx tv output with license text if text contains Unicode"
This text which is a combo of agere-bsd with some unicode copyright sign slapped inside fails with `-li -f spdx-tv format --license-text`
[code]

[2017-07-31 21:53] pombredanne commented on #682
Fixed and merged in develop. Thanks again for the report!

[2017-07-31 21:53] #682 closed

[2017-07-31 21:53] pombredanne commented on #683
Fixed and merged in develop. Thanks again for the report!

[2017-07-31 21:53] #683 closed

[2017-07-31 21:54] pombredanne commented on #684
Fixed and merged in develop. The intel-bsdd-special is no longer detected in the short term until #522 is implemented... Instead you have an intel-bsd and a gpl choice detected.
Thanks again for the report!

[2017-07-31 21:54] #684 closed

[2017-07-31 21:55] pombredanne commented on #680
Fixed and merged in develop.

[2017-07-31 21:55] #680 closed

[2017-07-31 21:55] pombredanne commented on #678
Fixed and merged in develop. Thanks again for the report!

[2017-07-31 21:55] #678 closed

[2017-07-31 21:56] pombredanne commented on #663
Fixed and merged in develop.

[2017-07-31 21:56] #663 closed

[2017-07-31 21:59] pombredanne commented on #710
Fixed and merged in develop

[2017-07-31 21:59] #710 closed

[2017-07-31 22:00] pombredanne commented on #692
Fixed and merged in develop. @yashdsaraf Thanks

[2017-07-31 22:00] #692 closed

[2017-07-31 22:05] pombredanne commented on #700
Fixed and merged in develop. Thanks!
This now returns gpl-2.0 (with) gpl-2.0-broadcom-linking ... the with will be really returned only when #74 is implemented....

[2017-07-31 22:05] #700 closed

[2017-08-01 08:24] pombredanne opened #712 "ScanCode fails to scan large unrar test file"
Reported by @msrb in https://github.com/fabric8-analytics/fabric8-analytics-worker/issues/172

The culprit is in the `nulls.txt` file in https://pypi.python.org/pypi/py-unrar2/0.99.6 : this  is a ~100MB test text file with zeroes that is the thing that ScanCode chokes on. Actually this file contains 100M times the '0' character.
[code]

There are a couple ways to deal with this that come to mind:

[2017-08-02 11:21] pombredanne opened #713 "Long scan times on logback"
See https://github.com/fabric8-analytics/fabric8-analytics-worker/issues/146

[2017-08-02 11:22] pombredanne commented on #712
See also a workaround https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/181/files

[2017-08-03 08:45] pombredanne opened #714 "Rework the --strip-root and --full-root CLI options as plugins"
I think these may be something we could implement as plugins... Possibly as part of the outpouts... though they are not really outputs proper. Some design and thinking needed. It would be worth only if this is something that makes the code cleaner and simpler

[2017-08-03 08:50] pombredanne opened #715 "Refactor output plugins interface"
See https://github.com/nexB/scancode-toolkit/pull/704/files#diff-1e37ecfb9a8c3fccd8ecdfb2ce51f591R819
we are passing many args to the output callables.
In the end there are:
 - the input path and output file-like object
 - the scan results iterable
 - and a bunch of other scan-level informations (scanners, file count, options, etc...)

The  last two could be made some object that carries the scan-

[2017-08-03 15:01] pombredanne opened #716 "Package.download_urls should be a single value, not a list"
Have multiple download URLs does not make sense. There should be only one canonical download URL for a given package... Other URLs would be eventually mirrors, secondary URLs handled elsewhere. Tracking multiple URLs at the Package definition level is bad design.

[2017-08-04 16:53] yashdsaraf opened #717 "Efficiently navigate up and down the results "tree" of files without loading scanned results into memory"
The cache from which results are iterated should be an opaque structure that is strictly internal and whose details should not leak to plugins and the outside world. It was designed to stream from disk and avoid having everything loaded in memory.

So the right way would be some internal DB (sqlite) with some very simple schema and API on top.

We could use some dict-like wrapper on sqlite db, or

[2017-08-04 16:57] yashdsaraf commented on #717
In context of `post_scan` plugins (#699):

[2017-08-08 08:15] chinyeungli opened #718 "Correct format for lxml-3.6.4.ABOUT"
https://github.com/nexB/scancode-toolkit/blob/develop/thirdparty/prod/lxml-3.6.4.ABOUT

From to the doc (https://docs.google.com/document/d/1Le0bahKIUxWfFD2j8uvbyNjTjD8Up4vPyfMLML9OEGo), "Top level known objects are ALWAYS plural".
Should the 'component' becomes 'components', 'package' becomes 'packages', 'license' becomes 'licenses'

Example from the doc:
[code]

Should we update the ABOUT to the

[2017-08-08 08:15] chinyeungli commented on #718
oops.. wrong place

[2017-08-08 08:15] #718 closed

[2017-08-08 08:17] chinyeungli commented on #718
well, not necessary a wrong place, but I think it's better to enter the issue in https://github.com/nexB/attributecode/issues/282 instead.

[2017-08-11 17:22] pombredanne opened #720 "EPL + EDL combo license not detected 100%"
See https://github.com/eclipse/paho.mqtt.c/blob/master/src/MQTTClient.c

[2017-08-11 22:08] pombredanne opened #721 "Infinite loop when scaning a weird POM"
With http://repo1.maven.org/maven2/com/github/albertoanguita/jacuzzi-database/0.2.1/jacuzzi-database-0.2.1.pom
scanning for packages goes in an infinite loop
Ctrl-C gives this stacktrace:
[code]
basically this causes the loop: `${version}` in the parent and no version in the POM proper and some looping during the properties resolution:
[code]

[2017-08-12 08:04] pombredanne commented on #721
Here is a list of test cases:
infinite loop:
- http://repo1.maven.org/maven2/org/jvnet/updatecenter2/pkg/2.0.13.1005/pkg-2.0.13.1005.pom
- http://repo1.maven.org/maven2/net/sourceforge/findbugs/coreplugin/1.0.0/coreplugin-1.0.0.pom
- http://repo1.maven.org/maven2/com/github/albertoanguita/jacuzzi-annotations/0.2.1/jacuzzi-annotations-0.2.1.pom
- http://repo1.maven.org/maven2/com/github/albertoangu

[2017-08-13 08:07] pombredanne commented on #469
This is also needed for the work of @maxyx
The approach would likely to extend scancode's new plugin mechanisms by @yashdsaraf  to provide these binaries as optional plugins. (e.g. optional Python packages) or get them from the PATH as a last resort.

[2017-08-14 07:52] chinyeungli opened #722 "Duplicated file not exist error"
[code]
The error for path `C:/Users/CYL/Desktop/test/attributecode/attributecode/` is correct while the `CRITICAL` error for path `C:/Users/CYL/Desktop/test/attributecode/` is incorrect.

[2017-08-14 07:55] pombredanne commented on #722
@chinyeungli are you sure this is a ScanCode ticket and not one for https://github.com/nexB/attributecode instead?

[2017-08-14 07:57] chinyeungli commented on #722
You are right.. sorry.. wrong place

[2017-08-14 07:57] #722 closed

[2017-08-16 14:30] pombredanne commented on #688
Just to restate the core of the issue:
[code]

Now I tried `path.py` without luck https://github.com/jaraco/path.py/issues/130 as well as `scandir` without luck either https://github.com/benhoyt/scandir/issues/86

`python-future` provides `surrogateescape` support but does not have any specific support for dealing with path proper.

`pathlib2` is a backport of Python 3 and works on python 3 but re

[2017-08-16 17:52] bobgob opened #724 "New tool - redistribution check suggestion"
Given that an audited codebase is different from what is redistributed, part of my job is to scan the redistribution.  I run it through extractcode/scancode (only-findings) and produce a json-pp file which I manually go through.  These are usually over 100MB.  For example, I look for “GPL 3”, “Commercial”, “Restricted”, “Proprietary”, “Patent” and other company important licenses.  I also look for

[2017-08-16 18:42] pombredanne commented on #724
That's a great idea that could likely be implemented though the new plugin architecture by @yashdsaraf

There could be a couple ways that come to mind:
- a pre scan plugin: before scanning (like the --ignore flag) a file or path, apply some custom filtering to avoid scanning some parts of a codebase entirely. This could be based on the various type and name information, some file classification, e

[2017-08-17 06:17] yashdsaraf commented on #724
@pombredanne The post-scan plugin approach seems best to me for handling

Perhaps even a `pre-scan` and `post-scan` plugin working in conjunction? so some obvious files can be ignored before scan and ones which require the scan to complete, like determining the permissive license of the two, might be handled by a post-scan plugin.

[2017-08-17 11:00] pombredanne commented on #697
It might best to explain you design here than in #719

And after #719 is merged we will need to create a sample new plugin that would skip files based on their size and filetype data (which comes from the info, and therefore makes things a tad more complicated than the simpler, path-based filter)

[2017-08-17 11:04] yashdsaraf commented on #697
Every pre-scan plugins has to extend the AbstractFactory class
In it the get_option_attrs method will be called to get the attributes for the plugin's cmdline option, so plugin doesn't handle the creation of click options directly.
The process_resources method will be called in resource_paths function for plugins which require to make changes before the paths are supplied for scanning (e.g like --

[2017-08-17 11:07] yashdsaraf commented on #697
Also `get_option_attrs` is a staticmethod since it gets called before a plugin class is initialized,
later if user supplied the cmdline option corresponding to that plugin, then the option's input is passed to that plugin's `get_instance` which is a classmethod.

[2017-08-17 11:16] pombredanne commented on #697
ok, this is a tad complex for my taste. Could there be a simpler way?

[2017-08-17 11:19] yashdsaraf commented on #697
Well, we can't plug-in pre-scan plugins in a single spot, like post-scan plugins.
And we can't assume attributes for click options for these plugins.

[2017-08-17 11:25] yashdsaraf commented on #697
How about having different hooks for different functions?
e.g
- for processing the `resources` i.e function which returns all the absolute paths of files to be scanned we could have a separate plugin marker (this can handle the --ignore part)
- for adding new scans or deleting them a different marker

This is something like `output` and `post-scan` are different markers

[2017-08-17 13:28] yahalom5776 opened #725 "UTF handling bug"
Hi @pombredanne ,

Scan Code version 2.0.1 on Windows 7 x64 with Python 2.7 gives me the following error. Stops at the file "ethiopic" from kbd package 2.0.3. I removed some other files from this directory in the archive that broke the scan as a quick fix but I think this needs a permanent fix. Extraction was done via extractcode.

Affected files are under kbd-2.0.3.tar.gz\kbd-2.0.3.tar\kbd-2.0.3\

[2017-08-17 13:42] pombredanne opened #726 "the --ignore behaviour needs refinement"
The glob patterns are applied to each path segment making it impossible to ignore a path with more than one segment. It should instead be applied to the whole path at once which would be more useful and intuitive.

[2017-08-17 14:02] pombredanne commented on #725
@yahalom5776 Thanks for the report. This does not seem to be related to #688 but rather some output format issue.

[2017-08-17 14:48] pombredanne commented on #725
This may be related to colorama
https://github.com/tartley/colorama/issues/36

[2017-08-17 15:11] pombredanne commented on #725
@yahalom5776 can you do a test with this branch https://github.com/nexB/scancode-toolkit/tree/725-unicode-windows-error ? I bumped colorama and added an extra forced conversion to ASCII

[2017-08-17 16:11] yashdsaraf commented on #697
@pombredanne I'm now using a normal class `PreScanPlugin` which needs to be extended by all `pre-scan` plugins.
It has an attribute `option_attrs` which defined click option attributes for the corresponding plugin. Click option name is taken from the entry point and help text from its docstring.
For now, it has `process_resources` method which is called when files to be scanned are decided.
We can

[2017-08-18 08:29] yahalom5776 commented on #725
@pombredanne,  yes I will test it latest on Monday and report back

[2017-08-18 09:23] yahalom5776 commented on #725
@pombredanne
I could already test if - this branch fixes the issue in kbd! Thank you.

[2017-08-18 09:53] pombredanne commented on #725
@yahalom5776 It is not a guaranteed fix but there a good chance it does work. Terminal ANSI escape sequences are a tad arcane topic, so for now upgrading colorama and forcing ASCII on terminal outputs sounds like a practical likely fix.

[2017-08-18 13:16] pombredanne commented on #724
@yashdsaraf good ideas. @bobgob could you elaborate a bit on which kind of filtering you are looking after?

[2017-08-21 12:29] yahalom5776 commented on #725
@pombredanne The fix works, I think you can merge  it when convenient. Thanks.

[2017-08-21 12:43] pombredanne commented on #725
@yahalom5776 Thanks ++ for testing this (and reporting it in the first place)!

[2017-08-21 17:56] pombredanne opened #728 "Make info collection part of the default"

[2017-08-22 08:25] armijnhemel opened #730 "false positive for GPL"
https://raw.githubusercontent.com/JamesNK/Newtonsoft.Json/master/CONTRIBUTING.md

is recognized as GPL, while there is no GPL at all in there. The following seems to be triggering it:

you provide is on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED,
INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OR CONDITIONS OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, O

[2017-08-22 08:34] armijnhemel commented on #730
There are more files in that repository that trigger the GPL rule:

https://raw.githubusercontent.com/JamesNK/Newtonsoft.Json/master/Src/Newtonsoft.Json/Utilities/LinqBridge.cs

[2017-08-22 09:03] pombredanne opened #731 "Improved debugging and tracing without multiprocessing"
multiprocessing has this peculiar way to hide some exception by truncating the trace back.
The idea would be to have a simple way to run scans without multiprocessing and without threading to ease debugging.
For this I would use the `--processes` flag with a value of zero. And when we have a scan with "0" processes, then we would bypass the multiprocessing pool usage (using a plain `imap`) and byp

[2017-08-22 10:28] pombredanne commented on #721
Fixed and merged in develop.

[2017-08-22 10:28] #721 closed

[2017-08-22 10:41] pombredanne commented on #730
@armijnhemel Thanks! Sounds like they reused the GPL warranty disclaimer in their CLA and their BSD notice.

The funny side effect is that
- their code includes BSD-licensed code at https://raw.githubusercontent.com/JamesNK/Newtonsoft.Json/master/Src/Newtonsoft.Json/Utilities/LinqBridge.cs and does not even include a proper BSD license
- is overall per MIT-licensed https://github.com/JamesNK/Newto

[2017-08-22 11:24] armijnhemel opened #734 "false positive: ScanSoft Public License"
https://github.com/OData/odata.net/blob/master/src/AssemblyInfo/AssemblyInfoCommon.cs

is recognized as ScanSoft Public License. The 'License.txt' file they refer to actually contains MIT

[2017-08-22 12:30] pombredanne commented on #734
Thanks!
This is what is detected with ` ./scancode -l -f json-pp --diag --license-text`:

[code]

The detection trigger is this:
`[assembly: AssemblyTrademark("Microsoft and Windows are either registered trademarks or trademarks of Microsoft Corporation in the U.S. and/or other countries.")]`

This could be returned as its own license like a "trademark notice" of sorts or ignored entirely as this

[2017-08-22 13:37] sschuberth opened #735 "ImportError: No module named pluggy"
Using ScanCode version 2.0.1.post135.94d8aaa8 I'm running into `ImportError: No module named pluggy` errors on CI, but not locally. Still investigating why. Stacktrace:

    Traceback (most recent call last):
    File "/workspace/tools/scancode/bin/scancode", line 11, in <module>
      load_entry_point('scancode-toolkit', 'console_scripts', 'scancode')()
    File "/workspace/tools/scancode/local/l

[2017-08-22 13:53] sschuberth commented on #735
I don't see

    Configuring ScanCode for first use...

in the CI logs. We're running ScanCode from a Git checkout that is being fetched to incrementally. Can it be that the "first use" check does not properly work if new dependencies like `pluggy` are being introduced?

[2017-08-22 14:03] sschuberth commented on #735
Interestingly, I also don't see the `SCANCODE_DEV_MODE` file being created. Shouldn't that be the case when running from a Git checkout?

[2017-08-22 15:54] armijnhemel commented on #731
so what happens if I say "n = 1"? Is it conceptually different from n = 0?

I would actually argue that n = 0 should mean "use all CPUs", as that is conceptually more in sync with the Python behaviour:

https://docs.python.org/2/library/multiprocessing.html#multiprocessing.pool.multiprocessing.Pool

     If processes is None then the number returned by cpu_count() is used.

[2017-08-22 16:24] pombredanne commented on #731
@armijnhemel The behavior of `-n 0` was unspecified (and was actually crashing) so I am using it for this debugging feature where no threading or multiprocessing is used at all. I get your point that -n0 could mean use all CPUs but in practice since there are a lot of I/O involved in the scans it can sometimes be best to use more processes than there are CPUs.
And the behavior of `-n 1` is to use

[2017-08-22 16:33] pombredanne commented on #735
@sschuberth is this a fresh checkout?

[2017-08-22 16:34] pombredanne commented on #735
@sschuberth if this is a incremental checkout and this was already "configured" or run before, then you should run `./configure` on this after each incremental pull

[2017-08-22 16:40] sschuberth commented on #735
No, it's not.

Ah, then this is a misunderstanding on my side. I though the logic would be smart enough to know for which commit `./configure` was run in case of running from a checkout.

Couldn't this be easily implemented by writing the commit SHA1 into `SCANCODE_DEV_MODE`?

[2017-08-22 16:46] pombredanne commented on #735
For instance if I start with a master checkout and run `./scancode -h` then I switch to develop and run `./scancode -h` there again, I get the same error as yours.
Running `./configure` fixes this and is needed when working from "incremental" checkouts

Configure is pretty dumb and does not try to keep track of anything as it could be run from a plain tarbal or checkout.  `SCANCODE_DEV_MODE` at th

[2017-08-22 16:55] sschuberth commented on #735
Looks like I sort of misunderstood all of what `SCAN_DEV_MODE` is about, then. [In the code](https://github.com/nexB/scancode-toolkit/blob/3a3c662715356b45e98356b4aa83dba9e203cb16/etc/conf/dev/base.py#L7) it says to create a "development mode tag file", but I could not find any comment on what "development mode" actually is, and how it differs from "normal mode". Could you maybe amend that code co

[2017-08-22 16:56] bobgob commented on #724
It seems like the easiest would be a pre-scan like an rsync exclude file.  Logic based exclusions would need to be done as a post-scan.
I've not been able to use AboutCode Manager with my large json files but it would be great to use ACM and filter on the fly.
It would also be great if there were file groups (that I could edit).  For example, if there were a "permissive" group (a text file with al

[2017-08-22 17:03] pombredanne commented on #735
@sschuberth your logic could work alright and we could use SCAN_DEV_MODE for this. The problem I see is one of a chicken and egg: configure is dumb and therefore the logic to do all this would have to be external to configure itself which would make the machinery a tad complicated.
On the other hand simply rerun ./configure after a pull is all that's needed. Do you think this could work out for yo

[2017-08-22 17:06] yashdsaraf opened #736 "Rework cli.py to use a Resource class instead of iterating paths"
For now the goal is to create a `Resource` class which stores paths and infos for a resource.
Eventually this class should hold all the scanned data for a resource and encapsulate the caching logic entirely.

[2017-08-22 17:08] sschuberth commented on #735
Sure, that's not an issue for us to do. I was just thinking about making the logic more convenient along the way 😉

I would have implemented the logic simply as part of [scancode](https://github.com/nexB/scancode-toolkit/blob/develop/scancode) / [scancode.bat](https://github.com/nexB/scancode-toolkit/blob/develop/scancode.bat). Let me try if I can get something to work today or tomorrow.

In any c

[2017-08-22 17:16] armijnhemel commented on #731
That is indeed what I would suggest, if possible. I think we can agree that n=0 is somewhat weird no matter what :)

[2017-08-22 17:28] pombredanne commented on #735
@sschuberth no need to close especially if you are working on a possible fix :P And I surely need need to add doc for the SCANCODE_DEV_MODE....

[2017-08-22 17:36] armijnhemel commented on #734
But that is not even a license statement. That seems to be some templating code when the code is used to generate a .NET assembly and put into the generated code (I think). So it doesn't apply to the current file at all.

[2017-08-22 21:30] sschuberth commented on #735
Just did that in https://github.com/nexB/scancode-toolkit/pull/737 :-)

[2017-08-22 23:25] atifaziz commented on #730
@pombredanne Are you saying the following [disclaimer at the top of `LinqBridge.cs` file](https://github.com/JamesNK/Newtonsoft.Json/blob/98366a4b88be7c0a0cd8674127cc2c7a17c6b70d/Src/Newtonsoft.Json/Utilities/LinqBridge.cs#L13-L27) is from GPL?

[code]

As far as I can tell, it's the same as at the bottom of the [3-Clause BSD License](https://opensource.org/licenses/BSD-3-Clause).

[2017-08-23 09:02] pombredanne commented on #731
@armijnhemel the new commit https://github.com/nexB/scancode-toolkit/commit/f8f22209d7a98e3880fbec0bdb7b2b44e101ec6d does this:

 * No longer accepts `--processes=0` as an option value
 * With `processes=1`, run without multiprocessing
 * With `timeout=0`, run without timeout threaded guard

[2017-08-23 09:10] pombredanne commented on #688
@dengste I have made quite a bit of progress and we are almost there... there are only a few important but easy to fix tests left to address...  FWIW, the approach used is explained in #723

[2017-08-23 09:11] #725 closed

[2017-08-23 10:02] pombredanne commented on #730
@atifaziz good catch! I stated this wrong:
The warranty disclaimer is perfectly ok, only the notice on top of it is mildly looking like a GPL/FSF notice https://github.com/JamesNK/Newtonsoft.Json/blob/98366a4b88be7c0a0cd8674127cc2c7a17c6b70d/Src/Newtonsoft.Json/Utilities/LinqBridge.cs#L13

[2017-08-23 10:06] pombredanne commented on #724
@bobgob you wrote:

Could the current `--ignore` option do most of what you need?

Filtering based on licensing would have to be a post-scan plugin. Note that while there is no such grouping done, the license "Category" attribute is returned for all license matches and would likely the grouping you might want to use as a base. It is available right now.

[2017-08-23 13:51] abuhman opened #739 "pip install scancode-toolkit gives error"
I ran pip install scancode-toolkit and got this error:

Exception:
Traceback (most recent call last):
File "/home/anna/Desktop/new_spdx-github/spdx-github/local/lib/python2.7/site-packages/pip/basecommand.py", line 122, in main
status = self.run(options, args)
File "/home/anna/Desktop/new_spdx-github/spdx-github/local/lib/python2.7/site-packages/pip/commands/install.py", line 278, in run
requireme

[2017-08-23 14:04] pombredanne commented on #730
@atifaziz nothing to be worried about on your side... a tad unsual but it will be detected alright. The detection eventually performs comprehensive pair-wise multiple sequence alignments hence the false positive here. Thanks for chiming in!

[2017-08-23 14:11] pombredanne commented on #739
Your combo of pip 1.5.4, virtualenv 1.11.4 and setuptools 2.2 is completely out of date... pip current version is 9.x, virtualenv at version 15.x and setuptools is at version 36.x ... :angel: .... so you have really ancient versions and this for sure is unlikely to work with these older versions. Actually several current Python packages are quite unlikely to work with this setup of yours.

You hav

[2017-08-23 14:20] abuhman commented on #739
Ok thanks I will update these.

[2017-08-23 14:21] pombredanne commented on #739
good, the reason why things work otherwise is that ScanCode uses these newer versions and it expects these (its setup.py uses features from them)

[2017-08-23 14:22] pombredanne commented on #739
note that if you are in a virtualenv of your own you can also do the pip install --upgrade in there, no sudo needed

[2017-08-23 18:25] abuhman commented on #739
ok thanks

[2017-08-24 07:10] pombredanne commented on #739
@abuhman When things are OK on your side, please close this ticket

[2017-08-24 07:12] pombredanne commented on #697
The core has been merged in develop. Further work is taking place with #736
@yashdsaraf Thanks++

[2017-08-24 07:12] #697 closed

[2017-08-24 15:45] bobgob commented on #724
Yes, --ignore would work.  Just more cumbersome than an exclude file.
Category is what I use today (manually).  It is just not fine grained as much as I would like.  For example, I don't want GPLv3 and GPLv2 in the came group.  With user defined categories I could duplicate Copyleft, remove GPLv3 and have two categories, one with and one without GPLv3.  That implies that a file can be in multiple

[2017-08-24 21:10] kira0204 commented on #382
@pombredanne Apologies, I got busy. I just started the extraction and will notify as soon it is done.

[2017-08-24 21:39] pombredanne commented on #382
@kira0204 no problem, and thank you for not dropping the ball entirely!

[2017-08-24 22:40] kira0204 commented on #382
The extraction took place without any errors, although manual extraction is left so as to verify whether both the extraction are similar or not.

[2017-08-24 23:55] kira0204 commented on #382
Both the trees look similar except from the .sh files that manual extraction did not take care of. However I found few .java files missing in the extracted files by scancode, should I send you the output trees?

[2017-08-26 23:16] abuhman commented on #739
Yes, this is working now that I updated those things.  Thanks, I'll close this.

[2017-08-26 23:16] #739 closed

[2017-08-28 09:13] sschuberth opened #740 "TypeError: invalid length: 8 when scanning PDF from fop project"
Using ScanCode version 2.0.1.post135.94d8aaa8, I get

    ERROR: licenses: Traceback (most recent call last):
      File "/workspace/tools/scancode/src/scancode/cli.py", line 730, in scan_one
        scan_details = list(scan_details)
      File "/workspace/tools/scancode/src/scancode/api.py", line 121, in get_licenses
        for match in idx.match(location=location, min_score=min_score):
      Fi

[2017-08-28 09:40] armijnhemel commented on #740
This looks like a bug in pdfminer

[2017-08-28 09:46] sschuberth commented on #740
Maybe. Are you suggesting me to report it also upstream to [pdfminer](https://github.com/euske/pdfminer)?

In any case, the question is how ScanCode should behave in such cases. I believe it should only report a warning instead of an error, and fall back to treating the PDF like a generic binary file.

[2017-08-28 09:47] armijnhemel commented on #740
Oh, the error handling is definitely something that should be improved in ScanCode. But, yeah, probably best to also report it upstream I guesss.

[2017-08-28 09:57] sschuberth commented on #740
Done. However, given that has been no pdfminer release since 2014 I have doubt this will get fixed upstream.

[2017-08-29 14:43] pombredanne commented on #740
@sschuberth Thanks for the report!
@armijnhemel thanks for your input!

About alternative libraries:
-    https://pypi.python.org/pypi/slate and https://pypi.python.org/pypi/PyPDF2 : I tried these in the passt and they had their issues, but are worth revisiting.
-    https://pypi.python.org/pypi/textract : this is a wrapper on the command line `pdftotext`

For now as a simple test, I switched to a

[2017-08-29 14:46] sschuberth commented on #740
If switching to pdfminer.six solves the issue upstream, I'd be fine with not changing the current behavior of ScanCode for now to throw an error :-)

[2017-08-29 15:12] pombredanne commented on #740
@sschuberth It sounds like it did solve your error and another older error too.

[2017-08-29 15:22] pombredanne commented on #731
@armijnhemel  the new commit f8f2220 really does not work at all.  I will try to see if there is an easy fix, but I may stay with the simple `--processes=0` to disable both multiprocessing and the timeout threaded guard at once.

[2017-08-29 15:27] pombredanne opened #743 "Add new Linux syscall note SPDX id"
This is going to part of the next SPDX licenses list release.
The actual ID is to be researched
https://lists.spdx.org/pipermail/spdx-legal/2017-July/002034.html

[2017-08-29 15:34] pombredanne commented on #724
@bobgob youw roet

This has been designed as the front of an ignore file which should be next as an enhancement

I think the best approach here would be to update the scans with your own categories. This could be a post scan plugin alright.

Visual navigation and "tagging" would definitely be a job for AboutCode Manager... Yet if you are dealing with very large scans this may be an issue at least

[2017-08-29 15:35] pombredanne commented on #735
@sschuberth so I guess this could be closed now? I merged #737

[2017-08-29 15:41] pombredanne commented on #706
@scottctr the branch https://github.com/nexB/scancode-toolkit/tree/706-PATH-environment-var-with-unicode should fix your issue. Do you mind to test if this works for you?

[2017-08-29 15:43] sschuberth commented on #735
Well, #737 was only about improving the docs. If you don't mind, I wanted to leave this open until I actually improved the reconfiguration logic.

[2017-08-29 15:43] pombredanne commented on #688
@dengste the code in the branch https://github.com/nexB/scancode-toolkit/tree/688-non-utf8-path is now passing the tests on all the supported OSes...
Do you mind to check if this branch works for you before I merge? Thanks!

[2017-08-29 15:46] pombredanne commented on #688
In the end the solution has been to use the backports.os(https://github.com/pjdelport/backports.os) by @pjdelport (Thanks!) that provides a proper and working os.fsencode/os.fsdecode as in Python 3... and use bytes everywhere on Linux and Unicode everywhere else.

[2017-08-30 09:55] pombredanne commented on #689
@jpopelka FYI, the latest work by @yashdsaraf in #738 will allow to cleanly create a pre-scan plugin that can ignore things based on on all available file "info" attributes such as the `is_binary` flag

[2017-08-30 09:56] pombredanne commented on #688
@dengste this has been merged in develop. Feedback welcomed and thank you for the report!

[2017-08-30 09:56] pombredanne commented on #706
This has been merged in develop. Closing for now but feedback welcomed. Thanks again!

[2017-08-30 09:56] #706 closed

[2017-08-30 09:57] pombredanne commented on #693
@chinchang does my answer work for you?

[2017-08-30 11:34] jpopelka commented on #689
Great news @pombredanne
Thank you !

[2017-08-31 18:29] pombredanne opened #745 "Incorrect license detection in config.guess"
These are two variants of the config.guess notice:
https://git.savannah.gnu.org/cgit/config.git/plain/config.guess?id=93b5037172b15ad28952481933517f1ba93d125b

https://git.savannah.gnu.org/cgit/config.git/plain/config.guess?id=636f39d3a3836e88bfc2ddc39ee47d1c499e0c6e

The first  is GPL-2+ with a simple autoconf exception and is incorrectly reported as GPL 3.0 with exception
The  second is GPL-3+ w

[2017-09-01 13:33] armijnhemel opened #746 "path issue"
$ ./scancode --full-root -f json-pp -n 4 ~/tmp/linux-4.10.1/fs/dcookies.c

gives me the following in the JSON output:

"path": "/home/armijn/tmp/linux-4.10.1/fs/dcookies.c/dcookies.c"

which is wrong, as it should be:

"path": "/home/armijn/tmp/linux-4.10.1/fs/dcookies.c"

$ git log | head -n 1
commit b80257d022fa95c281266a1a96b7edde1f83aa72

[2017-09-01 13:35] armijnhemel commented on #746
Doesn't happen when scanning a directory, just when scanning single files

[2017-09-01 18:03] armijnhemel opened #747 "please add path scanned to JSON"
When I am scanning a directory it would be very useful if the scanned path would be available in the JSON. For example if I would do this:

    ./scancode --full-root -f json-pp -n 4 ~/tmp/linux-4.10.1/ > /tmp/scancode.json

I would like to have the scanned path (expanded) available in the JSON in "scancode_options", as I would want to be able to easily cut this path from all of the file names in

[2017-09-01 19:31] pombredanne commented on #746
Thanks! Good catch..

[2017-09-01 19:32] pombredanne commented on #747
This make sense. You said:

What is wrong with it?

[2017-09-01 19:36] armijnhemel commented on #747
Maybe it is just my memory playing tricks on me and I remembered #593 but it seems that this is indeed not an issue. Still, I would like to see this added, as I guess it is just a minor tweak :-)

[2017-09-01 20:37] JonoYang opened #748 "Post-scan plugins should be able to take in parameters"
It would be helpful if post-scan plugins has the ability to take in parameters. For example, you should be able to pass in an API url and API key into a post-scan plugin that uses scan results to perform lookups via an external API.

[2017-09-01 20:52] scottctr commented on #706
Sorry for the delay, but I tested this today and the problem is no longer occurring -- thanks!

[2017-09-01 21:11] scottctr opened #749 "extractcode error"
Getting the following error with extractcode from 2.0.1. The error didn't occur with 2.0.0 with the exact same file and I've only seen the new error on this one test file. The test file is 30MB, but can make available.

C:\WINDOWS\system32>C:\scancode-toolkit-2.0.1\bin\extractcode.exe C:\Users\Scott\AppData\Local\Temp\ncz1xdmf.pik
Extracting archives...
[####################]
ERROR extracting: C:/

[2017-09-03 08:32] pombredanne opened #750 "Sort out classpath-related licenses issues"
We have a bit of a mess to sort out for the classpath exception-related licenses.

Historically we have these:

 - gpl-2.0-library: this is a notice with a GPL (version unspecificed)
    and most of the classpath-exception text except for the first paragraph.
    This should not be a license but a rule instead

 - gpl-2.0-independent-module-linking: this is a notice of gpl-2.0-plus with
    classp

[2017-09-03 10:22] pombredanne commented on #749
I pushed  a test and I cannot reproduce on Linux. The only thing that comes to mind is a Windows MAX_PATH issue (which is limited by default to 260 chars if I recall correctly).

Could you try this for me?
1. Fetch this nuget: https://www.nuget.org/api/v2/package/Microsoft.AspNet.Identity.EntityFramework/2.2.1
2. rename it to test.nupkg and move it to a directory that is short at the root of c:\ f

[2017-09-04 22:12] scottctr commented on #749
I wasn't able to reproduce the error with the EF download, but I think you're right about the issue being with the path length of the destination folder. I moved my test file to c:\ECTemp and it extracts fine, but I continue to get the error when extracting from C:\Users\Scott\AppData\Local\Temp\ECTemp.

There's some info [here](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=v

[2017-09-05 14:33] pombredanne commented on #749
@scottctr Thanks! actually @chinyeungli worked out something in https://github.com/nexB/aboutcode-toolkit/blob/f4303744845eed80d4123bc680d20b1a8b4cdcab/src/attributecode/util.py#L401 for a similar problem.
So there is likely some code we could borrow from this readily.

And https://github.com/mcmtroffaes/pathlib2/blob/develop/pathlib2.py also seems to support for this (this is a essentially a back

[2017-09-06 01:06] scottctr commented on #749
OK, the UNC paths don't seem to work at all. It doesn't produce any errors, but I only get
[code]
output and no files are extracted....at least not where I'm expecting them to be extracted. :-)

[2017-09-06 08:34] pombredanne commented on #749
@scottctr Thanks for testing. I am confident it will work once implemented in the code proper.

[2017-09-06 12:46] pombredanne commented on #750
Here is the todo:

 - [ ] gpl-2.0-library: deprecated and transformed as rules for `gpl-2.0 with classpath-exception-2.0`
 - [ ] gpl-2.0-independent-module-linking:  deprecated and transformed as rules for `gpl-2.0 with classpath-exception-2.0`
 - [ ] gpl-2.0-oracle-openjdk:  deprecated and transformed as rules for `gpl-2.0-plus with classpath-exception-2.0`
 - [ ] gpl-2.0-openjdk: deprecated and

[2017-09-06 18:59] armijnhemel opened #751 "false positives for e-mails from iOS Contents.json files"
Example:

https://github.com/xamarin/XamarinComponents/blob/master/iOS/JZMultiChoicesCircleButton/samples/JZMultiChoicesCircleButtonSample/Resources/Images.xcassets/Success.imageset/Contents.json

When scanning for e-mails this will report:

          "emails": [
        {
          "email": "Shape@3x.png",
          "start_line": 15,
          "end_line": 15

[2017-09-06 21:19] pombredanne commented on #751
@armijnhemel Thanks. Good catch. We should be able to catch these because `.png` and more is not a top level domain most likely using this https://github.com/pombredanne/python-publicsuffix2 which is already bundled in ScanCode but not yet used.

[2017-09-06 21:24] armijnhemel commented on #751
Not just that: it seems to be a fixed format and the files are always called "Contents.json", so it should also be possible to parse the JSON and do a few sanity checks and then tag the file.

[2017-09-06 21:28] pombredanne commented on #751
This could work too

[2017-09-07 11:04] sschuberth commented on #688
@pombredanne, unfortunately, even with ScanCode version 2.0.1.post183.a9d16661, I get

    Traceback (most recent call last):
      File "/workspace/tools/scancode/bin/scancode", line 11, in <module>
        load_entry_point('scancode-toolkit', 'console_scripts', 'scancode')()
      File "/workspace/tools/scancode/local/lib/python2.7/site-packages/click/core.py", line 722, in __call__
        retu

[2017-09-07 15:40] pombredanne commented on #688
@sschuberth this is weird: I cannot repdroduce.
Using the exact same ScanCode version as you and 1.12.4 from serve-static
[code]
I get no error:
[code]

Could you rerun this with the `-n0` option? this disables entirely multiprocessing and threading and provides therefore detailed stack traces.

Also can you do a `./configure --clean` ?

[2017-09-07 15:49] sschuberth commented on #688
We're doing a `git clean -fdx` befor each run, and ScanCode says `Configuring ScanCode for first use`, so `./configure --clean` should not be necessary, correct?

I'll do that ASAP.

Doh, wait a second, I just noticed it's now a Unicode**Encode**Error as opposed to Unicode**Decode**Error.

Original report:

    UnicodeDecodeError: 'ascii' codec can't decode byte 0xb1 in position 28: ordinal not in

[2017-09-07 15:59] pombredanne commented on #688
Note that `./configure --clean` also deleted dangling .pyc files

[2017-09-07 16:01] sschuberth commented on #688
Which `git clean -fdx` (note the `-x`) also does, right?

[2017-09-08 09:11] sschuberth commented on #688
Just wild guessing as Python is not my primary language, but isn't it suspicious that in `u'\udce2'` there seems to be some sort of double-conversion to Unicode? Like `\udce2` already denotes a Unicode char, but it's then converted to Unicode via the `u` prefix again?

[2017-09-08 10:12] pombredanne commented on #688
@sschuberth can you tell some details about your os/version/arch, locale and file system encoding?
And try from a fresh git clone too?
Again I cannot reproduce on Linux when scanning a clone of server-static

[2017-09-08 10:30] sschuberth commented on #688
I cannot reproduce it locally either :-( Here's a traceback from running with `-n0`:

    Scanning product source code in '/workspace/scanroot/serve-static'...
    Scanning files for: infos, licenses, copyrights with 0 process(es)...

    Building license detection index...Done.
    Disabling multi-processing and multi-threading...
    Scanning files...

    Traceback (most recent call last):

[2017-09-08 10:34] pombredanne commented on #688
Could you also add a print statement just before:
`"/workspace/tools/scancode/src/commoncode/fileutils.py", line 231, in path_to_bytes`

e.g. `print('path', repr(path))`

?

[2017-09-08 10:52] sschuberth commented on #688
That gives

    XXX path u'test/fixtures/snow \udce2\udc98\udc83'

[2017-09-08 11:12] pombredanne commented on #688
ok, here what could help:
1. go to the rootdir of scancode, run `source bin/activate`
2. run `python` and post the two first lines that are printed
something like
[code]
3. in python collect encoding and a few more info:
[code]

4. exit python and back in the shell run `locale`

5. past the outputs of all this here

[2017-09-08 11:17] pombredanne commented on #688
@sschuberth actually hold that for a sec. There is a bug I think I found

[2017-09-08 11:29] pombredanne commented on #688
Somehow this all important line change: https://github.com/nexB/scancode-toolkit/commit/f3ce0e2fe62773a1518b92dcbd2ae7df1d72ccda#diff-1e37ecfb9a8c3fccd8ecdfb2ce51f591R346 got lost in merges ... can you still post the data from https://github.com/nexB/scancode-toolkit/issues/688#issuecomment-328076177 ?

[2017-09-08 11:40] pombredanne commented on #688
This latest commit and PR #752 should fix it I hope!

[2017-09-08 11:45] pombredanne commented on #740
Merged in develop!

[2017-09-08 11:45] #740 closed

[2017-09-08 17:13] pombredanne commented on #688
@sschuberth I would need to get your data from https://github.com/nexB/scancode-toolkit/issues/688#issuecomment-328076177 to fix this

[2017-09-08 17:27] sschuberth commented on #688
Here's the output, in order:

    ANSI_X3.4-1968
    ascii
    1114111
    9223372036854775807
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/workspace/tools/scancode/lib/python2.7/UserDict.py", line 40, in __getitem__
        raise KeyError(key)
    KeyError: 'LANGUAGE'
    Traceback (most recent call last):
      File "<string>", line 1, in <module

[2017-09-08 17:30] sschuberth commented on #688
Could it be that [this](https://stackoverflow.com/a/37246853/1127485) is the problem ( I *do* `export PYTHONIOENCODING=UTF-8` globally)?

[2017-09-08 17:36] sschuberth commented on #688
BTW, our strange locale seems to be due to the fact that we run ScanCode inside a Docker container. Need to investigate further.

[2017-09-08 19:36] pombredanne commented on #688
Your file system encoding is actually plain ASCII, which is uncommon but OK for Linux.
[code]
`export PYTHONIOENCODING=UTF-8` may be an issue and is unlikely needed.

You lack of proper locale and LANG/LANGUAGE is likely an issue in general and likely for scancode too.
See for instance: https://github.com/openshift/jenkins/issues/279

[2017-09-11 18:30] sschuberth commented on #688
I can confirm that with a proper locale set inside the Docker container (as described at https://askubuntu.com/a/601498) I'm not seeing the `UnicodeEncodeError` (nor the original `UnicodeDecodeError`) anymore. Should we still keep this open until #752 is merged?

[2017-09-12 22:16] pombredanne commented on #688
@sschuberth Thanks. We still want this opened until #752 is merged alright. If I do not get some reply from @pjdelport I might just build and publish an alternate wheel with the patch to get this moving.

[2017-09-13 04:33] sschuberth commented on #688
I believe @pjdelport is waiting for an answer to [the question](https://github.com/pjdelport/backports.os/pull/4#issuecomment-328369845)

[2017-09-13 08:55] sschuberth opened #755 "Running "pip install ." fails on Windows"
I'm not 100% sure this is supposed to work, but as it does on Linux, I believe it should work on Windows, too. Running `pip install .` on a fresh checkout of ScanCode gives

    Processing c:\dev\scancode-toolkit
    Exception:
    Traceback (most recent call last):
      File "c:\python27\lib\site-packages\pip\basecommand.py", line 209, in main
        status = self.run(options, args)
      File

[2017-09-13 15:23] pombredanne commented on #755
@sschuberth Thanks! It should definitely work. Weirdly enough this seems to be related to the new test files added for #688   that git can handle ok on Windows but pip chokes on. The other weird stuff is that the `pip install .` is exactly what ./configure runs....

So a possible cause could be the version of pip and setuptools you have: can you try with pip 9.0.1?

[2017-09-13 15:31] sschuberth commented on #755
Just tried, same problem with pip 9.0.1.

[2017-09-13 15:52] pombredanne commented on #755
@sschuberth Thanks. The fix is easy: I will tar the test files so they are not "visible" in a checkout and only extracted at test run time and this should likely fix this.
You could check that this will work by deleting locally `tests\scancode\data\unicodepath\` and running pip again

[2017-09-13 15:53] pombredanne commented on #755
@sschuberth which version of Python do you run btw?

[2017-09-13 16:05] sschuberth commented on #755
I'm using Python 2.7.12,

Confirmed that after manually deleting `tests\scancode\data\unicodepath\` running `pip install .` works (well, except that it requires Microsoft Visual C++ 9.0 now, which I don't have installed, to compile some native extension, I guess).

Any idea why the Windows CI did not also break?

[2017-09-13 16:41] pombredanne commented on #755
@sschuberth good. No idea why the Ci works OK. They may have something special in their env.
Now all the deps should be available as prebuilt wheels on Pypi afaik. So no compiler should be needed.... Can you tell me which one failed to install?

[2017-09-13 18:25] sschuberth commented on #755
The package that failed to install due to the missing compiler is called just `url`.

[2017-09-19 16:06] jimjag opened #756 "py.test"
The contribution page mentions using 'py.test' to test local changes. Installation of 'pytest' via pip should be documented.

[2017-09-19 16:17] pombredanne commented on #756
@jimjag the `py.test` script is installed when `pytest` is installed (which is bundled with a scancode checkout and installed when you run `./configure`).

If you are running from a fresh git clone, and you run `./configure` and then `source bin/activate` the `py.test` will be available then. Alternatively if you have already configured but are not in an activate "virtualenv" `py.test` is availabl

[2017-09-19 16:31] pombredanne commented on #756
Note that if you have a multiprocessor machine you might want to run the tests in parallel (and faster)
For instance: `py.test -n4` runs the tests on 4 CPUs.
I typically run the tests in verbose mode with `py.test -vvs -n4`

You can also run a subset of the test suite as shown in the CI configs https://github.com/nexB/scancode-toolkit/blob/develop/appveyor.yml#L6 e,g, `py.test -n 2 -vvs tests/scan

[2017-09-19 17:54] pombredanne commented on #756
@jimjag Since the doc was obviously confusing I added a new section in https://github.com/nexB/scancode-toolkit/wiki/Development#running-tests
Please tell me if this works better for you!

[2017-09-19 18:00] pombredanne opened #757 "Investigate failures in fabric8"
See https://github.com/fabric8-analytics/fabric8-analytics-worker/issues/326

[2017-09-19 18:03] jimjag commented on #756
Perfect. Thx!

[2017-09-19 18:03] #756 closed

[2017-09-19 23:08] pombredanne commented on #755
I fixed the pip install issue from a cloen. AS for the installation of packages that have native code that needs to be compiled there is no easy way out on Windows short of installing a compiler (or point pip to use the pre-built packages in thirdparty/ which is exactly the same as running configure ...)

[2017-09-19 23:22] pombredanne commented on #731
@armijnhemel unless you have an objection I am inclined to trash the last commit f8f2220 and stay as things are in develop at this stage

[2017-09-19 23:58] jdaguil commented on #618
@pombredanne Yes, this makes more sense 😄

[2017-09-20 06:30] #735 closed

[2017-09-20 07:25] armijnhemel commented on #731
fine with me :)

[2017-09-21 00:33] mjherzog opened #759 "Add license reference URL template"
The "dejacode_url" field for a license currently points only to the public instance of DejaCode at https://enterprise.dejacode.com/urn/.  This field should be renamed to "reference_url" with a parameter for a ScanCode user to substitute a URL template where you can reference the license information with the the URL template value concatenated with the ScanCode license "key" field value.

[2017-09-21 00:39] pombredanne commented on #759
@mjherzog Looking all good to me.

[2017-09-22 03:03] kira0204 commented on #382
@pombredanne Let's close this issue?

[2017-09-22 03:22] pombredanne commented on #382
@kira0204 sorry for the latest reply. Yes, if you can then the output trees that would be great!

[2017-09-22 15:41] pombredanne opened #765 "Rename package "type" attribute to "format""
The package "type" attribute is not a great name: not very descriptive and it does not correspond to what we store in this.
What we are trying to convey is that a certain package is a "jar", an "rpm", a "debian package", a "rubygem", etc. which really describes the packaging format.
Other tools use various names to describe a similar concept: fabric8 uses "ecosystem", libraries.io uses "platform",

[2017-09-22 15:54] pombredanne opened #766 "Refactor package detection"
The current package detection is focused on detecting and parsing package manifest.
We should instead handle separately and in two steps:
1. detecting the presence of a package and its package "root" (e.g. a directory or an archive)
2. given that a package exists, collect metadata from a manifest or related files and report these at the package root level (not at the manifest file level)

This wil

[2017-09-22 16:17] pombredanne opened #767 "Introduce scan "recipes""
We have some minimal feature today to drive how scans are done: you can ignore some paths with `--ignore` which is OK but rather weak.

Instead of just adding more ways to ignore things based on other attributes (such as file types) we should have a new way to "drive" what is scanned and which scans are used.

We could for instance skip certain file types entirely. Or decide to perform only a pack

[2017-09-22 18:49] #746 closed

[2017-09-22 19:14] sschuberth commented on #767
Isn't this more or less what we call "policy" in https://github.com/nexB/scancode-toolkit/issues/214 and what we call "user preferences and scan configuration" in https://github.com/nexB/scancode-toolkit/issues/520? In fact, the latter ticket already is a collection that points at other tickets. Personally, I prefer the term "configuration" over "recipe", and thus would recommend to close this tic

[2017-09-22 23:57] pombredanne opened #768 "Some POM deps are returnedd with a groupid of None"
See http://repo1.maven.org/maven2/io/github/subiyacryolite/jds/3.0.1/jds-3.0.1.pom
We get this dependency which is wrong (in the POM) ... but we return None as  a groupid which is not right either

[code]

[2017-09-24 19:28] pombredanne opened #769 "Improve initial ScanCode configuration"
This is a follow up ticket for #744 an #735

There are multiple ways to fetch ScanCode code:
- GIT: a git clone (with eventual subsequent fetch/pull) (contains everything including tests and deps and pre-built native)
- GITBALL: a GitHub tarball/zipball (contains everything including tests and deps and pre-built natives)
- PYPI a `pip install scancode-toolkit` fetching from Pypi (contains no tests

[2017-09-24 19:28] pombredanne commented on #769
@sschuberth FYI

[2017-09-24 19:37] sschuberth commented on #769
Could you please make clearer in the sententes

    There are various ways to configure ScanCode:

        CONFIG: initially run ./configure first, passing eventually an etc/conf path to perform advanced configuration
        SCANCODE: initially run ./scancode which runs ./configure etc/conf on first run if a bin directory does not exist

that explicitly running `./configure` uses `etc/conf/dev` b

[2017-09-25 00:47] pombredanne commented on #769
@sschuberth I updated the main text.

[2017-09-25 02:12] pombredanne commented on #769
So based on all this
- Using from GIT or for DEV is an advanced usage mode IMHO
- The default configuration should always be for production usage and not for development (aka configuration etc/conf)

- configure should not regen the license index but this should be left to the running code to decide (based eventually as it is today on SCANCODE_DEV_MODE which should be renamed)

- When working from

[2017-09-25 12:43] armijnhemel commented on #769
Is this why I am seeing:

* (Re-)Configuring ScanCode because Git working tree is not clean...

If so, please provide instructions on what is the prefered way to use it as a mere mortal :)

[2017-09-25 12:47] sschuberth commented on #769
@armijnhemel Depending on how you run ScanCode / which of the above scenarios apply to you, there's nothing wrong with that message showing up. You need to provide a bit more details 😉

[2017-09-25 13:23] armijnhemel commented on #769
I basically did what I always do: git pull, run configure and then run it. I guess I first should have first export it to a separate directory.

[2017-09-25 13:28] armijnhemel opened #770 "GPLv2+ code recognized as GPL-1.0+"
Some of the code from extensions from Semantic Media Wiki code (example: SQLStore/TableBuilder.php ) has the following header:

/**
 * @private
 *
 * Provides generic creation and updating function for database tables. A builder
 * that implements this interface is expected to define Database specific
 * operations and allowing it to be executed on a specific RDBMS back-end.
 *
 * @license GNU GPL

[2017-09-25 14:00] sschuberth commented on #769
Which I cannot know 😉

No need to export here. The new workflow would simply be to omit the "run configure" part. After "git pull", just run `./scancode` (not `./bin/scancode`) and it will automatically reconfigure if needed.

[2017-09-25 14:18] armijnhemel commented on #769
OK, I will try to keep that in mind for the next time. I had incorporated it into my workflow, as that bit me in the past once (different bug, solved) ;-)

[2017-09-25 16:23] pombredanne commented on #770
@armijnhemel Thanks. A fix is on the way

[2017-09-25 17:02] #770 closed

[2017-09-25 17:11] pombredanne commented on #770
and this is fixed in develop

[2017-09-25 17:13] pombredanne commented on #767
@sschuberth you have a good point. Policies are a tad separate but eventually a config too. I will merge this back in #520

[2017-09-25 18:59] pombredanne commented on #759
I suggest that we use this syntax:
[code]
with a default to this : https://github.com/nexB/scancode-toolkit/blob/00a078e358036d06a3a361949799383599a0df5b/src/scancode/api.py#L100

This needs to be added as a new CLI option

[2017-09-25 21:37] kira0204 commented on #382
[diff.txt](https://github.com/nexB/scancode-toolkit/files/1331024/diff.txt)
[manual-tree.txt](https://github.com/nexB/scancode-toolkit/files/1331025/manual-tree.txt)
[tree.txt](https://github.com/nexB/scancode-toolkit/files/1331026/tree.txt)

[2017-09-26 00:32] JonoYang opened #772 "Post-scan plugin for license expression(s) summarization"
There should be a top level view of all the licenses found in the scanned code base. It should be ordered by license type and number of files with that license. Also, a count of files where a license was not detected should also be kept. This can be done in a post-scan plugin.

[2017-09-26 09:05] FHantke opened #773 "Escaping non UTF-8 in license file paths"
Hello,

I am using my own script to create new license files and rules.
There always an error occoured, while reloading the license files, due to non UTF-8 charachters in the license path names.
At the moment I'm escaping some UTF-8 characters in my license create script, but will it be possible, to use non UTF-8 charachters in license paths?

Tested with scancode version 2.1.0 with python 2.7 at

[2017-09-26 11:52] FHantke commented on #773
My bad, I recognized your key rules here, I forgot about...
https://github.com/nexB/scancode-toolkit/wiki/FAQ#how-to-add-a-new-license-for-detection

Nevertheless, it would be great, if you were able to add more specified keys.

Thanks.

[2017-09-26 11:52] #773 closed

[2017-09-26 15:04] pombredanne commented on #773
@FHantke are you trying to create license rules or license with a key that is not ASCII?

[2017-09-26 19:09] JonoYang commented on #772
The post-scan plugins only have access to the scanned files in a scan. We would need to also be able to interact with how the scans are formatted in order to create a new "top" level field to display the different licenses and the number of occurrences. If we do this, it seems that we would need to create a specific format plugin and option for license summarization or modify every current plugin

[2017-09-26 19:15] pombredanne commented on #772
@JonoYang You have a good point.... yet what is a summarization of data in a file and directory tree? Could  this is be something that you add to the top level directory? In this case, then summarization would not require any new data structure, but only to roll-up data at a directory level may be?

[2017-09-27 18:23] pombredanne commented on #695
So beside not scanning inside binary files (e.g. #712 ), I came to the conclusion that the only sane way to avoid going into the rabbit holes that large files can be is to avoid scanning them entirely.
So rather than having a complicated way to get whatever was scanned until a timeout which is hard, I will add instead a CLI option with a default to only scan up XXX MB of any file where XXX default

[2017-09-27 18:25] pombredanne commented on #695
It is otherwise really hard to state that a file may be containing a log list of licenses like here. Besides this we could also create pre-scan filtering plugins that can make other specific decisions to skip scanning certain files based on custom heuristics

[2017-09-27 18:30] mjherzog opened #774 "LGPL and BSD Detection Problem - license mentions with no version"
I ran a scan of ntp-4.2.6p5 with ScanCode v2.0.1 and found some anomalies in the reporting of an LGPL (no version) license.  The primary example is in the file ./ntpd/ntpd-opts.c which has the following notice:

 *
 * Generated from AutoOpts 35:0:10 templates.
 *
 *  AutoOpts is a copyrighted work.  This source file is not encumbered
 *  by AutoOpts licensing, but is provided under the licensing t

[2017-09-27 20:02] pombredanne commented on #774
@mjherzog Thanks.

- About the lgpl report: Since 5f4920f4db32ddb513fe7255e8f75fe1ec764c0d the bare LGPL keys are no longer reported, but instead an LGPL-2.0+ or LGPL-2.1+ if no version is specified (and the same applies to GPL licenses, etc).... So this is fixed in 2.1.... BUT there are also several small issues with the accuracy of the detected licenses in ntp.... So we need to review this in de

[2017-09-27 22:57] majurg opened #775 "`npm2aur` NPM package scan error"
When running the latest `scancode-toolkit` develop branch, an error occurs when scanning a specific npm package: `npm2aur`.

The source code for this archive is found here: https://registry.npmjs.org/npm2aur/-/npm2aur-0.1.3.tgz

While I have specified `npm2aur`'s version in this ticket as v0.1.3, this error occurs on all other available versions of this package.

Stack tracce:
[code]

[2017-09-28 06:57] pombredanne commented on #774
See the latest commit and this CSV https://github.com/nexB/scancode-toolkit/blob/d73f5302101648c86132385ef8d189078aca2ab9/ntp-v4.csv for a list of things to review. The notes column tells which row/file new some review of the license detection

[2017-09-28 10:14] sschuberth commented on #695
I believe the default should be "unlimited" to not break with current behavior. Also, it should be a conscious decision to potentially omit input data. Other than that, I like the idea of introducing a `--max-file-size` option.

That sounds like a really good idea!

[2017-09-28 16:03] scandinaf710 opened #776 "Does scanning of PHP composer work properly?"
Hi all,

I am using scancode 2.1.0 and according to the release notes scanning PHP composer is already there. However, even though scancode finds _composer.json_, I don't see any analysis of dependencies section even when I put only this file as input.

How to run this package check correctly?

[2017-09-28 18:16] pombredanne commented on #776
@scandinaf710 good catch. The package parser is there but somehow not active. I pushed a branch and PR to fix this

[2017-09-28 18:17] pombredanne commented on #776
@scandinaf710 A fix is waiting for you in the lucky #777 PR !
You can test it by downloading this https://github.com/nexB/scancode-toolkit/archive/776-composer-package-detection.tar.gz
Thanks again for fining this.

[2017-09-29 15:03] scandinaf710 commented on #776
@pombredanne Well, I downloaded tarball and ran this version of scancode asking to analyze just one single file composer.json with the following "require" section:

        "php": "7.1.*",
        "symfony/symfony": "3.2.*",
        "sensio/distribution-bundle": "^5.0",
        "doctrine/orm": "^2.5",
        "doctrine/doctrine-bundle": "^1.6",
        "doctrine/doctrine-cache-bundle": "^1.2",

[2017-09-29 16:32] pombredanne commented on #776
@scandinaf710 Thanks for testing ....
There should be an item in the "package" section in you scan and it is empty. Could you provide a link or attach a zip with your composer.json?

There may be still something that needs to be fixed as there should be a proper "package" item returned when you scan your composer.json file and it looks like this is not the case...

Also here are a couple things fo

[2017-09-29 22:41] DennisClark opened #778 "ScanCode is not recognizing the Python programming_language for .whl files"
I'm running scancode-toolkit-2.1.0 on Mac OS.  I ran a scan using these parameters:
```./scancode --format json -c -l -p -e -u -i  /scancode-toolkit-src-2.1.0/thirdparty```
and then converted the .json output to .csv.
The programming_language field is empty for all  of the .whl files.  Since that is a standard format for Python packages, it seems that it ought to recognize Python.

See https://www

[2017-09-30 07:56] kira0204 commented on #382
@pombredanne

[2017-10-01 01:32] pombredanne commented on #778
@DennisClark Thanks. We should report a wheel as a package alright.

[2017-10-01 13:01] FHantke commented on #773
Yes, I have licens names with e.g. ä,ö,ü and tried to use the name as key.
Now I'm using the SHA256 of the license text.

[2017-10-01 17:38] pombredanne commented on #773
@FHantke OK, only ASCII letter and numbers, dash, dot and underscore are supported for keys for now: this is the only sane way I know off to have portable filenames across OSes (e.g. Windows and POSIX)

Just out of curiosity what are these licenses?

[2017-10-01 17:52] pombredanne opened #779 "Improve download URLs collection for NPMs"
in https://raw.githubusercontent.com/Postmedia/jsonp-filter/master/package.json we get this:
[code]
which is obviously wrong. The `web` thing is collected from the original package.json attribute:
[code]
and this is not right: the url attribute is not a download URL and is some legacy way of NPM circa 6 years ago.

One thing could be to consider the code in https://github.com/nice-registry/ to hel

[2017-10-02 01:29] pombredanne commented on #382
So I ran a seide-by-side extract test on Windows. The issue there is is the same as #749
The paths to the temp directory (that can be set to a shorter path dir with `set SCANCODE_TMP=<alternate temp dir>` exceeds the Windows maximum.... and this is eventually due to the path of the hadoop archive to be too deep for Windows .

This explains the issues of discrepancies and the errors.

Solution: 1.

[2017-10-02 01:29] #382 closed

[2017-10-02 02:13] pombredanne commented on #749
@chinyeungli @kira0204 ping. I closed #382 and I will track adding support for long file UNC names for Windows here.

[2017-10-02 09:43] scandinaf710 commented on #776
@pombredanne thank you for your explanation. Please, find attached composer file.
[composer.zip](https://github.com/nexB/scancode-toolkit/files/1348471/composer.zip)

[2017-10-02 19:04] DennisClark opened #780 "ScanCode reports a license key of "unicode-data-software" rather than "unicode""
I'm running scancode-toolkit-2.1.0 on Mac OS. I ran a scan using these parameters:
./scancode --format json -c -l -p -e -u -i /scancode-toolkit-src-2.1.0/thirdparty
and then converted the .json output to .csv.

For the component "idna" one of the license keys reported is "unicode-data-software".  This should simply be "unicode".

Here is the complete text of the idna.NOTICE file:

[code]

[2017-10-02 19:39] pombredanne commented on #780
@DennisClark Thanks! I had documented what I thought were the proper licenses in https://github.com/nexB/scancode-toolkit/blob/develop/thirdparty/base/idna.ABOUT and https://github.com/nexB/scancode-toolkit/blob/develop/thirdparty/base/unicode-data-software.LICENSE

The section in the NOTICE you reference is matched exactly to https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/

[2017-10-02 20:49] pombredanne opened #781 "Add streamable json output format"
A format such as one of http://ndjson.org/ or http://jsonlines.org/ or https://tools.ietf.org/html/rfc7464 allows to stream write and stream read possibly large JSON data/files without the need to load it all in memory. This would be a valuable text format for data interchange with AboutCode manager and other tools.

[2017-10-02 21:32] pombredanne opened #782 "Do not report absolute location for NPM package "metafile""
This should be only a filename

[2017-10-03 04:52] pombredanne commented on #776
@scandinaf710 I was able to track the issue thanks to your test file and this has been merged in develop.
You can test it there

[2017-10-03 14:35] chetanya-shrimali commented on #656
Hey, @pombredanne I did check the following repo for the license. It did get the MIT License present in the following.
![screenshot from 2017-10-03 20-01-19](https://user-images.githubusercontent.com/18073480/31130772-f0dcfa8a-a875-11e7-80f1-9c65714559ba.png)

[2017-10-03 19:55] pombredanne opened #784 "Always collect full stack trace for scan errors"
Scan errors should come always with a full stack trace for diagnostic, being forced to use the --diag option is not a great solution as these may be hard to reproduce at times.

[2017-10-03 23:11] pombredanne opened #785 "Failed to process package.json"
The package.json in https://registry.npmjs.org/react-mobile-navigation-modal/-/react-mobile-navigation-modal-0.1.0-rc.3.tgz
... has this :
[code]
The lack of URL makes the code crash.

[2017-10-04 02:06] pombredanne commented on #731
So I am closing this. The final behavior for now is:
 - `-n0` disables multi-processing and threading and ignores timeout. Valuable for debugging only
 - `-n1` use single processing with threading and timeout (the default(
 - `-n 2 or more` use multi-processing with threading and timeout

[2017-10-04 02:06] #731 closed

[2017-10-04 02:07] pombredanne commented on #785
Fixed in develop

[2017-10-04 02:07] #785 closed

[2017-10-04 02:07] pombredanne commented on #782
Fixed in develop

[2017-10-04 02:07] #782 closed

[2017-10-04 02:08] pombredanne commented on #779
Fixed in develop

[2017-10-04 02:08] #779 closed

[2017-10-04 05:49] pombredanne commented on #775
This is fixed in develop. Thank!

[2017-10-04 05:49] #775 closed

[2017-10-04 18:17] JonoYang commented on #781
After a discussion with @pombredanne, we will use JSON Lines to create a new format plugin.

The first line of output would be the header. This would be a JSON object whose key is `header` and value is a JSON object that contains `scancode_notice`, `scancode_version`, `scancode_options`, and `file_count`.

The subsequent lines would be a JSON object whose key is `files` and value is a list contain

[2017-10-04 18:44] pombredanne commented on #781
See also https://github.com/nexB/aboutcode/issues/7 about the header

[2017-10-04 19:31] pombredanne opened #787 "Allow a plugin to provide more than one option"
We should have a way for a plugin to provide not one, but several CLI options
Also a plugin should be able to provide fully configured click Options as options and not be constrained in what the options args are.

This is needed whenever more than one option is required or when more advanced settings need to be provided for a given option. This would be needed for scan plugins where several have m

[2017-10-04 20:49] pombredanne commented on #395
This is now fixed in develop

[2017-10-04 20:49] #395 closed

[2017-10-04 20:49] pombredanne commented on #674
This has been merged

[2017-10-04 20:49] #674 closed

[2017-10-04 20:53] pombredanne opened #789 "Support multiple outputs from a single scan"
It would be nice to have multiple outputs created at once. Today this requires re-running a scan as a scan has only a single output file.

[2017-10-04 20:54] pombredanne commented on #381
This has been completed and merged in develop.

@sschuberth you wrote:

Just ping as if we support #789 in the future, then we would need to have one option for each format such that we can specify which file each output should be written to.

[2017-10-04 20:54] #381 closed

[2017-10-04 21:55] pombredanne commented on #271
Actually this is something that is implemented in https://github.com/nexB/aboutcode-manager instead ... @jdaguil can you paste the ticket link here for reference so I can close this?

[2017-10-04 21:57] pombredanne commented on #645
So this would be a package homepage of sorts, that would be filled in the package page for a package such as https://www.npmjs.com/package/sqlite3 .... which is something that might be relatively universal, would it?

[2017-10-04 22:02] pombredanne commented on #212
@DennisClark I am closing this as these type of features are now provided by https://github.com/nexB/aboutcode-manager instead.

[2017-10-04 22:02] #212 closed

[2017-10-04 22:03] pombredanne commented on #211
See also https://github.com/nexB/aboutcode/issues/7

[2017-10-04 22:16] pombredanne commented on #170
The latest code return `Copyright (C) 2000 - various` which is good enough in this case IMHO.
I am closing this. Thanks

[2017-10-04 22:16] #170 closed

[2017-10-04 23:04] pombredanne commented on #153
Short of an exact test case I cannot act on this . @jdaguil do you have something with some extract test text?

[2017-10-05 07:56] sschuberth commented on #381
Or, preferably, extend `--format` to take a comma separated list, like

    --format json,spdx-tv

[2017-10-05 07:57] sschuberth commented on #789
This probably should be supported via something like `--format json,spdx-tv`.

[2017-10-05 16:00] pombredanne commented on #789
@sschuberth How would you pass the path to the output file for each format then?
What about something like this?
`--format-json  foo/bat/scan.json --format-spdx-tv  this/that/scan.spdx`

[2017-10-05 17:03] pombredanne commented on #153
Here is what I get as a detection:
[code]
@jdaguil I am closing for now as this seems to be fixed.
Please submit a new ticket or reopen if you see this issue again.
Thank you!

[2017-10-05 17:03] #153 closed

[2017-10-05 17:05] pombredanne commented on #110
This has been fixed in #790
Thank you!

[2017-10-05 17:05] #110 closed

[2017-10-05 17:05] pombredanne commented on #191
This has been fixed in #790
Thank you!

[2017-10-05 17:05] #191 closed

[2017-10-05 17:06] pombredanne commented on #130
Authors are exposed in scans alright (and have been for a while)
This has been fixed in develop and I added more test in #790
Thank you!

[2017-10-05 17:06] #130 closed

[2017-10-05 17:08] pombredanne commented on #168
This has been fixed in #790

The returned data are:
[code]

Thank you!

[2017-10-05 17:08] #168 closed

[2017-10-05 17:08] pombredanne commented on #107
This has been fixed in #790 Thanks for the report!

[2017-10-05 17:08] #107 closed

[2017-10-05 17:19] pombredanne commented on #134
@ened in the end this is a case that has been resolved as this is Linux specific and should therefore be GPL-2.0. This is what is returned after several refinements part of reviewing full kernel scans with kernel maintainers:
[code]

Closing this then. Thank you for your patience!

[2017-10-05 17:19] #134 closed

[2017-10-05 17:21] pombredanne commented on #117
This is taken care for the supported packages. There are dedicated bugs where need such as #649. Closing this

[2017-10-05 17:21] #117 closed

[2017-10-05 22:23] #660 closed

[2017-10-06 08:49] sschuberth commented on #119
Similar to [my argument](https://github.com/nexB/scancode-toolkit/issues/695#issuecomment-332792493) regarding the `--max-file-size` option, I also believe we should have a `--max-pdf-pages` option that defaults to "all". If the `--max-pdf-pages` option is specified I don't believe we need to issue a warning, as the user already explicitly expressed his / her intent to limit the "scan depth". Howe

[2017-10-06 09:03] sschuberth commented on #789
Ah, sorry, I was too much thinking about how our own pre-processor takes command line arguments. We have a `--format` option that takes a comma-separated list of formats, and an `--output-dir` option that specifies the single output directory for all formats. The actual file base name is derived from the input directory / file.

If that's not flexible enough, I could also imagine `--format` to tak

[2017-10-06 10:42] jpopelka commented on #689
I think this can be closed now. I'll try to create the pre-scan plugin and let you know if I hit any issues. Thank you !

[2017-10-06 19:16] pombredanne opened #793 "Collect package information from a .gradle script"
This is a package manifest of sorts, equivalent to a pom.xml
See https://docs.gradle.org/4.2.1/dsl/

[2017-10-06 19:38] pombredanne opened #794 "Ensure that license owners are optional. Do not use "nexB" as owner by default"
For instance using a nexB owner for a proprietary generic license is confusing and misleading

[2017-10-06 19:40] mjherzog commented on #794
For the generic Proprietary License we can use "Unspecified" instead.  I have updated to that value in DejaCode.

[2017-10-06 19:59] jdaguil opened #795 "Incorrect copyright holders detected"
ScanCode Version: 2.2.1
Package scanned: [gnutls-3.5.8](https://www.gnupg.org/ftp/gcrypt/gnutls/v3.5/gnutls-3.5.8.tar.xz)

Several copyright holders contain copyright dates. For example, the following copyright holders were detected.

| Copyright Statement  | Copyright Holder|
|---|---|
| COPYRIGHT Copyright \ co 2001-2017 Free Software Foundation, Inc., and others.  | \ co 2001-2017 Free Software

[2017-10-06 20:03] pombredanne commented on #795
@jdaguil Thanks for the report! what is the holder that you expect to get in these cases?

[2017-10-06 20:16] jdaguil commented on #795
@pombredanne  I would expect:

| Copyright Statement | Copyright Holder |
|---------------------|------------------|
| COPYRIGHT Copyright \ co 2001-2017 Free Software Foundation, Inc., and others. | Free Software Foundation, Inc., and others |
| Copyright (c) 2000-2017 Free Software Foundation, and others | Free Software Foundation, and others |
| COPYRIGHT Copyright \ co 2014-2017 Free Software

[2017-10-09 21:18] pombredanne commented on #795
@jdaguil this has been fixed and merged in develop. Thank you for report!

[2017-10-09 21:18] #795 closed

[2017-10-10 01:58] pombredanne opened #797 "False positive detected in binaries"
In the nupkg at https://www.nuget.org/api/v2/package/EntityFramework/6.1.3 GPL licenses are detected
This is a zip file that should not even be scanned!
On the other hand this (or at least the .nuspec file baked in) should be reported as a package and even when extracted this is not reported.

[2017-10-10 01:58] pombredanne commented on #797
note that this is closely related to #792 and @jpopelka need to skip binaries

[2017-10-10 02:44] pombredanne commented on #797
And the nupkg at https://www.nuget.org/api/v2/package/Microsoft.AspNet.WebPages/3.2.3 has some MS license detected... but this is happens only to be vaguely related.

[2017-10-10 02:48] pombredanne opened #798 "Report .nupkg as proper Packages"
Today only .nuspec "manifests" are detected and reported as a "Package" in a scan.
This works for .nupkg only if they have been extracted before the scan and this is not practical to always do so. We should be able to report and introspect in a scanned archived package to report this as a package with all its metadata.
See also #797 and #222 and #761

[2017-10-10 03:22] pombredanne commented on #789
@sschuberth you wrote

I have thought of this approach, but that sounds to me as difficult to understand and removes control by the user of which files are created exactly. Passing a list of comma-separated file paths and inferring the format based on this feels also like a possible source of confusion..

I find it though to get the right CLI UI/UX here!
I wonder if there are other CLI tools that

[2017-10-10 07:09] sschuberth commented on #789
That's what we do right now, after all, as we need your own "flavor" of SPDX-TV. While that approach certainly has its advantages, the one thing that I don't like about it is that you lose visibility over what output formats are supported. I simply like it when `scancode --help` tells me about that.

[2017-10-10 18:43] pombredanne commented on #789
@sschuberth so you want `scancode --help` to tell you about all the available formats, as it should.
Right now, the help list only brief format "code names" right after the `--format` option.
If we were to use multiple options such as `--json <path to output file>`, `-- spdx-tv <path to output file>` we could still have a compact display in the help and these could still be grouped together.

Curr

[2017-10-10 22:29] pombredanne opened #799 "Add license detection rules for common nuget license URLS"
The Nuget nuspec manifest only provides limited licensing information, typically a URL. We do not have many of these URLs as license rules and we should improve this to properly map these URLs to a detected license key.

[2017-10-10 23:17] JonoYang commented on #781
Merged

[2017-10-10 23:17] #781 closed

[2017-10-11 19:16] pombredanne opened #802 "Always return minimal type information with a scanned file"
AboutCode Manager and other tools need to know if a path is a file or directory at the minimum.
This information is only returned with the `--info` option atm. We should provide this all the times IMHO whether or not detailed file information was requested otherwise proper downstream processing of  scan results  may not be possible.

[2017-10-11 21:58] jdaguil opened #803 "Weird URL detected"
The following URL was detected with v2.2.0

`"url": "http://www.w3.org/XML/1998/namespace%00%00%00%00xmlns%00%00%00http:/www.w3.org/2000/xmlns/%00%00%00ixmlElement_setTagName%00%00ixmlElement_findAttributeNode%00%00%00#document\u0000\u0000\u0000#text\u0000\u0000\u0000#cdata-section\u0000\u0000nnMap"`

I do not think this is a useful URL. At minimum, it should probably be two URLs.

[2017-10-12 21:47] pombredanne commented on #585
@kalagp I am closing this ticket unless you have an objection: please reopen.
On the initial issue that was to merge "Multiple repos in one html-app file" this is unlikely to happen in scancode proper because the html-app is going to be deprecated in favor of the AboutCode Manager at https://github.com/nexB/aboutcode-manager which has many more visualization capabilities that we woucl ever cram in

[2017-10-12 21:48] #585 closed

[2017-10-13 03:00] pombredanne commented on #304
I am closing as this is not something for scancode to implement. Eventually the html-app will be deprecated and https://github.com/nexB/aboutcode-manager should be used for visualization of scans instead

[2017-10-13 03:00] #304 closed

[2017-10-13 03:01] pombredanne commented on #271
I am closing as this is not something for scancode to implement.  This has been implemented in https://github.com/nexB/aboutcode-manager/issues/167

[2017-10-13 03:01] #271 closed

[2017-10-13 03:03] pombredanne commented on #666
Eventually the html-app will be deprecated and https://github.com/nexB/aboutcode-manager should be used for visualization of scans instead
I would like to close this. @jdaguil I assume this is not an issue that exists in AboutCode manager, correct?

[2017-10-13 03:04] pombredanne commented on #525
I am closing this and further work on the UI can take place in  https://github.com/nexB/aboutcode-manager that should be used for visualization of scans instead.

[2017-10-13 03:04] #525 closed

[2017-10-13 03:06] pombredanne commented on #367
I am closing this and further work on the UI can take place in https://github.com/nexB/aboutcode-manager that should be used for visualization of scans instead.

[2017-10-13 03:06] #367 closed

[2017-10-13 03:07] pombredanne commented on #154
I am closing this and further work on the UI can take place in https://github.com/nexB/aboutcode-manager that should be used for visualization of scans instead.
The html-app will be deprecated in favor of the AboutCode Manager app.

[2017-10-13 03:07] #154 closed

[2017-10-13 19:12] kalagp opened #804 "Copyright rules ??"
Hello,

I'm trying to implement some automation job on the copyrights for a source code, does nexb scancode gives the list of files that doesn't have copyright info ??

Example:
src1/temp.json
src1/install.sh
src1/blah.java

[2017-10-13 19:37] pombredanne commented on #804
@kalagp when using a scan with the `--copyright` option (eg `./scancode --copyright --format json-pp samples/zlib/ ` ) the JSON output structure will look like this (nb: I only kept s a few entries):
[code]
therefore you can load the scan results and get the detected copyrights or holder for each file. If there is no copyright detected the array will be empty.
Using Python a session and a snippet

[2017-10-13 20:17] kalagp commented on #804
@pombredanne  Thanks for the help.

Also, JSON file shows the 'folders' as well (see below) . Is there anyway we can ignore this ?

{
		"path": "rcm-fitness-common-parent-master/rcm-fitness-common-distribution/build/install",
		"scan_errors": [],
		"copyrights": []
	},

[2017-10-13 20:26] pombredanne commented on #804
There is no command line option to ignore from the output the directories only (and we may soon have some scan data reported at the directory level)
you could use the `--only-findings` option but this would filter out from the scan anything without a finding (eg. copyright or license or else) be it a file or directory.
The simplest way is to filter it out when you process the scan results as menti

[2017-10-14 00:44] pombredanne opened #805 "Design and use a proper "universal" and unique package identifier"
We need a proper package id that is universal and unique: the difficulty is that each package management technology uses more or less parts in an identifiers beyond basic name+version: Maven GAVs, RPM NEVRA, etc.
A simple solution is to have a single string ID with a prefix that describes what this is about and have a variable number of slash or colon-separated segments URN/URI-style such as used

[2017-10-15 17:08] R2wenD2 commented on #805
The naming conventions set forth by Grafeas are at least partially in use by Grafeas partners.
Unfortunately, there isn't currently a longer list.

[2017-10-16 04:05] pombredanne commented on #805
@R2wenD2 Thank you for chiming in! Any pointer to some public or open source reference? or additional details you can share? Any documentation beyond your readme?

[2017-10-16 04:06] pombredanne commented on #805
@mnonnenmacher @sschuberth ping, as this is a topic that is of interest you based on this discussion  https://github.com/nexB/aboutcode/issues/6#issuecomment-334425350

[2017-10-16 07:56] R2wenD2 commented on #805
The best public pointer I can share are [jFrog xray component identifiers](https://www.jfrog.com/confluence/display/XRAY/Xray+REST+API#XrayRESTAPI-ComponentIdentifiers) It has small differences from Grafeas (docker and generic files), but the others match. Does that help?

We're using the identifiers suggested by the package manager where applicable and just prefixing with info about which package

[2017-10-16 08:14] sschuberth commented on #805
@pombredanne FYI, the Grafeas spec is at https://github.com/Grafeas/Grafeas

[2017-10-16 08:17] sschuberth commented on #805
@pombredanne Also, right now we use the tuple `$packageManager:$namespace:$name:$version` as the identifier, where `$namespace` is "The namespace of the package, for example the group id in Maven or the scope in NPM".

[2017-10-16 09:11] pombredanne commented on #805
@sschuberth this approach works well for Maven and NPMs but may not be work for other package managers/formats/identifiers. Some remarks:

1. namespaces do not exist for Pypi and Rubygems for instance

2. extra identifying elements may be typically needed for Linux distro packages (e.g. rpm and deb) such as distro/os, arch (though release/version/epoch of rpms and similar for debs could be stuffed

[2017-10-16 09:15] sschuberth opened #806 "ScanCode expects failure when scanning patchelf.pdf"
I just realized that ScanCode [expects a failure](https://github.com/nexB/scancode-toolkit/blob/develop/tests/scancode/data/failing/patchelf.expected.json) when scanning its very own `tests/scancode/data/failing/patchelf.pdf`.

I believe that failure actually is a bug in pdfminer(.six) that should get fixed there. But before I report this as a bug to upstream, I wanted to check with @pombredanne w

[2017-10-16 09:18] R2wenD2 commented on #805
I tend to agree with @pombredanne that the latter is more resilient and preferred.

[2017-10-16 09:19] sschuberth commented on #805
Correct. We simply use an empty thing in such cases.

2. and 3. could probably be captured by a generic optional extra qualifier field whose meaning depends on the package manager.

[2017-10-16 09:29] pombredanne commented on #806
@sschuberth there is a bug upstream with possible fixes afaik: https://github.com/euske/pdfminer/issues/96 Eventually this would be needed in pdfminer.six as pdfminer proper seems like a flatliner

[2017-10-16 09:47] sschuberth commented on #806
Do you think my blindly typed https://github.com/pdfminer/pdfminer.six/pull/96 would fix the issue (please add any review comments over there)?

[2017-10-16 10:02] pombredanne commented on #806
@sschuberth It certainly works and sounds good defensive programming to me!

[2017-10-16 10:25] pombredanne commented on #806
For reference see also
- #289
- https://stackoverflow.com/questions/40158637/struct-error-unpack-requires-a-string-argument-of-length-16/40325490#40325490
- https://github.com/euske/pdfminer/issues/144 and https://github.com/euske/pdfminer/issues/96

[2017-10-16 10:36] pombredanne commented on #805
@R2wenD2 you wrote:

Thank you for the xray pointer!  Anyone there that you could ping?
I have minor consistencies comments e.g. for instance using `gav` for things that are from  Maven repos and using pip which is the manager for Python pypi packages seem a tad weird as it is either uncommon (gav) or not clear if what is referenced is a packaging format as served by some repo technology (e.g. gav

[2017-10-16 10:40] pombredanne commented on #805
@reiz @andrew out of curiosity, do you use any such thing in versioneye or libraries.io ?
@jpopelka your convention in openshift and fabric8 is "ecosystem:name:version" right? where the ecosystem is more or less the same as the grafeas "package manager" URL?

[2017-10-16 10:56] jpopelka commented on #805
Yes, our 'ecosystem' is basically a 'package manager'.

[2017-10-16 11:05] andrew commented on #805
@pombredanne we don't have something similar to `ecosystem/name/version` but that doesn't quite enough to be truly unique it as it ignores architecture (rubygems for example can have different versions available for MRI/JRuby gems) and different registries (Maven central vs jfrog for example, but almost every package manager can point at different registries which may have the same name for a diff

[2017-10-16 11:59] pombredanne commented on #805
@andrew Thanks! you wrote:

That's a clean and mostly universal approach too! But it does not always convey what a package "format" would be pointed to by a given URL unless this is for well known registries?

@R2wenD2 this brings up a possible ambiguities in the grafeas/xray approach:
- the identifier points unambiguously to a unique file or set of files for your htts://(docker) and file:// schem

[2017-10-16 14:58] kalagp commented on #804
@pombredanne  Thanks a lot. It works!!
Also, Do we have any wiki for './scancode --copyright --info --quiet -n 2 --format json-pp'  example ?

[2017-10-16 15:06] pombredanne commented on #804
@kalagp not specifically ... if you want to give it shot this would be great!

[2017-10-16 23:17] jdaguil opened #807 "Add unique path test"
See https://github.com/nexB/aboutcode-manager/issues/177

Add tests for `path` attribute to ensure it is unique.

[2017-10-17 14:32] R2wenD2 commented on #805
@elad165 Should be able to help here.

[2017-10-18 00:20] jdaguil opened #808 "Support SQLite as an output format"
It would be great if ScanCode supported SQLite file format as an output.

[2017-10-18 00:42] mjherzog commented on #808
Specifically we should have a post-scan plugin to create an AboutCode SQLite file ready for AboutCode Manager.  Converting a JSON file to SQLite as the first step in using AboutCode Manager is not a great first impression and this conversion is effectively a background process in any case.

[2017-10-18 13:29] pombredanne commented on #807
Actually all the tests for scan results are already checking this. By construction, paths are unique.
Thanks for bringing this up!

[2017-10-18 13:29] #807 closed

[2017-10-18 14:58] pombredanne commented on #806
@sschuberth if we do not get a merged and release in the next few days, I will create a build of pdfminer.six off your patches ;)

[2017-10-20 14:48] pombredanne commented on #109
It looks like this has been fixed in develop.

[2017-10-20 14:48] #109 closed

[2017-10-20 15:04] pombredanne commented on #305
This is fixed in develop:
[code]

[2017-10-20 15:04] #305 closed

[2017-10-20 15:09] pombredanne commented on #216
@nakami you never replied to this? Shall I close? do my explanation made sense?

[2017-10-20 15:12] pombredanne commented on #394
I am closing for now unless someone wants to tackle support for this

[2017-10-20 15:12] #394 closed

[2017-10-20 15:17] pombredanne commented on #512
ok I am closing this as we cannot run on Pypy for now anyway.

[2017-10-20 15:17] #512 closed

[2017-10-20 15:19] pombredanne commented on #462
Closing now since there is no conversation. Please check https://github.com/nexB/aboutcode-manager too!

[2017-10-20 15:19] #462 closed

[2017-10-20 15:21] pombredanne commented on #581
This has all been merged in devel!
Thanks!

[2017-10-20 15:21] #581 closed

[2017-10-20 15:22] pombredanne commented on #607
@jdaguil ping?

[2017-10-20 15:23] pombredanne commented on #643
This has all been merged in develop. Thanks!!

[2017-10-20 15:23] #643 closed

[2017-10-20 15:26] pombredanne commented on #677
This is fixed in develop

[2017-10-20 15:26] #677 closed

[2017-10-20 15:28] pombredanne commented on #755
@sschuberth this should be all set now, right?

[2017-10-20 15:28] pombredanne commented on #745
This has been merged in develop

[2017-10-20 15:28] #745 closed

[2017-10-20 15:55] sschuberth commented on #755
Unfortunately, it still does not seem to work with the current `develop` branch. I'm getting:

[code]

[2017-10-20 16:06] pombredanne commented on #755
Thank you! I now hate windows :D but we will fix this eventually !

[2017-10-21 09:35] pombredanne opened #811 "Update README with new screenshot(s) of ScanCode workbench"
This is much better looking and more usable for scan reviews than the HTML app... that will be deprecated soon enough!

[2017-10-21 09:36] pombredanne commented on #811
@jdaguil could this be something you could look at? Thanks!

[2017-10-21 09:52] pombredanne opened #812 "Odd license at https://github.com/ebutterfly/EBPurchase/blob/master/README.mdown#license"
This license by @ebutterfly  is a unique license, a kind of mit/bsd'ish crossover
See https://github.com/ebutterfly/EBPurchase/blob/master/README.mdown#license

The detection works but is not accurate:
[code]

[2017-10-24 16:52] sharonlcorbett opened #814 "Include Version Number of ScanCode Toolkit in Reports"
It would be extremely helpful if the report could indicate which version of ScanCode was used.

This could be included in the footer or as an html comment.  Additionally including it in the json report would be useful if not already included.

Thanks!

[2017-10-24 17:00] pombredanne commented on #814
@sharonlcorbett sure thing: It is included in the JSON outputs as data and the SPDX outputs as comments.
There is no straightforward way to include it in the CSV output but I find one.
Which output do you use?

[2017-10-24 17:06] eclipsewebmaster commented on #814
We use the JSON outputs, as well as the HTML outputs. Having the version in the HTML would be great.

[2017-10-24 17:44] pombredanne commented on #814
@eclipsewebmaster that's an easy one. Note also that there is plans to get multiple outputs from a single scan run #789

[2017-10-24 18:04] eclipsewebmaster commented on #789
Subscribed, that would be useful for us. Thank you

[2017-10-24 18:04] eclipsewebmaster commented on #814
I've subscribed to #789. That would be very helpful for us today, as we invoke Scancode twice.

[2017-10-24 18:19] pombredanne commented on #814
@sharonlcorbett @eclipsewebmaster I just pushed a `814-scancode-version-in-html` branch adding the version details to the html outputs.
You can give it a try with a git checkout or with this download: https://github.com/nexB/scancode-toolkit/archive/814-scancode-version-in-html.tar.gz

Thanks++ for the report. Much welcomed!

Side note: you might want to check out https://github.com/nexB/aboutcode

[2017-10-25 05:47] jdaguil commented on #607
I agree this is a bug. Definitely for license and copyright there is no reason to count directories as missing license or copyright respectively because we only expect files to have license or copyright. This is still the case in AboutCode Manager. I can add an issue to fix it for AboutCode Manager.

[2017-10-25 09:32] pombredanne commented on #607
@jdaguil What if we were to report the count of files and dir separately? There are some side effects in ScanCode as some plugin may filter out some files that were scanned but have no findings so I would like to report these as the number of scanned files and dirs (which may not be the number of reported files and dirs). Note that there will be eventually mechanically summarized license and origi

[2017-10-25 13:00] eclipsewebmaster commented on #814
Verified in 814. Thank you!

[2017-10-25 13:13] pombredanne commented on #814
@eclipsewebmaster Thank you for testing this! I am merging then.

[2017-10-25 13:13] #814 closed

[2017-10-25 13:54] pombredanne opened #816 "Add Makehuman license exception?"
See http://www.makehuman.org/license.php and  http://www.makehuman.org/license_explanation.php

to use CC0 1.0 Universal as published by the Creative Commons, either version 1.0 of the License, or (at your option) any later version, as a license for the MakeHuman characters exported under the conditions that a) The assets were bundled in an export that was made using the file export functionality

[2017-10-25 14:09] pombredanne opened #817 "Add new license matcher for SPDX-License-Identifer"
Do not use license rules for these but instead a specialised matcher

[2017-10-25 14:22] pombredanne opened #818 "Add coveragerc to improve coverage reporting"
There is a lot of noise in the CI coverage reports because of logging and tracing. A config file should help alleviate this

[2017-10-25 15:25] DennisClark opened #819 "Copyright detection should ignore license copyrights"
Copyright detection reports the copyrights on license texts from codebases.  These are a distraction, and not helpful. Typical examples are the FSF and the Apache Software Foundation.

[2017-10-25 15:28] pombredanne commented on #819
Closed as dupe of #372 .... Thanks!

[2017-10-25 15:28] #819 closed

[2017-10-25 15:28] pombredanne commented on #372
@DennisClark commented in #819

[2017-10-25 16:22] pombredanne commented on #74
To avoid any major API breakage in the returned data, I am adding for now just a new `license_expressions` attribute as a list of the license expressions strings detected in a given file. These expressions will be composed of ScanCode license keys and not SPDX Ids for now.

[2017-10-25 21:39] pombredanne commented on #789
@sschuberth any feedback on my last comment?
@eclipsewebmaster any input on the proposed user experience?

[2017-10-26 07:49] sschuberth commented on #789
Sorry for my late feedback, @pombredanne. I somewhat like your suggested "New way" command line help, however, I'd prefer to have all output format options prefixed with `--output-*`, like `--output-json`, `--output-json-pp` etc. to better explain *what* the format is about. In exchange, we probably can omit the explicit grouping of command line options.

Finally, I don't think there's much value

[2017-10-26 08:35] pombredanne commented on #789
@sschuberth Thank you! FWIW the grouping comes for free from the fact that these are output plugins. I like your explicit `--output` prefix anyway much better and no summary needed.

As a side note (as least on POSIX) we could also add shell completion (which is built in @mitsuhiko Click library)

[2017-10-26 13:21] pombredanne opened #820 "Add custom extra fields to some outputs such as SDPX"
Here are some fields that could be added to an SPDX document output (considering T/V output) and would help make this output personalized and more readily usable without editing:

- Document Information
Possibly for some custom DocumentComment
- Creation Info
  - Creator: Organization:
  - CreatorComment:

-  Package
   - PackageName:
   - PackageVersion:
   - PackageSupplier:
   - PackageSummary:

[2017-10-27 10:30] pombredanne opened #822 "Review duplication of LicenseRef in SPDX outputs"
The SPDX output (at least as tag/value) may contain several time the same exact license ref when the same extracted text is matched. Having only one such licenseref would make the document smaller and cleaner

[2017-10-27 11:30] pombredanne commented on #804
@kalagp do you feel like adding some doc to the wiki after all?

[2017-10-27 11:31] pombredanne commented on #805
@elad165 any feedback?

[2017-10-27 12:00] supragya opened #824 "Review 'unicode' filetype unit test - wrong/incomplete test"
The unicode filetype test `test_filetype_file_on_unicode_file_name2` as given in `tests/typecode/test_contenttype.py` is either incomplete or wrong.

A run of command: `py.test -n 2 -vvs tests/typecode -k unicode --capture=sys` reveals this.

**Required**: Refactoring/Rewritting the function. Successfully extract zip file `unicode2.zip` as done in `test_filetype_file_on_unicode_file_name()` to ass

[2017-10-27 12:48] supragya commented on #824
Unit Test passes, check https://github.com/nexB/scancode-toolkit/pull/825/commits/41f0b3522390f8849bda878ce57cbf0664390c07. @pombredanne , kindly check and if satisfied, close the ticket.

[2017-10-27 14:21] pombredanne commented on #805
So here is my proposal for ScanCode at least and ABC Data in general:
I like the URL/URI approach from Grafeas and xrays a lot. Using plain HTTP URLs as used in libraries.io can work too but is a tad too generic for my taste.
But using URLs in general is a great thing.

Now about the parts of a package identifier:

**1.** Fist is what is called ecosystem, package_manager, package_type or the schem

[2017-10-27 16:46] pombredanne commented on #805
And here is a short summary: I propose we use five parts/fields to identify a package:
- `type`: such as maven, npm, gem, pypi
- `namespace`: such as a maven groupid, a debian distro
- `name`: the name
- `version`: the version
- `qualifier`: extra things beyond the version such as OS, architecture, src or doc, eg. that qualifies specific details for a given version

Most are optional and can also

[2017-10-28 00:06] susg opened #826 "Change "or" to "on" in README.rst"
In the third paragraph of the topic: [Build and tests status](https://github.com/nexB/scancode-toolkit/blob/develop/README.rst#build-and-tests-status) in [README.rst](https://github.com/nexB/scancode-toolkit/blob/develop/README.rst#build-and-tests-status), there is line

Change the first "or" to "on".

[2017-10-28 00:09] mjherzog commented on #826
Corrected - thank you for the correction

[2017-10-28 00:09] #826 closed

[2017-10-29 22:50] pombredanne commented on #824
Thanks! I posted some comments in the #825 PR

[2017-10-29 23:49] pombredanne commented on #805
Here is a revised design:

A package identifier is defined by six parts or fields that form a hierarchy, from the least specific to the most specific identifying information:

- `type`: such as maven, npm, gem, pypi. required
- `namespace`: such as a maven groupid, a debian distro. optional
- `name`: the name. required
- `version`: the version. optional
- `qualifiers`: extra qualifying data for a

[2017-10-30 09:43] pombredanne commented on #803
@jdaguil which file was this detected in?

[2017-10-30 11:56] supragya opened #827 "Allow skipping license building procedure (* Building license index...) during source configure"
While building from source, ScanCode unnecessarily takes a long amount of time building license index (at the end of procedure of `source configure` under `* Building license index...`). Needed is a system which only does this in case there is a change occurring with relation to licenses, otherwise it may be skipped and last built license index be used. Something on lines of `make` is expected.

[2017-10-30 12:03] supragya opened #828 "Adding "stats" to "results" in ScanCode output"
A TODO at: https://github.com/nexB/scancode-toolkit/blob/bd9a0c3e801d916a54ec77228ce1d0801cf7d374/src/scancode/cli.py#L656

Needed to add stats to result outputs. @pombredanne , can you be more specific on requirements of this? Thanks

[2017-10-30 15:53] pombredanne commented on #828
I think this is about #211 It might be best to close this ticket as a dupe of #211, copy the details from here to there and carry on #211 . @DennisClark may be able to help there too, since this is his ticket

[2017-10-30 16:54] supragya commented on #828
@pombredanne , As far as I understand here, we are required to add these stats to output file, like displaying these stats in an HTML output or so, not separate log files. Are you sure it is https://github.com/nexB/scancode-toolkit/issues/211?

[2017-10-30 17:40] starlord1311 commented on #656
i would like to take up this issue

[2017-10-30 17:41] starlord1311 commented on #656
i am new to this so can someone help me with what to do?

[2017-10-30 18:28] pombredanne commented on #656
@chetanya-shrimali Thanks! I had missed to noticed your comment. Sorry for this. Are you still working on this?
@starlord1311 It would only make sense to start on this if @chetanya-shrimali is not.
Now the process is going to get the file and run a scan with `--license --diag --license-text --format-json-pp` and then carefully review the detected text to check if this is correct and covers all of

[2017-10-30 18:31] pombredanne commented on #828
yes, this is #211 .... not as a log file but as data returned first and foremost in the data structure of a scan and then in the JSON. Adding them to html is not critical and could be bypassed for now.
See also the all important https://github.com/nexB/aboutcode/issues/7 referenced in #211

[2017-11-01 10:19] pombredanne opened #829 "CSV output always returns at least two rows"
One one should be returned. For instance `scancode -l -f csv` returns an empty row plus the licensing rows.

[2017-11-01 10:20] pombredanne opened #830 "Add option to "flatten" a CSV output"
.... to have only a single row per file. This may be a tad messy at times as some cells may contain the data for different scans, but it may be handy too.

[2017-11-01 10:46] pombredanne opened #831 "Move saneyaml.py and its tests to commoncode"
This is NOT specific to licensedcode at all, and is needed to parse some bits such as Rubygems metadata files that contain ! object mappings that we want to ignore always.

[2017-11-01 11:09] pombredanne opened #832 "RFC: Should the next version be 3.0 or 2.3?"
I am working on a major refactoring of the **packages** models/data structure in #275 and in #805 .... there are also changes to **copyright** data structure planned with #618 , the addition of **licenses expressions** in #74 and changing the way we report **header-level** scan/stats  info in #211 ....

This is eventually quite a bit of data structure changes that will impact directly the primary

[2017-11-01 11:14] armijnhemel commented on #832
I will support whatever you choose. If you think 3.0 is more appropriate, then call it 3.0.

[2017-11-01 17:39] sschuberth commented on #832
If the primary JSON output is affected, I'd vote for a 3.0.

[2017-11-01 18:02] jdaguil commented on #832
I would vote for 3.0 as well since there will be significant data structure changes.

[2017-11-01 18:26] pombredanne commented on #832
OK, thanks for chiming inj. That's enough: next version will be a 3.0 :)

[2017-11-01 18:26] #832 closed

[2017-11-02 02:15] supragya commented on #828
Close, marking redup of #211

[2017-11-02 02:15] #828 closed

[2017-11-02 09:10] pombredanne opened #833 "License boilerplate remover plugin"
This idea of this plugin is to help remove license boilerplate from source code and replace it with an SPDX-License-Identifer expression tag.

This could be called espeedixfy or some better name.
It would be a postscan plugin  requiring license detection. Then if there is a clear, 100% match license all matched to SPDX ids (for now), it would remove the matched text from the file and replaces it s

[2017-11-02 13:17] bhavishyagopesh commented on #469
@pombredanne  So is this done now, (I mean a PyPI package containing all binaries)...I would like to work on this packaging problem,( and eventually #487 ).

[2017-11-02 13:44] pombredanne commented on #469
@bhavishyagopesh Thanks! No this is not done.
The gist of it: check how the commoncode.command code works and how there are bundled pre-built binaries in `bin/` dirs in extractcode and `typecode`.

Ideally, we want a plugin system using the same approach as the `scancode` plugins with `pluggy` such that a plugin can provide a certain binary for an os/arch and that this is usable by the code instea

[2017-11-03 10:14] spbkelt opened #834 "scancode doesn't work in centos 6.6 with glibc 2.12 installed"
[code]

GLIBC version is:
[code]

Tried to install mnaually
[code]

Still no luck...

[2017-11-03 11:17] pombredanne commented on #834
Thanks for the report and sorry for this issue!
There is similar issue at #463 and may be #443
It comes from the shameful and terrible fact that the codebase contains pre-built binaries "(here you are stumbling on libmagic) and these may not have been built with old enough version of Linux. See also #469

It may solvable with some links per @akaihola in #443 but I am not sure.

Is there anything s

[2017-11-03 11:23] pombredanne commented on #834
The culprits shared objects and binaries are in your case:
- https://github.com/nexB/scancode-toolkit/tree/develop/src/extractcode/bin/linux-64/
- https://github.com/nexB/scancode-toolkit/tree/develop/src/typecode/bin/linux-64/

Technically these were built exactly from https://github.com/nexB/scancode-thirdparty-src
- https://github.com/nexB/scancode-thirdparty-src/tree/master/file/5.23
- https:/

[2017-11-03 11:27] pombredanne commented on #469
@bhavishyagopesh any progress on your side? I just got a new report on a related issue in #834 by @spbkelt  so this you want to work on this issue, I'd need to know what's up and what could be an ETA?

[2017-11-03 11:29] kwill opened #835 "[query] Is LibreJS report parity in scope?"
Assume a workflow as follows:
1. With an appropriate tool, download a "complete" web page from a URL into a folder
    * Includes HTML file at given URL + all linked files used to render that page (JavaScript, images...)
2. Scan the folder with scancode-toolkit
3. Generate a report including all licensed and unlicensed resources
4. Visit the same URL with a browser + LibreJS plugin
5. Scan the pag

[2017-11-03 12:05] pombredanne commented on #835
@kwill Thanks for the report!
You wrote:

yes, yes and yes! With the caveat that LibreJS may do things such as fetching more files which is something that scancode-toolkit would never do: it is strictly offline by design.

**Any license detection (either missed, inaccurate, unconclusive)  is a bug here....** and these get fixed swiftly! (and are easy to fix by adding new license detection "rules"

[2017-11-03 12:18] spbkelt commented on #834
We have centos:6.6 as base image for our container with build agent where we run scancode.  So we have a lot of software there installed. Not pure vanilla definitely.

From #469  i got that you still don't have RPM/DEB.  So we don't have such solution

Could you please provide actual build scripts? And how to replace/bundle everything after that ?

[2017-11-03 12:23] pombredanne commented on #834
You wrote:

I hate this! but I created this mess in the first so this is the least I could do for you. It should be straight `./configure && make` ... and then copy the bits in the rights places.... But let me craft this for you :)

[2017-11-03 12:42] kwill commented on #835
Fair enough. I guess this would be the responsibility of the download tool.

I'm aware of SPDX being interested in license flagging (FSF-libre, OSI-approved, DFSG-compatible...) but this is still in development. If I have time I'll find a reference and open a new ticket to discuss implementation.

[2017-11-03 12:42] #835 closed

[2017-11-03 12:42] spbkelt commented on #834
Awesome. It's your mess so ...please :)

And why ddi you mention those libraries above? I have error about libmagic.so

[2017-11-03 15:10] pombredanne commented on #834
We need them all for things to work.
Here is the thing
[code]
It is OK if `test_scan_can_handle_weird_file_names` fails.

[2017-11-03 16:03] bhavishyagopesh commented on #469
@pombredanne I went through ur suggestion, I need to confirm a few things :
1) Where do we intend to keep the binaries eventually.
2) So almost all platform(os/arch) detection is being done by `commoncode.system` and we just need to fetch the matching `binaries` using `plugin` similar to `commoncode.command`.
3) Where will the `plugin` code go, in a separate repo?...

Thanks for your patience.

[2017-11-03 16:07] pombredanne commented on #469
In plugins, one for each os/arch and binary with fallback to PATH env var if not provided.

Plugins can go a in module for now, but they should be using the same approach with pluggy designed by @yashdsaraf  : they should  provide a path to a binary for an os/arch. Eventually they will be in separate repos in the future.

[2017-11-03 18:01] SaravananOffl commented on #831
I think i can work on it!. Could you  guide me ?

[2017-11-03 23:57] mjherzog opened #837 "Plugin to Scan for Export Control text"
It would be very useful for ScanCode to detect Export Control text in license or notice files. I am not sure whether it would be better to approach with something like the copyright scanning approach or the license matching approach.  This might be a candidate for a plugin-based feature.

[2017-11-04 08:47] p8107406332 commented on #656
i would like to take this issue.can i take this issue

[2017-11-04 10:34] pombredanne commented on #656
Go for it... It is receiving a lot of attention... I just want to get it solved with a test

[2017-11-04 13:36] chetanya-shrimali commented on #656
@pombredanne Sorry for being late. I am still working on this!!

[2017-11-04 13:38] bhavishyagopesh commented on #469
@pombredanne  I'm not quite sure of this but would something like this work:
https://gist.github.com/bhavishyagopesh/7d139dc0cbfc22a0778dde7672f04b5b

and now for eg. `libmagic.py` can call this plugin instead of `load_lib()` and the binaries would remain in a folder containing this module...

I think everything like finding the os/arch and load_lib() is being done by `commoncode.command` ...so  j

[2017-11-04 13:42] chetanya-shrimali commented on #656
Just let me know what more is there to do in this as the license is detected correctly i.e. of MIT as i have mentioned above in screenshot!!

[2017-11-05 19:17] pombredanne commented on #656
@chetanya-shrimali you could create a detection unit test, that would be great

[2017-11-06 12:43] chetanya-shrimali commented on #656
sorry @pombredanne, sir i didn't get you. Could you please elaborate!!

[2017-11-06 13:29] pombredanne commented on #656
Did you read this https://github.com/nexB/scancode-toolkit/wiki/How-to:-Add-new-license-rules-for-enhanced-detection and the examples for a PR with tests?

[2017-11-06 13:29] pombredanne commented on #656
and please do not call me sir ;)

[2017-11-07 10:45] meymuthu opened #838 "ImportError: DLL load failed: %1 is not a valid Win32 application."
I am getting an error with Python 86 installed. when running scan code
[code]

[2017-11-07 11:24] pombredanne commented on #838
@meymuthu Thanks for the report!
can you give a little more details?

- Which version of ScanCode do you use?
- Where did you get it and how did you install it?
- Which version of Windows do you run? Is this 32 or 64 bits?
- Which Python interpreter did you install, from which download URL and where did you install it?

[2017-11-07 11:41] meymuthu commented on #838
Thanks for your help.
   - Which version of ScanCode do you use? I downloaded scancode from this github https://github.com/nexB/scancode-toolkit
   - Where did you get it and how did you install it?  (same as above - from github and had in windows 10 system) 
   - Which version of Windows do you run? Is this 32 or 64 bits? Windows 64 bit
   - Which Python interpreter did you install, from which do

[2017-11-07 12:28] pombredanne commented on #838
So you did a checkout of ScanCode? or you fetched a zip archive? which download link did you use?
And which exact download link did you use for the Python you installed?
Can you run Python and paste here what shows up then?
e.g. something like :
[code]

[2017-11-07 12:29] pombredanne commented on #838
I need precise details so I can diagnose this ;)

[2017-11-07 14:36] meymuthu commented on #838
I downloaded scancode from https://github.com/nexB/scancode-toolkit - Use download Zip option.

Here is my python command
Microsoft Windows [Version 10.0.15063]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\Users\umxm9su>python
Python 2.7.13 (v2.7.13:a06454b1afa1, Dec 17 2016, 20:42:59) [MSC v.1500 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more inform

[2017-11-07 14:40] pombredanne commented on #838
Thanks! And where did you install Python? e.g. which path?

[2017-11-07 14:48] pombredanne commented on #838
well could you try this: uninstall Python 2.7.13 32 bits and try instead Python 2.7.14 64 bits from https://www.python.org/ftp/python/2.7.14/python-2.7.14rc1.amd64.msi ?
And then delete the extracted scancode, and extract again and try again?

[2017-11-07 15:43] meymuthu commented on #838
thanks, I am getting this error now.
scancode --format html-app samples samples.html

C:\Apps\scancode-toolkit-develop\scancode-toolkit-develop>scancode --format html-app samples samples.html
Scanning files for: licenses, copyrights, packages with 1 process(es)...
Building license detection index...Traceback (most recent call last):
  File "C:\Apps\scancode-toolkit-develop\scancode-toolkit-develop

[2017-11-07 15:53] pombredanne commented on #838
This is really mysterious as I never saw any such problem :|
Please try this:
Open a command prompt.
There type these commands exactly (beware these are all case-sensitive commands on purpose):
[code]

[2017-11-07 16:02] meymuthu commented on #838
while doing configure - I get this message at the end...
ine 11))
Requirement already satisfied: urllib3<1.22,>=1.21.1 in c:\apps\scancode-toolkit-develop\scancode-toolkit-develop\lib\site-packages (from requests>=2.7.9->codecov->-r C:\Apps\scancode-toolkit-develop\scancode-toolkit-develop\etc\conf\dev\base.txt (line 11))
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\apps\scancode-too

[2017-11-07 16:05] pombredanne commented on #838
OK, so could you please uninstall Python 64 bits and reinstall Pyth 32 bits and rerun the commands above?

[2017-11-07 16:06] pombredanne commented on #838
e.g.
[code]

[2017-11-07 16:10] meymuthu commented on #838
I do not have python64 - Are you seeing any reference, if so please let me know. I have uninstalled all Python 64 bit and only installed https://www.python.org/ftp/python/2.7.14/python-2.7.14rc1.amd64.msi ?

[2017-11-07 16:19] pombredanne commented on #838
ok, can you uninstall this Python (which is Python 64) and reinstall this one instead (32 bits version) https://www.python.org/ftp/python/2.7.14/python-2.7.14.msi ?

[2017-11-07 17:38] meymuthu commented on #838
Thanks for your help, that worked.

[2017-11-07 17:40] pombredanne commented on #838
Thanks for tracing this. You got me really worried for a sec :)

[2017-11-07 17:40] #838 closed

[2017-11-08 07:10] spbkelt commented on #834
I have these tests failured

[code]

[2017-11-08 07:14] spbkelt commented on #834
Sorry for dumb question. Is it possible to have minimal setup? And yes, I know about package aka long-term solution, which is not available anyway.  I create Docker image so i want to keep it as tiny as possible. Or i need some cleanup procedure afterwards.  For example cleanup all python test packages at least

`Successfully installed apipkg-1.4 bumpversion-0.5.4.dev0 codecov-2.0.9 coverage-4.4.1

[2017-11-08 16:15] pombredanne commented on #834
@spbkelt these tests packages are only present in a checkout but not in the release archives.
For a trimmed installation without these from a checkout, you could also run ./configure etc/conf .... This will NOT install the development libraries you have listed above

[2017-11-08 16:16] pombredanne commented on #834
So run `./configure --clean` and then `./configure etc/conf`

[2017-11-08 16:19] pombredanne commented on #834
Of the tests failures, only `test_extract_7z_with_relative_path` is a tad puzzling ... but it comes from the LZMA dev library not being installed when you built `libarchive`.

You can ignore the others mostly safely.

[2017-11-09 08:45] pombredanne commented on #831
Thanks+++ all merged in now.

[2017-11-09 08:45] #831 closed

[2017-11-09 12:01] spbkelt commented on #834
Please review my install script
[code]

[2017-11-09 12:30] susg opened #839 "Running the command `source configure` gives the error: `configure:19: = not found`"
OS: ubuntu 16.04 LTS
OS type: 64 bit
Python version: 2.7.12
Scancode version: 2.2.1
After cloning my fork locally and creating a new branch, when I ran the command: `source configure`, it gave the the error: `configure:19: = not found`.

[2017-11-09 12:35] tdruez commented on #839
Same issue on macOS 10.12:
[code]

@susg a workaround is to run `configure` by itself and then `source` the virtualenv activate:
[code]

[2017-11-09 14:46] pombredanne commented on #834
@spbkelt what's you goal here? Build a container with a minimal scancode in it?

[2017-11-09 14:58] susg commented on #839
thanks @tdruez

[2017-11-09 16:17] sschuberth opened #840 "--only-findings should not omit scan_errors from JSON output"
When running ScanCode 2.2.1 with `--only-findings` and a scan error like exceeding a given `--timeout` occurs, that error is not written to the JSON output. Instead, the file is treated as if no findings occurred and is completely omitted from the output due to `--only-findings`.

I believe scan errors should be included in the JSON output despite `--only-findings` being specified because if there

[2017-11-09 16:35] sschuberth commented on #840
I believe having both would be beneficial: We need the per-file `scan_errors` so we know for *which* files errors occurred, but also having a top-level `error_summary` (?) which basically just is a de-duplicated set of all `scan_errors` for all files would be nice to have to get a quick overview of what *type* of errors occurred. For example, if that `error_summary` only contains `"ERROR: Processi

[2017-11-09 18:13] pombredanne commented on #840
Excellent point again :+1:

[2017-11-09 21:14] susg commented on #589
Hi, I would like to work on this issue.

[2017-11-10 11:21] spbkelt commented on #834
Issue persists. I did install into docker image using script above and it didn't help
[code]

[2017-11-10 14:35] pombredanne commented on #589
@susg Thanks, excellent choice! So first thing is to fetch all the license texts and create tests to check how they are detected today. Then based on that, there will be a need to eventually add new licenses and or new license detection rules. Check the wiki for details on how this is done.

[2017-11-10 14:36] pombredanne commented on #834
@spbkelt let's craft a proper Dockerfile for this then!
Do you have a base file already?

[2017-11-10 15:23] pombredanne commented on #834
Your install script cannot work .... something like this snippet of a Dockerfile may work instead to build s single minimal layer:
[code]

See also https://github.com/fabric8-analytics/fabric8-analytics-worker-base/blob/master/Dockerfile that may be of some help

And @roscopecoltran has built some Dockerfiles on alpine too in https://github.com/roscopecoltran/sniperkit-services which may be of som

[2017-11-10 20:29] pombredanne commented on #805
ok, I did not receive much pushback on the details, so I am assuming this is a good thing!
@JonoYang suggested a great name for these: `puurl` standing for `Package "mostly" Universal URL`.
The only cosmetic thing is whether to use `type://` or `type:` for a "canonical" form. The `//` is not significant in any case here.
e.g. this:
        `maven:org.apache.commons/io@1.2.3`
or this:
        `mave

[2017-11-10 22:04] R2wenD2 commented on #805
Can you add a proposal issue to Grafeas? Feel free to copy your design proposal above - I just want to make sure folks interested in Grafeas have a chance to review.
One small note - Grafeas can't support docker images by tag reference because tags are mutable.

[2017-11-10 22:27] pombredanne commented on #805
@R2wenD2 you wrote:

Sure thing, that was the intent.

Which is perfectly fine (I could not agree more and I always found these mutable tags to be a terrible wart). Both would be  supported in `puurl`s anyway but you could enforce in Grafeas that the version of a docker image MUST be a sha256 and reject plain tags. For containers the only difference with your current README would be that:
`https:/

[2017-11-11 01:55] SaravananOffl commented on #816
@pombredanne I can try working on this! .Could you guide me ?

[2017-11-11 09:46] pombredanne commented on #805
Side note: I think that plain web URLs should NOT be `puurl`s ... e.g. https/https/ftp URLs would never be valid `puurl`s. They can be used for package identification otherwise and possibly extra `qualifiers`, but not as plain  `puurl`s.
So a `puurl` may not be always enough to identify exactly a package "artifact".
You may need to add:
- a `repository_url` for alternative package repositories bes

[2017-11-11 09:57] SaravananOffl commented on #816
@pombredanne I've found the way to add this license in  project's wiki. http://www.makehuman.org/license.php The link has got four parts
A. The MakeHuman Source code and data
B. Other MakeHuman Application Code
C. Optional use of CC0 for output
D. CC0 1.0 Universal
I'm supposed to put all these texts into make-human.LICENSE right?

[2017-11-11 10:16] pombredanne commented on #805
@sschuberth @mnonnenmacher IMHO it could be straightforward to evolve https://github.com/heremaps/oss-review-toolkit to use `puurl`s too.
@andrew could this be something you would consider as an addition to @librariesio and @dependencyci ?
@reiz I guess that since you announced you are sunsetting @versioneye you may not care anymore at all ... and I am really sorry for this :|
@jpopelka could this

[2017-11-11 10:21] pombredanne commented on #816
I think that you should focus on only creating a new .LICENSE for the exception text

[2017-11-11 10:24] pombredanne commented on #816
eg this:
[code]

and you can create tests to ensure that everything at http://www.makehuman.org/license.php is properly detected (and if the tests do not pass, add new license detection rules .RULE)

[2017-11-11 10:25] sschuberth commented on #805
@pombredanne FYI, the reason why I was not commenting simply is because this by now is way too much information for me to find the time to go through thoroughly. I'll see what I can do over the next week.

[2017-11-11 10:59] sschuberth commented on #805
I'm sorry to spoil the party here, but this sounds a bit too much like poo-url to me ;-) How about `puid` or simply `id` / `identifier` (in the context of a package) instead?

[2017-11-11 11:04] SaravananOffl commented on #816
@pombredanne I've added LICENSE file for that exception . Could you tell me the procedure to run tests?

[2017-11-11 11:57] sschuberth commented on #805
I think we should have `//`, and more specifically, design "puuids" as URIs (not URLs) which the existing URI parsing functions in most common languages accept. On top of that, those parts of the "puuid" that are most commonly used should be directly accessible via URI parsing, i.e. instead of

    type:namespace/name@version?qualifiers#path

I'd propose

    type://version@namespace/name?qualifie

[2017-11-11 13:58] pombredanne commented on #816
See https://github.com/nexB/scancode-toolkit/wiki/Development#running-tests

[2017-11-11 18:33] pombredanne commented on #805
@sschuberth

You are right .... this is a terribly bad place to review this. Let me push this in a separate repo in a PR amenable to review and comments.

Sure why not, though this is meant to sound more like `peeeeeerl` than poo. We could call it `puk` too: package unique key

As much as I was a purist about URI vs URL, the https://url.spec.whatwg.org/#goals says about this:

[code]
So calling th

[2017-11-11 18:40] pombredanne commented on #805
Here is a place for commenting on a draft: https://github.com/puurl/puurl-spec/pull/1

[2017-11-11 18:42] sschuberth commented on #805
I'm unsure about the authority of this resource, and I find the arguments a bit bogus ("URL also easily wins the search result popularity contest").

Semantically, an URI would be the correct thing for us as we'd like to *identify*, not *locate*.

So, what's the benefit of having that hierarchy? For parsing it does not matter.

[2017-11-11 21:04] yashdsaraf commented on #787
@pombredanne Currently each `pre-scan` plugin works in a way that if an option such as `--ignore abc` is passed, any plugin in the `pre-scan` entrypoint with the entry name `ignore` is initialized with the user input `abc`.
If a plugin provides more than one option, what do you think would be a better approach?
* Initialize the plugin with different user inputs depending on the options?
for e.g `-

[2017-11-11 21:07] yashdsaraf commented on #787
Also, should we add a common plugin prefix to the options? say if `ignore` plugin defines 2 options `glob` and `regex`, do we add the plugin name such as `--ignore-glob` and `--ignore-regex` or we let the plugins practice complete autonomy in the naming scheme?

[2017-11-11 21:31] susg commented on #589
Can you tell me how to create a test. I could only find in the wiki how to add a new rule and even the [pull request 258](https://github.com/nexB/scancode-toolkit/pull/258/commits/9e37150e7950ffa761c7a7c232142f6ddc78180b) it only shows how to add new rule to detect license.

[2017-11-11 23:50] pombredanne commented on #805
@sschuberth you wrote:

Per https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Conceptual_distinctions :

And actually a `puurl` would be a URL in this definition as it is always a locator that `points to resource over a network`: the location is implied for a package `type` as based on the default `repository` of the  `type` (e.g. rubygems.org for gem, maven.org for maven, pypi.python.org

[2017-11-12 08:45] sschuberth commented on #805
I was thinking a "puurl" to be more general in that it could also point to an artifact in a local Maven repository, for example. So it's not necessarily a *network* resource. Also, I still believe its primary purpose is to identify, not to locate, or?

Ok, granted, that might be useful.

In any case, pretty please with sugar on top, come up with a different name than "puurl". Pronouncing it like "

[2017-11-12 09:56] pombredanne commented on #805
@sschuberth you wrote:

This is not necessarily a network resource indeed the same way the `file://` URL is a local, non networked resource. I think that by making the location implicit in the `type` we have in vast majority of the cases a nice shorthand to both identify and locate a public package. In the special case of local-only packages, then a `download_url` (eventually using local file path

[2017-11-12 12:45] sschuberth commented on #805
I'd still prefer to keep it, as it simply reads more common if you're used to URIs.

I'd be fine with that.

You *must* be [kidding me](https://enfr.dict.cc/?s=puke)!

`purl` and `purrl` are fine with me, although I'd still prefer `puid`.

[2017-11-12 13:00] pombredanne commented on #805
@sschuberth

That's ok, this is not significant anyway in the case of a `purl`.

I was, of course ;)

Let's go with `purl`

[2017-11-12 22:18] andrew commented on #805
Happy to implement on Libraries.io once the spec is finished 👌

[2017-11-13 10:07] spbkelt commented on #834
Finally it works in docker container! Thanks for help @pombredanne

[2017-11-13 11:13] spbkelt opened #842 "scancode crashing objc[59417]: +[__NSCFConstantString initialize] may have been in progress in another thread when fork() was called."
Env is:
OS: macOS High Sierra  10.13
scancode-toolkit version: 2.2.1

[code]

[2017-11-13 12:43] pombredanne commented on #834
@spbkelt Thanks.... Glad it finally works: feel free to close this ticket then

[2017-11-13 13:03] pombredanne commented on #842
Thank you for this report: threading can be devilish!
Though this is the first time I ever see this error.

Searching for this message, it seems to be a reasonably common error in Ruby on High sierra... which does not help us for Python. https://www.google.com/search?q="initialize may have been in progress in another thread"

Though in https://github.com/ansible/ansible/issues/32499 @nitzmahone co

[2017-11-13 13:15] pombredanne commented on #805
All: I created a separate and neutral org GitHub @package-url and published something that starts to look like a decent draft spec at https://github.com/package-url/purl-spec/tree/initial-draft and this PR https://github.com/package-url/purl-spec/pull/1

Please provide feedback and comments over there instead!
This would be much appreciated.

[2017-11-13 17:08] HarshKhatore commented on #57
@pombredanne Can you guide on what is to be done, as this would be my first issue to solve. Also, how is #54 linked to this?

[2017-11-14 11:24] pombredanne commented on #787
@yashdsaraf Thanks... here is my thinking on this:

1. We should generalize the notion of plugin to decouple the UI (e.g. the CLI option name) from the actual declaration (as an entry point). This would mean that every plugin would have the same structure and could contribute or more options as they please and define these options entirely.

2. With this generalization a plugin becomes something t

[2017-11-14 14:38] pombredanne commented on #589
@susg you can see for instance the pairs of (file under test and .yml expectation) in this:
https://github.com/nexB/scancode-toolkit/pull/810/files#diff-2b390ea0fd80e716a5e3664b98d7cfaa

[2017-11-14 14:40] pombredanne commented on #469
@bhavishyagopesh yes something along these line would likely work.... a PR is welcomed and is best to discuss and review!

[2017-11-14 19:32] yashdsaraf commented on #787
Okay, this is what I got from that
1. All the plugins will have a similar structure, i.e
* They all take an iterable of `resources` as input and return the same after processing
* They all define their own click option(s)
* Only structural difference would be -- at what stage of a scan is a plugin called
2. The `Resource` class will need some modifications to be handled by all the plugins

I think

[2017-11-15 13:05] pombredanne commented on #787
perfect!

[2017-11-15 16:55] #816 closed

[2017-11-15 18:49] pombredanne opened #845 "Create .ABOUT files from a scan as a new output"
It would be great to support creating .ABOUT file https://github.com/nexB/aboutcode-toolkit as a scan output.

[2017-11-15 21:29] mclounie commented on #842
I got the same error/problem with High Sierra. Fixed with your suggestion thanks!

OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES ./scancode --options

[2017-11-15 21:38] pombredanne commented on #842
@mclounie thank you for the feedback! @spbkelt did this work for you too? (btw this sounds like a really weird shenanigan from macOS)

[2017-11-16 09:20] pombredanne commented on #595
@SaravananOffl could this be something you can dig into? This should be not too hard IMHO

[2017-11-16 09:22] pombredanne commented on #595
You could include `www` in the mix as plain scheme-less URLs are also recognized

[2017-11-16 09:40] SaravananOffl commented on #595
@pombredanne you want me to modify some existing code to check for  " www ,@, :// " if they're found we can skip some other tests .Am I right?

[2017-11-16 10:04] pombredanne commented on #595
correct: as a prefilter for URL detection (checking for `://`, `http:` or `www` and as filter for email detection  checking for `@` such that lines or files without these are not further "regexed" to detect these clues.
You can get familiar with the code in https://github.com/nexB/scancode-toolkit/blob/develop/src/cluecode/finder.py
Other cleanups are welcomed too there, but try to keep it on poin

[2017-11-16 16:31] yashdsaraf commented on #787
@pombredanne Like you said, ultimately all the plugins would return an iterable of resources. In this case, how would the output plugins work?

[2017-11-16 16:39] pombredanne commented on #787
Good point: the output plugins could eitherr:
- return an iterable too.... as there could be more than one and the caller (e.g. the CLI) would just consume this iterable doing nothing after piping through the output plugins. e.g. with multiple outputs the output is not special anymore.
- OR we tee/send an iterable to each output plugins and they just consume that ass they please

The later is like

[2017-11-16 16:46] yashdsaraf commented on #787
I'm sorry I didn't get that, could you give an example of what should happen if a user calls scancode cli with multiple format options.

[2017-11-16 17:08] pombredanne commented on #787
See the discussion in #789

[2017-11-16 17:15] yashdsaraf commented on #787
Ah, got it. Each option supplied by the format plugins would take the output file path as input.
Also, what happens if a path is not given? Do we print the output to stdout or simply abort due to the missing param?

[2017-11-16 18:57] pombredanne commented on #787
@yashdsaraf no path given would mean stdout output which would be messy if there are more than one ; ) but that's OK, we cannot prevent folks to shoot themselves in the foot

[2017-11-17 01:17] spbkelt commented on #842
I have damn big project. And this option doesn't help me.  I have about ~10k source files in project to scan. Seems this error goes after 6k of files being scanned. Regarding your questions:

I have 2.7.14

i use your latest script for Docker image build

Yes

Yes, even using 1 thread

scancode got stuck and becomes very slow after 6-7k of processed files. Number of threads actually doesn't speed

[2017-11-17 01:19] spbkelt commented on #842
i have one more questions, i have strict threshold for running this software in my build job. is it possible to:
1) point to set of specific files, list of directories in one run?
2) to merge different reports in one ( so i will split my big project into separate steps, frontend/backend parts at least), cause i have approx equal amount of files accordingly.

[2017-11-17 01:22] spbkelt commented on #842
so i need suggestions, how to improve speed/perfomance?

[2017-11-17 01:54] retrography commented on #57
@pombredanne @HarshKhatore I would say simply fill in the blanks:

[code]
Note and Organization are optional. It needs a decision by the team who should be on the main list of authors. With the BibTex citation, anyone (including me) can generate the proper citations in the right formats (APA, etc.) to be included here.

[2017-11-17 05:53] pombredanne commented on #805
I pushed a Python prl lib at https://github.com/package-url/purl-python (and on Pypi as a `pypi:purl-python@0.2.0` purl :smile_cat:  ) as well as a JSON test fixture to use as a language neutral test suite by any implementation at https://github.com/package-url/purl-test-suite

@ashcrow started working on a Go implementation :heart_eyes: at https://github.com/package-url/purl-go

See other refinem

[2017-11-17 06:23] pombredanne commented on #842
Hum, you are running the Ci on macOS? Do you have a Linux box on hand instead?

you wrote:

FWIW, I am running ScanCode routinely on projects much larger than 10K files which would be a medium codebase. I can scan a whole Linux kernel (about 70K files) in 20 minutes on my Linux laptop and I got reports of scans for 20K Debian source packages completed without errors in 11 hours (about 200M line of

[2017-11-17 11:44] SaravananOffl commented on #595
@pombredanne I looked into that file you've mentioned above.There are many functions in it .Could you explicitly tell which one i'm supposed to work on.

[2017-11-17 14:00] pombredanne commented on #595
The top level entry points are in https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/api.py#L104 and you can follow the flow from there.
Both email and url end up eventually there https://github.com/nexB/scancode-toolkit/blob/develop/src/cluecode/finder.py#L48

So you may filter lines there.... with the caveats that patterns identified for URLs are quite far ranging including also

[2017-11-17 15:00] haikoschol commented on #457
I tried the latest version of VSCode (1.18) and got it mostly working. The only thing that does not work is stepping over and into functions. But I don't see the issue mentioned by @sschuberth. That one might be Windows specific though, I only tested on Linux so far. I've documented the steps to set up debugging tests in ScanCode in this gist: https://gist.github.com/haikoschol/a36a0f164558ab30b41

[2017-11-17 15:12] pombredanne commented on #457
@haikoschol that's awesome! I shall say that I am rather at loss when it comes to debugging and IDE as I am rather old school there. I guess I only ever fired a Python debugger once and I may be missing out cool tools :|

Please go ahead and add a wiki page: If you are not authorized, tell me  and I will send you a proper invite

[2017-11-17 15:17] sschuberth commented on #457
@pombredanne Any objections to actually add the `.vscode/settings.json` file to the repo? @haikoschol can probably file a PR accordingly.

[2017-11-17 15:20] sschuberth commented on #457
@haikoschol The instructions should probably say that you need to manually run `./configure` once before, otherwise `"${workspaceRoot}/bin/python"` is not available.

[2017-11-17 15:25] sschuberth commented on #457
@haikoschol Also, you'd probably want to create a `.vscode/launch.json` file, too.

[2017-11-17 15:31] pombredanne commented on #457
@sschuberth actually I would rather prefer not having IDE-specific things at the root.
One thing that could be done though:
1. add a root entry to ignore at the roor .vscode .gitignore
2. add the json file under `/etc`
3. add a configure script under `etc/conf/dev` that will copy `/.vscode/settings.json` in the root

That way this is not in the way at the root but is configured and available when

[2017-11-17 15:33] haikoschol commented on #457
@sschuberth Yes, I should include something about setting up the virtualenv. But maybe reference the existing docs on that instead of repeating the instructions, so they don't go out of sync.

I'm not sure about `.vscode/launch.json`. When I just tried it with the latest version, there was no need to create a launch configuration and VSCode also didn't create that file itself in the workspace dir.

[2017-11-17 15:34] sschuberth commented on #457
I don't that's worth the effort. @haikoschol, no need to file a PR then from my side.

PS: `.vscode` [is already ignored](https://github.com/nexB/scancode-toolkit/blob/develop/.gitignore#L46).

[2017-11-17 15:40] pombredanne commented on #457
FWIW the patch is rather minimal, but your call:

[code]

[2017-11-17 17:02] haikoschol commented on #457
[PR was merged](https://github.com/nexB/scancode-toolkit/pull/846) and wiki page created at https://github.com/nexB/scancode-toolkit/wiki/IDE-Configuration

I think this issue can be closed.

[2017-11-17 18:49] pombredanne commented on #457
Thank you!

[2017-11-17 18:49] #457 closed

[2017-11-17 23:07] pombredanne commented on #805
FYI @ashcrow  contributed a Go implementation at https://github.com/package-url/packageurl-go :tada:

[2017-11-17 23:24] spbkelt commented on #842
See what i have in CentOS build environment
[code]

Report doesn't contain any result
![image](https://user-images.githubusercontent.com/19993178/32973272-d7847744-cbf6-11e7-9d2f-3a7a13d5a287.png)

[2017-11-18 06:05] SaravananOffl commented on #656
@chetanya-shrimali are you working on this?

[2017-11-18 07:30] pombredanne commented on #656
@SaravananOffl :+1: asking is the gentle way to go... If you do not get a reply in a couple days, you can grab this alright. Worst case, it is OK to start right away and have competing patches ;)

[2017-11-18 07:47] SaravananOffl commented on #656
@pombredanne Alright! I'll wait patiently!!

[2017-11-18 08:54] SaravananOffl commented on #595
@pombredanne I've corrected regrex expressions for email and ip v4/v6 addresses in finder.py file .What more should I add/modify?

[2017-11-18 09:24] chetanya-shrimali commented on #656
@SaravananOffl sorry for delay. Yaa, you can take up this issue. I am bit more interested in scancode-server.

[2017-11-19 08:46] pombredanne opened #849 "Configure coverage to avoid false positives..."
#848 adds new tests but the coverage is decreasing which does not make sense to me...

We need to set some .coveragerc file to configure coverage.py properly and ignore some things such as tracing and logging, test data and few more.

[2017-11-20 09:06] sschuberth commented on #840
The main issue has been fixed via https://github.com/nexB/scancode-toolkit/pull/848, thanks @haikoschol! The additional idea that came up of having an `error_summary` (?) should be dealt with as part of #211. So I'm closing this.

[2017-11-20 09:06] #840 closed

[2017-11-20 09:08] sschuberth commented on #211
As discussed in #840, having a summary of errors (e.g. in the header of the regular JSON output file) would also be beneficial.

[2017-11-20 15:53] haikoschol commented on #106
@pombredanne I've been looking into this issue and went down the rabbit hole of related issues, feature branches and proposals. Now I'm trying to figure out how I can address this specific issue while at the same time avoid
1. addressing all related issues and the architecture/refactoring work that entails
2. putting in a quick hack that makes 1. harder down the line

At the moment I'm thinking a

[2017-11-20 17:10] pombredanne commented on #106
@haikoschol you wrote:

that's the way.

the key will be to have #787 for you to do something clean
@yashdsaraf 'sup on this front?

I think that should come for free and optionally with a generalized config file such that this could store any number of repetitive options.

Actually @yashdsaraf is on #787 ... but @yasharmaster your contribution would always be welcomed too!

[2017-11-20 17:29] haikoschol commented on #106
Ah, sorry about that @yasharmaster and @yashdsaraf. Just took the completion result and didn't double check it.
@pombredanne So eventually you want to have command line parameters for plugins as well as a config file that includes options for plugins, right? Ideally the plugins just receive parameters via `__init__()` and the cli code around them figures out where they come from and which ones hav

[2017-11-20 18:57] pombredanne commented on #106
@haikoschol exactly :+1:
Now you are raising an interesting issue: precedence in plugins... hum. That may need to be specified indeed.  Do you see a use case where several post-scans plugins would require to run in a certain order? e.g. where one would depend on the other?

[2017-11-20 21:03] pombredanne commented on #787
@yashdsaraf I think what would be most useful for @haikoschol is to have this available for post-scan plugins right now. Do you think you can have a look into this? Or shall I take a stab?

[2017-11-20 21:10] haikoschol commented on #106
@pombredanne Actually you raised that issue, because I was thinking about precedence among command line options and a config file. :)
I think the result of a scan should be independent of the order in which plugins are executed.

Regarding the other precendence issue, I'd say these are the options:

1. merge all options giving precedence to one kind over the other (I find cmdline over config file

[2017-11-21 14:49] pombredanne commented on #106
@haikoschol thank you for a great write up.

I am split between exposing all options in the CLI or only some options. The traditional pattern is to have everything in the CLI but that can become hairy but a config file can be hairy too. Let me sleep over this. @jpopelka what would be you take?

[2017-11-21 16:43] chinyeungli opened #850 "Add ScanCode plugin for LKM clues"
PO: should be exposed as a ScanCode plugin

[2017-11-21 17:40] mjherzog commented on #850
@pombredanne If we add lkm_clue data from a ScanCode plugin (or other data from another plugin), how will ABC Manager know how to show it?

[2017-11-22 11:16] spbkelt commented on #842
@pombredanne  ping

[2017-11-22 11:54] pombredanne opened #851 "Add Copyheart license"
The text is not really well defined... http://copyheart.org/ but I stumbled on an instance of it in the wild: https://github.com/CottageLabs/esprit/issues/12

` ♡ Copying is an act of love. Love is not subject to law.Please copy and share.`

[2017-11-22 11:55] pombredanne opened #852 "Cross check that all licenses on https://www.openhub.net/licenses are properly detected"
See https://www.openhub.net/licenses
Several are likely to be variants of BSD and MIT or existing license and will be detected as such.
Some oddities may require a new license addition

[2017-11-22 12:08] pombredanne commented on #842
@spbkelt sorry, that comment had slipped though and thanks for pinging.

Are you sure that `.` points to anything? I would suggest using a proper path, possibly absolute.
`Scan statistics: 0 files scanned in 3s.` means you pointed to an empty directory
Also if you have some problems, using the json-pp format might be best than the html-app

[2017-11-22 12:51] pombredanne commented on #850
@mjherzog it would likely not I guess
@jdaguil do you have provisions to
1. ignore attributes you do not know about
2. OR support unknown attributes?

[2017-11-22 21:01] jdaguil commented on #850
Currently, we ignore unknown attributes. If you were to export, the exported JSON would not contain those unknown attributes because we only store known attributes in the database. It would be difficult to support unknown attributes in an efficient way because columns have to be known beforehand to store them in the database.

[2017-11-22 23:48] engbuild commented on #842
it worked for me as you see from my comments above and sharing outputs
For example [here](https://github.com/nexB/scancode-toolkit/issues/842#issue-273392766):

Also we need to visualize reports somehow for managers, so json is not best solution

[2017-11-24 07:36] #656 closed

[2017-11-25 14:09] SaravananOffl commented on #845
@pombredanne I'm interested to work on this!. Could you tell what exactly should be done?

[2017-11-25 18:41] pombredanne commented on #845
Check what an .ABOUT file looks like in the thirdparty directory
Then check out https://github.com/nexB/aboutcode-toolkit and in particular https://github.com/nexB/aboutcode-toolkit/blob/develop/SPECIFICATION.rst

This ticket is to create an output (or a post scan plugin? may be?) that creates .ABOUT files based on the detected packages.

[2017-11-26 03:03] SaravananOffl commented on #845
I think I've understood what this issue is! I'll try and submit​ my patches !

[2017-11-30 16:18] starlord1311 commented on #851
can i take up this issue?

[2017-11-30 16:20] starlord1311 commented on #254
i would like to take up this issue

[2017-11-30 19:20] pombredanne opened #858 "Add Cockroach Community License (CCL)"
See https://www.cockroachlabs.com/cockroachdb-community-license/
https://github.com/cockroachdb/cockroach/blob/master/LICENSE

[2017-11-30 22:01] pombredanne opened #859 "Add new BSD variant"
See https://lists.spdx.org/pipermail/spdx-legal/2017-November/002397.html
Reported to SPDX by @pgiffuni
Fir now it is only detected as a partial BSD simplified with a low 78% coverage of the 2 clause BSD:
[code]

[2017-11-30 22:03] pombredanne commented on #254
sure!

[2017-11-30 22:03] pombredanne commented on #851
great, thanks!

[2017-12-01 07:16] yudhik11 commented on #852
can I take up this issue?

[2017-12-01 11:16] pombredanne commented on #852
@yudhik11 That would be very nice of you. Thanks!

[2017-12-01 12:10] starlord1311 commented on #254
can you tell what am i supposed to do?

[2017-12-01 12:10] starlord1311 commented on #851
can you tell what am i supposed to do?

[2017-12-01 12:14] starlord1311 commented on #851
@pombredanne can you tell how to add a license to the code? or where can i learn this

[2017-12-01 12:24] starlord1311 commented on #851
am i supoosed to change © Copyright 2010 by Author/Artist. All Rights Reserved. to ♡2010 by Author/Artist. Copying is an act of love. Please copy. everywhere in the whole code?

[2017-12-01 12:49] pombredanne commented on #851
@starlord1311 there is a FAQ on adding new licenses rules https://github.com/nexB/scancode-toolkit/wiki/How-to:-Add-new-license-rules-for-enhanced-detection and new licenses follow the same principles

[2017-12-02 07:10] pombredanne opened #863 "Add or test all licenses in https://github.com/okfn/licenses"
We likely have most, but we need 1. tests, 2. add rules 3.eventually add new licenses

[2017-12-03 03:46] SaravananOffl commented on #863
@pombredanne In this site(http://licenses.opendefinition.org/licenses/groups/all.json) there are more than 90 licenses  . How do you want to go about it ?

[2017-12-04 10:14] chinyeungli opened #864 "Dejacode API Toolkit"
We do have multiple projects using same code to access dejacode data.
For instance, there is code for fetching license in scancode-toolkit, aboutcode-toolkit, and possible spat as well:
https://github.com/nexB/scancode-toolkit/blob/develop/etc/scripts/synclic.py#L459

It may be a good idea to create a DejaCode API toolkit for consistency

[2017-12-06 09:08] yudhik11 commented on #852
@pombredanne do I need to scrape those license online and check whether they are getting detected OR in the repo there are many licenses I should test them from there.And also the license data is present in src/licensedcode/data/licenses/ and tests/licensedcode/data/licenses/ and to me the thing that confused me was there are more licenses in tests then in src data set.
So with LICENSE data should

[2017-12-06 19:29] pombredanne commented on #852
@yudhik11 so the stepos would be:
1. collect the texts online
2. make license tests from each of these in ` tests/licensedcode/data/licenses/` ....
3. also test by hand the detection
4. if we do not have 100% detection then either:
4.1 add new rules
4.2 add a new license if this is a new license

- `src/licensedcode/data/licenses/` contains the actual real license files used as master data and for

[2017-12-07 13:06] haikoschol commented on #504
@pombredanne you mentioned the `matched_text` field is experimental. I wonder what the use case for it is and if it would still be served by including the full text.

I'm looking into this ticket now and would like to know what you prefer: a new command line option and attribute in the JSON result, or changing `matched_text` to include the full text. In the latter case it might still make sense to

[2017-12-07 13:32] pombredanne commented on #504
We want matched text come up with --license-text eventually with whole lines when relevant and optional highlighting of unmatched parts (and not be default as this is only useful for debugging or deep curation)

A goal is to come with something that could eventually make a scan be usable for attribution pretty much as-is and fed to https://github.com/nexB/aboutcode-toolkit for formatting a nice at

[2017-12-07 13:32] pombredanne commented on #504
I am fine to make this a high level attribute instead of the debug one

[2017-12-09 17:33] pombredanne opened #865 "Add ODC BY license"
See https://opendatacommons.org/licenses/by/1.0/
We have pddl-1.0 and odbl-1.0 but not this one

[2017-12-11 17:25] #865 closed

[2017-12-11 18:47] camillem opened #867 "Non ASCII characters in path cause problems"
Hi,
It seems that Ubuntu 17.10 is not currently supported.
Any plans to add it ?
Thanks,
Camille

[2017-12-11 18:53] pombredanne commented on #867
@camillem Always at the vanguard! Can you tell me what problems you have encountered? And error message you got? Normally it should run on it OK, but I never tried it.

[2017-12-11 18:58] camillem commented on #867
@pombredanne I'm prolly missing something obvious :-/

./scancode: ligne 114: scancode-toolkit-2.2.1/bin/scancode: Aucun fichier ou dossier de ce type

[2017-12-11 19:01] pombredanne commented on #867
@camillem did you take the release archive for 2.2.1? and do you have Python 2.7 available on your distro?

[2017-12-11 19:11] camillem commented on #867
yes

Looks like it:
[code]

[2017-12-11 19:24] pombredanne commented on #867
hum... Let me try to debug this is a VM or container

[2017-12-11 19:40] camillem commented on #867
Ooops, I think I got it. I tried on 16.04 and had the same problem, so...
It happens when you have an non ASCII character in your path. Like ~/Téléchargements/...

[2017-12-11 19:42] camillem commented on #867
So, I should may be rename the issue to Python 3 support ;-) ?

[2017-12-11 19:47] pombredanne commented on #867
@camillem `non ASCII character in your path. Like ~/Téléchargements/...` is not a Python3 issue, but a plain bug. Let me fix this!

[2017-12-11 19:50] camillem commented on #867
@pombredanne Thanks. Let me know if I can help testing.

[2017-12-11 20:22] pombredanne commented on #867
The root cause is this bug https://github.com/pypa/virtualenv/issues/457 and indeed the problem does not happen with virtualenv on Python 3
At this stage and until we completed the migration to Python there is no way out but to use a path that contains only ASCII charactersl

[2017-12-11 20:28] pombredanne commented on #867
I added a FAQ entry and details in the comprehensive installation doc.
I will keep this open until fixed.
@camillem Thank you ++ for this report and sorry for the inconvenience!

[2017-12-11 21:55] starlord1311 commented on #863
can i take up this issue? @pombredanne

[2017-12-11 21:57] starlord1311 commented on #859
can i take up this issue? @pombredanne

[2017-12-11 21:57] pombredanne commented on #863
@starlord1311 I think that @SaravananOffl is working on it, though you could split up the work alright

[2017-12-11 21:58] pombredanne commented on #863
@SaravananOffl

IMHO
1. fetch the licenses such to have a text for each
2. add these as a test
3. for the one that do not pass the test, add a new rule, or a new license

[2017-12-12 03:42] SaravananOffl commented on #863
@pombredanne  I'm thinking of writing a python script to get(i.e to scrap) the name of each license from the json file(http://licenses.opendefinition.org/licenses/groups/all.json).This method could certainly reduce the tasks for us.

[2017-12-12 09:07] pombredanne opened #870 "Add new BSD variant"
See https://lists.spdx.org/pipermail/spdx-legal/2017-December/002404.html
We may have it already though.

[2017-12-12 09:08] pombredanne opened #871 "Add new Apache exception for LLVM"
See https://lists.spdx.org/pipermail/spdx-legal/2017-December/002421.html

[2017-12-12 10:08] yudhik11 commented on #852
@pombredanne what do you meant by [[making license test from each of these in (Addr)]]
and also what is testing by hand the detection

[2017-12-12 11:19] pombredanne commented on #852
- testing by hand: ./scancode --license --diag --license-text --format json-pp <file to check>
- license tests: see the automated tests in tests/licensedcode/data/licenses/ where each pair of yml + other file with the same base name become a unit test dynamically created by this code https://github.com/nexB/scancode-toolkit/blob/develop/tests/licensedcode/test_detection_datadriven.py

[2017-12-15 10:29] sschuberth commented on #688
@pombredanne, I believe this can be closed now, or?

[2017-12-15 14:08] pombredanne commented on #688
@sschuberth sure, the behavior is now correct AND in anycase, a Docker image should set it's LOCALE to avoid any (other) issues too.

[2017-12-15 14:08] #688 closed

[2017-12-15 14:09] pombredanne commented on #688
@dengste Please reopen if you still experience this.... but we should be good now

[2017-12-15 14:47] pombredanne commented on #685
this is eventually a problem with Docker images too, such as this: https://github.com/heremaps/oss-review-toolkit/blob/docker-improvements-2/Dockerfile

[2017-12-15 14:48] pombredanne commented on #685
@sschuberth ping, for reference. This may impact your code .

[2017-12-15 14:56] pombredanne commented on #845
@SaravananOffl do not hesistate to ask @chinyeungli for help: he is the maintainer for AboutCode-toolkit

[2017-12-15 17:35] yudhik11 commented on #852
@pombredanne it will be nice if you can assign me a small work or any small issue because right now i am trying this from past two weeks and I keep on moving in circle and cannot proceed.

Anything will be much appreciated.

[2017-12-15 18:59] mjherzog opened #873 "Need summary file type"
We currently have several "file type" fields returned from a scan:
- Type: either File or Directory
- MIME Type
- File Type
- Binary
- Text File
- Archive File
- Media File
- Source File
- Script File
- Package Type

For this topic, I will ignore Type since this just covers File vs Directory and focus on files only.  We need some simpler way to identify the file type in one field to facilitate fil

[2017-12-15 23:41] mjherzog commented on #873
I reviewed some scans and noticed many shell script files show up as Text rather than Script so the current identification of Script: true/false is not going to help much.

[2017-12-16 04:24] SaravananOffl commented on #845
@pombredanne I'm done with the setup for about files. I have to write the plugin code now.Could you guide me with step by step process ? . I'll grasp it! . I guess @chinyeungli can also help me!

[2017-12-16 19:08] pombredanne commented on #845
@SaravananOffl See the example plugins in formattedcode

[2017-12-17 06:24] pombredanne commented on #852
@yudhik11 ok :) Let me break thing down in smaller issue that would be bite sized!

[2017-12-19 05:16] yudhik11 commented on #852
@pombredanne I am still waiting for your bite-sized issues :)

[2017-12-19 08:17] pombredanne commented on #852
@yudhik11 Can you start by creating a JSON file that lists all the urls for the license page links and names in the 18 pages at https://www.openhub.net/licenses
This should look like:
[code]

[2017-12-19 08:19] pombredanne commented on #852
Best is to write a small script for this. Beautiful soup can help there.

[2017-12-19 09:28] yudhik11 commented on #852
[req.txt](https://github.com/nexB/scancode-toolkit/files/1571043/req.txt)
![screenshot from 2017-12-19 14-56-58](https://user-images.githubusercontent.com/28241692/34149968-ef4e559a-e4cc-11e7-9242-f87a26a48ecc.png)
@pombredanne  here is the script which I wrote and you can see "req.txt" this is how the output looks like.
Next what should I do

[2017-12-19 13:20] pombredanne commented on #787
Shoot, in working to encapsulate Resources with PyFilesystem, I did hit https://github.com/PyFilesystem/pyfilesystem2/issues/120 and #688 .... *sigh*. I need to beef things up to make things work :|

[2017-12-19 17:36] haikoschol commented on #357
@pombredanne Your proposal makes sense to me and I'd like to give implementing it a try (in order to fix #685). Just two questions/suggestions:

- Why look for a `.git` directory to detect development mode instead of `SCANCODE_DEV_MODE`?
- Wouldn't it be easier to use the same directory structure in both cases for temporary files (i.e. always use `.cache/scancode/<unique_id>/...`)?

[2017-12-19 17:46] pombredanne commented on #357
@haikoschol excellent!

well, either way works: your call SCANCODE_DEV_MODE is a bit of a wart I created IMHO . I am not very happy about this

That works too. Having it everywhere the same is indeed better: either `.scancode/` or `.cache/scancode` everywhere is indeed best.

[2017-12-19 17:55] haikoschol commented on #769
Not sure how useful this is overall, but with respect to .pyc files, it might make sense to set [sys.dont_write_bytecode](https://docs.python.org/2/library/sys.html#sys.dont_write_bytecode) in dev mode.

Apart from that, these different ways of using scancode seem overly complex to me. I'd say there are two use cases:
- developer: works in a git tree, does not want stale .pyc, license cache, depen

[2017-12-19 17:57] haikoschol commented on #357
True, a tag file is not ideal but the concept of "dev mode" and "user mode" is very useful, I think. The advantage of a tag file is that it is explicit and easy to create for testing/reproducing bugs/etc.

[2017-12-19 18:10] pombredanne commented on #357
so now you are convincing me that it may not be such a wart after all :P

[2017-12-20 15:54] yudhik11 commented on #852
@pombredanne can you help me more so that i can keep going

[2017-12-20 17:52] pombredanne commented on #852
Can you paste rather than attach the script?

[2017-12-20 17:53] pombredanne commented on #852
What results do you have out of this?

[2017-12-20 17:55] pombredanne commented on #852
Ok, I see, accumulate results in some list or iterable and use the json module. Do not create json yourself.
And best is to create a PR with your script in the `etc/scripts` directory

[2017-12-20 17:55] yudhik11 commented on #852
import urllib2
import requests
from bs4 import BeautifulSoup
for i in range (18,19):
    wiki="https://www.openhub.net/licenses?page="+str(i)
    page=urllib2.urlopen(wiki)
    soup=BeautifulSoup(page,'html.parser')
    all_lic=soup.find(id="license")
    all_as=all_lic.select("table a")
    all_a=[pt.get_text() for pt in all_as]
    for x in all_a:
        print(x.encode('utf-8'))

[2017-12-20 17:55] pombredanne commented on #852
so we can review the code alright

[2017-12-20 17:56] yudhik11 commented on #852
ok will do it right now

[2017-12-21 01:12] grubdragon commented on #871
Hey @pombredanne I'm kinda new around here. Where can I start?

[2017-12-21 05:58] pombredanne commented on #871
@grubdragon Welcome! As you can see, there is a PR that references this ticket: #872
.... this means that this is mostly taken care of ;) If you want to chip in, you can review exactly what @SaravananOffl has been doing there to add a new license as an example.

Otherwise, there are plenty of good tickets that need love beyond this one!
You can also ask on the https://gitter.im/aboutcode-org/discu

[2017-12-21 07:19] gnchalla opened #875 "Need specific file type pattern option and License Version"
1. I have many file patterns in my scan area, as of now the tool has an option to ignore those.

--ignore README --ignore "*.jar" --ignore "*.msb" --ignore "*.pl" --ignore "*.py" --ignore "*.log" --ignore "*.loc" --ignore "*.1" --ignore "*.xml" --ignore "*.ref" --ignore "*.rsf" --ignore "*.ini" --ignore "*.pom" --ignore "*.rar" --ignore "*.html" --ignore "*.css" --ignore "*.png" --ignore "*.xml" -

[2017-12-21 09:23] pombredanne commented on #787
FYI I submitted a PR to https://github.com/PyFilesystem/pyfilesystem2/pull/121 in order to have proper handling of non-fs decoable bytes-only paths. Based on this I am going forward with the refactoring of the Resource and scan pipeline around PyFilesystem2 which should provide a clean abstraction and simplify vastly creating new plugins

[2017-12-21 12:41] yash-nisar opened #876 "Update `CONTRIBUTING.rst` with crucial links from `README.rst`"
While going through [this link](https://github.com/nexB/scancode-toolkit/blob/master/CONTRIBUTING.rst#chat-with-other-developers), I could neither find the IM (gitter channel) link nor the mailing list as included [here](https://github.com/nexB/scancode-toolkit#support). It would be great if we could update `CONTRIBUTING.rst`'s `chat-with-other-developers` section to contain all the crucial suppor

[2017-12-21 13:35] yash-nisar opened #877 "Include "Syncing local repo with the remote repo" in `CONTRIBUTING.rst`"
A lot of people seem to struggle with the process of updating the fork. Since, we've almost included some crucial git commands, it would be a cherry over the cake to include the syncing of the fork.

[2017-12-21 13:54] yash-nisar commented on #851
@starlord1311 Are you still working on this one ?

[2017-12-21 15:08] yash-nisar commented on #870
@pombredanne Since no one is working on this, I'm taking this one. 😄

[2017-12-21 18:42] pombredanne commented on #876
Thanks! yes, please go ahead and send a PR

[2017-12-21 18:46] pombredanne commented on #875
Thanks for the report!

You are right there is a way to ignore/exclude but to include (though the underlying code already [supports it](https://github.com/nexB/scancode-toolkit/blob/a9083191a04f62c05d588a22fa8f4839eeffc79d/src/commoncode/fileset.py#L85)

What do you mean there? each returned license has an exact version when the license is versioned. What are you missing there? Any example?

[2017-12-22 07:52] gnchalla commented on #875
Thanks for the quick reply.

1. On the first requirement, could you provide an option to use pattern search (include) similar to --ignore in the commandline?
2. On the second one,

 For example libxml2.so file is in my scan area, which returns the license_key as gpl-1.0-plus,

 But usually organizations to have compliance with regards to licensing, they try to buy/get licences for the particular v

[2017-12-22 12:10] pombredanne commented on #877
That's fine, that sounds like basic git thing to me, so it would be best to have on the wiki IMHO

[2017-12-22 12:15] yash-nisar commented on #877
Roger that. Should I create a PR here and move it on the wiki once it is acknowledged  @pombredanne ?

[2017-12-22 12:19] yash-nisar commented on #870
@pombredanne We already have this one as the `bsdi-license` [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/licenses/bsdi-license.LICENSE). Should we consider renaming it to `bsd-1-clause` since [this commit](https://github.com/spdx/license-list-XML/pull/522/commits/fec60d6ff390cd5b1872b646e7f60fcd6017c70e) was recently merged ?

[2017-12-22 12:43] yash-nisar commented on #863
@SaravananOffl Are you done with the script ?

[2017-12-22 13:18] pombredanne commented on #870
@yash-nisar we do not rename our license keys... instead if there is one in SPDX that we had, we add the SPDX id to its data (e.g. it YAML file)

[2017-12-22 14:41] pombredanne commented on #877
@yash-nisar You can paste your text here and add that to thw wiki afterwards. There are no PRs for this

[2017-12-28 18:59] majurg opened #880 "License policy plugin"
Related to #214

Now that scan code has a the ability to add plugins, it would be best to add DJE license policy support from #214 via this plugin system.

[2018-01-03 23:14] chinyeungli opened #881 "The tool does not scan hidden directory"
I have the following hidden directory which scancode ignore scan on it: `/devel/project/.repo/`
I believe the tool should not skip even it's a hidden directory/file.

[2018-01-11 22:13] sschuberth opened #884 "ScanCode getting killed on Travis CI during license indexing"
We see ScanCode 2.2.1 getting killed as part of running functional tests for [ORT](https://github.com/heremaps/oss-review-toolkit) on Travis CI. `stderr` shows:

    Scanning files for: infos, licenses, copyrights with 1 process(es)...
    Building license detection index...
    /home/travis/build/heremaps/oss-review-toolkit/scanner/src/funTest/assets/scanners/scancode-toolkit/scancode: line 114:

[2018-01-12 04:01] gnchalla commented on #875
Could you please prioritize this requirement?

[2018-01-12 17:29] pombredanne commented on #875
@gnchalla sorry for the late reply, but this was the holiday break

The current architecture for plugins does not support this yet, but will soon once we are done with #787
When this is there, some help would be much welcomed to write such a plugin

This sounds unlikely and could be a false positive. Can you provide a download link to this version of  libxml2.so? Also what is the score/coverage an

[2018-01-18 07:15] pombredanne commented on #884
@sschuberth Thanks for this report. I think a special test script run could be made that checks memory before and after. I never saw this OOM on scancode Travis runs proper so it could have to do with using a container or a VM for a travis job too.

[2018-01-18 07:17] pombredanne commented on #881
@chinyeungli Thanks you for this. The `.repo` dirs are explicitly excluded as part of the CVS standard ignores. They should not and this is a bug.

[2018-01-19 08:33] pombredanne opened #886 "Failed to configure on macOS"
reported in Gitter by @susg

Hi all, I was setting up scancode toolkit and got the following error while using the command: source configure.

[code]

[2018-01-19 09:10] susg commented on #886
In `src/licensedcode/models.py` if we change line 537 to:
`if not data_file.endswith('~') and data_file.endswith('.DS_Store'):`, I guess it will solve the problem.

[2018-01-19 11:24] pombredanne commented on #886
@susg that's an approach but we can do better and https://github.com/nexB/scancode-toolkit/blob/d53aac8c0b3e622117151312d535a90a52fc5e6e/src/licensedcode/models.py#L537 is a wart of mine IMHO  that should be refined.

The directories are walked with `file_iter()` here https://github.com/nexB/scancode-toolkit/blob/d53aac8c0b3e622117151312d535a90a52fc5e6e/src/licensedcode/models.py#L514

`file_iter(

[2018-01-19 19:21] susg commented on #886
https://github.com/nexB/scancode-toolkit/blob/d53aac8c0b3e622117151312d535a90a52fc5e6e/src/commoncode/ignore.py#L78
This line already includes the .DS_Store files in the default ignorers, so why is the exception being raised?

[2018-01-24 11:09] pombredanne opened #889 "Scanning react.js for licenses timeouts on a certain file"
react-d8d7976/fixtures/attribute-behavior/AttributeTableSnapshot.md can take a very long time to scan,

[2018-01-24 18:25] pombredanne commented on #685
@haikoschol

Actually the writeup is complex, but the code ends up being rather simple after all.

That's a fair question. Very simply, configure + thirdparty exist such that when scancode is used as an app, it is fully self-contained and working out of the box for anyone with only Python.
The alternative could be to use a script which uses requirement files .... but that's exactly what configure

[2018-01-25 02:08] yash-nisar commented on #851
@pombredanne I'm taking this one too because the assignee is inactive.

[2018-01-25 08:08] pombredanne commented on #851
@yash-nisar sure, but please see the PRs https://github.com/nexB/scancode-toolkit/pull/868 and https://github.com/nexB/scancode-toolkit/pull/862
@starlord1311 are yo0u OK with this?

[2018-01-25 08:12] yash-nisar commented on #851
Roger that @pombredanne  😄

[2018-01-25 11:44] yash-nisar commented on #876
I'm closing the issue, since the PR has been merged and the commit is [here](https://github.com/nexB/scancode-toolkit/commit/1a51a12239978d91846b1d6222936c86136639e2).

[2018-01-25 11:44] #876 closed

[2018-01-25 15:13] techytushar commented on #606
@pombredanne hey, i would like to work on this. Can you please explain what all is required?

[2018-01-25 16:03] pombredanne commented on #606
@techytushar great!
So the first thing is that it is likely a new "scanner" using the new plugins arch in #885
Then this should find detect and normalize each tag (likely with a bunch of regex, possibly with Pygments)  and report them in the scan.
I guess the name could be doc-tags or something TBD

[2018-01-25 16:03] inishchith commented on #384
@pombredanne I'd like to work on this , can you assign this to me ?

[2018-01-25 16:22] majurg commented on #384
@inishchith I believe you can assign yourself :)

[2018-01-25 16:24] majurg commented on #384
@inishchith Assignees can only be apart of our GitHub org for now, but you are free to contribute to this (and any other) issue. :)

[2018-01-25 16:25] inishchith commented on #384
Oh , I'll it a try  👍

[2018-01-25 16:29] inishchith commented on #384
@majurg do i restrict the number to 100 per file for now ? and report as per above comments by @pombredanne ?

[2018-01-25 16:37] majurg commented on #384
@inishchith 100 per file is a good place to start for now.

[2018-01-25 17:05] inishchith commented on #384
@majurg do we just print the warning on the CL :
[code]
or is there a better way to report ?

[2018-01-25 17:39] techytushar opened #892 "Incorrect id for summary and clues in help_template.html"
In the `help_template.html` file the `id` attribute of the h3 is not properly defined.
Example: It should be `<h3 id="summary">Scan Summaries</h3>` instead of `<h3 id="#summary">Scan Summaries</h3>`

[2018-01-25 17:48] inishchith commented on #384
@pombredanne @majurg please suggest

[2018-01-25 21:48] starlord1311 commented on #870
@pombredanne  can i take up this issue?

[2018-01-25 21:50] starlord1311 commented on #849
@pombredanne  can i take up this issue?

[2018-01-25 22:00] starlord1311 commented on #366
@pombredanne  can i take up this issue?

[2018-01-26 00:14] pombredanne commented on #870
@starlord1311 Thanks, but I think based on the comments above this is already worked on. @yash-nisar ping?

[2018-01-26 04:11] yash-nisar commented on #870
Yes, I'll open a PR by today.

[2018-01-26 07:20] yash-nisar opened #895 "Add "category" to the wiki that states "How to add a new license for detection?""
Originated from https://gitter.im/aboutcode-org/discuss?at=5a69d7af6117191e61aefe5d, the plan is to add it to the wiki since it is mandatory and skipping it causes a [test failure](https://ci.appveyor.com/project/nexB/scancode-toolkit/build/1545/job/gmnrr0f6rt1dd7yk#L150).

The link to the wiki is [here](https://github.com/nexB/scancode-toolkit/wiki/FAQ).

@pombredanne , I'll post the changes here

[2018-01-26 07:30] inishchith opened #896 "Add alternatives for email and url under "How To: Set what will be detected in a scan""
In the "Syntax option" table , there's -p for packages . we can add -u and -e in too to that section
 for email and url , so as to follow the convention .

Link to the wiki : [here](https://github.com/nexB/scancode-toolkit/wiki/How-To:-Set-what-will-be-detected-in-a-scan)

@pombredanne once approved by you . is it okay if i make the changes to this section of wiki ?

[2018-01-26 07:48] yash-nisar commented on #895
I'm thinking of something like the following :
...
* a small text data file (in YAML format) named key.yml that contains license information such as:
[code]
...

@pombredanne Do you think this will suffice ?

[2018-01-26 10:02] sschuberth opened #897 "ScanCode should highlight Facebook patent grant"
While e.g. past [version v15.0.0 of react](https://github.com/facebook/react/tree/v15.0.0) is basically BSD-licensed, it comes with an additional patent grant in the [PATENTS file](https://github.com/facebook/react/blob/v15.0.0/PATENTS). As that's a rather important amendment to the license, it would be nice if ScanCode would take this into account and not just report the license as

          "ke

[2018-01-26 10:06] sschuberth commented on #897
Sorry, I was seeing this when explicitly telling ScanCode to only scan the `LICENSE` file. For the `PATENTS` file ScanCode already reports

          "key": "facebook-patent-rights-2",
          "score": 99.67,
          "short_name": "Facebook Patent Rights 2",

So all 👍

[2018-01-26 10:06] #897 closed

[2018-01-26 10:17] Chaitya62 commented on #57
@retrography @pombredanne  Can we use [Zenodo](https://zenodo.org/)  instead it provides option to export the cite in various formats too.

[2018-01-26 13:22] pombredanne commented on #384
@inishchith there is no need to have a CLI warning at all.
Instead you should be looking at the #787 branch https://github.com/nexB/scancode-toolkit/tree/787-new-plugin-architecture and consider these updates:
1. add a new option to each of email and url scanner plugins that sets a limit to the returned number of things. Using a default of say 50.
2. update the plugins to return a closure scanner

[2018-01-26 13:27] inishchith commented on #384
@pombredanne I'll give it a try . Actually i's looking for a good first issue so that i can get started . still i'll try .

[2018-01-26 13:36] inishchith commented on #384
One more thing @pombredanne default would be set to 50 . are we providing the user to enter a number right from CLI ?

[2018-01-26 13:58] inishchith commented on #384
@pombredanne i mean an example of CLI command would be helpful .

[2018-01-26 15:01] pombredanne commented on #897
Note that I recently pushed a few new rules for react. I have also in the #885 branch a few enhancements that should speed things up

[2018-01-26 15:01] pombredanne commented on #897
re :

FWIW, I have been thinking to add a "shallow scan" option similar to GH Licensee that would only scan a few top levle files

[2018-01-26 15:03] sschuberth commented on #897
Or maybe only all files in the root directory, without recursing into sub-directories. Or more generically a `--directory-depth` argument. Yes, that could make sense.

[2018-01-26 15:03] pombredanne commented on #895
May be some short explanation and list fo what are the available categories woul;d be best. @DennisClark do you agree?

[2018-01-26 15:05] pombredanne commented on #896
@inishchith sure thaings. Go for it. Thanks!

[2018-01-26 15:06] pombredanne commented on #57
@Chaitya62 why not? what would this entail?

[2018-01-26 16:24] Chaitya62 commented on #57
@pombredanne  with Zenodo we can create a DOI as well as an easy way to generate citations in a number of formats. I found about it [here](https://guides.github.com/activities/citable-code/), it also has the steps to do it.

[2018-01-26 16:27] inishchith commented on #896
Done !.

[2018-01-26 16:27] #896 closed

[2018-01-26 16:37] Chaitya62 commented on #624
I would like to take this issue @pombredanne

[2018-01-27 07:38] inishchith commented on #662
@pombredanne is issue this being worked upon ?

[2018-01-27 07:55] inishchith commented on #301
@pombredanne I think i can work on this issue . any pointers ?

[2018-01-27 08:20] inishchith commented on #301
@pombredanne I've read through the reference and opened a PR . i think after getting it merged i can open a PR at [covenant.org repo](https://github.com/ContributorCovenant/contributor_covenant) . ping

[2018-01-27 10:51] inishchith commented on #662
i've to add this license right ?

[2018-01-27 15:35] yash-nisar commented on #845
@SaravananOffl Are you still working on this ? If not, can I proceed with this ticket ?

[2018-01-27 16:14] yash-nisar commented on #595
@pombredanne , I'm taking this one as this doesn't have a PR. :)

[2018-01-29 07:54] yash-nisar opened #905 "Unused function `find_and_filter(...)` in finder.py"
The function `find_and_filter(...)` defined [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/cluecode/finder.py#L72-L79) seems to be redundant. Should we remove it @pombredanne ?

[2018-01-29 10:53] yash-nisar commented on #829
I'm working on this one ! @pombredanne

[2018-01-29 11:00] yash-nisar commented on #829
I've figured out the solution, notice the difference :
**Initially :**
[code]
**After the bug has been resolved :**
[code]

Spoiler: Notice the last line in both cases.

[2018-01-29 11:07] yash-nisar commented on #830
Can you elaborate a bit with an example @pombredanne ?

[2018-01-30 12:13] sschuberth commented on #884
We now also see a core dump due to memory corruption in a similar szenario:

    *** Error in `/workspace/oss-review-toolkit/scanner/src/funTest/assets/scanners/scancode-toolkit/bin/python2.7': malloc(): memory corruption: 0x00007f2afc7026b0 ***
    ======= Backtrace: =========
    /lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7f2b150317e5]
    /lib/x86_64-linux-gnu/libc.so.6(+0x8213e)[0x7f2b1503c13

[2018-01-30 12:29] yash-nisar commented on #726
@pombredanne Can you please elaborate with an example to make things a bit lucid ?

[2018-01-30 16:51] sschuberth opened #907 "Core dump during scan due to memory corruption in libmagic"
We see a core dump with ScanCode 2.2.1 in CI due to memory corruption:

    *** Error in `/workspace/oss-review-toolkit/scanner/src/funTest/assets/scanners/scancode-toolkit/bin/python2.7': malloc(): memory corruption: 0x00007f2afc7026b0 ***
    ======= Backtrace: =========
    /lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7f2b150317e5]
    /lib/x86_64-linux-gnu/libc.so.6(+0x8213e)[0x7f2b1503c13e]

[2018-01-30 17:12] haikoschol commented on #907
@pombredanne I just confirmed that the version available in Debian 9 works:
[code]

[2018-01-30 18:19] yash-nisar commented on #716
We already keep track of only the first URL as mentioned [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/formattedcode/format_csv.py#L210-L212), or are we planning to change the data-type from a list to a string in the [parent class itself](https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/models.py#L717) ?

Is there any example/case where we have multiple dow

[2018-02-01 06:22] vivonk commented on #905
I think it's useful for further uses in case showing more derived results, however it's not implemented yet.

[2018-02-01 18:05] yash-nisar opened #911 "Update codecov version to the latest version (2.0.15)"
Update codecov to the latest version (i.e 2.0.15 at the time of opening this issue). Originated from the discussion [here](https://gitter.im/aboutcode-org/discuss?at=5a734d0fb3c4a0d376cae27a).

[2018-02-02 02:44] kramsram opened #912 "Scancode Configuring for First Use Issue on Mac with "/Volumes/Macintosh HD" as the root disk"
When I download and attempt to run scancode the first invocation gets me this error - becasue my Volume name where the Users folder lives has a space in it like so - "Macintosh HD"

MacMini:scancode-toolkit-develop krams$ ./scancode
* Configuring ScanCode for first use...
* Activating ...
/bin/sh: /Volumes/Macintosh HD/Users/krams/Downloads/scancode-toolkit-develop/bin/pip: "/Volumes/Macintosh: ba

[2018-02-02 11:36] Chaitya62 commented on #624
@pombredanne  Please review the PR #902  and let me know the changes whenever you can.

[2018-02-02 13:11] yash-nisar commented on #802
I'm taking this one !

[2018-02-03 01:24] DennisClark opened #913 "Provide the ability to maintain a custom license collection separate from the standard ScanCode licenses"
A business may discover multiple commercial and other proprietary licenses in its product code, or in third-party products that it is evaluating for usage. These notices often appear as proprietary copyright and/or license notices in source file headers. Since the information in those license notices might be sensitive, it would be very useful to:

Collect these notices+detection rules in a custom

[2018-02-04 11:23] pombredanne commented on #295
For the 2 to 3 update, **the first step** will be effectively to gather wheels for every ScanCode-bundled dependencies

I do not know which one would be OK or not: this has to be tested

And eventually a Python 3 wheel --if not available-- can be built for all OSes/archs using https://github.com/pombreda/thirdparty-manylinux/ https://github.com/pombreda/thirdparty that are Travis and Appveyor buil

[2018-02-05 10:13] aviral1701 commented on #863
@SaravananOffl Any word?

[2018-02-05 21:53] pombredanne commented on #913
@DennisClark Thanks!
if you think this is the same as https://github.com/nexB/scancode-toolkit/issues/480 it may make sense to merge that in this ticket

[2018-02-06 01:04] DennisClark commented on #480
Transferring the following comments from #913.
A business may discover multiple commercial and other proprietary licenses in its product code, or in third-party products that it is evaluating for usage. These notices often appear as proprietary copyright and/or license notices in source file headers. Since the information in those license notices might be sensitive, it would be very useful to:

Co

[2018-02-06 01:04] DennisClark commented on #913
Closing as duplicate of #480

[2018-02-06 01:04] #913 closed

[2018-02-06 05:30] aviral1701 commented on #905
May I ask how did you come up with this? @yash-nisar

[2018-02-06 06:24] yash-nisar commented on #905
What exactly do you want to know about the issue @aviral1701 ?

[2018-02-06 06:37] yash-nisar commented on #784
I would like to work on this issue. :)

[2018-02-06 14:54] aviral1701 commented on #905
I just wanted to how you found this issue? @yash-nisar

[2018-02-06 14:58] #870 closed

[2018-02-06 15:12] #851 closed

[2018-02-06 15:15] #858 closed

[2018-02-06 15:27] #871 closed

[2018-02-06 15:46] pombredanne commented on #912
@kramsram Thank you for the report!
This sounds like even pip cannot handle this properly. So the only way around is to use volume names without spaces I guess.... can you give it a try?
But there might be a fix possible in the configure script too.

[2018-02-06 15:47] pombredanne commented on #911
Thanks!

[2018-02-06 15:47] pombredanne commented on #895
@DennisClark ping?

[2018-02-06 15:48] pombredanne commented on #892
Thanks! and thank you for proposing a fix too.!

[2018-02-06 15:49] pombredanne commented on #905
Well that's the thing that may be useful in the future and is not used... so it should likely be removed alright.

[2018-02-06 15:50] pombredanne commented on #839
@Chaitya62 a PR is welcomed!

[2018-02-06 15:51] pombredanne commented on #827
@supragya can you check the #885  branch ? there are some changes in that area.

[2018-02-06 15:54] yash-nisar commented on #905
Okay, I'll create a PR and ping you for review 👍

[2018-02-06 15:56] kramsram commented on #912
I did rename my hard drive volume and got it working.

The process of renaming the volume is not too crazy. First need to update the home dirs of all users involved. Then rename the hard drive and boot. If you forget to the rename the home folders you will have to login as guest and change it via the System Preference->Accounts->Advanced Options UI.

The biggest impact is on Timemachine backups wh

[2018-02-06 18:49] Chaitya62 commented on #839
@pombredanne  On it.

[2018-02-07 15:29] pombredanne opened #919 "Allow to load a codebase from an existing JSON scan"
This would be a way to reprocess a codebase though plugins (including outputs) but not through scanners.

[2018-02-07 15:30] pombredanne commented on #11
We now always capture a full traceback since #885
 Closing

[2018-02-07 15:30] #11 closed

[2018-02-07 15:31] pombredanne commented on #14
Since #885 this will be possible through a pre-scan plugin that dives into archives.

[2018-02-07 15:34] pombredanne commented on #112
We have made some progress towards this: the new #885 code now has some limited schema exposed by every plugin for the top level attributes they contribute to a scan

[2018-02-07 15:35] pombredanne commented on #182
This has also been reported by @jeffmcaffer
I am boosting the priority to v2.3