[2020-12-27 06:21] sankha555 commented on #2349
Hello @AyanSinhaMahapatra ! I wanted to know if you are still working on this issue and if I could assist regarding the same. Could you please let me know if there is any scope for me to contribute here? Thanks a lot!

[2020-12-28 20:32] mjherzog commented on #2304
A license detection within code is useful, but it should be somehow delineated from a license detection within comments because the former is never a sufficient license assertion. For example if you have a license within a MODULE_LICENSE( ) statement that would not on its own be sufficient as a clear license assertion. So there should be some way to document when a license detection comes from cod

[2020-12-30 10:54] sschuberth commented on #2311
Is this issue already fixed in a release or at least the `develop` branch? If not, I believe we should keep it open until the fix is generally available.

[2020-12-30 14:01] nnobelis commented on #2311
This is currently fixed in two branches :
`origin/license-updates-2020-10`, `origin/release-20-12-prep`

[2020-12-31 02:53] mjherzog commented on #2304
For special cases like MODULE_LICENSE it would probably be best to use a separate ScanCode plugin that you only run when your codebase fits that use case - i.e. no reason to look for MODULE_LICENSE in anything but C/C++ code where the product codebase includes Linux drivers or similar.

[2021-01-05 08:13] FlorianSW commented on #2172
Just to clarify: I opened a similar issue with ClearlyDefined, and it seems the underlying issue is this one as well :) The issue in CD would be: https://github.com/clearlydefined/service/issues/767

Just for reference and one more example. If it is not related, sorry for the noise :)

[2021-01-05 09:07] ektasinghai commented on #1378
Is this issue still open?? If yes, I would like to contribute on it.

[2021-01-05 13:46] pombredanne commented on #2172
@FlorianSW Thank you for the report!
Your case of https://github.com/yargs/y18n/blob/45d2568800d6c57be045e76dc4984b2ef3432233/LICENSE#L1
`Copyright (c) 2015, Contributors` is actually slightly different from this case here, but that's OK.

When using this  `SCANCODE_DEBUG_COPYRIGHT=yes scancode -c --json-pp -  menu.ts`:

- The case `Copyright 2018-2019 @paritytech/substrate-light-ui authors & cont

[2021-01-05 14:08] sritasngh commented on #2246
Hey @AyanSinhaMahapatra, does this issue come under good first issue? also if yes, can I create a pull request for issue All Good First Issues List #1825? Thankyou:)

[2021-01-05 14:46] FlorianSW commented on #2172
Oh, ok, thanks for your answer. Should I open a new issue for that or is it ok to have it within this one for now as well? :)

[2021-01-05 15:52] pombredanne commented on #2172
@FlorianSW No need for another ticket, they are fine together

[2021-01-11 07:31] daniel-eder opened #2361 "Reference to MIT is misunderstood as reference to APACHE-2.0"
### Description

When scanning the file https://github.com/Open-Source-Compliance/tdosca-tc06-plainhw/blob/master/input-sources/AUTHORS
the lines 4 and 5 are detected as Apache 2.0 based on rule `apache-2.0_327.RULE` with a score of 54, as well as "unknown" based on rule `unknown-license-reference_93.RULE` with a score of 100.

I think MIT should at least be detected and with a higher score than A

[2021-01-11 12:04] sritasngh commented on #2210
@pombredanne @AyanSinhaMahapatra There is wrong license detected for ANTI-CAPITALIST SOFTWARE LICENSE (v 1.4)

License text used:
Copyright © [year] [copyright holders]

This is anti-capitalist software, released for free use by individuals and organizations that do not operate by capitalist principles.

Permission is hereby granted, free of charge, to any person or organization (the "User") obtai

[2021-01-11 12:06] sritasngh commented on #2210
"licenses": [
        {
          "key": "waterfall-feed-parser",
          "score": 27.92,
          "name": "Waterfall Feed Parser License",
          "short_name": "Waterfall Feed Parser License",
          "category": "Free Restricted",
          "is_exception": false,
          "owner": "Michael Waterfall",
          "homepage_url": "https://github.com/mwaterfall/MWFeedParser/blob/master/LICE

[2021-01-11 12:11] sritasngh commented on #2210
should I proceed further? I would like to work on this issue:)

[2021-01-11 18:14] pombredanne commented on #2361
@daniel-eder Thank you!
Note that this notice wording seems to be used only in three places across the internet:
two files in Open-Source-Compliance/tdosca-tc06-plainhw  and this ticket
- https://github.com/search?q="This+project+is+licensed+under+the+terms+of+the+MIT+license."+"Please+see+the+file+LICENSE+for+details."&type=code
- https://www.google.com/search?q="This project is licensed under th

[2021-01-12 07:35] daniel-eder commented on #2361
Apologies, my wording was somewhat ill-chosen!
I absolutely agree, introducing rules for synthetic notices will lead down a rabbit hole.

Let me try to rephrase my ticket: I am not so much worried about the detection of Apache (especially because it is with a reasonably low score), but rather surprised the MIT is not detected at all in that file, despite "MIT license" being in the text. (I can pro

[2021-01-12 08:26] sritasngh opened #2362 "Incorrect License detected for Anti-Capitalist Software License"
## Incorrect License name Waterfall Feed Parser License has been detected for Anti-Capitalist Software License

- license scan
- new feature

### Add License/Copyright

### **Adding Anti-Capitalist Software License will improve License detection result**
### **I want to add Anti-Capitalist Software License**
#### I am using 64 bit Ubuntu 18.04 OS
#### python 3.6
#### Installed ScanCode from source

[2021-01-12 09:04] sritasngh commented on #2362
https://github.com/nexB/scancode-toolkit/issues/2210#issuecomment-757910038

[2021-01-12 11:23] Alex-Vaduva opened #2363 "2 number copyrights missing"
### Description

for copyrights like: Copyright (C) 1991,92,93,97,98,99, 05 Free Software Foundation, Inc.
in the latest version, the output was: Copyright (c)  1991,92,93,97,98,99

What it's interesting, is that if I scan with version 2.2.1, then the copyright is complete.

### System configuration

* What OS are you running on? (Windows)
* What version of scancode-toolkit was used to generate th

[2021-01-13 12:24] sritasngh commented on #2268
@pombredanne I would like to work at this issue.

[2021-01-13 15:23] Alex-Vaduva commented on #2363
Another example:
   Copyright (C) 1990, 91-99, 2000, 2001, 2002, 2003, 2004
   Free Software Foundation

output in json: Copyright (c) 1990

[2021-01-14 09:22] pombredanne opened #2366 "RFC: Drop native Windows support for WSL2"
There are many problems derived from supporting native Windows: since we are dealing with a lot of lower level paths and files and bytes handling we are exposed to many of the subtle differences between POSIX and Windows. As a result there is a lot of code that just handles all these quirks.
With the advent of a decent POSIX support in Windows 10, I would like to drop entirely native Windows suppo

[2021-01-15 09:31] danielthieleog opened #2368 "Not usable with commoncode 21.1.14"
### Description

When using new commoncode release 21.1.14 calling scancode fails.
This was not the case with commoncode release 20.10.20.

Error message from scancode

### How To Reproduce

[code]

Error also occurs with python 3.9.1.

### System configuration

Running on Linux in python:3.6 docker container.
Release 3.2.3 of scancode-toolkit.
Installed with pip.

[2021-01-16 07:43] akugarg commented on #2350
Hey @tdruez !
If this issue is still open Can I work on this?

[2021-01-18 05:56] tdruez commented on #2350
Hi @akugarg, yes PR welcome 👍

[2021-01-18 18:29] archanray opened #2369 "Installation issues in MacOS Big Sur 11.1"
### Description

Can not install scann. It spits out the following error:
`
ERROR: Could not find a version that satisfies the requirement scann
ERROR: No matching distribution found for scann
`

### How To Reproduce

`pip install scann`

### System configuration

* What OS are you running on? (Windows/MacOS/Linux) `MacOS Big Sur 11.1` Python details: `Python 3.8.5`, `pip 20.3.3`
* What version of

[2021-01-18 19:28] tdruez commented on #2369
@LousyLory what about `pip install scancode-toolkit`?

https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html#pip-install

[2021-01-19 21:20] priv-kweihmann commented on #2368
https://github.com/nexB/commoncode/commit/0c646b79169bcd5179902010ef4d4d7aea1cfacd removed that code, although that doesn't look perfectly right to me - The block starting from https://github.com/nexB/commoncode/commit/0c646b79169bcd5179902010ef4d4d7aea1cfacd#diff-95c7b154fe632f7ace737d26910c5bc5b7d0a5947d09ffcd905fae446e58d588L96 shouldn't have been removed IMO

But to me that is rather a bug in

[2021-01-20 12:23] sritasngh commented on #2363
Hey @Alex-Vaduva! Can you give some information about how to reproduce this issue?

[2021-01-20 13:51] Alex-Vaduva commented on #2363
Sure. If you scan the source code package from glibc 2.15 or from GNU Binutils 2.15.

[2021-01-21 08:39] xu1119 opened #2371 "Code wrongly detected as gpl-1.0"
When trying to scan this file with latest scancode, It get the following license :
file from https://github.com/zyq8709/DexHunter/blob/master/dalvik/vm/compiler/codegen/x86/AnalysisO1.cpp
[code]
### Description

Source code wrongly detected as gpl-1.0

### How To Reproduce

scancode -li --license-text --json-pp - AnalysisO1.cpp

### System configuration

* What OS are you running on? (Windows/MacO

[2021-01-21 14:47] pombredanne commented on #2371
@xu1119 Thanks!
@AyanSinhaMahapatra would your new plugin be able to spot this?

[2021-01-21 15:20] AyanSinhaMahapatra commented on #2371
@pombredanne No (and Yes). But it should have definitely, so this was a good find.

1. So in, most of the false positives I got before, the common factor was that `rule_length` was 1, as in it got matched to a very simple rule having just the name of the license, like just `gpl`. But this got matched to [`gpl-1.0_15.RULE`](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data

[2021-01-21 15:36] AyanSinhaMahapatra commented on #2371
Also @pombredanne there's a ticket open for an extra heuristic you suggested, here at nexB/scancode-results-analyzer#29, implementing this (without the `single-word`, making things more explicit here as discussed above) also would be able to detect this, since the `"start_line": 1606`.

[2021-01-22 09:51] balakrishna-mukundaraj commented on #1751
Hello all Good day
:)
we have a query regarding the kwsearch plugin we came across while reading about it in below issue link
https://github.com/nexB/scancode-toolkit/files/3897149/scancode_keyword_plugin_code.zip
Is this plugin made available publicly in current releases?
if so we would like to use basic features of those
could you kindly help?

[2021-01-23 17:43] sritasngh commented on #2300
@pombredanne Can I work on this issue?

[2021-01-23 17:44] sritasngh commented on #2299
Anyone working on this issue? I would like to work :)

[2021-01-23 17:47] sritasngh commented on #2279
@pombredanne can you provide some more information please:)

[2021-01-24 07:17] sritasngh commented on #2300
https://github.com/Bacchustaf/SyRe_MSc/blob/078df81c8d13c873b15c92684167f4503bd766df/xfemm-code-310/mfemm/pfemm/fmesher/LICENCE.txt
fmesher is also distributed under the terms of the Aladdin
Free Public License. Do they have to be added under Aladdin free Public License test?

[2021-01-25 08:38] xu1119 opened #2374 "gpl-1.0-plus false positives"
When trying to scan this file with latest scancode, It get the following license :
File from https://github.com/chapel-lang/chapel/blob/master/CHANGES.md
[code]
The context of matched_text is：
[code]
### Description

gpl-1.0-plus false positives

### How To Reproduce

scancode -li --license-text --json-pp - CHANGES.md.txt

### System configuration

* What OS are you running on? (Windows/MacOS/Linu

[2021-01-25 14:35] AyanSinhaMahapatra commented on #2374
"general public" and "license" are there in consecutive lines accidentally. @pombredanne this also doesn't get picked up by the [analyzer](https://github.com/nexB/scancode-results-analyzer) currently, but the extra heuristics you suggested at nexB/scancode-results-analyzer#29 (i.e. less word rule and line numbers are > 1000) would pick this up.

[2021-01-25 15:20] pombredanne commented on #988
The resolution is to going  bundle the pre-built index in the release archives

[2021-01-25 15:57] abhi27-web commented on #1286
Can I work on these issues. Please send me the details.

[2021-01-25 17:05] JeroenKnoops commented on #2368
Also happens in commoncode-21.1.21
PATH_TYPE can not be imported anymore.

[2021-01-25 18:52] pombredanne opened #2376 "Add support for openwrt packages"
## Short Description
These are highly similar to Debian package as they based on .deb
They use the same layout and control files, but no copyright files. Instead they use for short license code for licenses

See https://downloads.openwrt.org/ for examples ... for instance https://archive.openwrt.org/releases/18.06.0/targets/ipq806x/generic/packages/

[2021-01-25 20:23] priv-kweihmann commented on #2368
I hope https://github.com/nexB/commoncode/pull/10 will fix the issue

[2021-01-25 21:59] pombredanne commented on #2337
@LeChasseur @mjherzog for your review here are the suggested changes:
- the new NOTICE: https://github.com/nexB/scancode-toolkit/blob/18c836e82b0b9a97b8237326694d21bf75c38796/NOTICE
- a code header notice: https://github.com/nexB/scancode-toolkit/blob/18c836e82b0b9a97b8237326694d21bf75c38796/src/licensedcode/__init__.py

[2021-01-26 07:56] pombredanne commented on #2337
Note that in hindsight a shorter notice for code may be better than https://github.com/nexB/scancode-toolkit/blob/18c836e82b0b9a97b8237326694d21bf75c38796/src/licensedcode/__init__.py
e.g. this (which is also only about code under Apache):
[code]
rather than the longer:
[code]

[2021-01-26 07:57] pombredanne commented on #2337
Also, https://github.com/nexB/scancode-toolkit/blob/18c836e82b0b9a97b8237326694d21bf75c38796/src/licensedcode/data/data.ABOUT contains the proposed data notice

[2021-01-26 08:07] sschuberth commented on #2337
I'm wondering about the "*open* data" wording here; it sounds as if there is other, non-open data in ScanCode that is licensed differently. But isn't what you want to say just that the "data is (openly) licensed under CC-BY-4.0"?

[2021-01-26 08:41] pombredanne commented on #2337
@sschuberth

Good point! That was more highlight the fact the data is open not that there is anything that's not. But that's redundant and obvious I guess.

[2021-01-26 08:55] hesa commented on #2337
Tiny comment on https://github.com/nexB/scancode-toolkit/blob/18c836e82b0b9a97b8237326694d21bf75c38796/NOTICE:

"The preferred way to attribute te data is this notice::"
=>
"The preferred way to attribute the data is this notice:"

[2021-01-26 09:09] pombredanne commented on #2337
@hesa Thanks! I guess that's me wanting to put ReST everywhere :)

[2021-01-26 09:09] pombredanne commented on #2337
actually there is also a typo, not only the double colons! ... thanks!

[2021-01-26 09:11] pombredanne commented on #2337
BTW, in case you have not seen this, this is generated from the scancode license data https://scancode-licensedb.aboutcode.org/

[2021-01-27 01:54] chinyeungli commented on #2376
For `/baseline/ipq/gdb_7.8-2_ipq.ipk`
I've `package__declared_license` as "GPL-3.0+" , but `package__license_expression` as "gpl-2.0-plus"
Perhaps this is a bug?

[2021-01-27 14:43] pombredanne commented on #2376
That's a bug alright! good catch! the bug is here: https://github.com/nexB/scancode-toolkit/blob/0d2ac9ca4901a5e6ff903b08f94bf8ec21fb3d44/src/packagedcode/openwrt.py#L407

[2021-01-27 22:14] mjherzog commented on #2337
@pombredanne @DennisClark
I have attached my suggested text for the separate Code, Data notices and Codebase notices.
For the Code and Data notices I have drafted a notice that is somewhat longer than Philippe's suggestion because I added a URL for license text. I considered using a LicenseDB URL, but decided that it would be better to reference the original author URL.
I also rewrote the text for

[2021-01-27 22:58] DennisClark commented on #2337
@mjherzog   the texts look good to me!   One minor thing in the Codebase one:
[code]
The row of equal signs does not exactly line up with the title of the section -- but no big deal.

[2021-01-27 23:27] tsteenbe commented on #2337
@pombredanne  Thumbs up for this change from my side, I did find it funny that you have a source code request text into the notice as above you provide the download URLs. Is this a requirement coming from one of the third party licenses?

[2021-01-28 07:35] xu1119 opened #2377 "python-2.0 license false positive"
### Description
When trying to scan the project https://github.com/keras-team/keras with latest scancode, It get two false positives.
Two files are:
https://github.com/keras-team/keras/blob/master/keras/distribute/sidecar_evaluator.py
and
https://github.com/keras-team/keras/blob/master/keras/utils/generic_utils.py

"License" and "python" are there in consecutive lines, it is detected as python-2.0

[2021-01-28 07:53] pombredanne commented on #2377
@xu1119 Thank you: a great find.

FWIW, I usually run a scan with these options ` --license --license-text --license-text-diagnostics --json-pp -` when I want to validate some bug. So much so that I created an alias in my bash aliases:
`alias sca='scancode --license --license-text --license-text-diagnostics --json-pp -'`
This may help you.

That said, you found exactly the issue and the problemati

[2021-01-28 07:59] pombredanne commented on #2337
That's still a requirement for the older GPL- and LGPL-licensed code such as section 6.c of the https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html. Note that I ever received such a request, and technically having the source available for download with the binary makes this moot, but just in case I find it nice to have such a written offer.

[2021-01-28 08:04] pombredanne commented on #2337
@mjherzog

Thanks! let me apply and push these so we can have a final review before I merge this is develop and tag a new release!

[2021-01-28 10:16] xu1119 commented on #2377
Another file [sidecar_evaluator.py](https://github.com/keras-team/keras/blob/master/keras/utils/generic_utils.py) has text:
[code]
The text ```python utilities``` may also add to false positive rule?

[2021-01-28 13:51] pombredanne commented on #2377
@xu1119 correct, that would mean adding another rule for this.

[2021-01-28 15:31] AyanSinhaMahapatra commented on #1790
I see the prompt `Please be aware travis-ci.org will be shutting down in several weeks, with all accounts migrating to travis-ci.com. Please stay tuned here for more information.` is scancode travis builds and @sbs2001 also mentioning at gitter@discuss that we should migrate too (given there aren't any hidden implications/non-free conditions).

Should we make this migration and/or Github actions,

[2021-01-28 15:46] pombredanne commented on #2337
The latest commit above has the updated license notices.

[2021-01-28 15:47] pombredanne commented on #2337
Unless there is an objection, this is being merged tomorrow Friday.
Thank you all for the precious feedback and contributions!

[2021-01-28 19:37] pombredanne commented on #1790
I am dropping Travis entirely for now

[2021-01-28 21:09] jtwebman commented on #1790
I moved everything to Github actions

[2021-01-29 07:30] #15 closed

[2021-01-29 07:30] #2070 closed

[2021-01-29 10:33] #1758 closed

[2021-01-29 16:28] #2345 closed, assigned to AyanSinhaMahapatra

[2021-02-01 07:12] daniel-eder opened #2380 "Treat Apache-2.0 text without appendix as full license text"
## Short Description
Apache-2.0 license texts without the appendix are recognized only as license notices, not license texts.
An example of such a license text can be found here:  https://github.com/Open-Source-Compliance/tdosca-tc06-plainhw/blob/master/input-sources/LICENSE.Apache-2.0

**It should be discussed, whether the license without the appendix can be treated as a full license text or not.

[2021-02-01 08:06] danielthieleog commented on #2368
Not fixed yet. nexB/commoncode#10 is still open.

[2021-02-02 08:09] Angi2412 commented on #2368
Did you find a workaround while the issue is not fixed?
Or should I just use an earlier release of scancode?

[2021-02-02 08:14] JeroenKnoops commented on #2368
I'm not sure how to use an earlier release...

[2021-02-02 08:15] priv-kweihmann commented on #2368
you can enforce earlier versions of commoncode (https://pypi.org/project/commoncode/20.10.20/ should work fine)

[2021-02-02 08:43] Angi2412 commented on #2368
Thank you! That works for now 👍

[2021-02-02 09:13] JeroenKnoops commented on #2368
Sorry to bother again, but I don't seem to get that working.. How did you do this @Angi2412 ?

New vitualenv:
[code]
Still uses 21.1.21

[2021-02-02 09:22] priv-kweihmann commented on #2368
[code]
should do the trick

[2021-02-02 09:38] JeroenKnoops commented on #2368
Unfortunately this will result in:

[code]

I will wait till the release... No worries.

[2021-02-02 10:24] danielthieleog commented on #2368
As workaround try to install old commoncode 20.10.20  together with the other packages, e.g.

[code]

[2021-02-02 10:28] Angi2412 commented on #2368
I use it in a requirements.txt file and install it in a Dockerfile.
Content of requirements.txt:
[code]

Content of Dockerfile:
[code]

[2021-02-02 19:41] mohsinm-dev commented on #2369
I think you should upgrade the pip to the new version and try to run it again, Hopefully, it will work

[2021-02-03 05:10] abhi27-web commented on #1991
I want to work on issue #1991. Can I get more details.

[2021-02-03 08:28] chinyeungli opened #2382 "Cannot collect package scan from an npm package.json without a version aka. "private""
scancode package scan fail the extract information from the following package.json file
[code]

[2021-02-04 16:22] pombredanne opened #2383 "Provide source code location (e.g. URL) for detected packages"
This has been reported as a desired feature in scancode.io https://github.com/nexB/scancode.io/issues/87 :
- when a package is detected, I would like to know what is the URL to download the source code
- this would presumably then be used to fetch and scan the corresponding sources.

scancode-toolkit makes a best attempt to infer and craft a download URL for a package and a Package URL for the sou

[2021-02-04 16:29] pombredanne commented on #2382
Good catch... If I run this:
`SCANCODE_DEBUG_PACKAGE_API=yes ./scancode -p --json-pp - package.json`
this gives me extra debug info:
[code]

which is only mildly helpful

[2021-02-06 11:41] pombredanne opened #2384 "Add OIL licenses"
See https://github.com/StarkDrones/OPNLv1/blob/main/.github/LICENSE.md and  https://github.com/StarkDrones/OPNLv2/blob/main/.github/LICENSE.md

There seems to some use in the wild https://github.com/search?q="Open+Innovation+License"&type=code that may jsutify a named license.
The alternative is to create multiple detection rules instead.
The licenses are somehow problematic for reuse as they are

[2021-02-07 06:16] akugarg commented on #2384
Hey!@pombredanne
Can I work on this?

[2021-02-07 09:22] dhruvitpokharna commented on #2384
@pombredanne Hey can i start trying to resolve the issue and also can you give a head start.

[2021-02-08 14:31] bnowacky commented on #2329
I'm getting the same errors with pythons 3.8, running on Mac. I can get SC 3.2.3 to run successfully on older releases of pythons (2.x, but nothing 3.x), so it seems it's at least a python version issues in 3.2.3

[2021-02-08 16:39] bnowacky commented on #2329
actually fixed this error by copying packages from my main python site_packages directory to the /lib/python3.8/sitepackages directory in the Scancode-toolkit directory I downloaded. There were a few specifically, futures, unicodecsv and pyahocorasick.  pluggy, commoncode (specifically 20.10.20, you have to install --force)

Once you manually do this, you can run ./scancode -h and installs success

[2021-02-08 17:07] pombredanne commented on #2329
@bnowacky I am working on a new release that should hopefully fix all this. And the latest develop branch in git should be work fine too

[2021-02-08 17:32] bnowacky commented on #2329
Thanks @pombredanne , just trying to get some additional clarity on the issue and a workaround I found in case it helped identify the issue. Appreciate the help on a fix !

[2021-02-09 15:56] pombredanne opened #2388 "Add support for conan.io C/C++ packages"
### Description
Conan is a C/C++ package manager and we should be able to collect metadata from it. It happens also to be coded in Python
See https://github.com/conan-io

@marco-m-pix4d ping

[2021-02-09 16:20] pombredanne commented on #2388
https://conan.io/center/ is the "repo" for common packages  which is generated from https://github.com/conan-io/conan-center-index using the data files such as there https://github.com/conan-io/conan-center-index/tree/master/recipes/easyexif/all

[2021-02-09 16:20] marco-m-pix4d commented on #2388
Summary of Conan features related to license:

* Each recipe (conanfile.py) has an optional `license` attribute.
* This attribute, if present, is then displayed by the `conan info` command.
* Since `conan info` can report all the direct and indirect dependencies, one can easily make a list of all the license attributes of a project consuming packages via conan.

On the other hand, this would *not*

[2021-02-09 16:52] pombredanne commented on #2388
I guess you need metadata +  scan of the actual package sources as you mentioned in our original chat.

[2021-02-09 21:26] pombredanne opened #2389 "Package license data structure: Improve tracing of license detection in package manifests"
There is little to no logging in place as well as no intermediate results and it is therefore hard to understand how a package `declared_license` has been detected in a `license_expression`. We should potentially keep all the same intermediate results as we have in regular license detection as a diagnostic option, and while this may seem verbose this would be essential to track issues.

[2021-02-09 21:31] pombredanne opened #2390 "Improve quality and tracing of license detection in Debian copyright files"
1. we should be able to recover from mostly OK but not correct copyright files such as this one: https://metadata.ftp-master.debian.org/changelogs//main/p/pulseaudio/pulseaudio_14.2-1_copyright (this may be a ticket for the debian-inspector debut library though)
See https://github.com/nexB/debut/issues/6 Recover parsing from almost machine-readable copyright files

2. we should have the ability to

[2021-02-09 23:40] bnowacky opened #2391 "Setting up 21.2.9 fails when running initial configure."
### Description

cloning git repo, and running ./scancode -h fails  with missing packages :
ERROR: Could not find a version that satisfies the requirement pyahocorasick<1.5,>=1.4 (from scancode-toolkit[full])
ERROR: No matching distribution found for pyahocorasick<1.5,>=1.4

### How To Reproduce

- Clone repo or download from releases page (scancode-toolkit-21.2.9_py36-macos.tar.xz)
-  untar/unzip

[2021-02-10 07:20] pombredanne commented on #2391
@bnowacky I do not think there is a test that ran on macOS bigsur
Could you run the following test for me?
and paste the results here?
This is to isolate possible setup issues and check if you can actually compile native code alright for wheels if needed:
[code]

Also this would be another test that recreates mostly what configure does:
[code]

[2021-02-10 07:38] pombredanne commented on #81
This is best handled by smart version libraries such as libversion and/or package-type specific libraries that handle the comparison of a  package type version OK. No need for more fields IMHO

[2021-02-10 07:38] #81 closed

[2021-02-10 07:40] pombredanne commented on #240
Extractcode has at last been extracted in https://github.com/nexB/extractcode !
Closing now.

[2021-02-10 07:40] #240 closed

[2021-02-10 07:46] pombredanne commented on #260
This is fully implemented now. Closing

[2021-02-10 07:46] #260 closed

[2021-02-10 08:02] pombredanne commented on #268
We have a web gui now with scancode.io https://github.com/nexB/scancode.io/ and I do not think we want to have a GUI wrapper to the CLI. But I am leaving this open if someone wants to contribute

[2021-02-10 08:06] pombredanne commented on #274
This is handled correctly by our auto renaming:
[code]
and duplicates are renamed.
Closing

[2021-02-10 08:06] #274 closed

[2021-02-10 08:09] pombredanne commented on #291
This is now fully automated in
- https://github.com/nexB/scancode-plugins has a comprehensive build loop
- https://github.com/nexB/thirdparty-packages/ and  https://thirdparty.aboutcode.org/pypi/  are used to publish both source sand pre-built binaries

These are abandoned:  https://travis-ci.org/pombreda/thirdparty https://ci.appveyor.com/project/pombreda/thirdparty and https://dl.bintray.com/pom

[2021-02-10 08:34] #291 closed

[2021-02-10 08:35] pombredanne commented on #295
We now support fully Python 3.6, 3.7, 3.8 and 3.9 on Linux, Windows and macOS 64 bits.
we dropped Python 2 support (available in legacy 3.x versions)
Thank you all for the efforts and @Abhishek-Dev09  in particular!

[2021-02-10 08:35] #295 closed

[2021-02-10 08:36] pombredanne commented on #293
The  latest release v21.2.9 is now using calver .

[2021-02-10 08:36] #293 closed

[2021-02-10 08:37] pombredanne commented on #346
We are supporting these as needed alright. And we have some indeed.

[2021-02-10 08:37] #346 closed

[2021-02-10 08:38] pombredanne commented on #366
This is now part of the https://github.com/nexB/scancode-toolkit/blob/cce8cbc64746ed58f2f0a9bf03d6c3500bd7cc1c/etc/release/scancode-create-release.sh tests.
This has not yet been included in the main CI loop but this is good enough.

[2021-02-10 08:38] #366 closed

[2021-02-10 08:44] pombredanne commented on #372
As seen in https://github.com/nexB/scancode-toolkit/blob/cce8cbc64746ed58f2f0a9bf03d6c3500bd7cc1c/src/licensedcode/data/licenses/gpl-2.0.yml#L39 we now track "ignorables" in the licenses and rules https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/gpl-2.0.SPDX.yml#L5

The approach would therefore be to create a post scan plugin driven by an that recognizes the presen

[2021-02-10 08:47] pombredanne commented on #431
This is now completed in https://github.com/nexB/scancode-toolkit/blob/cce8cbc64746ed58f2f0a9bf03d6c3500bd7cc1c/etc/release/scancode-create-release.sh
We still need to run the scripts by hand for now, but this automates:
- creating the releases archives on multiple OS
- testing the release
- publishing a release on GitHub

[2021-02-10 08:47] #431 closed

[2021-02-10 08:48] pombredanne commented on #437
We now have full (and I shall say 1st class support)to collect installed Debian packages data. The code lives here bur is best used from scancode.io with the rootfs or the docker pipelines.
Next will be RPM support

[2021-02-10 08:49] pombredanne commented on #437
This is enabled by https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/debian.py#L79 and by the debut library https://github.com/nexB/debut

[2021-02-10 08:50] pombredanne commented on #442
We now dropped support for Python 2 and are now using unicode inside everywhere. At last!

[2021-02-10 08:50] #442 closed

[2021-02-10 08:57] pombredanne commented on #469
At this stage all pre-built binaries have been "devendored" and are buildable (eventually from sources) from here https://github.com/nexB/scancode-plugins and we have variants that can be used to rely on system-provided binaries instead.
I am keeping this open as we need to craft porting instructions for distros package maintainers

[2021-02-10 08:59] pombredanne commented on #654
They are supported alright and this is possibly problematic and redundant with npms when both are present: I am keeping that open until this si resolved.

[2021-02-10 09:01] pombredanne commented on #616
this no longer applies as json2csv is legacy as well as win32 (we now only support win64), therefore I am closing. We should have no issues with large JSON and CSV on windows now, assuming there is enough RAM.

[2021-02-10 09:01] #616 closed

[2021-02-10 09:04] pombredanne commented on #620
the `"file_type": "PEM certificate" ` should help skip these alright

[2021-02-10 09:07] pombredanne commented on #624
@D-lang14 sorry for the late reply!
The checksum computation is in commncode.hash alright, therefore this would mean adding this in the scan for `--info` here https://github.com/nexB/scancode-toolkit/blob/cce8cbc64746ed58f2f0a9bf03d6c3500bd7cc1c/src/scancode/api.py#L322 ... plu fixing all the tests

[2021-02-10 09:16] pombredanne opened #2392 "Add support for extra visual studio and Nuget "manifests""
There are several files we could squeeze data from:
- packages.config https://docs.microsoft.com/en-us/nuget/reference/packages-config
- https://docs.microsoft.com/en-us/nuget/consume-packages/migrate-packages-config-to-package-reference
- https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-properties
- https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build
- vbproj,

[2021-02-10 09:18] pombredanne commented on #650
This has long been migrated and made available. Closing

[2021-02-10 09:18] #650 closed

[2021-02-10 09:19] pombredanne commented on #651
1. conan has been renamed https://github.com/nexB/container-inspector
2. https://github.com/nexB/scancode.io/blob/d40b31bc9cd7ed3e2e82aa88998592fbd5de8cbe/scanpipe/pipelines/docker.py has now comprehensive (and IMHO more than pretty decent) support for Docker image scanning. Closing here.

[2021-02-10 09:19] #651 closed

[2021-02-10 09:32] tdruez opened #2393 "Could not find a version that satisfies the requirement extractcode-libarchive>=3.5.1.210122"
### Description

[code]

### How To Reproduce

`pip install scancode-toolkit[full]==21.2.9`

### System configuration

On a Ubuntu 20.04 container:

[code]

[2021-02-10 09:50] pombredanne commented on #2337
This is now in the latest release. Thank you all!

[2021-02-10 09:50] #2337 closed, assigned to nobody

[2021-02-10 14:16] tiulpin commented on #2393
Strange, had almost the same problem on macOS yesterday https://github.com/nexB/scancode-plugins/issues/4

Previous versions worked, with the new version it's not possible to find the wheels anymore

[2021-02-10 17:54] bnowacky commented on #2391
Not a problem! Do you want me to manually install pyahocorasick, and then try to run scancode and paste the results, or just the results of the pip install?

[2021-02-10 18:52] pombredanne commented on #2391
@bnowacky the pip install output would be enough

[2021-02-11 01:17] nishakm commented on #2382
I may have the same issue with the CLI:
https://github.com/tern-tools/tern/issues/818#issuecomment-724915680

[2021-02-11 07:01] tdruez commented on #2393
@pombredanne after further testing, the issue only occurs with Python3.6.
Everything installs and works fine with 3.7, 3.8, and 3.9

[2021-02-11 07:20] tdruez commented on #2393
It's actually a pip issue using the old Python3.6 pip version, upgrading pip to latest version first solves it:
`pip install --upgrade pip`

[2021-02-11 08:53] pombredanne opened #2394 "RFC: Fix direction ALL test assertions org-wide with pytest approach changed in latest version"
See
https://github.com/pytest-dev/pytest/issues/3333
https://github.com/pytest-dev/pytest/pull/6673/files

In recent pytest versions 5.x+ the ways asserts failures are reported changed (rather dramatically if I may say) where the order is now:
- `assert result == expected`
before and that was our org-wide convention we use the reverse:
- `assert expected == result`

This impacts significantly the

[2021-02-11 13:36] pombredanne commented on #2393
@tdruez I am relieved... as I was not able to reproduce. ScanCode is now using pip 20.3+ or 21.x
@tiulpin can you check if this is your issue too?

[2021-02-11 13:50] tiulpin commented on #2393
I checked the issue on Ubuntu Docker, was not able to reproduce it now

[2021-02-11 16:25] pombredanne commented on #2300
Hi! Thank you for your patience!
You could run detection on both https://github.com/Bacchustaf/SyRe_MSc/blob/078df81c8d13c873b15c92684167f4503bd766df/xfemm-code-310/mfemm/pfemm/fsolver/LICENCE.txt and https://github.com/Bacchustaf/SyRe_MSc/blob/078df81c8d13c873b15c92684167f4503bd766df/xfemm-code-310/mfemm/pfemm/fmesher/LICENCE.txt and add rules as needed to get things working correctly.

@AyanSinh

[2021-02-11 17:20] AyanSinhaMahapatra commented on #2300
@pombredanne Yes! Looking into it now.

[2021-02-12 02:51] sritasngh commented on #2300
Thank You so much:)

[2021-02-12 08:43] pombredanne opened #2397 "Eval and benchmark alternative ahocorasick implementation"
If you dabble in C/C++ would building https://github.com/mischasan/aho-corasick and testing this be something you are comfy with? And also testing and evolving https://github.com/syllabs/pyaho to the point we can use it more or less as we use pyyahocorasick? The goal is to benchmark perfs (speed and size).

[2021-02-12 08:54] pombredanne opened #2398 "Review requirements at https://github.com/philips-software/license-scanner/blob/b590ea0985c83daab0a913c1d3c4e2eb34a87d9f/docker/requirements.txt"
See https://github.com/philips-software/license-scanner/blob/b590ea0985c83daab0a913c1d3c4e2eb34a87d9f/docker/requirements.txt

@JeroenKnoops commented yesterday https://github.com/oss-review-toolkit/ort/pull/3613#issuecomment-777057402

The task consist in reviewing the requirements and why the standard ones were not working there.

[2021-02-12 08:56] pombredanne commented on #532
This has been completely implemented and we now assign ALWAYS an SPDX id to every license we have. See also https://scancode-licensedb.aboutcode.org/ for all the LicenseRefs

[2021-02-12 08:56] #532 closed

[2021-02-12 08:59] pombredanne commented on #584
@aviaryan it has been a long while and nothing has been done here. I think that conda now support pip package installations too nicely, is this right? May be we could convert this ticket to perform this test. I am not super enthused to support yet another packaging format as there is a support and test burden for each one...

[2021-02-12 09:02] pombredanne commented on #591
Some updates:
1. #2397 is a possible alternative library for building the license index that comes possibly with mmap support and this would likely improve/eschew load time (and it may be a tighter smaller index too)
2. there is an experimental client/server setting in https://github.com/nexB/scancode-toolkit/blob/develop/etc/scripts/scanserv.README which keeps a daemon-like server running for a c

[2021-02-12 09:04] pombredanne commented on #601
This is no longer relevant as we have updated underlying libraries

[2021-02-12 09:04] #601 closed

[2021-02-12 09:05] pombredanne commented on #599
I am not inclined to further summaries in output here. Summaries are best something done in a database, and therefore best done in https://github.com/nexB/scancode.io/
Closing therefore!

[2021-02-12 09:05] #599 closed

[2021-02-12 09:11] pombredanne commented on #602
Here is the TODO:
1. ensure that we detect common binary data file in hex form
2. same for certificates #620

In term of implementation I suggest:
1. This should be a contenttype flag such as `is_binary_data`
2. later we can have ways to skip scanning these files

[2021-02-12 09:13] pombredanne commented on #605
@D-lang14 sorry for the late reply.
The key issue is that we are putting too much emphasis on using Pygments and libmagic to detect programming langauges.
A config.h should ALWAYS be reported  as C/C++
So this would consists in:
1. study the way we detect and report types in typecode
2. in particular check out our we use a registry of extensions
3. evolve the way we report programming languages to

[2021-02-12 09:15] pombredanne commented on #693
Closing now since yu did not reply. Feel free to reopen!

[2021-02-12 09:15] #693 closed

[2021-02-12 09:20] pombredanne commented on #2022
This is done here https://github.com/nexB/scancode-toolkit/blob/cce8cbc64746ed58f2f0a9bf03d6c3500bd7cc1c/scancode.bat#L20 and is now tracked in https://github.com/nexB/scancode-toolkit/issues/2366

[2021-02-12 09:21] pombredanne commented on #2022
next up is to make this visible in the README too

[2021-02-12 09:23] pombredanne commented on #1778
@AyanSinhaMahapatra can you double check things are OK now and then close this?

[2021-02-12 09:24] pombredanne commented on #1010
@JonoYang please create a separate ticket then and let's close this one

[2021-02-12 10:13] pombredanne commented on #1815
This has been implemented. We now have smaller archives, one for each OS

[2021-02-12 10:13] #1815 closed

[2021-02-12 10:49] danielthieleog commented on #2368
Installing the current version with pip using scancode-toolkit[full] no longer showed the errors. It installed scancode_toolkit==21.2.9 with commoncode==21.1.21

[2021-02-12 10:49] #2368 closed, assigned to nobody

[2021-02-12 12:06] sschuberth commented on #532
A somewhat related question: Has ScanCode already bothered to submit a *license namespace* at https://tools.spdx.org/app/?

[2021-02-12 12:46] pombredanne commented on #2223
The latest version 21.xx now fully support Window 64 (and really only support 64 with 32 bits support dropped).... Could you check? Thanks!

[2021-02-12 14:57] JeroenKnoops commented on #2398
The trouble was caused by PyYAML. The version in https://raw.githubusercontent.com/nexB/scancode-toolkit/v21.2.9/requirements.txt is `3.12` and that can only be installed on python 3.6.

https://raw.githubusercontent.com/nexB/scancode-toolkit/v21.2.9/requirements.txt
[code]

If you want to use python:3.9.1 you can use the following setup with a `requirements.txt`.
# How did I create the requiremen

[2021-02-12 22:44] AyanSinhaMahapatra commented on #1778
@pombredanne  python 3.6 virtualenv installation on  ubuntu20.04 gives this error:

[code]

[2021-02-13 10:43] pombredanne commented on #2391
@bnowacky ping... I would like to fix this and release a new dot version ASAP as this is getting me real worried
I have also this https://github.com/nexB/scancode-plugins/issues/4 reported by @tiulpin which should be fixed now

[2021-02-13 10:44] pombredanne commented on #2329
@bnowacky ping here (also did on https://github.com/nexB/scancode-toolkit/issues/2391 ) as I trying to fix this

[2021-02-13 11:18] pombredanne commented on #1778
@AyanSinhaMahapatra can you try with `pip install scancode-toolkit[full]` ? this is the require way now

[2021-02-13 14:05] AyanSinhaMahapatra commented on #1778
@pombredanne these are the exact commands I  used - https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html#installation-as-a-library-via-pip, i.e. yes I used `pip install scancode-toolkit[full]`. It installed allright, this happened with `scancode -h`.

The same also happened on python3.8 also.

[2021-02-13 17:56] pombredanne opened #2399 "Disambiguate closely related and versioned licenses"
#### Problem

There is a class of license notice that is problematic, for instance short GPL notices such as this one (which is not a real one but made up for illustration):

The scan yields these licenses (scan has been edited for brevity):
[code]

This is obviously both more or less correct and superbly wrong. The right answer
should be GPL-2.0 and nothing else.
The licenses involved with this c

[2021-02-13 19:06] pombredanne commented on #437
Now to best leverage this you should give a shot to  https://github.com/nexB/scancode.io

[2021-02-13 23:20] pombredanne commented on #1778
@AyanSinhaMahapatra Thanks!

Do you mind to try this too:
[code]
and either with 3.6 or 3.8 ?

And also tell what show up with: `python3 --version`

[2021-02-14 10:13] soimsoim commented on #2223
**Scancode 21.2.9 can be run on Windows too!**

- Test result :
I need to install typecode-libmagic additionally, but Scancode is installed in Windows and the execution result file is also generated.
- Test environment: Windows 10, 64bits / Python 3.8.6 / scancode-toolkit 21.2.9
- Test output:

1. pip install scancode-toolkit
2. The following error message occurs when executing Scancode.
`Exceptio

[2021-02-15 06:56] AyanSinhaMahapatra commented on #1778
@pombredanne this^ works and runs fine though.

The python versions are 3.6.12 and 3.8.5 in both cases, the previous method and using the virtualenv.pyz .

Is this an issue on my side?

Similar to [this report](https://github.com/nexB/scancode-toolkit/issues/2223#issuecomment-778756477), `pip install typecode-libmagic` solves it.

[2021-02-15 19:10] pombredanne commented on #2390
From a chat with @chinyeungli

[2021-02-15 19:13] pombredanne commented on #2390
From a chat with @JonoYang based on scanning a Ubuntu-based Docker image in https://github.com/nexB/scancode.io/ that contained https://packages.ubuntu.com/bionic-updates/gcc-7

[2021-02-15 19:19] pombredanne commented on #2390
From a chat with @mjherzog based on scanning a Ubuntu-based Docker image in https://github.com/nexB/scancode.io/

[2021-02-15 21:49] pombredanne opened #2401 "Weird incorrect license detections in some JS and CSS map files and DTDs"
### Description
These files need some review as there are some weird licenses detected:
- https://raw.githubusercontent.com/twbs/bootstrap/v3.3.6/docs/dist/css/bootstrap.min.css.map
- https://raw.githubusercontent.com/twbs/bootstrap/v3.3.6/dist/css/bootstrap-theme.min.css.map
- https://raw.githubusercontent.com/eclipse/org.aspectj/V1_8_7/weaver/src/aspectj_1_5_0.dtd
- https://raw.githubusercontent

[2021-02-15 21:54] pombredanne commented on #1778
@AyanSinhaMahapatra you need to run now `scancode-toolkit[full]` but I am starting to think the whole idea of extra_requires in Python packages is a failure. It should be rather an extra_ignore instead... sorry for this self-made mess. Let me think about a way out.

[2021-02-15 21:55] pombredanne commented on #2223
@soimsoim Thank you ++ for the tests!
can you tests too:
`pip install scancode-toolkit[full]` rather than the plain `pip install scancode-toolkit` ?

[2021-02-15 22:00] pombredanne commented on #2368
I am still struggling with some installation quirks, but I would be grateful if you can try the latest release in a clean install directory.

[2021-02-15 23:51] soimkim commented on #2223
@pombredanne
Even if I install with **pip install scancode-toolkit[full]**, typecode-libmagic is not installed and the same error occurs.

[2021-02-16 01:07] JonoYang opened #2402 "Improve gibberish license/copyright detection"
I have compiled a text file that contains erroneous copyright detection values. I have removed quote characters and separated each copyright value by several lines.
[bad-copyright-detections.txt](https://github.com/nexB/scancode-toolkit/files/5985058/bad-copyright-detections.txt)

[2021-02-16 06:55] pombredanne commented on #2402
That's an interesting class of errors!
I guess that they all come from binaries? And because it is useful, we cannot stop detecting in binaries.

Some remarks:
These are at first considered as candidates by the copyright detector because they contains `(c)` or `©` (which is normalized to `(c)`). Then they are somehow matching some of the lexing rules in our part of speech tagger and are tagged as

[2021-02-16 08:50] danielthieleog commented on #2368
@pombredanne , successfully installed tonight in a fresh python:3.6 docker container.

[code]

[2021-02-16 10:25] JeroenKnoops commented on #2368
If you need an environment f.e. python 3.9.1, you can also look here: https://github.com/nexB/scancode-toolkit/issues/2398

[2021-02-16 11:53] pombredanne commented on #2223
@soimkim thank you. I need to make more tests :|

[2021-02-16 13:13] pombredanne opened #2403 "Discard matches to single GPL word and other very short rules with mixed, non-matching case and/or in a binary an/or not on a single line and/or in giberish"
gPL and similar is a source of noisy false positive. @AyanSinhaMahapatra what's your take there?

[2021-02-16 14:06] AyanSinhaMahapatra commented on #2403
Phillipe, yes uppercase/lowercase would be a good way to distinguish, and also binary, so having these as OR statements in the heuristics would be great, but I'll double check all the small license rules and check if this holds just to be sure.

[2021-02-16 17:14] pombredanne commented on #2368
@danielthieleog @JeroenKnoops thank you ++ ... we are getting there slowly but surely!

[2021-02-16 17:16] pombredanne commented on #2398
@JeroenKnoops thanks... that's a relatively easy one to fix as https://github.com/nexB/saneyaml/ is the one that has the direct dep on PyYAML and using a wider range of versions should be a no brainer ( and a good time to rev up saneyaml too)

[2021-02-17 13:17] LeChasseur opened #2404 "Wrong mapping with OGC-1.0"
Linux Mint 20 Cinnamon
ScanCode 21.2.9

Scanning https://github.com/oracle/visualvm/blob/master/THIRDPARTYLICENSE revealed (among others) OGC-1.0 which is not used in this file. The string "ogc" does not exist in this file.

[2021-02-17 17:21] pombredanne opened #2405 "Accept certain known extra words in a license without losing score points"
When we have a license matched exactly to a rule but there are some extra words, we do not have a 100% match score by design.
Yet there are cases where these extra words are NOT something that should degrade the score. For instance:

`The library is licensed under the GPL` as a rule
vs.
`The FOOBAR library is licensed under the GPL` as a scanned text.

Here the extra `FOOBAR` should not impact the

[2021-02-17 17:53] pombredanne commented on #2404
Thanks! This is a monster notice but we should get it right.
Here are the file [THIRDPARTYLICENSE.txt](https://github.com/nexB/scancode-toolkit/files/5997617/THIRDPARTYLICENSE.txt)
 and its scan [THIRDPARTYLICENSE.json.txt](https://github.com/nexB/scancode-toolkit/files/5997616/THIRDPARTYLICENSE.json.txt)

[2021-02-17 21:26] arturrz opened #2406 "./etc/configure.py Exception raised for latest release 'v21.2.9'"
### Description

The goal is to update scancode-toolkit from v3.1.1 to v21.2.9. When configuring for 'first use' an exception in raised at line 84 of
<path_to_scancode>/etc/configure.py. Additionally a SyntaxError: invalid syntax is rasied. Se bellow for errors:

* Configuring ScanCode for first use...
  File "/home/scancode-toolkit-21.2.9/etc/configure.py", line 84
    raise Exception(f'Failed to

[2021-02-17 22:20] arturrz commented on #2406
As a side note, I did the same procedure for v3.2.3 and it works perfectly. :)

[2021-02-18 13:41] pombredanne commented on #2406
@arturrz sorry for this! Which Python version do you have installed? I think that Ubuntu 16 has Python 2 only by default and that would be the error cause (the error message is not helpful and should be updated)
The default Python3 there is Python 3.6
To work around this:
1. get Python 3.6 installed either through pyenv or the deadsnakes ppa
2. if using pyenv you can make this your default shell o

[2021-02-19 09:52] kartikeysaran commented on #2401
Can i work on this issue ?

[2021-02-19 15:13] bmarsh9 opened #2408 "Scancode fails to inventory package manifest files"
### Description

Hey there,

Scancode appears to only scan package manifest files based on the name AND if the scan is run in the same directory. For example, if my python manifest file is named `dev.txt`, scancode does not appear to inventory it. However, if I rename the file to `requirements.txt` **_AND_** run scancode from the same directory, scancode will inventory it and the package dependenc

[2021-02-19 16:33] pombredanne commented on #2408
@bmarsh9 hey! thanks for the report!
This is the file name patterns that are used to decide to start a parse https://github.com/nexB/scancode-toolkit/blob/5174a3b21758d0d6d5c1db3c74494d56e49a8e74/src/packagedcode/pypi.py#L116

Hence `dev.txt` alone would not be picked, while `requirements.txt` or `dev-requirements.txt`  would be. But looking at the code  `requirements-dev.txt` would not be picked

[2021-02-19 17:19] bmarsh9 commented on #2408
Thanks for the quick response. That makes sense.. I figured it was doing some pattern matching.

Is there a flag for specifying which packages to look for or a pattern? So for example if I wanted to tell scancode to treat `dev.txt` as a python manifest file.

If not, that would be a nice feature to have

Thanks!

[2021-02-19 17:28] bmarsh9 commented on #2408
However Im still seeing some issues when a run a scan against a directory. `requirements.txt` is in the directory but the dependencies aren't picked up.

#### Verify requirements.txt exists and run scan

[code]

#### Output with no dependency results

[code]

[2021-02-19 17:33] bmarsh9 commented on #2408
Looking at that code snippet you posted.. it **_should_** work.

`"name": "requirements.txt",`

And the code is basically

[code]

[2021-02-19 17:46] bmarsh9 commented on #2408
More testing

#### Scanning directory with requirements.txt
[code]

#### Scanning file in same directory
[code]

[2021-02-19 17:51] bmarsh9 commented on #2408
Looks like its throwing this error:

[code]

If I include `MANIFEST.in` in my local directory, it works

Error is thrown here: https://github.com/nexB/scancode-toolkit/blob/f3ef5b4ad823577e507d673a7fbc65d5efe4f6af/src/packagedcode/recognize.py#L44

[2021-02-20 06:55] pombredanne commented on #2408
I do not like adding too many command line flags... here the issue would be if there is a need for a flag to look for any package type? (one flag per type would be worse). The rationale is that at some level each additional way to configure things is a sign at some level that we are getting it done right in the first place.

On the other hand adding extra patterns such as dev.txt, prod.txt solo or

[2021-02-20 07:01] pombredanne commented on #2408
Can you attach your requirements file?

In https://github.com/nexB/scancode-toolkit/blob/5174a3b21758d0d6d5c1db3c74494d56e49a8e74/src/scancode/api.py#L299 we mute the exceptions thrown from failing to parse a package manifest as there was too much noise from that.
You can make that visible again for debugging with the `SCANCODE_DEBUG_PACKAGE_API` env var. (any value will work)
 So:
`SCANCODE_DEBUG

[2021-02-20 14:25] bmarsh9 commented on #2408
Here is the file (renamed to `requirements.txt`) https://github.com/pallets/flask-sqlalchemy/blob/master/requirements/dev.txt

##### With the debug flag

[code]

It says FileNotFound but I have tried the absolute and relative path in the variable

[code]

[code]

[2021-02-20 14:33] bmarsh9 commented on #2408
But it will work if I move the `requirements.txt` file in the same directory as the script. Also I don't think its the format of the file b/c it parses normally/correctly (if in the same directory).

[2021-02-22 17:55] pombredanne commented on #2406
@arturrz ping? does 3.6 work for you?

[2021-02-22 17:55] pombredanne opened #2409 "Drop using extra_requires"
### Context and Problem
The latest release uses `extra_requires` for some features that should be there by default. The purposes was to make it easy for distros to package scancode-toolkit and provide some of their own native packages instead of the ones provided with scancode, typecode and extractcode. This has proven to make the user experience miserable for most users to the benefit of only a f

[2021-02-23 06:47] pombredanne commented on #2408
@bmarsh9 are you sure that your path is correct?
Does this pass?
[code]

Also in all cases, we should detect .txt files in a requirements dir alright: That's a bug we need to fix.

[2021-02-23 13:51] bmarsh9 commented on #2408
@pombredanne Yep, path exists

[code]

[2021-02-23 15:50] pombredanne opened #2410 "Some problematic Apache-like licenses"
### Description
There are some almost like the Apache license, but modified in some subtle or gross ways.
We catch most of them, but this could be refined and be even more explicit in the returned results

Some pointers:
1. https://github.com/LawnchairLauncher/Lawnchair-V1/blob/2acbd3c4756713f1f53e19c5cda9a7bbd399a199/LICENSE
2. https://github.com/rohitgirdhar/AttentionalPoolingAction/blob/master/

[2021-02-23 15:52] pombredanne commented on #2410
@gstein you wrote in https://github.com/licensee/licensee/issues/474#issuecomment-759823828

FWIW, this repo is written in Python (and also integrates spdx/tools-python that I co-maintain and mentored. I would be homored to have your Pyhton chops helping here! :bow:

[2021-02-23 16:04] pombredanne commented on #2410
Another one from @armijnhemel https://raw.githubusercontent.com/HyukjinKwon/spark-xml/c7eb3135f6e213c7cac2b7f25a9079fbf7934e64/LICENSE ... likely a bonna fide mistake of replacing com by org yielding beautiful mojibake specimen such "orgmunication" "orgmom" and "orgpilation"

[2021-02-23 16:14] pombredanne commented on #2410
@armijnhemel for https://raw.githubusercontent.com/HyukjinKwon/spark-xml/c7eb3135f6e213c7cac2b7f25a9079fbf7934e64/LICENSE I ran a scan and the pretty printed collected damaged Apache text shows up this way: all damaged words show up enclosed in [square brackets]  there https://gist.github.com/pombredanne/ca0efd03cf8bcabf6e2e8013522a675c

Full details: [LICENSE.json.txt](https://github.com/nexB/sca

[2021-02-23 19:04] JonoYang opened #2411 "Unknown license detected when normalizing license names"
I was using scancode to normalize license names into license expressions. Some license names/strings caused unknown detections:

- `BSD-3-Clause, MIT` detected as `bsd-new AND unknown`

- `MIT, MIT` detected as `unknown`

- `Apache-2.0, MIT` detected as `apache-2.0 AND unknown`

- `BSD-2-Clause-Views` detected as `bsd-simplified AND unknown`

[2021-02-23 19:46] pombredanne opened #2412 "Improve license detection of declared RPM licenses"
### Description
We should create a license symbols map for RPMs and use that to feed the expression detection first before detecting more.
Otherwise we get too many inconsistencies.
A recent set of CentOS RPM licenses with detected/declared is attached for info
[rpms-licenses.csv.txt](https://github.com/nexB/scancode-toolkit/files/6031473/rpms-licenses.csv.txt)

[2021-02-24 01:37] arturrz commented on #2406
Hi, thanks for your support. I'll be working on this durign this week. I'll ping you with the outcomes of this work around, i confirmed and our  system has Python2.6 and 3.7 installed. But haven't done any tests yet. Will keep you posted. Thanks for your support on this.

[2021-02-24 09:05] pombredanne commented on #2406
In this case the release tarballs that are for 3.6 only. But scancode can be installed from PyPI alright and support 3.7

[2021-02-24 09:52] pombredanne opened #2413 "Report when a scan for license and copyright reaches a processing deadline"
Today when a license and copyright reaches a processing deadline, we just return the results.
There is no indication that a deadline was reached. There should be something returned in the results

[2021-02-24 10:53] pombredanne commented on #2408
So this should work. Does it (assuming you have wget)?:
[code]

[2021-02-24 13:50] pombredanne commented on #2033
@nelullc I am closing this for now, as we cannot do anything about this short of having more details. Feel free to reopen as needed.

[2021-02-24 13:55] pombredanne opened #2414 "Update NLTK to latest version"
The current version has several regex warnings.
The work consists in:
1. collecting the wheel and sdist craft the ABOUT files and creating a PR to add the latest NLTK in https://github.com/nexB/thirdparty-packages/tree/main/pypi
2. update the setup.cfg and requirements.txt
3. run the copyright tests, fix the code until all tests pass. Submit a PR early would be good.

[2021-02-24 14:01] bmarsh9 commented on #2408
Yep that works. But if the `requirements` file is placed in a sub directory, it will throw an error. See below

##### returns the error with absolute or relative path

[code]

So I guess `parse_with_dparse` function is not getting the correct `location` variable or it is wrangled by something else before it gets there.

[2021-02-24 17:50] #2394 closed, assigned to nobody

[2021-02-24 23:18] arturrz commented on #2406
I installed python3.6 and all of the suggestions you made in your first response work perfectly. :)
No need to install scancode from PyPI. So I have no feedback on that workaround but still thanks for the support.
Great tool since v3.1.1 :)

[2021-02-25 12:58] pombredanne commented on #2406
@arturrz you wrote:

thank you for the kind words! It is hopefully getting better and better.

[2021-02-25 12:58] #2406 closed, assigned to nobody

[2021-02-25 15:39] pombredanne commented on #2408
so this is a clear bug! Thank you for your patience.

[2021-02-25 15:41] bmarsh9 commented on #2408
Course. Let me know if you need any re-testing. Thanks!

[2021-02-25 16:38] pombredanne commented on #2409
This is about to land in develop and we now have a new scancode-toolkit-mini package meant to be used by packagers and tinkerers.

[2021-02-25 21:23] pombredanne commented on #2409
Fixed in v21.2.25

[2021-02-25 21:23] #2409 closed, assigned to nobody

[2021-02-25 21:25] pombredanne commented on #2393
This should be all Fixed in v21.2.25

[2021-02-25 21:25] #2393 closed, assigned to nobody

[2021-02-25 21:25] pombredanne commented on #2391
Fixed in v21.2.25

[2021-02-25 21:25] #2391 closed, assigned to nobody

[2021-02-25 21:26] pombredanne commented on #2369
Fixed in ScanCode TK v21.2.25 ... pushed in a few

[2021-02-25 21:26] #2369 closed, assigned to nobody

[2021-02-25 21:26] pombredanne commented on #2359
@priv-kweihmann Thanks. I will fix that in the next release  after v21.2.25.

[2021-02-25 21:26] pombredanne commented on #2358
@priv-kweihmann Thanks. I will fix that in the next release  after v21.2.25

[2021-02-25 21:27] pombredanne commented on #2357
@priv-kweihmann Thanks. I will fix that in the next release after v21.2.25

[2021-02-25 21:29] pombredanne commented on #2356
At this stage, Pygments is now vendored in typecode, so we have no more a hard constraint on the version.
This will be fixed in the next release after v21.2.25

[2021-02-25 21:34] pombredanne commented on #2355
Actually the cache can be controlled this way:
1. the license index cache is created as package data when using the release script, so that's not really cache per se, unless you are developing.
2. SCANCODE_CACHE is an environment variable that you can set to a dir and that's where cache will be written
3. SCANCODE_TEMP is an environment variable that you can set to a dir and that's where temp file

[2021-02-25 21:34] pombredanne commented on #2401
@kartikeysaran  sure thing!

[2021-02-25 22:20] piyush0411 commented on #2414
Hi @pombredanne Sir
I was reading through the documentation and code for this toolkit and found this issue a good one to start.
I just wanted to confirm if I was thinking in the right direction to solve this issue.
NLTK released its latest version 3.5. So changing the version of nltk in the two files mentioned will solve this issue.
If I am thinking correctly, I would like to solve this issue. Kin

[2021-02-26 06:28] kartikeysaran commented on #2401
Thankyou !

[2021-02-26 06:33] priv-kweihmann commented on #2355
Thanks, I guess that should do it

[2021-02-26 08:58] pombredanne commented on #2355
@priv-kweihmann we could also expose this as command line options. Would you prefer this? that's an easy thing
BTW, unrelated, I will soon work on merging support for bitbake from https://github.com/nexB/scancode-toolkit/tree/1243_collect_data_from_yocto/bitbake_.bb thanks to your excellent library! :bow:

[2021-02-26 08:59] pombredanne commented on #2355
We need to document the cache env var in the doc BTW. So I am reopening this
See https://github.com/nexB/scancode-toolkit/issues/2355#issuecomment-786242995

[2021-02-26 09:01] priv-kweihmann commented on #2355
Always happy to help. And the dedicated environment vars are more than enough for me - just didn't wanted to override HOME for my use case, so I consider this here fixed. Any further CLI option could by handled as future enhancements

[2021-02-27 08:39] #2339 closed, assigned to nobody

[2021-02-28 11:51] mensfeld commented on #2391
I'm seeing it still with 21.2.25. Also https://github.com/nexB/scancode-toolkit/releases/tag/v21.2.25 has release notes for 21.2.9 (at least title). Didn't you release by accident 21.2.19 as 2.2.25?

[2021-02-28 16:44] pombredanne commented on #1328
LicenseRefs are now always included since the SPDX license key is now mandatory for all licenses. We use by default the scancode namespace but we can acomodate any namespace.

[2021-02-28 16:44] #1328 closed

[2021-02-28 16:47] pombredanne opened #2416 "RFC: Report all detected license data by expression"
Today we have a combo of reporting by license key and by license expression.
Since we detected license expressions, we should always report everything by license expression.
This would mean a significant output data structure change:
- The `licenses` file attribute would go away.
- Instead the detection details would be provided under the `license_expressions`
- We should avoid to repeat each lice

[2021-02-28 20:45] pombredanne commented on #2352
@jeremiah Thanks! we dropped support for Python 2 entirely now in the latest release. So you can update then.

[2021-02-28 20:45] #2352 closed, assigned to nobody

[2021-02-28 20:46] pombredanne commented on #2235
#2417 is a WIP pr to add some support for this.

[2021-03-01 05:43] adityaviki commented on #808
@majurg Can you provide the schema for the SQLite output file.

[2021-03-01 11:40] adityaviki commented on #1134
@pombredanne I am thinking of working on this. Can you provide me with a little more detail on where I could implement these hooks?

[2021-03-02 18:07] pombredanne opened #2418 "RFC: Introduce "primary package" vs. "embedded- or sub-packages""
## Short Description
In the same way we have dependencies, we often have:
- a package within a package such as a node_modules in an npm, mono-repos, uberjars and fatjars, and similar
- multiple personalities for the same package (bower and npm)

We should have a heuristic to report one of these has primary and the other as sub/embedded packages.
This would likely be done in a post-scan step.
Data-

[2021-03-02 21:20] pombredanne opened #2420 "Incomplete copyright detected"
`Copyright (c) 2009, 2018 Robert Bosch GmbH and its subsidiaries. ` is detected only as `"Copyright (c) 2009, 2018 Robert Bosch GmbH"`

[2021-03-02 22:54] rnjudge commented on #2382
@chinyeungli @pombredanne any update on this or idea when someone can take a look? We are not able to get package manifest data from scancode at the moment which impacts Tern's file license reporting. We run scancode like so: `scancode -ilpcu --quiet --timeout 300 --json - /path/to/rootfs`

[2021-03-05 15:08] sschuberth commented on #624
One more motivation to address this is that [Software Heritage actually uses Git-blob-style SHA1s](https://docs.softwareheritage.org/devel/swh-model/persistent-identifiers.html#git-compatibility), too, also to identify content that was *not* originally stored in Git!

[2021-03-05 17:30] johnmhoran opened #2422 "Integrate DWARF plugin into SCTK release and correct documentation"
We evidently have a plugin to collect certain information related to DWARF references.  See, e.g., the [SCTK RTD](https://scancode-toolkit.readthedocs.io/en/latest/plugins/dwarf.html).  I tested these instructions yesterday using 21.2.9, with this result: `Error: no such option: --dwarf`.

It appears that the plugin exists only in a branch and is not packaged in PyPI.  See, e.g.,

https://github.c

[2021-03-08 07:49] aryanxk02 opened #2424 "Mention installation for Ubuntu 20.04 in docs"
### Description

The Documentation page should specify installation Ubuntu 20.04 because the System Requirements include
`1. Linux: on recent 64-bit Linux distributions running X86_64 proessors`

### Link to Documentation Page

Text :
`On Ubuntu 14, 16 and 18, run:`
Command :
`sudo apt install python3.6-dev bzip2 xz-utils zlib1g libxml2-dev libxslt1-dev`

### Select Category
-  [ ] General Improve

[2021-03-08 08:55] pombredanne opened #2425 "Add new documentation that highlights JSON scan format and its change with a new release"
That could be partially generated and would help a lot users

[2021-03-08 09:00] AyanSinhaMahapatra commented on #2425
See also - https://github.com/nexB/scancode-toolkit/issues/2008

[2021-03-08 10:05] pombredanne commented on #2384
@akugarg thanks!

[2021-03-08 16:10] amottier commented on #2297
We finally managed to run version `21.2.25` with Python 3.7 (version provided by Debian Buster) and we can confirm that the issue is now resolved.

Thanks a lot @pombredanne :clap:

[2021-03-08 16:10] #2297 closed

[2021-03-08 19:37] mensfeld commented on #2391
@pombredanne should I create a second issue or is there a branch that I could test? Sorry to bother you :pray:

[2021-03-08 22:49] pombredanne commented on #2391
@mensfeld

That was just a title typo! fixed . Thanks

Please create a new issue

[2021-03-09 11:42] SrikanthShyamanur opened #2427 "Creating a executable of ScanCode-toolkit"
## Creating a executable of ScanCode-toolkit

## Possible Labels
- installation and packaging
- new feature

## Select Category
-  [x] Enhancement
-  [ ] Add License/Copyright
-  [ ] Scan Feature
-  [x] Packaging
-  [ ] Documentation
-  [ ] Expand Support
-  [ ] Other

## **Describe the Update**
To run ScanCode independent of python environment. So we can eliminate the [prerequisites](https://scan

[2021-03-09 15:36] pombredanne commented on #2427
@SrikanthShyamanur Thanks! @Abhishek-Dev09 did you investigate this already a bit may be?

[2021-03-09 16:39] sebathomas opened #2428 "False positive GPL"
For the file https://github.com/zlib-ng/minizip-ng/blob/master/mz_compat.c, ScanCode wrongly identifies a GPL license based on two lines in the header.

[code]

[2021-03-09 17:38] mensfeld opened #2429 "Docker build fails with "/scancode-toolkit"' returned non-zero exit status 1."
### Description

When trying to build `v21.2.25` within docker using `docker build -t scancode-toolkit .` I get following error:

[code]

### How To Reproduce

[code]
### System configuration

* Ubuntu 20.04.2 LTS
* v21/2/25
* Docker container - docker: `Docker version 19.03.8, build afacb8b7f0`

[2021-03-09 18:17] Abhishek-Dev09 commented on #2427
@SrikanthShyamanur : You may also consider [flatpak](https://flatpak.org/) , [shiv](https://pypi.org/project/shiv/) , snap , Appimage and many more

[2021-03-09 19:15] armijnhemel opened #2430 "GPL2 file recognized as GPL3"
### Description

I am scanning libiwinfo and the files in it (such as iwinfo_wext.c is recognized as GPL3 or later even though it clearly is GPL2: https://github.com/wlanslovenija/iwinfo/blob/master/iwinfo_wext.c

[2021-03-09 23:29] pombredanne commented on #2428
@sebathomas Thanks!
Let me push a fix shortly.

[2021-03-09 23:37] pombredanne commented on #2428
The notice:

exists for several licenses but we did not have the variant with the "zlib" word.

In https://github.com/nexB/scancode-toolkit/commit/24904c90091581ee33ff3d6cbcefe007a0f573db
1. existing variants for GPL (multiple versions), BSD, ISC, zlib are modified to require a minimum match coverage of 80% of words matched such as https://github.com/nexB/scancode-toolkit/commit/24904c90091581ee33

[2021-03-10 10:42] Angi2412 commented on #1863
I do also get this error even when I provide a rather large timeout of 43200 second (12 hours).
[code]

[2021-03-10 10:54] mensfeld commented on #2429
Closing. I was using a clone that I used to debug, thus it had the `bin/` directory. Removing that fixed everything. Sorry for the noise :pray:

[2021-03-10 10:54] #2429 closed, assigned to nobody

[2021-03-10 13:23] Angi2412 opened #2431 "Timeout error despite high timeout"
### Description

I do also get this TimeoutError error even when I provide a rather large timeout of 43200 seconds (12 hours).

Here is an output of the log:
[code]

### How To Reproduce

The scanned file is: `docker-docker-ce 19.03.14-3.el7.x86_64`

[code]

### System configuration
* What OS are you running on? (Windows/MacOS/Linux)
Linux / docker
* What version of scancode-toolkit was used to ge

[2021-03-11 04:51] s4-2 commented on #1031
If I am allowed to work on this issue, I would like to fix this.

[2021-03-11 08:12] s4-2 commented on #2392
If this is available I would like to work on this issue.
Thank you.

[2021-03-11 09:07] daniel-eder opened #2432 "Copyrights in reuse-compliant repositories not detected"
### Description

ScanCode Toolkit does not find Copyright statements in reuse-compliant repositories. It seems this might be relatively easy to fix by adding a regex to pick up `SPDX-FileCopyrightText: <copyright-statement>`.

### How To Reproduce

1. Scan the reuse example: https://git.fsfe.org/reuse/example/src/branch/master
2. Note that copyright statements are missing, such as `SPDX-FileCopyri

[2021-03-11 18:07] pombredanne commented on #2432
@daniel-eder and the fix is in for your review :)

[2021-03-12 09:45] avishmehta68710 commented on #2431
i also got this error and when i checked the code in several file instead of importing the whole os library we can import the component in the os library that are needed. i did this experiment as importing the only os modules needed instead of importing the whole os module. when i checked the time difference my method was approx 2 seconds faster and i did that on only one file.
if my method is rig

[2021-03-12 09:47] avishmehta68710 opened #2434 "missing requirements"
in the requirements.txt file there are some modules missing.
i would like to work on this issue can you assign me this issue

[2021-03-12 09:50] #2434 closed, assigned to nobody

[2021-03-12 10:50] s4-2 opened #2435 "How to check Python version if more than one python version installed."
### Description

- In Prerequisites section of Scancode-Toolkit docs there should be some command describing that how one can check the
  python version if they have more than one python version installed in there local machine.
- Example: _Python 2.7_
                  _Python 3.6_
                  _Python 3.9_
 ### Link to Documentation Page

- In Scancode-Toolkit Documents [Prerequisites](http

[2021-03-12 12:39] s4-2 commented on #2420
Hello @pombredanne , I think there is a typo in this issue topic.

[2021-03-12 18:13] FrankHeimes opened #2437 "Version 21.2.25 does not work with Python 3.9"
### Description
ScanCode 21.2.25 fails to complete its initial configuration if started using Python 3.9

### How To Reproduce

1. Download and unzip ScanCode 21.2.25 into C:\My\scancode-toolkit-21.2.25
2. Install Python 3.9 for all users into C:\Python39.
   Note: Do not install Python in "C:\Program Files\Python39", because the configure.py script will fail if the path to python contains spaces.

[2021-03-13 02:23] mjherzog opened #2438 "Go Parser missing Package Version for go.mod files"
### Description

The Go parser for dependency files does not include package_version in the purl; version is included in the purl for go.sum files.

### System configuration

This is an issue for SCTK v21.2.9.

[2021-03-13 14:13] rpotter12 commented on #2438
Hi @mjherzog, can you please give me an example here that what should be shown in purl?

[2021-03-15 10:51] daniel-eder commented on #2432
@pombredanne Fix confirmed! In our example https://git.fsfe.org/reuse/example/src/branch/master/img/cat.jpg.license ScanCode now correctly detects `SPDX-FileCopyrightText: 2017 Peter Janzen`

[2021-03-15 12:40] Angi2412 commented on #2431
I also executed the following code fragment with no problem. It was mentioned in some other issues regarding the timeout error (e.g. https://github.com/nexB/scancode-toolkit/issues/2320):

[code]

[2021-03-15 16:56] pombredanne commented on #2431
@Angi2412 thanks! That's a bug alright. Do you have a download URL for the docker binary?

[2021-03-15 17:01] Angi2412 commented on #2431
@pombredanne Yes, the file `docker-ce-19.03.14-3.el7.x86_64.rpm` can be downloaded from the official docker website -> [here](https://download.docker.com/linux/centos/7/x86_64/stable/Packages/docker-ce-19.03.14-3.el7.x86_64.rpm).

[2021-03-15 17:28] JonoYang commented on #2438
@rpotter12

For the detected dependencies from a go.mod/go.sum file, we want the version numbers added to the dependent package purls.

For example, when I scan this go.mod file using scancode (https://raw.githubusercontent.com/golang/protobuf/v1.4.3/go.mod), the detected dependencies from the go.mod file looks like this:

[code]

We want the purls to look like this, with the version number includ

[2021-03-15 18:18] pombredanne commented on #2438
@JonoYang I would likely strip the leading v

[2021-03-15 18:24] JonoYang commented on #2438
@pombredanne I don't agree. I don't think we should modify how the package maintainers set the version. If the version number already has a leading v in it, then we shouldn't change it. We should report it as is. It would also make things easier when we want to look up a package on a repo, where we do not have to add back a leading v when we want find an exact match for a particular package-versio

[2021-03-15 18:31] mjherzog commented on #2438
I agree that we should keep whatever the package authors provide, but otherwise I would prefer to deprecate leading "v" when not used by the package author.

[2021-03-15 19:15] steven-esser commented on #808
@adityaviki For now, you can refer to schema found in: https://github.com/nexB/scancode-workbench/

Two ways to view the schema:
1. Trace the various Sequelize ORM code in `scancode-workbench` to get a list of all the tables + fields
2. load up an example scan using `scancode-workbench`, and then you can view the resulting `.sqlite` file for a more granular schema listing

[2021-03-16 04:35] rpotter12 commented on #2438
@pombredanne, I agree with @JonoYang that we should not modify because that is the version number set by maintainers only.

However, we need to check past PR and attached issue in the PR to get to know why I haven't added that. There might a reason for not adding this. I don't remember it yet.

@JonoYang @pombredanne @mjherzog Please share this issue in the gitter channel so GSOC aspirants who are

[2021-03-16 07:09] Angi2412 commented on #2431
I could observe the same behaviour and error message with this file: [moby v20.10.5](https://github.com/moby/moby/releases/tag/v20.10.5).

[2021-03-16 09:09] sritasngh commented on #2435
If you want to know the version of python 3 installed on your pc, you can simply write python3 --version command similarly for python2 write python2 --version. Moreover if you want to know your default python version simply write python --version.

[2021-03-16 09:38] s4-2 commented on #2435
Thank you @itssingh , I have python 2 and python 3 in my pc I have tried the command before as you mentioned here but it does not work. That's why I have open this issue. I have also set the env path in environmental variable but than also it is not recognised by the cmd. While writing python in cmd it gives me only one version of python.

[2021-03-17 02:58] sritasngh commented on #2435
Could you please share the screenshot for the same!

[2021-03-17 11:41] s4-2 commented on #2435
Here is the screenshot, when I tried to run command python2 --version and python3 --version. I have both version in my PC.
![Screenshot (20)](https://user-images.githubusercontent.com/56973448/111461902-ff59cd80-86da-11eb-838e-75bfa142d867.png)
Please check it.

[2021-03-17 11:54] Aayush-hub commented on #2435
@s4-2 Can you just run command `python` in cmd , and can recheck if python is there in you system path.

[2021-03-17 11:57] Aayush-hub commented on #2414
@pombredanne @tdruez Can I take up this issue?

[2021-03-17 12:48] s4-2 commented on #2435
@Aayush-hub I have checked it. It show the latest version i.e Python 3.9.
![Screenshot (22)](https://user-images.githubusercontent.com/56973448/111469766-51ebb780-86e4-11eb-8981-bfc2c7ff8daa.png)

[2021-03-17 13:05] Aayush-hub commented on #2435
@s4-2 Now, you can try running `py -V` or `python -V` in cmd as administrator mode.

[2021-03-17 17:20] pombredanne commented on #2098
@JonoYang I reckon this was never merged. And we will need this but IMHO we should go one more step:

1. the things we detect today are incorrectly reported as `packages` when they really are package manifests
2. some packages may have multiple manifests (e.g. manifest proper and a lock file). For instance .gemspec/Gemfile/Gemfile.lock or package.json/package-lock.json/yarn.lock or setup.py/setup.

[2021-03-18 03:13] Pushpit07 commented on #2414
Updating to version 3.5 would be an easy task considering it is a minor version bump. @pombredanne,  I would like to take this up.

[2021-03-18 03:17] Pushpit07 commented on #2398
I think this issue should be closed

[2021-03-18 10:01] sritasngh commented on #2435
doesn't it give again the default python version!

[2021-03-18 11:10] s4-2 commented on #2435
@itssingh yes, right.  @Aayush-hub  using python -v it gives the default version which is recently added in the environmental variable

[2021-03-18 15:09] s4-2 commented on #2437
Hello @FrankHeimes , I think scancode-toolkit version 21.2.25 is supported by Python36 only. Please check the [latest version](https://github.com/nexB/scancode-toolkit/releases/tag/v21.2.25) of scancode-toolkit.

[2021-03-18 16:39] FrankHeimes commented on #2437
But version 21.2.25 is a successor of version 21.2.19 and the release notes for that version state:
  _Add support for Python 3.6, 37, 3.8 and 3.9 on Linux, Windows and macOS_
which is quite unambiguous, IMHO.
See [Releases](https://github.com/nexB/scancode-toolkit/releases).

[2021-03-18 16:50] s4-2 commented on #2437
Thank you @FrankHeimes , I was not knowing that. I have clicked the latest version link but I couldn't saw this information about os.

[2021-03-18 17:45] tdruez opened #2444 "Emails are only reported once"
When scanning the following text, the detection of `daniel@haxx.se` is only returned once in the results while it appears multiple times in the file.

`scancode -ce --json-pp -`

[code]

Results:

[code]

[2021-03-18 19:30] Ayushsunny commented on #2444
Hello @tdruez  I wanna work on this issue, so can you explain a bit more that where this code file is and what's the exact issue if the result is right?

[2021-03-19 08:50] Aayush-hub commented on #2435
@itssingh @s4-2 Yes it gives default version which is added in env variable. @s4-2 For previous version you can try `python2 -V` in cmd as user and cmd as admin both. you can also check env variable for different python paths. Share screenshots if problem continues.

[2021-03-19 19:45] tdruez opened #2445 "Multiple holders on separated lines are detected as one."
input.txt:
[code]

`scancode -ce --json-pp - input.txt`

Current results:

[code]

Expected results: we should instead return 3 holders entries:
[code]

`ScanCode version 21.2.25`

[2021-03-19 19:49] tdruez opened #2446 "Copyright detection range is sometime approximative"
input.txt:

[code]

`scancode -ce --json-pp - input.txt`

Current results:
[code]

Expected results:
[code]

The first copyright is detected on line 2 to 3, while only present on line 2, where the second copyright is properly detected on line 6 only.

[2021-03-20 02:37] xiao623 commented on #2059
I've got this problem, too.
Is there any new progress?

[2021-03-20 09:05] s4-2 commented on #2435
@Aayush-hub Thank you:) ,  But I have set the path properly then also as I have mentioned before it only gives the latest python version path set in environmental variable

[2021-03-21 05:31] sritasngh commented on #1790
Hello everyone!
I found this discussion interesting. It would be great if we migrate ScanCode toolkit to GitHub Action. I have gone through [Azure pipelines](https://github.com/nexB/scancode-toolkit/blob/develop/azure-pipelines.yml) , [Appveyor](https://github.com/itssingh/scancode-toolkit/blob/develop/appveyor.yml), [Travis](https://github.com/itssingh/scancode-toolkit/blob/develop/.travis.yml) a

[2021-03-21 09:56] sritasngh commented on #2300
@pombredanne @AyanSinhaMahapatra When I scanned [fsolver](https://github.com/Bacchustaf/SyRe_MSc/blob/078df81c8d13c873b15c92684167f4503bd766df/xfemm-code-310/mfemm/pfemm/fsolver/LICENCE.txt) , I got scanned result where [two lines of "Triangle" , CMS-9318163 and an NSERC 1967 Scholarship.  There is no warranty whatsoever.  Use at your own risk.](https://github.com/Bacchustaf/SyRe_MSc/blob/078df81c

[2021-03-22 07:03] pombredanne commented on #2430
Thank you! This will be fixed in the next release

[2021-03-22 08:39] AyanSinhaMahapatra commented on #1790
@itssingh don't think this will take a lot of time, see https://github.com/nexB/scancode.io/pull/80 for example. So this certainly would not be a project that fits GSoC, neither in terms of complexity nor in terms of time required, IMHO. Also don't think anything would replace the azure pipelines currently.

We tested our documentation only through Travis, so I think dropping Travis also dropped d

[2021-03-22 13:41] sritasngh commented on #2300
@pombredanne @AyanSinhaMahapatra  I couldn't find the original License for "Triangle". What can I do for this license text detected https://gist.github.com/itssingh/4eee9bc42fadf1b86e6c533767119080#file-fsolver_output-json-L230?

[2021-03-22 16:44] jonCeg21 opened #2448 "Unsupported Python, OS, platform or architecture: Only Python 64 bits 3.6 and above are supported"
### Description
So I came across this plugin and this looks so promising but it does not work on a windows OS.

---------- Supported systems not on windows 10 OS
The supported systems are Mac, Linux and WSL (Windows Subsystem for Linux). Thus I followed this guide:
https://docs.microsoft.com/en-us/windows/wsl/install-win10#step-6---install-your-linux-distribution-of-choice.
I downloaded the ubuntu

[2021-03-22 17:19] johnmhoran opened #2449 "Consider not adding trailing '/' to directory paths when generating CSV from JSON output"
While trying to match file/directory paths from one CSV to another, I've encountered challenges when some paths do, and others do not, include a trailing `/`.

I've examined the latest `develop` branch and it seems that while the JSON output of scancode-toolkit does not have a trailing `/` for directories, the CSV generated by scancode-toolkit (as part of a scan or via `--from-json`) adds a traili

[2021-03-23 05:07] sritasngh commented on #1790
@AyanSinhaMahapatra okay. I would like to work on adding Github actions to migrate Travis CI in the coming time.

[2021-03-23 08:20] s4-2 commented on #2448
Hello @jonCeg21 , Yes it is true that on windows this software is not supported and thus many issue regarding this occurs. So I don't have clear idea how would I help but do visit on [Details](Please visit https://github.com/nexB/scancode-toolkit/issues/2366)

[2021-03-23 11:31] sritasngh commented on #1350
@pombredanne scans (license and copyrights) return line ranges for the text matched. When you say to include number of lines do you mean to add it for the whole file like [here](https://gist.github.com/itssingh/4eee9bc42fadf1b86e6c533767119080#file-fsolver_output-json-L37)?

[2021-03-23 14:57] jonCeg21 commented on #2448
Thank you @s4-2 for your response. I know it is not supported on Windows, that is why I installed WSL on my Windows machine. This is also the recommended solution in #2366. But when I use WSL 1 ubuntu 16.04 with python 3.6.13 I get the error mentioned above: Unsupported Python, OS, platform or architecture: Only Python 64 bits 3.6 and above are supported.
So this has something to do with the pytho

[2021-03-23 19:24] steven-esser commented on #1790
@itssingh We have already migrated to using azure pipelines and travis support will drop soon (if it hasn't already). I would find another issue to work on.

[2021-03-23 19:50] #2438 closed, assigned to nobody

[2021-03-23 20:01] Mitrajit commented on #605
Hello @pombredanne
I have studied the typecode library thoroughly and made some changes in pygments_lexers_mapping.py in site-packages and I am getting the desired results but it seems Lib\site-packages are git ignored. So where would I make the changes such that after configuring, the package changes would be reflected?
I aspire to join AboutCode in [GSoC-21](https://summerofcode.withgoogle.com/o

[2021-03-24 06:47] Divyansh2512 commented on #2382
@majurg @pombredanne @chinyeungli I did a little research on this and it seems like a package.json file must have both 'name' and 'version' fields. Since there is no version field in this particular package.json file, that is why it is returning empty list for the packages field.

[2021-03-24 06:51] Divyansh2512 commented on #2382
https://github.com/nexB/scancode-toolkit/blob/a381ec46451fef82911cb952685c8d41562d5873/src/packagedcode/npm.py#L268-L271
This is the original code.

[2021-03-24 07:25] sritasngh commented on #2300
As discussed on the channel I will add a proprietary license rule for the text matched [here](https://gist.github.com/itssingh/4eee9bc42fadf1b86e6c533767119080#file-fsolver_output-json-L230). There is also a Lua copyright used in [fsolver](https://github.com/Bacchustaf/SyRe_MSc/blob/078df81c8d13c873b15c92684167f4503bd766df/xfemm-code-310/mfemm/pfemm/fsolver/LICENCE.txt#L378), It's scanned output g

[2021-03-24 07:52] pombredanne commented on #2300
These should be new rules:
- `distributed under the terms of the Aladdin  Free Public License:` should be made a rule for `afpl-9.0` with a `relevance: 99` the rationale being that we have no version, so we pick the latest and degrade relevance to denote this uncertainty.

- the next segment is detected correctly including the fact it is modified. Nothing to add there . https://github.com/Bacchust

[2021-03-24 08:34] sritasngh commented on #2300
@pombredanne fsolver uses `Aladdin Free Public License version 8` so shouldn't there be a license rule for `afpl-8.0_url_3.RULE` `fsolver is distributed under the terms of the Aladdin Free Public License:` with

is_license_reference: true
match_coverage: 100.0
rule_relevance: 27
ignorable_copyrights:
    - Copyright (c) 1994, 1995, 1997, 1998, 1999, 2000 Aladdin Enterprises, Menlo Park, California

[2021-03-24 09:56] pombredanne commented on #2300
I do not want to see fsolver as a word in rules, this is too rare.
(Adding new words in rules is not something that's entirely free computing-wise)

So `afpl-8.0_url_3.RULE` as `distributed under the terms of the Aladdin Free Public License` is fine
And this `afpl-8.0_url_3.yml`:
[code]

[2021-03-24 14:59] steven-esser commented on #2382
@Divyansh2512 I think we should relax this constraint for npm packages and only check for existance of `name`.

@pombredanne thoughts?

[2021-03-24 15:07] Mitrajit commented on #605
@pombredanne A slight change in [typecode](github.com/nexB/typecode/blob/main/src/typecode/pygments_lexers_mapping.py) can give the correct results by changing
`'CLexer': ('typecode._vendor.pygments.lexers.c_cpp', 'C', ('c',), ('*.c', '*.h', '*.idc'), ('text/x-chdr', 'text/x-csrc')),` to
`'CLexer': ('typecode._vendor.pygments.lexers.c_cpp', 'C', ('c',), ('*.c', '*.h', '*.idc','config.h.in'), ('tex

[2021-03-24 18:04] pombredanne commented on #2382
That's a good approach. I like this. Eventually we may even relax it further in the future to accept no name and no version. for https://github.com/nexB/scancode-toolkit/issues/2098#issuecomment-801264748 ... but for now, going with name only is a good way.

[2021-03-24 18:08] pombredanne commented on #2382
BTW, this is what I think are called  "private" npms ... per https://docs.npmjs.com/cli/v6/configuring-npm/package-json#version

[2021-03-24 18:10] #2384 closed, assigned to nobody

[2021-03-24 18:14] pombredanne opened #2454 "Allow scans from a list of file paths (likely in a file for the CLI)"
It would be useful to allow scanning a large number of file paths at once and only these paths.
This is more of less what the --include is supposed to do, but it may helpful to have a file as a list of paths input.
This may be useful in scancode.io too
I though of this following the review of https://github.com/nexB/scancode-toolkit/pull/2395/files by @tardyp

[2021-03-24 18:15] #2059 closed

[2021-03-24 18:16] pombredanne commented on #2059
@tardyp  kindly fixed this in #2395  :bow:

[2021-03-24 18:27] pombredanne commented on #2431
@Angi2412 thanks! this helps

[2021-03-24 18:28] pombredanne commented on #1863
@Angi2412 @NoobSolver @chinyeungli this is a complex error to solve. I think there are several fixes that should help in the latest code, but there are likely a few gremlins in places. I will try to find a way that we do not fail.

[2021-03-24 19:06] pombredanne commented on #2435
is this resolved now?

[2021-03-25 03:37] Divyansh2512 commented on #2382
SGTM! But judging from:-

It seems like there issue is not for package.json file. @nishakm @rnjudge can you please send us a sample file against which it is not listing the packages.

[2021-03-25 10:04] robinsingh-ai opened #2455 "Creating docs automatically for scancode data"
### Description
I have seen [this](https://github.com/nexB/aboutcode/wiki/Project-Ideas-Create-docs-automatically-from-scancode-data) new project idea where we have to create docs automatically from scancode data, these can be done using automodule method from autodoc extension,

### Solution
autodoc is an extension of the sphinx which is used to Include documentation from docstrings that is avail

[2021-03-25 15:29] steven-esser commented on #2382
@Divyansh2512 Sure, but for now this issue is only in relation to npm packages (see first post by @chinyeungli). If the tern folks have other package manifest issues, we can handle that in a separate ticket.

[2021-03-25 15:53] nishakm commented on #2382
I haven't tested this yet. I will provide feedback shortly.

[2021-03-25 17:31] pratik0316 opened #2456 "VirtualCodebase Fails to produce the codebase upon scanning file Resources having fingerprint attribute"
### Description

VirtualCodebase scan fails for files in which files have `fingerprint` attribute

### How To Reproduce

Run scancode scans in the [file](https://jsoneditoronline.org/#left=cloud.8a4d604ab085442a9ecfd2834c05e208)

Following the command
`./scancode <Location to the above json file>  --json-pp results.json  --from-json`

### Error Result

[2021-03-25 19:28] akugarg commented on #2420
Hey! @pombredanne I want to work on this issue Can you please explain a little bit more on this? I couldn't find a license corresponding to this .

[2021-03-25 19:47] Divyansh2512 commented on #2420
@akugarg

Try running a copyright scan against this you'll see that `and its subsidiaries` would be missing. This is majorly because of the copyrights detection technique that scancode follows and can be seen in scancode-toolkit/src/cluecode/copyrights.py

I'll be more than happy to help if you encounter any problem because I myself spent an awful lot of time working on this issue but wasn't able

[2021-03-25 19:51] akugarg commented on #2420
@Divyansh2512 Thanks :)
Will try to look into it.

[2021-03-25 23:47] pombredanne commented on #2420
There are two environment variables that can help to debug this: SCANCODE_DEBUG_COPYRIGHT and SCANCODE_DEBUG_COPYRIGHT_DEEP
See https://github.com/nexB/scancode-toolkit/blob/59851db8028bdd3e2a011d52ffdba2b3f057ec72/src/cluecode/copyrights.py#L22
The first one provides tokenization details and parse tree and the second one provides which "grammar" rules are fired and their results.

Use it this way

[2021-03-26 00:47] #2382 closed, assigned to nobody

[2021-03-26 03:15] Divyansh2512 commented on #2382
@nishakm Kindly raise another ticket for your issue with detailed analysis I'll definitely look into it.

[2021-03-26 08:21] Divyansh2512 commented on #2420
@pombredanne Thank you for such a detailed explanation. I'll get back to you on this.

[2021-03-26 13:51] s4-2 commented on #2435
@pombredanne  I have created [PR](https://github.com/nexB/scancode-toolkit/pull/2439) to fix this issue.
But the problem is the 'py' command is not supported by all python version I think.

[2021-03-26 13:53] s4-2 commented on #2448
@jonCeg21 Yes I think you are right. As it must support 3.6 above python version.

[2021-03-26 19:02] Divyansh2512 commented on #2420
It seems like the problem is with the way we are generating the tokens.

If you see closely we are generating `subsidiaries.`, now due to this additional `.` we are unable to match the regex pattern that is why it is getting tagged as `'NN'` instead of `'COMP'`.

@pombredanne @majurg Any thoughts on how to fix this?

[2021-03-26 19:12] pombredanne commented on #2420
You need to update the regex for subsidiaries -> COMP to optional accept a trailing period.

[2021-03-26 19:17] Divyansh2512 commented on #2420
Well that would fix this particular issue but what about rest, like if we have `Copyright (c) 2009, 2018 Robert Bosch GmbH and foundation.`

[2021-03-26 21:18] Divyansh2512 commented on #2420
Is there a need to write test case for this?

[2021-03-27 08:09] sritasngh opened #2458 "Update "download the ScanCode-Toolkit Source Code" doc with respect to latest release"
### Description
Doc states that `master` branch has the latest release of Scancode-Toolkit which is not correct for latest release v.21.2.25. There is no master branch in this release.

### Link to Documentation Page

### Select Category

-  [ ] Inconsistency
-  [ ] New Section Request
-  [x] General Improvement
-  [ ] Typo/Mistakes
-  [ ] Other

[2021-03-28 08:30] sritasngh commented on #2446
@tdruez can I work on this issue?

[2021-03-28 09:41] itssingh commented on #2446
Input text:
[code]

Result:

        {
          "value": "Copyright 2001, Eric Lavigne <pk@cs.few.eur.nl>",
          "start_line": 2,
          "end_line": 4
        },
        {
          "value": "Copyright (c) 1991, 1992 Paul Kranenburg <pk@cs.few.eur.nl>",
          "start_line": 6,
          "end_line": 12
        },
        {
          "value": "Copyright (c) 1993 Branko Lankester <branko@

[2021-03-28 15:41] robinsingh-ai opened #2461 "Update and fix some typos and mistakes in "Contribution section of documentation and Comprehensive Installation section""
Hey @AyanSinhaMahapatra  and @majurg, I think this small issue/enhancements need to be updated Please have a look!
### Description

### Link to Documentation Page

### Select Category

-  [ ] Inconsistency
-  [ ] New Section Request
-  [X] General Improvement
-  [X] Typo/Mistakes
-  [ ] Other

[2021-03-28 16:23] pombredanne opened #2463 "Add rules or license for rare proprietary license"
See https://opencarp.org/download/license and https://github.com/omnetpp/omnetpp/blob/master/doc/License

[2021-03-28 16:58] akugarg commented on #2463
Hey! @pombredanne I would like to work on this.

[2021-03-29 04:09] sritasngh commented on #2446
input.txt:
[code]
`$ SCANCODE_DEBUG_COPYRIGHT=yes scancode --copyright --json-pp - input.txt`

Result:
[code]
@pombredanne @tdruez copyright scan result is giving incorrect range because `DEBUG:cluecode.copyrights:   candidate_lines: line is in copyright`. Could it be a good approach if I limit candidate _lines to only single line when it get

It will also help to debug this https://github.com/nex

[2021-03-29 05:24] sritasngh commented on #2444
@tdruez general observation:
`$ ./scancode -e --json-pp - input.txt`

input.txt:
[code]
Result:
[code]
So whenever email has been repeated, it has listed only that had been occured first. @pombredanne Is this bug or a feature?

[2021-03-29 05:28] sritasngh commented on #2444
@Ayushsunny You can get code in `/src/cluecode/`

[2021-03-29 11:09] pombredanne commented on #2444
@itssingh re:

a bit of both....
there are two sides:
1. there is a built-in limit to the number of emails or URLs reported https://github.com/nexB/scancode-toolkit/blob/96c73a2761eee3c1d8ba57c47efaa475f7459409/src/cluecode/plugin_email.py#L37 and https://github.com/nexB/scancode-toolkit/blob/96c73a2761eee3c1d8ba57c47efaa475f7459409/src/cluecode/plugin_url.py#L38
2. there is a `unique` Flag in htt

[2021-03-29 11:11] pombredanne commented on #2446
That would truncate several copyrights. Instead I think a better approach is to post-process the detected values against the original line range and find the correct start and end line (and even better as a bonus the offset or the start and end column in each line)

[2021-03-29 11:12] pombredanne commented on #2446
Sure thing, and you do not need to ask for permission! Yet that's always a good idea to ask like you did here so we can avoid stepping on each other's toes. :+1:

[2021-03-29 11:20] pombredanne commented on #1350
yes, and we have some code to port and start from  for this here https://github.com/nexB/scancode-toolkit-contrib/blob/develop/src/sourcecode/metrics.py

[2021-03-29 12:51] mapelpapel commented on #2437
I can confirm the bug. Also does not work for Python 3.7 and 3.8

I'm using the original Dockerfile and only changed the base image (Python 3.7, 3.8 and 3.9). Works fine with 3.6

Python 3.9:

[code]

Python 3.8:
[code]

Python 3.7
[code]

[2021-03-29 13:06] Siddhant-K-code commented on #1350
@itssingh will you like to work on it? or I can work upon it.

[2021-03-29 15:38] jonCeg21 commented on #1837
posted this ticket 7 days ago. Almost no reaction. The community around this tool is not that great. The documentation is subpar. Windows 10 is not supported anymore change the documentation. Had a lot of headaches trying to make it work on Windows 10 and after that WSL for Windows. Still does not work.
See this ticket for setup problem: Unsupported Python, OS, platform or architecture: Only Pytho

[2021-03-29 15:55] pombredanne commented on #1837
@jonCeg21 I am sorry that you feel this way, as we are all trying hard and your configuration is not a common one.

[2021-03-29 15:58] jonCeg21 commented on #2448
After a week of struggling and not reading the scancode documentation, I came to the conclusion that this tool only works on an ubuntu 18.04 OS because that one has native python3.6.9. Using ubuntu20.04 with the python 3.9.8 does not seem to work. Using WSL for Windows does not seem to work or there is little documentation on how to set it up. This ticket reamains open until this issue be solved I

[2021-03-29 15:58] pombredanne commented on #2448
@jonCeg21 ScanCode is supported on Windows alright and #2366 is a request for comment to possibly drop support for native and support only WSL. For now, this not the case:

I do not think that you combo of `WINDOWS 10 OS + Windows Subsystem for Linux UBUNTU 16.04` and `WSL 1 NOT WSL 2` has ever been tested. At least for now, I do not know how to run tests under WSL, WSL1 is unlikely to ever be som

[2021-03-29 16:01] jonCeg21 commented on #1837
@pombredanne No problem I actually think this is a great plugin (not yet tried it myself). But it seems to have a lot of potential. But the documentation just needs to be updated a bit because I wasted a lot of time following leads that got me nowhere. But thank you for all the effort you and the community are making tho!

[2021-03-29 16:06] pombredanne commented on #2448
@jonCeg21 re: https://github.com/nexB/scancode-toolkit/issues/2448#issuecomment-809499322

I am sorry for your struggle,m and you should bring it to our chatroom so that someone can help you.

It should work and is tested, but that would be require using a pip installation rather than an archive download
See the tests definitions here: https://github.com/nexB/scancode-toolkit/blob/96c73a2761eee3c1

[2021-03-29 17:03] pombredanne commented on #1837
@jonCeg21 Thanks! let's us help you then! can you add more details in https://github.com/nexB/scancode-toolkit/issues/2448 ?

[2021-03-29 20:09] nishakm opened #2467 "Cannot collect package metadata for Debian"
### Description

I am using scancode to scan container images like Debian. I have recently seen that scancode does not inventory Debian packages.

### How To Reproduce

It's somewhat lengthy but you can get a debian root fs and run scancode against it. I will attach the json I got from it.

### System configuration

* What OS are you running on? Ubuntu 20.04 LTS
* What version of scancode-toolkit

[2021-03-29 20:11] nishakm commented on #2382
@Divyansh2512 I have filed #2467.

[2021-03-29 21:14] pombredanne commented on #2467
@nishakm thanks, let me reply in details tomorrow!

[2021-03-30 07:22] ashwanthdurairaj commented on #602
Hi, I am trying to work on this issue. Are there any files in the repo which help the toolkit in ignoring scanning certain files?? Can anyone guide me to those files??

[2021-03-30 16:01] #2300 closed

[2021-03-30 16:53] jonCeg21 commented on #2448
@pombredanne thank you for your extensive response. So in conclusion:
- It can work on ubuntu20.04 when using a pip installation rather than an archive download.
=> Can I use this documentation https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html#pip-install ?
=> So it does work on python versions higher than python3.6 ?

- So it does indeed work on a Windows 10 you say?

[2021-03-31 01:17] sritasngh commented on #1350
working on it:)

[2021-03-31 14:11] pombredanne commented on #1521
All merged at last.

[2021-03-31 14:11] #1521 closed

[2021-03-31 15:04] tardyp opened #2470 "codescan do not install on M1 Macs and Windows WSL"
My team wants to work and contribute to scancode, and members of our teams have M1 Macs, or work on Windows WSL/WSL2.

scancode currently does not install with those setups, because it insists on installing binaries from wheels that are not compatibles with those systems.

I have worked today on this issue for the m1 and came up with a few PRs to fix this state

https://github.com/nexB/extractcode

[2021-03-31 15:13] tardyp opened #2471 "Custom License Rules folder"
## Short Description

Our internal code has copyright headers that we would like to properly categorize.
We don't think it make sense to upstream those rules, and we want to avoid forking scancode.

Thus we would like to add an option to scan code to provide a folder path which would contain custom .yml + RULE files.

## Possible Labels

- license scan

## Select Category

-  [ ] Enhancement
-  [

[2021-03-31 15:38] mjherzog commented on #2471
This feature should be useful for many ScanCode users.

[2021-03-31 17:29] #2162 closed

[2021-03-31 17:29] #2163 closed

[2021-03-31 18:22] pombredanne commented on #2471
This makes sense. @richardfontana requested this feature in #480 and I reckon I have been slow to act as I was fearing fragmenting the database of licenses. In hindsight, this is unlikely a (unexpressed) valid concern I had then.

Now if these are just a few proprietary license and headers, it could be well worth adding them to scancode anyway.

And to implement this feature here are some thoughts

[2021-03-31 21:53] pombredanne commented on #2432
This has been merged in develop and is in the v21.3.31 release.
Thank you ++

[2021-03-31 21:53] #2432 closed, assigned to nobody

[2021-03-31 21:55] #2420 closed, assigned to nobody

[2021-03-31 21:59] pombredanne commented on #2428
This has been merged in develop and is in the v21.3.31 release.
Thank you ++

[2021-03-31 21:59] #2428 closed, assigned to nobody

[2021-03-31 22:02] pombredanne commented on #2430
This has been merged in develop and is in the v21.3.31 release.
Thank you ++

[2021-03-31 22:02] #2430 closed, assigned to nobody

[2021-04-01 09:06] tardyp commented on #2471
I didn't see #480, as I only focused my search on the keyword RULES.

I like what I see there, especially the idea from  @DennisClark to automatically create this custom folder based on Unknown License findings.

In my first scans with scancode, we end up with big pile of unknown license, which is normal as we want to use scancode to make sure our proprietary software is not mixed up with open-sou

[2021-04-01 13:47] pombredanne commented on #2471
FWIW, any incorrect detection is treated as a bug (so tickets are mucho welcome!) AND @AyanSinhaMahapatra 's https://github.com/nexB/scancode-analyzer/ is a new, emerging tool to spot and potentially fix these issues using multiple approaches including some ML.

No worries there, it's not that complicated

Question: if you were to use a secondary index in your case, would you see an exclusive us o

[2021-04-01 14:59] tardyp commented on #2471
I don't say it is incorrect detection, as those are mostly files, which are our proprietary license, and I don't expect scancode to magically detect it.
We have our own spdx identifiers, and scancode detects that as unknown-spdx, maybe that could be enhanced

I would use both.

For each file, if the secondary index detects with 100% score that this is our copyright, don't bother run the rest of th

[2021-04-01 16:55] pombredanne commented on #1833
We no longer support Python 2 and the PyPI installation works now.

[2021-04-01 16:55] #1833 closed

[2021-04-01 16:55] pombredanne commented on #1971
This has been fixed. They are only included in development of docs.

[2021-04-01 16:55] #1971 closed

[2021-04-01 16:56] pombredanne commented on #1778
we reverted that in the latest release v21.3.31 and now `pip install scancode-toolkit` works again.
All clear now!

[2021-04-01 16:56] #1778 closed

[2021-04-01 16:58] pombredanne commented on #1670
This has been long merged in develop and released. Closing now.

[2021-04-01 16:58] #1670 closed

[2021-04-01 16:59] pombredanne commented on #1781
Closing as I could not reproduce this.

[2021-04-01 16:59] #1781 closed

[2021-04-01 17:07] pombredanne commented on #1688
This is now working normally. Closing!

[2021-04-01 17:07] #1688 closed

[2021-04-01 17:12] pombredanne commented on #1286
@abhi27-web this is not entirely easy as we are not yet sure what to do there.
I am closing in favor of #1286

[2021-04-01 17:12] #1286 closed

[2021-04-01 19:39] pombredanne commented on #1286
I meant #1031 ..., not #1286!

[2021-04-01 19:45] pombredanne opened #2474 "Do not report a plain JAR as a package"
Unless we have a name and version and some actual package details, returning as a package a JAR just becasue it is one is pretty useless.

[2021-04-01 19:45] pombredanne commented on #2474
@tdruez FYI

[2021-04-02 19:24] tardyp opened #2477 "Eclipse sua should be considered "CopyLeft Limited""
One of my scans detected an eclipse-sua notice.

It is categorised as CopyLeft, while I think it should be "CopyLeft Limited", as this is more or less only referering to EPL which is already Limited.

https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/licenses/eclipse-sua-2017.yml

There are a bunch of them.

[2021-04-02 21:39] pombredanne commented on #2477
@tardyp this makes sense. @DennisClark what's your take?

[2021-04-03 10:29] robinsingh-ai commented on #2008
hey @AyanSinhaMahapatra  @pombredanne
I have seen [this](https://github.com/nexB/aboutcode/wiki/Project-Ideas-Create-docs-automatically-from-scancode-data) new project idea where we have to create docs automatically from scan code data
Earlier I have worked on my personal python package which is a python module that contains Python-based minimal and clean example implementations of popular data st

[2021-04-04 15:54] codeakki commented on #2471
Hey May I know how scancode-toolkit create dataset for agent

[2021-04-04 17:59] tardyp commented on #2471
Hi @codeakki ,
the dataset is stored inside the source code:
https://github.com/nexB/scancode-toolkit/tree/develop/src/licensedcode/data

[2021-04-06 13:47] hiwit opened #2478 "Running scancode in a npm based repository takes long"
### Description
* we want to include scancode in our pipeline but are running into timing issues
* scanning a code base with node_modules for a react / npm project is very slow (>5h).

### How To Reproduce
- npx create-react-app test
- install some more npm packages
- scancode -cl -n 4 --html-app /project/result.html /project

#### Small workaround
- we were able to reduce the time by including on

[2021-04-06 13:58] pombredanne commented on #2478
@hiwit Thank you for the report!

Can you provide a few more details?
1. please confirm you are using Python 3.6
2. What is your CPU model? how many CPU cores?
3. How much RAM do you have?
4. when you say "install some more npm packages" can you be more explicit? There could be 10 or 10,000 of these as npm can have some hidden "iceberg"-like tree of dependencies . Could you run this on your test a

[2021-04-06 14:09] pombredanne commented on #2477
@tardyp I would guess the same would apply not only to https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/licenses/eclipse-sua-2017.yml but also to these:
- https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/licenses/eclipse-sua-2001.yml
- https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/licenses/eclipse-sua-2002.yml
- ht

[2021-04-06 15:13] AyanSinhaMahapatra commented on #2008
@robin025 the information about autodoc/automodule/autoclass is known, but the issue here is, we want to document attribute members of classes, (not all members, only the ones that end up in the result data selectively).

Take an example of this.

Here in [`licensedcode/models.py`](https://github.com/nexB/scancode-toolkit/blob/d9ae6e62ebad6a896cf5b58185d833302e95c72d/src/licensedcode/models.py#L66

[2021-04-06 19:09] AyanSinhaMahapatra commented on #2455
A duplicate issue, closing this. See #2008 and #2425

[2021-04-06 19:09] #2455 closed, assigned to nobody

[2021-04-06 20:12] pombredanne commented on #2470
For this use case there is the "scancode-toolkit-mini" build that is exactly the same code as "scancode-toolkit" but uses this setup instead https://github.com/nexB/scancode-toolkit/blob/6c43e29f446c948ec581995fa59665594341eef8/setup-mini.cfg which does not require these two by default:
[code]
(you could need to install them separately or with the extra_requires `pip install scancode-toolkit-mini[

[2021-04-06 20:16] pombredanne commented on #2470
nexB/extractcode#18
inveniosoftware/intbitset#75
nexB/typecode#17

This is awesome!
As it happens, I maintain or co-maintain all of these, so that makes it easy enough.

M1 would be awesome to support with native wheels but there would be a need to have a build and a test machine.
As for WSL, I am all in to add support for WSL2 (which may actually work already?) but I am not sure WSL may be possib

[2021-04-07 09:27] Pushpit07 commented on #2168
@pombredanne What should be the correct license here?

[2021-04-07 09:28] tardyp commented on #2477
indeed, basically eclipse-sua-*.yml are candidates for "CopyLeft Limited" Category

[2021-04-07 10:15] AyanSinhaMahapatra commented on #2168
@Pushpit07 Scancode has it's [license](https://github.com/nexB/scancode-toolkit/blob/develop/scancode-toolkit.ABOUT#L3) as `apache-2.0 AND cc-by-4.0 AND other-permissive AND other-copyleft`.

The scancode code/the package as a whole is under [`apache-2.0`](https://github.com/nexB/scancode-toolkit/blob/develop/apache-2.0.LICENSE) and the data, like the license and rules, are now under [cc-by-4.0](h

[2021-04-07 10:17] tardyp commented on #2470
I guess this method does not work well for a developer. Is there a way to use your setup-mini.cfg with "pip install -e" ?

I get that the scancode[full] is not very intuitive for new users, but this method is actually raising the bar for new developer to jump in by a fair amount, IMHO.

I am not sure if it is worth to support all those different setups officially. I can think of freebsd, alpine, w

[2021-04-07 16:13] pombredanne opened #2480 "Cannot install scancode toollkit from pip"
### Description
[code]
This was found by @AyanSinhaMahapatra

[2021-04-07 16:14] pombredanne commented on #2480
The core issue is https://github.com/nltk/nltk/pull/2629#issuecomment-815036244 and https://github.com/nltk/nltk/issues/2690

[2021-04-07 16:14] AyanSinhaMahapatra commented on #2480
Just running `pip install pytest` would get rid of this issue temporarily, as the problem has to be fixed on nltk side.

[2021-04-07 16:18] pombredanne commented on #2480
Our dep is now `nltk >= 3.2, < 4.0` and needs to be updated to `nltk >= 3.2, !=3.6, < 4.0`

[2021-04-08 06:13] pombredanne commented on #2480
nltk 3.6. has been replaced by 3.6.1 at https://pypi.org/project/nltk/3.6.1/ so the pressure is now lesser to make an urgent release on our side

[2021-04-08 10:58] pombredanne commented on #2390
See https://github.com/nexB/scancode.io/issues/103#issuecomment-815665295 for a detailed description of the problems

[2021-04-08 12:51] pombredanne commented on #2390
To improve the tracing I think we could have this simple way:
1. decouple entirely the processing of a whole copyright file data (and copyright statements) to have a function that deals only with the license detection and returns license matches.
2. expose a new option in license detection such as `--debian-copyright` and some arg such  `as_debian_copyright` that would treat `*copyright` files as

[2021-04-08 12:52] pombredanne commented on #2390
@AyanSinhaMahapatra FYI ^

[2021-04-08 14:39] hiwit commented on #2478
Hi, thanks for your quick reply.

1. yes, we were using python 3.6
2. 2,6 GHz 6-Core Intel Core i7
3. 16 GB 2400 MHz DDR4
4. for our target application we have the following dependencies
`  "dependencies": {
    "@types/clipboard": "^2.0.1",
    "@types/cookie": "^0.3.3",
    "@types/jest": "26.0.15",
    "@types/lodash.replace": "^4.1.6",
    "@types/node": "12.0.8",
    "@types/react-dom": "16.8

[2021-04-08 14:50] hiwit commented on #2478
small update: we were able to run scancode in 1362.15s when heavily using the include command.
we filtered all text files before the scan and added the distinct filenames as a long list of includes...
`find node_modules -type f -exec grep -Iq . {} \; -print`
`scancode --include "*.js" --include "*.cc" ... -cl node_modules`
but I'm not sure how valid the result is

[2021-04-08 15:09] pombredanne commented on #2478
@hiwit these includes should not be needed, but that said, 23K files in about 20 minutes and 4 processes does NOT sound too crazy.

You should try a plain --package for a start instead and without includes or excludes.

[2021-04-08 15:40] hiwit commented on #2478
20 minutes is ok, i guess... :) but that was after optimization / filtering :) but it seems that using the json output is also somewhere in that timeframe :) i'll run some more tests to validate

[2021-04-08 18:56] akugarg commented on #2412
@pombredanne Can you please explain a bit more on this.

[2021-04-09 19:23] tardyp opened #2484 "high relevance for some very low character count rules find lots of GPL false positives"
One of our configuration xml contains snippets like these (lots of them, number may vary):

[code]

scancode find tons of GPL due to those rules:

gpl-3.0_126.RULE : "gpl 30"
gpl-1.0_16.RULE:  "gpl 10"
gpl-2.0_693.RULE: "gpl 20"

They all have a relevance of 100, which looks a lot to me.

would it make sense to decrease the relevence?

Is there a nice way to blacklist the rule?
(I'll just rm them

[2021-04-09 19:59] pombredanne commented on #2412
An RPM can have a license declared which is one of the tags we collect.
It can also have special files tagged as being license-related.
We have a limited way to detect a license on these and we should improve that such that:
1. we have license mapping based on some analysis of a large number of RPMs and spec files so we can better detect these licenses, such that the compute_normalized_license met

[2021-04-10 12:24] JayFoxRox opened #2485 "FAQ appears to be broken and outdated"
### Description

[The FAQ](https://scancode-toolkit.readthedocs.io/en/latest/misc/faq.html) is reachable from the README, but it has broken formatting and seemingly outdated information:

- [Talks about synchronizing to DejaCode](https://scancode-toolkit.readthedocs.io/en/latest/misc/faq.html?highlight=faq#can-licenses-be-synchronized-with-the-dejacode-license-library) and links to closed issue ht

[2021-04-11 10:55] #2463 closed, assigned to nobody

[2021-04-11 11:16] Pushpit07 commented on #2480
running ``./configure`` still installs nltk version 3.2 even after ``nltk >= 3.2, !=3.6, < 4.0``

[2021-04-11 14:23] pombredanne commented on #2412
To better explain the context, a list of used licenses can be found in each RPM metadata. These are also in the repomd such as in this one from CentOS: https://archive.kernel.org/centos-vault/8.0.1905/BaseOS/x86_64/os/repodata/087f260d0243e74021b5bde5d0091b2ba15998ffdcf336471bbe3e97ffafbb7b-primary.xml.gz
[code]

Such primary repomd data could be used to assemble a list of license symbols (such as

[2021-04-11 15:29] pombredanne commented on #2412
See also
- https://fedoraproject.org/wiki/Packaging:LicensingGuidelines#License:_field and https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Good_Licenses
- https://en.opensuse.org/openSUSE:Packaging_guidelines#Licensing and https://github.com/openSUSE/obs-service-format_spec_file which uses SPDX but not exactly

[2021-04-11 16:28] pombredanne opened #2487 "Improve PyPI package declared license detection"
The goal of this ticket is to improve PyPI package license detection across the board. While scancode-toolkit's PyPI package detection is pretty good, there a few repeat cases where license information is not properly gathered from PyPI package metadata. Usually this is because a `declared_license` value contains things we did not expect (like a URL) or is improperly formed.

Resolving this would

[2021-04-11 17:00] pombredanne opened #2488 "Improve npm package declared license detection"
The goal of this ticket is to improve npm package license detection across the board. While scancode-toolkit's npm package detection basics are OK, there a few repeat cases where license information is not properly gathered from npm package metadata. Usually this is because a `declared_license` value contains things we did not expect (like a URL) or is improperly formed. There are also specific th

[2021-04-11 17:17] S3j5b0 opened #2489 "Keeps complaining about missing packages when installing"
### Description

Hi, im trying to get and run scancode for scanning my golang application. I'm on a ubuntu 20 machine. I am trying to follow the recommended path decribed in your readme.
I am using the latest release that I could find here.

First I go and download the latest release:

`scancode-toolkit-21.3.31_py36-linux.tar.xz`

I then unpack it:

`tar -xvf scancode-toolkit-21.3.31_py36-linux.ta

[2021-04-11 17:43] pombredanne opened #2490 "Improve Maven package (POM) declared license detection"
The goal of this ticket is to improve maven package license detection across the board. While scancode-toolkit's maven package detection basics are OK, there a few repeat cases where license information is not properly gathered from maven package metadata (e.g. the POM mostly, though we could also consider gradle definition and a few more). Usually this is because a `declared_license` value found

[2021-04-11 17:51] pombredanne opened #2491 "Create application tarballs for all supported Python version and OS/arch combos"
For now we support app installation only with Python 3.6 (such as `scancode-toolkit-21.3.31_py36-linux.tar.xz`)and this is a source of confusion. We should either:
1. generate app tarball for all supported Python version and OS/arch combos
2. generate all in one installers, snaps, flatpackages, appimages

[2021-04-11 18:01] pombredanne commented on #2489
@S3j5b0 The application tarball `scancode-toolkit-21.3.31_py36-linux.tar.xz` tarball contains only pre-built 3.6 Python dependencies and is designed to work only with Python 3.6 for now so you will not get something working with your Python 3.8.
(I created #2491 as a related ticket)

The way to go would be instead:
A) From git: https://scancode-toolkit.readthedocs.io/en/latest/getting-started/inst

[2021-04-11 19:14] S3j5b0 commented on #2489
Hmmm, I just assumed I could use 3.8 because the readme says that one can use 3.6+

I have now installed via pip.

running 'scancode' gives me this view:

[code]

Which doesnt make much sense to me

[2021-04-12 17:46] pombredanne commented on #2484
Yes, it makes sense to lower this, likely to something such as 50?

Not at the moment. But if you are deleting these there are other things to consider:

1. Adding a  few   `is_false_positive: yes` rules may be enough to handle these cases. For instance, I recently added several of these in a branch to cope with cases where we detect lists of SPDX license ids in tools with license-related features

[2021-04-12 17:46] pombredanne commented on #2484
@tardyp See the recent commits in https://github.com/nexB/scancode-toolkit/compare/2021-04-license-updates tagged with #2484

[2021-04-12 19:14] tardyp commented on #2484
hi @pombredanne
Thanks for the detailed explanation. Happy I reported two bugs for false positive!
I wondered indeed why the detection score wasn't decreased by the distance between two tokens.

60 looks good. I get the idea there is a need for a mode where scancode detects as much as possible.

Not sure that we want to add a false positive detection for this file type.

It is very specific to my

[2021-04-12 21:34] pombredanne commented on #2484
I have always feared that we would get someday some false positive for GPL either from the LPG gas or from this https://gplinc.com ... the day has come!
So even if you think this is silly, adding a few false positive rules is welcomed.

[2021-04-13 09:45] Angi2412 commented on #2431
Does v21.3.31 (fa3e3662868c331232f75a93d4b8a1797bc8ddb5) already resolve this issue?

[2021-04-13 13:15] S3j5b0 opened #2492 "Have no idea what input to pass"
Hi, I'm trying to use scancode to scan o project.

Typing scancode --help gets me this format:
`scancode [OPTIONS] <OUTPUT FORMAT OPTION(s)> <input>...`

So i try passing my input directory in:

`scancode -ic devops-21/`

This however gives me:

'Error: Missing output option(s): at least one output option is required to save scan results.'

ok, cool, I should add an output option:
`scancode -ic de

[2021-04-13 13:37] AyanSinhaMahapatra commented on #2492
@S3j5b0 you're missing the output format option before the output. Also, you should use JSON as output and use [scancode-workbench to visualize](https://scancode-toolkit.readthedocs.io/en/latest/tutorials/how_to_visualize_scan_results.html), as HTML is deprecated now.

So, your scan should have been `scancode -ic devops-21/ --json-pp outut.json` for the same command as you mentioned above.

Use mo

[2021-04-13 16:57] DennisClark opened #2493 "Add ability to detect the GDScript language"
A fairly new project on GitHub at
https://github.com/git-learning-game/oh-my-git

shows the primary language to be GDScript at 94.6%

Turns out that it is a recently emerging language used primarily by game engines:
https://gdscript.com/

The Scan results for this package downloaded from
https://github.com/git-learning-game/oh-my-git/archive/refs/tags/0.6.4.tar.gz

returned a language of "TypeScri

[2021-04-13 16:57] JonoYang opened #2494 "Add detetection for Acroname Brainstem Development Kit license"
https://acroname.com/software-license

[2021-04-13 19:30] S3j5b0 opened #2495 "Fetch details remotely for Go dependencies."
Hi, I'm currently looking at this project because I had heard that I would be able to easily scan, and check whether or not my license was harmonizing with the licenses of my dependencies.

So now for running the command, i used the flag -ic, because I thought scanning  for licenses and copyrights would probably be appropriate.
I run this:

` scancode -ic devops-21/ --json-pp output.json`

And get

[2021-04-13 19:35] AyanSinhaMahapatra commented on #2495
@S3j5b0

reiterating my comment from [here](https://github.com/nexB/scancode-toolkit/issues/2492#issuecomment-818742226)

Use more options to scan for more things, see docs at [scan example](https://scancode-toolkit.readthedocs.io/en/latest/tutorials/how_to_run_a_scan.html#running-the-scan) and [all CLI options](https://scancode-toolkit.readthedocs.io/en/latest/cli-reference/) for more details.

Y

[2021-04-13 19:37] AyanSinhaMahapatra commented on #2492
This was a problem with providing the CLI options correctly and is documented in the docs clearly, with examples. From https://github.com/nexB/scancode-toolkit/issues/2495#issue-857259090 we see that you've run a scan correctly so closing this.

[2021-04-13 19:37] #2492 closed, assigned to nobody

[2021-04-14 18:02] pombredanne commented on #2495
Assuming your dependencies are present in the directory you scan, you should use the `--package` option to get the package details (and that would also cover dependencies)

@S3j5b0 what is your typical platform/programming language?

[2021-04-14 18:16] pombredanne commented on #2431
@Angi2412 not yet fully.

[2021-04-14 21:02] pombredanne commented on #532
@sschuberth

Of course! a couple times but this is still failing for now.  See https://github.com/spdx/spdx-online-tools/issues/292

[2021-04-15 05:51] Aayush-hub opened #2496 "Fix typo in Readme"
### Description

### Link to Documentation Page

https://github.com/nexB/scancode-toolkit/blob/develop/README.rst
### Select Category

-  [x] Typo/Mistakes

[2021-04-15 06:42] #2496 closed, assigned to nobody

[2021-04-15 10:19] vbisserie opened #2497 "Add detection for Apple MFi License"
https://www.lawinsider.com/dictionary/mfi-license

[2021-04-15 10:39] #2497 closed, assigned to nobody

[2021-04-15 10:40] vbisserie commented on #2497
Sorry, the 'Apple Example Code License' is detected.

[2021-04-15 13:04] pombredanne commented on #532
@sschuberth this is now registered at https://tools.spdx.org/app/license_namespace_requests/2/ thanks to @goneall  help.

[2021-04-15 13:44] pombredanne commented on #2497
@vbisserie that's OK, I am glad it works and even more glad that you care for it! :+1:

Any incorrect detection is a bug!

[2021-04-15 14:53] sschuberth opened #2498 "Support detecting the "License Agreement for Solace Software""
## Short Description

Please add support for detecting the [License Agreement for Solace Software](https://solace.com/license-software) as referred to e.g. by https://repo1.maven.org/maven2/com/solacesystems/solsuite/10.8.1/solsuite-10.8.1.pom

## Possible Labels

"license scan"

## Select Category

-  [ ] Enhancement
-  [x] Add License/Copyright
-  [ ] Scan Feature
-  [ ] Packaging
-  [ ] Documen

[2021-04-16 08:05] akugarg commented on #2494
Hey! @JonoYang Can in work on this?

[2021-04-16 23:22] #2268 closed

[2021-04-19 17:15] pombredanne commented on #2210
This was mistakenly auto-closed by a merge

[2021-04-21 13:05] hesa commented on #2170
Jumping in a bit late. Stumbled on a file, [gen.go](https://github.com/google/wuffs/blob/main/cmd/ractool/gen.go), yesterday. There are two license texts in the file. Scancode (3.2.3 with `-clipe`) reports the following for this file:
[code]
So, _license_expressions_, _copyrights_ and _holders_ are all stated (by authors) and reported (by Scancode) twice.

I am not sure multiple and verbatim copyr

[2021-04-21 15:56] pombredanne commented on #1873
This is showing up again in the latest Python version, so I am reopening,

[2021-04-21 16:07] pombredanne opened #2500 "Failure to collect RPM from RPM db in scancode.io"
This is a problem that came from running the toolkit on a Docker image https://hub.docker.com/r/ansible/awx_web/tags
docker.io/ansible/awx_web:1.0.6 :
[code]

[2021-04-21 16:07] pombredanne commented on #2500
@tdruez FYI

[2021-04-21 17:04] cole-h opened #2501 "Use dparse2 for Python 2 and dparse for Python 3"
I'm in the process of packaging scancode-toolkit for Nixpkgs (https://github.com/NixOS/nixpkgs/pull/120009) and ran into an issue where dparse2 is used for Python 2 support, but our version of pdfminer doesn't support Python 2 (and so scancode-toolkit, which depends on both, wouldn't build on Python 2). I opted to disable the package on Python 2, which led me to need to patch the `dparse2` depende

[2021-04-21 21:40] pombredanne commented on #2501
@cole-h Hi! that's awesome! actually we dropped support for Python2 entirely and the only reason for the temporary dparsee release at https://github.com/nexB/dparse/releases/tag/0.5.0.1 was a Python backport.
We could normally fully switch to the regular dparse at this stage

[2021-04-21 21:41] pombredanne commented on #2501
@cole-h which version are you porting to nix?

[2021-04-21 21:47] cole-h commented on #2501
I've packaged the latest version, 21.3.31.

[2021-04-21 21:50] pombredanne commented on #2501
@cole-h ack ... anything we can do to help, please tell. You can also consider a smaller footprint with the scancode-toolkit-mini package from Pypi (created with the ./setup-mini.cfg settings) as it has fewer deps for a start

[2021-04-21 21:55] pombredanne commented on #2170
@hesa Hey! :wave:  So I think this is a good case for effectively having a simplification here. There two notices alright and scancode detects them all correctly, but a post processing would do nicely!

Unrelated: May you should run the latest version? 3.2.3 starts to be old!

[2021-04-21 22:10] cole-h commented on #2501
Thanks for your support!

I ran into 2 other dependency issues that seem trivial (to my layman's eyes) to resolve:

* the version bound on `ftfy` is unnecessary; I was able to build and run `--help` just fine with that bound removed altogether
* the same can be said of the version bound on bitarray; I was able to build with 1.7.1 and run `--help` fine as well

[2021-04-22 13:00] tardyp opened #2502 "Wrong spdx detection for file generator"
Some of our files contain generator of source code.

Looks like this:

[code]

The 5th line got detected by the  spdx matcher, but the detected SPDX license is unknown

We do add `LicenseRef-ACME-Proprietary` in our custom SPDX license, but it is not recognised, probably the end of the line is taken as part of the full SPDX ID.

[2021-04-22 15:31] tardyp opened #2503 "Wrong detection for Apple MFi License as apple-excl"
We got some SDK provided by Apple under NDA under the MFi License.

This is a proprietary license with very similar wording as other Apple licenses, except you can't redistribute source (only binary)

I am not sure I can disclose the full text of the license in the open, I found a few exemples of similar files.
I am not sure I want to link there as they are probably illegal copies, but google will

[2021-04-23 06:36] pombredanne commented on #2502
@tardyp thanks.
1. SPDX ids are detected if they start in the first few words of a line per https://github.com/nexB/scancode-toolkit/blob/9ff0880379aa68cc8d1c4e31cc9c206c6b8e9932/src/licensedcode/query.py#L370
So `print("# SPDX-License-Identifier: LicenseRef-ACME-Proprietary", file=dest)` would be collected and detected

2. we assume that everything after `SPDX-License-Identifier:` is an SPDX lice

[2021-04-23 06:50] pombredanne commented on #2503
The text would be this:
[code]

and we can add this as a new license alright!

[2021-04-23 06:54] pombredanne commented on #2494
@akugarg please! thanks!

[2021-04-23 06:56] pombredanne commented on #2489
@S3j5b0
the  `FutureWarning: ...` thing should not be displayed. But the usage help looks fine to me is this still a problem?

[2021-04-23 06:57] pombredanne commented on #2485
Thanks!

[2021-04-23 07:01] pombredanne commented on #2480
@Pushpit07 re:

yes because there are two different things:

1. setup contain the direct dependencies expressed as ranges of supported versions
2. requirements contain pinned dependencies with exact versions

We support `nltk >= 3.2, !=3.6, < 4.0` in  https://github.com/nexB/scancode-toolkit/blob/bb044200ae86770f9bb01560c0033037ee18b947/setup.cfg#L78

But we install `nltk == 3.2` in https://github

[2021-04-23 07:02] pombredanne commented on #2480
I think we are all set here. Closing!

[2021-04-23 07:02] pombredanne commented on #2478
@hiwit ping, any update on your side?

[2021-04-23 07:11] pombredanne commented on #14
So after a long time, I think that what we really want is not exactly transparent extraction of archives, but rather smart and selective extraction of archives where relevant in the context of a specific archives and scans.
For instance if I have a JAR seen during a package scan we need to process a few manifests selectively and not the whole JAR at all times. Unless this is a source JAR. So the b

[2021-04-23 07:13] pombredanne commented on #16
Since we now use the workbench I am closing this as the treeview of the HTML output is not a priority

[2021-04-23 07:13] #16 closed

[2021-04-23 07:15] tardyp commented on #2502
hi @pombredanne thanks for detalled comments. makes a lot of sense

Some comments:

LicenseRef-ACME-Proprietary is not reported as something unknown in my instance as I have custom rules that defines it.(a fix for #2471  that is not yet ready for upstream). I think this is the best way to solve it for me. This ensures that all SPDX licenses are correctly identified by the IP Management group.
We c

[2021-04-23 07:58] pombredanne commented on #2502
Yes, quotes would be better... we are mostly ignoring quotes.

Except for SPDX License Identifiers, where we can access to the raw text. In https://github.com/nexB/scancode-toolkit/blob/bb044200ae86770f9bb01560c0033037ee18b947/src/licensedcode/query.py#L441 we could likely add a test on the content.

If I use this one liner as a test file

`print("# SPDX-License-Identifier: LicenseRef-ACME-Proprie

[2021-04-23 12:49] pombredanne commented on #2484
@tardyp At this stage this has been merged in the develop branch. It took a bit longer as there was an unrelated bug discovered as a side effect on how and when false positive rules were filtered and also the impact of "stop words" on the overall tokenization and score of a matched license and how rules that should  be matched verbatim were handled.
Thanks for the report!  I am closing this now.

[2021-04-23 12:49] #2484 closed, assigned to nobody

[2021-04-23 12:57] pombredanne commented on #480
I am merging the ticket #2471here  to have a single one

In https://github.com/nexB/scancode-toolkit/issues/2471#issuecomment-811307629 I wrote:

in https://github.com/nexB/scancode-toolkit/issues/2471#issuecomment-811767894 @tardyp wrote:

in  @tardyp wrote:

[2021-04-23 12:57] pombredanne commented on #2471
I am closing this in favor of the older #480

[2021-04-23 12:57] #2471 closed, assigned to nobody

[2021-04-23 13:04] pombredanne commented on #480
Here is an idea for a high level design:
- we can have multiple licenses and rules data sets. Each is packaged as a plugin and needs to declare itself with a name that must be unique. This applies also to the standard built-in rules data sets.
- at run time, we can select with an option which license indexes to use, e.g. one more more with a UX more or less like: `--license-index=builtin,foo,bar`

[2021-04-23 13:55] tardyp commented on #480
I like this design proposal. I would like to also introduce a simple test mechanism that would lower the bar for adoption as much as possible.
I would propose an `data/examples` directory alongside the licenses and rules directory.

this directory will contain a list of .yml files and source files associated to the test

- data/examples/acme.c # contains the file to be scanned
- data/examples/acme

[2021-04-23 18:52] hiwit commented on #2478
hi @pombredanne, sorry for the late answers.

we're now able to generate a report in about 25 minutes in a concourse job. that's fine. I'm not sure what did the trick in the end. Probably switching to json improved a lot (filtering files was also a good idea :) ).

[2021-04-24 07:37] pombredanne opened #2506 "Correct key file doc"
### Description
We have this  https://github.com/nexB/scancode-toolkit/blob/ebb55c341bc6ba644d2be0e531ffbfc2948bca47/docs/source/cli-reference/scan-options-pre.rst#L75

A key file is not a license key file. This is a key more as in "keystone", e.g. an important file for the documentation of a package.
See https://github.com/nexB/scancode-toolkit/blob/ebb55c341bc6ba644d2be0e531ffbfc2948bca47/src/su

[2021-04-26 02:08] chinyeungli opened #2507 "Incorrect license detection"
For
https://github.com/sensu/sensu-go/blob/v6.2.7/cli/client/error.go

The current scancode toolkit incorrectly identified this as under `bsd-new` with score "99.0"

[code]

[2021-04-26 09:26] pombredanne commented on #2507
Thank you for the report. You might want to run the --license-text option (and --license-text-diag too) to capture the matched license texts:
I get this:
[code]

https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/bsd-new_696.RULE contains the text `Go's License` and should only be matched exactly: `Go license` should not be matched there (note the extra `'s`);that's

[2021-04-26 13:11] hesa commented on #2170
I think I would prefer to do this post processing myself (i.e. let scancode report the two instances). So, for me, this issue can be closed.

Re unrelated :)
[code]

[2021-04-26 13:50] pombredanne commented on #2507
This "Go's license" is too weak alone to be kept as a rule. The best resolution is to remove the bsd-new_696.RULE entirely as this is not enough alone to be a good license match.

[2021-04-26 14:38] pombredanne commented on #480
@tardyp re:

This makes perfect sense. Could this be essentially the same as in https://github.com/nexB/scancode-toolkit/tree/develop/tests/licensedcode/data/datadriven/lic1 ? we have a pair of test file and expected results in YAML. This could be enhanced to also support expecting a score (or score range?) and a certain license or rule.

[2021-04-26 14:40] pombredanne commented on #2485
@JayFoxRox Thanks for the report. The doc needs love for sure.!

[2021-04-26 15:15] tardyp commented on #480
Cool. I was sure that there was already something like this in scancode...

So looks like all you have to do is to do create a test like this:

https://github.com/nexB/scancode-toolkit/blob/develop/tests/licensedcode/test_detection_datadriven1.py

I see that this is implemented here:

https://github.com/nexB/scancode-toolkit/blob/develop/tests/licensedcode/licensedcode_test_utils.py#L173

shall we

[2021-04-26 15:48] pombredanne commented on #480
yes, with a little refactoring.

there are a few things to consider IMHO here:

1. we want to be able to run extra tests as contributed by an index plugin and we may want to avoid any additional test library dependencies (e.g. pytest, etc) as I would prefer to avoid having these as core deps. So the tests should be usable without the tests libraries.

2. the main, standard index tests can stay a s

[2021-04-27 09:58] pombredanne opened #2509 "Support npm dependencies with "weird" versions"
Per https://docs.npmjs.com/cli/v7/configuring-npm/package-json#dependencies the version of a dependency can be various things:

- URLs as Dependencies: "http://asdf.com/asdf.tar.gz",
- Git URLs as Dependencies: See https://docs.npmjs.com/cli/v7/configuring-npm/package-json#git-urls-as-dependencies ... this is using a VCS_URL-os-SPDX and pip-like syntax
- GitHub URLs: user/repo#feature\/branch
- Lo

[2021-04-27 12:14] robguinness commented on #2489
I am also seeing the same FutureWarnings. Should I open a separate issue for this?

[2021-04-28 09:12] pombredanne opened #2510 "Allow policies by license expression"
`gpl-2.0 WITH oracle-openjdk-classpath-exception-2.0` is reported as a warning if `gpl-2.0` if set to report warning. In such as case I would like to set a policy to state that `gpl-2.0 WITH oracle-openjdk-classpath-exception-2.0` is OK and not warning and I am not sure  I can do this.

[2021-04-28 14:22] #2348 closed, assigned to nobody

[2021-04-28 19:12] pombredanne opened #2511 "Improve the granularity of detection within go.sum/go.mod"
### Description

It would be great to improve the granularity of detection within go.sum/go.mod especially since:
1. both files may contains redundant dependencies
2. from and origin and license perspective the is too much details with all the imported subdirectories
3. there are typically test tools or test-only imports that are present in  go.sum/go.mod  but never used in a built production bina

[2021-04-29 09:54] tgodau opened #2512 "No copyrights recognised in "AUTHORS.txt""
### Description

I recently scanned the "jquery-3.6.0" package (https://github.com/jquery/jquery/archive/refs/tags/3.6.0.zip).
Unfortunately not a single copyright entry (name + e-mail address) from the very obvious file "AUTHORS.txt" was recognised.

### How To Reproduce

- Download the jquery package from the link above and unzip it.
- scancode -clip jquery-3.6.0/ --json-pp jquery-3.6.0.json

##

[2021-04-29 11:10] AyanSinhaMahapatra opened #2513 "Extra `.freeze` left in parsing gemspec files"
### Description

### How To Reproduce

Run [docker pipeline](https://scancodeio.readthedocs.io/en/latest/scanpipe-tutorial-1.html) in scancode.io on a docker image created by building from this Dockerfile:

[code]

This is essentially a bug in [this function](https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/rubygems.py#L603).

Sample .gemspec file for consideration, taken fro

[2021-04-29 11:13] AyanSinhaMahapatra commented on #2513
Also see https://github.com/nexB/scancode-toolkit/issues/2035

[2021-04-29 11:42] AyanSinhaMahapatra opened #2514 "Resolve version numbers in .gemspec files"
### How To Reproduce

Run [docker pipeline](https://scancodeio.readthedocs.io/en/latest/scanpipe-tutorial-1.html) in scancode.io on a docker image created by building from this Dockerfile:

[code]

This is essentially a bug in [this function](https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/rubygems.py#L603).

Sample .gemspec file for consideration, taken from extracting the

[2021-04-29 11:44] AyanSinhaMahapatra commented on #2513
Note that wherever `.freeze` is not present in attributes, such as in the .gemspec file [here](https://github.com/nexB/scancode-toolkit/issues/2514#issue-870924280), there's a line in the beginning: `# frozen_string_literal: true`

[2021-04-30 05:06] Thomshan opened #2515 "False positive license detection in jaxen-1.1.3.jar-extract/org/jaxen/dom/NamespaceNode.class"
**Description**

Scancode Toolkit reports the presence of a proprietary license in line number 134 of
jaxen-1.1.3.jar-extract/org/jaxen/dom/NamespaceNode.class.
This fix is to add a new RULE with this .yml `is_false_positive: yes` some `notes: not a license reference, seen in Jaxen` and this text in .RULE : `node may not be modified`
The identifier is "proprietary-license_276.RULE" whose relevance

[2021-04-30 06:51] robguinness commented on #2489
Could you please explain why you closed this issue?

[2021-05-03 05:45] pombredanne commented on #2448
"empty line"

You need a 64 bits Python and this is 32 bits.

[2021-05-03 05:57] pombredanne commented on #2512
@tgodau thank you for the report. There are a few things to consider:

1. a mere list of emails is not detected as authors in general
2. the `--email` option will return emails and get you something such as:
[code]

with that said I think there are many opportunities to make this better:

1. in a file named AUTHORS* the expectation should be that these are all authors anyway, even though they are

[2021-05-03 06:19] tgodau commented on #2512
Thank you very much for the reply and clarification :-)

[2021-05-03 08:53] pombredanne commented on #2489
@S3j5b0 not sure either why you closed ... I guess that your main issue is resolved? let me reopen to deal with the FutureWarning messages. They are innocuous for now, but annoying

[2021-05-03 17:17] JonoYang opened #2516 "MIT and Apache-2.0 license detection in Rust crate.io package should be considered MIT OR Apache-2.0"
A significant amount of Rust crate.io packages are licensed under MIT or Apache-2.0. We should modify scancode such that if Apache-2.0 and MIT was detected as licenses for a crate.io package, this license should be normalized to the expression `mit OR apache-2.0` instead of `mit AND apache-2.0`

[2021-05-04 06:39] cshwan78 opened #2517 "Package parser looking for current directory, not absolute path"
### Description

packagedcode/pypi.py opens a "requirements.txt" with relative path, not absolute path. [pypi.py L114](https://github.com/nexB/scancode-toolkit/blob/bb044200ae86770f9bb01560c0033037ee18b947/src/packagedcode/pypi.py#L114)

### How To Reproduce

```scancode -clip -json-pp - /absolute_path/codebase```
running above command in other directory.
Of course, I can run scancode in /absolute

[2021-05-04 16:21] pombredanne commented on #2517
@cshwan78 thank you for the report. That's a great catch. I was not sure I was getting exactly what you meant but I was able to reproduce this alright.

[2021-05-05 16:26] cshwan78 commented on #2517
@pombredanne After some debugging, I realized that I was wrong at the first look.
I think the root cause is about parse_dependencies, which calling parse_with_dparse with the return value of os.listdir, which is only a filename without a directory path. [pypi.py L194](https://github.com/nexB/scancode-toolkit/blob/bb044200ae86770f9bb01560c0033037ee18b947/src/packagedcode/pypi.py#L194)

I think some

[2021-05-05 17:33] pombredanne commented on #2517
@cshwan78 re:

Thank you, this looks great: you rock.

It is going to be difficult to make a test for it though as it can involve changing directories?

[2021-05-11 20:02] BigBlueHat commented on #2366
I've used pip with Bash on Windows (in Windows Terminal) with good success. Will that continue to be an option / recommendation?

[2021-05-11 21:54] pombredanne commented on #2366
@BigBlueHat you wrote:

Is this using cygwin? git bash? WSL2? which version of Python?

[2021-05-13 05:18] soimkim opened #2521 "Error "AttributeError: 'str' object has no attribute '__name__'""
### Description
When executing scancode, the following error message occurs.
[code]

### How To Reproduce

[code]

### System configuration

* What OS are you running on? Ubuntu 18.04
* What version of scancode-toolkit was used to generate the scan file?21.3.31
* What installation method was used to install/run scancode?pip

[2021-05-13 15:36] BigBlueHat commented on #2366
git bash with Python 3.7.4. However, now that I'm trying to upgrade to the last version I am running into snags...but I've not yet determined if that's on my side (probably) or something wrong with scancode-toolkit specifically (probably not).

When I started to upgrade I tried the native Windows install (to replace my old pip-based install), but that sent me here...so now I'm back to pip...until

[2021-05-13 18:11] jmbowman commented on #2521
This looks like an incompatibility with click 8.0.0, which was just released 2 days ago.  Downgrading to click 7.1.2 seems to work until the code gets updated accordingly.

[2021-05-14 01:46] ethan-ic commented on #2521
Downgrading to click 7.1.2 and it works.
[code]

[2021-05-14 03:54] ethanics opened #2522 "`TimeoutError` with `-p` parameter"
### Description

When executing scancode with `-p` parameter, the following error message occurs.

with '-p', it failed
[code]

with '-l', it passed
[code]

### How To Reproduce

[code]

### System configuration

* What OS are you running on? Ubuntu 20.04
* What version of scancode-toolkit was used to generate the scan file? 21.3.31
* What installation method was used to install/run scancode? pip

[2021-05-14 12:31] pombredanne commented on #2521
Thanks! I guess no good deed goes unpunished then, as I had removed an upper bound on click version to accommodate for possible conflicts that required  a v7 in https://github.com/nexB/scancode-toolkit/commit/2b986e7bdea0214bd832136d710709df9ef7e65e
Then 7.0.0 failed was a problem and needed skipping .... so I guess we can set an upper bound of `<8.0` for now?

[2021-05-14 12:59] pombredanne commented on #2522
@ethan-ic Thank you ++ for the report. The podspec parser is a recent addition that's using https://github.com/gemfileparser/gemfileparser behind the scenes and is in https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/spec.py

https://raw.githubusercontent.com/CocoaPods/CocoaPods/master/spec/fixtures/pineapple-lib/PineappleLib.podspec likely trips some of the code there.
@rpott

[2021-05-14 16:45] danielthieleog commented on #2521
`pip install "click<8.0` installed `7.1.2`. That worked for me with python 3.9

[2021-05-16 23:37] soimkim commented on #2521
As the comment, I installed with click 7.1.2, so no error occurred.
Thanks for answering.

[2021-05-17 09:43] hanna-modica opened #2523 "False positive for utils-merge:1.0.1"
### Description

ScanCode 3.2.1-rc2 report the lines 21-24 at https://github.com/jaredhanson/utils-merge/blob/v1.0.1/package.json as MIT or GPL-2.0-only which is a false-positive, since it is only MIT.

### How To Reproduce

Scan https://github.com/jaredhanson/utils-merge/tree/v1.0.1

### System configuration

The scan was done on Linux with the OSS Review Toolkit https://github.com/oss-review-too

[2021-05-18 06:56] pombredanne commented on #2523
@hanna-modica Thank you for the report!
That's a great catch as the license data in https://github.com/jaredhanson/utils-merge/blob/v1.0.1/package.json is both non-standard and definitely a bug on scancde's side

[2021-05-18 07:33] pombredanne commented on #2523
For reference this is the JSON output for a --package and --license scan.
Interestingly, the file-level license detection (where the package.json is treated as plain text) is incorrect, but the package manifest license detection (where the package.json is treated as an npm package manifest with a well known structure) is correct.

[code]

[2021-05-18 07:38] pombredanne commented on #2523
@hanna-modica do you want to try to fix this by chance? I can provide you with detailed guidance.

[2021-05-18 14:40] hanna-modica commented on #2523
Hi @pombredanne,
thank you for your fast response and your kind offer. I have never worked on the ScanCode project before, but if you are saying it can be done, I can try to do it tomorrow morning. After that I will be leaving my laptop for a week.

[2021-05-19 08:50] pombredanne commented on #2523
@hanna-modica here would be how I would solve it.

**A. running with the options `scancode --license --license-text --license-text-diagnostics --json-pp - package.json` as above, I can see these interesting details in the JSON:**
[code]

**B. The rule that was matched is "mit_or_gpl-2.0_46.RULE" which can be found in these two files:**
  - https://github.com/nexB/scancode-toolkit/blob/bb044200ae86

[2021-05-21 13:37] pombredanne opened #2524 "Improve pypi package handling"
## Short Description

There are a few issues to address:
1. there is a lot of duplicated code
2. we should prefer modern METADATA files to metadata.json
3. there are some obscure, unused and redundant test files

[2021-05-21 13:48] pombredanne opened #2525 "Timeout in copyright scan"
### Description
This text (found in some binary DLL) takes forever to scan. This is likely a case of pathological regular expression in the copyright tokenizer.
[code]

[2021-05-21 13:53] #2494 closed, assigned to nobody

[2021-05-21 13:54] pombredanne commented on #2495
Gentle ping, before I close this

[2021-05-21 14:15] pombredanne commented on #2522
I am pretty sure this is a pathological regex that's taking exponential time.... though this needs digging.

[2021-05-21 14:19] pombredanne commented on #2517
@cshwan78 I made some fairly extensive refactoring of the PyPI code and this commit https://github.com/nexB/scancode-toolkit/pull/2526/files#diff-166f21bb085d47341daf98771ee29cd76e2f68ddeb34b8eb981a9d1f3b05e8b9R471 has your fix!
Thank you ++ :bow:

[2021-05-22 15:10] rpotter12 commented on #2522
Hi @pombredanne @ethan-ic
Thanks for reporting this. I have checked this from the earlier version of this software (v3.2.1rc2). I got to know that this issue is from our earlier version.

I tried parsing this file from https://github.com/gemfileparser/gemfileparser. I was able to parse this file from gemfileparser. There is something in our code. We need to dig into  https://github.com/nexB/scanco

[2021-05-22 16:26] nishakm opened #2529 "Cannot run scancode CLI"
### Description
@dlorenc and I  tried to run scancode on a go module but get this error:
[code]
Help?

### How To Reproduce

Install scancode-toolkit pip package. Then run `scancode`.

### System configuration

Docker container: https://gist.github.com/dlorenc/905d30bbae11dec25910ea241d21fe63#gistcomment-3753073

[2021-05-24 17:16] hyandell commented on #2516
What about any MIT AND Apache-2.0 projects?

[2021-05-24 17:20] hyandell opened #2532 "Install docs mention non-existent main branch"
### Description

Install documentation say to `git checkout main`, but there is no main branch in github.

https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html#source-code-install

[2021-05-24 21:25] pombredanne commented on #2516
@hyandell good point!

Actually I think @JonoYang meant specific cases of `Apache-2.0/MIT` or `MIT/Apache-2.0` and this represents about 39,374 crates as of today. These are legacy expressions that date from a time when Cargo accepted a list of licenses separated by a slash. The use of `/` is deprecated now and no longer accepted.
This would not for things worded as `MIT AND Apache-2.0` which are

[2021-05-24 21:26] pombredanne commented on #2532
@hyandell Thanks! Thank a bug in the sense that we are moving from develop to main, but this has not been done yet.

[2021-05-25 01:20] sutula opened #2533 "False positive: sun-bsd-no-nuclear"
### Description

License type sun-bsd-no-nuclear is detected instead of a more correct BSD 3-clause license

### How To Reproduce

Source file: https://archive.softwareheritage.org/browse/content/sha1_git:152044fdb0e884d04ea9efb4df809a01484f6461/raw/
Running current master code yields:
          "key": "sun-bsd-no-nuclear",
          "score": 88.54,
          ...
          "start_line": 5,

[2021-05-25 06:36] sebathomas commented on #2529
I think it's a conflict with the new click version. I had the same issue after installing via pip in a new virtualenv, and I was able to run scancode by downgrading click to version 7.1.2.

[2021-05-25 14:17] pombredanne commented on #2529
@sebathomas @nishakm thanks for the report. I am working on a fix!

[2021-05-25 14:43] pombredanne commented on #2521
@soimkim actually this is a bug alright. See #2529  and https://github.com/nexB/commoncode/pull/19

[2021-05-26 06:10] #2477 closed, assigned to nobody

[2021-05-26 07:05] pombredanne commented on #2533
@sutula Thanks!
It is interesting that you used an SWH link. I like that!
Here someone took mostly the text of the  `sun-bsd-no-nuclear` and stripped it from its trailing nuclear clause.
The root cause of the issue is that the `sun-bsd-no-nuclear` should not be matched unless we have a very high coverage as it otherwise would be confused for a plain 3-clause BSD.

The solution is IMHO:
- boosting

[2021-05-26 22:20] pombredanne commented on #2533
The commits above have landed in develop. Feedback mucho appreciated!

[2021-05-27 07:58] m0100434 opened #2535 "Undocumented Error: Error: Invalid value for '--from-json': Value must be an iterable."
### Description

I installed the tool via pip install

ran the following command in my terminal :   scancode -l -p -c --html adore.html ADORE_DECLARATIONS

ADORE_DECLARATIONS is my folder that contains subfolders with python scripts.

Received Error:

C:\Python>scancode -l -p -c --html adore.html ADORE_DECLARATIONS
c:\python\python394\lib\site-packages\cluecode\copyrights.py:3122: FutureWarning: P

[2021-05-27 12:46] pombredanne commented on #2535
@m0100434 Thanks for the report. This is likely related to #2534 , #2521 and #2529

[2021-05-28 03:34] akugarg commented on #2287
Hey! @pombredanne  @fviernau I wanna work on this!
If I am going in right direction ,does it mean that there are several rules for these generic licenses currently and for some of them separate licneses need to be added (i.e. having separate (.LICENSE) file and (.yml) files) wherever possible ? Also if am wrong can you please explain a bit more on this?

[2021-05-28 06:16] ididitmyway opened #2536 "link in summary is wrong error 404"
The link to ("ScanCode.io web app" ) -> ("https://github.com/nexB/scancode.io")
in the md file from ("https://github.com/nexB/scancode-toolkit")
points to ("https://github.com/nexB/scancodeio")

error 404

[2021-05-28 11:46] hanna-modica commented on #2523
Hi @pombredanne,

thank you very much for your very detailed and comprehensive explanations. I was able to follow them and already committed the changes on a local branch, but I cannot push my branch to origin, because I receive a 403. Do I need special rights?

[2021-05-28 11:48] AyanSinhaMahapatra commented on #2523
Thanks! @hanna-modica

Could you fork the repo, clone locally, do the changes, push it to the fork and then create a PR here from your fork?

And repeating what @pombredanne said,

[2021-05-29 17:13] anthonyharrison commented on #2535
Same issue for me using Linux (kali). Can't run any scans or any of the examples.

Revert click to version 7.1.2 and it works

pip install click==7.1.2

[2021-05-31 07:18] pombredanne commented on #2536
Thanks!

[2021-05-31 09:28] hanna-modica commented on #2523
Hi @pombredanne and @AyanSinhaMahapatra,

thank you very much for your guidance. I have opened a PR [here](https://github.com/nexB/scancode-toolkit/pull/2537)

Can you access it or do I have to give you somehow permissions?

[2021-05-31 09:32] sschuberth commented on #2523
No special permissions are required, @hanna-modica 😉

[2021-06-01 10:27] #2523 closed, assigned to nobody

[2021-06-01 22:17] hyandell commented on #2516
I should have said "MIT and Apache-2.0 projects" :)

I spent a weekend doing a big slog of the Rust crate licensing and generally found that it was 50/50 as to whether a '/' meant AND or OR. Generally speaking, the more permissively licensed, the more likely it was OR, but I was also filtering out things like 'MIT/Apache-2.0' as I didn't care if it was an AND or OR for that analysis. Summary: I wa

[2021-06-04 01:22] sritasngh commented on #1359
@pombredanne Out of license, copyright, email, url and package (default) scan results, only [license, copyright](https://github.com/nexB/scancode-toolkit/blob/develop/src/formattedcode/templates/html/template.html#L54) and [package](https://github.com/nexB/scancode-toolkit/blob/develop/src/formattedcode/templates/html/template.html#L136) I can get by this template https://github.com/nexB/scancode-

[2021-06-04 07:02] pombredanne commented on #1359
@itssingh yes, exactly :+1:

[2021-06-04 07:09] sritasngh commented on #1359
All right, I'll open a pr for email and url :)

[2021-06-04 10:32] pombredanne commented on #2287
@akugarg

Yes exactly. And within reason.

A key consideration for going from a plain generic rule to an actual named license would be how frequent this is. The barrier should be low but not too low. For instance a one-off custom license used in a single project reused nowhere may not qualify.

- make sure you ping @DennisClark when you start making PRs to get his review.
- Ideally one commit for

[2021-06-04 18:42] akugarg commented on #2287
https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/generic-cla_9.RULE
Can this have its own license?
Reference can be taken from this https://github.com/BVLC/caffe/blob/master/LICENSE.

[2021-06-05 17:32] pombredanne commented on #2498
The actual link is https://solace.com/wp-content/uploads/2019/03/Solace-Software-EULA.pdf and the version is `Version: APRIL 1, 2020` so I guess a key could be `solace-eula-2020` ?
@DennisClark what do you think?

[2021-06-07 07:15] mapelpapel commented on #2392
Hey @s4-2, I contacted you on Twitter regarding this issue, could you take a look at that? 😄

[2021-06-07 15:28] aalexanderr opened #2541 "Implement Alpine APKBUILD parser in packagedcode"
## Short Description
Add Alpine's APKBUILD (apk package recipe) parser that would live in src/packagedcode/alpine_build.py and return a Package object.

## Possible Labels
copyright scan
email and url scan
license scan

## Select Category
-  [ x ] Enhancement
-  [ x ] Add License/Copyright
-  [ ] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ x ] Expand Support
-  [ ] Other

## **Describe

[2021-06-08 08:24] pombredanne opened #2543 "Improve Alpine package declared license detection"
Technically Alpine packages declared license should be an SPDX license expression.
Yet in practice, things are messy and not always a proper license expression because of non-SPDX symbols or incorrect syntax.
The goal of this ticket is to improve the basic detection of the declared license in these cases including:
- create and use a mapping to actual scancode license expression for some cases tha

[2021-06-08 09:05] pombredanne opened #2544 "Add SECURITY file for security issue reporting"
We should have this here and everywhere

[2021-06-08 09:05] pombredanne commented on #2543
@aalexanderr ^

[2021-06-08 16:11] quepop commented on #2541
As @aalexanderr probably mentioned I'm working on the feature right now. Ive already implemented fetching and parsing but I'm not sure how to split my code so it would fit properly. I think it should look something like this:

1. When `scancode.io` analyzes a new alpine docker image it requests a package object list from the `packagedcode/alpine`
2. The `packagedcode/alpine` extracts installed pac

[2021-06-08 19:03] aalexanderr commented on #2541
@quepop
I understand it as follows:
the `APKBUILD`  parser should currently live in `scancode-toolkit.packagedcode/alpine_build.py` - as it is the most logical place to have it right now without creating a new pkg.
IMHO handling the aports repo (as in downloading, checking it out on specific commits) should be handled in scancode.io (using `fetchcode`) as from what I've understand scancode-toolkit

[2021-06-08 19:45] AyanSinhaMahapatra commented on #1675
@pombredanne One question regarding the addition of the `is_unknown` flag,

There are the cases of having just these as license_expressions for which things are simple:

[code]

There are also these license expressions with more than one license key, with one of them being of the `unknown` type:
[code]

An example [rule](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/r

[2021-06-09 00:17] quepop commented on #2541
I think we should use a cache dir to be able to reuse scan results (their id would be a combination of a package name and its version) so executing a pipeline on a new alpine docker image (project) could save some time (if ofc said alpine docker image has a package name - version combination that existed in previous projects)

[2021-06-09 11:17] akugarg commented on #1675
Also for the cases like
https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/mit_and_other-permissive_and_other-copyleft_1.yml
AND
https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/gpl-1.0-plus_and_lgpl-2.0-plus_and_bsd-new_and_public-domain.yml
for them 'is_generic' will be set to true?

[2021-06-09 15:35] pombredanne commented on #2061
This has been completed and is available in the latest release ... follow up tickets are tracked separately

[2021-06-09 15:35] #2061 closed

[2021-06-10 08:07] pombredanne commented on #2541
@quepop Thank you++
I think in terms of code organization, things that are specific to Alpine should be in an alpine module. Things that would be generic (such as downloading each detected package sources and scanning for licenses) may be best in scancode.io for now?

This needs a bit thinking though do not let that slow you down! Here is a quick idea as a base:

- Have a new alpine-specific modul

[2021-06-10 08:41] Ben-Thelen opened #2547 "Running out of memory post-scan when scanning a large projects (~160.000 files)"
### Description

While scanning a rather large project of about 160.000 files (https://github.com/Azure/azure-sdk-for-java) we are experiencing a massive usage of memory after the scan finished and before writing the result.json, leading to out of memory issues on our system.

### How To Reproduce

1.) Download the beforementioned sourcecode archive from github
2.) Run extractcode to extract the a

[2021-06-10 14:56] mtenberge commented on #726
+1 on this one...

Use case: one of our projects (a Go + NPM combination) includes the npm package `spdx-license-list`, which includes a subdirectory with numerous existing license texts. Furthermore, the main directory of this package holds some json files containing the same license texts. Of course, these files give false positives. But I can't ignore the whole package subdirectory, because the

[2021-06-10 22:12] pombredanne commented on #726
@mtenberge thanks for the details! I reckon this has been surprisingly hard to get these ignores right.
I wish there were a good lib for this.
Your example makes me think we should also have a way to store these in a config file!

[2021-06-11 06:30] mtenberge commented on #726
Thanks for your response. The possibility of an ignore file, with comparable functionality to e.g. `.gitignore`, would be nice. But as you can see, providing these options from a bash script is very workable too.

As an alternative for a full-fledged implementation of includes, excludes and config files and the corresponding include/exclude logic, maybe it would be easier to accept a list of files

[2021-06-11 06:31] mtenberge commented on #726
see also #1392 and #2454

[2021-06-11 11:51] pombredanne commented on #1422
@lekhoa88 This was fixed (a long while agao) by @JonoYang  in https://github.com/nexB/commoncode/commit/641150b1a93eae7d2a4c9245b945b22f6f73e44d
Closing now. Thanks again.

[2021-06-11 11:59] pombredanne commented on #1422
Actually I also pushed some extra fixes in https://github.com/nexB/commoncode/pull/24

[2021-06-11 12:44] Ben-Thelen commented on #1566
Now that the port to python3 happened, what are the chances that this issue is getting a look at?

I had a look into the current logic and it seems that the parse-tree breaks when using the non-ascii String version of a line (achieved by e.g. setting the `to_ascii=True` in the `prepare_text_line` method of `src/cluecode/copyrights.py` to `False`).

E.g. the tree for the line

`Copyright (c) 2004-2

[2021-06-11 13:03] akugarg opened #2549 "Add new is_unknown flag in data model definition"
Add a new flag for licenses that are tagged as "unknown" i.e. not matched with a known named license.
This will help in segregating the special license keys with the known ones.
## Short Description

## Possible Labels

- new feature

## Select Category

-  [x] Enhancement
-  [ ] Add License/Copyright
-  [x] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ] Expand Support
-  [ ] Other

##

[2021-06-11 13:28] AyanSinhaMahapatra commented on #2549
See #1675 for more details.

[2021-06-11 13:34] AyanSinhaMahapatra commented on #1675
@akugarg btw there's also the `unknown-spdx` license-expression, in which case also we have to set the `is_unknown` flag to True.

Here a LicenseSymbolLike with `unknown-spdx` object is created:
https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/match_spdx_lid.py#L75

Here is we do not find a match to any known spdx key, we return as a `license_expression` -> `unknown_spdx`,
ht

[2021-06-11 13:49] hanna-modica opened #2550 "False positives in Eclipse Hawkbit"
### Description

ScanCode reports BSD 3 Clause in multiple [Eclipse Hawkbit](https://github.com/eclipse/hawkbit) classes, although it states Eclipse Public License v1.0.

Examples:

- hawkbit-ui/src/main/java/org/eclipse/hawkbit/ui/common/event/FilterType.java line 4-15
- hawkbit-ui/src/main/java/org/eclipse/hawkbit/ui/common/data/aware/DsIdAware.java line 4-14
- hawkbit-ui/src/main/java/org/eclip

[2021-06-14 12:38] MarcelBochtler opened #2551 "False positives in CocoaLumberjack"
### Description

ScanCode reports `GPL-1.0-or-later` in multiple [CocoaLumberjack](https://github.com/CocoaLumberjack/CocoaLumberjack) files, although it declares the [BSD Source Code Attribution](https://spdx.org/licenses/BSD-Source-Code.html) License.

Example files:

- Pods/CocoaLumberjack/Sources/CocoaLumberjack/DDOSLogger.m Line 6-14
- Pods/CocoaLumberjack/Sources/CocoaLumberjack/include/Coco

[2021-06-14 13:57] hanna-modica opened #2552 "CPL and EPL 2.0 instead of EPL 1.0 detected in Eclipse Hawkbit pom.xml"
### Description

ScanCode reports wrong license in [Eclipse Hawkbit](https://github.com/eclipse/hawkbit) pom.xml file, although it states Eclipse Public License v1.0.

Examples:

- Detection of CPL in /pom.xml (line 28 - 33)
- Detection of EPL 2.0 in /pom.xml file instead of EPL 1.0 (Line 29 - 32)

### How To Reproduce

Scan https://github.com/eclipse/hawkbit with ScanCode

### System configuratio

[2021-06-15 07:42] chinyeungli opened #2553 "AttributeError: 'LicenseIndex' object has no attribute 'index error when doing a license scan"
### Description

When I run a license scan, it's giving me the `AttributeError: 'LicenseIndex' object has no attribute 'index` error.
Below is the output when I run `scancode -clip --json-pp - samples` (Note that I've already fetched and pull the latest from the `develop` branch)

[code]

[2021-06-15 11:31] balakrishna-mukundaraj opened #2554 "Docker fails to run on scancode-toolkit 21.6.7"
ERROR: Cannot install scancode-toolkit==21.6.7 because these package versions have conflicting dependencies.
ERROR: ResolutionImpossible: for help visit https://pip.pypa.io/en/latest/user_guide/#fixing-conflicting-dependencies

The conflict is caused by:
scancode-toolkit 21.6.7 depends on pygments
The user requested (constraint) pygments

To fix this you could try to:

    loosen the range of pack

[2021-06-15 12:23] mapelpapel commented on #2392
Hey @pombredanne,
Sadhana told me that she is not currently working on this task, so I might take over.
Since I haven't developed anything for Scancode yet, it would be helpful to have an entry point. Could you give me some tips on where I need to start adding things and where I can look at existing code on this topic? I haven't found anything helpful in the documentation.

[2021-06-15 13:10] AyanSinhaMahapatra opened #2555 "bsd-simplified license text without disclaimer"
We have a bsd text in several debian copyright files tagged `BSD-2-clause` which is just first two clauses of `BSD-3-clause` , so basically with a mention of disclaimer without the disclaimer itself. This isn't getting detected by scancode exactly, so a new rule (or maybe license?) needs to be added but I'm not sure of the license-expression, since it's different from `bsd-new` or `bsd-simplified`

[2021-06-15 16:42] #2208 closed

[2021-06-15 21:42] JonoYang opened #2559 "We should be able to get metadata from MSI files"
The win_pe Package parser should return more information from MSI files. Running the `file` command on an MSI returns the following string:
[code]

When I scan 8a70.msi with scancode, I do not get any information back other than it is an MSI. We should be able to get the MSI metadata, especially if it shows package name and version.

[2021-06-16 08:10] ididitmyway opened #2560 "Issue building a docker container from Version 21.6.7"
### Description

Building 21.6.7 caused the following error. ( building 21.3.31 in the same way worked fine )

Processing ./thirdparty/pluggy-0.13.1.tar.gz
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
  WARNING: Requested pluggy<1.0,>=0.12.0 from file:///scancode-toolkit/thirdparty/pluggy-0.13.1.tar.gz (from scancode-toolkit==21.6.7), but installi

[2021-06-16 09:13] pombredanne opened #2561 "Improve CI tests run time"
### Description

Tests (and CI in particular) take too long to run IMHO.
Some avenues to consider beyond some work on added with #1519
1. Selectively run only tests when needed based on an analysis of code changes (complex but likely worth it)
2. Break the main repo in more repos  such that we only run tests on each sub-repo when these repos are changed. (essentially leading to 1. with the caveat

[2021-06-16 16:41] yellowsta726 commented on #2560
I have successfully built on Debian Buster, but have the same issue on MacOS BigSur.

[2021-06-17 07:17] ididitmyway opened #2562 "Do not understand the --from-json feature"
### Description

### Link to Documentation Page

### Select Category

-  [ ] Inconsistency
-  [ ] New Section Request
-  [ ] General Improvement
-  [ ] Typo/Mistakes
-  [x] Other

[2021-06-17 11:04] pombredanne commented on #2555
@AyanSinhaMahapatra great find!
1. you should report a bug @ Debian and link it here
2. we do not need a new license IMHO as this is a Debian packager mistake
3. I would create two rules with the same body of text and one prefixed with `License: BSD-2-clause` and make them 99% relevance, and 100% minimum coverage with a note explaining where it is found

[2021-06-17 12:07] pombredanne commented on #2535
This is now fixed in the latest release v21.6.7 and up.
Thank you all! Feedback welcomed.

[2021-06-17 12:07] #2535 closed, assigned to nobody

[2021-06-17 12:08] pombredanne commented on #2521
This is fixed in v21.6.7 and up. Thanks!

[2021-06-17 12:08] #2521 closed, assigned to nobody

[2021-06-17 12:08] pombredanne commented on #2529
This has been fixed in v21.6.7.
Thank for the report.

[2021-06-17 12:08] #2529 closed, assigned to nobody

[2021-06-17 12:10] pombredanne commented on #2536
@ididitmyway Thank you!
This has been fixed by @sschuberth  in https://github.com/nexB/scancode-toolkit/commit/9daa269f690e7c1aa2e81a12aa74e6704d63c5ff and released

[2021-06-17 12:10] #2536 closed, assigned to nobody

[2021-06-17 12:13] pombredanne commented on #2550
Thanks!
The culprit is a rule `edl-1.0_or_epl-1.0.RULE` and `edl-1.0_or_epl-1.0.yml` that should be detected only if there is more of it detected using the "minimum_coverage" attribute likely to about 90%

[code]

[2021-06-17 12:16] pombredanne commented on #2552
Thanks. Another rules that could benefit from a more restrictive minimum coverage of ~ 90 (e.g. 90% of the words are required to match)

[code]

Note though that when using the `--package` option, I get a correct detection (because it is aware of the POM data structure):
[code]

[2021-06-17 13:58] pombredanne commented on #2562
The purpose is that instead of using real code directories or files as an input you can take existing JSON scans and process them further.
For instance:
- `--from-json --to-csv foos.csv  foos.json`
Or combine two in one
- `--from-json --to-json combined.json  foo.json bar.json`
Or apply some other options (as long as there is no access to files needed, eg. scan options that access files will not b

[2021-06-17 13:59] pombredanne commented on #2562
The documentation may need some love though!

[2021-06-17 14:57] #2344 closed, assigned to nobody

[2021-06-17 19:23] JonoYang opened #2565 "Read Windows registry for installed packages"
In the case of scanning Windows containers, it would be nice to have scancode be able to detect installed programs from the Windows registry.

Since Windows does not use a package manager to install programs, so we cannot examine it for installed packages, like we would for a Linux distro. What we can do is get the list of installed programs on a Windows system by looking in the registry at the ke

[2021-06-17 22:55] mjherzog opened #2566 "Report of license rules"
This a new feature request for a report of License Rules from ./scancode-toolkit/src/licensedcode/data/rules/ . When you have multiple rules for a license, it is difficult to compare them in the GH filesystem without a log copy/paste to some other document.

The request is for some way to extract the license rules data for a license key into a document or spreadsheet. This could be via a command b

[2021-06-18 06:32] ididitmyway opened #2567 "ad my Youtube How To if you want"
### Description

### Select Category

-  [ ] Inconsistency
-  [ ] New Section Request
-  [ ] General Improvement
-  [ ] Typo/Mistakes
-  [x] Other

[2021-06-18 07:14] abhi27-web commented on #2506
I want to work on this!

[2021-06-18 14:19] pombredanne commented on #2567
@ididitmyway This is absolutely great! You are awesome! :bow:

[2021-06-18 16:15] AyanSinhaMahapatra opened #2568 "Debian copyright files license declaration inconsistency"
Often debian copyright files are not updated and has inconsistencies where the license declared in the copyright file is different from the license present in the files itself.

This creates wrong licensing information when reporting the license based on parsing the debian copyright file only, and scanning the files would be the only way where correct license is detected.

An example (also #2555 )

[2021-06-19 07:56] AyanSinhaMahapatra commented on #2555
Bug reported at debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=990067

[2021-06-19 10:17] soimkim commented on #2502
I also have a similar issue.
I want to print the items marked with SPDX License, but the ScanCode json result is output as follows.

- Information written to the file:
`# SPDX-License-Identifier: LicenseRef-Sample-Proprietary`

- ScanCode json result :
`"licenses": [
        {
          "key": "unknown-spdx",
          "score": 83.33,
          "name": "Unknown SPDX license detected but not recogn

[2021-06-19 15:53] pombredanne commented on #2502
This is not what you ask but at least if you use the option `--license-text` you will also see the original expression:
[code]

[2021-06-19 16:42] pombredanne opened #2569 "Add support for JMOD and JIMAGE as packages"
These formats were introduced with JDK 9 and are package-like

JMOD is Zip-like essentially a JAR++. When from Java proper, they typically have a root "legal" directory with licenses

See also
- https://github.com/nexB/extractcode/issues/24
- https://docs.oracle.com/javase/9/tools/jmod.htm#JSWOR-GUID-0A0BDFF6-BE34-461B-86EF-AAC9A555E2AE
- https://stackoverflow.com/questions/44732915/why-did-java-9

[2021-06-21 02:31] soimkim commented on #2502
Dear @pombredanne ,
Thanks for the quick reply.
In my case, I just load the value of matched_text.

[2021-06-21 07:59] akugarg opened #2574 "Unknown Licenses should be reported separately"
We should have a separate section for reporting unknown licenses and not mixed with all license detections for clarity.

## Short Description

##

- new feature

## Select Category

-  [x] Enhancement
-  [ ] Add License/Copyright
-  [x] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ] Expand Support
-  [ ] Other

## **Describe the Update**

## **How This Feature will help you/your organiz

[2021-06-21 18:57] zivian opened #2575 "is Documentation pointing to latest (development) version OR stable version"
### Description
is Documentation pointing to latest (development) version OR stable version ?

### Link to Documentation Page
https://scancode-toolkit.readthedocs.io/en/latest/

as a first time or regular user, i will be interested to know or learn or fix few issues by looking into docs.

### Select Category

-  [ ] Inconsistency
-  [ ] New Section Request
-  [ ] General Improvement
-  [ ] Typo/Mi

[2021-06-22 07:58] akugarg commented on #2574
Currently we have something like this :
Licenses:[
{}
{}
]

We could have something like any of the two options below:
Having complete different sections for two:
Known Licenses:[
{} ... {}
]
Unknown Licenses:[
{}...{}
]
                                                             OR
having subsections within licenses array itself
Licenses:[
Known:[ {} {} ]

Unknown:[ {} {} ]
]

[2021-06-22 17:44] AyanSinhaMahapatra commented on #2574
Yes, we could keep the `licenses` as it is, and just name the new list `unknown_licenses` also.
@pombredanne does this sound okay?

[2021-06-22 18:59] tapdiego-amzn commented on #2560
Reporting the same issue on macOS Catalina.

[2021-06-22 20:16] JonoYang commented on #2565
Looking at the Docker image for `openjdk:18-jdk-nanoserver`, I noticed that the openjdk files do not add an entry in the windows uninstaller. I see that a path to the jdk bin directory is added to the environment variables. It would be good to check environment variables for the existence of certain packages.

[2021-06-24 13:59] ididitmyway commented on #2567
Thanks :-D

[2021-06-24 20:02] quepop commented on #2541
@pombredanne How should I name these new files (pipe, pipeline)? My idea is `/pipes/alpine_helper.py` and `/pipelines/alpine_complement.py`

[2021-06-25 07:07] dd-jy opened #2576 "False positive GPL-2.0"
### Description
This file(https://github.com/rpm-software-management/libdnf/blob/0.11.1/libdnf/dnf-advisory.c) should be detected with LGPL-2.1 or later.
But it was detected as GPL 2.0 or later.
![image](https://user-images.githubusercontent.com/50347670/123384466-6850bb80-d5cf-11eb-9c59-92d2bd267ca5.png)

### How To Reproduce

Scan https://github.com/rpm-software-management/libdnf (tag: 0.11.1)

[2021-06-25 13:13] LeChasseur opened #2577 "False positive ELv2"
### Description

Scancode finds ELv2 in a README that has a MIT reference only. Example:
https://github.com/niklasvh/base64-arraybuffer/archive/refs/tags/v0.1.4.tar.gz

### How To Reproduce

Scanning the linked archive or just
https://github.com/niklasvh/base64-arraybuffer/blob/master/README.md

### System configuration

. Linux Mint 20 Cinnamon, Kernel 5.4.0-77-generic
. Scancode v3.2.3

[2021-06-28 20:03] AyanSinhaMahapatra commented on #1364
@akugarg Here's an example npm package, see https://github.com/mongodb-js/vscode/blob/master/package.json#L34.

Here `"license": "SEE LICENSE IN LICENSE.txt",` references this file https://github.com/mongodb-js/vscode/blob/master/LICENSE.txt. You can find more [here](https://github.com/search?l=JSON&o=desc&q=%22SEE+LICENSE+IN+LICENSE.txt%22&s=indexed&type=Code)

We have to create a `post-scan` plu

[2021-06-29 15:22] tdruez opened #2579 "pdfminer.psparser.PSEOF: Unexpected EOF"
### Description

`pdfminer.psparser.PSEOF: Unexpected EOF`

[code]
### How To Reproduce

Using the following file: https://gitlab.com/gitlab-org/gitlab/-/blob/master/workhorse/testdata/file-%C3%A4.pdf
[code]

### System configuration

Python 3.9 ScanCode-toolkit 21.6.7

[2021-06-30 05:50] balakrishna-mukundaraj opened #2580 "License detection incorrect in case of found EPL license"
The part of the file with the license details are as below:

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0
    *
    SPDX-License-Identifier: EPL-2.0

Actual license found: EPL
License detected by scancode-toolkit:
epl-2.0 OR apache-2.0
epl-2.0 OR apache-2.0 OR

[2021-06-30 20:32] pombredanne commented on #2576
Thank you for the report.

[2021-07-06 07:15] WisdomZheng opened #2581 "When running scancode for a small size file, JSON result file is very large"
**Description**

In [AOSP(Android Open Source Project)](https://source.android.com/source/downloading) code, there is a file:
external/grpc-grpc/src/objective-c/BoringSSL-GRPC.podspec (242K),
when running scancode cmd:
`scancode -clpieu --license-text --license-text-diagnostics --summary --summary-with-details --json-pp result.json external/grpc-grpc/src/objective-c/BoringSSL-GRPC.podspec`,
size o

[2021-07-06 23:28] johnmhoran opened #2583 "Progress bar does not display correctrly in the CLI: SCTK-21.6.7 count does not increment"
Running a -clip scan on Ubuntu 18.04 on a remote VM and on Ubuntu 18.04 on the latest WSL2, using scancode-toolkit-21.6.7, I've noticed that the file count no longer increments/increases but rather remains at 0 for the duration, e.g., during the scan:

[code]

and when the scan has finished:

[code]

[2021-07-07 08:22] pombredanne commented on #2414
At this stage we have dropped using NLTK in favor of a lightweight fork https://github.com/nexB/pygmars/
So I am closing this is as this no longer applies.

[2021-07-07 08:22] #2414 closed, assigned to nobody

[2021-07-07 08:23] pombredanne commented on #2446
The latest https://github.com/nexB/pygmars/ now supports Token with line numbers and offsets. This is being integrated in copyright detection

[2021-07-07 08:23] pombredanne commented on #2512
@tgodau re:

Do you think we should do this?

[2021-07-07 08:24] pombredanne commented on #2525
This is now released in 21.6.7

[2021-07-07 08:24] #2525 closed, assigned to nobody

[2021-07-07 08:46] pombredanne commented on #2402
Note that the adoption of https://github.com/nexB/pygmars/ as a replacement for NLTK should allow the easier reuse and integration of other libraries in the lexing process including NER and giberish detection. In pygmars, a tokenization rule can now be an arbitrary callable that behaves like re.match so it may enable using other tools as part of token recognition aka. lexing

[2021-07-07 09:10] pombredanne commented on #1042
We are getting this:
[code]
Since the holder is detected correctly and the `u'` thing is a Python legacy thing I am closing this as wontfix as this is too arcane and in the end the holders matter most.

[2021-07-07 09:10] #1042 closed

[2021-07-07 09:12] pombredanne commented on #1542
Note that at this stage we do collect `All rights reserved` suffixes AND we do not return them by default. This is an optional argument in the copyright detection function. This is not surfaced in the UI CLI options though.

[2021-07-07 09:21] tgodau commented on #2512
Hmmm...

If someone leaves his name or e-mail-address in an open-source package, I would say he/she/it basically claims that he/she/it contributed something to that package.

If more specific, he/she/it claims it as a copyright notice (e.g. "Copyright (c) YYYY, rights owner, author"). If less specific he/she/it puts the name somewhere in the package (e.g. in "AUTHORS*").

In case of legal issues,

[2021-07-07 09:33] pombredanne commented on #1566
With the latest switch from NLTK to Pygmars https://github.com/nexB/pygmars/ we now have more opportunities to fix lexing and support Unicode all the way.
One of the reason why `Haring` is lexed as `NNP` and `Häring` is lexed as `NN` is due to several possible factors:

1. the text may have been converted/transliterated to ASCII in pre-processing and this drops the umlaut
  - For instance, if we c

[2021-07-07 10:52] pombredanne commented on #1565
I am adding a few heuristics in candidate detection such that an empty line following a line ending with a year or AND or BY is not treated as a break in the stream of candidates. This will handle your cases at least and a few more

[2021-07-07 10:58] pombredanne commented on #216
We no detect this:
[code]
so this is fixed!
Closing now.

[2021-07-07 10:58] #216 closed

[2021-07-07 15:21] mjherzog commented on #2512
There are no rules about the contents of a AUTHORS* file as far as I know. For SCTK we need to report the data as found so Copyright if there is some form of a copyright statement and otherwise just authors. In some ecosystems such as npm the pattern seems to be that you usually find one or more Collaborators listed on the main page, but rarely find a copyright notice in the code. So you or your o

[2021-07-07 17:05] pombredanne opened #2584 "Track if a package is system-installed with root-relative installed files vs. plain package"
Track if a package is system-installed with root-relative installed files vs. plain package.
For instance a Debian installed package file paths are rooted in a rootfs. But when you extract a .deb the files are rooted in the package archive. We should be able to accommodate for these cases

[2021-07-08 13:18] AyanSinhaMahapatra commented on #1675
@akugarg

Example for unknown matching

[code]

[2021-07-08 20:35] mjherzog commented on #2449
This was a feature in the past in order to visually distinguish between files without extensions and directories, but it is time to remove it because:
- The trailing "/" does not exist in any filesystem
- We have the Type field: F or D - to distinguish between files and directories
- There should not be any downstream impact because the CSV output is standalone - there are no SCTK functions to imp

[2021-07-09 12:14] tardyp opened #2585 "gpl1+ gpl2+ false detection"
### Description

Some of the gpl1 rules matches very few text and have
probability to match real code.

for example:

```src/licensedcode/data/rules/gpl-1.0-plus_50.RULE```

only contains 'gpl1+'

On some of my scanned code, I have some variable named i_gpl1, which is incremented in a for loop, so several occurence of

```i_gpl1++```

scancode matches this as gpl-1.0-plus with a score of 100.

I a

[2021-07-10 15:04] pombredanne commented on #1669
This copyright is https://en.wikipedia.org/wiki/ICC_profile and does not apply really to the image proper. The way to handle could be:

1. have an optional way to ignore copyrights detected in images
2. specifically ignore `icc:copyright` when in an image
3. have a generic way to ignore certain copyright in some context based on an option and configuration

[2021-07-10 15:53] pombredanne opened #2586 "Collect package info from meson build script"
See https://github.com/facebook/zstd/blob/b3e372c171cff55128352e539dd3a3657f202606/build/meson/meson.build#L11 for example and https://mesonbuild.com/

There are:
- metadata https://mesonbuild.com/Reference-manual.html#project with name, version, licenses https://gitlab.gnome.org/GNOME/gnome-boxes/-/blob/6329621438912ea63288866a2003436246216cd9/meson.build#L1
- deps: https://mesonbuild.com/Depende

[2021-07-10 15:59] pombredanne commented on #2586
meson itself is written in Python https://github.com/mesonbuild/meson
It is also some mini package manager of sorts https://mesonbuild.com/Wrapdb-projects.html
It may have its own parser https://github.com/mesonbuild/meson/tree/master/mesonbuild/ast

[2021-07-10 18:49] pombredanne commented on #2402
Another candidate for gibberish that works quite well is https://github.com/domanchi/gibberish-detector

[2021-07-10 19:13] pombredanne opened #2587 "Do not report URLs starting with http://schemas.openxmlformats.org as URLs"
### Description
http://schemas.openxmlformats.org URLs are in all OpenXML docs and therefore rather noisy.

[2021-07-11 10:41] pombredanne opened #2588 "Support Winget package"
https://en.wikipedia.org/wiki/Windows_Package_Manager
https://github.com/microsoft/winget-cli

See https://github.com/microsoft/winget-create/blob/f7b91a77ea4851cdb69ac3a97d3123bb61718307/src/WingetCreatePackage/Package.appxmanifest for example

[2021-07-11 10:49] pombredanne opened #2589 "Update nuget support for new metadata structure"
The structure of nuget data has evolved in particular for licenses as seen in https://github.com/microsoft/winget-cli/blob/006601be7b56f7fad4b4f83e8317b8bd9358e0f6/WinGetUtil.nuspec
We should update

[2021-07-11 10:53] pombredanne commented on #2588
See also https://github.com/microsoft/winget-pkgs

[2021-07-11 15:05] pombredanne commented on #437
@heckj I am closing this now as https://github.com/nexB/scancode.io/ (through scancode-toolkit and container-inspector and debian-inspector and a few other libraries)  provides a comprehensive and extensive support to collect installed system installed packages for RPM distros (RHEL/Fedora/CentOS, Suse. Photon in progress), Debian distros (Debian and Ubuntu, distroless in progress) and Alpine. Thi

[2021-07-11 15:05] #437 closed

[2021-07-11 15:09] pombredanne commented on #472
This has been implemented with 3526ef1cc35a2f8314b47dfab43b6fb7cfa3fdd9
See #2235 too.

[2021-07-11 15:09] #472 closed

[2021-07-12 09:50] AvishrantsSh opened #2596 "Document ScanCode JSON ouput format"
The format in which scancode.io accepts the input from pipelines is not very clear. Right now, scancode.io is built to support output generated by scancode-toolkit. Also, it seems that scancode.io uses just a handful of those results, making it even harder to figure out. Besides this, other tools and pipelines may or may not be that descriptive in their output and some sort of data marshalling may

[2021-07-12 17:48] IanMoroney opened #2591 "Detecting npm dependencies licenses, fetching remote data from the registry"
### Description

Given the below dependencies and devdependencies, I'm expecting scancode to tell me the license types of these dependencies, but it's not reporting them.

[code]

In the example above, these are the actual licenses for the dependencies:

    "@azure/cosmos": MIT,
    "dotenv": BSD-2-Clause,
    "fastify": MIT,
    "fastify-swagger": MIT,
    "nodemon": MIT,
    "uuid": MIT

the pa

[2021-07-12 21:07] pombredanne commented on #2591
@IanMoroney We should document what is performed by ScanCode... it does not fetch nor resolve your dependencies. It scans what you point it to.
To get all your deps and scan them, run something like a `npm install` first in your package directory to fetch things first.

That said, it could be mightily useful to fetch and resolve packages alright too!
Would you expect ScanCode to actually fetch all

[2021-07-13 07:37] IanMoroney commented on #2591
The only thing i'm actually interested in is understanding what licenses our dependencies have, for compliance purposes.
It seems to already have the fields for it, it's just not pulling them (assuming the code doesn't yet do this:
[code]

Example would be, our own code might have an MIT license, but our first party dependencies might have both MIT and GPL, so it would be really good to know that.

[2021-07-13 08:02] AvishrantsSh commented on #2596
A general outline of the structure can be
[code]

[2021-07-13 15:28] mjherzog commented on #2591
If the license data is not present in the target codebase for the Scan, then this is not a job for ScanCode Toolkit (SCTK).

 We have a newer project called ScanCode.io where you run a Pipeline that can include any steps that you want to run pre- or post-Scan - see https://scancodeio.readthedocs.io/en/latest/.  We have some sandbox tools separate from SCTK to fetch and scan package dependencies th

[2021-07-13 16:31] AvishrantsSh opened #2593 "Babelstone IDS not detected by scancode toolkit"
### Description

Scancode toolkit is not able to produce a license match for `BabelstoneIDS`. This license file is used as a reference in google licenseclassifier v2.
Link to file: https://github.com/google/licenseclassifier/blob/main/v2/licenses/BabelstoneIDS.txt

### How To Reproduce

This exact commands were
[code]

This is the output for BabelstoneIDS.txt
[code]

### System configuration

* Op

[2021-07-13 17:34] JonoYang opened #2594 "buck/bazel parser is returning packages for non code build rules"
Given the example bazel file, scancode should only return a package for the `cc_library` and `cc_binary` rule, but it returns packages for the `filegroup` rule as well. The ` filegroup` rule should not be used to create a new package from.

[code]