[2020-06-03 12:50] #1983 closed

[2020-06-03 13:48] pombredanne commented on #2059
Good catch! that's a bug alright. Thank you

[2020-06-03 13:50] #1897 closed

[2020-06-03 18:15] SrikanthShyamanur commented on #2059
Seams same issue for "--ignore", please check

[2020-06-03 18:57] SrikanthShyamanur commented on #2059
Is there a version in which this feature is working ?

[2020-06-03 20:46] pombredanne commented on #2059
`--ignore` seem to work fine in develop:
[code]

[2020-06-03 20:47] pombredanne commented on #2059
FWIW, here are the tests on ignore
https://github.com/nexB/scancode-toolkit/blob/develop/tests/scancode/test_plugin_ignore.py

[2020-06-03 20:50] pombredanne commented on #2059
And there are no tests for the --include :|

[2020-06-03 20:51] pombredanne commented on #2059
And it seems like the underlying function has no tests for includes either: https://github.com/nexB/scancode-toolkit/blob/develop/tests/commoncode/test_ignore.py

[2020-06-04 12:52] pombredanne opened #2061 "Collect and parse as-installed Alpine Linux packages"
As part of #2058 we would need to collect as-installed Alpine packages (and that is in addition to support  .apk files in #1803 )
We already have a base for that since @chinyeungli shared this with me:
[code]
with this documentation by @johnmhoran :
[code]

Other useful sources include:
- the specs
  - https://wiki.alpinelinux.org/wiki/Apk_spec
  - https://wiki.alpinelinux.org/wiki/Alpine_package_

[2020-06-09 01:40] chinyeungli opened #2063 "Incorrect lgpl-3.0 detection"
[code]
For the above licese notice, lgpl-3.0-plus is detected with a high score
[code]
However, if I extract and only scan the text string from the start/end line
[code]
only the `lgpl-2.1` is detected and no `lgpl-3.0` is detected.

[2020-06-09 01:49] mjherzog opened #2064 "Option to provide list of components to consolidate"
## Short Description
One of the major challenges for consolidated components is to identify components for consolidation.  A complementary approach would be to enhance the consolidation plugin to accept an input list of codebase directories (and component names?) that are the desired consolidation points.

## **How This Feature will help you/your organization**
During codebase analysis (beyond pac

[2020-06-10 08:52] chinyeungli opened #2065 "RFC: Primary License. Create and maintain a primary declared_license_expression field."
Note that package.declared_license can be any data structure. It has been confusing to several because "declared license" is used differently by other orgs, such as SPDX.
Rename to: **extracted_license_statement**
The original text and data structure in a software package manifest that indicates the applicable license.  This value is not necessarily a key to any license list, and it is not validat

[2020-06-13 14:29] pombredanne opened #2066 "Incorrect BSD license detection in Junit"
Following a discussion on https://clearlydefined.io/definitions/maven/mavencentral/junit/junit/4.11

In this a  BSD license is also correctly detected in this build script documentation `junit4-r4.11/build/Markdown.pl`

In `junit4-r4.11/build/maven/junit-dep-pom-template.xml` scancode detects  a CPL correctly but has a detection bug and incorrectly reports a BSD too.

[code]

@ariel11 @capfei FYI

[2020-06-16 10:28] #1954 closed

[2020-06-16 13:10] #2026 closed

[2020-06-16 13:11] #2030 closed

[2020-06-16 13:25] pombredanne opened #2068 "Dev utility: Create new repo to expose pre-built wheels, tarballs and ABOUT files as releases in a PyPI-like repo"
Actually we already have that:

https://github.com/nexB/thirdparty-packages/

[2020-06-16 13:25] pombredanne opened #2069 "Dev utility: Create script to generate requirements with hashes"
Start with support for Python 3.6 on the 4 OS variants.: win32, win64, linux 64, mac
Structure of freeze_and_update_reqs.py

- Input -a directory (such as thirdparty) and credentials to GH API and a github repo/release to use

- Function

1.  It will create or update a requirement.txt with hashes from the dir

2. It will upload all the files in the dir to the Github release

[2020-06-16 13:25] pombredanne opened #2070 "Dev utility: Improve configure script to work of pinned requirements"
Using the "find link" at the new Github repo.
Something such as this:
[code]

[2020-06-16 13:25] pombredanne opened #2071 "Dev utility: Create build loop in repo to build and upload wheels and sdist for all operating systems and Python versions in our "personal" PyPI"
Note that for the GitHub release upload part there are few nice tools and libraries to consider:
- @paulthomson https://github.com/google/github-release-retry
- @jwilges https://github.com/jwilges/monocat
- @YakDriver https://github.com/plus3it/satsuki

[2020-06-16 13:25] pombredanne opened #2072 "Dev utility: Create release scripts to build archives"
One archive for each OS/Python combo should be created and each should have its exact set of pinned requirements included in the built archive, no more and no less.

[2020-06-16 13:26] pombredanne opened #2073 "Remove Python 2 code and tests"

[2020-06-17 12:58] Abhishek-Dev09 commented on #2068
I have created the repo for wheels, tarballs and ABOUT files [here](https://github.com/Abhishek-Dev09/Third_party/releases/tag/py-3.6)

[2020-06-17 13:54] pombredanne commented on #2068
that's good, tat a test repo alright. The interesting part is the code to automate the upload of wheels and such.

[2020-06-18 14:03] Abhishek-Dev09 commented on #2069
@pombredanne Our typecode-libmagic's hashes doesn't matches with pypa's typecode-libmagic . So i have updated the wheel in my repo releases from pypa. But you do not have uploaded typecode-libmagic for linux,window 32, 64 . So please upload it because you have only keys to them . pypa's link - https://pypi.org/project/typecode-libmagic/#modal-close .Some also hashes didn't match , see here http://

[2020-06-18 14:23] rpotter12 commented on #2035
@majurg @pombredanne
https://gitlab.com/balasankarc/gemfileparser library is definitely in more robust way but it extract only dependencies from the gemspec file and not from all file like it does not give any output for https://github.com/nexB/scancode-toolkit/blob/develop/tests/packagedcode/data/rubygems/gemspec/address_standardization.gemspec , This library totally needs to be changed to extrac

[2020-06-19 13:37] pombredanne commented on #2069
@Abhishek-Dev09 thats's minor for now. The simplest is to replace the wheel with PyPI... yet we cannot update PyPI and we can get a hash for a PyPI wheel that does not exists there like intbitset.
So you likely need to also include the sdist in your hashes.

have you started a script to generate these?

[2020-06-19 13:41] Abhishek-Dev09 commented on #2069
No, i have created using pip-tools and hashin. @pombredanne

[2020-06-19 13:43] pombredanne commented on #2069
@Abhishek-Dev09 it has to be scripted and automated .

[2020-06-19 13:44] Abhishek-Dev09 commented on #2069
How by manylinux?

[2020-06-19 18:30] majurg commented on #2035
@rpotter12 What are the specifics that need to be changed in that particular library? Or what are the limitations? Please be specific here as we are not privy to the details.

Additionally, does your code handle those particular different ways of describing dependencies and do we have a test case for this?

[2020-06-19 19:10] rpotter12 commented on #2035
Sample gemspec file:
[code]
From https://gitlab.com/balasankarc/gemfileparser library we can only extract dependencies. But when we parse this sample gemspec file from this parser we will not get name of any dependency because it is in the other form then the general form.

Ans this gemspec file is also having other important data like name, version, description, authors, email, etc which is not e

[2020-06-20 08:41] Abhishek-Dev09 commented on #2069
`# -*- coding: utf-8 -*-
#
# Copyright (c) 2019 nexB Inc. and others. All rights reserved.
# http://nexb.com and https://github.com/nexB/scancode-toolkit/
# The ScanCode software is licensed under the Apache License version 2.0.
# Data generated with ScanCode require an acknowledgment.
# ScanCode is a trademark of nexB Inc.
#
# You may not use this software except in compliance with the License.
#

[2020-06-20 08:44] Abhishek-Dev09 commented on #2069
@pombredanne : I made script something like this . Please review

[2020-06-20 12:54] Abhishek-Dev09 commented on #2069
@pombredanne one guy on #python recommends me to use [boots.py](https://github.com/altendky/boots/blob/master/boots.py) which supports cross platform with all python version . He integrated with [romp](https://github.com/altendky/romp) for pinning of wheel . https://github.com/altendky/pm is example project of boots and romp.

[2020-06-20 22:39] altendky commented on #2069
I mentioned that I use boots.  I haven't developed it to any point of being a 'real' program.  It might be a relevant reference to understand one approach to the problem and the pieces that go into that.  It could certainly be expanded to include Python versions in its matrixing.

[2020-06-21 10:10] mrkaban opened #2079 "What version of Python is required and libraries?"
Hello, which version of Python is required and which libraries?

"scancode.bat
* Configuring ScanCode for first use ...
Python 3.3.4
C: \ Python33 \ python.exe
* Unable to find an installation of Python. "

Did I understand correctly that I was looking for information about the author and license, which he himself indicated at the beginning of the code? she does not have a base and does not compar

[2020-06-21 11:52] Abhishek-Dev09 commented on #2079
@mrkaban : Use python 3.6 or py 2.7

[2020-06-21 19:02] rpotter12 opened #2080 "Parse Go(go.mod, go.sum) files"
This is apart of GSoC 2020 phase 2.

We need to add the ability to parse Go(go.mod, go.sum) files and have them a part of a --package scan.

[2020-06-21 19:04] rpotter12 opened #2081 "Parse Scala(.sbt) files"
This is apart of GSoC 2020 phase 2.

We need to add the ability to parse Scala(.sbt) files and have them a part of a --package scan.

[2020-06-21 19:05] rpotter12 opened #2082 "Parse Python(pipfile.lock) files"
This is apart of GSoC 2020 phase 2.

We need to add the ability to parse Python(pipfile.lock) files and have them a part of a --package scan.

[2020-06-21 19:07] rpotter12 opened #2083 "Parse OCaml(.opam) files"
This is apart of GSoC 2020 phase 3.

We need to add the ability to parse OCaml(.opam) files and have them a part of a --package scan.

[2020-06-21 19:08] rpotter12 opened #2084 "Parse Rust(cargo.lock) files"
This is apart of GSoC 2020 phase 3.

We need to add the ability to parse Rust(cargo.lock) files and have them a part of a --package scan.

[2020-06-22 08:08] Angi2412 opened #2085 "killing/abort running scan in python"
## Short Description
It would be helpful if it would be possible to kill or abort a running scan, which was started via the pip package.

## Possible Labels

- new feature

## Select Category

-  [X] Enhancement
-  [ ] Add License/Copyright
-  [ ] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ] Expand Support
-  [ ] Other

## **Describe the Update**

There should be a command with which

[2020-06-22 08:10] ncoghlan commented on #2021
I can confirm that installing on Python 3.8 doesn't work at all, and the first failure encountered is because `url<1.0.0,>=0.4.2` picks up the sdist-only release at https://pypi.org/project/url/0.4.2/, which in turn includes old Cython generated code that accesses fields that are no longer public in Python 3.8+.

Other reports: https://github.com/seomoz/url-py/issues/67

[2020-06-22 13:01] ncoghlan commented on #2021
I tried installing current git `develop` branch instead:

    pipenv install git+https://github.com/nexB/scancode-toolkit.git@72850bd5#egg=scancode-toolkit

However, that still failed, as the dependency on url.py is still declared in `develop` - the switch to `urlpy` hasn't been merged yet.

I'm now trying the tip of https://github.com/nexB/scancode-toolkit/pull/1835 instead.

[2020-06-22 14:27] pombredanne commented on #2069
@Abhishek-Dev09 can you put that script in a PR?

[2020-06-22 14:28] ncoghlan commented on #2021
This version installed (tip of #1835 at time of writing):

    pipenv install git+https://github.com/nexB/scancode-toolkit.git@10f54bf#egg=scancode-toolkit

[2020-06-22 14:29] Abhishek-Dev09 commented on #2069
@pombredanne : That script is not correct

[2020-06-22 14:31] pombredanne commented on #2069
@altendky :wave: thank you for stopping by!
how do you see boots and romp being used there?

[2020-06-22 14:32] pombredanne commented on #2069
@Abhishek-Dev09 re:

Ah... you did not reference the ticket in your commit message title... hence I thought there was no PR ;)  Can you provide the link and/or amend your commit message to reference this ticket?

[2020-06-22 14:36] Abhishek-Dev09 commented on #2069
I have no PR right now because i facing some difficulties in writing scripts that'why i commented in ticket rather that making PR , so that i can make clean PR.

[2020-06-22 16:06] altendky commented on #2069
The task brought up in #python was, as I recall, to create dependency lock files including hashes across multiple Python versions and multiple operating systems as well as to also collect those requirements into another repository.

The last piece strikes me as odd.  Perhaps I'm just not used to working on projects that do this but they aren't really a thing I've seen.  Perhaps, with Python, runni

[2020-06-23 10:29] pombredanne opened #2087 "Dev utility: build and download the sdist and wheels of a single package and all its dependencies"
As a developer of ScanCode, I want to download and or build as needed the wheels and sources of a given package or package/version. For this I expect to call a command line tool that would accept a package name or name==version as an argument and a target directory where the built wheels and tarballs would be downloaded.

As an output of this command, I expect to find in the target directory:

1.

[2020-06-23 10:31] pombredanne opened #2088 "Dev utility: Add or update new package"
As a developer of ScanCode, I want to update some of the dependent packages or add a new package.

For that I somehow fetch some wheels and/or tarballs, craft ABOUT files, collect licenses and store these in a local directory (for instance thirdparty/) which is not meant to be committed.
I may also update my setup.py with new version ranges or constraints or I may add a new package.

Once this is

[2020-06-23 10:32] pombredanne opened #2089 "Use case: Install ScanCode from a git checkout"
As user or developer of ScanCode, I am doing a git checkout of ScanCode's repo and I want to be able to configure it.

For this, I run the ./configure script or I run ./scancode directly as it is today. And any third-party wheels and packages that are required are installed exactly as described in a requirements file even though these wheels are not part of the Git repo checkout. (this is in contr

[2020-06-23 10:32] pombredanne opened #2090 "Use case: Install self-contained ScanCode archive"
For this use case, the goal is to build a fully self-contained archive, one for each combination of OS and Python version, that contains all the third-party wheels and/or tarballs such that it can be installed with only Python required before hand.

The OSses are win32, win64, linux64 and macos64.

The Python versions are Python 3.6, 3.7, 3.8 and later newer versions

As a side nice-to-have we cou

[2020-06-24 19:16] DennisClark opened #2091 "Incorrect interpretation of disjunctive license in cryptography-44.0.2"
A recent scan of `cryptography-2.8.tar.gz` from
https://files.pythonhosted.org/packages/be/60/da377e1bed002716fb2d5d1d1cab720f298cb33ecff7bf7adea72788e4e4/cryptography-2.8.tar.gz
on the page at
https://pypi.org/project/cryptography/2.8/#files

returned 2 detections of the "python" license (good) and 2 detections of the "unknown" license (not good) based on the following text:  "from CPython, and i

[2020-06-24 19:45] DennisClark opened #2092 "Scan results return an "unknown" if there is an "OSI Approved" reference in the text"
A recent scan of `paho-mqtt-1.4.0.tar.gz` from
https://files.pythonhosted.org/packages/25/63/db25e62979c2a716a74950c9ed658dce431b5cb01fde29eb6cba9489a904/paho-mqtt-1.4.0.tar.gz
on the page at
https://pypi.org/project/paho-mqtt/1.4.0/#files

returns an `unknown` license from its scanning of the file setup.py in this project, which contains these lines:
[code]
It seems to me that because there is an

[2020-06-24 20:21] DennisClark opened #2093 "Scan results don't provide a consolidated_license_expression even when there is a LICENSE file"
A recent scan of `ptyprocess-0.6.0.tar.gz` from
https://files.pythonhosted.org/packages/7d/2d/e4b8733cf79b7309d84c9081a4ab558c89d8c89da5961bf4ddb050ca1ce0/ptyprocess-0.6.0.tar.gz
on the page
https://pypi.org/project/ptyprocess/#files

does not return anything in the field consolidated_license_expression (or core_license_expression) even though there is a clearly detected license of `isc` in the LI

[2020-06-24 20:47] DennisClark opened #2094 "summarization appends a numeric suffix to a consolidated package filename when it is not necessary or helpful"
Recent scans show that summarizations always append a numeric suffix of `_1` to a consolidated package filename when it is not necessary to make it unique.  That is unfortunate because it results in a misleading perception about what the version of a package actually is; for example: a consolidated package filename of `pkg_pypi_cryptography_2_8_1` is provided for the package with a Package URL = `

[2020-06-24 21:11] JonoYang commented on #2094
@DennisClark

Thanks for pointing out how the numeric suffix at the end of a purl can mislead people about the version of the package. I did not anticipate that. The idea of just using the package name and version from the purl is interesting. I can definitely start with removing the numeric suffixes from filenames and only using the numeric (or some other) suffix when need.  I'll let you know whe

[2020-06-24 21:36] DennisClark opened #2095 "Cannot determine why consolidation returns an "unknown" in the license expressions"
A recent scan of `pycparser-2.20.tar.gz`  from
https://files.pythonhosted.org/packages/0f/86/e19659527668d70be91d0369aeaa055b4eb396b0f387a4f92293a20035bd/pycparser-2.20.tar.gz
on the page at
https://pypi.org/project/pycparser/#files

returns some unexpected license results that are mysterious:
[code]
The scan results also return individual license keys of bsd-new, public-domain, and lgpl-2.0-plus,

[2020-06-24 21:42] DennisClark commented on #2095
A possible clue to the problem may be in the README.rst file, which contains the following text

[code]

If this is the text causing the detection of an "unknown" license key, perhaps that should be fixed.

[2020-06-24 22:18] DennisClark commented on #2095
similar problem in swebsockets-7.0.tar.gz
scan results attached
[websockets-7.0.tar.gz_scan.json.zip](https://github.com/nexB/scancode-toolkit/files/4828142/websockets-7.0.tar.gz_scan.json.zip)

[2020-06-25 01:22] ncoghlan commented on #2071
You may also want to look at https://github.com/joerick/cibuildwheel

[2020-06-25 01:34] JonoYang commented on #2094
@DennisClark

I got a branch up where the consolidation plugin does not add a numeric suffix to a consolidated package filename if there is only one instance of a given package. Let me know if behaves more like what you expect: https://github.com/nexB/scancode-toolkit/tree/2094-consolidation-filename-change

[2020-06-25 13:13] sschuberth commented on #1875
@pombredanne I'm actually seeing this error again on latest `develop`, but on Linux! Is there a regression?

[2020-06-25 16:09] DennisClark commented on #2094
@JonoYang   Thanks!  I'll try it out soon.

[2020-06-25 17:58] DennisClark commented on #2094
[code]

[2020-06-25 18:01] DennisClark commented on #2094
I ran the test on gpdb-6.8.1.tar.gz
It's a really big one, but I wanted to look for any possible anomalies!
Guess I managed to do that.

[2020-06-26 20:25] JonoYang commented on #2094
@DennisClark

Some of the consolidated packages do not have purls to create identifiers from. I've created a workaround to use the `root_path` of where a package was detected as the identifier. For example, a ruby package was detected at `gpdb-6.8.1/gpdb-doc/book`, but there is no purl available for the resulting detected package, my fix is to just take that root path (`gpdb-6.8.1/gpdb-doc/book`)

[2020-06-28 06:04] awilfox commented on #2061
`apkkit` is considered, for all intents and purposes, to be "complete".  That is, if any bugs are found, we will fix them - but no new features are planned at this time.

[2020-06-30 14:51] DennisClark commented on #2094
Thanks @JonoYang    I'll try this out today.

[2020-06-30 17:02] DennisClark commented on #2094
Hi @JonoYang  your fix took care of the error reported by the scan.  I'm doing some further investigation and analysis of the actual results and will get back to you on that.

[2020-07-01 01:42] JonoYang commented on #2093
@DennisClark

There is a bug in collecting Package resources when creating a consolidated package where the package files are not being collected properly. In the case of `ptyprocess-0.6.0.tar.gz`, the consolidated packages are created around these two files:
[code]
When we detect these package manifest files and such, we should be collecting all the resources from the root of the package. However

[2020-07-01 18:49] JonoYang opened #2098 "Report Packages at the codebase-level"
We should make the package consolidation logic from the consolidation plugin a default function of the Package scanning option. The consolidation plugin would then be focused on files that are not part of a package so we can perform logical groupings on them.

Some changes that would have to change on the Package model/Package scanning process:

- Remove root_path from Package. There is no univers

[2020-07-01 21:53] JonoYang opened #2099 "We should always run the file info scan when a scanning option is selected"
It is useful to have file info available in a scan, even when it is not the primary thing we want to get from files in a codebase. The file info option is pretty fast, so I don't think this would be detrimental to performance.

[2020-07-02 17:22] ghost opened #2100 "Spam issue"

[2020-07-02 17:37] danN4322 commented on #2100
https://github.com/nexB/scancode-toolkit/issues/2100#issue-650093067

[2020-07-03 12:34] #2100 closed

[2020-07-03 12:37] pombredanne commented on #2079
@mrkaban sorry for the late reply!

That would be great indeed. There is some work in progress on an API server, but that's different. Any idea what would be the best way to get something working across all OSses?

we have that alright if you use a released archive, but it would be better to have an installer.
@Abhishek-Dev09  do you think that will be something you may be able to work on?

good p

[2020-07-03 13:34] Abhishek-Dev09 commented on #2079
@pombredanne : I think it is subset of [this](https://github.com/nexB/aboutcode/wiki/Project-Ideas-Build-ScanCode-Installers) project .

[2020-07-06 07:11] pombredanne commented on #2099
I like this but there is still a use case for a bare directory listing IMHO... what about having this behaviour:

1. if no scans are requested, just return the paths bare.
2. if any scan is requested, always include file information.

[2020-07-06 09:43] pombredanne opened #2101 "Remove link checks from CI"
### Description

There are too many random failures on link checks done in the Travis CI. We should remove these and make them something else that does not break the build for no good reason.
See https://github.com/nexB/scancode-toolkit/pull/1835/commits/e0f1b4fd1b00abb581832d79d790b847c5eb4ff1 for the last commit with some link checks.

@AyanSinhaMahapatra FYI

[2020-07-06 10:48] AyanSinhaMahapatra commented on #2101
@pombredanne I never thought this would cause so much trouble though, apologies for the trouble caused.

These fails are inherently caused by network issues, and not the tools itself (I think?) so it seems there's no way to test for links, without these random errors creeping up, it's obviously just better to not have these tests than having the CI testing throwing errors everywhere. But I'll chec

[2020-07-06 11:40] pombredanne opened #2102 "Reinstate code coverage computation using Azure pipelines"
### Description

The code coverage computations as part of the test runs was using Travis and was not covering all the tests. We want to reinstate them in Azure.

[2020-07-06 12:17] pombredanne commented on #2101
No worries and no need for apologies! and yes failures are network-related or transient site availability or else.

yes,

 we should see if a pre-commit hook may be a better solution?

[2020-07-06 14:32] pombredanne commented on #2071
So the candidates for building the wheel on all OSes x Python versions combos are:
- https://github.com/joerick/cibuildwheel (thanks @ncoghlan ! )
- https://github.com/altendky/romp (with a more general purpose focus and Azure-only and a focus on running on-demand)

[2020-07-06 14:58] mjherzog commented on #2099
I am in favor of returning to default fileinfo, but cannot remember what the use cases were for no file info. Not sure that it was to get a "bare" directory listing. If it was something else then we might need an option to exclude --info.

[2020-07-06 20:46] pombredanne commented on #2061
@awilfox thanks you ++

[2020-07-06 20:50] pombredanne commented on #2061
@JonoYang you can also check this https://github.com/nexB/debut/pull/3 where the debian parser (which is essentially the built stdlib email header parser actually works quite well)

[2020-07-06 20:51] pombredanne commented on #2061
@JonoYang the code actually handling Alpine could be quite similar to what in WIP for Debian in this PR https://github.com/nexB/scancode-toolkit/tree/2058-collect-system-packages and could likely be added on top

[2020-07-07 01:39] majurg commented on #2099
@mjherzog Some users do not care to see files that have no origin info detected, so they purposely omit the `--info`. But I think this is relatively few users, and `--only-findings` can be used to accomplish the same result.

In the end, we have a solution already for handling these use-cases, so I am all in favor of including fileinfo by default.

[2020-07-07 14:41] mjherzog commented on #2099
+1

[2020-07-07 18:16] JonoYang opened #2103 "Dependent packages not being created for dependencies from the dependencyManagement field from a POM"
The pom parser collects the dependent package data from the dependencyManagement field from a POM, but we do not add that data to the scan results.

[2020-07-07 19:34] JonoYang opened #2104 "Parse go.mod files for dependencies"
It would be nice to get dependencies from go.mod files like how we get packages from package-lock.json files.

[2020-07-07 21:35] rpotter12 commented on #2104
@JonoYang It is a duplicate issue of #2080. Please check out my approach in PR https://github.com/nexB/scancode-toolkit/pull/2097 to parse go.mod files.:)

[2020-07-07 21:42] #2104 closed

[2020-07-08 05:22] soimkim opened #2105 "Is there a way to call it directly from python code?"
Is there a way to call it directly from python code?
I want to call it from python code, like calling from cli.
If I call it after installing with pip, an error occurs. : https://github.com/nexB/scancode-toolkit/issues/1947

## Select Category
-  [ ] Enhancement
-  [ ] Add License/Copyright
-  [ ] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ] Expand Support
-  [*] Other

## **How This

[2020-07-08 06:30] soimkim commented on #1947
I am getting the same error.
- OS: ubuntu 18.04
- Python : Python 3.6

After installing with pip and activating the virtual env environment, I called it as follows.
  scancode --license --copyright --json-pp scancode_result.json samples

There is no file in the folder named samples.

[2020-07-08 08:52] Angi2412 commented on #2105
@soimkim not sure if it helps and how it is supposed to be used, but I use it like this:

[code]

while "cores" is the number of CPU cores available.

[2020-07-08 09:20] pombredanne commented on #1875
@sschuberth let me recheck. This was a non-starter solution https://github.com/nexB/scancode-toolkit/pull/1949#issuecomment-597691979

[2020-07-08 09:55] soimkim commented on #2105
I installed with pip and called it like you shared it, and I get an error.
- OS: ubuntu 18.04, Python : 3.6

** Error Message:
`Traceback (most recent call last):
  File "/venv/lib/python3.6/site-packages/scancode/cli.py", line 669, in run_scan
    raise te
  File "/venv/lib/python3.6/site-packages/scancode/cli.py", line 666, in run_scan
    is_enabled = plugin.is_enabled(**kwargs)
TypeError: is_e

[2020-07-08 10:01] Angi2412 commented on #2105
Oh sorry, I forgot to mention, that I'm using the CLI file from the dev branch because I got the same error.
It's not a very "clean" solution I know, but as long as there's no update for the pip package I found it's the only way it's working for me...

[2020-07-08 10:25] pombredanne commented on #2085
@Angi2412 thank you ++ for this. Let me review this in details and reply

[2020-07-08 10:27] pombredanne commented on #2105
@soimkim I am pushing a new wheel today as a new candidate release. As @Angi2412  pointed out, you need to use the `develop` branch to call `run_scan()`  https://github.com/nexB/scancode-toolkit/blob/f488b6c2172f588e80e1b764ed6158444e92b8ef/src/scancode/cli.py#L539

@Angi2412 tag and new candidate release wheel on its way :)

[2020-07-08 12:39] pombredanne commented on #2085
BTW, if you are working on some integrations where you need to call in directly ScanCode functions, feel free to reach out here and on Gitter https://gitter.im/aboutcode-org/discuss for help and discussion.

[2020-07-08 12:43] pombredanne commented on #2085
@Angi2412 I am not I get otherwise the issue here. You want to interrupt a call to a scancode function? Do you call `cli.run_scan` with multiprocessing? can you paste how you call things?

[2020-07-08 13:49] Angi2412 commented on #2085
@pombredanne thank you for the hint with the gitter :)
I do use `cli.run_scan` with multiprocessing - the number of cores is determined dynamically because the application is deployed on several servers with dockers which all have different CPU resources.

Here's how I call the scan process:
[code]

I'm using an older cli file from the developer branch because the current cli file leads to a weird

[2020-07-08 14:21] pombredanne commented on #2085
@Angi2412 OK, so you really do not have a handle on the process tree that is currently running in rq?
If that is so, what you are looking for is a way to signal whatever is running that they should stop ASAP and gracefully terminate.
I am not sure what would be the way specifically for rq, but two solutions I can think of consist in using a file and react accordingly if the file is present or use

[2020-07-09 00:03] soimkim commented on #2105
The develop branch works fine. :-)
Thanks for the quick answer.

[2020-07-09 17:12] sebassdc opened #2106 "Pop from an empty deque, 100 processes option"
### Description

I'm getting this error, the execution stops and nothing else.

[code]

### How To Reproduce

[code]

### System configuration

* Running on a python:3.6 docker image on an ec2 instance with 16 CPUs 150 GB SSD y 200 EBS volume, 16GB of ram.
* We build from the source from the develop branch on every run.

[2020-07-10 06:46] pombredanne commented on #2106
@sebassdc running a 100-processes scancode  scan with (only) 16 CPUs and 16GB is likely to be a problem.
The rule of thumb would be:
1. run at most that many processes (number of CPU threads -1) as in general more will not yield better perf as this will already saturate the CPUs nicely
2. provision roughly 1GB or RAM per process

So looking at AWS candy store, that would mean likely something like

[2020-07-10 06:49] pombredanne commented on #2105
Dear @soimkim you wrote:

I am glad this worked for you. Please feel free to reach out for further help!
 May I ask what kind of app you are building? I am always interested in how scancode can be used.

[2020-07-10 07:00] soimkim commented on #2105
Dear @pombredanne ,

I am writing a Python Script to execute Scancode when analyzing source code in CI/CD environment.
Scancode is very useful for viewing the analysis results in the workbench, and it is also good for parsing because it outputs the results in json format.
We will use it to notify the developer of the detected license for the newly added commit.

[2020-07-10 07:21] pombredanne opened #2108 "Failure to configure on Linux"
originally from  @sschuberth https://github.com/nexB/scancode-toolkit/issues/1875#issuecomment-649532709

[2020-07-10 07:22] pombredanne commented on #1875
@sschuberth

Your PR fixed this alright and was merged
@arthur657834 PR was not merged as it did not fix anything.

The issue on Windows is the original problem and was a gitbash/cygwin issues that you fixed

@sschuberth if you have a Linux issue, let's create a new ticket instead.
I created https://github.com/nexB/scancode-toolkit/issues/2108 ... can you add you details there?
@arthur657834 pleas

[2020-07-10 07:22] #1875 closed

[2020-07-10 10:30] sschuberth commented on #2108
I cannot reproduce this anymore, latest `develop` (f488b6c2172f588e80e1b764ed6158444e92b8ef) configures fine for me on Ubuntu 18.04 with both Python 2.7 and Python 3.6 installed.

[2020-07-10 10:30] #2108 closed

[2020-07-10 13:23] pombredanne commented on #2108
@sschuberth thank you for checking this!

[2020-07-10 13:25] pombredanne opened #2109 "SCTK: Parse Python poetry lockfile and manifest"
See https://github.com/python-poetry/poetry
These are now using pyproject.toml

[2020-07-10 22:21] pombredanne opened #2110 "Support Dart pub packages"
## Short Description
It would be great to support scanning as Packages Dart pub packages https://pub.dev/

## Select Category
-  [x] Enhancement

[2020-07-11 06:06] AyanSinhaMahapatra opened #2111 "Bugs in .yml files, for Scancode Rules/Licenses"
### Description

In .yml files for scancode license detection rules,  the `is_license_notice` key should normally have the value `yes`, if True, and the key wouldn't exist if `False`.

But in some cases, (very few, 5 files), they had these values for the `is_license_notice` key - `'yes - LICENSE'`, `'yes - LICENSE - LICENSE.mxSetup'`, `'ye'`  , `'text'`

Files in question -
-  `'yes - LICENSE - LI

[2020-07-11 07:28] pombredanne commented on #2110
@mrmayurgithub ping

[2020-07-11 10:04] pombredanne commented on #2111
@AyanSinhaMahapatra good find. let's fix these with a PR

[2020-07-11 10:10] AyanSinhaMahapatra commented on #2111
@pombredanne Yes! I'll open a PR.

[2020-07-11 23:07] AyanSinhaMahapatra commented on #2111
Another issue, the file `dropbear.LICENSE` has `minimum_coverage` = `680` which is the only instance of a RULE/LICENSE having more than 100 value, also likely a bug.

[2020-07-13 14:49] pombredanne opened #2114 "Add tests for more complex Python requirements"
It would be good to test the parsing of more complex requirements with hashes and more complex constraints.

[2020-07-13 14:51] #2037 closed

[2020-07-13 15:40] JBarry465 opened #2115 "Possible Incorrect RDF Generation"
### Description
Creating this issue per the request of @pombredanne

I am attempting to create an RDF File with Scancode and import it into the "spdx-tools" tool. I appear to create the RDF file without issue, but when I attempt to import it into the second tool, I receive the following error:

[code]

This appears to be occurring due to the presence of multiple instances of the following:
[code]

[2020-07-14 12:58] agschrei commented on #15
Considering that this issue has seemingly gone stale, I am not sure how useful my contribution here is.
However, I would also like to get involved on this before filing a feature request in a new issue.

One problem I continue to have with extractcode is that it tries to extract sparse archives that are sometimes contained within source distributions, for example in the docker-ce source:
`docker-c

[2020-07-14 14:36] majurg commented on #15
@agschrei There is an open PR that deals with a similar issue: https://github.com/nexB/scancode-toolkit/pull/1946

This is done by a prospective GSoC student and AFAIK is a working solution. There is some cleanup to do on the PR iteself, and I have pinged the original author to see if he has some extra code changes. Otherwise I will clean it up and hopefully have it merged soon.

We use `extractco

[2020-07-14 14:39] majurg commented on #15
@agschrei If interested, you can test out that particular branch here: https://github.com/JRavi2/scancode-toolkit/tree/add-ignore-flag

You may want to test out this solution on your end to see if there are any bugs in a real use case.

[2020-07-14 14:53] agschrei commented on #15
@majurg Thanks a ton for your quick response - I had simply missed #1946 when searching for existing issues that deal with extractcode CLI.
I am now subscribed to that issue and will comment on our experience with the PR once I have had a chance to test.
Keep up the good work!

[2020-07-14 14:57] majurg commented on #15
Thanks. Looking forward to your response!

[2020-07-14 16:48] DennisClark commented on #2065
Alternative implementation idea:

Proposed new relationship operator in license expression: PLUS.

Everything to the left of the PLUS is a "core" (aka "primary") license expression, typically found in a root level file in a project (such as LICENSE, NOTICE, README, etc.) or a package manifest or similar.

Everything to the right of the PLUS belongs to the group of "other" licenses that can be foun

[2020-07-17 04:30] rpotter12 commented on #2114
Sure I will add this in some time :)

[2020-07-20 08:08] Angi2412 commented on #2085
Thank you for the in detail answer :)
I see now, that killing the process via ScanCode is the wrong approach. I will continue researching the approach using rq.

[2020-07-20 08:08] #2085 closed

[2020-07-20 17:18] pombredanne commented on #620
This seems also quite common in nuget signature files per https://github.com/clearlydefined/crawler/issues/398
@ariel11 FYI

[2020-07-21 05:50] mrmayurgithub commented on #2110
@pombredanne I know how can I extract the dependencies and all using yaml in python. But still I am not getting, what should I do after extracting all those things. I have looked at the repos, but still I don't know, where should I start. Like, first I extract all data from pubspec.yaml using yaml library in python, then what ? :)

[2020-07-21 07:19] mrmayurgithub commented on #2110
@pombredanne  I have forked the scancode-toolkit repository, and I have made some changes to support yaml files.
I have tried to solve the issue, I tried to apply what I understood by looking at the repositories for some help, and I hope this would be of some help :)

`import yaml
import attr
from packageurl import PackageUrl
from commoncode import filetype
from packagedcode import models

from pa

[2020-07-21 07:38] rpotter12 commented on #2110
@mrmayurgithub Try to make things working in scancode software. Once you able to generate output file parsing the file, open a PR for that. We will review that and tell you what you need to change in your code :)

[2020-07-21 08:04] danielthieleog opened #2119 "ImportError: cannot import name 'PDFTextExtractionNotAllowed'"
### Description

Since 2020-07-21 I have an error when scanning with a fresh installation of scancode-toolkit, installed with `pip install scancode-toolkit`:

For details see [scancode-toolkit_error_pdfminer_six.txt](https://github.com/nexB/scancode-toolkit/files/4952094/scancode-toolkit_error_pdfminer_six.txt)

The error comes from updated pdfminer.six release 20200720, which replaces the former

[2020-07-21 09:53] 0xc0170 commented on #2119
Thanks, I was just about to look at this one as Travis started failing today, this is the cause.

I'll use the workaround for now to unblock us.

[2020-07-21 10:08] 00032118 opened #2120 "High CPU usage problem"
The scancode operation process takes a very high CPU usage, and TOP can reach 100%. Is there a good way to improve it?

[2020-07-21 15:28] majurg commented on #2110
@mrmayurgithub I am not sure we want to classify all Yaml files as Yaml packages. I think we want these to be Dart Packages insteam

[2020-07-21 16:21] pombredanne commented on #2115
@JBarry465 sorry for the late reply and thank you the report!
RDF can be rather picky (I always prefer tag/value files or JSON as ScanCode output personally ;) )

[2020-07-22 03:53] mrmayurgithub commented on #2110
No, but @pombredanne said "This is a straight forward YAML-based format. ", and yaml based format will be used only in yaml files only :) according to me.

[2020-07-22 11:42] JBarry465 commented on #2115
@pombredanne Thanks for the info. Using this approach, would the idea be to just view the Tag file as is, instead of needing to convert it to a more human friendly format?

We are going to be viewing these files manually, so I'm ultimately looking to create the most comprehensive SBOM in a human-readable format.

[2020-07-22 14:14] rpotter12 opened #2121 "Add vcs url in go.mod parser"
### Description

There is no information about vcs url present in go.mod parser. We should add the vcs url in the parser so that scancode detect it.

[2020-07-22 20:42] #2080 closed

[2020-07-22 20:46] #2082 closed

[2020-07-23 01:35] rpotter12 opened #2122 "[CHECK] sha256 in pipfile.lock"
### Description
Check https://github.com/nexB/scancode-toolkit/pull/2116#discussion_r458144609 conversion. We can detect sha256 from the pipfile.lock and add in package.

We should have a discussion about it :)

[2020-07-23 09:57] Toniprni opened #2124 "Wrong GPL version detection due to rule gpl_35.RULE"
### Description

Due to ScanCode's rule gpl_35.RULE, a clear GPL-3.0-or-later hit was marked as GPL-1.0-or-later with a high license score 98.08. This also happened in other files. See the ScanCode results for the file below.

        {
            "path": "bc-1.07.1.tar.gz-extract/bc-1.07.1/bc/storage.c",
            "type": "file",
            "name": "storage.c",
            "base_name": "stora

[2020-07-23 13:07] pombredanne commented on #2124
@Toniprni Thank you ++ for this report! that's a great catch!

FYI, If you run with these extra options it help see what the problem is:
- `--license-text` see the actual license text detected
- `--license-text-diagnostics` with the above, in the matched license text, include diagnostic highlighting with surrounding square brackets [] the words that are not matched.

See for instance:   [bc.json.t

[2020-07-23 16:32] mjherzog opened #2126 "Refine detection for gpl-2.0-plus WITH mif-exception"
### Description

We have a very specific bug with license detection for the mif-exception. The detection with SCTK v3.0.2 for lines 8-9 from the  comments in jffs2.h was:
- gpl-2.0-plus 99
- mif-exception 99

mtd-utils/include/jffs2.h	- only file here
 * JFFS2 -- Journalling Flash File System, Version 2.
 *
 * Copyright (C) 2001-2003 Red Hat, Inc.
 *
 * Created by David Woodhouse <dwmw2@infradead.

[2020-07-23 16:45] mjherzog opened #2127 "Create Issue template for license detection bugs"
I recently reported #2126 - a complex license detection bug. It would have been helpful to have a template for the data needed for this type of specific license detection bug. I did look at some of the license detection files, but could not figure out what needs to be done.

[2020-07-25 10:42] Vinay0001 opened #2129 "Improved the Readme"
### Description

### Link to Documentation Page
README.rst

Link to Specific Scancode-Toolkit Documentation Page from http://scancode-toolkit.readthedocs.io/
-->

### Select Category

-  [ ] Inconsistency
-  [ ] New Section Request
-  [x] General Improvement
-  [ ] Typo/Mistakes
-  [ ] Other

[2020-07-25 15:37] AyanSinhaMahapatra commented on #2127
Thanks for the ticket @mjherzog, opening a PR shortly.

[2020-07-25 15:40] AyanSinhaMahapatra commented on #2127
Thanks for the ticket @mjherzog, opening a PR shortly.

[2020-07-25 17:16] pombredanne commented on #2087
@Abhishek-Dev09 think about:
1. pip download and its flags to select a proper source and binary version such as   --platform,  --python-version,  --implementation  --abi --no-binary --only-binary
2. what you are doing with the pombreda/thirdparty* repos ... for the build that would need to be eventually automated and/or documented... or you could use romp? TBD

[2020-07-26 08:23] #2111 closed

[2020-07-26 09:39] #2121 closed

[2020-07-26 15:02] #2129 closed

[2020-07-26 15:04] #2114 closed

[2020-07-27 12:53] pombredanne opened #2135 "End to end approach for third-party packages handlings in ScanCode"
When this all done, we will have NO files under thirdparty/ anymore.

Instead I will have:

1. all the wheels, source archives, ABOUT files and licenses, etc available for reference as release assets in some public GitHub PyPI-like repository that will be at https://github.com/nexB/third-party-packages/release

2. I have several requirements files with hashes, one per OS/Arch/Python combo for prod

[2020-07-27 13:59] pombredanne commented on #2087
See #2117

[2020-07-27 14:22] pombredanne commented on #2071
See also #2087

[2020-07-27 14:28] pombredanne commented on #2087
This is going to be using the utilities listed in #2017 such a romp or https://github.com/pombreda/thirdparty-manylinux/ and https://github.com/pombreda/thirdparty
1. we need to provide a list of packages that need to be built as an input and IDEALLY that should be the same as our requirements file
2. the utilities either need to upload directly to our upcoming PyPI "GitHub release" repo at https:

[2020-07-27 14:33] pombredanne opened #2136 "Dev utility: Upload to GitHub release"
I want to call a command line tool that take all the files in a directory and upload them to a GitHub release on some repo such that they can then be used for installation (in pip --find-links)

[2020-07-27 14:36] pombredanne commented on #2088
This is a duplicate of two tickets:
1. Dev utility: build and download the sdist and wheels of a single package and all its dependencies nexB/scancode-toolkit#2087
2. Dev utility: Create script to generate requirements with hashes nexB/skeleton#50
Therefore it is being closed in favor these other tickets.

[2020-07-27 14:45] pombredanne commented on #2069
This is part of PR #2118

[2020-07-27 14:46] pombredanne commented on #2072
See #2117

[2020-07-27 14:51] #2068 closed

[2020-07-28 05:39] #1870 closed

[2020-07-29 04:31] chinyeungli opened #2139 "Duplicated record [potential filter for low score] for license_expression"
### Description
For https://changelogs.ubuntu.com/changelogs/pool/universe/x/xvidcore/xvidcore_1.3.4-1/copyright , the license detection returns the following:
[code]

Note that there are duplicated result in the license_expression which doesn't look good.
In addition, the `agpl-3.0` is incorrect based on the low score, but it's included in the license_expression. Do we have a way/plan to only cap

[2020-07-29 06:52] FlorianSW opened #2140 "[Test missing, only] Missing copyright extraction from notice.txt file"
### Description

ClearlyDefined used ScanBot to extract license information from org.springframework.spring-beans in version 5.2.6.RELEASE (see https://clearlydefined.io/definitions/maven/mavencentral/org.springframework/spring-beans/5.2.6.RELEASE/5.2.6.RELEASE).

However, the library contains a notice.txt file in META-INF with a copyright notice in it. Unfortunately, only the copyright from the l

[2020-07-29 08:33] #997 closed

[2020-07-29 09:03] chinyeungli opened #2141 "license detection bug for hdparm"
### Description

scancode correctly detects the following as `hdparm`
[code]
However, it fails to detect this following:
[code]
and return
[code]

[2020-07-29 10:48] pombredanne commented on #2140
@FlorianSW Thanks! I pushed a branch with the test.

[2020-07-29 17:32] sbs2001 opened #2143 "Determine license expression for ruby-advisory-db"
Please check https://github.com/rubysec/ruby-advisory-db/blob/master/LICENSE.txt .

Determine and enable the detection of correct license expression for the above LICENSE.

[2020-07-29 17:35] pombredanne commented on #2143
Thanks! I reckon that would be something you want to use for VulnerableCode, correct?

[2020-07-29 17:36] sbs2001 commented on #2143
@pombredanne  yes

[2020-07-29 18:04] pombredanne commented on #2141
Thank you for this report!

[2020-07-29 23:12] pombredanne opened #2144 "Change the reported download url for Python"
As a follow up to #1886 see https://github.com/nexB/scancode-toolkit/pull/1970#discussion_r462365461
Check this pypa/pypi-legacy#438 (comment) that was suggested by @Kwpolska

[2020-07-30 01:37] chinyeungli opened #2145 "Fail to detect gpl-3.0 and gfdl-1.3"
### Description

license detection fails to detect the `gpl-3.0` and `gfdl-1.3` from the following license notice:
[code]

Ref: https://changelogs.ubuntu.com/changelogs/pool/main/d/diffutils/diffutils_3.3-3/copyright

This is the current returned license detection:
[code]

[2020-07-30 08:47] #1945 closed

[2020-07-30 08:49] #1899 closed

[2020-07-30 13:04] pombredanne opened #2146 "Add support to normalize versions and dependency requirements"
It would help to be able to compare and sort package versions and normalize version requirements from a package dependency (and in that later case to some mostly universal representation).

[2020-07-30 13:09] pombredanne commented on #2146
Some pointers:

From @jayvdb see:
- https://github.com/gemfileparser/gemfileparser/issues/6#issuecomment-511645779
- https://github.com/DanielVenturini/vigilant-lamp/issues/3
- https://github.com/gemfileparser/gemfileparser/issues/6
- https://github.com/rbarrois/python-semanticversion/issues/73
- https://github.com/d9pouces/RubyMarshal/issues/3#issuecomment-569590147
- https://github.com/mswart/de

[2020-07-30 13:52] pombredanne commented on #2146
I also have debian version supported in https://github.com/nexB/debut/blob/master/src/debut/version.py

[2020-07-30 14:06] pombredanne commented on #2146
See also @jayvdb and @coala https://gitlab.com/coala/package_manager

[2020-07-30 14:41] pombredanne commented on #2146
And of course also @AMDmi3 https://github.com/repology/libversion and its postgres buddy

[2020-07-30 16:54] #1898 closed

[2020-07-30 17:26] pombredanne opened #2147 "Restructure test suites for speed"
We are running too many no-OS specific tests on Linux/Mac/Windows. We can likely do better and run fewer complete test suites on all the OSes

[2020-07-30 20:23] pombredanne commented on #2143
@DennisClark what would be your take there?

[2020-07-31 08:35] chinyeungli opened #2149 "Fail to detect "x11-bitstream""
### Description
[code]
https://changelogs.ubuntu.com/changelogs/pool/main/x/xfonts-scalable/xfonts-scalable_1.0.3-1.1/copyright

The above license notice should have `x11-bitstream` detected. However, it returns the following instead
[code]

[2020-07-31 16:56] rpotter12 opened #2150 "Merge go_sum and go_mod modules"
### Description

go_sum.py and go_mod.py contains some duplicate code and data is extracted in same format. We should merge these modules to avoid duplicates.

[2020-08-03 11:41] pombredanne opened #2154 "Add KDE L/GPL license as new license"
See https://community.kde.org/Policies/Licensing_Policy#License_Texts ...we want to have them alright as their own licenses.

[2020-08-03 15:24] AyanSinhaMahapatra commented on #2052
[Document Discussing this in details](https://docs.google.com/document/d/18r62boFdauphlSNEXuIB7_UQkl8XlSn4RsbNjtxf37U/edit?usp=sharing )

[2020-08-07 11:20] OctagonHex opened #2155 "extractcode crash with certain symbolic links on Windows 10"
### Description

extractcode has problems with symbolic links on Windows -> Leads to a crash.

[tar.utf8.tar.bz2.zip](https://github.com/nexB/scancode-toolkit/files/5041008/tar.utf8.tar.bz2.zip)

Please chatch the errors and prevent a crash. Possible work-around for the underlying issues:
- rename the symbolic links to some unique file name
- ignore the problematic symbolic links with a warning

#

[2020-08-10 22:47] Abhishek-Dev09 commented on #2135
@pombredanne :
Direction for using new provision of thirdparty:

- Activate environment for python 3 and run `pip install -r etc/scripts/req_tools.txt` in terminal.

-  Upload all pre-built wheels, tarballs and ABOUT files as releases in a PyPI-like repo like [my repo ](https://github.com/Abhishek-Dev09/thirdparty/releases/tag/v2.0) . This can be used in `--find-links ` option.
 For example - gith

[2020-08-11 11:55] pombredanne commented on #2135
That looks good! Can you also try that on Linux and Python 3.7 too at least?

[2020-08-11 16:23] Abhishek-Dev09 commented on #2135
@pombredanne if you place python 38 wheels from [here](https://dl.bintray.com/pombreda/thirdparty2/) to thirdparty . It will work on linux .

[2020-08-12 08:37] TG1999 opened #2157 "Typos found in packagecode model help text"
https://github.com/nexB/scancode-toolkit/blob/b4ea9c640f8ee4ed8851b5618c6d223bb1c02d47/src/packagedcode/models.py#L443 There are typos in the help text for this model

[2020-08-12 12:49] #2084 closed

[2020-08-12 14:39] NickBower-Woodside opened #2158 "Windows install fails latest 3.1.1 for Python 3.7.8"
First problem, finds Python but it doesn't

[code]

So manually trying to set it

[code]

[2020-08-12 17:09] rpotter12 opened #2159 "Add checksums and source in DependentPackage"
### Description
Cargo.lock, Pipfile.lock etc files contain source and checksums. We should use them in our project by adding another field in `DependentPackage`.
Check: https://github.com/nexB/scancode-toolkit/pull/2153#discussion_r469233428

[2020-08-13 05:23] rpotter12 commented on #2122
A new ticket is opened for this now. Please check https://github.com/nexB/scancode-toolkit/issues/2159

[2020-08-13 05:23] #2122 closed

[2020-08-14 02:47] publicst opened #2160 "After running for more than 24 hours, errored out with pool.py"
### Description

...
[#-------------------] 107580 Scanned: Syncfusion.Grid.Grouping.Windows.dll
Removing temporary files...done.
Traceback (most recent call last):
  File "C:\Users\shintaro.takechi\AppData\Local\Programs\Python\Python36-32\lib\multiprocessing\pool.py", line 720, in next
    item = self._items.popleft()
IndexError: pop from an empty deque

During handling of the above exception, a

[2020-08-14 10:59] Abhishek-Dev09 commented on #2135
Requirement.txt missing some package which is defined by `python_version` in setup.py such as ftty.
For example:
[code]
 https://github.com/jazzband/pip-tools/issues/1202

[2020-08-14 18:06] #2150 closed

[2020-08-14 18:13] pombredanne commented on #2098
Something to consider if we were to track packages at the top level:
- should we track each instance of a package (and its files separately)
- what happens if different package instances have slightly metadata?

[2020-08-17 08:47] AyanSinhaMahapatra opened #2162 "Enforce Single Type for License Rules"
## Short Description

Scancode License Detection Rules has 4 main types, i.e.

- license_text
- license_notice
- license_referance
- license_tag

Now the following table shows the extent of overlap between these groups:-
i.e. these value=True For Number Of Rules.

|                Table           | is_license_reference | is_license_text | is_license_notice | is_license_tag |
|              :---:

[2020-08-17 08:53] AyanSinhaMahapatra opened #2163 "More Tests for Scancode Rules"
## Short Description

This Issue - https://github.com/nexB/scancode-toolkit/issues/2111 solves some bugs in License Rules, mainly having inconsistencies in their `text`/`notice`/`referance`/`tag` attributes and numeric `relevance` fields.

Tests should be added (in the CI system) so these are checked for inconsistencies

- numeric values are within limits
- values of attributes are within the poss

[2020-08-17 09:26] AyanSinhaMahapatra opened #2164 "[RFC] Scans of License Texts, "is_license_text" plugin related"
While going through [this issue](https://github.com/nexB/scancode-toolkit/issues/863), I’ve scrapped and collected the licenses, and run the scancode license scan on them, I Found some of these license files, even though they are entirely "license files", does not have the “is_license_text” (the plugin) value as True.

The plugin works as follows, quoting from the docstring -
[code]

These files

[2020-08-17 09:28] AyanSinhaMahapatra commented on #2164
I might be missing something obvious (there's a GPL 3.0 text, so it seems weird that it won't be detected as a license text file), apologies if that's the case.
Also RFC for [these questions](https://github.com/nexB/scancode-toolkit/issues/863#issuecomment-599508641)

[2020-08-17 09:30] AyanSinhaMahapatra commented on #2164
Also another thought about how "is_legal" is determined, they are flagged True if the file name is something like "LICENSE"/"COPYING" etc, but in these cases, as the file names are their license full names, they don't have "is_legal" True.
 I was wondering is these cases could be included? Is there any reason not to?

[2020-08-17 19:11] pombredanne commented on #2155
@OctagonHex Thank you for the report! I think that may be new with Windows 10 and it should not happen for sure.

[2020-08-18 15:26] DennisClark opened #2165 "Point scancode detected license keys to a scancode-toolkit URL for the license text"
Point scancode detected license keys to the scancode-toolkit URL for the license text.

A lot of details need to be worked out, primarily where the licenses are stored and can be reliably found and maintained.

[2020-08-18 16:05] JonoYang opened #2166 "Detect Python packages from a dist-packages directory"
In `/usr/lib/python3/dist-packages`, you can see for some installed packages, there is an egg-info directory that contains metadata for that package:

![image](https://user-images.githubusercontent.com/6044800/90535120-65737780-e12f-11ea-818c-0a82167148ac.png)

ScanCode should detect a Package from the PKG-INFO found in the egg-info directories. For Packages detected in this manner, we should be a

[2020-08-18 16:26] JonoYang commented on #2166
I have tried running `scancode -ipcl /usr/lib/python3/dist-packages/asn1crypto-0.24.0.egg-info/PKG-INFO --json-pp -` on my machine and it appears that scancode is having troubles parsing PKG-INFO files as there is no Package result.

[2020-08-18 18:16] DennisClark commented on #2165
Consider a new open repo just for licenses.  Proposed name:  `scancode-license-reference`

[2020-08-18 18:40] DennisClark commented on #2165
Suggested description: "A reference list of a wide variety of licenses that have been discovered in publicly available software projects, including open source, free proprietary, source available, and commercial license notices. This wide-ranging list may be considered an extension of the more meticulously curated SPDX license list.  The licenses and their texts are available to use in SPDX docume

[2020-08-18 20:20] #2083 closed

[2020-08-19 15:02] rpotter12 commented on #2166
@JonoYang Maybe this can be fixed by changing function name in  line https://github.com/nexB/scancode-toolkit/blob/d2e4f2a3a9a935e9131c9ebb6ce57fc311bb9a24/src/packagedcode/pypi.py#L143 by `parse_unpackaged_source`. You can try this. :)

[2020-08-19 19:28] pombredanne opened #2168 "Incorrect license in documentation"
See https://scancode-toolkit.readthedocs.io/en/latest/license.html

[2020-08-19 22:49] JonoYang commented on #2166
@rpotter12

I have done your suggestion and replaced `parse_pkg_info` with `parse_unpackaged_source` on line 143 of `scancode-toolkit/src/packagedcode/pypi.py` and I am still encountering the same problem where the PKG-INFO file is not being parsed.

[2020-08-20 00:39] rpotter12 commented on #2166
@JonoYang after editting the code, navigate to that folder where the file is and then run command `scancode -ipcl PKG-INFO --json-pp -`. May this will get success. It worked for me.:)

[2020-08-20 09:11] rpotter12 commented on #2166
BUG:
I have edited some code then used command `scancode -ipcl /usr/lib/python3/dist-packages/asn1crypto-0.24.0.egg-info/PKG-INFO --json-pp -` but it didn't give me any output for packages but when navigate to that directory and run command `scancode -ipcl PKG-INFO --json-pp -` it gives me desired output for packages. It happen for some other files too. We need to fix this too.

[2020-08-20 15:28] #2166 closed

[2020-08-20 20:46] pombredanne commented on #2072
So the way this would typically work out would be IMHO this:
1. there is a single MANIFEST.in file that excludes `tests/` and `docs` and includes the `thirparty/`
2. somehow there is a script that is launched and that accepts as option something like `--os window or linux or macox`, `--arch 32 or 64` and `--python 36, 37, etc` ... these should normally be the same value as the wheel tags. And also

[2020-08-20 20:55] Abhishek-Dev09 commented on #2072
@altendky : Your suggestion are also welcome here.

[2020-08-20 21:41] Abhishek-Dev09 commented on #2072
@pombredanne : Only sdist/wheels are available in thirdparty not ABOUT,NOTICE because we are using `pip-download` here, that will be integrated with `romp` because `romp` will provide matrix for python/os/ach.

[2020-08-21 07:48] qduanmu opened #2170 "Duplicates in license detection result"
The content of scanning file is:
`{ "ZPL-2.0", new LicenseData(licenseID: "ZPL-2.0", isOsiApproved: true, isDeprecatedLicenseId: false, isFsfLibre: true) }`

The license detection result is below:
[code]

* What OS are you running on? Linux
* What version of scancode-toolkit was used to generate the scan file? 3.1.1.post848.57dab7d24
* What installation method was used to install/run scancode? sou

[2020-08-24 16:06] adambhere commented on #1748
I've come across this same problem running scancode 3.0.2 on ubuntu 18.04. The directory named "rcs" was ignored by scancode, but not its contents. It seems to me that it might be a good idea not only to remove "RCS" from the ignored list but also to make checks case sensitive (except on Windows) -- get_matches() in fileste.py changes the case of the item to be ignored to lower and I suggest it sh

[2020-08-24 16:55] pombredanne commented on #1748
@adambhere Let's create a new ticket for that then. Do you have the same problem using the tip of the develop branh?

[2020-08-24 19:35] armijnhemel opened #2171 "BSD license recognized as EPL"
### Description

BSD license is recognized as EPL

https://bitbucket.org/nielsenb/aniso8601/raw/6bcea1cd4c50134bb6f3825cf3cd7f79cda039b9/aniso8601/builders/python.py

### How To Reproduce

Download https://bitbucket.org/nielsenb/aniso8601/raw/6bcea1cd4c50134bb6f3825cf3cd7f79cda039b9/aniso8601/builders/python.py
Run scancode

### System configuration

Linux
57dab7d242e17e1e74b412ec893188f9dfc39d0a

[2020-08-25 06:23] pombredanne opened #2172 "Incorrect copyright detection"
### Description

With `+// Copyright 2018-2019 @paritytech/substrate-light-ui authors & contributors` the copyright is detected as :

[code]

[2020-08-25 06:45] pombredanne commented on #2171
Thank you ++ for the report, as usual!

[2020-08-25 08:44] pombredanne opened #2173 "Bump dparse to 0.5.0 (not to latest 0.5.1)"
### Description

v0.4.x is buggy and  vendors a buggy version toml
v0.5.1 does not support Py2 anymore
Therefore for now we will use 0.5.0 short term.

[2020-08-25 09:18] armijnhemel opened #2174 "AGPLv3 reference recognized as GPLv2"
### Description

https://github.com/openimis/openimis-be-api_fhir_py/blob/master/LICENSE.md

is recognized as:

AGPL-3.0-only
GPL-2.0-only
Kevan Stannard License

while it should only be AGPL.

### How To Reproduce

get
https://github.com/openimis/openimis-be-api_fhir_py/blob/master/LICENSE.md

and run scancode
### System configuration

Linux
57dab7d242e17e1e74b412ec893188f9dfc39d0a

[2020-08-25 09:49] adambhere opened #2175 "Fail to scan directory"
### Description

This issue is related to https://github.com/nexB/scancode-toolkit/issues/1748.

A directory named "rcs" was ignored by Scancode 3.0.2 (and 3.1.1), but not its contents. Scancode threw a KeyError exception and the results did not cover the complete target directory tree.

The latest versions of Scancode remove "RCS" from the ignore list, but this seems a partial solution, it would

[2020-08-25 09:50] adambhere commented on #1748
@pombredanne We have plans to move to it, but the decision is out of my hands.

[2020-08-25 10:02] armijnhemel opened #2176 "AGPL3 only recognized as "or later""
### Description
https://raw.githubusercontent.com/openimis/openimis-be-api_fhir_py/master/setup.py

recognized as:

        "agpl-3.0-plus",
        "agpl-3.0"

but there is no "or later" in the file.

### How To Reproduce

https://raw.githubusercontent.com/openimis/openimis-be-api_fhir_py/master/setup.py
run scancode

### System configuration

Linux
57dab7d242e17e1e74b412ec893188f9dfc39d0a

[2020-08-25 11:48] armijnhemel opened #2177 "GFDL detected where none present"
### Description

https://bitbucket.org/nielsenb/aniso8601/raw/6bcea1cd4c50134bb6f3825cf3cd7f79cda039b9/aniso8601/interval.py

is recognized as:

        "bsd-new",
        "gfdl-1.1"

but there is no gfdl

### How To Reproduce

### System configuration

Linux
57dab7d242e17e1e74b412ec893188f9dfc39d0a

[2020-08-25 11:58] armijnhemel commented on #1930
Verified, closing

[2020-08-25 11:58] #1930 closed

[2020-08-25 13:44] pombredanne commented on #2175
Thank you ++...

For reference if someone does not know about it, the RCS we are talking about is this (ancient) system: https://en.wikipedia.org/wiki/Revision_Control_System

[2020-08-25 15:05] mjherzog commented on #2175
I remember RCS!

[2020-08-25 15:25] DennisClark commented on #2165
Consider something like `LicenseDB`

[2020-08-25 15:48] pombredanne commented on #2065
See also https://github.com/nexB/license-expression/issues/50

[2020-08-25 21:21] pombredanne commented on #2023
@rpotter12 this would be a ticket of interest

[2020-08-25 21:29] rpotter12 commented on #2023
@pombredanne I will look at this. Thanks :)

[2020-08-26 08:30] pombredanne opened #2178 "Ensure that wheels with native have all the same version"
We have wheels that are for different platforms AND have a different version because they were built from different C/C++ source code versions and patches. For instance:

- extractcode_7z-16.2.2.1-py2.py3-none-manylinux2014_x86_64.whl
- extractcode_7z-16.2.4.1-py2.py3-none-macosx_10_13_intel.whl
- extractcode_7z-16.4.1-py2.py3-none-win_amd64.whl
- extractcode_7z-16.4.1-py2.py3-none-win32.whl
- ext

[2020-08-26 08:50] pombredanne opened #2179 "Fix Click version constraints issues and update Click"
ERROR: aboutcode-toolkit 4.0.1 has requirement click<7.0,>=6.7, but you'll have click 7.1.2 which is incompatible.
ERROR: scancode-toolkit 3.1.2 has requirement click<7.0.0,>=6.0.0, but you'll have click 7.1.2 which is incompatible.

[2020-08-26 08:51] pombredanne commented on #2179
See this https://github.com/nexB/aboutcode-toolkit/issues/429  too

[2020-08-26 08:52] pombredanne commented on #2179
The click update is going to be a bit complicated as we have some dependencies on internals, but we will need to do this.

[2020-08-26 08:56] pombredanne opened #2180 "TODO to upload wheels to our PyPI-like repo"
- Check out develop

- rename wheels with natives to the same version/base name
See https://github.com/nexB/scancode-toolkit/issues/2178

- edit setup.py to replace:
`'click >= 6.0.0, < 7.0.0',` by `'click >= 6.0.0',`
there is a ticket in scancode and aboutcode-toolkit for this ... see https://github.com/nexB/scancode-toolkit/issues/2179

- `./configure --clean && ./configure  && source bin/activa

[2020-08-26 09:11] AyanSinhaMahapatra opened #2181 "Sentence Classification using BERT/ernie"
Ernie -  https://github.com/labteral/ernie

Use Cases -

1. Determining License Class (Text/Notice/Tag/Reference) of Generated Rule Texts
2. Separating False Positives from License Tags.

Steps -

1. Fine Tune BERT models on License Texts
2. Train Models on Scancode Rules (For Determining License Class)
3. Train Models on Scancode Rules (Separating False Positives in License Tags)
4. Model Validat

[2020-08-26 09:54] pombredanne commented on #2171
@AyanSinhaMahapatra here are tow interesting very closely related texts to the original reference by @armijnhemel :+1:
[code]

- https://github.com/acscreative/continentalpools-dev/blob/9692a9883e63d03408832417859fd065eeb6bf20/wp-content/plugins/post-smtp/Postman/Postman-Mail/mailgun/vendor/mailgun/mailgun-php/src/Mailgun/Exception/HydrationException.php#L6

[code]

- https://github.com/danivand/c

[2020-08-26 10:36] Abhishek-Dev09-zz opened #2182 "Direction for generating requirements file"
For example:

`'ftfy <  5.0.0; python_version == "2.7"',
'ftfy>=  5.0.0; python_version > "3"',`
See this issue at jazzband/pip-tools#1202
 For pinning such wheels , we need to drop py2 support. For now remove such constraint , keep only python 3 package in setup.py .

For creating requirements files with hashes for all os/arch/python

- PYTHON_EXE=python3 ./configure
- source bin/activate
- pip i

[2020-08-26 12:35] pombredanne commented on #2182
@Abhishek-Dev09 re:

Could we use an older version of ftfy on Python 3.0?

[2020-08-26 12:37] Abhishek-Dev09 commented on #2182
Don't know if we dont remove `python_version` , Then you will not get this package in requirement files.

[2020-08-27 09:15] LeChasseur commented on #2171
I had the same issue with the following additional aspect (which seems strange to me): the same header is interpreted differently, i.e.: https://bitbucket.org/nielsenb/aniso8601/src/master/aniso8601/interval.py creates the result BSD-3-Clause and GFDL-1.1-only, all other files of the package create the result EPL-1.0

[2020-08-27 09:37] armijnhemel opened #2185 "psycopg: LGPL2 false positive"
### Description

https://raw.githubusercontent.com/psycopg/psycopg2/master/lib/__init__.py

reports both LGPL2 and LGPL3. The header contains the phrase "version 2" but that refers to the version of the package.

### How To Reproduce
https://raw.githubusercontent.com/psycopg/psycopg2/master/lib/__init__.py
run scancode

### System configuration

Linux
57dab7d242e17e1e74b412ec893188f9dfc39d0a

[2020-08-27 09:46] armijnhemel opened #2186 "psycopg2: GPL3 false positive and OpenSSL exception missed"
### Description

https://raw.githubusercontent.com/psycopg/psycopg2/master/lib/_ipaddress.py

reports GPL3 and LGPL3, but it is only LGPL3. In addition, the OpenSSL exception is missed.

### How To Reproduce

https://raw.githubusercontent.com/psycopg/psycopg2/master/lib/_ipaddress.py
run scancode

### System configuration

Linux
57dab7d242e17e1e74b412ec893188f9dfc39d0a

[2020-08-27 09:49] armijnhemel opened #2187 "psycopg2: AGPL false positive and missed OpenSSL exception"
### Description

https://raw.githubusercontent.com/psycopg/psycopg2/master/lib/_json.py

AGPL and LGPL reported (it is only LGPL), OpenSSL exception missed

### How To Reproduce

### System configuration

Linux
57dab7d242e17e1e74b412ec893188f9dfc39d0a

[2020-08-27 09:54] armijnhemel commented on #1995
Extreme example: https://github.com/jslicense/spdx-correct.js/blob/master/index.js

[2020-08-27 11:18] armijnhemel opened #2188 "psycopg2: LGPL 2.0 and LGPL 2.1 false positive, missed LGPL3 and OpenSSL exception"
### Description

https://raw.githubusercontent.com/psycopg/psycopg2/master/lib/errors.py

Reported: LGPL 2.0 and 2.1, missed LGPL 3.0 and OpenSSL exception

### How To Reproduce

### System configuration

Linux
57dab7d242e17e1e74b412ec893188f9dfc39d0a

[2020-08-27 11:26] LeChasseur commented on #2188
I want to add that the same license header leads to various results, compare with
https://raw.githubusercontent.com/psycopg/psycopg2/master/lib/extensions.py
and
https://raw.githubusercontent.com/psycopg/psycopg2/master/lib/errorcodes.py (without OpenSSL exception)

[2020-08-28 13:32] fviernau opened #2189 "develop: False positive detections for `facebook-patent-rights-2`"
### Description

I wanted to try-out the upcoming 3.2 release and therefore used revision 3068680.
I compared the scan results against the ones from ScanCode 3.0.2.
For `facebook-patent-rights-2` revision 3068680 reports false positive detections which were not reported in version 3.0.2

### How To Reproduce

Run this bash script:
[code]

Outcome: finding point to:
- binary data
-    ```
     this

[2020-08-28 18:06] DennisClark opened #2190 "Delete license ogc-2006 which is a duplicate of ogc-1.0"
Delete license ogc-2006 which is a duplicate of ogc-1.0.

Note that ogc-1.0 is equivalent to SPDX license OGC-1.0.

[2020-08-31 09:07] pombredanne commented on #2190
@DennisClark Thanks! note that we would not delete, but rather do these steps:
1. mark the `ogc-2006` license with `is_deprecated: yes`
2. reassign all rules and tests that referenced to `ogc-2006` to `ogc-1.0`

[2020-08-31 09:22] pombredanne commented on #2172
For instance from https://github.com/paritytech/substrate-light-ui/blob/8bd2362a0c68b1d6835e2a19d73e0dc896cff5e3/packages/electron-app/src/main/app/menu.ts

[2020-08-31 09:23] pombredanne commented on #2174
Thank you++

[2020-08-31 09:24] pombredanne commented on #2171
@LeChasseur thank you for the additional details that's helpful to help investigate!

[2020-08-31 09:29] pombredanne commented on #2171
I am attaching the set of current rules and exact files that are at play to help create the unit tests later.
[ticket-2171.zip](https://github.com/nexB/scancode-toolkit/files/5149521/ticket-2171.zip)

[2020-09-01 12:23] Abhishek-Dev09 opened #2192 "Showing warnings on offline install of scancode"
Branch- 295-./configure
cmd to run= PYTHON_EXE=python3 ./configure

[code]
Expected : Don't show warning , instead look components in thirdparty

[2020-09-01 15:48] AyanSinhaMahapatra opened #2197 "GUI based Review Framework for New Scancode Rules"
pyQT -  https://doc.qt.io/qtforpython/tutorials/index.html

Use Cases -

1. Reviewing and Editing proposed Rules/.yml Files using a GUI
2. Reviewing and testing the Different Stages of the Analysis Pipeline

Steps -

1. Create Loading/Storing Functions for Rules
2. Design the GUI
3. Add subsequent Buttons/Functions to enable editing/reviewing
4. Add keyboard control for speed
5. Add functionality

[2020-09-01 16:02] AyanSinhaMahapatra opened #2198 "Extensive Tests for scancode-results-analyzer"
Test All Functions/Functionality of [scancode-results-analyzer](https://github.com/nexB/scancode-results-analyzer)

1. Load All Test Data created from the issues -

     - https://github.com/nexB/scancode-toolkit/pull/1963#issuecomment-597325721
     - https://github.com/nexB/scancode-toolkit/issues/863#issuecomment-599508641

2. Add tests for all functions in PRs - https://github.com/nexB/scancod

[2020-09-01 16:10] AyanSinhaMahapatra opened #2199 "Docker based Containers for easy deployment and Documentaion"
`scancode-results-analyzer` uses a lot of third-party dependencies, as it handles a wide range of tasks like

- Pandas based preliminary Data Cleaning and Attribute-based Classes - https://github.com/nexB/scancode-toolkit/issues/2052
- NLP Models - https://github.com/nexB/scancode-toolkit/issues/2181
- GUI review Frameworks - https://github.com/nexB/scancode-toolkit/issues/2197
- GPU/Multi-threadi

[2020-09-01 16:51] pombredanne opened #2200 "New and improved licenses"
From @tsteenbe :

[2020-09-01 18:41] JonoYang opened #2201 "Hidden Resource attributes are shown in scan results when running scancode on Python 3.7"
After getting the latest version of scancode dependencies that work with Python 3.7, I was able to run scancode toolkit. However, there is an issue with the results where all the attributes of a Resource is shown in the scan results.

[code]
The fields `location`, `rid`, `pid`, `cache_location`, `is_file`, `is_filtered`, `children_rids`, `size_count`, `files_count`, `dirs_count`, `scan_errors`, `s

[2020-09-01 20:26] pombredanne commented on #2176
Thanks!
the match is that:
[code]
which means we are missing a rule for this variant     license='GNU AGPL v3',

[2020-09-02 06:35] AyanSinhaMahapatra commented on #2181
Preliminary Results on sentence classification with BERT/ERNIE

1. Determining License Class (Text/Notice/Tag/Reference) of Generated Rule Texts

   - Model - BertBaseUncased (Weights 0.5 GB)
   - Sentence Length - 8
   - Labels - 2 (False Positive/License Tag)

After 4 Epochs of Fine-Tuning with learning rate 2e-5

   - accuracy on the training data (90%): 0.9948
   - accuracy on the validation d

[2020-09-02 06:41] AyanSinhaMahapatra commented on #2181
@pombredanne @majurg Update. I will create a PR with the Code today.

[2020-09-02 12:19] antgel commented on #2021
Thanks to all who contributed to this issue. It would be great to have a release containing the fix. :)

[2020-09-02 13:14] pombredanne commented on #2021
@antgel It is coming :) I am furiously merging branches at the moment and should tag a release either today or tomorrow !
Thank you for your patience!

[2020-09-02 13:14] pombredanne commented on #2021
@antgel note that you should be able to use the tip of the develop branch alright in the meantime

[2020-09-02 13:19] pombredanne opened #2203 "Simplify branching model"
We de-facto use the gitflow branching model at https://nvie.com/posts/a-successful-git-branching-model/
BUT the "master/develop" branches are making double duty and serve not purpose.
In practice all the code merged in develop is immediately usable in production.
Therefore I suggest we switch to a simpler branching model which is the de facto model we use today:
1. one single default branch called

[2020-09-02 13:56] tdruez commented on #2201
Same issue on my side with Python3.6

[2020-09-02 14:13] majurg commented on #2203
:+1: I am all for this change

[2020-09-02 15:57] mjherzog commented on #2203
I am not any expert in this area. The assertion that "all code merged in develop is immediately usable in production" seems highly optimistic over any longer period of time. I think that we need to get back into a cadence of more frequent minor releases.

[2020-09-02 16:57] DennisClark commented on #2190
@pombredanne   This still needs to be done, please.  We only need ogc-1.0 and not this one.

[2020-09-03 05:55] vvscloud opened #2204 "How to find the files without licenses/copyright using this tool? is there a flag for that?"
### Description

### System configuration

* Linux
* What installation method was used to install/run scancode? source

[2020-09-03 07:07] fb33 opened #2205 "AttributeError raised for some projects"
### Description

Hello

I run ScanCode (3.0.2) through ORT in docker.
I've got that king of error :

[code]

it occurs on several projects.

Is it a configuration problem from my part or a scancode issue ?

### How To Reproduce

Take a maven project with that dependency
[code]

Here the scanCode command line options :
`--copyright --license --info --strip-root --timeout 300 --ignore *.ort.yml --ig

[2020-09-03 08:36] pombredanne commented on #2205
Thank you for the report!
Can you try to run the same commend using a check of the `develop` branch of scancode-toolkit?
This bug has likely been fixed there already per https://github.com/nexB/scancode-toolkit/issues/1362

It worked for me:
[code]

[2020-09-03 09:37] pombredanne opened #2206 "Incorrect license detections"
This attached zip reported privately contains files with incorrect or inaccurate detected licenses
[InterestingScanFiles.zip](https://github.com/nexB/scancode-toolkit/files/5167628/InterestingScanFiles.zip)

[2020-09-03 10:30] #2035 closed

[2020-09-03 11:08] knbknb commented on #1950
This is perhaps an out-of-memory error. This might happen because your system is short on RAM and/or it has no swapfile.

try this on the command-line, if you are using linux:

 `grep -i oom /var/log/syslog | tail -100`

This filters the syslog for "oom" - Out of Memory signals.

For me it looks like this:

[code]

indeed indicating that my host was out of memory when running `scancode` .

[2020-09-03 11:27] pombredanne commented on #2201
This happens when you install scancode and do not use the bundled dependencies. attrs==20.1.0 is the source of the issue (we were using a pinned attrs==19.3.0 before
I cannot see in https://github.com/python-attrs/attrs/compare/19.3.0...20.1.0 something obvious that would cause this to change and @hynek changelog does not list a backward incompatible change there either

The place where this likel

[2020-09-03 11:35] rpotter12 commented on #1974
It is implemented now.

[2020-09-03 11:35] #1974 closed

[2020-09-03 11:37] rpotter12 commented on #2036
It is implemented in #2075

[2020-09-03 11:37] #2036 closed

[2020-09-03 12:31] fb33 commented on #2205
Hello,
I installed Scancode from branch develop
But when I ran scancode, I ve got a memory error:
[code]

[2020-09-03 13:44] hynek commented on #2201
Could this be related to https://github.com/python-attrs/attrs/pull/684?

[2020-09-03 13:46] pombredanne commented on #2189
Thank you ++
Note that to help with finding more about the issue I use this:
`scancode -l --license-text --license-text-diagnostics --json-pp -`

[2020-09-03 14:06] pombredanne commented on #2189
See also https://github.com/numpy/numpy/pull/17238

[2020-09-03 14:18] pombredanne commented on #2201
@hynek Thank you++ for the hint. Let me check that right away!

[2020-09-03 15:44] pombredanne commented on #2189
And FYI, https://github.com/numpy/numpy/pull/17238 has been merged in numpy

[2020-09-03 16:53] pombredanne commented on #2201
@hynek I confirm that python-attrs/attrs#684 solves the issue!
Thank you ++
There is nothing best than a bug fixed before it is even reported! :bow:

IMHO this warrants a new PyPI release ASAP as this is a breaking change without this fix.

[2020-09-03 19:57] pombredanne commented on #2160
Thank you and sorry for the late reply. Somehow it may be the same or related to this other bug https://github.com/nexB/scancode-toolkit/issues/2106

[2020-09-04 04:02] hynek commented on #2201
Yes, I'll try to get out a bugfix release this week.

[2020-09-04 06:07] pombredanne opened #2207 "Improve proprietary license detection"
See https://raw.githubusercontent.com/sjh37/EntityFramework-Reverse-POCO-Code-First-Generator/master/LICENSE
@johnmhoran  FYI

[2020-09-04 07:37] pombredanne commented on #2201
@tdruez Thank you: you are awesome (I truly mean this)
In the meantime, we will test things out in more contexts.

[2020-09-04 14:15] pombredanne opened #2208 "Add new YAML output formatter option"
## Short Description
While often less practical than JSON for large volume of data, YAML is convenient for small outputs and much more readable by humans.

[2020-09-04 14:55] pombredanne commented on #2190
@DennisClark ack :+1:

[2020-09-04 16:34] pombredanne commented on #2201
I thought for a sec that I could get away with a temp use of an `attrs2` https://github.com/nexB/attrs/pull/1 but I would also need to rename the packages as attrs is a dependency for other deps of ours too. So instead, I will apply a local workaround until there is a new release upstream

[2020-09-04 16:48] hynek commented on #2201
Just `attrs!=20.1.0`?

[2020-09-04 17:28] pombredanne commented on #2201
@hynek good point, but I had recently relaxed the version constraints in https://github.com/nexB/scancode-toolkit/commit/30a707068e82833429f4b0f433ee214d6bddd4ef  and there was a reason that I am trying to track down

[2020-09-04 17:50] pombredanne commented on #2201
@hynek Thank you! That's so much simpler :facepalm:

[2020-09-04 19:56] pombredanne commented on #2201
Fixed with https://github.com/nexB/scancode-toolkit/pull/2209
Thank you all!

[2020-09-04 19:56] #2201 closed

[2020-09-05 11:09] pombredanne opened #2210 "Validate that all licenses (and their URLs) are detected from https://directory.fsf.org/wiki?title=Category:License"
There are about ~240 URLs and licenses listed at https://directory.fsf.org/wiki?title=Category:License
We should:
1. ensure that we can detect all of them
2. ensure that we can detect their URL
We should also add as an "other_urls" ech URL to the corresponding license YAML

[fsf-license-urls.txt](https://github.com/nexB/scancode-toolkit/files/5177958/fsf-license-urls.txt)

[2020-09-06 10:17] pombredanne opened #2211 "Consider collecting Yocto and OE license checksums"
License file cecksums are routinely used in OpenEmbedded and Yocto to identify licenses. We could have a specific way to detect these explicitly in license detection.

See https://www.openembedded.org/wiki/Recipe_License_Fields#LIC_FILES_CHKSUM
See https://github.com/search?q="LIC_FILES_CHKSUM"&type=Code

[2020-09-07 13:50] pombredanne opened #2212 "Some text files are processed with null bytes"
There are some rare cases where a file pretends to be a text file, but contains null bytes further past its start and well beyond the horizon of file type checking. In these cases, we still want to strip null bytes as they can cause all kind of problems downstream and are not super interesting.
As an example the attached [ReadMe.txt](https://github.com/nexB/scancode-toolkit/files/5183388/ReadMe.tx

[2020-09-07 13:58] pombredanne commented on #2190
Fixed in develop. Thank you!

[2020-09-07 13:58] #2190 closed

[2020-09-07 13:58] pombredanne commented on #2200
All fixed in develop. Thank you!

[2020-09-07 13:58] #2200 closed

[2020-09-07 13:58] pombredanne commented on #2206
All fixed in develop.

[2020-09-07 13:58] #2206 closed

[2020-09-07 13:58] pombredanne commented on #2186
Fixed in develop. Thank you

[2020-09-07 13:58] #2186 closed

[2020-09-07 13:58] pombredanne commented on #2187
Fixed in develop. Thank you

[2020-09-07 13:58] #2187 closed

[2020-09-07 13:58] pombredanne commented on #2171
Fixed in develop. Thank you

[2020-09-07 13:58] #2171 closed

[2020-09-07 13:59] pombredanne commented on #2174
Fixed and merged in develop.

[2020-09-07 13:59] #2174 closed

[2020-09-07 13:59] pombredanne commented on #2176
Fixed and merged in develop! Thank you!

[2020-09-07 13:59] #2176 closed

[2020-09-07 13:59] pombredanne commented on #2185
Fixed and merged in develop! Thanks

[2020-09-07 13:59] #2185 closed

[2020-09-07 13:59] lemoshi opened #2214 "Incorrect license detection"
### Description

The license detection is not correct when we scan the file `dd-trace-go.v1/LICENSE` in the bundle. The text below
[code]
is detected as
[code]

The expected result is `Apache 2.0 or BSD3`.

### How To Reproduce

scancode --copyright --license --info --license-diag --license-text --only-findings --is-license-text --strip-root  --processes 4  --json-pp result.json

### System config

[2020-09-07 14:02] pombredanne commented on #2189
This is all fixed in develop now. Thank you ++ for the report!

Note that in order to provide decent examples on how to fix these issues in the future I tried to make small focus commits for everyone's "edification" :smiley_cat:

[2020-09-07 14:02] #2189 closed

[2020-09-07 14:04] pombredanne commented on #1904
This has been fixed and merged in develop with https://github.com/nexB/scancode-toolkit/commit/caf97a5c38d579e02edb286e0945cf2eb5e70baf and https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/gpl-2.0_849.RULE
Test added with b5f6efbb851627164773348c3d28154c3cf4a160

[2020-09-07 14:04] #1904 closed

[2020-09-07 14:04] pombredanne commented on #1905
This has been fixed and merged in develop

[2020-09-07 14:04] #1905 closed

[2020-09-07 14:04] pombredanne commented on #1906
This has been fixed and merged in develop

[2020-09-07 14:04] #1906 closed

[2020-09-07 14:04] pombredanne commented on #1348
This has been fixed and merged in develop

[2020-09-07 14:04] #1348 closed

[2020-09-07 14:04] pombredanne commented on #1907
Fixed and merged in develop.

[2020-09-07 14:04] #1907 closed

[2020-09-07 14:04] pombredanne commented on #1908
Fixed in develop

[2020-09-07 14:04] #1908 closed

[2020-09-07 14:04] pombredanne commented on #1911
Fixed and merged in develop. Thanks!

[2020-09-07 14:04] #1911 closed

[2020-09-07 14:04] pombredanne commented on #1910
Fixed and merged in develop. Thanks!

[2020-09-07 14:04] #1910 closed

[2020-09-07 14:14] pombredanne commented on #2214
Welcome back and thank you for the report!

[2020-09-07 14:26] pombredanne commented on #2214
FWIW, they (@gbbr DataDog) modified the original text of the Apache license to add their copyright to the template which is a rare thing https://github.com/DataDog/dd-trace-go/blame/v1/LICENSE#L211

[2020-09-07 14:57] pombredanne commented on #2188
Thank you ++ for the reports. These have been fixed and merged in develop

[2020-09-07 14:57] #2188 closed

[2020-09-07 14:59] pombredanne commented on #2177
Thank you ++ for the report. Fixed and merged in develop

[2020-09-07 14:59] #2177 closed

[2020-09-07 15:02] pombredanne commented on #1933
This has been merged in develop. Thanks!

[2020-09-07 15:02] #1933 closed

[2020-09-07 15:03] pombredanne commented on #1932
This has been fixed and merged in develop

[2020-09-07 15:03] #1932 closed

[2020-09-07 15:09] pombredanne commented on #1931
This has been fixed and merged in develop

[2020-09-07 15:09] #1931 closed

[2020-09-07 15:30] pombredanne commented on #1929
This has been fixed and merged in develop

[2020-09-07 15:30] #1929 closed

[2020-09-07 15:33] pombredanne commented on #1928
This has been fixed and merged in develop. Thanks!

[2020-09-07 15:33] #1928 closed

[2020-09-07 15:34] pombredanne commented on #1927
This has been fixed and merged in develop. Thanks!This has been fixed and merged in develop

[2020-09-07 15:34] #1927 closed

[2020-09-07 15:36] pombredanne commented on #1926
This has been fixed and merged in develop.

[2020-09-07 15:36] #1926 closed

[2020-09-07 15:37] pombredanne commented on #1925
This has been fixed and merged in develop.

[2020-09-07 15:37] #1925 closed

[2020-09-07 15:47] pombredanne commented on #1920
This has been fixed and merged in develop.

[2020-09-07 15:47] #1920 closed

[2020-09-07 15:47] pombredanne commented on #1921
This has been fixed and merged in develop.

[2020-09-07 15:47] #1921 closed

[2020-09-07 15:47] pombredanne commented on #1923
This has been fixed and merged in develop.

[2020-09-07 15:47] #1923 closed

[2020-09-07 15:47] pombredanne commented on #1922
This has been fixed and merged in develop.

[2020-09-07 15:55] pombredanne commented on #1919
Fixed and merged in develop

[2020-09-07 15:58] pombredanne commented on #1918
Fixed and merged in develop. Now reported as gpl-3.0-plus

[2020-09-07 15:58] #1918 closed

[2020-09-07 16:01] pombredanne commented on #1917
All fixed and merged in develop. Thanks!

[2020-09-07 16:01] #1917 closed

[2020-09-07 16:04] pombredanne commented on #1915
Thanks. All fixed and merged in develop

Note that ScanCode always scans everything .

[2020-09-07 16:04] #1915 closed

[2020-09-07 16:05] pombredanne commented on #1914
This has been fixed and merged  in develop, thank you!

[2020-09-07 16:05] #1914 closed

[2020-09-07 16:06] pombredanne commented on #1912
This has been fixed and merged in develop, thank you!

[2020-09-07 16:06] #1912 closed

[2020-09-07 16:07] #1919 closed

[2020-09-07 16:08] pombredanne commented on #1924
Fixed and merged in develop

[2020-09-07 16:08] #1924 closed

[2020-09-07 16:30] fviernau commented on #2189
Thanks @pombredanne for fixing these before the 3.2 release, helps a lot! Cheers F

[2020-09-07 16:30] pombredanne commented on #1887
This has been fixed with https://github.com/nexB/scancode-toolkit/commit/01feaad2f4a6ea2f422dcec520ab2348de23e7f3 and merged in develop.

[2020-09-07 16:30] #1887 closed

[2020-09-07 16:31] pombredanne commented on #1873
This is fixed in develop, so closing.
Release tag coming soon at a repo near you!

[2020-09-07 16:37] pombredanne commented on #1841
This has been fixed and merged in develop

[2020-09-07 16:37] #1841 closed

[2020-09-07 17:00] pombredanne commented on #1246
I am closing this for now: all licenses are detected alright and there is no plan for now to further support composite licenses such as openssh as they are really a package- or component-specific aggregation of licenses. On the scancode side, it is best and cleaner to detect them one by one.
Feel free to reopen #522  if you feel otherwise!.
Thank you for your patience.

[2020-09-07 17:00] #1246 closed

[2020-09-07 17:01] pombredanne commented on #2207
Fixed and merged in develop!

[2020-09-07 17:01] #2207 closed

[2020-09-07 17:11] pombredanne commented on #2141
This has been fixed in https://github.com/nexB/scancode-toolkit/commit/2f696a79d12679f7bdaca072a31e2d8d481264fe and merged in develop. Thanks!

[2020-09-07 17:11] #2141 closed

[2020-09-07 17:28] #2212 closed

[2020-09-07 18:52] pombredanne commented on #1380
All merged in develop now. Thank you all!

[2020-09-07 18:52] #1380 closed

[2020-09-08 09:40] lemoshi commented on #2214
Thanks for the quick fix, Philippe!

[2020-09-08 09:40] #2214 closed

[2020-09-08 10:48] pombredanne commented on #2205
Thank you for the report. Do you have the download URL of the code you were scanning?
Also is this consistently happening? And what are the CPU/RAM specs of your machine, which Windows version do you run and which exact Python version 3.6 do you run (and 32 or 64 bits?)?

[2020-09-08 12:42] fb33 commented on #2205
Hello,
Here are some details :
- OS : Windows10 Pro 64b
- CPU : Intel Core i7 9850H
- RAM : 32 Go
- Python : 3.6.8 32b

[2020-09-08 12:47] pombredanne commented on #2205
The latest develop support Windows 64bits, so this is worth a try

[2020-09-08 14:39] fb33 commented on #2205
With the 64b version, it works.
I still have some errors in stdout, but ScanCode ends its scan and generates the report.
Maybe the errors are due to windows and 256 max path file ?...
example of error :
[code]
But my target is to have a scan in docker with ORT, so this is not a blocking issue.
Thanks for your help, now I ll wait an upgrade of ScanCode in ORT :-)

[2020-09-08 15:45] pombredanne opened #2219 "Add "Web Template Output Additional Permission" AGPL exception"
See
- https://github.com/houdiniproject/houdini/blob/main/LICENSE
- https://github.com/conservancy/license-additional-permissions/blob/master/AGPLv3-Web-Template-Output-Additional-Permission.txt
- https://k.sfconservancy.org/license-additional-permissions/

- https://github.com/houdiniproject/houdini/blob/main/lib/query/query_campaign_gifts.rb
[code]

- https://github.com/houdiniproject/houdini/co

[2020-09-08 16:15] pombredanne commented on #2205
Excellent! the limitations on 32bits are around 2GB which are fast used.

Yes this error looks like some Windows maxpath issue, which should have been fixed in https://github.com/nexB/scancode-toolkit/issues/749

[code]

The max was  260 but should no longer be an issue with the latest code... hum :|

Did you try with the latest of the develop branch?

[2020-09-08 18:13] #2042 closed

[2020-09-08 18:13] #1858 closed

[2020-09-08 18:21] pombredanne commented on #2124
This has been fixed and merged in develop

[2020-09-08 18:21] #2124 closed

[2020-09-08 18:21] pombredanne commented on #1913
This has been fixed and merged in develop. Thank ++

[2020-09-08 18:21] #1913 closed

[2020-09-08 18:21] pombredanne commented on #1795
All fixed and merged in develop. Thank you!

[2020-09-08 18:21] #1795 closed

[2020-09-08 18:21] pombredanne commented on #2149
This has been fixed  and merged in develop. Thank you!

[2020-09-08 18:21] #2149 closed

[2020-09-08 18:21] pombredanne commented on #2145
This has been fixed  and merged in develop. Thank you!

[2020-09-08 18:21] #2145 closed

[2020-09-08 18:21] pombredanne commented on #1872
This has been fixed and merged in develop

[2020-09-08 18:21] #1872 closed

[2020-09-08 22:18] JonoYang opened #2220 "Pom.fromstring() crashes when creating a Pom object from a string in pymaven-patch"
I get the error message `ValueError: Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration.` when I run the following code:

[code]

The issue is at https://github.com/nexB/pymaven/blob/v0.2.9.patch-branch/pymaven/pom.py#L423, where the formatted POM string should be encoded to utf-8 before use.

[2020-09-09 06:10] fb33 commented on #2205
Hello,
Yes, I took the latest commit (138abda96) on develop branch.
But windows execution is not in my target, I use scancode through ORT via Docker.
Thanks

[2020-09-09 20:00] pitargue opened #2221 "Invalid value error at cli.py, line 860 of version 3.1.1"
I'm trying to run Scancode in a docker container.  Obviously I don't have all the libraries installed and I can't seem to figure out what's missing.  This is the error I'm getting.

$ /gitdisk/9.4.0h0/scancode-toolkit-3.1.1/scancode -clip -n 72 --json - axis >& scancode_results.json

Setup plugins...
Collect file inventory...
Removing temporary files...done.
Usage: scancode [OPTIONS] <OUTPUT FORMA

[2020-09-09 22:54] pombredanne commented on #2220
See https://pypi.org/project/pymaven-patch/0.3.0/ from https://github.com/nexB/pymaven/pull/3

[2020-09-10 08:10] pombredanne commented on #1739
All merged. Thanks!

[2020-09-10 08:10] #1739 closed

[2020-09-10 08:18] pombredanne commented on #2143
This is for https://github.com/nexB/vulnerablecode/issues/63

[2020-09-10 09:11] pombredanne commented on #293
Actually I would like to revisit this.

[2020-09-10 09:11] pombredanne commented on #293
See also #2203

[2020-09-10 09:28] pombredanne commented on #2221
@pitargue thanks for the report. Let me see what is the issue.
Also could you try to reproduce with the newer 3.2.0rc1 version at https://github.com/nexB/scancode-toolkit/releases/tag/v3.2.0rc1

[2020-09-10 10:04] pombredanne opened #2222 "Simplify scancode's own licensing"
We use today an Apache-2.0 with an extra attribution clause which is already part of the Apache license attribution requirements (NOTICE) and therefore not needed. I suggest that we switch to something simpler with plain apache-2.0 for code and cc0-1.0 for data.
The code notice would become the simpler version below. And we could also adopt an SPDX license identifier and REUSE style conventions. S

[2020-09-10 14:58] CoralineAda commented on #1739
Thanks!

[2020-09-10 15:24] pitargue commented on #2221
Closing issue.  Installed python 3.6 following the directions on the install page, and all is well.  I must of fat fingered the original configuration of the docker image missing some package listed on the install page.  So, pilot error.  :-)

[2020-09-10 15:24] #2221 closed

[2020-09-10 16:58] JonoYang commented on #2220
@pombredanne Thanks you!

[2020-09-10 16:58] #2220 closed

[2020-09-10 17:57] dbrennan opened #2223 "Windows first run fails with Unsupported OS/platform 'win64'"
### Description

Installed Python 3.6 and put on my path. Ran scancode the first time and it errors out.

### How To Reproduce

Unzip and run scancode:

[code]

### System configuration

Windows version 10 19042.421
Scancode 3.1.1
Installed with unzip & running scancode from cmd.exe

[2020-09-10 21:55] pombredanne commented on #2223
@dbrennan Thank you for the report.
Do you mind to try instead the newest release candidate? That's the first one that officially support Windows 64 and Python 3.6 64

See https://github.com/nexB/scancode-toolkit/releases/tag/v3.2.0rc1

[2020-09-10 22:10] pombredanne commented on #1739
And this is in the newest 3.2.0rc1 release

[2020-09-11 06:22] pombredanne opened #2226 "Do not collect expanded detected license texts on binaries"
For gosu binaries, and this license text: `license: GPL-3 (full text at https://github.com/tianon/gosu)`, and `$ scancode -l --license-text gosu --json-pp -` we get this long (truncated here for brevity) "junk":
[code]

[2020-09-11 13:17] #2226 closed

[2020-09-12 07:06] pombredanne opened #2228 "Error when installing restview"
### Description

If I `pip install restview` in my scancode installation, I get:
[code]
We should relax and accept newer versions of pygments

[2020-09-15 13:12] jmastr opened #2229 "Go parser cannot parse go.mod and go.sum files without a namespace"
### Description

Normally an entry to e.g. `go.sum` looks something like this:
[code]
The Go parser parses `github.com/BurntSushi` into `namespace` and `toml` into `name`.

I have this entry:
[code]
Basically the `namespace` portion is missing.

For my concrete issue this is the corresponding source code: https://github.com/nexB/scancode-toolkit/blob/v3.2.1rc2/src/packagedcode/go_mod.py#L253-L254,

[2020-09-15 13:13] jmastr commented on #2229
@rpotter12 Could you have a look at my proposal, please? As far as I can see you are the Go parser maintainer.

[2020-09-15 14:20] rpotter12 commented on #2229
@jmastr Good catch:)
But I think it's better that we should store everything by the way they should be store i.e. namespace should be in namespace and name should be in name. We are not using namespace standalone for now but it will be easier for us in the future if namespace is  needed somewhere else. I think we should change the regular expression in such a way that it detects everything perfect

[2020-09-15 15:03] jmastr commented on #2229
@rpotter12 Thanks.

Could you change the regexes for go.mod and go.sum, so that the namespace can be empty then?

[2020-09-15 15:23] rpotter12 commented on #2229
@jmastr Yes, I will do it soon. :)

[2020-09-15 15:58] rpotter12 commented on #2229
@jmastr Can you give a link of file where `this go.opencensus.io v0.21.0/go.mod h1:mSImk1erAIZhrmZN+AvHh14ztQfjbGwt4TtuofqLduU=` is used?

[2020-09-15 16:40] pombredanne commented on #2229
@rpotter12 here are links :
- https://github.com/census-instrumentation/opencensus-service/blob/57e037c599b75fe2dddf89cb9ada67bf4c8de9fc/go.mod
- https://github.com/census-instrumentation/opencensus-service/blob/57e037c599b75fe2dddf89cb9ada67bf4c8de9fc/go.sum

[2020-09-15 17:10] pombredanne opened #2231 "Bump dependencies and relax some"
Some dependencies are strictly pinned such as Pygments and this may be a source of problem when installed with other packages.
We should consider:
1. bump some requirements to the latest version
2. relax some version constrainst

[2020-09-16 13:10] Angi2412 opened #2232 "Scan freezes"
### Description

I do have a setup, where ScanCode is used in a worker in combination with Redis an RQ. For some time now it was noticed, that sometimes the scan job just freezes. This shows in the CPU usage of the worker container suddenly goes from e.g. 100% to 0% and nothing happens until the container gets restarted. I tested it in various scenarios and it seems the "freezing" only happens dur

[2020-09-17 07:06] soimsoim commented on #2223
Dear @pombredanne ,
I installed scancode by using pip install scancode-toolkit==3.2.0.
And it works well on ubuntu or mac.
However if I try to run scancode on windows, it return below message.

`File "d:\dev_src\git\.venv\lib\site-packages\typecode\magic2.py", line 106, in load_lib
return command.load_shared_library(dll, libdir)
File "d:\dev_src\git\.venv\lib\site-packages\commoncode\command.py",

[2020-09-17 08:32] pombredanne commented on #2223
@soimsoim thank you ++ for the report. This needs to be fixed ASAP!
Did the installation work correctly, no special message?
Can you confirm you ran the pip install inside a virtualenv?
Also do you mind trying `pip install scancode-toolkit==3.2.1rc2` too? (this is a new release candidate, though it should be the same.

[2020-09-17 08:53] soimsoim commented on #2223
@pombredanne
Yes I have also installed 3.2.1rc2, but the result is the same.
This error occurs when loading .venv\lib\site-packages\typecode_libmagic\lib\libmagic.dll file.

[2020-09-17 15:05] pombredanne opened #2233 "Resolve circular module dependencies"
### Description

ScanCode depends on plugins and plugins depend on "plugincode" which is in ScanCode.
"plugincode" also depends on "commoncode" which is also in ScanCode.

Therefore we need to extract "plugincode" and "commoncode" as external wheels to avoid circular dependencies.

[2020-09-17 16:02] pombredanne commented on #2232
@Angi2412 welcome back!
Is your code public by chance? that would help with the debug. It is possible that since scancode uses multiprocessing and multithreading and that rq also uses multiprocessing that there is some unhappy conflict between the two.
1. can you try to reproduce this using the scancode command line directly?
2. based on your output there seems to be some debug logging turned on.

[2020-09-19 12:40] pombredanne commented on #2233
After a chat with @JonoYang and @majurg things are a little more muddied and byzantine. There are weird (even if small) cross-modules dependencies creeping in several places. Here is the story so far as well as the proposed cure.

### Make `commoncode` as its own repo and independent package
- [x] need to remove the dep on `from scancode_config import scancode_root_dir' which should be guarded wit

[2020-09-19 13:09] rpotter12 commented on #2233
@pombredanne This sounds too good. :+1: :)

[2020-09-20 14:39] sankha555 commented on #2210
Hello @pombredanne , I wish to take a try at this issue. Could you please assign it to me? Also, it is my first issue with the toolkit so I would need some guidance over as to what exactly needs to be done in the issue. It would be helpful if you could give me an idea about the "detection" part and what all relevant files need to be referred and changed. Thanks!

[2020-09-21 13:02] msohn opened #2235 "Support exporting license and copyright information in debian copyright format to integrate with REUSE"
## Short Description

In order to use results from scancode in projects adopting REUSE [1] it would be nice if copyright and license information could be exported in debian copyright format [2] which is used in REUSE for non-intrusive bulk licensing. This is useful
e.g. in projects implemented in golang where source code of dependencies is pulled into the `vendor/` folder of the
project's reposito

[2020-09-21 14:48] pombredanne commented on #2235
@msohn that would be awesome indeed. The way it would typically be done might be a output plugin.
And in terms of building blocks the key elements would be:
1. collecting matched license expressions and license texts with `--license  --license-text`
2. collecting copyrights with --copyright and ideally except for these part of licenses with `--filter-clues`
3. using the `debut` library that knows

[2020-09-21 14:52] pombredanne commented on #2210
@sankha555 welcome and thank you for willing to have a look at it!
The first step would be to collect:
1. all the files (with wget  for instance)
2. and also put all the URLs to these files in a file

Then, you want to run license detection on these and carefully review the results for each. If we do not have perfect detection results, you would need to add license detection rules. @AyanSinhaMahap

[2020-09-21 15:05] AyanSinhaMahapatra commented on #2210
Doc on Adding a new License - https://scancode-toolkit.readthedocs.io/en/latest/how-to-guides/add_new_license.html
Similar solved issue - https://github.com/nexB/scancode-toolkit/issues/1983
@pombredanne made some [helpful comments here](https://github.com/nexB/scancode-toolkit/issues/296#issuecomment-284451265)

[2020-09-21 15:06] AyanSinhaMahapatra commented on #2210
@sankha555 Feel free to tag me if you have any issues

[2020-09-21 15:07] AyanSinhaMahapatra commented on #863
@pombredanne Could you take a look at these questions above?

[2020-09-21 15:09] AyanSinhaMahapatra commented on #2210
Also @pombredanne I was solving a similar issue and asked questions [here](https://github.com/nexB/scancode-toolkit/issues/863#issuecomment-599508641) that got sidelined, please check that out :P

[2020-09-21 15:43] rpotter12 commented on #2229
In https://github.com/nexB/scancode-toolkit/pull/2230/files#diff-081f69678b5dd083e0c798c6e4d24645R126 we should use a+ but it doesn't work for me.

I think it will work for all the cases because r'(?P[^\s]+)(\s)+(?P<ns_name>[^\s]+)\s?(?P(.))' in this \s? is used because module line is not having version number so version will be optional in that case and require and exclude line (?P(.)) will detec

[2020-09-21 16:05] #2229 closed

[2020-09-21 16:06] pombredanne commented on #2229
@jmastr thank you for the report and @rpotter12 thank you for the fix with #2230
@jmastr would you be kind enough to test if the latest develop branch works for you?

[2020-09-21 17:54] jmastr commented on #2229
@pombredanne just checked. it works for me. @rpotter12 thank you for the solution!

[2020-09-22 04:20] sankha555 commented on #2210
Thanks a lot for the inputs...I'll try to make the relevant changes in my fork as soon as I am capable of.

[2020-09-22 10:52] Angi2412 commented on #2232
@pombredanne Thanks for the fast response. At the moment the code is not public.
But it turns out this bug didn't occur for a whole week. I think the production machine didn't update ScanCode for some reason.
So i think this bug is resolved with 3.2.0 or the new version of RQ. But if it occurs again, I will reopen this or open a new issue. Thank you very much for the update :D

[2020-09-22 10:52] #2232 closed

[2020-09-22 14:02] pombredanne opened #2236 "Windows 32 failure: "OSError: [WinError 126] The specified module could not be found" during test collection on Windows Py 3.6.8 32 bits only"
We have a new failure on Python 3.6 Windows 32 bits in the CI:
https://dev.azure.com/nexB/44deaec8-15bb-470e-b20f-1e2c33a64c65/_apis/build/builds/2569/logs/189

[code]

Things work fine otherwise on other OS, arches and on Python 2.7.

Using a Windows VM and this https://docs.microsoft.com/en-us/sysinternals/downloads/procmon I was able to trace the failure:
[code]

Somehow `libgcc_s_dw2-1.dll` is

[2020-09-22 14:04] pombredanne commented on #2236
See also https://bugs.python.org/issue41836

[2020-09-22 14:08] pombredanne commented on #2236
This was found after the merge of #2233 's #2234 PR in develop

[2020-09-22 15:46] sankha555 commented on #2210
@pombredanne @AyanSinhaMahapatra I have made a PR to add a new license HESSLA to the dataset of licenses. If there is something missing in my PR, it would be very helpful if you could guide me as to what needs to be done. Based on your inputs I'll also continue with the rest of the URLs.

[2020-09-23 11:11] pombredanne opened #2238 "Unknown license detected"
### Description
In https://raw.githubusercontent.com/oliver-moran/jimp/master/README.md we get these incorrect detections. We should not have an unknown
Reported by @pietbrauer

[code]

[2020-09-23 16:18] pombredanne opened #2240 "Remove unused libraries"
See https://github.com/nexB/scancode-toolkit/commit/62ca88f8436dcd8fc894cda4a7d09696d73d69e8
Some of these may no longer be needed

[2020-09-23 16:20] pombredanne commented on #2240
SPARQLWrapper and urllib3 seem to be not needed at all

[2020-09-23 16:38] pombredanne commented on #2233
Todo on each repo:
1. simplify setup.py version handling
2. create a README for each new repo
3. consider documentation for each new repo
4. review and streamline license (especially with #2222 )
5. what about AUTHORS and Changelogs

[2020-09-23 17:03] pombredanne commented on #2233
We will need a common branch in scancode-toolkit to remove the modules that have been split:
- with removal of the module
- the updates to setup.py
- the new wheels added to thridparty/ for now

[2020-09-23 17:18] pombredanne commented on #2233
Status for now:
- https://github.com/nexB/commoncode has been created by @majurg
- https://github.com/nexB/plugincode has been created by @JonoYang

We will be using the jaraco's skeleton ways with this repo https://github.com/nexB/skeleton

[2020-09-23 17:19] pombredanne commented on #2233
Also todo: add a dependency on plugincode for the binary providers in https://github.com/nexB/scancode-plugins

[2020-09-24 02:21] lemoshi opened #2242 "Incorrect license detection"
### Description

The license detection is not correct when we scan the file `ghostscript-9.25~dfsg+1/contrib/gdevhl12.c` in the bundle `ghostscript_9.25~dfsg+1.orig.tar.xz`. The text below
[code]
is detected as
[code]

The expected result is `AFPL or GPL`

### How To Reproduce

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
Linux
* What version of scancode-toolkit wa

[2020-09-24 08:48] pombredanne opened #2243 "Improve detection of .img file types"
We test the .img "graphic" media files, but we often can see disk images. We should ensure that we detect these correctly.

[2020-09-24 12:51] pombredanne commented on #2242
Good catch.
I can see this in http://git.ghostscript.com/?p=ghostpdl.git;a=blob;f=contrib/gdevhl12.c;h=9f4d617cbfaf75a8dc78b3bfddaf109a8bde2b88;hb=d7d05e0ef54662054e038b421795e6e7dedd1e4a
The code has a properly detected  `public-domain-disclaimer` at the top for reference.
And the exact text for the error is:
[code]
But the file referenced:
- http://git.ghostscript.com/?p=ghostpdl.git;a=blob;f=de

[2020-09-24 13:10] #2238 closed

[2020-09-24 13:14] AyanSinhaMahapatra opened #2246 "Update licensedcode/README.rst"
### Description

The [licensedcode/README](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/README.rst) file is slightly outdated and needs to be updated.

### Link to Documentation Page

https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/README.rst

### Select Category

-  [ ] Inconsistency
-  [ ] New Section Request
-  [x] General Improvement
-  [ ] Typo

[2020-09-24 13:18] AyanSinhaMahapatra commented on #2246
New Changes would possibly be -

1. The `score != match_coverage * rule_relevance` case, where there are extra words.
2. Add this page to the ReadTheDocs documentation (I'll  be doing this)

Etc

[2020-09-24 14:13] chris-liddell commented on #2242
It was not a "good catch". The license and copyright of that file was changed with the permission of the original author.

[2020-09-24 14:31] pombredanne commented on #2242
@chris-liddell thank you for chiming in!

The "good catch" statement was about @lemoshi  having caught the bug we are contemplating here in scancode detection ... not about some other thing.

Fair enough. I think I have way to cope with this using  a "false positive" license detection rule to avoid having this trigger an incorrect AFPL or GPL detection. These kind of comments about licenses are al

[2020-09-24 14:35] chris-liddell commented on #2242
Sorry, that came across as bitchier than I intended, I didn't mean to be rude about it.

If there's a "tag" or something that I can add at or near the comment that would be easier, I'm happy to do that?

[2020-09-24 14:45] pombredanne commented on #2242
@chris-liddell re:

We are cool. It could be found rude to be @ tagged on a random github ticket too, so I am grateful that it caught your attention!

I think the best way would be to adopt something similar to the way the Linux kernel documents licenses (which a way that was really started by uboot https://gitlab.denx.de/u-boot/u-boot )

See https://git.kernel.org/pub/scm/linux/kernel/git/stable/

[2020-09-24 14:48] pombredanne commented on #2242
So just to be clear:
Using a comment with a tag such as `// SPDX-License-Identifier: GPL-2.0` using https://spdx.github.io/spdx-spec/appendix-IV-SPDX-license-expressions/  and https://spdx.org/licenses/ for licenses is the way to go.

This would not be tagging a specific comment as not being a license BUT, it would be tagging the whole file as being under a license... so this would bring clarity a

[2020-09-24 15:50] chris-liddell commented on #2242
I assume we're allowed C style comments, so:
/* SPDX-License-Identifier: AGPL-3.0-only */

And does it have to be first line in the file?

Part of our problem is is that *most* of Ghostscript is distributed under APGL *and* commercial licenses. Hence why we don't *generally* mention licenses other that in the LICENSE and doc/COPYING files (let's leave out the situation with the URW++ PCL Truetype

[2020-09-24 16:10] pombredanne commented on #2242
re

Yes, any comment style works. Keeping things on a single line is important though to keep things easy to grep.
FWIW, using the atypical `//` C++ style comments in C code has been a topic of many discussion on LKML and was wanted by Linus to make this stick out ;)

No, that's justs the convention adopted in the Linux kernel that Linus wanted for the licenses to be super prominent. It can be any

[2020-09-24 16:21] chris-liddell commented on #2242
<SNIP>

For the contrib/ AGPL (or other!) licensed files, I can make that call myself. But the rest of the sources that needs a decision from "head office" and possibly reviewed by an attorney. I'm happy to raise the suggestion at the next "full" developers meeting.

Basically, yes.

[2020-09-25 10:19] lemoshi commented on #2242
Hi Chris, thanks for your confirmation and the insight here.

Hi Philippe,
Really appreciate your help again. I learned a lot from this thread.
I'll try to create a pull request with the two rules you suggested above.

[code]

[code]

I have a few questions here:
1. There is no version specified in the text `dual AFPL/GPL`. Is there any rule that requests the `gpl-1.0-plus` should be used instead

[2020-09-25 16:11] pombredanne commented on #2242
@lemoshi you asked:

- For the AFPL, the v8 is not much seen ever so I went with v9.
- For the GPL, all the versions of the license are clear there: https://www.gnu.org/licenses/gpl-3.0.html#section14

What this means practically is that `gpl-1.0-plus` satisfies the "any version ever published" so that's what we use in the cases where the version of the GPL or LGPL is not explicit.

The relevance

[2020-09-25 16:19] pombredanne opened #2249 "Rework the CSV output"
The CSV output is not always super usable and would need to be improved:
- we have too many rows for a single file
- some rows data are not synced across columns

[2020-09-26 14:29] #2236 closed

[2020-09-26 19:44] pombredanne opened #2251 "Remove codecov.io badge OR reinstate support for test coverage aggregation"

[2020-09-28 11:25] sschuberth commented on #972
FYI, we ran into the same issue with [release v3.2.1rc2](https://github.com/nexB/scancode-toolkit/releases/tag/v3.2.1rc2) again: [Semver](https://semver.org/) requires pre-release identifiers to be separated with a dash, i.e. `3.2.1-rc2`. And [ORT](https://github.com/oss-review-toolkit/ort) requires ScanCode to use Semver in order to properly compare ScanCode versions for compatibility of results,

[2020-09-28 13:57] pombredanne opened #2252 "Update contribution guidelines to include doc, changelogs and authors"
This would help keeping these up to date!

[2020-09-28 14:12] pombredanne commented on #972
@sschuberth oh well :grin: sorry for this, but I am still depending on the Python behaviour yet there is a new way that was added... https://github.com/pypa/setuptools/pull/2026 so the next RC should be semver-like

[2020-09-29 14:59] pombredanne opened #2253 "is there an easy way to figure out which python version an installed / configured scancode is using?"
@sschuberth asked:

[2020-09-29 16:18] pombredanne opened #2254 "Incorrect package detection in Kafka 2.6"
### Description
When scanning https://www.apache.org/dyn/closer.cgi?path=/kafka/2.6.0/kafka-2.6.0-src.tgz the attached pom.xml at [pom.xml.txt](https://github.com/nexB/scancode-toolkit/files/5300422/pom.xml.txt) found in `kafka-2.6.0/streams/quickstart/java/src/main/resources/archetype-resources/pom.xml` yield this --package scan:
[code]
This is junk and we should ignore this kind of things

[2020-09-29 18:51] pombredanne opened #2255 "Add support for laternative SPDX identifiers formats"
Reported by @Conan-Kudo
See https://pagure.io/obs-packaging-scripts/blob/master/f/distgit-obsimport.py#_4-14
[code]

There are a few things to consider there:
- Three different prefixes for a license expression
- Three different license symbols lists, the later two being based on different versions of SPDX license lists
- Notice-like text that is not license-specific starting at `This program is f

[2020-09-29 20:55] majurg opened #2256 "NPM dist_mapper fails to decode integrity value properly"
While the `dist` value is not usually present in NPM packages in the wild, it does show up in some situations. Unfortunately (probably since we moved to python3), this code does not work properly when the `integrity` value is a string.

To reproduce (using the docstring example from https://github.com/nexB/scancode-toolkit/blob/c3c92ff121632ea5db835f1c460c7d483a91a5d6/src/packagedcode/npm.py#L567)

[2020-09-29 22:13] pombredanne opened #2257 "Report separately unknown licenses and related non-conclusive license detections"
## Short Description

Several rules are used to detect license reported as "unknown","unknown-license-reference", etc. are mixed with bona fide conclusive license detection rules that point to concrete licenses.
We should split these and deal with them and report them separately (See also #1675 )
The benefit would be clearer separation of actionable license detection results vs. detections that wo

[2020-09-29 22:20] pombredanne opened #2258 "Improve/rework the consolidate/summary scan options"
### Description

Consolidated results could be improved and made better.
For instance scanning the URL listed in this file [download.txt](https://github.com/nexB/scancode-toolkit/files/5302117/download.txt) ended up with this scan
[scancode_result_pypi_csb.json.txt](https://github.com/nexB/scancode-toolkit/files/5302118/scancode_result_pypi_csb.json.txt) with over 500 consolidated packages and com

[2020-09-29 22:24] pombredanne commented on #2258
In another example using the same archive as in  #2254 https://www.apache.org/dyn/closer.cgi?path=/kafka/2.6.0/kafka-2.6.0-src.tgz  @DennisClark reported that  :

Copyright = Copyright (c)

The other consolidated packages and components are either ugly or incorrect.
Scan attached. [kafka-2.6.0-scan.json.zip](https://github.com/nexB/scancode-toolkit/files/5302138/kafka-2.6.0-scan.json.zip)

[2020-09-29 22:29] pombredanne opened #2259 "Add support for DOAP "package" metadata"
While scanning the same archive as in #2254 and https://github.com/nexB/scancode-toolkit/issues/2258#issuecomment-701024567 from https://www.apache.org/dyn/closer.cgi?path=/kafka/2.6.0/kafka-2.6.0-src.tgz there is are a few package manifest that are ignored:
- a build.gradle (See #793 )
- a DOAP rdf file at doap_Kafka.rdf (see attached
[doap_Kafka.rdf.txt](https://github.com/nexB/scancode-toolkit/

[2020-09-29 22:32] pombredanne opened #2260 "Add a new option to hint scancode that we are scanning a single package"
When scanning a single package, there are several assumption that could be made that would make scan and summarization results clearer and easier to review and reuse.
We could hint scancode with a new command line option (such as `--as-package` )
See also https://github.com/nexB/scancode.io/issues/27 for another approach that is possibly complementary or an alternative.

[2020-09-30 08:59] pombredanne commented on #2255
And in https://pagure.io/fedora-rust/rust2rpm @ignatenkobrain has a mapping for Fedora to SPDX https://pagure.io/fedora-rust/rust2rpm/blob/master/f/rust2rpm/spdx_to_fedora.csv and more such as a Cargo->RPM version constraints converter https://pagure.io/fedora-rust/rust2rpm/blob/master/f/rust2rpm/metadata.py

[2020-09-30 09:42] pombredanne opened #2263 "Ensure we can detect simple "computed" Python package versions in setup.py"
### Description
It is a common pattern to have a computed version for a setup.py.
This means that we cannot detect the version in this case. This is even the case in the current scancode-toolkit.
See for instance:
https://github.com/nexB/scancode-toolkit/blob/c3c92ff121632ea5db835f1c460c7d483a91a5d6/setup.py#L101

In simpler cases we should be able to detect the convention of using a "dunder" `__v

[2020-09-30 10:08] pombredanne commented on #2263
We have a possible solution with this https://github.com/pyserial/pyserial/blob/d867871e6aa333014a77498b4ac96fdd1d3bf1d8/setup.py#L34
[code]

which is MIT-licensed https://github.com/pyserial/pyserial/blob/master/LICENSE.txt

[2020-09-30 10:24] daniel-eder opened #2264 "Add Dockerfile to support building Docker images"
## Short Description
Add a Dockerfile to allow building Docker images for ScanCode Toolkit, to avoid dependency management issues and enable a simple workflow to get started.

## Possible Labels
- installation and packaging

## Select Category
-  [ ] Enhancement
-  [ ] Add License/Copyright
-  [ ] Scan Feature
-  [x] Packaging
-  [x] Documentation
-  [ ] Expand Support
-  [ ] Other

## **How This

[2020-09-30 10:29] pombredanne commented on #2263
Using the list of test packages listed in the ticket description, with this:
[code]
we get these results [package-scan.json.txt](https://github.com/nexB/scancode-toolkit/files/5304738/package-scan.json.txt)

A more feature scan with:
[code]
has these results
[Uploading initial.json.txt…]()

[2020-09-30 10:34] pombredanne commented on #2263
Another extra possibility would be to ensure that when we detect: PKG-INFO and a setup.py at the same level in an sdist we merge the package records in a single one, for instance:
- six-1.14.0.tar.gz-extract/six-1.14.0/PKG-INFO
- six-1.14.0.tar.gz-extract/six-1.14.0/setup.py

This would not replace the need to detect dunder versions, but when we have an sdist, PKG-INFO contains an already resolved

[2020-09-30 10:39] daniel-eder opened #2266 "Scan detects Apache-1.1 instead of/in addition to Apache-2.0 in notice files by Apache foundation."
### Description

When scanning projects from the Apache foundation, such as log4j-core, ScanCode mistakenly detects Apache-1.1 license, in addition to the actually used Apache-2.0. The mistaken detection happens on the "notice" files that refer to the copyright holder and/or the license.

A scan with the default options `-clpeui -n 2 --json-pp <file> <directory>` from the "Getting Started" section

[2020-09-30 16:34] pombredanne opened #2267 "Collect plain dunder metadata in Python code"
## Short Description
In  https://github.com/psf/requests/blob/333fa8d3f201f68b82d9e8f26be4987e869fd3bf/requests/__version__.py we have:
[code]
It could be nice to collect these in .py file as package-like data

## Possible Labels

- new feature

## Select Category

-  [ ] Enhancement
-  [ ] Add License/Copyright
-  [ ] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ] Expand Support
-  [ ]

[2020-09-30 18:37] sankha555 commented on #2210
Hello @pombredanne @AyanSinhaMahapatra . Apologies for the delayed response on this issue, had been a bit busy with a series of university exams. Also thanks a lot for merging my previous PR. I have been able to devote some time today to find the licenses of a few more URLs. Shall I make a PR to add them for your review? In that case, it would be helpful if you could  kindly re-open the issue. Tha

[2020-09-30 20:43] pombredanne commented on #2266
Thank you for the report!
See #2257 as it could be a solution
Here there is a rule that detects as `apache-1.1 OR apache-2.0` for this text:
[code]
When using the --license-diagnostics and --license-text option this becomes clearer:
[code]
See https://github.com/nexB/scancode-toolkit/blob/c3c92ff121632ea5db835f1c460c7d483a91a5d6/src/licensedcode/data/rules/apache_5.yml and https://github.com/nexB/

[2020-09-30 21:32] pombredanne commented on #2263
I have a patch that needs testing inspired by @rob-smallshire  and heavily modified from:
https://github.com/pyserial/pyserial/blob/d867871e6aa333014a77498b4ac96fdd1d3bf1d8/setup.py#L34
SPDX-License-Identifier:    BSD-3-Clause
(C) 2001-2020 Chris Liechti <cliechti@gmx.net>

[code]

It gets things mostly right for all these
[code]

[2020-10-01 05:59] daniel-eder commented on #2266
I think that is a good start, although it may not remove the final problem:
E.g. projects around Spring (or in general large Java Projects) often use a lot of components that are either from the Apache Foundation or follow their notice file format. That means one might be faced with hundreds of these - now apache 1.1, later "unknown" detections.

I understand that this is an oddly specific case, b

[2020-10-01 14:02] pombredanne commented on #2266
Here is a chat log with @daniel-eder

the license detection with scancode is fairly simple (conceptually at least) so there is no provision by default to look at anything else but one file when detecting proper... anything that would be taking into account the context (such as is there an Apache 1.1 or 2.0 detected around) would have to be a plugin in the "post scan" step (which would have full la

[2020-10-01 15:41] pombredanne opened #2268 "Add new timescale license"
See https://github.com/timescale/timescaledb/blob/master/tsl/LICENSE-TIMESCALE
and https://blog.timescale.com/blog/building-open-source-business-in-cloud-era-v2/

But we careful as versions have changed over time
https://github.com/timescale/timescaledb/commits/master/tsl/LICENSE-TIMESCALE

We could also treat these as plain proprietary rules.

[2020-10-01 16:33] AyanSinhaMahapatra commented on #2210
@sankha555 Please do! Re-opening the issue.

[2020-10-01 16:36] AyanSinhaMahapatra commented on #2210
So when you open a PR with the line `fixes #issue-no` it [automatically closes ](https://stackoverflow.com/questions/12235620/automatically-closing-issue-from-pull-request-in-github#:~:text=That's%20why%20you%20can%20now,merged%20into%20the%20default%20branch.)the issue when the PR is merged, so refrain from doing that, and just mention that it solves it partially. It's also better if you make the

[2020-10-01 16:56] sankha555 commented on #2210
@AyanSinhaMahapatra Sorry for the inconvenience caused, will take care of this in the future. I have made a PR (#2269 ) for the above. Awaiting comments and reviews!

[2020-10-01 23:20] JonoYang opened #2271 "ScanCode should attempt to find binaries on the system if no LocationProvider for those binaries are available"
For example, if the binary plugin for extractcode or typecode_libmagic is not installed, ScanCode should try to find and use the system-provided binary.

[2020-10-02 07:59] #2242 closed

[2020-10-02 14:41] majurg commented on #2256
This is fixed by #2261, closing.

[2020-10-02 14:41] #2256 closed

[2020-10-04 13:43] AyanSinhaMahapatra commented on #2210
No inconvenience at all! Thanks for your contributions. Just pointing out how it was closed :P

[2020-10-06 17:32] JonoYang opened #2272 "configure script should use Python 3 by default"
When you run`source configure`, scancode is set up with Python 2. We should be using Python 3 since Python 2 is EOL. Some third-party packages are becoming Python 3 only.

[2020-10-07 09:10] pombredanne commented on #1243
Some extra pointers for some minimal implementation of a static analysis:
- https://www.openembedded.org/wiki/Upgrading_packages helps to understand that a package .bb filename is "name_version.bb" and so does this doc: https://www.yoctoproject.org/docs/current/bitbake-user-manual/bitbake-user-manual.html#locating-and-parsing-recipes
- https://www.openembedded.org/wiki/Versioning_Policy documents

[2020-10-07 10:21] pombredanne commented on #1243
@priv-kweihmann FWIW, since I have your attention this ticket is about adding a parser for .bb file metadata so that we can collect them as part of a scancode "package" scan e.g. collect and normalize the bitbake recipe data found in a .bb file to the models we use here: https://github.com/nexB/scancode-toolkit/tree/develop/src/packagedcode and https://github.com/nexB/scancode-toolkit/blob/develop

[2020-10-07 10:31] pombredanne commented on #1243
@chinyeungli ping... Would this be something you can look into?

[2020-10-07 10:44] priv-kweihmann commented on #1243
FWIW if you're not obligated by licensing I would actually recommend to fork the original bitbake parser (which is GPL2) - but sure I can life with using mine too - btw the dependencies shouldn't apply to the parser itself - they are just used for the rules.

[2020-10-07 11:23] pombredanne commented on #1243
@priv-kweihmann you wrote:

ScanCode is Apache-licensed so that would be an issue. The alternative would be  use the original bitbake parser as a command utility (assuming it could be spitting some JSON or similar structure format)
But a quick test shows that the bitbake parser is unusable to parse a single recipe file.
I took http://cgit.openembedded.org/openembedded-core/plain/meta/recipes-core/

[2020-10-07 11:36] pombredanne commented on #1243
The only way out with the regular bitbake parser would be to comment out all the "inherit" directives.
Then the output of the part of interest (e.g. variable declarations that are not super hard to parse) do not even have variables `${}` resolved so that not super useful.  That said I am not sure how I could use your own parser.

[2020-10-07 11:44] priv-kweihmann commented on #1243
I see, in that case it surely won't make much sense to go with the official parser

[2020-10-07 14:36] pombredanne commented on #1243
@priv-kweihmann could I interest you in extracting the parsing parts from https://github.com/priv-kweihmann/oelint-adv as their own library?

[2020-10-07 14:38] priv-kweihmann commented on #1243
Sure when you write me a ticket

[2020-10-07 14:45] pombredanne commented on #1243
@priv-kweihmann sure thing,

Here is a snippet that I used FWIW

[code]

[2020-10-07 16:25] pombredanne commented on #1243
https://github.com/priv-kweihmann/oelint-adv/issues/183 created

[2020-10-08 03:33] chinyeungli commented on #1243
Although, imo, you are in a much better position than I am, I can try :p

[2020-10-09 21:21] publicst commented on #2160
It may be related but I am only running with 4-processes instead of 100 like the other person's issue.
I am running it under Intel Core i7-5930K CPU @ 3.5 GHz with 32 GB.

Under what kind of system is this program expected to run and complete?

[2020-10-12 08:59] pombredanne commented on #2160
@publicst you wrote:

I am sorry you are getting issues!
It routinely runs on machines with a few GB or RAM. It must be a bug with Windows. Can you try the latest version with Python on Windows 64 instead?
It could be a 32 vs. 64 bits thing

[2020-10-12 10:29] fviernau opened #2274 "`UPL-1.0 or Apache-2.0` is detected instead of just `Apache-2.0`"
### Description

Scannning [this line](https://github.com/lightbend/scala-logging/blob/6d0edaf12ee64257b377f7b407eb5d3002e28654/project/Common.scala#L53) results in `upl-1.0 being detected in addition to `apache-2.0` via this [rule](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/upl-1.0_or_apache-2.0_1.RULE).

### How To Reproduce

./scancode in.txt -l --json-pp

[2020-10-13 05:41] fviernau opened #2275 "`elastic-license-2018` is detected instead of `MIT`"
### Description

ScanCode detects `elastic-license-2018` in these lines: https://github.com/felixge/node-delayed-stream/blame/v0.0.6/Readme.md#L139-L141.

### How To Reproduce

scancode Readme.md -l --json-pp out.txt

### System configuration

* Ubuntu 20.04
* ScanCode 3.2.1rc2
* download

[2020-10-13 09:43] SrikanthShyamanur commented on #2059
Is this issue being considered for next release ?

[2020-10-13 13:58] pombredanne commented on #2059
It sure could be, but some help would be mucho welcomed there.
My feeling is that the feature needs to be reset by using something that strictly matches the .gitignore ways, either by testing and fixing it here or by adopting a new library for that.
Some possible inputs:
- @mherrmann https://github.com/mherrmann/gitignore_parser is maintained, tested and has clean code.
- several other such as htt

[2020-10-13 17:14] pombredanne commented on #2274
@fviernau Thanks
The text at play is:
`      licenses := Seq("Apache 2.0 License" -> url("http://www.apache.org/licenses/LICENSE-2.0.html")),`
and if I run `scancode  --license --license-text --license-text-diagnostics ... ` we get:
[code]

The way I would go about solving this would be:
1. edit `upl-1.0_or_apache-2.0_1.yml` to add a `minimum_coverage: 50` as a coverage of 20 (e.g. 10/50 words) is

[2020-10-13 17:20] pombredanne commented on #2275
@fviernau thank you for the report!
So for reference the file is at https://raw.githubusercontent.com/felixge/node-delayed-stream/07a9dc99fb8f1a488160026b9ad77493f766fb84/Readme.md
And the scan with `scancode -l --license-text --license-text-diagnostics --json-pp -` yields this:
[code]

For this, I would set a `minimum_coverage: 50` or 60 in the `elastic-license-2018_1.yml` data file

And I would

[2020-10-14 09:15] hobbeschild commented on #2158
I have the same issue.  Any progress?

[2020-10-14 15:41] pombredanne opened #2277 "Create public web site/app listing all ScanCode licenses and license rules"
The goal is to help to review the matches we have in a license

[2020-10-14 15:43] pombredanne opened #2278 "License data structure: In ouput include SPDX expressions, report matched rule by expression and do not report individual licenses"
In ScanCode output include SPDX expressions, report matched rule by expression and do not report individual licenses. Licenses should be reported as their own top-level "licenses"

[2020-10-14 15:45] pombredanne opened #2279 "Design the data structure for reporting per-license data when we use license expressions"
For use in ABC-TK, ScanCode-TK, ABCMger, etc

[2020-10-14 15:50] pombredanne opened #2280 "Add support for license expressions in ScanCode SPDX output"
This is depends on the completion GSoC SPDX Python library update which is done.

[2020-10-14 15:55] pombredanne opened #2281 "Handle deduplication of packages in a scan"
We should only report a consolidated package once where there are multiple exact duplicates

This needs some experimentation with a real use case project.
There is likely a need to have an option to dedupe in anycase.

[2020-10-14 15:56] pombredanne opened #2282 "Invalid download URLs are becoming common in scans"
We need to investigate what is the cause of the problem.

@pombredanne TODO: check if that it is practical to do a lookup on a compressed table of every name/version of Maven JARs

[2020-10-14 15:56] pombredanne opened #2283 "Add consolidated license expression to --consolidated scan data results"
Also make the consolidated values come right after the identifier.

[2020-10-14 16:17] pombredanne commented on #2277
from @tdruez

[2020-10-14 18:22] pombredanne commented on #2158
we may not yet fully support using Python 3.7 when installing from a release archive unless you install from sources and recompile the native code.
This is however coming up soon: there is no problem with the code, this is only a packaging issue that is solved and comes in the next after newest version
That said, the latest develop branch or the latest release https://github.com/nexB/scancode-tool

[2020-10-14 20:41] pombredanne commented on #2197
@AyanSinhaMahapatra Are you sure about PyQT?
I would not want to use PyQT for several reasons, including licensing.
If we do anything there that would be web-based for sure IMHO.

[2020-10-15 07:53] pombredanne commented on #2164
Sorry for the late reply:

It seems they each file may contain less than 90% of license. inaccurate detection is the likely cause that may be fixed with new rules. We would need to check with --license-text-diagnostics what the actual detailed issues are though.

If there is 90%, yes, they should

Legalese main impact in on ranking matches in the "token set match" step and the subsequent "sequence

[2020-10-15 07:54] pombredanne commented on #863
You may want to run one scan per file for ease of handling too.

[2020-10-15 08:04] pombredanne commented on #863
@AyanSinhaMahapatra you wrote:

This seems like a one off, so you can instead paste the script in the ticket or related PR comment.
The thing though would be to ensure that we are not introducing too much bias with web-scraped texts that are unlikely to be the ones used as real license texts.

In general yes, smaller PRs are easier for new licenses. And for rules, that's OK to have many a batch of

[2020-10-15 09:27] AyanSinhaMahapatra commented on #2197
@pombredanne If using pyqt, at https://pypi.org/project/PySide2/, under licensing it says `PySide2 is available under both Open Source (LGPLv3/GPLv2) and commercial license`, so I thought it's available under lgpl/gpl tho I didn't inspect properly.

But on more inspection, it could be used with open-source licenses See - https://www.qt.io/licensing/ and the comparison below.

[This](https://www.qt

[2020-10-15 09:32] AyanSinhaMahapatra commented on #2164
Yes, there are some extra texts indeed because of scraping, I got rid of some of the obvious ones manually, but these seems to be handled with the diagnostics flag on and on a case to case basis. So I'll do that.

Understood, thanks.

Okay, I'll create a ticket.

[2020-10-15 09:39] AyanSinhaMahapatra commented on #863
So this was before we had `scancode-results-analyzer`, now I don't have to go through all the json results, only the important ones for review and it's okay.

Okay Sure, I'll paste that instead.

So yes, as these are scraped there are extra text, and although I cleaned a bit manually there are still texts that remain.

Yes, there aren't a lot of new ones so we should be good to add just those + an

[2020-10-15 09:49] AyanSinhaMahapatra commented on #863
So my plan was using these, as in all of the licenses in this issue as tests for scancode-results-analyzer, as in the problems being detected, and the rules generated as much as possible.

You've tagged me in these two issues also, in the same sense - https://github.com/nexB/scancode-toolkit/issues/2275#issuecomment-707891462 and https://github.com/nexB/scancode-toolkit/issues/2274#issuecomment-70

[2020-10-15 10:59] #2264 closed

[2020-10-15 11:48] pombredanne commented on #1388
With #2265 there is now a contributed Dockerfile and we can now also install correctly the latest versions from PyPI
Closing this then!

[2020-10-15 11:48] #1388 closed

[2020-10-15 15:09] pombredanne commented on #954
@maxhbr ping

[2020-10-15 23:38] adamhowardprice opened #2284 "'EnhancedProgressBar' object is not an iterator"
### Description

Cannot run `scancode` without hitting error: `'EnhancedProgressBar' object is not an iterator`

### How To Reproduce

In my repo with a lot of Python, Ruby, and C++ code, run `extractcode` and then `scancode -clpeui -n 2 --json-pp software.json .`

[code]

Output:
[code]

### System configuration

* What OS are you running on? (Windows/MacOS/Linux)
MacOS 10.15.7
* What version of

[2020-10-16 06:55] pombredanne commented on #2284
You may have been hitting a Click bug such as https://github.com/pallets/click/issues/1125
Could you run this an attach the results here?
`pip freeze > requirements-lock.txt`
I would need to verify that this is a version with issues.

Also can you try using the release tarball if the issue is still present?
Thanks!

[2020-10-16 12:56] pombredanne commented on #2284
Actually I have a fix and this is indeed because of https://github.com/pallets/click/issues/1125

[2020-10-16 13:19] fviernau opened #2286 "ScanCode 3.2.1rc2 fails to load the 'scan:licenses' plugin"
I installed ScanCode `3.2.1rc2` in Docker using `ubuntu:18.04` as base image.
Therefore I downgraded Python from version 3.7 to version 3.6.9 as I understood this to be required.
In the docker file I configured scancode as follows:
[code]

When executing ScanCode it runs into the following issue. It's not yet understood whether it reproduces reliably:
[code]

[2020-10-16 13:36] pombredanne commented on #2286
@fviernau Thanks! Do you have a link to the Dockerfile?

[2020-10-16 13:39] fviernau opened #2287 "generic-licenses: Turn generic license rules into separate licenses"
There are several generic license rules which denote a specific license text and could actually be a separate license.
The only reason why they haven't been turned into their own licenses yet is the implementation effort.

Wherever applicable, the generic license rules should be turned into their own license, in order to
unlock automation potential of the users of ScanCode.

To get an idea what to

[2020-10-16 14:29] pombredanne commented on #2286
Using the Dockerfile below (derived from ort's and essentially the same) :
- `docker build -t scancode-toolkit .`
- `docker run -v $PWD/:/project scancode-toolkit -clpeui --json-pp /project/result.json /project`
- `docker run -v $PWD/:/project scancode-toolkit -clpeui --json-pp - /project/NOTICE`
... runs without any issue at all.

So for now I cannot reproduce this as is

(thanks to @daniel-eder

[2020-10-16 14:31] pombredanne commented on #2286
Do you have an example of scan options and a file that fails?

[2020-10-16 14:57] fviernau commented on #2286
Scanner command / options: `/usr/local/bin/scancode --copyright --license --ignore *.ort.yml --info --strip-root --timeout 300 --ignore HERE_NOTICE --ignore META-INF/DEPENDENCIES --processes 15 /scan-dir --json-pp /result.json`

I actually do not have the file that fails. Could it be that it does not fail on any specific file but before scanning any file?
I believe the below bit was missing initia

[2020-10-16 15:17] pombredanne commented on #2286
I tried with this :
`docker run -v $PWD/:/project scancode-toolkit --copyright --license --ignore "*.ort.yml" --info --strip-root --timeout 300 --ignore HERE_NOTICE --ignore META-INF/DEPENDENCIES --processes 15  --json-pp /project/result.json /project/NOTICE` and the the command runs fine too.

It could be that somehow your container may not have been built correctly and should be re-built?

[2020-10-17 05:37] pombredanne commented on #2284
@adamhowardprice I merged https://github.com/nexB/scancode-toolkit/pull/2288 and this should fix the bug. Can you check out develop and try if this works for you? Thanks!

[2020-10-17 19:10] pombredanne opened #2289 "Scan failure for a bare SPDX license identifier without license"
A file with only `SPDX-License-Identifier ` will fail to scan:
[code]

[2020-10-18 12:04] pombredanne opened #2290 "Inaccurate license detection for SPDX license identifier with trimmed, missing trailing parens"
A text exactly as  `SPDX-License-Identifier: (GPL-2.0-or-later WITH Bootloader-exception` (with a missing trailing paren) will be detected as `(gpl-2.0-plus AND bootloader-exception) AND unknown-spdx` where `unknown-spdx` comes from the missing trailing paren making the expression invalid from strict validation perspective.
We should allow and cope with these kind of cases which can be characteriz

[2020-10-19 18:51] Abhigyankrsingh opened #2291 "Grammatical errors in README.rst and in NOTICE."
There are some grammatical errors in README.rst and in NOTICE also.

[2020-10-19 20:40] gsebast opened #2293 "Python error(s) when scanning large numbers of artifacts in parallel"
### Description

Scanning a very large number of artifacts in parallel leads to the following Python error(s):
[code]

### How To Reproduce

The following command is used to execute a scan on a set of about 2500 JAR artifacts (~6GB):
[code]

There is no other magic

### System configuration

* Docker or AWS EC2 instance, 4 CPUs, 16GB Ram (even tried 32GB Ram on an EC2 instance)
* OS is always Ubun

[2020-10-20 13:41] pombredanne commented on #2293
@gsebast Thank you for the detailed report.
Is there a way to get a sample of files that could help reproduce this?

[2020-10-20 14:09] pombredanne commented on #1243
Some extra links
https://www.yoctoproject.org/docs/3.1.3/dev-manual/dev-manual.html#working-with-licenses

[2020-10-20 15:37] pombredanne commented on #2293
Just curious: you are scanning JARs but ignoring .java and .class files ... what do you expect to be scanned there then?
Also did you extract the JARs first?

[2020-10-20 17:35] #2291 closed

[2020-10-20 17:37] pombredanne commented on #2284
This is tested and merged, so I am closing this now. Thank you ++

[2020-10-20 17:37] #2284 closed

[2020-10-20 18:35] mjherzog commented on #2127
New Issue Template looks good.

[2020-10-20 18:35] #2127 closed

[2020-10-21 06:41] fb33 opened #2294 "GPL-2.0-only detection rather than Apache-2.0"
### Description

I use ORT that uses ScanCode v3.2.1rc2.
I scan a project that has a transitive dependency on Maven:org.wildfly.common:wildfly-common:1.5.2.Final.

The result of the scan show a wrong GPL-2.0-only detection in the pom.xml of wildfly-common.

Here is a extract of the report:
[code]

I had done another scan with an older version of ORT with ScanCode 3.0.2, and there was no GPL-2.0-On

[2020-10-21 07:26] gsebast commented on #2293
@pombredanne Thanks for your replies.

You can download representative sample via the following link:
https://update.knime.org/analytics-platform/4.2/org.knime.update.analytics-platform_4.2.2.zip

The only we thing we want to scan are what's in the _plugins_ folder of the archive. Everything else we delete before extraction and scanning.

Regarding your other questions. All the artifacts being sca

[2020-10-21 09:16] pombredanne commented on #2293
@gsebast that's great as this give me enough to reproduce!
Have you tried using the `--package` option  instead? It tries to look for only things that are package manifests. Not sure it would cover all your bases but that's worth trying and would be easy to update as needed.

[2020-10-21 10:01] gsebast commented on #2293
@pombredanne No, I haven't tried the ```--package``` option. I'll do that to see what comes out of it. Thank you for the heads-up.

[2020-10-21 10:30] pombredanne commented on #2294
Thank you ++ for the report. That's a bug alright.
Note that you could/should also look at using the `--package` option as it looks into manifests (such as a pom) as  structure data and not only as plain text. Here a package scan would also yield this:
[code]

[2020-10-21 10:37] sschuberth commented on #2294
FYI, that's not necessary when using ScanCode from ORT, as ORT itself already extracts that meta data from package manager files (and we prefer to have a clear split between licenses detected by a license scanner, and licenses declared as part of meta data).

[2020-10-21 10:49] pombredanne opened #2295 "Only scan duplicated files once"
On large codebases, there are often duplicates of the exact same files. It would be a good optimization to avoid scanning these twice.

[2020-10-21 10:53] pombredanne commented on #2294
See the full scan after fixing this (in a branch soon to be pushed):
[jboss.json.txt](https://github.com/nexB/scancode-toolkit/files/5415312/jboss.json.txt)

[2020-10-21 10:55] pombredanne commented on #2294
@sschuberth

Your call, but you will never get correct results then with scancode if you are missing out on scanning the actual package manifests IMHO.

And scancode does that alright too tracking the package declared and detected license as well as getting the file-level licenses.

[2020-10-21 11:15] pombredanne commented on #2294
@fb33 the fix is in this commit https://github.com/nexB/scancode-toolkit/commit/33114d7510d0ec4f73170a98dd935550dc1e6cae
Thanks again!

[2020-10-21 12:47] amottier opened #2297 "Inaccurate license detection: detect gpl-2.0-plus and lgpl-2.0-plus in addition to expect epl-1.0 and lgpl-2.1-plus"
### Description

When running ScanCode on [this file](https://gitlab.ow2.org/sat4j/sat4j/-/blob/master/org.sat4j.core/src/main/java/org/sat4j/ExitCode.java) it will correctly report:
* epl-1.0 : https://gitlab.ow2.org/sat4j/sat4j/-/blob/master/org.sat4j.core/src/main/java/org/sat4j/ExitCode.java#L5
* lgpl-2.1-plus : https://gitlab.ow2.org/sat4j/sat4j/-/blob/master/org.sat4j.core/src/main/java/org/

[2020-10-21 13:21] sschuberth commented on #2294
Just to clarify: We do get *correct*, but potentially *incomplete* results, right? I.e. those results that we do get without `--package` are correct. With `--package` we would simply get more results, but IMO we can omit those as we're already getting them from ORT (for more package managers than those ScanCode supports).

[2020-10-21 13:32] pombredanne commented on #2297
@amottier Thanks!

See the commits in https://github.com/nexB/scancode-toolkit/pull/2296/commits/7a75cfe0b72cd0c001e6dfc634cc0f1b70486afb and https://github.com/nexB/scancode-toolkit/pull/2296/commits/9ebdb56b0493b910aa673312733f5ab500d9b194 that were originally reported by @mhow2 on Gitter

[2020-10-21 20:55] majurg commented on #1004
@pombredanne This is all finished. Commoncode now has `resource.py` support and its external repo can be found here: https://github.com/nexB/commoncode

[2020-10-21 20:55] #1004 closed

[2020-10-22 10:17] pombredanne opened #2299 "Add new copyright test cases"
See https://github.com/oss-review-toolkit/ort/blob/9493dab0cad7e102509a4a061e7bb87dd69ef598/utils/src/test/assets/copyright-statements-expected-output.yml

These are potentially incorrect copyright detection in ScanCode Toolkit.

First is to understand how the copyright tests work by carefully reading and trying to follow execution of https://github.com/nexB/scancode-toolkit/blob/develop/tests/clu

[2020-10-22 10:24] mk1107 commented on #2299
Hello @pombredanne , I wish to take a try at this issue. Could you please assign it to me? Also, it is my first issue with the toolkit so I would need some guidance over as to what exactly needs to be done in the issue.
Thanks!

[2020-10-22 10:26] mk1107 commented on #2295
Hello @pombredanne , I wish to take a try at this issue. Could you please assign it to me? Also, it is my first issue on nexB so I would need some guidance over as to what exactly needs to be done in the issue, and how it needs to be implemented.
Thanks!

[2020-10-22 11:19] armijnhemel commented on #2295
One thing that scancode currently does not report (maybe calculcates, but at least doesn't store) is a checksum of the file. This would make deduplication a lot easier.

There are a few difficulties: when scanning with multiple threads (which I always do) you possibly have to keep some sort of shared state to avoid duplicate scanning. There are also some parts of scancode where avoiding duplicatin

[2020-10-22 15:15] pombredanne commented on #2295
@armijnhemel  re

The `--info` option reports these:
[code]

One solution may be to store the results internally by checksum ad that way when a process starts to scan something it would first check if there is result-by-checksum already available.... this may only work for larger scans as smaller scans would not be stored on disk (making the shared state not reachable across processes)... but then

[2020-10-22 15:17] pombredanne commented on #2295
@mk1107 Thanks! be aware that this not a trivial issue to solve!
You will need first to study the way things are processed (and multiprocessed) and stored in memory and disk when running a scan. `scancode/cli.py` is the starting point and you will need to unwind the twine ball and follow the execution threads carefully

[2020-10-22 15:22] pombredanne commented on #2299
Thank! I look forward to your kind help. First is to understand how the copyright tests work by carefully reading and trying to follow execution of https://github.com/nexB/scancode-toolkit/blob/develop/tests/cluecode/test_copyrights.py

We generate test method at import time that are attached  to a test class (See https://github.com/nexB/scancode-toolkit/blob/develop/tests/cluecode/cluecode_test_u

[2020-10-22 15:27] pombredanne commented on #863
Perfect!

[2020-10-23 12:56] sankha555 commented on #2290
@pombredanne I took a look at your commit and was very much amused by the efficient method. I was thinking that since such typos as missing trailing parens occur mostly due to human errors, there could possibilities that someone by mistake uses '[, ]' or '{, }' in place of '(, )' as parens. Do you think that this is a valid point? If yes I would like to add to your commit by adding the relevant co

[2020-10-23 13:07] pombredanne commented on #2290
@sankha555

I never ever saw that in the wild. Parens use is rare, imbalanced ones is even rarer. But adding support for the unknown cases you mentioned is not needed IMHO.

Unless you can find a number of these case in public code of course :)

[2020-10-23 13:16] sankha555 commented on #2290
Ya maybe I was overthinking things a bit too much and such problems might not arise as you said. Thanks a lot for the clarification! :)

[2020-10-23 13:20] sankha555 commented on #2277
This issue caught my fancy immediately as it's something related to web development. If it is still open for contribution, can you please assign it to me @pombredanne and also tell me a bit more on the specs needed in the website (like a brief sitemap, any backends needed, etc) ? Thanks!

[2020-10-23 14:03] mk1107 commented on #2299
Ok thanks for guidance @pombredanne . I will go through all this things, and then discuss things with you.

[2020-10-23 21:40] pombredanne opened #2300 "Add license tests with new text"
See https://github.com/Bacchustaf/SyRe_MSc/blob/078df81c8d13c873b15c92684167f4503bd766df/xfemm-code-310/mfemm/pfemm/fsolver/LICENCE.txt

[2020-10-24 05:41] sankha555 commented on #2210
@pombredanne Added the license in the above PR (#2301 ). Kindly review the files added. Waiting for yours comments and feedback. Thanks!

[2020-10-24 16:25] sujit377 commented on #2210
@pombredanne sir  and @AyanSinhaMahapatra sir, I would like to contribute on this issue, I am new to this and need guidance. Please help me if it is possible for me to contribute to it. I have already read the contribution guidelines.

[2020-10-26 23:09] pombredanne opened #2303 "Stream JSON output"
When doing large scans to JSON, it is possible to use a lot of RAM as the whole scan result data set must be in memory at once such that it can be serialized to JSON.
To avoid this we could consider iterating instead with a JSON streams processor such as https://github.com/dcbaker/jsonstreams that should help avoiding exhausting memory.

[2020-10-26 23:13] pombredanne commented on #2303
See https://github.com/nexB/scancode-toolkit/blob/abfe573bfe1f8a18c17418a45e0c1ff57c8a07fc/src/formattedcode/output_json.py for the place where we would likely plug that.

The first thing would be to check that this (having the whole results set in RAN) is indeed a memory hog

[2020-10-27 13:43] Thalley opened #2304 "C source code mistaken for MPL licence"
### Description
A C source code line is mistaken for the MPL 1.1 License. The line of code is

[code]
where `mpl, 1, 1` is seemingly read as the MPL 1.1. license, and is a macro [SHELL_CMD_ARG_REGISTER](https://docs.zephyrproject.org/apidoc/latest/group__shell__api_gae8a8bbcbb842027c02a319b3fb976a3d.html)

### System configuration

* What OS are you running on? Linux
* What version of scancode-too

[2020-10-27 14:49] mk1107 commented on #2299
sorry for delay from my side. But can you further guide me, i went through all the given links, but unable to understand what i need to do? So, if possible can u further guide me.

[2020-10-27 14:56] pombredanne commented on #2304
@Thalley Thanks... that's a good (and rare) catch and your analysis is correct: this is matched by this license rule: https://github.com/nexB/scancode-toolkit/blob/abfe573bfe1f8a18c17418a45e0c1ff57c8a07fc/src/licensedcode/data/rules/spdx_license_id_mpl-1.1_for_mpl-1.1.RULE#L1 with contains these words only `mpl-1.1` which is the ID for the MPL 1.1 license.
ScanCode ignores all punctuation except t

[2020-10-27 15:39] Thalley commented on #2304
@pombredanne Thanks for the quick reply - I'll try applying your suggestion. Is there any way the problem can be solved at the root (i.e. in scancode), rather than circumvented at the users?

[2020-10-27 17:08] pombredanne commented on #2304
@Thalley this is going to be fixed in scancode alright! I was just hinting on how to solve it in scancode. If you want to submit a PR that would be much welcomed.
Here is what this would look like:

1. add a test:
- in `scancode-toolkit/tests/licensedcode/data/licenses` create a new directory `2304-no-mpl`
- in this directory add a file named `shell.c` with this content:
`SHELL_CMD_ARG_REGISTER(mp

[2020-10-27 17:49] pombredanne commented on #2299
@mk1107 can you may be ask for some help and guidance to the community at https://gitter.im/aboutcode-org/discuss ?

[2020-10-27 17:50] pombredanne commented on #2304
@Thalley that's if you care to send a PR... do not feel obligated!

[2020-10-28 13:20] Thalley commented on #2304
@pombredanne Thanks - Not sure if I'll get around to do that in the coming time as I have other higher priority matters to attend to. But I'll try to keep this issue in mind :)

[2020-10-28 14:23] pombredanne commented on #2304
@Thalley no problem, I will apply the proposed fix directly then.

[2020-10-28 17:42] JonoYang opened #2306 "thirdparty/dev directory missing from scancode 3.2.3 release"
When I download scancode from the first two links (scancode-toolkit-3.2.3.tar.bz2, and scancode-toolkit-3.2.3.zip) on the scancode 3.2.3 download page and run the `configure` script , I get the error that there are missing dependencies. I found out that this occurs because the configure script is attempting to install the dev dependencies, but the directory that contains the dev dependencies is mi

[2020-10-29 10:54] Thalley commented on #2304
@pombredanne I was actually wondering why scancode was even looking for license in that particular line of code. Wouldn't any license information either be in a comment (in source code files), or in a text (.txt, .md, .rst, etc.) file?

It ought to be possible to, for known file type extensions like `.c` and `.h`, to only look for licenses inside commented sections (enclosed by `/* */` or `//`).

[2020-10-29 11:15] pombredanne commented on #2304
@Thalley re:

The approach is a comprehensive "no license left behind".

scancode is pretty dumb there and does not skip any file and does not even look at whether a file is code or not code and definitely not if this is code comment or code. It even looks in binaries alright after extracting strings (including wide strings from windows EXEs) and more often than not that quite useful and there are

[2020-10-29 15:17] mjherzog commented on #2304
I think that an option to look only at Comments in  source code would be worthwhile. The cases where we are looking for things like MODULE_LICENSE seem to be pretty specific and I would hope/expect that there are not a lot of them in practical usage.

[2020-10-29 20:49] 66Ton99 commented on #2286
Have similar problem
[code]

[2020-10-30 08:02] pombredanne opened #2308 "Dependencies not collected from NuGet"
### Description

No dep collected with a --package scancode of the .nuspec of this NuGet https://www.nuget.org/packages/Renci.SshNet/1.0.0 at https://www.nuget.org/api/v2/package/Renci.SshNet/1.0.0

[code]

### How To Reproduce

- Fetch https://www.nuget.org/api/v2/package/Renci.SshNet/1.0.0 and save as `renci.sshnet.1.0.0.nupkg`
- Extract with `extractcode renci.sshnet.1.0.0.nupkg`
- Scan with `s

[2020-10-30 08:10] pombredanne commented on #2286
@66Ton99 I think yours may be a different problem entirely... let me move this to a new ticket :)

[2020-10-30 08:11] pombredanne opened #2309 "Failure to run scan"
Originally reported at https://github.com/nexB/scancode-toolkit/issues/2286#issuecomment-719013200 by @66Ton99
----------------------
Have similar problem
[code]

[2020-10-30 08:23] pombredanne commented on #2309
@66Ton99
How did you install scancode? did you run a pip install? a configure?

And can you try this instead: Try to not create your own virtualenv and instead use the `./configure` script:

- make sure you have the latest from the `develop` git branch and that you are "clean" git status-wise.
- run `./configure --clean`
- run `./configure`

This creates a virtualenv in te current directory
You ca

[2020-10-31 19:00] pombredanne commented on #2293
@gsebast can you tell which Python version you run exactly?
It could be a bug https://bugs.python.org/issue35629
Also open a python and run:
[code]
Does this hangs?

[2020-10-31 19:01] pombredanne commented on #2106
@sebassdc  can you tell which Python version you run exactly?
It could be a bug https://bugs.python.org/issue35629
Also open a python and run:
[code]
Does this hangs?

[2020-11-02 12:49] nnobelis opened #2311 "License wrongly detected as GPL 3"
When trying to scan [this file](https://cryptography.gmu.edu:4443/XBX/FreeRTOS/raw/b1796dec343ec1a521f9d1f9a752a2c268451fa5/Demo/CORTEX_LPC1768_GCC_Rowley/LPC1700_Startup.s) with latest scancode, It get the following license :
[code]
### Description

How can ScanCode assume this is GPL3 ? There is no mention of 3 in the lines :

[code]

?
Thanks in advance
Nicolas

### How To Reproduce

./scancode

[2020-11-03 16:40] sebassdc commented on #2106
@pombredanne Sorry for not following up this.
Yes the issue could be related to python!. We were using python 3.6 on a docker image on an EC2 Instance type: m5n.8xlarge.

Right now we are using scancode on 2.7 without issues on the same machine with the same parameters and it works perfectly!

[2020-11-05 13:39] gsebast commented on #2293
The Python version used is 3.6.9.

Running the given commands in a Python CLI does not cause any hang-ups.

[2020-11-05 15:10] danielthieleog commented on #2119
Looks like workaround must not be used with new release 3.2 and bug is solved.

Using obsolete workaround with 3.2 lead to different error: "Exception: CRITICAL: libmagic DLL and is magic database are not installed. Unable to continue: you need to install a valid typecode-libmagic plugin with a valid and proper libmagic and magic DB available."

Apart from that additionally I had to pip install ex

[2020-11-05 15:10] #2119 closed

[2020-11-05 15:23] pombredanne commented on #2119
@danielthieleog indeed... I thought I had reported that here ... in fact I had pushed a PR upstream in pdfminer to fix this https://github.com/pdfminer/pdfminer.six/pull/461
Thank you for noticing this!

[2020-11-05 20:45] nishakm opened #2312 "Missing libmagic dependency"
### Description

When running scancode on Ubuntu 20.04 I get this error:
[code]
I've installed libmagic-dev but that doesn't seem to solve the problem. Typecode is also installed.

### How To Reproduce

[code]

### System configuration

* Ubuntu 20.04 VM
* scancode-toolkit==3.2.3
* via pip install

[2020-11-05 20:51] JonoYang commented on #2312
Hi, @nishakm. The missing binary plugins are provided in `extras_require` (https://github.com/nexB/scancode-toolkit/blob/develop/setup.py#L217). Please specify the `full` extra_require option when installing scancode from pip: `pip install scancode-toolkit[full]`

[2020-11-05 22:36] pombredanne commented on #2312
@JonoYang good catch. Can you update the README and install docs?

[2020-11-05 22:42] pombredanne commented on #2312
@JonoYang actually a suggestion would be to use a typed Exception subclass and to capture it in ScanCode such that "Exception: CRITICAL: libmagic DLL and is magic database are not installed. Unable to continue: you need to install a valid typecode-libmagic plugin with a valid and proper libmagic and magic DB available." is enhanced with a message telling to install instead with `pip install scanco

[2020-11-10 14:13] nishakm commented on #2312
It works! Thanks!

[2020-11-10 14:13] #2312 closed, assigned to nobody

[2020-11-11 10:29] tgodau opened #2319 "Import Error ('compat') after upgrading from scancode-toolkit 3.2.0 to 3.2.3 via pip3"
### Description

I was using scancode-toolkit 3.2.0 in an virtual-env on Python 3.6.12 succesfully.
Now I got a message, that 3.2.3 is available.
I upgraded to 3.2.3 with 'pip3 install scancode-toolkit -U'.

The upgrade rans without errors.

When I then try to run scancode with 'scancode --version' I get the error message:

ImportError: cannot import name 'compat'

### How To Reproduce

see above

[2020-11-11 15:56] pombredanne commented on #2319
@tgodau The way to install scancode from pip has changed a bit in this new version:
You need to install `scancode-toolkit[full]` and not just `scancode-toolkit`
Do you mind to try this?
And yes the doc needs to be updated ASAP.

[2020-11-11 15:59] pombredanne commented on #2319
@jyang do you agree that this would be the most likely issue?

[2020-11-12 05:13] tgodau commented on #2319
Thanks for the reply.

A 'pip3 install scancode-toolkit[full] -U' runs well, but doesn't solve the problem:

`# scancode --version
Traceback (most recent call last):
  File "/home/vmuser/venv-scancode/bin/scancode", line 5, in <module>
    from scancode.cli import scancode
  File "/home/vmuser/venv-scancode/lib/python3.6/site-packages/scancode/__init__.py", line 38, in <module>
    from commoncode

[2020-11-12 08:29] FrankHeimes opened #2320 "Failed to load Resource: 1045031 while scanning. All results lost."
I downloaded scancode-toolkit-3.2.3 and ran this command on Windows 10, version 1909, OS build 18363.900:
`scancode -clpieu --html D:\scancode-output.html D:\Dev\Main`

using `C:\Program Files\Python36\python.exe`, Python 3.6.8 (tags/v3.6.8:3c6b436a57, Dec 24 2018, 00:16:47) [MSC v.1916 64 bit (AMD64)] on win32.

It started and scanned almost 1 million files for 9 days straight.
`Setup plugins...`

[2020-11-12 14:29] pombredanne commented on #2311
@nnobelis Thank you for the report!
If I run this scan I can get extra details on the detection:
`scancode -l --license-text --license-text-diagnostics --json-pp output.json LPC1700_Startup.s`
and I get the results below
ScanCode is led to believe that
[code]
is similar enough to https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/gpl-3.0-plus_or_commercial-option_2.R

[2020-11-12 14:42] pombredanne commented on #2320
@FrankHeimes I am sorry that this failed.
This is going to be a rather hard to diagnose bug as it looks somehow intermediate results files that were cached may have gone missing?

Did you run this with  exactly these arguments?
`scancode -clpieu --html D:\scancode-output.html D:\Dev\Main`

What are the characteristics of the machine this is running under? (RAM, CPU?)?

This also could be a bug tha

[2020-11-12 15:22] pombredanne commented on #2319
@tgodau could you try to first uninstall scancode then?

And/or separately try to create a virtualenv:
1. create a new directory somewhere and cd to it
2. `python3.6 -m venv .`
3. `source bin/activate`
4. `pip install scancode-toolkit[full]`

[2020-11-12 15:34] pombredanne commented on #2320
Did you run this scan using multiprocessing (e.g the --process or -n option?)

[2020-11-12 16:06] FrankHeimes commented on #2320
@pombredanne
Yes, I ran exactly the command as noted on an Intel Core i7-2600K 3.4 GHz, 16GB RAM, 64 Bit Windows 10, version 1909, OS build 18363.900.

No, I did not use the `--process` or `-n` option. I noticed that the process used only one core.

I think I'll try again using the multi-process option and after configuring a separate `TEMP` folder that is unknown to any other process.

[2020-11-12 22:00] pombredanne commented on #2320
@FrankHeimes there is something else too to consider
 @JonoYang worked on #2303 which does JSON streaming of the output and may help with very large scans.

The other thing to consider may be https://github.com/nexB/scancode.io/ where the scans would be stored in a DB and therefore any intermediate glitch would be likely mitigated.

[2020-11-12 22:03] pombredanne commented on #2320
I would guesstimate that a scan of ~ 1M files would take about 5 hours with  7 processes on a machine like yours and a JSON output.

[2020-11-13 01:07] JonoYang commented on #2319
@pombredanne fwiw I installed scancode v 3.2.0 in an empty venv, run `scancode -h` to make sure it works, then run `pip install scancode-toolkit -U` and I get the same error as @tgodau . I had to first uninstall scancode toolkit from the venv, then run `pip install scancode-toolkit[full]` in order to run the latest version of scancode from pip.

[2020-11-13 10:00] nnobelis commented on #2311
Thanks a lot for the thorough explanation.

So, just to be clear, you will add the new rule in scancode ?

[2020-11-13 18:30] pombredanne commented on #2311
@nnobelis yes, I have something in a branch ready. I made a single commit for this as this shows you how you could fix similar things in the future.

[2020-11-15 17:34] pombredanne opened #2321 "Incorrect license detection in FFmpeg binaries"
### Description
Using the `--license-text` option on a binary build of FFmpeg used to return the whole FFmpeg build config line such as in:

This only returns the matched text of `"gpl --"` for now.
This is in contrast and conflict with the fix for #2226 that changed the original behavior.
We should:
1. add rules to properly detect at least `--enable-gpl --enable-version3` there as well as related

[2020-11-16 08:15] tgodau commented on #2319
@jyang and @pombredanne, thank you guys for the valuable hints.

A `pip3 uninstall scancode-toolkit` inside my virtualenv followed by a `pip3 install scancode-toolkit[full]` did it.

All seems to work well now :-D

Regards, Thorsten

[2020-11-16 11:42] MarcelBochtler opened #2322 "Detection of google maps platform terms of service"
## Short Description
ScanCode should detect [Google Maps Platform Terms of Service](https://cloud.google.com/maps-platform/terms) as used by e.g. https://mvnrepository.com/artifact/com.google.android.libraries.places/places/2.4.0

## Possible Labels

- license scan

## Select Category

-  [ ] Enhancement
-  [x] Add License/Copyright
-  [ ] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ]

[2020-11-16 12:44] pombredanne commented on #2319
@tgodau Great! Allow me to keep this open so we can update the doc or FAQ accordingly.

[2020-11-16 14:31] pombredanne commented on #2322
@MarcelBochtler Thanks for this. I can see that there are several versions at https://cloud.google.com/maps-platform/terms#prev-versions ... do you think that every historic version should be added?

Do you feel like drafting a PR for this license?

@DennisClark ^

[2020-11-16 15:01] MarcelBochtler commented on #2322
[The library where I found this license](https://mvnrepository.com/artifact/com.google.android.libraries.places/places/2.4.0) does not mention a specific version of the license in its metadata.
But at least for the Android SDK License you do have [historic](https://github.com/nexB/scancode-toolkit/blob/9d53e94474347da5292aae7be9bb7cedb4399a9a/src/licensedcode/data/licenses/android-sdk-preview-2015

[2020-11-16 18:41] pombredanne opened #2323 "Simplify false positive handling in license detection"
There are two ways this is done today:
- `is_negative` rules have their tokens removed from the token stream
- `is_false_positive` rules are matched and a match may be discarded if it is not part of a larger match

`is_negative` rules are too complex and could likely entirely be removed with no harm done.

[2020-11-17 09:15] alpianon opened #2324 "missing typecode-libmagic dependency"
### Description

missing dependency during installation (typecode-libmagic)

### How To Reproduce

1. install scancode-toolkit with `pip` following the instructions in the docs
2. launch `scancode -h`
3. you get the following error:

[code]
4. to solve the issue, you have to run `pip install typecode-libmagic`

### System configuration

* What OS are you running on? Linux
* What version of scancod

[2020-11-17 09:28] pombredanne commented on #2324
@alpianon Thank you for the report and sorry for this annoyance!
The doc should highlight that the correct installation is now `pip install scancode-toolkit[full]`

[2020-11-18 16:33] pombredanne commented on #2165
See https://github.com/nexB/licensedb/issues/1

[2020-11-18 16:52] pombredanne commented on #954
This has been integrated in scancode BUT does not work yet

[2020-11-18 17:01] pombredanne commented on #335
@chinyeungli Can you tell if this works fine for you now?

[2020-11-18 17:05] chinyeungli commented on #335
[code]
I am running 64bits, and I have no problem of running scancode-tk

[2020-11-18 17:08] pombredanne commented on #335
@chinyeungli Thanks
At this stage I am calling this done and closed!

[2020-11-18 17:08] #335 closed

[2020-11-18 17:32] pombredanne opened #2327 "Add full A/L/G PL/FDL texts to "plus"/"or-later" variants of the licenses"
Today we only have a notice for the text of  the "or later" variants licenses.
Such as here: https://github.com/nexB/scancode-toolkit/blob/a78fda974392c08dfcec3a41a283a303a6978b46/src/licensedcode/data/licenses/gpl-2.0-plus.RULE
We want to also have the full text there.
I suggest simply to do this:
[code]

[2020-11-18 17:32] pombredanne commented on #2327
@DennisClark FYI

[2020-11-18 17:33] pombredanne commented on #2327
@chinyeungli this also means that these texts will be usable as-is in Attribution generation

[2020-11-19 01:55] JonoYang opened #2328 "packagedcode.about.AboutPackage.get_package_root() should not depend on access to ABOUT file"
I am running some code that calls the `get_package_root()` method on Package objects created from a VirtualCodebase and my program crashes because it calls `get_package_root()` on an `AboutPackage`. The reason it fails is because it attempts to open the about file the AboutPackage is for. (https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/about.py#L63) We should go ahead and p

[2020-11-19 08:26] george-kuanli-peng opened #2329 "scancode fails to start by complaining missing Python packages and "......bin/scancode: No such file or directory""
### Description

scancode, extracted from GitHub releases, fails to start by complaining missing Python packages and  "......bin/scancode: No such file or directory"

### How To Reproduce

1. Download a scancode tar.bz2 archive from GitHub release assets.
1. Extract `scancode-toolkit-3.x.x.tar.bz2`.
1. Enter the extracted directory and create a Python3 virtual environment workspace by `python3 -m

[2020-11-19 08:56] george-kuanli-peng commented on #2329
I am using Python 3.8, installed by default on Ubuntu 20.04. Would that be the main problem?

Installing by `pip install scancode-toolkit` also failed. (some "failed building wheel" errors)

[2020-11-19 11:03] george-kuanli-peng commented on #1950
I also have the same problem with the latest release of scancode-toolkit (3.2.3) by installing with `pip install scancode-toolkit[full]`.

Running it with `scancode -clpeui --json-pp output.json --csv output.csv --html output.html --spdx-rdf output.rdf --spdx-tv output.tv samples` results in

[code]

The out-of-memory logs:

[code]

[2020-11-19 14:51] pombredanne commented on #2329
@george-kuanli-peng Soryy for the issue!
Can you try the latest release? 3.1.1 is a very old one.
Please try again with 3.2.3

Also if you are using the full release tarball, use `./scancode -h` directly... it will create its own virtualenv and install all its bundled dependencies on first use. BUT at this stage we are not yet full set on Python 3.8... you would need Python 3.6 in the short term

[2020-11-19 15:03] pombredanne commented on #1950
@george-kuanli-peng Your issue seems to be indeed not enough RAM. Each scancode process needs about 1GB of RAM. Typically you would need somewhere around 8GB for comfortable usage.
You seem to run a VM: how much RAM do you have there?

[2020-11-19 15:04] pombredanne commented on #2329
Can you paste your errors here?

[2020-11-20 05:29] george-kuanli-peng commented on #2329
Hi @pombredanne , thanks for your quick reply.

I had tried the steps in Issue description without luck for both [Release candidate 2 for 3.1.x](https://github.com/nexB/scancode-toolkit/releases/tag/v3.1.1) and [v3.2.x release](https://github.com/nexB/scancode-toolkit/releases/tag/v3.2.3).

I am not sure where to download the full release tarball in the release page. When I run `./scancode -h` wit

[2020-11-20 05:54] george-kuanli-peng commented on #1950
Yes, I am running scancode in a VM with 2GB of memory. The same command now works with 4GB of memory space.

[2020-11-20 19:12] JonoYang commented on #2328
@pombredanne From https://github.com/nexB/scancode-toolkit/issues/1532, looks like we removed the `extra_data` field from the Package model. Should we reintroduce it for this issue? Otherwise, in some cases, you can get the path or filename of the file the About file refers to by taking the path of the about file and stripping the `.ABOUT` extension from it since some about files are named the sam

[2020-11-20 19:47] pombredanne commented on #2328
We should have these for sure!

[2020-11-20 19:47] pombredanne commented on #2328
(by these ... I meant the extra data)

yes, that's  just a convention, not a given

[2020-11-21 12:24] #1876 closed

[2020-11-21 12:26] #2319 closed, assigned to nobody

[2020-11-21 12:26] #2324 closed, assigned to nobody

[2020-11-23 15:01] AyanSinhaMahapatra commented on #2008
From comments in the gitter/discuss channel that would be important:

@pombredanne

Tim Hatch @thatch

[2020-11-23 18:17] pombredanne commented on #2266
Short term I am making these return an apache-2.0 license with a relevance of 95%

[2020-11-23 23:13] pombredanne opened #2333 "Support appstream licenseref-proprietary SPDX ids and other similar schemes"
See @hughsie 's  https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html#tag-project_license

See also https://github.com/search?q="LicenseRef-Proprietary%3D"&type=code

And https://github.com/hughsie/appstream-glib/blob/90993582da90eb9e17601262111c0c3163e7ffb7/libappstream-glib/as-utils.c#L324 and https://github.com/fwupd/fwupd/blob/173d389fa59d8db152a5b9da7cc1171586639c97/src/fu-u

[2020-11-25 07:20] pombredanne opened #2335 "Cannot add multiple versions of the same package"
I add https://raw.githubusercontent.com/GiovanniBussi/macports-ci/master/macports-ci as a package
Then I realized that it was missing a commit hash, so I add the same file with the URL that point to the commit and I get this message:

Some notes:
1. I should be able to add multiple versions of the package
2. the files are identical: is that the source of the issue?
3. in any case, we may be should

[2020-11-29 12:57] saif007s commented on #1283
I am beginner in the issue can you please suggest me how to get started

[2020-11-30 13:15] FrankHeimes commented on #2320
I think this was a one-time issue. Two subsequent scans finished without any problems.

[2020-11-30 13:15] #2320 closed, assigned to nobody

[2020-11-30 15:45] pombredanne commented on #2320
@FrankHeimes Thanks reporting back.

[2020-12-01 13:20] pombredanne opened #2336 "Cleanup bintray URLs"
bintray adds a colon in URLs (supposedly to discourage spiders?) such as here https://dl.bintray.com/pombreda/thirdparty/:simplejson-3.15.0-cp36-cp36m-linux_x86_64.whl and their HTML directory listing contains a JS snippet such  as here https://dl.bintray.com/pombreda/thirdparty/:
[code]

We should recognize such URLs and clean them up when try to create a package from such URL:
something like thi

[2020-12-01 18:43] Himanshu12145 commented on #2210
Greetings @pombredanne sir and @AyanSinhaMahapatra sir I will contribute on this issue as  I am new to this and need guidance. Please help me if it is possible for me to contribute to it. I would really love to contribute to it for validating the license.

[2020-12-01 19:25] AyanSinhaMahapatra commented on #2210
@Himanshu12145 no need to address people as sirs.

Look into [this PR](https://github.com/nexB/scancode-toolkit/pull/2237) and [this comment](https://github.com/nexB/scancode-toolkit/issues/2210#issuecomment-696175466) here for help.

Scancode has [a directory of Licenses](https://github.com/nexB/scancode-toolkit/tree/develop/src/licensedcode/data/licenses), and if you see any new license that isn

[2020-12-01 23:09] JonoYang commented on #2303
This has been merged into develop. Closing.

[2020-12-01 23:09] #2303 closed

[2020-12-03 18:46] pombredanne opened #2337 "RFC: Streamline ScanCode data-related licenses"
# Here is what I suggest we change:
1. remove the disclaimer requirement entirely from the code and use a plain Apache-2.0 throughout
https://github.com/nexB/scancode-toolkit/blob/b14ca7b2af3ee09486d9cf704752118db5d75064/NOTICE#L17
2. change the license of the licenses dataset from CC0-1.0 to CC-BY-4.0
https://github.com/nexB/scancode-toolkit/blob/b14ca7b2af3ee09486d9cf704752118db5d75064/src/licen

[2020-12-03 21:03] LeChasseur commented on #2337
I have no objections with regard to 1 (I can consider German law only).
I understand the purpose of 2. This is absolutely ok. To make life easier I recommend to provide a concrete attribution note that can be copied for reuse. A possible example:
nexB Inc., „ScanCode License Dataset“ (https://LINK_TO_DATA), https://creativecommons.org/licenses/by/4.0/legalcode

[2020-12-07 18:49] VanL opened #2339 "Logic error in is_empty in src/cluecode/plugin_filter_clues.py"
### Description

The logic in is_empty is reversed - the function tests for *emptiness*, so a falsey "clues" object should actually return True (it *is* empty).

This prevents an error that manifests at line 241, where attributes of the ignorables object are used, but the object is None. The reversed logic test actually fails at 238, where the function should return (there are no ignorables), but

[2020-12-07 19:25] VanL commented on #2339
Closed in error.

[2020-12-07 21:41] pombredanne commented on #2339
Thank you++

[2020-12-08 03:51] D-lang14 commented on #2210
Hello @pombredanne sir, I wish to try this issue. It is my first issue with the toolkit so I would need some guidance as to what exactly needs to be done in the issue. Could you help me giving the idea about the 'detection' and 'license' part and what are the files to be managed. Thanks!

[2020-12-08 04:09] D-lang14 commented on #1377
Hey! @pombredanne sir, I am new to open source can you assign the issue if I can solve it.

[2020-12-08 04:34] D-lang14 commented on #624
Hii @pombredanne sir, I am new to open source, I would like to solve this issue, can you please guide me through how can I help with this issue.

[2020-12-08 09:56] D-lang14 commented on #254
Hey! @pierrelapointe , I would like to know about the issue and solve it. Can you assign me the issue the guide me through?

[2020-12-08 14:04] alpianon opened #2344 "DocumentNamespace is missing in spdx output"
### Description

DocumentNamespace is missing in spdx output, while it is mandatory according to spdx spec. Spdx files without DocumentNamespace cannot be validated by spdx-tools

### How To Reproduce

- Perform a scan with `--spdx-tv outfile.spdx` option
- Try to validate the spdx output file with `java -jar spdx-tools-2.2.4-jar-with-dependencies.jar Verify outfile.spdx` or to convert it to RDF w

[2020-12-09 06:19] D-lang14 commented on #254
Can anyone guide me through this issue? I would like to contribute so that I can learn more about this.

[2020-12-09 15:57] AyanSinhaMahapatra opened #2345 "RTD builds failing, docs not updated"
### Description

RTD recently started using configuration files instead of setting them in the admin panel (?)
So the documentation build fails, and the latest build is stuck at an older version without the recent changes made.
Adding a `.readthedocs.yml` should solve this.
Docs - https://docs.readthedocs.io/en/stable/config-file/v2.html

[2020-12-10 11:54] tushar912 commented on #1758
@AyanSinhaMahapatra @pombredanne is this issue available to work on .If so I would like to work on it.

[2020-12-10 12:09] AyanSinhaMahapatra commented on #1758
@tushar912 Go ahead!

As you can see the #1804 added a test reproducing the bug  https://github.com/nexB/scancode-toolkit/pull/1804/files.

See more docs on getting stated and running the tests -> https://scancode-toolkit.readthedocs.io/en/latest/contribute/contrib_dev.html.

It's failing inside this function https://github.com/nexB/scancode-toolkit/blob/develop/src/cluecode/plugin_filter_clues.py

[2020-12-10 14:57] steven-esser commented on #1723
@pombredanne I think this is fixed?

[2020-12-10 15:03] armijnhemel commented on #1723
Looks to me like it is fixed indeed.

[2020-12-10 15:06] steven-esser commented on #1723
@armijnhemel Thanks. Closing.

[2020-12-10 15:06] #1723 closed

[2020-12-11 09:21] AyanSinhaMahapatra opened #2348 "Virtual Codebase shows `RecursionError: maximum recursion depth exceeded` when `--strip-root` is used during scanning"
### Description

[code]

### How To Reproduce

``scancode --json-pp output.json --from-json input.json`` where the
``input.json`` is generated by scancode using the ``--strip-root`` or [ Same for ``--full-root`` also reported here at #2019 ]

### System configuration

* What OS are you running on? Ubuntu 20.04
* What version of scancode-toolkit was used to generate the scan file? `3.2.3`
* What in

[2020-12-11 15:11] tushar912 commented on #1758
@AyanSinhaMahapatra I checked the logs and found that the error is in this line <code>resource.emails = filtered.emails</code>because the resource object does not contain email field.I logged the object
<code>ScannedResource(path=u'samples/JGroups/EULA', rid=7, pid=4, is_file=True, is_filtered=False, licenses=[OrderedDict([(u'key', u'jboss-eula'), (u'score', 100.0), (u'name', u'JBoss EULA'), (u'sh

[2020-12-11 16:31] AyanSinhaMahapatra opened #2349 "Add an attribute for `extra words`"
## Short Description

Adding a new integer attribute `extra_words` to each matched license.

## Select Category

-  [x] Enhancement
-  [ ] Add License/Copyright
-  [ ] Scan Feature
-  [ ] Packaging
-  [ ] Documentation
-  [ ] Expand Support
-  [ ] Other

## **Describe the Update**

There are two cases when calculating score,

1. If  `score` == `match_coverage` * `rule_Relevance`, then there are no

[2020-12-11 16:37] tdruez opened #2350 "Copyright and URLs data structure: Data structure inconsistency in results"
### Description

`copyrights`, `holders`, `authors` use the `value` key where `urls` and `emails` use `url` and `email` as keys.

[code]

[2020-12-12 16:35] NinaPacifier commented on #2350
hey @tdruez  Can I work on this issue??

[2020-12-12 16:40] NinaPacifier commented on #2299
Hey, @pombredanne May I work on this issue??

[2020-12-12 18:05] tushar912 commented on #2210
@pombredanne I would like to work on this.I have found that the <code>SCILAB </code>license from the fsf directory is not being detected .Can I raise a PR for this.

[2020-12-12 20:58] melroy89 commented on #1790
Its still a problem in 2020...

[2020-12-13 09:26] D-lang14 commented on #605
Hey!! @pombredanne I want to help you with this issue. May I know what I should do about that? Give me a chance that I could understand the system and the issue.

[2020-12-14 04:13] tdruez commented on #2350
@NinaPacifier Sure 👍

[2020-12-14 17:36] jtwebman commented on #1790
Yep, it is so bad I am moving my open source projects to GitHub actions.

[2020-12-14 18:44] melroy89 commented on #1790
I did the same with another project (also to github actions): https://github.com/vasild/cpp-ipfs-http-client/pull/38

So, if you need some inspiration: https://github.com/vasild/cpp-ipfs-http-client/blob/master/.github/workflows/build_and_test.yml

[2020-12-15 10:43] amottier commented on #2297
@pombredanne I'm willing to test the changes brings by 7a75cfe and 9ebdb56 but it seems that they are not referenced in any branch (I get a GitHub warning: "This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository.").

Is it possible for you to create a branch that include those changes? Thanks.

[2020-12-15 10:57] amottier commented on #2297
Actually it seems that commit 2991fa79989b8443574dcb41834cac0a87ce40f4 as the same content as 7a75cfe and 50c95f2ea278f148a61b95464b05ebe7d776a0d6 is the same as 9ebdb56. So I guess that I can test use any branch that include those two commit for my test.

[2020-12-15 14:57] AyanSinhaMahapatra commented on #1758
@tushar912 if you look into this function _populate() of class `Resource` here, :- https://github.com/nexB/commoncode/blob/main/src/commoncode/resource.py#L441
You can see `ScannedResource` is the runtime name of a `Resource` `attr` Class. So basically when scancode scans files, it creates a Codebase object (Represents a codebase being scanned), then it populates this codebase with Resource object

[2020-12-15 19:22] amottier commented on #2297
I did give a try to both `license-updates-2020-10` and `release-20-12-prep` without success.

I'm getting the following error while running my test on `license-updates-2020-10` (with Python 2.7):
[code]

and when trying to run `./configure` on `release-20-12-prep` (with Python 3.7)
[code]

@pombredanne any recommendations regarding the branch/tag/commit and Python version I might use to confirm th

[2020-12-15 20:34] Nic30 commented on #1790
Does anyone know the reason why travis-ci become so incredibly slow? My jobs are spending more than 4 hours in the queue at average (job itself takes 1-8 min depending on project).

(Edit.) Found this: https://www.theregister.com/2020/11/02/travis_ci_pricng/
(Edit2) https://www.traviscistatus.com/#month  396 running 7.5k-2.5K jobs in queue constantly

[2020-12-15 22:08] jeremiah opened #2352 "Python 2.7 deprecation on Debian"
### Description
When running ./configure on a Debian-based system, I receive this warning;

```DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/rele

[2020-12-16 03:49] melroy89 commented on #1790
Yea, they claim they are migration from the .org to .com, causing way too much impact I think.

Also I'm afraid they are pushing us to take a subscription.

[2020-12-16 15:41] tushar912 commented on #1758
@AyanSinhaMahapatra I have found two problems in the code .
1. The one highlighted in this issue ie <code>'ScannedResource' object has no attribute 'emails'</code> .this can be solved by using <code>hasattr</code> check for all attributes in resource object.
2. Once ,this is solved there is another issue . In https://github.com/nexB/scancode-toolkit/blob/develop/src/cluecode/plugin_filter_clues.py

[2020-12-16 16:04] AyanSinhaMahapatra commented on #1758
@tushar912 IMHO that sounds correct, please go ahead and see if that passes the test reproducing the bug. Thanks++

[2020-12-17 01:30] JonoYang opened #2354 "Create plugin that looks up package info from an upstream repo"
It would be nice to have a plugin that would look up package info from the upstream repo for detected packages with no package info.

In the case of a Python requirements.txt, this file contains something that looks like this:
[code]

We would enhance the Python package plugin to parse a `requirements.txt` file and then look up the package info based on the detected name and version of each depend

[2020-12-18 17:08] sankha555 commented on #2327
Hello @pombredanne, I have tried to study the specifications of this issue and would like to work on it.

From what I understood in the specifications and seeing the license files in the codebase, I could find many "plus" variants of licenses. As an example, am I correct in understanding that it is required to append the gpl-1.0 license text after the notice in the gpl-1.0-plus.LICENSE file? There

[2020-12-19 18:06] priv-kweihmann opened #2355 "Add missing options for cache control"
As https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/cli.py#L1043 states, there is an open `TODO` for controlling the cache.
I'm using scancode in an environment where `~/.cache` should *NOT* be used for storing any kind of artifacts.

Please add one of the following options

- disable caching in total (as stated by the linked TODO)
- option to specify the caching directory via CL

[2020-12-19 18:10] priv-kweihmann opened #2356 "Lift pygments requirements"
latest release still enforces the usage of a very outdated version of pygments: https://github.com/nexB/scancode-toolkit/blob/b14ca7b2af3ee09486d9cf704752118db5d75064/setup.py#L188.
After patching the setup.py locally, I'm running fine with pygments 2.7.x release for my use cases.

I couldn't figure out from the commit that introduced the limitation, if the usage of that (even then) old version as

[2020-12-19 18:13] priv-kweihmann opened #2357 "Lift the version limitation for fingerprints"
latest release still enforces the usage of an outdated version of fingerprints:

https://github.com/nexB/scancode-toolkit/blob/b14ca7b2af3ee09486d9cf704752118db5d75064/setup.py#L143
.
After patching the setup.py locally, I'm running fine with fingerprints 1.0.1 release for my use cases.
Please remove the version limitation and add support for fingerprints 1.0.1 releases

[2020-12-19 18:14] priv-kweihmann opened #2358 "Lift version limitation for bitarray"
latest release still enforces the usage of an outdated version of bitarray:

https://github.com/nexB/scancode-toolkit/blob/b14ca7b2af3ee09486d9cf704752118db5d75064/setup.py#L156

After patching the setup.py locally, I'm running fine with bitarray 1.6.1 release for my use cases.
Please remove the version limitation and add support for bitarray < 2.0 releases

[2020-12-19 18:15] priv-kweihmann opened #2359 "Lift ftfy requirements"
latest release still enforces the usage of an outdated version of ftfy:

https://github.com/nexB/scancode-toolkit/blob/b14ca7b2af3ee09486d9cf704752118db5d75064/setup.py#L192

After patching the setup.py locally, I'm running fine with ftfy 5.8 release for my use cases.
Please remove the version limitation and add support for ftfy < 6.0 releases

[2020-12-21 14:19] tushar912 commented on #2299
@pombredanne can I work on this

[2020-12-21 14:59] jonassmedegaard commented on #1889
I am currently leaning towards naming this `BSD-2-Clause~3rd-non-clause` - also because another semantically close yet verbatim different case was reported in 2012 - i.e. a year prior to the Chemeris incident: https://bugs.debian.org/688843

[2020-12-22 19:35] soumy47 commented on #2246
Hey @AyanSinhaMahapatra , I would like to work on this issue. Could you please guide me?

[2020-12-22 19:50] AyanSinhaMahapatra commented on #2246
Hey @soumy47, so this entails looking into [src/licensedcode/README.rst](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/README.rst) and into the code in all licensedcode source files, to see in what areas the documentation could be updated (as this was last edited long before), and update them. The basic steps are the same in most cases, but some details/changes could be ad

[2020-12-23 04:58] soumy47 commented on #2246
Thanks for the reply @AyanSinhaMahapatra. could you please tell me where can I find the source files of licensedcode? I'm new to open source but I'll try to do my best.