[2019-04-04 21:49] JonoYang opened #1505 "ScanCode should be able to parse bower.json"
Related to #1491, ScanCode currently does not parse bower.json as a manifest file like it does for package.json, etc.

[2019-04-05 04:05] amiya-elear commented on #1493
with out doing npm install we can't find out the dependency license of tool which used in package.json file

[2019-04-05 12:47] pombredanne commented on #1493
This is correct.

[2019-04-05 14:34] amiya-elear commented on #1493
thanks.

[2019-04-05 15:03] pombredanne commented on #296
@aj4ayushjain ping? is this something that you are working on or not?

[2019-04-05 15:09] pombredanne commented on #1498
Actually it has been included for over 6+ months https://github.com/nexB/scancode-toolkit/commit/9094a5475dbd09f499408511c588645944993784

[2019-04-05 15:09] #1498 closed

[2019-04-06 04:04] aj4ayushjain commented on #296
@pombredanne  Ping !
I got caught up in writing the gsoc proposal  and after 2-3 days i  will continue  working on this .

[2019-04-06 17:34] pombredanne commented on #1469
This has been merged in develop. Thank you++

[2019-04-06 17:34] #1469 closed

[2019-04-06 18:00] reversi-fun commented on #1499
Fine.

In my tool, I made a correspondence table between the scanCode-Tool-kit license and the calculate-linux and spdx license IDs.
Surely,The following csv-file will be useful for your verification work.
https://github.com/reversi-fun/license_doc_similality1/blob/master/data/filePattern2License.csv
![license-jPython-DOR](https://user-images.githubusercontent.com/2231549/55673255-7deb4500-58e0-11

[2019-04-06 18:35] reversi-fun commented on #1499
By the way, are there any good suggestions for naming the license of Java/JSP-JSR-family in Java?

Even though the java * .java files are almost the same files,
but there are three types of license changes depending on the download location and download time for each implementor.

For example, there are three types of licenses for JSR107.

1. JSR-000107 JCache - JavaTM Temporary Caching API Final

[2019-04-06 18:44] pombredanne commented on #1389
@linexb since you fixed the npm detection for #1403 do you think you could add three tests for these three package.json above?

[2019-04-06 18:48] pombredanne commented on #1387
Thanks ++ this is all merged in develop

[2019-04-06 18:48] #1387 closed

[2019-04-06 19:04] pombredanne commented on #1499
@reversi-fun thank you ++ this is super interesting! The number or links start to strech the ability to visualize all these ;) ... these are large graphics but very nice!

I have a few questions:
1. out of the various similarity metrics, which one did you use for the ScanCode license graph?

2. I am not sure what you meant by this:

ScanCode uses eventually a multi diff approach so it should be OK

[2019-04-06 19:10] pombredanne commented on #1499
@reversi-fun re:

Not really, I name them as they come.
What is sure is that Sun then Oracle created a jolly mess with these if you want my take :smiley_cat: and as you quite rightly found out: we have often almost the same code and many licenses depending the dates and download places.

[2019-04-06 19:14] pombredanne commented on #1499
@reversi-fun btw I fetched the various CNRI/Python/Jython licenses you mentioned above:
 - https://raw.githubusercontent.com/reversi-fun/license_doc_similality1/master/FSF_texts/DOR.txt
 - https://raw.githubusercontent.com/reversi-fun/license_doc_similality1/master/Approved_texts/CNRI-DOR.txt
 - https://raw.githubusercontent.com/reversi-fun/license_doc_similality1/master/calculate-Linux_texts/PYTH

[2019-04-06 19:35] pombredanne commented on #1499
@reversi-fun

So the answer to your question:

The scan results in [cnri.txt](https://github.com/nexB/scancode-toolkit/files/3050837/cnri.txt) are effectively distinguishing these since ScanCode does a multi diff:

 - https://raw.githubusercontent.com/reversi-fun/license_doc_similality1/master/FSF_texts/DOR.txt ---> now detected fully as generic  `proprietary-license`  based on new rules added abo

[2019-04-06 19:41] pombredanne commented on #1499
BTW being a license nerd, this gave me a good laugh https://github.com/reversi-fun/license_doc_similality1/blob/master/LICENSE.txt#L3 :dancer: :+1:

[2019-04-06 20:10] pombredanne opened #1508 "Add new license for mecab"
### Description
See https://github.com/taku910/mecab/blob/master/mecab-ipadic/COPYING
This is a fairly popular Japanese dictionary. This is included in Lucene and Elastic Search

[2019-04-07 07:49] reversi-fun commented on #1499
Fine!
I was cheered by your praise.  "license nerd", Me too??(^^)??.

You or fossology.org may be recognized as "wise person" by users of license_doc_similarity.
The "bad guys" in the "I was tiered license" is the Expensive-tool-Maker such as a black-duck or a white-horse or greed-user or me who might betray you.

So, if you don't become "wise person" before "bad guys", you should be afraid that y

[2019-04-07 08:19] reversi-fun commented on #1499
I will let you know that "wise person" needs to know.

I agree.
I saw cnri.txt[https://github.com/nexB/scancode-toolkit/files/3050837/cnri.txt].
I admit, unexpectedly, that scancode-toolkit is great.

BUT.....
You suddenly created a new rule file(proprietary_118.RULE).
The weakness is that the "LEGAL risk" could not be found that the license would be considered by the FSF/dor as "NON-FREE".
With l

[2019-04-07 12:24] pombredanne commented on #1381
@hamzam1997 the way to get this done is explained in a few places. In particular here https://github.com/nexB/scancode-toolkit/issues/296#issuecomment-284451265

[2019-04-07 12:51] reversi-fun opened #1510 "Enhance Request for Java's JCP-based license"
### Description
Since Java 10, the java library is changing from * .jar format to * .mod format, the license is also changing.
Popular licenses for the java library are:
 * CDDL-1.1 + GPL-2.0 with ClassPath Exception ,
spdx/Apache-2.0 ,  spdx/CPL-1.0, spdx/OSL-2.1,spdx/SISSL-1.2,spdx/SPL-1.0, spdx/SPL(Sun Public License),
   SCSL(Sun Community Source License=scancode-toolkit/src/licensedcode/data/

[2019-04-07 19:18] dexter816 commented on #469
Is this project open for GSoC 2019, I am late but I am familiar with linux and package managers used in ubuntu, fedora, git, python, C, and C++. Can I work on some task and create a proposal for this project @pombredanne can you orient me?

[2019-04-08 07:09] pombredanne commented on #469
@dexter816 welcome! the devendoring is mostly done and you can see the resulting plugins in https://github.com/nexB/scancode-toolkit/tree/develop/plugins
Each of these contain a prebuilt binary and a small Python shim plugin to provide a path to its bundled binary e.g. a `LocationProviderPlugin` subclass

The thing that is missing to complete this story would be one or more small plugins using the

[2019-04-08 07:57] pombredanne commented on #1510
@reversi-fun excellent! I am on hand to help in anyway shape or form I can.
Note also that we have a chat at https://gitter.im/aboutcode-org/discuss

[2019-04-08 09:29] reversi-fun commented on #1510
My directed graph will be useful for classifying JCP-based licenses.

If you open the following file in a browser and search for "/ JSR", you may be able to estimate the distance of the goal.

![license-JSR-templates](https://user-images.githubusercontent.com/2231549/55713441-a3d13080-5a2b-11e9-8ac0-c3f521c0ffde.png)
https://github.com/reversi-fun/license_doc_similality1/blob/master/data/lic_graph

[2019-04-08 09:59] Vibhu-Agarwal opened #1511 "Incomplete Configuration as unable to combine parts of name of a parent directory"
### Description
The configuration of the project fails if the Repository is cloned in a directory which has a space in its name.

### How to Reproduce
Configuration Fails on Step 4 as described in the [CONTRIBUTING.rst](https://github.com/nexB/scancode-toolkit/blob/develop/CONTRIBUTING.rst#development).
![Setting Up the Configuration](https://lh3.googleusercontent.com/fIy7ie1wE-y72wAQJtsadPkAGeadn

[2019-04-08 10:01] Vibhu-Agarwal commented on #1511
The issue can be resolved by tweaking the [configure](https://github.com/nexB/scancode-toolkit/blob/develop/configure) and [configure.py](https://github.com/nexB/scancode-toolkit/blob/develop/etc/configure.py)
I would like to work on this issue and solve it.

[2019-04-08 10:05] pombredanne commented on #1511
@Vibhu-Agarwal sure thing: thank you!. This would need to be tested on Windows too. (The CI will test this and fail otherwise)

[2019-04-08 10:10] pombredanne commented on #1511
It's OK to start with Linux/POSIX only first of course

[2019-04-08 14:27] pombredanne commented on #295
@flub suggested using a `conftest.py` local pytest plugin
What we have here seems great:
https://docs.pytest.org/en/latest/example/simple.html#control-skipping-of-tests-according-to-command-line-option

Here is a chat log from #pylib

* pombreda> Howdy :)  I have this problem that will need solving soon: https://github.com/nexB/scancode-toolkit is being ported to Py3.
For that we need to continue

[2019-04-08 14:31] pombredanne commented on #295
See also https://docs.pytest.org/en/latest/example/markers.html#marking-whole-classes-or-modules

[2019-04-08 14:47] pombredanne commented on #1511
This is still an issue for Windows

[2019-04-08 16:13] pombredanne opened #1514 "Address packages without a name in order to generate a valid purl"
### Description
Some package manifest may be missing some esssential identifying info such as a name or version.
This could be the case when these are dynamically generated at build time or when the package type allows this (such as bower, npm or composer private packages) . We should still capture this and not balk as there can be a lot of useful data beyond this

[2019-04-08 23:22] chinyeungli opened #1515 "author information not detected in copyright scan"
[code]

copyright scan doesn't detect the author information.

[2019-04-09 00:48] linexb commented on #1389
I have added the test cases and created the pull request: https://github.com/nexB/scancode-toolkit/pull/1516

[2019-04-09 09:37] linexb opened #1519 "Make tests smarter to run tests faster"
### Description
Some ideas form Philippe:
1. split scancode in its libraries commoncode, licensedcode, etc (rather than the big mono repo it is today)
2. be smarter on what is tested when
- only retest things that are affected by a commit in general
- restest all in some cases such as a tag or master or develop merge

There are some pytest plugins that might help for this.

[2019-04-10 09:17] ChinnuJose opened #1520 "Building License detection index killed"
### Description
I have been using ScanCode without any issues for a while. Currently i am getting an error while scan  "Scanning files for: licenses, copyrights, packages with 10 process(es)...
Building license detection index...Killed "

### System configuration

* I am using Linux RedHat7.3
* scancode-toolkit-2.2.1
* I have used pip

[2019-04-10 10:07] pombredanne commented on #1520
@ChinnuJose thank you for the report. Is this on Intel 32 or 64 bits? Which version of Python do you have there? Is this local pip install in a virtualenv or is this a global installation?
I am pretty sure that a pip installation might have problems with 2.2.1. You should try with 3.0.2

Also would you have the problem if you use a tarball installation instead?

[2019-04-10 10:35] ChinnuJose commented on #1520
I have Python 2.7 & its a VM

[2019-04-10 11:11] linexb commented on #1403
We have done maven, pypi and npm packages now, and we will develop further more for other types.

[2019-04-10 18:40] dankegel opened #1521 "scancode installed via pip fails if PyYaml 5.1 is installed"
Now that saneyaml is updated to not depend on a particular version of PyYAML, scancode's explicit dependency on a particular PyYAML is getting in the way.

To reproduce (on clean, updated Ubuntu 16.04, with https://launchpad.net/~dank/+archive/ubuntu/python-fixes installed):
[code]

See also https://github.com/nexB/saneyaml/pull/3#issuecomment-481779602

[2019-04-10 19:29] dankegel commented on #1521
See https://github.com/nexB/scancode-toolkit/pull/1522

[2019-04-11 06:54] ChinnuJose commented on #1520
Scan Code works for options -c -p, it fails only for -l. We have tried rebuilding license index but that also got killed. Any solution for this?

[2019-04-11 07:19] pombredanne commented on #1520
@ChinnuJose how much memory do you have on this VM? Typically the initial license index creation takes about 1.5GB.

Also can you paste the full error trace you should have if you run this using ScanCode 3.0.2:
`scancode --verbose --license --json-pp - NOTICE`

[2019-04-11 07:20] pombredanne commented on #1520
I assume above that you are in the scancode installation directory. Scanning any other file than NOTICE will work too.

[2019-04-11 14:27] pombredanne opened #1523 "Add package type-specific license rule sets"
### Description
Several package types have their own conventions and specification on how they document licenses. We can have a detection that is specialized to such a type and this has been introduced by #1403 but there are still cases where we need even further specialized detection that may need specialized data and not only specialized code reusing the existing master License detection index.

[2019-04-11 14:34] pombredanne opened #1524 "Group related files together (such as the files of a package, build scripts, etc)"
### Description
It is common for many packages to be vendored as-is and/or bundled in a codebase. For instance an npm tar ball or codebase may contain a `node_modules` directory with a tree of dependent `npm`s as declared in a nearby package.json and/or lockfile. The same applies to several other package types: vendoring of Go or Gems or Composer for instance.

In this cases, it would be best if w

[2019-04-11 14:42] pombredanne opened #1525 "For Maven declared_license normalization, also consider all text at once as well as POM XML comments"
### Description
The licenses tags in a Maven POM are normalized using treating the name, then the url then the comments. Licenses in POM XML comments would be caught by the plain text detection too.
We should enhance this by:
1. Looking at the text made of lines of (name, url, comments)
2. Considering the XML comments in the package normalization too

[2019-04-11 18:55] reversi-fun commented on #1525
That Great!,if the following normalization is included.

 * Detect 2 legal NOTICE: spdx/Apache-2.0, "see swing2swt".
 * biz.aQute.bndlib.1.43.0.pom.xml
   https://search.maven.org/artifact/biz.aQute/bndlib/1.43.0/jar
[code]

 * I found the following aliases: But I was tired.
   https://github.com/reversi-fun/license_doc_similality1/blob/master/config/classPath2ArtifactId.csv
   https://github.com/

[2019-04-12 13:15] linexb opened #1527 "Incorrect license detection for FreeBSD PSFL AND BSD3CLAUSE"
### Description
The source MANIFEST file of freebsd  is at:https://github.com/nexB/scancode-toolkit/blob/develop/tests/packagedcode/data/freebsd/multi_license/%2BCOMPACT_MANIFEST

By running the freebsd packagedcode parser, the package result is at:

https://github.com/nexB/scancode-toolkit/blob/develop/tests/packagedcode/data/freebsd/multi_license/%2BCOMPACT_MANIFEST.expected

We can see that bot

[2019-04-13 12:37] arnav-mandal1234 commented on #461
@pombredanne for this issue, I have to calculate sha1 and md5 for an empty file as well keep one extra boolean is_empty to keep track of empty files. Please guide me if I am wrong. :)

[2019-04-15 13:48] turbo opened #1530 "ScanCode CLI doesn't handle whitespace"
### Description

If the repository resides in a path with spaces, the CLI will fail to start:

[code]

### System configuration

* What OS are you running on: macOS
* What installation method was used to install/run scancode: Source clone

[2019-04-15 14:48] pombredanne commented on #1530
@turbo thank you for this report. I think this should be fixed now for macOS and Linux in the latest develop as reported in #1511 and then fixed in #1512 by @Vibhu-Agarwal

Do you mind trying updating to the latest f the `develop` branch to try it?

[2019-04-16 00:41] JonoYang commented on #1505
This has been merged in #1507.

[2019-04-16 00:41] #1505 closed

[2019-04-16 13:15] aj4ayushjain commented on #296
As you instructed i created the test file and .yml but running
` py.test -vvs -n4 tests/licensedcode -k TestsGentooLicensesDataDriven`
gives error as
![image](https://user-images.githubusercontent.com/24209308/56212359-76156880-6077-11e9-9f0b-53d78ee89001.png)
Couldn't figure it out.

[2019-04-16 16:37] pombredanne commented on #296
Each test file needs to have a counterpart YAML data file that contains the test expectations.
The convention was to have a test file `name.foo` with a data file `name.yml`
This has changed since and now we use `name.foo` with a data file `name.foo.yml`
So the code to create basic empty YAML is out of date and should be:
[code]

[2019-04-16 18:52] JonoYang opened #1532 "Add `extra_data` field to Package"
The `extra_data` field would be a dictionary whose keys and values are strings.

In the case of parsing package manifest files, it would be convenient to be able to carry over parsed package data to the Package class so we can use it to fill in some fields on the Package class.

[2019-04-16 20:31] JonoYang commented on #1532
This would be especially convenient in the case of parsing ABOUT files. It would be nice to roll up the information from an ABOUT file to the `about_resource` that the ABOUT file is for, but we need to parse the ABOUT file to know about the `about_resource`.

[2019-04-16 23:19] JonoYang opened #1533 "Have an option to disable exception suppression during Package scan time"
It would be handy to have an option to disable catching exceptions during Package scan time (https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/api.py#L236) for the purpose of debugging.

[2019-04-17 04:56] pombredanne commented on #1533
@JonoYang good point. Exceptions are passed because this otherwise was creating too much noise for packages that contained test packages with invalid manifests. But this is useful not to and to report errors in some cases. May be we should introduce the notion of a WARNING or INFO error message

[2019-04-17 04:57] pombredanne commented on #1532
@JonoYang Thanks! I have been resisting adding this... but this is a good use case, so let's do it!

[2019-04-17 12:04] reversi-fun commented on #1510
Sorry,
If my broken English breaks SPDX-members mood, I want you to compensate.
https://github.com/spdx/license-list-XML/issues/847

[2019-04-17 15:51] tom-kacvinsky opened #1535 "scancode 3.0.2 and binary licenses"
### Description
I am using scancode 3.0.2 (via pip install scancode) with Python 2.7.14.  It is not reporting licenses used by all of the binaries in our product

There is at least one binary I know uses GPL code, but scancode did not flag that binary as using a GPL license.

### System configuration
Running CentOS 7.6.1810
scancode 3.0.2
installed via pip

[2019-04-17 16:19] pombredanne commented on #1535
@tom-kacvinsky thanks for the report and sorry for that. What can you share so I can effectively test and fix this?
I would need to get access to one of the binary. If this is private, then this could be shared privately if needed.

[2019-04-17 16:20] pombredanne commented on #1535
(NB: any missed license detection is a bug to us)

[2019-04-17 16:30] tom-kacvinsky commented on #1535
Well, onelibpython.so I built contains GPL code (GNU realine, but we are not shipping this libpython).
 I wanted to use it as a test to see if it would catch the GPL license in use by it.  I prefer too send it via email, if that is OK by you.

[2019-04-17 16:33] pombredanne commented on #1535
@tom-kacvinsky sure thing: you can send it to pombredanne@nexb.com or pombredanne@gmail.com
I will keep this private!

[2019-04-17 18:48] pombredanne commented on #1535
@tom-kacvinsky I received your binary and there is no license clue that can be detected in this.
There are a few copyright alright (from Python) ... and there are plenty of clues of the presence of a statically linked GNU Readline for sure, but that is not something that scancode detects nor is deigned to detect (that is instead a job for the incoming, work in progress matching engine which is a s

[2019-04-18 13:07] linexb opened #1537 "MIT license can't be detected if the format is "Apache-2.0/MIT""
### Description

When running "compute_normalized_license" on the declared license on "Apache-2.0/MIT", it will detect the license result like "apache-2.0 AND unknown", as we can see that MIT is not detected correctly.

This issue was found when committing declared_license improvement for cargo, #1403  and the commit is: https://github.com/nexB/scancode-toolkit/blob/816b8877fcd78208dba9925524cde9e

[2019-04-18 16:15] aj4ayushjain opened #1538 "Unable to detect Adobe license rules"
While adding license rules for issue #296
adobe-acrobate-reader-eula license exist already in the rules but on scanning with (--license-text) the license gets undetected the licenses do not match exactly only few  lines  at the top are
altered .

File for scan:-
[Adobe.txt](https://github.com/nexB/scancode-toolkit/files/3095263/Adobe.txt)
or https://gitweb.gentoo.org/repo/gentoo.git/tree/licenses/

[2019-04-18 22:39] chinyeungli opened #1539 "Same Google patent notice with different project origin"
[code]

The above license notice is detected as `bsd-new` and `google-patent-license-webm` which is not entirely correct.
Since this is from WebRTC project, the patent part should be detected as `google-patent-license-webrtc` instead.

[2019-04-18 23:30] JonoYang commented on #1491
This has been merged in #1507

[2019-04-18 23:30] #1491 closed

[2019-04-19 18:11] mjherzog commented on #808
We need this output to streamline codebase analysis especially with "rightsizing" multiple Scans for a codebase so that the Scan files are easier to use in Workbench.

[2019-04-19 18:41] JonoYang opened #1541 "ScanCode should be able to concatenate multiple scans into a single large scan"
This would be helpful in the case where we have multiple individual scans of different parts of the same codebase

[2019-04-19 18:56] majurg commented on #1541
see also  #1439

[2019-04-19 18:57] JonoYang commented on #1541
@majurg Thanks. I'll use that ticket. Closing in favor of #1439

[2019-04-19 18:57] #1541 closed

[2019-04-19 18:59] DennisClark commented on #1439
just a thought -- perhaps this could be implemented as a feature in scancode-workbench, where it might be able to take advantage of the underlying database.

[2019-04-19 19:13] majurg commented on #1439
@DennisClark Yes, that is a possibility. However, ScanCode outputs are used in a verity of different places (deltacode, DJE package import etc) and this could be useful for them as well.

[2019-04-22 18:52] yiting-wang33 opened #1542 "Have "All rights reserved." contained in json output"
### Description
I'm using Scancode to detect the copyright in a repo.  I have the copyright pattern as:

 *is the year
Currently in json result, the copyright value is:
[code]
I expect the copyright statement would end up with "All rights reserved." So, it should look like:
[code]
I notice #559 , but what should I do to have that picked up?
Thank you!

[2019-04-23 07:11] pombredanne commented on #1542
@yiting-wang33 as I explained in https://github.com/nexB/scancode-toolkit/issues/559#issuecomment-286751659 we explicitly do not capture these as they are considered obsolete per https://en.wikipedia.org/wiki/All_rights_reserved#Obsolescence.

It would be possible to capture them and that would require changes to the part of speech tagger and grammar we use to detect and parse copyright statements

[2019-04-23 07:12] pombredanne commented on #1538
@aj4ayushjain good catch. I think I may know the reason. Let me dig this a bit

[2019-04-23 07:13] pombredanne commented on #1537
@linexb thanks! good catch. We need to add a new rule alright for this case.

[2019-04-23 07:17] pombredanne commented on #1539
Thanks! I wonder if this is really a different license just because of the webrtc/webm names differences?
See also https://github.com/ssskip/webrtc/blob/b2e176522e920458f85c769ca42a8cce4a31ddac/PATENTS for the full text

[2019-04-23 18:58] JonoYang commented on #1533
This has been merged into develop. Closing.

[2019-04-23 18:58] #1533 closed

[2019-04-24 09:57] pombredanne commented on #1519
Chat log with py.test developers on #pylib on Freenode:
[code]

[2019-04-24 09:59] pombredanne commented on #1519
See also this for a minimally failing configuration
https://gist.github.com/pombredanne/b268ac258ca7d773c4b35dc9b431dde6

And this is the key recommendation:

[2019-04-24 10:03] pombredanne commented on #1519
Note that the strategy that I would like to implement is the following:

1. to speed test runs

- if the current branch is develop or master, nothing special happens: run all tests
- otherwise, the list of changed modules is collected based on what git
  reports as changed agsint the develop branch and also adding the list
  of other modules that depend on these modules.
- then any path of files t

[2019-04-26 02:24] linexb opened #1545 "Add the parse function for pypi to parse the json and return Package object"
### Description
The parse function to accept the json content and return the package object is required.

The json example is: https://pypi.org/pypi/vmock/0.1/json

[2019-04-30 12:11] ChinnuJose commented on #1520
I have updated scancode toolkit to version 3.0.2. I am getting the below error while scanning :

Traceback (most recent call last):
  File "/opt/Talko_scancode/scancode-toolkit-3.0.2/bin/scancode", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/site-packages/pkg_resources.py", line 3007, in <module>
    working_set.require(__requires__)
  File "/usr/l

[2019-04-30 13:16] pombredanne commented on #1520
@ChinnuJose Can you tell me how you updated scancode?

[2019-04-30 13:37] ChinnuJose commented on #1520
Dowloaded scancode toolkit 3.0.2 zip and extracted to /opt and ran ./scancode.

[2019-04-30 14:12] pombredanne commented on #1520
@ChinnuJose can you confirm you setup:
1. OS is RH EL 7.3 on X86_64 processor
2. You have only 1.5GB RAM
3. You have Python 2.7.x (please confirm the version)

Also could you extract the released zip in your home directory rather than in /opt for now?

[2019-04-30 14:24] sschuberth commented on #1262
By now I believe the better approach is to simply install `glibc` in Alpine rather than compiling native packages for `musl-libc`, so I'll close this to consolidate the discussion at https://github.com/nexB/scancode-toolkit/issues/636.

[2019-04-30 14:24] #1262 closed

[2019-04-30 14:33] sschuberth commented on #636
I'm currently experimenting with a minimal `Dockerfile` that already has `glibc` installed:

[code]

But building the image gives

@pombredanne, any idea what the issue is?

[2019-05-02 09:22] ChinnuJose commented on #1520
We have 64GB RAM in the VM.
Currently we are using Python 2.7.5

I have tried extracting the released zip to home folder still the error persist

[2019-05-02 11:32] MMarwedel opened #1547 "Extraction of license text is incomplete and bracktest [] are around some words"
Hello,
scanning some C++ header files, there are sometimes several things going wrong:
1. The licences should be detected as "gpl-3.0-plus WITH gcc-exception-3.1" or similar, but is detected as "gpl-3.0-plus"
2. The first sentence and two words of the license text are cut away.
3. There are several words in brackets [], which looks like the print of an array from python.

Sample file:
From
https:/

[2019-05-02 12:18] pombredanne commented on #1520
@ChinnuJose thanks. This is really not normal. I would need to know exactly which OS version you use exactly so that we can try to reproduce. Do you know if there is a trial version of RHEL 7.3 somewhere? or do you experience the same issue with CentOS?

[2019-05-02 12:21] pombredanne commented on #1547
@MMarwedel thank you for this report

About `There are several words in brackets [],` ... this is how we surround words that were not matched (it is not related to Python arrays/lists)

[2019-05-02 13:08] pombredanne commented on #1547
In a branch that I am working on on some license issues I get this now:
[code]
And I verified that all the licenses  in `gcc-7_7.4.0.orig/gcc-7-7.4.0/gcc-7.4.0-dfsg/gcc-7.4.0/libstdc++-v3/include/profile/` are detected correctly

I will also add a new rule and new tests when I am pushing this branch

[2019-05-02 13:10] pombredanne commented on #1547
Thanks again ++ for the report

[2019-05-02 13:35] pombredanne opened #1548 "Consider stripping RTF from tags"
### Description
Some RTF file can contain licenses and copyrights and detection is less accurate in these cases on raw binaries. https://pypi.org/project/striprtf/ could help strip RTF.

- @joshy https://github.com/joshy/striprtf license is a BSD, but
- it was derived from @gilsondev https://gist.github.com/gilsondev/7c1d2d753ddb522e7bc22511cfb08676#gistcomment-2905474
- which was derived from @Mi

[2019-05-02 16:31] MizardX commented on #1548
I don't care. Use at your own risk.

[2019-05-03 05:19] ChinnuJose commented on #1520
Issue faced in RHEL 7.3 only.
We are using Red Hat Enterprise Linux Server release 7.3

[2019-05-03 11:18] MMarwedel commented on #1547
Thanks for the fast response. The fix is working for me.

[2019-05-03 13:27] pombredanne commented on #1547
@MMarwedel and thank you for testing this!

[2019-05-06 03:52] ChinnuJose commented on #1520
"pkg_resources.DistributionNotFound: The 'scancode-toolkit' distribution was not found and is required by the application"
Updated the pip to 8.1.2 same error is coming along with the description above

[2019-05-06 11:28] MMarwedel opened #1549 "Missing licenses from ST"
Hello,
ST uses two types of licenses, which are currently not detected.
The first one has additional requirements to the BSD-style license, and is currently detected as simply BSD.
You can find multiple samples of this here on Github, like:
https://github.com/akospasztor/stm32-bootloader/blob/master/Middlewares/Third_Party/FatFs/src/diskio.c
or
https://github.com/aws/amazon-freertos/blob/master/li

[2019-05-06 13:29] pombredanne commented on #1549
Thanks: this is great
The names you picked are actually quite good. The only question is whether the proprietary license is frequent enough to deserve a name of its own, as opposed to be only a few extra detection rules for a `proprietary-license`... but a quick search https://github.com/search?q=%22MCD-ST+Liberty+SW+License+Agreement+V2%22&type=Code tells me this is worth it.

One small note: we

[2019-05-06 13:53] pombredanne commented on #1520
@ChinnuJose thank you. I fetched a 7.3 trial ISO of RHEL and I will look into this.
I am a bit puzzled though: are you doing a pip installation ? or are you installing from a release archive from https://github.com/nexB/scancode-toolkit/releases ?

I would need to know exactly which command you used to be able to reproduce your installation.

[2019-05-07 08:16] reversi-fun commented on #1510
I could not get approval.
https://github.com/spdx/license-list-XML/issues/847

[2019-05-07 10:04] ChinnuJose commented on #1520
I have installed from the release archive.
Downloaded the zip and extracted the file and used the ./scancode --help command to configure scancode.

DistributionNotFound error is fixed now, It was not supporting the command we used in the older version. We changed the command it is now working.

Now the issue is while scanning using --l & --p we are getting the below error
Setup plugins...
Killed

[2019-05-07 18:53] sk9331657 commented on #1359
@pombredanne  Claiming this Sir .

[2019-05-08 05:53] sk9331657 commented on #1359
@pombredanne  Can you explain more about this issue??

[2019-05-08 06:22] chinyeungli opened #1551 "Detected package data should be shown in string format for CSV output"
Some of the "package declared license" from package scans returned as data structure instead of plain text in CSV output. For instance,
[code]

The above does not look good in the CSV.

[2019-05-08 08:51] Vishal260700 commented on #1475
@pombredanne  I have solved the Issue but with no Edit Access to Wiki Pages (Admin Access only), I am not able to edit them and make a pull request. On Separately cloning the Wiki also the How-To Section is Empty.

[2019-05-08 11:03] pombredanne commented on #1530
@turbo ping?

[2019-05-08 11:04] #1547 closed

[2019-05-08 11:04] pombredanne commented on #1549
ping?

[2019-05-08 11:06] MMarwedel commented on #1549
Anything else you want me to do in this case?

[2019-05-08 11:13] pombredanne commented on #1389
Fixed and merged. Closing

[2019-05-08 11:13] #1389 closed

[2019-05-08 11:15] pombredanne commented on #461
@arnav-mandal1234 correct, but I think this is no longer an issue. That would be worth checking on a --info scan that would have some empty files

[2019-05-08 11:15] pombredanne commented on #1439
This has been merged. Thanks!

[2019-05-08 11:19] pombredanne commented on #636
@sschuberth sorry for the late reply...
ScanCode has a dep on `extractcode-libarchive` and this contains a prebuilt native that may not be happy with an Alpine static setup.
What is likely is that the glibc provided there may not match?

Could you try to use a release archive with this Alpine setup instead to eliminate some moving parts?

Just our if curiosity is using Alpine really proving such b

[2019-05-08 11:22] pombredanne commented on #1510
@reversi-fun not a problem. I can still accept these licenses here alright even if they are not approved at SPDX.

[2019-05-08 11:25] pombredanne commented on #1549
@MMarwedel a pull request would be best if you can manage that. Otherwise it is your call to make two new licenses or one license and some new rules.
Thanks!

[2019-05-08 13:49] pombredanne opened #1553 "Add support for build tool manifest files as proxies for packages"
### Description
The presence of a build manifest/script (such as a Makefile, a gradle script, a BUCK or BUILD file, etc.) can be a good proxy for the presence of a package and could be used as a way to group files together as a virtual package.

[2019-05-08 13:57] pombredanne opened #1554 "Add to a detected package the list of files that it contains"
### Description
Packages often contain other nested packages from other origins. For instance an installed npm-based application will have a `node_modules` directory of the provisioned dependencies once an `npm install` command has been issued. The same would apply  to Pypi packages in a virtualenv, Rubygems bundled in a vendor dir with bundler, nested Maven projects... etc.

Therefore it would be

[2019-05-08 14:47] pombredanne opened #1555 "infinite recursion on Windows"
### Description
See https://ci.appveyor.com/project/nexB/scancode-toolkit/builds/24389675/job/0l6svxksrctojrrs
[code]

@JonoYang do you mind to look into it since you likely introduced this with  #1439 #1543  :angel:

[2019-05-08 14:53] pombredanne commented on #1003
@LeChasseur You can find these here: https://github.com/nexB/scancode-toolkit/tree/develop/src/licensedcode/data/licenses

For each license there is a pair of files:
1. a file with a `.LICENSE` extension that contains its text
2. a file with a `.yml` extension that contains data about that lincese (key, name, SPDX, URL, etc)

There are about 1500 of these. And there are more than this number that

[2019-05-08 15:41] LeChasseur commented on #1003
Thanks! Very interesting.

Am 08.05.2019 um 16:53 schrieb Philippe Ombredanne:

[2019-05-08 15:56] pombredanne commented on #1502
@a-tinsmith My bad... I was on the wrong ticket... closing this now. Thanks!

[2019-05-08 15:56] #1502 closed

[2019-05-08 16:01] Vishal260700 commented on #1330
@pombredanne I think this issue doesn't hold anymore. I tried all available options of '--license-text' and they all successfully worked. You may shut down this issue.

[2019-05-08 16:08] pombredanne commented on #1330
@Vishal260700 but the text is not not included in a CSV, right ? (it should not)
I think we should document that this is only for the JSON output in the command line help e.g. here https://github.com/nexB/scancode-toolkit/blob/63015c44178abc98ae4d1bd9f0a6dd398edfa581/src/licensedcode/plugin_license.py#L87 ?

[2019-05-08 17:19] sk9331657 commented on #1359
Thanks for clarification .

[2019-05-08 17:23] sk9331657 commented on #811
@pombredanne  Claiming this .

[2019-05-08 17:42] pombredanne commented on #636
@sschuberth

I have no idea :D

that said, it (making things work on Alpine) could be something that could may be dealt with in the GSoC project of @aj4ayushjain ?

[2019-05-08 17:50] pombredanne commented on #811
@sk9331657 let me defer this to @dmclark and @sesser:  do you guys mind chiming in this?
I had removed the screen shot we had in the past. Do we want one in the README? your call

[2019-05-08 18:05] majurg commented on #811
@pombredanne We have some already in the `scancode-workbench` README and Wiki. We could probably get away with just linking to one of those. That way we have one source of screenshots and would not need to keep it updated on the `scancode-toolkit` side.

[2019-05-08 20:25] sk9331657 commented on #1359
@pombredanne It is better to document parameter directly in Html. What are ur reviews??

[2019-05-09 03:50] TG1999 commented on #933
@yash-nisar can you explain in which files we have to make the change is it README.rst or any other file?

[2019-05-09 11:19] turbo commented on #1530
I'll test it and get back to you.

[2019-05-09 11:24] TG1999 commented on #933
@pombredanne can you explain in which files we have to make the change is it README.rst or any other file?

[2019-05-09 11:27] TG1999 commented on #769
Can you elaborate on this issue @pombredanne? what we have to do exactly? which files have to be changed

[2019-05-09 13:01] pombredanne commented on #1549
@MMarwedel thank you for your PR: I merged #1559 in the branch you requested and that will eventually be merged in develop once all the test runs are completed.
You will note that I added a few changes: I used the full license text for the .LICENSE file...  https://github.com/nexB/scancode-toolkit/commit/27a272f610219c6be1a88831926477b8b9d2738aand created a few rules for the notice you add used as

[2019-05-09 13:48] pombredanne commented on #1549
@MMarwedel

Actually I did revisit this as I was finding highly suspicious that the commits for #900 and #662 were not correct as the ticket was for the same license URL...
And here is the mess: the same URL  https://www.st.com/software_license_agreement_liberty_v2 for the so called "MCD-ST Liberty SW License Agreement V2" has pointed to different content over the years. At least these three versi

[2019-05-09 14:20] MMarwedel commented on #1549
Thanks for doing the work for sorting this things out. Maybe contacting ST is the best solution. I dont have a good idea at the moment.

[2019-05-09 14:23] pombredanne commented on #1549
@MMarwedel let me ping the them here. I cannot hurt!
@BernardPuel @CCASTM I am pinging you because I saw your names associated with @STMicroelectronics and we are trying to sort out some ST software licensing ambiguities. You can see the history above. If you could forward this to someone that could help that would be very gentle of you!
Thank you.

[2019-05-09 14:35] pombredanne commented on #1361
Merged. Thanks!

[2019-05-09 14:35] #1361 closed

[2019-05-09 19:45] turbo commented on #1530
Confirmed fixed.

[2019-05-10 12:35] sschuberth commented on #636
@pombredanne, so when installing from source while building the Alpine-Docker-image I get

[code]

Not really much more telling about what exactly is the issue why `extractcode-libarchive` could not be installed.

[2019-05-10 13:11] aj4ayushjain commented on #636
@roscopecoltran
It does not have the binaries of extractcode-libarchive plugin for alpine that's what it mean so
@pombredanne can't we build a prebuilt native binary for alpineand fix this

[2019-05-10 13:16] sschuberth commented on #636
Ok, this `Dockerfile` gets me a bit further:

[code]

But now it still wants to build `intbitset` using `gcc`:

[code]

[2019-05-10 13:24] sschuberth commented on #636
@aj4ayushjain, that basically what I had been asking for in https://github.com/nexB/scancode-toolkit/issues/1262, but it turns out to be quite laborious, and as mentioned [here](https://github.com/nexB/scancode-toolkit/issues/1262#issuecomment-487972551) I by now believe the better approach is to use an Alpine Docker image that has https://github.com/sgerrand/alpine-pkg-glibc installed, which is w

[2019-05-13 13:40] rdoeffinger opened #1560 "Restrictive licenses detected as mozilla-gc"
### Description
A file with the following contents is detected as mozilla-gc:

/*
PERMISSION IS HEREBY GRANTED TO USE, MODIFY, AND/OR COPY
THIS SOFTWARE FOR INTERNAL USE ONLY
*/

(this is only part of the full, proprietary, license text)
I don't know how the code works, but I would suggest a license should never be detected as mozilla-gc unless the words "for any purpose" actually appear in it.

#

[2019-05-13 14:34] pombredanne commented on #1560
@rdoeffinger Thank you for this report. You said:

THIS SOFTWARE FOR INTERNAL USE ONLY

I thought for a second that this license was part of Linux code. But reading again it was clear this is not and you used ScanCode on Linux instead.

Could you attach or paste this agreement of yours so it could be included as a detectable text? The fragment you posted is rather unique and never seen anywhere el

[2019-05-13 14:55] pombredanne commented on #1287
This was pushed by @DennisClark with https://github.com/nexB/scancode-toolkit/commit/415d0c89267019b1c7bb35dc6bbb852d44419ec8

[2019-05-13 16:04] DennisClark opened #1561 "Assignment of package filenames needs to be improved"
A recent scan (using ScanCode.io) of bootstrap-4.3.1.tar.gz (from https://github.com/twbs/bootstrap/archive/v4.3.1.tar.gz ) resulted in the identification of a couple of packages that are unique (different URL's), but the assigned filenames are confusingly the same:

Package 1:
Filename `4.3.0`
Download URL `https://www.nuget.org/api/v2/package/bootstrap/4.3.0`
Package URL `pkg:nuget/bootstrap@4.3

[2019-05-13 16:12] DennisClark opened #1562 "Assignment of Download URL to a detected package needs to be improved"
A recent scan (using ScanCode.io) of  vscode-1.33.1.tar.gz (from https://github.com/microsoft/vscode/archive/1.33.1.tar.gz ) resulted in the assignment of invalid Download URL's to detected packages.  An example is the detected package `clojure-1.0.0.tgz` which was assigned a Download URL of `https://registry.npmjs.org/clojure/-/clojure-1.0.0.tgz` which does not work.

An archive of the scan outpu

[2019-05-13 16:33] rdoeffinger commented on #1560
Sorry for the unclear wording! Didn't think about it since I was just following the bug reporting instructions, oops.
The problem I see with this approach of including the full license is that there are so incredibly many proprietary licenses that it seems a bit worrying to me if they are likely to be identified as permissive licenses instead by default - probably just due to the fact that most li

[2019-05-14 06:59] pombredanne opened #1563 "BSD license not detected"
### Description
See https://github.com/actframework/actframework/blob/e09438ddc29ab34fc95e736f8052e9f9151385cf/src/main/resources/asset/~act/js/highlight.min.js

Reported by @bduranc

[2019-05-14 07:28] pombredanne opened #1564 "Freeware detected as unknown, proprietary would be better"
### Description
See https://raw.githubusercontent.com/actframework/actframework/e09438ddc29ab34fc95e736f8052e9f9151385cf/testapps/GHIssues/src/main/resources/asset/license_freeware.txt

Reported by @bduranc

[2019-05-14 10:28] MMarwedel opened #1565 "Copyright is incomplete when there is a newline between"
Hi,
if there is a newline between the copyright and the name of the company, the company does not show up in the "copyrights": as value.
Sample which goes wrong (actually not exactly the file I scanned, but same formatting and from the same company):
https://github.com/espressif/arduino-esp32/blob/master/tools/sdk/include/newlib/sys/features.h
"copyrights": [
        {
          "value": "COPYRIGH

[2019-05-15 12:48] MMarwedel opened #1566 "Umlauts in copyrights are removed from output files"
Hi,
when scanning files with umlauts, they are converted to non umlauts. It should be better to keep them in the original form.
Sample file:
https://chromium.googlesource.com/native_client/nacl-newlib/+/master/newlib/libc/time/strptime.c
Output:
 "holders": [
	{
	  "value": "Kungliga Tekniska Hogskolan (Royal Institute of Technology, Stockholm, Sweden).",
	  "start_line": 2,
	  "end_line": 4
	}

[2019-05-15 16:19] pombredanne commented on #1565
@MMarwedel Thank you for this. New, empty lines are used to decide which lines should be considered for a copyright detection. And empty line is this context is considered as a break and not part of the detection. The difficulty is to determine when this new lines is relevant and a break and when this is not not. In the vast majority of the cases, this is a break.
Is this something you have seen o

[2019-05-15 16:22] pombredanne commented on #1566
@MMarwedel this is indeed the case. What happens in fact is called transliteration, that is converting unicode characters to a plain ASCII form. And this effect is to remove umlauts and all other punctuation. I agree this is not perfect,  and I am not sure what the rationale was when the decision was made. Since we are porting to Python 3 that uses unicode by default, it may no longer be issue in

[2019-05-16 08:29] MMarwedel commented on #1566
Yes, this would work for me. As I am doing some postprocessing of the results anyway, I can fix the umlauts there for the few cases I found.

[2019-05-16 08:37] MMarwedel commented on #1565
I agree, its difficult to decide which part of the text belongs to which other part. In fact I only found one file with some "(c) DATE" but no autor or company following in the results.
I however cant say if I missed some
"(c) DATE author1 and

author2"

cases.

[2019-05-16 09:10] pombredanne commented on #1566
If you are doing some post processing it would be best to handle this in here if possible... everyone could then benefit?

[2019-05-16 09:14] pombredanne commented on #1565
as weird as it sounds the likely best way to fix this is to fix this in newlib with a patch that would remove the empty line. I ran a quick test with a naive way to consider an empty as possibly part of a copyright statement and it created massive test failures. This is really uncommon.
I sent a patch: https://github.com/espressif/arduino-esp32/pull/2787

As for cases "(c) DATE author1 and

author

[2019-05-16 09:46] MMarwedel commented on #1566
Hmm... while I like to share code, I guess the post processing may not be in a state easy useable for other projects. And my employer would have to agree too.

[2019-05-16 10:02] MMarwedel commented on #1565
Okay, patching this in newlib, I guess is the best solution. The right place might be https://www.sourceware.org/newlib/ but I failed to find the file there and provide a link, so espressif was just a random other place to find the file online.

[2019-05-16 11:29] pombredanne commented on #1565
so it would be great if you know where your copy of newlib comes from exactly? there are many processor-specific variants that float around!

[2019-05-16 15:14] pombredanne commented on #1566
your call :)

[2019-05-16 15:59] pombredanne commented on #1560
@rdoeffinger Thank you . I added the larger license text as detection rule and will push the updated branch soon.

That's were the scoring returned with the matches helps. Since we do a diff in the end there is little risk to mis identify a proprietary license for a permissive one unless:
1. the  proprietary license contains the text of the permissive one
2. AND it contains no other thing that cou

[2019-05-17 05:17] ChinnuJose commented on #1520
@pombredanne For scancode 3.0.2 is it possible to edit the output html format like in older version. Now custom-template option is used only for jinja template.

[2019-05-17 09:31] ChinnuJose opened #1567 "Scancode html format"
### Description
I would like to know whether it is possible to define the template for html output in Scancode toolkit version 3.0.2.
In older version we are able to specify the template in html output using –format in latest –format is no longer available.

### System configuration
For bug reports, it really helps us to know:
* Linux
* Scancode-toolkit 3.0.2
* Downloaded the archive file and extr

[2019-05-17 11:29] MMarwedel commented on #1565
Hi,
the file is from the source package provided by ARM:
https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads#panel2a
The "7-2018-q2-update" then the "Source Invariant" download.
Then in the gcc-arm-none-eabi-7-2018-q2-update\src
extract newlib.tar.bz2
then the file will be under
newlib/newlib/libc/include/sys/features.h

As ARM states on

[2019-05-20 09:42] pombredanne opened #1568 "Incorrect license detection: GPL instead of LGPL"
### Description
Reported by  `Allison Randal <allison@lohutok.net>` in https://lore.kernel.org/linux-spdx/alpine.DEB.2.21.1905200559350.3019@nanos.tec.linutronix.de/T/#u

[code]
is incorrectly detected as `gpl-2.0-plus` instead of `lgpl-2.0-plus`

[2019-05-20 11:07] pombredanne opened #1569 "Clarify detection of GPL with BSD disclaimers"
### Description
Some GPL exist in the Linux with a BSD-like disclaimer. We detect them alright but it would be nice to have some indication that there may be also some BSD-like disclaimer

See
https://lore.kernel.org/linux-spdx/alpine.DEB.2.21.1905201027400.24434@nanos.tec.linutronix.de/T/#ebb8dac1ad77f818ff0bc68407326829368dc4e95

Reported-by: @swinslow

[2019-05-20 11:12] pombredanne commented on #1569
In the case of https://git.kernel.org/pub/scm/linux/kernel/git/tglx/linux-spdx.git/tree/drivers/scsi/a100u2w.c?id=750afb08ca71310fcf0c4e2cb1565c63b8235b60
there was another BSD derivative in older code circa the Git migration https://git.kernel.org/pub/scm/linux/kernel/git/tglx/linux-spdx.git/commit/drivers/scsi/a100u2w.c?id=1da177e4c3f41524e886b7f1b8a0c1fc7321cac2

It was removed by Alan Cox and

[2019-05-20 11:14] pombredanne commented on #1569
For reference the BSD in question is this one: https://github.com/nexB/scancode-toolkit/blob/40e7192f71f3a9b9822aeba44441d08b67736a7a/src/licensedcode/data/licenses/bsd-top-gpl-addition.LICENSE

[2019-05-20 11:17] pombredanne commented on #1569
In the case of https://lore.kernel.org/linux-spdx/alpine.DEB.2.21.1905201027400.24434@nanos.tec.linutronix.de/T/#m3268e97c076a0cad3b321a31c1a18b919c2991b5

The commit log [1] shows this was clearly always this way and is original code [2]
People do funky stuff at times and mix and match notices and disclaimers from various origins.
So this is IMHO a GPL alright and there is no BSD in play.

The le

[2019-05-20 14:27] pombredanne opened #1570 "update Wiki pages"
### Description
We shouldupdate these Wiki pages (or deprecate them and move them to actual real docs)
- https://github.com/nexB/scancode-toolkit/wiki/How-To:-Run-a-scan
- https://github.com/nexB/scancode-toolkit/wiki/How-To:-Format-scan-output
- https://github.com/nexB/scancode-toolkit/wiki/How-To:-Set-what-will-be-detected-in-a-scan
to be clear that the HTML app format has been deprecated

[2019-05-20 16:00] pombredanne opened #1571 "Add vcpkg C/C++ packages"
### Description
See  https://github.com/microsoft/vcpkg and https://github.com/microsoft/vcpkg/blob/f008d24c67b722ddd87adb09aa8b5c0531c83d6e/docs/examples/packaging-github-repos.md
We have two main manifests of interest:
- a portfile: CMake file with macros we could parse  https://github.com/microsoft/vcpkg/blob/f008d24c67b722ddd87adb09aa8b5c0531c83d6e/ports/abseil/portfile.cmake and https://vcpkg

[2019-05-20 22:18] pombredanne commented on #1567
@ChinnuJose sorry if the doc is not clear enough.
The options have changed there. You can now use:
- `--custom-output FILE`  to write scan output to FILE formatted with the custom Jinja template file pointed to by the `--custom-template` option
- `--custom-template FILE`  is to point to a Jinja template FILE to use as a custom template. If not specified a default template is used

[2019-05-21 07:33] pombredanne commented on #1568
@allisonrandal FYI

[2019-05-21 16:05] allisonrandal commented on #1568
LGTM

[2019-05-22 13:28] pombredanne commented on #1520
@ChinnuJose yes it is. See my reply in #1567

[2019-05-22 13:28] pombredanne commented on #1520
@ChinnuJose do you still have the "Killed" issue here? I could not reproduce it

[2019-05-22 18:02] pombredanne opened #1572 "Consider new license UnboundID-LDAPSDK"
### Description
See https://raw.githubusercontent.com/pingidentity/ldapsdk/master/LICENSE-UnboundID-LDAPSDK.txt
https://github.com/pingidentity/ldapsdk#unboundid-ldap-sdk-for-java

[2019-05-24 06:26] AtToftegaard opened #1573 "Unsupported OS/platform 'win64'"
Hi all,
When I try and install I get the following:
` * Configuring ScanCode for first use...`
`Junction created for C:\Users\Z6ATF\Desktop\test\bin <<===>> C:\Users\Z6ATF\Desktop\test\Scripts`
 ` * Activating ... `
`Unsupported OS/platform 'win64'.`
`See https://github.com/nexB/scancode-toolkit/ for supported OS/platforms.`
`Enter a ticket https://github.com/nexB/scancode-toolkit/issues asking fo

[2019-05-25 22:20] RituRajSingh878 commented on #1570
[code]
I tried this from[https://github.com/nexB/scancode-toolkit/wiki/How-To:-Run-a-scan]( https://github.com/nexB/scancode-toolkit/wiki/How-To:-Run-a-scan) and i got an error.

[2019-05-27 09:17] zvr commented on #1568
ehmmm... @pombredanne in the description of this issue, the first `lgpl-2.0-plus` should be `gpl-2.0-plus` to make sense...

[2019-05-27 11:43] pombredanne commented on #1568
@zvr thank you! I updated the description.

[2019-05-28 07:09] RituRajSingh878 commented on #1570
@pombredanne, please review it and merge it and so that I can proceed further.

[2019-05-29 08:31] RituRajSingh878 commented on #1570
I have solved this issue in the pr #1574

[2019-05-29 12:44] linexb commented on #253
This can be another tool: https://pypi.org/project/wheel-inspect/

[2019-05-30 00:57] chinyeungli opened #1575 "Extraction error for long filename"
I got the following extraction error
[code]

I suspect this is caused by long filename.

[2019-05-31 15:04] Abhishek-Dev09 opened #1577 "Add support for Azure Pipelines"
Before starting your migration,we must follow:
a)Create your first pipeline
b)Key concepts for new Azure Pipelines users
c)Building GitHub repositories

Reference: https://docs.microsoft.com/en-us/azure/devops/pipelines/migrate/from-travis?view=azure-devops

[2019-05-31 15:13] pombredanne commented on #1577
the thing we would need is to:
1. test on Python 2.7 and Python 3.6
2. test on mac, windows and linux.
3. possibly break down the tests in smaller chunks as they are today in the travis and appeyor config, so that the tests are running on multiple parallel instances. That's a nice to have though.

[2019-06-01 08:54] pombredanne opened #1578 "Failure to collect a URL"
### Description
With this file https://raw.githubusercontent.com/hyperledger/fabric-ca/27fbd69ab2d0f07212b382eb04aa85c904d2c300/vendor/github.com/google/certificate-transparency-go/x509/verify.go and this scan:
`scancode --url --json-pp - verify.go` I get this error:

[code]

Reported by @dabutvin

[2019-06-02 08:41] sat5297 opened #1579 "unable to install scancode-toolkit"
Unable to install the scancode-toolkit using the command pip install scancode-toolkit
The error generated on my system is:
pip install scancode-toolkit
Collecting scancode-toolkit
  ERROR: Could not find a version that satisfies the requirement scancode-toolkit (from versions: none)
ERROR: No matching distribution found for scancode-toolkit

I am running Ubuntu 18.04.2 LTS

[2019-06-02 09:55] Abhishek-Dev09 commented on #1579
This project is under construction.Don't worry it will be solved soon.

[2019-06-02 17:51] pombredanne commented on #1579
@sat5297 which version of Python are you using?

For now, we only support Python2. @Abhishek-Dev09 is working on the Python3 port.

[2019-06-02 17:59] pombredanne commented on #1383
This is now fixed in the `improved-license-rules-04-29` branch

[2019-06-02 17:59] #1383 closed

[2019-06-02 18:00] pombredanne commented on #1403
This has been merged. Thanks!

[2019-06-02 18:00] #1403 closed

[2019-06-02 18:09] pombredanne commented on #1479
This was fixed with https://github.com/nexB/scancode-toolkit/commit/50d24184aace8c75acca488e3102fd56767c12a0
I forgot then to reference the ticket
Closing now

[2019-06-02 18:09] #1479 closed

[2019-06-02 18:20] pombredanne commented on #1538
This is fixed with #1552

[2019-06-02 18:20] #1538 closed

[2019-06-02 18:20] pombredanne commented on #1538
thanks!

[2019-06-02 18:21] pombredanne commented on #1560
Thank you!
This is now fixed in PR #1552
It will be merged as soon as the tests all pass.

[2019-06-02 18:21] #1560 closed

[2019-06-02 18:52] pombredanne commented on #1527
Fixed in #1552
Thank you for the report!

[2019-06-02 18:52] #1527 closed

[2019-06-02 18:54] pombredanne commented on #1508
https://raw.githubusercontent.com/taku910/mecab/master/mecab-ipadic/COPYING  is now detected as `naist-2003` as it should.

Closing.

[2019-06-02 18:54] #1508 closed

[2019-06-02 19:06] pombredanne commented on #1356
This is now included in develop and in #1552 . Also as a related thing, the list of frequent words has been replaced by a list of "legalese" words which is roughly the complement of what the junk words list was, over the set of license texts and rules. Another way to think of it would be the intersection of ranked common words vs. ranked common words in licenses and where these do not agree.
Closi

[2019-06-02 19:09] pombredanne commented on #1354
@DennisClark `us-govt-public-domain` is created and is in the PR #1522
@LeChasseur Existing samples  that were for such public domain dedication have been tagged accordingly so you will know if this is a US Gov't thing or not.
See https://github.com/nexB/scancode-toolkit/blob/improved-license-rules-04-29/src/licensedcode/data/licenses/us-govt-public-domain.LICENSE for an example

[2019-06-02 19:10] pombredanne commented on #1352
@LeChasseur @DennisClark are we done on the categories and are we good with the status quo? or not?

[2019-06-02 19:11] pombredanne commented on #1335
All these license rules have been reviewed and this is now merged in develop

[2019-06-02 19:11] #1335 closed

[2019-06-02 19:28] pombredanne commented on #1331
This is now solved in #1552 with the introduction of a `deadline` in scanners and better handling certain patterns of tokens in text preparation. These three files have very different styles:
- readtest.in and readtest.in.OLD are mostly text data files with hex and digits and are 126, 297 and 126,298 lines big respectively and have no licenses
- the sqlite file contains 141 `public-domain` dedicat

[2019-06-02 19:28] #1331 closed

[2019-06-02 19:37] pombredanne commented on #1312
All these are multi MB text files and were the victims of a timeout:
[code]
With the new improvements of #1552 they are scanned alright and do not timeout anymore.
Here is the scan [scan.txt](https://github.com/nexB/scancode-toolkit/files/3245137/scan.txt)

[2019-06-02 19:37] #1312 closed

[2019-06-03 04:55] sat5297 commented on #1579
Found a link from stack overflow
https://stackoverflow.com/questions/11268501/how-to-use-pip-with-python-3-x-alongside-python-2-x

one of the suggestions here say that pip can be used for python2 and pip3 can be used for python3 and i have both of them installed on my system.

$ python2
Python 2.7.15rc1 (default, Nov 12 2018, 14:31:15)
[GCC 7.3.0] on linux2
Type "help", "copyright", "credits" or "

[2019-06-03 09:14] pombredanne commented on #695
In the PR #1552  the obr.xml scans correct (and reports the 1241 instances of Apache 2.0 notices or tags in that file). The feature is the introduction of a deadline and is an implementation of this idea https://github.com/nexB/scancode-toolkit/issues/695#issuecomment-316832638:

The timeout is converted to a deadline time (a not to exceed time) and each scanner receives it as an argument and can

[2019-06-03 09:14] Abhishek-Dev09 commented on #1579
@sat5297 What are u talking about i don't know. This issue is about install scancode-toolkit with pip.And you are talking about pip.

[2019-06-03 09:32] pombredanne commented on #712
This is now fixed in #1552 using the fix described in https://github.com/nexB/scancode-toolkit/issues/695#issuecomment-498178213

[2019-06-03 09:33] pombredanne commented on #701
With #1552 this now work as explained in https://github.com/nexB/scancode-toolkit/issues/695#issuecomment-498178213
Everything is detected correctly AND does not timeout

[2019-06-03 09:38] pombredanne commented on #1267
With #1552 this now work as explained in https://github.com/nexB/scancode-toolkit/issues/695#issuecomment-498178213
Everything is detected without timeout
FWIW the issues came from super large (52MB) and empty test filesystem images

[2019-06-03 10:41] pombredanne commented on #1303
This is fixed in #1552 following #1403 implementation

[2019-06-03 10:41] #1303 closed

[2019-06-03 13:34] aj4ayushjain opened #1580 "Create Debian Distro package for scancode-toolkit"
So I have got the task to create the Debian package for existing scancode-toolkit which briefly include tasks

1.Understand the basic structure,building and installation
2.Package the unpresent dependencies.
3.Remove unnecessary files and folder and drop precompiled code.

and finally go on to make a package.

Debian repo:https://salsa.debian.org/python-team/modules/scancode-toolkit

[2019-06-03 13:44] pombredanne commented on #750
This has long been addressed. Closing

[2019-06-03 13:44] #750 closed

[2019-06-03 13:56] pombredanne commented on #623
EUPL 1.2 has long been added. But we do not carry translations for now.

[2019-06-03 14:08] sat5297 commented on #1579
I guess I messed up somethings, now I have fixed them and the command is working properly.
Sorry for the trouble.

PS: Just make sure you are using the pip command from the right path, I was calling it from anconda environment which messed up the things.

[2019-06-03 14:27] Abhishek-Dev09 commented on #1579
@sat5297 : If you have solved your problem close this issue.

[2019-06-03 14:39] sat5297 commented on #1579
I guess I messed up somethings, now I have fixed them and the command is working properly.
Sorry for the trouble.

PS: Just make sure you are using the pip command from the right path, I was calling it from anconda environment which messed up the things.

[2019-06-03 14:39] #1579 closed

[2019-06-03 17:28] pombredanne commented on #589
The site went dark but there is code at https://github.com/kmewhort/clip ... not sure this is worth looking into. Closing

[2019-06-03 17:28] #589 closed

[2019-06-03 17:37] pombredanne commented on #482
I had reviewed this a long while agao and we detect all things correctly in the latest develop. Closing

[2019-06-03 17:37] #482 closed

[2019-06-03 17:39] pombredanne commented on #1578
This has been fixed an merged in develop @dabutvin thank you ++

[2019-06-03 17:39] #1578 closed

[2019-06-04 07:44] pombredanne commented on #676
A new rule to detect that notice has been added. Closing now.

[2019-06-04 07:44] #676 closed

[2019-06-04 07:48] pombredanne commented on #464
Since we now report license expressions, this is IMHO no longer relevant. Would you agree?

[2019-06-04 08:53] pombredanne commented on #340
Done

[2019-06-04 08:53] #340 closed

[2019-06-04 08:55] pombredanne commented on #1573
@AtToftegaard sorry for the late reply... we do not support yet Windows 64 bit directly. This means that you would need to install Python 32 bits and things will work ok.
This is tracked in #335

[2019-06-04 15:32] pombredanne commented on #1439
This is merged and working. Thanks!

[2019-06-04 15:32] #1439 closed

[2019-06-04 18:13] JonoYang commented on #1555
This has been fixed

[2019-06-04 18:13] #1555 closed

[2019-06-04 20:15] sschuberth commented on #464
Just to document the current state: `license_expressions` (plural) are currently reported once per file, and multiple findings of the exact same license are de-duplicated in that list. So that's different from what I was originally asking in this ticket.

However, I hereby withdraw my original proposal as I believe ScanCode should always provide the full picture and report all findings. If picking

[2019-06-04 20:15] #464 closed

[2019-06-06 19:00] pombredanne opened #1584 "NuGet: add support for extra manifests"
### Description
Beyond the base `.nuspec` manifest file there are several other files we should detect and report:

- `packages-config`: See https://docs.microsoft.com/en-us/nuget/reference/packages-config

    This is an XML file and it mostly lists the dependencies of a project. This is a "legacy" format
    It is somewhat related to the packages.lock.json too.
[code]

- `project.json` and `proj

[2019-06-07 08:20] pombredanne opened #1585 "Discard redundant first line in package descriptions"
### Description
When a package manifest has a long and short description/summary we concatenate the two as a single description where there short one is on the first line.
This leads for instance to things such as:
[code]
in http://central.maven.org/maven2/org/apache/xmlgraphics/xmlgraphics-commons/2.2/xmlgraphics-commons-2.2.pom

In the case of Maven, we concat the name (which is really a descrip

[2019-06-07 11:04] pombredanne commented on #1584
Some pointers that may be useful:
- https://github.com/OctopusDeploy/CSProjToXProj
- https://docs.microsoft.com/en-us/dotnet/core/migration/
- https://github.com/jeffkl/PackagesConfigConverter
- https://github.com/CloudNimble/PackageReferenceUpgrader
- https://github.com/twsouthwick/NuGetPackageConfigConverter

[2019-06-07 13:04] pombredanne commented on #1568
Thank you all: this is fixed and has been merged in the develop banch

[2019-06-07 13:04] #1568 closed

[2019-06-07 13:11] pombredanne commented on #1563
Fixed and merged in develop

[2019-06-07 13:11] #1563 closed

[2019-06-07 14:14] pombredanne commented on #1237
I think than rather to just list bare dependencies there is something which a tad more larger and generic which is a notion of a `project` or `environment` . In contrast with a package which is a well defined thing that exist with a name and version and lives in some package repository, a project can have some attributes of a package, but can have more and miss some.

From a higher level point of

[2019-06-07 14:24] pombredanne commented on #1524
Following the comments I made here https://github.com/nexB/scancode-toolkit/issues/1237#issuecomment-499901304, we have something that is more than just for packages and would be essential for #377 : we need to group together a bunch of files as being related:
- this is the case for the files provided by a package under its root directory,
- this can be also the case for files that exist in multip

[2019-06-07 16:25] mjherzog commented on #1237
project and development_environment may not be equivalent in the case of an upstream project and a different downstream development_environment which can look quite different.

[2019-06-07 19:42] mjherzog opened #1586 "Clarify types of plugins"
We need to provide clarity more clarity regarding the different types of ScanCode plugins (names below are provisional):

1. "Internal" plugin - these are modules in scancode-toolkit/plugins/. Most currently deal with code extraction or code typing and are not written in Python.  In this case the run-time options are integrated with Toolkit. https://github.com/nexB/scancode-toolkit/tree/develop/pl

[2019-06-07 19:52] mjherzog opened #1587 ""Prioritize" URL clues"
URL clues from a Scan are not all equal in the software provenance context, but it can be difficult to find the most important URL clues especially in cases like JavaScript where a single file may have a dozen or more URL clues.

The most important example is that a URL from StackOverflow is extremely likely to be relevant for provenance analysis. There should be other patterns where we can identi

[2019-06-11 18:00] pombredanne commented on #1394
I am closing this for now, as we have not yet fully defined what the data output from summarization would look like.

[2019-06-11 18:00] #1394 closed

[2019-06-11 18:04] pombredanne commented on #1188
FYI, this exact instance of this bug is fixed with https://github.com/nexB/scancode-toolkit/commit/f6912f4300933fa39a935a781f1b9f6a3aa3dcee BUT this ticket is not solved yet.

[2019-06-12 07:17] pombredanne commented on #713
This cannot be reproduced on the latest develop.

[2019-06-12 07:17] #713 closed

[2019-06-12 14:53] qduanmu commented on #295
@pombredanne, I’m using scancode-toolkit (from command line and as library) in our project which is based on python2.7, and now we are planning to make the project python3 compatible. I could see the great progress of porting scancode-toolkit to python3(3.6+) here, could I know if there is any rough schedule/ETA for this work? Thank you.

[2019-06-12 15:08] dankegel commented on #295
Yeah, a status report and how-to might be handy.

[2019-06-12 18:37] pombredanne commented on #295
@Abhishek-Dev09 if you could post a status, that's in high demand :heart: !

[2019-06-13 06:42] pombredanne commented on #1447
I would be good to start looking into this. @linexb do you mind taking a look?

[2019-06-13 07:17] pombredanne opened #1598 "Define and implement new testing strategy: tests take too long to run!"
### Description
Tests! we love them, and the more the better, but we have reached the point where there are too many of them and its takes too long to run them all. Furthermore, we support multiple platforms and have native binary code so we need to run tests on many OSses. And with the Python3 port, we need to run these tests also on Python2.7, Python 3.6 and likely soon Python 3.7 and 3.8. All t

[2019-06-13 10:14] pombredanne commented on #1519
See also https://github.com/GoodRx/pytest-mark-no-py3

[2019-06-13 11:49] pombredanne commented on #1577
Basic support has been added and merged with #1581 and 79ae6a11c41c41e15c5bf743f603b7f383051353

[2019-06-13 19:49] majurg opened #1600 "Some python `whl` files are detected as Chef packages"
![Screenshot from 2019-06-13 12-40-22](https://user-images.githubusercontent.com/7485204/59462572-dd7e3900-8dd8-11e9-918a-09026fefd627.png)

Using the latest `scancode-toolkit` develop checkout when scanning an extracted python `.whl` file, it is recognized as a Chef package.

From the above image, you can see that the package is being created at the `abooutcode_toolkit-3.2.1.dist-info/` level, an

[2019-06-13 19:50] majurg commented on #1600
Oh and not every python `.whl` is detected like this. Only when it has a `metadata.json` file in its `*.dist-info` directory/

[2019-06-13 19:52] epruesse commented on #1447
FYI: While the files in the recipes are called `meta.yaml`, they are not actually valid yaml. Example:

[code]

The above demonstrates three divergences.

1. The file is passed through Jinja2 for evaluation. Several functions are available to handle e.g. compiler selection or common values or dynamic dependencies.
2. The file may have line based selectors of the form `# [expression]` where the exp

[2019-06-13 21:13] pombredanne commented on #1447
@epruesse thank you ++ for chiming in and for the precious guidance: that's extremely gentle of you!

[2019-06-14 00:05] majurg commented on #1519
@pombredanne Perhaps relevant here: https://github.com/tarpas/pytest-testmon/

[2019-06-14 00:32] majurg commented on #1598
@pombredanne I think #1519 will go a long way with easing the testing pain, especially if it works since its CI platform agnostic. The main culprits are (IMO) `licensedcode` and `cluecode`, which take 20mins and 10 mins to complete no matter what is touched.

These should only be ran if there were actual changes to these modules/module test cases. Everything else is manageable, and with the Travis

[2019-06-14 03:28] Abhishek-Dev09 commented on #1598
@pombredanne : This may be useful to us https://stackoverflow.com/questions/35097577/pytest-run-only-the-changed-file

[2019-06-14 12:10] nrbrook commented on #1530
This is still a problem. `bin/scancode` starts with `#!"/path/with spaces/to/scancode/bin/python2.7" and when run gives the error `-bash: /path/with spaces/to/scancode/bin/scancode: "/Users/path/with": bad interpreter: No such file or directory

[2019-06-14 12:13] nrbrook opened #1601 "Scancode does not work in paths with spaces"
### Description
The issue https://github.com/nexB/scancode-toolkit/issues/1530 is not resolved. After configuration `bin/scancode` starts with `#!"/path/with spaces/to/scancode/bin/python2.7"` and when run gives the error `-bash: /path/with spaces/to/scancode/bin/scancode: "/path/with": bad interpreter: No such file or directory`

### System configuration
macOS 10.14.5 (18F132)
Scancode https://gi

[2019-06-14 13:48] nrbrook opened #1602 "Incorrect Copyright holder detection"
### Description
Given the copyright notice:
[code]
The copyright detected is `Copyright (c) 2018`
I would expect the value to be `Some Company Ltd`. This also means this file is not ignored when using `--ignore-copyright-holder="Some Company Ltd"`

### System configuration
macOS 10.14.5 (18F132)
Scancode https://github.com/nexB/scancode-toolkit/commit/1858047f7249cda2860cc573d29fb35c99c16b60
Sourc

[2019-06-14 14:38] pombredanne commented on #1601
@nrbrook Thank you for the report!
@Vibhu-Agarwal you had kindly provided a fix for #1530 ... do you think you can have a look into this? that would be great :bow:

On a side note, we are getting a bunch of new CI machines with azure pipelines #1577  and that will likely include a macOS 10.14

[2019-06-14 14:50] nrbrook commented on #1601
I'm not actually sure it is possible, see https://github.com/conda/conda/issues/186
Configure could set the shebang to just `#!python2.7` which seems to work if `/bin` is the current directory, or `#!bin/python2.7` if the root scancode script changed the current directory to its path.

[2019-06-14 14:50] pombredanne commented on #1602
@nrbrook thank you for the report. I cannot use `//  Copyright © 2018 Some Company Ltd. All rights reserved.`  I would need some real name as the copyright detection is using a part of speech tagger and the tagging part is aware of the meaning of many words so "Some Company" many not work at all. I would need at least something using made up names that uses the exact same case and punctuation and

[2019-06-14 15:47] pombredanne commented on #1598
I pushed a fairly extensive new conftest in #1531

Feedback is mucho welcomed

[2019-06-14 16:17] nrbrook commented on #1602
You are correct, the copyright notice used only had the company name (1 word), not Ltd, and was not detected as part of the copyright notice. I'm not sure if that should be considered a bug. I just changed the copyright notice.

[2019-06-14 16:17] #1602 closed

[2019-06-14 16:21] nrbrook opened #1603 "Copywrite notices with company name in anchor tag is not detected"
### Description
Given the copyright notice in HTML:
[code]
The copyright detected is `(c) 2019`
I would expect the value to be `(c) 2019 Example Ltd`

### System configuration
macOS 10.14.5 (18F132)
Scancode https://github.com/nexB/scancode-toolkit/commit/1858047f7249cda2860cc573d29fb35c99c16b60
Source download

[2019-06-14 18:39] JonoYang commented on #1600
@majurg This bug is happening because Chef metadata files are also named `metadata.json`. A stopgap fix I can think of is to also put in a check for the directory name or the name of some other file next to `metadata.json` that would give it an idea if it is inside a whl's dist-info directory

[2019-06-14 18:44] majurg commented on #1600
@JonoYang Do Chef packages contain a parent `*.dist-info` directory? If not, this can probably be a good proxy as well.

[2019-06-14 18:45] JonoYang commented on #1600
@majurg No. Chef `metadata.json`'s seem to always be at the root of the Chef recipe it's for. I'll make the change.

[2019-06-14 19:03] JonoYang commented on #1600
@majurg I've made an update to the metadata.json detection check. Let me know if it's still acting up.

[2019-06-14 19:59] majurg commented on #1600
@JonoYang I will take a look shortly.

[2019-06-15 08:01] #1188 closed

[2019-06-15 08:32] pombredanne commented on #1519
I am closing this now as #1531 is merged

[2019-06-15 08:32] #1519 closed

[2019-06-15 08:34] pombredanne commented on #1598
@majurg thank you for your feedback

Beside the changes in #1531 proper, I also moved the only few doctests that were slow to run to proper test scripts so this would address your concern too:

[2019-06-18 14:13] linexb opened #1606 "license: Apache Software will be found as "unknown""
### Description
When parsing meta.yaml file from Conda, the line:

Apache Software

will be detected as

unknown.

The license in yaml file is at: https://github.com/nexB/scancode-toolkit/blob/1447-conda-support/tests/packagedcode/data/conda/meta.yaml#L42

The detected result is at: https://github.com/nexB/scancode-toolkit/blob/1447-conda-support/tests/packagedcode/data/conda/meta.yaml.expected.js

[2019-06-20 09:10] pombredanne commented on #1577
So the Pythons provided by Azure end up being useless https://developercommunity.visualstudio.com/content/problem/598264/known-issue-azure-pipelines-images-missing-sqlite3.html
Until they fix and roll out new images (a few weeks) the workaround is to install your own python :|

At this stage I have still not been able to a get a single full test suite run working on Azure on windows, linux or mac

[2019-06-20 13:13] pombredanne opened #1610 "Port path handling to use pathlib/pathlib2"
### Description
We have a contrived way to deal with paths working around some bugs on Python2 on Linux.
This means that we use bytes on Linux and unicode elsewhere and a backport of os.fsencode and os.decode
Instead we should try to use pathlib (and its backport pathlib2) everywhere as ths would help with the Python 3 port quite a bit (see #295)

[2019-06-20 22:08] bduranc opened #1611 "Tri-license scenario not detected"
### Description
As part of performing curation in [ClearlyDefined](https://clearlydefined.io/definitions/git/github/jruby/jruby/8a269e34ff3d242ec90fb08061f79c2757a5e157); I have discovered some files that are tri-licensed _EPL-2.0 OR (GPL-2.0-or-later OR LGPL-2.1-or-later)_. However, ScanCode (as it runs in ClearlyDefined) has identified these as "_GPL-2.0-only_" which is not accurate.

<img width

[2019-06-20 22:34] pombredanne commented on #1611
@bduranc thank you ++ for this report. That's a new one to me. The current ScanCode was reporting things a tag better but mistakenly still as a mozilla tri-license (with a lower score) and some EPL 2.0

[2019-06-20 22:37] pombredanne commented on #1611
I just pushed a fix in a branch here https://github.com/nexB/scancode-toolkit/pull/1612/commits/26ddf02a9be23f9ccf65f8de0228baed349b7eb5 ... this will land in develop tomorrow and will be in the 3.1 release that will be cut next week!.
Thank you again!

[2019-06-20 22:47] bduranc commented on #1611
@pombredanne : No worries, glad to help.

[2019-06-21 12:52] linexb commented on #1458
@pombredanne  I am starting working on it.

[2019-06-21 18:39] awoodman opened #1613 "Unable to scan common file types"
### Description
I am running scancode against a code base of many files, many directories deep. It seems to not be able to scan several text file types. The only way I can get the scan to run and produce output is to --ignore all types that it's unable to scan.

`Setup plugins...

Collect file inventory...
Scan files for: licenses with 4 process(es)...
[####################] 10562
Scanning done.
S

[2019-06-21 20:31] awoodman commented on #1613
**Update:**
When I properly capture the return code generated by inability to scan some file types, the scan completes. But I still find it off that it cannot scan some .txt or .htm files

[2019-06-21 20:55] pombredanne commented on #1613
@awoodman thanks for the report and sorry for the annoyance. In most cases, these issues are timeout messages when a file took too long to scan (defaults is 120 seconds per file) because the file is either big or has a lot of licenses or copyrights . You can verify this by looking at the possible `errors` attributes at the `files` level in the scanned data. You can also run with `--verbose` and th

[2019-06-22 13:28] aj4ayushjain opened #1614 "Testing Script for the debian package"
This is for the testing of the resultant Debian package on the Debian based system.
This also can be used when the dependencies are being replaced with the respective  packaged version
-proper testing of the dependencies usage.

What should be done to binaries being given by the plugin (extractcode-libarchive etc) ?

--Should it be packaged along the package or the plugin need to be converted to b

[2019-06-22 13:44] aj4ayushjain opened #1615 "Submission of Python-configparser and Python-pip"
In reference to :- #1580

The package being created does not support python-configparser and python-pip which is available in debian currently as their is clash with backports module completely illustrated in
https://bugs.launchpad.net/ubuntu/+source/configparser/+bug/1821247
and which is solved in the PPA provided with it in Ubuntu.
https://launchpad.net/~dank/+archive/ubuntu/python-fixes/

So ne

[2019-06-24 02:14] linexb commented on #1458
I tried on Windows 7 64bit, I didn't reproduce the error. It might be a problem on Windows 10 only, I will try to setup the enviroment and give a shot. Or the problem was already fixed, I will keep this updated.

[2019-06-24 18:41] armijnhemel opened #1617 "LGPL-2-or-later recognized as LGPL-3-or-later"
ScanCode version 3.0.2.post866.8b64c93a7
recognizes the following as LGPL-3-or-later:
[code]
The file I tested with is e2fsprogs/lib/ext2fs/tdb.c from e2fsprogs, md5sum 74d13cdf863a18899e9206cc375465b3 although just the header will also trigger this.

[2019-06-24 19:02] armijnhemel opened #1618 "RTF file with GPL-2.0-or-later recognized as GPL-3.0-or-later"
ScanCode version 3.0.2.post866.8b64c93a7

recognizes https://android.googlesource.com/platform/external/fio/+/refs/heads/marshmallow-release/os/windows/eula.rtf as GPL-3-or-later

(easiest to download as https://android.googlesource.com/platform/external/fio/+archive/refs/heads/marshmallow-release/os/windows.tar.gz )

Probably this is because the RTF is partially binary content.

[2019-06-24 19:07] armijnhemel opened #1619 "LGPL 2 or 3 recognized as AGPL-3-or-later"
ScanCode version 3.0.2.post866.8b64c93a7
recognizes extensions/libxt_time.c from iptables ( http://git.netfilter.org/iptables/ ) as AGPL-3, even though the header says:
[code]

[2019-06-24 19:13] armijnhemel opened #1620 "LGPL-3 false positive"
ScanCode version 3.0.2.post866.8b64c93a7

says that this file:

https://android.googlesource.com/platform/external/libexif/+/refs/heads/marshmallow-release/README.android

is LGPL-3.0-only, which is obviously wrong, as there is no license text at all, just two license references, and it explicitly says it is NOT LGPL-3.0. Tricky one :-)

[2019-06-24 19:25] armijnhemel opened #1621 "GPL-2-or-later recognized as GPL-3 or later"
ScanCode version 3.0.2.post866.8b64c93a7

recognizes:

https://android.googlesource.com/platform/external/ltrace/+/refs/heads/master/CREDITS

as GPL 3 or later, though it is GPL 2 or later. License statement is at the end of the file.

[2019-06-24 19:26] armijnhemel commented on #1621
https://android.googlesource.com/platform/external/ltrace/+/refs/heads/master/NEWS as well

[2019-06-24 19:29] armijnhemel opened #1622 "GPL 3 or later false positive"
ScanCode version 3.0.2.post866.8b64c93a7

recognizes

https://android.googlesource.com/platform/external/ltrace/+/refs/heads/master/options.c

as both GPL-2.0-or later and GPL-3.0-or later, while it should be GPL-2.0-or-later

[2019-06-24 19:32] armijnhemel opened #1623 "GPL-2-or-later recognized as "GPL-2.0-only, GPL-3.0-or-later""
ScanCode version 3.0.2.post866.8b64c93a7

recognizes

https://android.googlesource.com/platform/external/lz4/+/refs/heads/master/examples/Makefile

as GPL-2.0-only, GPL-3.0-or-later but it should be GPL-2.0-or-later

[2019-06-24 19:33] armijnhemel commented on #1623
more files in this particular repo have the same error

[2019-06-24 19:35] armijnhemel commented on #1622
https://android.googlesource.com/platform/external/selinux/+/refs/heads/master/prebuilts/bin/sesearch.py

same issue

[2019-06-24 19:38] armijnhemel opened #1624 "LGPL-2.1-or-later recognized as "LGPL-2.1-only, GPL2 only, GPL3 only""
ScanCode version 3.0.2.post866.8b64c93a7

https://android.googlesource.com/platform/external/valgrind/+/refs/heads/master/helgrind/tests/tc17_sembar.c

recognized as LGPL2.1-only, gpl-2.0-only, gpl-3.0-only, should be lgpl-2.1-or-later

[2019-06-24 19:53] armijnhemel opened #1625 "GPL 2 or later recognized as GPL-2.0-or-later,LGPL-2.1-or-later,GPL-1.0-or-later,GPL-3.0-or-later"
ScanCode version 3.0.2.post866.8b64c93a7

https://android.googlesource.com/platform/external/valgrind/+/refs/heads/master/none/tests/ppc32/testVMX.c

recognized as GPL-2.0-or-later,LGPL-2.1-or-later,GPL-1.0-or-later,GPL-3.0-or-later should be GPL-2-or-later

Just the license statement will be recognized as GPL-3-or-later (which is wrong in itself).

The second comment block (that lists the release

[2019-06-24 20:00] armijnhemel commented on #1621
Quite a few files in Linux kernel 3.18.20 are now also recognized as GPL-3.0-or-later while they are GPL-2-or-later

[2019-06-25 08:25] DragonesFist commented on #1461
I got the same error while trying to install in Linux environment in ec2 but successfully installed in Windows 10. Is there anyone who solved this?

[2019-06-25 13:40] pombredanne commented on #1610
Another candidate is likely better: path.py by @jaraco ...
The pathlib2 backport may not be able to handle correctly some by paths on Python2.

[2019-06-25 14:24] pombredanne commented on #1613
@awoodman ping, were you able to try this using the develop branch?

[2019-06-25 14:26] pombredanne commented on #1614
See #469 ... eventually you want:
1. find the correct native dependency
2. craft a scancode plugin for each of 7z, libarchive and libmagic that points to the Debian ssystem-installed one instead of a prebuilt bundled one

[2019-06-25 14:27] linexb commented on #1458
I tried on Windows server 2012 64bit, and I can't reproduce the error either. I believe the issue might be already fixed...

[2019-06-25 14:29] pombredanne commented on #1615
No idea, but you should not be hindered in your progress by a dependency on some work to be done by a thirdparty maintainer, your goal should be to get something working all the way working around these issues and enter ticket to possibly solve these later

[2019-06-25 14:30] linexb commented on #1458
@Shaker1978 Could you please run again with latest version of scancode, I tried with the latest version on develop branch on windows 7 and windows 2012 server 64bit, it works fine.

One thing I noticed that we only support Python 32bit, so please make sure your Python is 32bit 2.7.x.

Please let me know if it still doesn't work. Thank you.

[2019-06-25 14:56] jaraco commented on #1610
For easy reference: [path.py repo](/jaraco/path.py) and [pypi link](https://pypi.org/project/path.py).

[2019-06-25 17:03] awoodman commented on #1613
@pombredanne thanks for the response. I have not been able to due to some unrelated /home/ permissions issues I'm having. I will give it a shot once that's resolved.

[2019-06-25 19:05] pombredanne commented on #1610
@jaraco thank you! I noted that v12 and up is Python 3 only but that should not be holding us to use the 11.x on Python2 and 3 for now. @Abhishek-Dev09 ping. This is the ticket I created to track this effort.

[2019-06-25 20:36] jaraco commented on #1610
Yes, and 11.x should get bugfixes backported (on request).

[2019-06-26 07:48] ChinnuJose opened #1626 "Package details not displayed in json"
Description :

While trying to scan using copyright, package and license options and getting the output in json format even though the folder contains packages package details are not getting displayed in json in scancode 3.0.2 version. It works perfectly in scancode 2.2.1 version

Using RHEL_7 (x64bit) - scancode 3.0.2

[2019-06-26 12:39] Mindbowser opened #1627 "License ID mapping to Opensource.org"
The output of scancode gives good amount of details, but we want to show more data like keywords mentioned here https://github.com/OpenSourceOrg/api/blob/master/doc/endpoints.md, so we are thinking to somehow link scancode output license id to opensource api which also takes ID as input, any thoughts how we can combine these two and make it relevant?

[2019-06-26 15:01] pombredanne commented on #1627
@Mindbowser I could think of a script to update the data stored in Scancode YAML to add attributes and keywords from the OSI. And to sync things up like this is done with SPDX (see `etc/synclic.py`)

To do this there could be a couple steps:
1. establish a mapping between OSI and scancode license keys: fetch all OSi licenses, run scancode detection on them
2. store the osi "key" in a license and f

[2019-06-26 15:11] pombredanne commented on #1626
@ChinnuJose are there more details you could share? I cannot do much to reproduce this with so few information (if this is private thing you can send that to me privately at pombredanne@nexb.com )

[2019-06-27 05:43] ChinnuJose commented on #1626
@pombredanne We downloaded and extracted the file from the link given below:
https://sourceforge.net/projects/net-snmp/files/net-snmp/5.7.3/net-snmp-5.7.3.tar.gz/download
We tried to scan the extracted files.

[2019-06-27 06:49] pombredanne commented on #1626
@ChinnuJose Thank you!
Could also you tell me which command line arguments you have used and what is missing in the output that you had found in version 2.2.1?

[2019-06-27 09:12] pombredanne opened #1628 "Add support for CRAN R packages"
### Description
R is a programming languages and CRAN its package repository.
https://cran.r-project.org/
Packages use a `DESCRIPTION` package manifest.
See https://github.com/mdlincoln/clipr

https://github.com/philipmorrisintl/RPackUtils provides the features but is GPL.

Reported by @bduranc

[2019-06-27 10:20] ChinnuJose commented on #1626
./scancode --processes 10 -c -p -l <tar.gz file path> --json-pp <output_file>
scancode 3.0.2 :
"path": "files/net-snmp-5.7.3-fsmr3-talko/net-snmp-5.7.3-sources.tgz",
      "type": "file",
      "licenses": [],
      "license_expressions": [],
      "holders": [],
      "copyrights": [],
      "authors": [],
      "packages": [],
      "scan_errors": []
scancode 2.2.1 :
"path":"files/net-snmp-5.7.3

[2019-06-27 11:09] pombredanne opened #1629 "License detection issue reported in ClearlyDefined on HDF5"
### Description
Reported-by: @cruzerika in ClearlyDefined https://clearlydefined.io/definitions/git/github/live-clones/hdf5/f3f29dc7df5f3cc41a5e9462d8c415e540cda3d6

  Which do you think would be the best approach to address the issue?

[2019-06-27 11:11] pombredanne opened #1630 "License detection issue reported in ClearlyDefined On OpenJDK"
### Description
See https://clearlydefined.io/definitions/git/github/johanvos/openjdk-mobile11/19fb8f93c59dfd791f62d41f332db9e306bc1422 as there could be some inaccuracies

[2019-06-27 11:12] pombredanne commented on #1628
Another two with similar circumstances: https://clearlydefined.io/definitions/git/github/cran/codetools/e10d13c12831c8cb869c7564a058eb183a884245 https://clearlydefined.io/definitions/git/github/cran/coin/1b75f892193967e5b4d783bb66225504da14e65d

[2019-06-28 14:21] Abhishek-Dev09 opened #1631 ""pip install --editable ." fails on macos mojave"
1)First i have clone the repo and move to repo.
2)Then run `./configure`
It says configuration completed.
3)Then i run `pip install --editable .`
OS- MacOS Mojave
Python 2.7 and 3.7
GCC- 9.1
[code]

[2019-06-28 14:33] Abhishek-Dev09 opened #1632 ""./configure" doesn't work on Python 3"
After creating virtual env for python 3.6 When i run `./configure` it fails.
OS- Ubuntu 18.04 , MacOS Mojave
Python version - 3.6.8
virtual name - abhi
[code]

[2019-06-28 15:36] pombredanne opened #1633 "Unknown license may be a tad too much here"
### Description
In this notice common in a few Linux source code files:
[code]

We detect everything OK and there is also a rule that reports `Use is subject to license terms.` as an unknown license
That is a tad noisy though. Should we keep that rule?

[2019-06-28 15:37] pombredanne commented on #1633
@richardfontana @armijnhemel @DennisClark @sschuberth what do you think?

[2019-06-28 15:42] pombredanne commented on #1632
@Abhishek-Dev09 you should not create a virtual env your self. Configure does this for you

Instead do this:
1. start from a clean checkout and cd to that directory
2. run `./configure`
3. `source bin/activate`

[2019-06-28 15:53] pombredanne commented on #1631
@Abhishek-Dev09 here is the way you make this work
1. clone the repo and cd to the repo.
2. Then run `./configure`
3. Then `source bin/activate`

`./configure` runs `pip install --editable .` for you. Do not run it yourself.

If you want to switch to use another Python version:
1. run `deactivate`
2. run `./configure --clean`
3. run `PYTHON_EXE=python3 ./configure` for instance... to switch to pyt

[2019-06-28 17:19] Abhishek-Dev09 commented on #1631
@pombredanne : Sorry i think i have to work in develop mode but you have solved dependencies that embedded in configure.
After switching to python 3.When i run `PYTHON_EXE=python3 ./configure` .I got these errors
`Collecting future>=0.16.0 (from scancode-toolkit==3.0.2->-r /Users/mymac/Documents/Github/scancode-toolkit/etc/conf/requirements_base.txt (line 10))
  ERROR: Could not find a version tha

[2019-06-28 17:36] Abhishek-Dev09 commented on #1631
And it works fine in Python 2.7

[2019-06-28 17:39] Abhishek-Dev09 commented on #1632
@pombredanne : Please refer to #1631

[2019-06-28 18:10] pombredanne commented on #1631
@Abhishek-Dev09 you wrote:

Running configure does install scancode in --editable mode.

We do not support Python 3.7 yet for now. Let's stick with 3.6 as a minimum and maximum requirement.

In anycase things are not yet fully there on macOS with 3.6 as you can see here:
https://dev.azure.com/nexB/scancode-toolkit/_build/results?buildId=346

[code]

[2019-06-28 18:25] armijnhemel commented on #1633
Isn't every file subject to license terms?

[2019-06-28 18:29] Abhishek-Dev09 commented on #1631
@pombredanne: Previously i working in develop mode because plugins have circular dependencies as you have break. I have not seen that changes .
Great 🤙
Ok, i moving to python 3.6

[2019-06-28 18:33] pombredanne commented on #1633
@armijnhemel  that's a bit my point :) FWIW, this was mostly in the kernel and is still in older kernels. This has been cleaned up and removed with the recent SPDX efforts to clean things up there (and the fact it was detected helped a bit may be)

[2019-06-28 18:34] pombredanne commented on #1631
This is no longer the case when using a clean and up to date `develop` or branch based on it

[2019-06-28 18:45] Abhishek-Dev09 commented on #1631
@pombredanne : Yes , I got same error that you commented (azure) with python 3.6.8 .

[2019-06-28 18:51] pombredanne commented on #1631
@Abhishek-Dev09 Please try this new branch I have just pushed.  https://github.com/nexB/scancode-toolkit/compare/295-configure

[2019-06-28 18:57] Abhishek-Dev09 commented on #1631
@pombredanne : I got this
``* Configuring ...
Traceback (most recent call last):
  File "/Users/mymac/Documents/GitHub/scancode-toolkit/etc/configure.py", line 582, in <module>
    chmod_bin(bin_dir)
  File "/Users/mymac/Documents/GitHub/scancode-toolkit/etc/configure.py", line 339, in chmod_bin
    os.chmod(os.path.join(path, f), rwx)
PermissionError: [Errno 1] Operation not permitted: '/Users/my

[2019-06-28 18:58] pombredanne commented on #1631
@Abhishek-Dev09 I need the whole trace not just this.

[2019-06-28 19:00] Abhishek-Dev09 commented on #1631
@pombredanne : Whole trace
``(scancode-toolkit) Abhisheks-MacBook-Air:scancode-toolkit mymac$ git branch
  245-lzip
* 295-configure
  develop
  test
(scancode-toolkit) Abhisheks-MacBook-Air:scancode-toolkit mymac$ deactivate
Abhisheks-MacBook-Air:scancode-toolkit mymac$ ./configure --clean
* Cleaning ...
Abhisheks-MacBook-Air:scancode-toolkit mymac$ PYTHON_EXE=python3 ./configure
* Configuring Pyt

[2019-06-28 19:52] pombredanne commented on #1631
That's really weird. Can you try a `  --clean` and do  an `ls -al /Users/mymac/Documents/GitHub/scancode-toolkit/` ? do we still have a `bin` ?

[2019-06-28 19:54] Abhishek-Dev09 commented on #1631
If i use sudo PYTHON_EXE=python3 ./configure. It works file.

[2019-06-28 19:57] Abhishek-Dev09 commented on #1631
For more details see here.
[code]

[2019-06-28 20:00] Abhishek-Dev09 commented on #1631
No, after cleaning i have no bins.

[2019-06-28 20:08] pombredanne commented on #1631
re:

That's very abnormal. You should not need sudo at all. Did you you sudo with git or something else?

[2019-06-28 20:11] Abhishek-Dev09 commented on #1631
No, macos comes with git(preinstalled).we don't need to install on macos.

[2019-06-28 22:05] pombredanne commented on #1631
I meant not this. I was asking if you used `sudo git clone ...` to clone the scancode-toolkit repo

[2019-06-28 22:06] Abhishek-Dev09 commented on #1631
No

[2019-06-29 16:29] sschuberth commented on #1633
+1 for removing the "Use is subject to license terms" rule.

[2019-06-29 16:48] richardfontana commented on #1633
I've seen this phrase used in source files from other projects (and I think from licensors other than Oracle). It feels to me like something that is useful to identify but not to identify it as "unknown license". More like "license notice that may or may not mean anything significant, and which has a history of being used non-interestingly in some open source projects".

[2019-07-01 10:31] pombredanne opened #1635 "macOS 10.14 fails to deal with non UTF paths"
### Description
APFS is a new filesystem that is the default with 10.14 and behaves differently from the previous HFS+ wrt encoding at least on Python 2.7

On https://dev.azure.com/nexB/scancode-toolkit/_build/results?buildId=371&view=logs&jobId=a9ef2024-15d1-5c9b-99e9-45a8e5b15acd&taskId=14b9cf95-c082-57b0-fbfe-f169a2cb8936&lineStart=287&lineEnd=439&colStart=1&colEnd=34
at 924f53d5932fcb69acad76d

[2019-07-01 11:48] sschuberth commented on #1237
We think the same, which is why we have separate [Project](https://github.com/heremaps/oss-review-toolkit/blob/edfae988058dfaeb596c9df5f19e765d102ff0a4/model/src/main/kotlin/Project.kt#L37) and [Package](https://github.com/heremaps/oss-review-toolkit/blob/edfae988058dfaeb596c9df5f19e765d102ff0a4/model/src/main/kotlin/Package.kt#L42) classes in ORT, and they don't even inherit form each other altho

[2019-07-01 15:10] pombredanne commented on #1631
at this stage everything is looking A-OK to me on all OSes except on a Ubuntu 18 container on Azure: everywhere else we can bootstrap with ./configure correctly using the code in https://github.com/nexB/scancode-toolkit/pull/1634

[2019-07-01 15:13] pombredanne commented on #1631
The corresponding CI run is there: https://dev.azure.com/nexB/scancode-toolkit/_build/results?buildId=377

[2019-07-02 05:16] ChinnuJose commented on #1626
@pombredanne Could you please share your comments

[2019-07-02 08:02] pombredanne commented on #1631
@Abhishek-Dev09 could you paste exactly the log of what happens with Python 3.6 and no sudo using `develop`?

[2019-07-02 09:06] Abhishek-Dev09 commented on #1631
I have already pasted https://github.com/nexB/scancode-toolkit/issues/1631#issuecomment-506843803

[2019-07-02 09:52] pombredanne commented on #1631
@Abhishek-Dev09 ok, so can you try with this new branch? https://github.com/nexB/scancode-toolkit/tree/295-configure-on-mac

[2019-07-02 09:56] Abhishek-Dev09 commented on #1631
Already tried.Come on chat

On Tue, 2 Jul 2019 at 3:22 PM, Philippe Ombredanne <notifications@github.com>
wrote:

--
null

[2019-07-02 10:09] pombredanne commented on #1631
This did fix things https://github.com/nexB/scancode-toolkit/commit/5d56f7850129f3f9d73ef5b21fe6ef5c434d6442

[2019-07-02 10:10] pombredanne commented on #1631
@Abhishek-Dev09 wrote

Philippe Ombredanne

most everything is wrong on a mac :D

BUT that was eventually a combo of a feature in configure (trying to fix bin permissions) and some "System Integrity Protection" thing in macOS which interacted in some weird way (and should not)
you can see nexB/scancode-toolkit@5d56f78

[2019-07-02 10:11] pombredanne commented on #1577
All tests are now passing on all OS/CI/Pythons combos :relieved:

[2019-07-02 10:11] #1577 closed

[2019-07-02 10:13] #1631 closed

[2019-07-02 10:13] pombredanne commented on #1632
This is now working. Closing.

[2019-07-02 10:13] #1632 closed

[2019-07-02 12:32] pombredanne commented on #1633
Thank you for all the feedback!
For now, I will deactivate that rule and will come with a way to report these kind of clues but separately from the main licenses.

[2019-07-02 12:32] #1633 closed

[2019-07-02 13:18] pombredanne commented on #1400
@armijnhemel that scanserv is something you wanted too BTW ;)

[2019-07-02 14:43] Abhishek-Dev09-zz opened #1637 "Familiarisation of using Path.py #1610"
This is an extension of #1610

This give us guide line how deal with path for porting the path #295
a)macOS
b)linux
c)Window
Pypa package- path.py
Outcome- This support both python 2 and 3.
For reference: https://github.com/jaraco/path.py and https://pypi.org/project/path.py
https://github.com/jaraco/path.py/issues/130

[2019-07-02 18:15] Abhishek-Dev09 commented on #295
GSoC update- Discussion of Porting of path on different platforms through the use of path.py.
For more details - Refer to nexB/scancode-toolkit#1637

[2019-07-02 21:27] JonoYang opened #1638 "Terminal window closes unexpectedly when using --test-suite=all for the first time"
### Description
When I run `py.test` with `--test-suite=all` for the first time on the develop branch, somewhere in the middle of the tests, the terminal window will close and the tests stop running. I then open the terminal again and rerun the tests and the tests pass.

### System configuration
Ubuntu 16.04 and 18.04, ScanCode was cloned from github.

[2019-07-02 22:37] Abhishek-Dev09 commented on #1637
As dependencies has been added in PR #1639

[2019-07-03 07:06] pombredanne commented on #1638
I never saw this before.... Can you try to use the logging options of pytest to get some clue? Otherwise, could it be the OOM killer that did this?

[2019-07-03 07:18] pombredanne commented on #1626
@ChinnuJose I was not sure what was the issue at first, but I can see it now: we no longer report as a package a simple plain archive.  We need instead some package manifest, and a plain tarball would not have any.

But then we now detect many more package types.

[2019-07-03 08:02] pombredanne commented on #1237
@sschuberth thanks! we think along... in hindsight I wonder if `project` may not be a tad overloaded as a term?

[2019-07-03 08:04] sschuberth commented on #1237
From a user / developer perspective, I believe that's simply that it is: a project. And we also simply couldn't think of a less overloaded but equally fitting term :wink:

[2019-07-03 09:53] teamcodegrip commented on #1627
Thanks @pombr, Why I need to run scancode detection on all OSI licenses? Also, where I need to store OSI key? Is there any yaml file present in scancode which I can update easily?

[2019-07-03 09:55] Mindbowser commented on #1627
Thanks @pombr, Why I need to run scancode detection on all OSI licenses? Also, where I need to store OSI key? Is there any yaml file present in scancode which I can update easily?

[2019-07-03 13:42] pombredanne commented on #1627
@Mindbowser re:

That would be to establish a mapping between the OSI files and their actual ScanCode license key

The best way way would be to store the in the YAML data file of a license the same way we store SPDX keys. These are in this directory: https://github.com/nexB/scancode-toolkit/tree/develop/src/licensedcode/data/licenses
For instance this is the SPDX license key attribute for a licens

[2019-07-03 15:11] Abhishek-Dev09 commented on #1637
@pombredanne : How to deal here in path like https://github.com/nexB/scancode-toolkit/blob/develop/src/commoncode/fileutils.py#L84

[2019-07-03 15:27] Abhishek-Dev09 commented on #1637
@jaraco :Does path.py supports macOS mojave encoding also(APFS)?

[2019-07-03 17:26] mjherzog commented on #1237
As much as it would be good to align with ORT terminology wherever possible, I think that project is not a good term in this context because what we are trying to name is typically a subset of a project where the most common uses of the term "project" in our domain seem to be:
   1.  An open source project
   2. A unit of work within a Development Environment (as used in Eclipse or similar IDE)

W

[2019-07-03 17:51] JonoYang commented on #1638
I have 32 gigs of ram on the systems this happened on and the swap is not being used. I'll check the pytest logging options.

[2019-07-03 18:43] sschuberth commented on #1237
That was not my understanding from reading the above text. What you describe here sounds a bit like what e.g. Gradle would call a "source set". But @pombredanne mentioned an additional attribute to capture: dependencies. As soon as dependencies come into the picture I find it less fitting to talk about sources / files, as usually dependencies are not managed / declared by the sources / files thems

[2019-07-03 20:43] dankegel commented on #1637
BTW I'm not sure I understand this issue.

Usually it's considered good form for issues to state a problem which can then be solved by a pull request.

Is the problem "scancode uses byte strings, which are no longer supported on python3"?  If so, that should probably be the title of this issue.

[2019-07-03 20:49] Abhishek-Dev09 commented on #1637
No,Problem is that i am not able to get it how to use path.py at here https://github.com/nexB/scancode-toolkit/blob/develop/src/commoncode/fileutils.py#L84 .If you know help me.

[2019-07-03 20:53] dankegel commented on #1637
That's... not a bug in scancode.   That's more like a forum question.

Issue trackers aren't really for personal todo lists, but if you want to use them like that, please make the description clearer.

[2019-07-03 20:55] Abhishek-Dev09 commented on #1637
Thats why i have written, familiarisation of path.py

[2019-07-03 21:13] dankegel commented on #1637
That is a very unclear description.  Maybe something like:

  I don't know how to port src/commoncode/fileutils.py to Path.py

[2019-07-03 21:23] Abhishek-Dev09 commented on #1637
No, this is not about only this file. I want to how to use ``path.py`` in porting the path.

[2019-07-03 21:56] dankegel commented on #1637
OK, how about

Help... not clear how to port scancode to use Path.py!

which really doesn't sound like something that should be in the issue tracker...?

But hang on, why are you using Path.py?  It dropped python2 support a while ago...

[2019-07-03 22:00] Abhishek-Dev09 commented on #1637
pombredanne has said that it supports both python 2 and 3. So, it can manage both version and he had tested with pathlib which doesn't work.

[2019-07-03 22:07] Abhishek-Dev09 commented on #1637
It will support python 2 on 11.x series of bugfixes

[2019-07-03 22:11] dankegel commented on #1637
OK.

Sorry to give you a hard time about issue style.  Now that I kind of understand what's going on, how about

  Port path handling to use Path.py

  This is an alternative to #1610

[2019-07-03 22:13] Abhishek-Dev09 commented on #1637
I have already mentioned in description that :  ``This is an extension of #1610``

[2019-07-03 22:30] dankegel commented on #1637
But that was confusing.  It's a completely different direction, not an extension.

Maybe I should just accept that I find the description unclear, and not ask you to clarify it further.

[2019-07-03 22:33] Abhishek-Dev09 commented on #1637
Anyways you know how to use path.py ? If yes, Help me

[2019-07-03 23:09] jaraco commented on #1637
Yes. Since 2015, I've been developing on macOS with APFS without any issues.

[2019-07-04 08:34] pombredanne commented on #1610
The pathlib2 backport of pathlib does not support proper fsencoding/decoding on Python2, and therefore using pathlib is not an option for support of both Python2 and Pyhton3. We will instead use `path.py` that support both py2 and 3 nicely (before version 12)

[2019-07-04 08:34] #1610 closed

[2019-07-04 08:35] pombredanne commented on #1610
See #1637

[2019-07-04 08:38] pombredanne commented on #1637
@Abhishek-Dev09 re:

Since the key is to support os.fsencode/fsdecode, I do not see any reason why this would not work. You could craft a test for that to verify this BUT if this is not the case that will NOT stop us to use path.py ... instead we would work to update path.py to properly support this.

I do not consider macOS 10.14 as a major OS that would be a show stopper for us.

[2019-07-04 12:40] jaraco commented on #1610
It should not be necessary to specify path.py 11.x as long as you can count on pip 9 or a compatible installer to resolve the dependency, as path.py declares the python_requires and 12.x is excluded on python 2.

Your choice how to implement though.

[2019-07-09 23:03] JonoYang opened #1642 "`detected_vcs_repo` attribute for Resource"
Currently, we ignore VCS repos when creating the Codebase (https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/resource.py#L427). It would be convenient to have an attribute on the Resource that says if a VCS repo was detected and what kind type of VCS is used. This is useful In the context of origin summary (such as #1588) as we would like to summarize resources at logical breakpoi

[2019-07-09 23:44] pombredanne commented on #1642
@JonoYang I wonder instead if we should not have a scanner function that handle the VCS detection?
And we may want to have a generic Resource attribute that states that a resource is "ignored" (similar to the "filtered" ?

With this we would populate a Codebase and would include the "ignored" resources. The default codebase walk would be to ignore ignored resource but that could be overriden by a

[2019-07-10 00:03] JonoYang commented on #1642
@pombredanne I like the idea of including the ignored files in the Codebase, but not visiting them during a walk by default.

[2019-07-10 00:06] JonoYang opened #1643 "Revisit parsers in packagedcode"
In updating some package parsers for (#1588), I noticed that some of them are not being used at all despite being in the list of package parsers (e.g. https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/pypi.py)

[2019-07-10 00:13] pombredanne commented on #1643
@JonoYang good catch!

[2019-07-12 02:37] majurg opened #1647 "Terminal crashes when tab-completion paths"
### Description
On a fresh scancode develop checkout, the terminal crashes when trying to tab complete paths (when specifying the root location of your scan).

Steps to reproduce:
1) git clone a new scancode-toolkit checkout
2) run `source configure`
3) type `scancode -i s` and hit tab (attempt to tab complete samples dir)
4) it will crash the terminal

I can reproduce this every time.

Possibly r

[2019-07-12 15:34] pombredanne commented on #1647
@majurg thank you: a nasty one indeed. I traced this to this: https://github.com/nexB/scancode-toolkit/commit/abe7aafdf85c9fcf006f99725aa7e51d83acbdd6

So since I still want configure to fail loudly on any error, the fix is to restore shell default error handling at the end with a `set +e` at the end.... I am not sue this is best though as when you source configure and this  fails, your shell will

[2019-07-12 16:27] earlyster commented on #636
I tried installing alpine-pkg-glibc and it didn't work for me were you able to get this to work? .. still getting this error

Traceback (most recent call last):
  File "/usr/bin/scancode", line 7, in <module>
    from scancode.cli import scancode
  File "/usr/lib/python2.7/site-packages/scancode/cli.py", line 206, in <module>
    plugin_classes, plugin_options = PluginManager.load_plugins()
  File

[2019-07-12 16:38] pombredanne commented on #1647
This is ready for testing in develop now.

[2019-07-12 16:41] pombredanne commented on #636
@earlyster sorry for that! @sschuberth if you have an Alpine Dockerfile taht works, we can make this part of the repo here alright.

@earlyster also the work that @aj4ayushjain is doing on packaging in general (and debian in particular) will likely help here too as we would possibly have a clearer way to get things from Alpine packages.

[2019-07-12 16:43] earlyster commented on #636
Thanks @pombredanne for the update!

[2019-07-12 16:57] sschuberth commented on #636
IIRC the last version of [my Alpine-based Dockerfile](https://github.com/sschuberth/docker-files/blob/master/scancode/Dockerfile) has the same `__snprintf_chk: symbol not found` error despite *glibc* being installed.

[2019-07-12 18:15] majurg commented on #1647
@pombredanne The latest develop no long has this issue, thanks!

[2019-07-12 19:08] earlyster commented on #636
@sschuberth ok so we are in the same boat .. not able to use scantool with alpine based docker image.

[2019-07-15 18:10] bduranc opened #1649 "[ClearlyDefined] Dependencies not showing up in harvest data"
### Description
Please leave a brief discription of the bug or feature request:
* if reporting a bug, tell us how to reproduce the issue.

The following CD component is not showing dependencies under the ScanCode harvest data output when there actually is a Maven pom.xml file present in the source tree.

https://clearlydefined.io/definitions/sourcearchive/mavencentral/log4j/log4j/1.2.15

If you dr

[2019-07-17 21:14] JonoYang opened #1653 "About file parser is opening its about_resource as a manifest file"
There is a bug in Package scans where About files are assigning the package root to a file. plugin_package.py then attempts to set the manifest path based on the root of the package, which it assumes it is a directory. The problem is that the package root is a file and the new manifest path does not make sense.

We could get around this by having a codebase-relative paths for manifests, or by rela

[2019-07-17 22:09] majurg commented on #1653
Also, there are many instances where the top level directory may hold multiple about files so we need to take this into account.

[2019-07-17 23:42] johnmhoran opened #1654 "Combining more than 1 path in a scan does not work"
I recently tried to run a scan on more than 1 path, with a single json and single csv output, using relative paths, and although I encountered no error message, the output files contained no scan data.  ScanCode was setup correctly: cleaned, configured and activated.  Running on Ubuntu 16.04.1 LTS.  Structure of the command (no flags):

[code]

Running these one at a time worked fine.

[2019-07-18 14:27] pombredanne commented on #1649
Thank you for this!

[2019-07-18 14:29] pombredanne commented on #1643
A good way to check would be to verify if we have at least one top level command line test for each package type.

[2019-07-18 21:44] pombredanne opened #1655 "library.json"
### Description
Please leave a brief discription of the bug or feature request:
* if reporting a bug, tell us how to reproduce the issue.

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (pip/so

[2019-07-19 01:30] pombredanne commented on #295
Some status update:
- we now have one module ported: `commoncode` and this the utility module reused everywhere. yeah!
- for the next steps, we will continue module-by-module, and we could break it down with a tracking ticket for each module for sanity.
- the porting order should be:

  - plugincode
  - typecode
  - extractcode
  - textcode
  - scancode basics (some tests are integration tests and

[2019-07-19 03:17] linexb commented on #1447
In one of our test case, the test file is: https://repo.continuum.io/pkgs/free/linux-ppc64le/requests-kerberos-0.8.0-py35_0.tar.bz2

By extracting the file and extracting the inside tar recipe.tar, we get the meta.yaml and parse it.

In the mean while, there are a few other files along with recipe.tar which contain useful package information, for example, info/about.json and info/license.txt

[2019-07-19 05:55] rajashreetutgirl commented on #1606
innersvg.js  js library has Apache 2.0 license. But Scan code is detecting it has unknown, This seems to be not reliable being license scan as the major feature.

Please look into it. Thanks in advance.

[2019-07-19 11:30] rajashreetutgirl commented on #1606
Hi,
Below is the license statement, for which the Scancode-toolkit 3.0.2 detecting as "unknown"
/**
 * innerHTML property for SVGElement
 * Copyright(c) 2010, Jeff Schiller
 *
 * Licensed under the Apache License, Version 2
 *
 * Minor modifications by Chris Price to only polyfill when required.
 */

So we have high alert for unknown licenses. It is unnecessarily grabs attention.
Any help will be

[2019-07-19 17:45] pombredanne opened #1656 "Retire x11-r75 license in favor of mit"
### Description
SPDX legal team considers them as the same per https://github.com/spdx/license-list-XML/blob/master/src/MIT.xml#L21

(The only difference is the phrase `(including the next paragraph)` )

Therefore `x11-r75` should be deprecated and its rules should now return an MIT license instead

[2019-07-21 12:57] themifycloud opened #1658 "--strip-root option is not working"
Hello,
Thanks in advance. I am using scan code and trying to use option "**--strip-root**". Still i get full path in result.html for all the style sheets and scripts. Can anyone please help??

`./scancode eCS-TestPackage_THW_A_V1.0.zip-extract -l --license-text --license-score 0 -p -c -i -e --ignore '' --license-diag  --timeout 2400 --processes 3 --strip-root  --html-app  /mnt/scancode_share/resul

[2019-07-22 13:24] linexb commented on #1649
@bduranc I have added a test for the harvest log4j pom file, please refer to: https://github.com/nexB/scancode-toolkit/commit/7d6a2311981b3dabfb2e1ae0e53eeecc54f8aa80#diff-3eca4bb5a1870d75f915710a6699885eR43

And the dependencies can be found by parse function from maven module. Can you please let me know how did you run the scan? Are you running inside of workbench or by running scancode command?

[2019-07-22 16:32] bduranc commented on #1649
@linexb : We are running the scans as part of an automated tooling workflow in [ClearlyDefined.io ](https://clearlydefined.io).

@pombredanne can likely comment more on the technical details of their implementation as he is involved in the project too.

[2019-07-22 22:50] pombredanne opened #1659 "Do not report Copyrights, email, URLs when part of a license text"
### Description
Several  license texts and notices contain URLs, emails and copyright that apply to or are only related to the license text and not to the code to which the license applies.
For instance in this:
[code]
... reporting `http://www.apache.org/licenses/LICENSE-2.0` also as a URL in the URL scan is a bit too much information if this is already part of a detected license.

We could inste

[2019-07-23 00:44] JonoYang opened #1661 "The children of a skipped directory are still visited during a codebase walk"
I am walking a codebase like this:
[code]

What happens is that the directory named `skip-this-directory` is skipped, but the child resources of `skip-this-directory` are still yielded by `walk()`. It makes more sense to me to have `walk()` not yield the children of skipped resources.

[2019-07-23 18:08] linexb commented on #1649
This is what we have investigated:
1. Download log4j-1.2.15.jar by running:
`wget https://repo1.maven.org/maven2/log4j/log4j/1.2.15/log4j-1.2.15.jar`

2. Extract the log4j-1.2.15.jar by running:
`./extractcode log4j-1.2.15.jar `

3. Run scan code on the extracted folder with "--strip-root" argument.
` ./scancode  --strip-root --summary --package log4j-1.2.15.jar-extract --json-pp scancode_result.j

[2019-07-23 18:28] pombredanne commented on #1649
@linexb thank you++ ... so the `--strip-root` is clearly the issue there: with it, the package information are not the same.
I will work out something on the ClearlyDefined side: I recall having a discussion on that topic recently but I cannot recall the details.

[2019-07-23 18:30] pombredanne commented on #1649
@linexb could you attach both scans (possibly with a .txt extension if GH complains about .json) ?

[2019-07-24 01:26] linexb commented on #1649
@pombredanne  Thank you. I have attached two results with and without --strip-root, the file names can identify them.  Please refer to this:
[scancode_result_without--strip-root.txt](https://github.com/nexB/scancode-toolkit/files/3424612/scancode_result_without--strip-root.txt)
[scancode_result_with--strip-root.txt](https://github.com/nexB/scancode-toolkit/files/3424613/scancode_result_with--strip

[2019-07-24 03:01] pombredanne commented on #1364
At this stage most license rules have been tagged with a `referenced_filenames` if they reference such a file.  The next step is going to be to follow the referenced filenames in the general cases in the special case of npm "SEE LICENSE IN" and point to the referenced license instead.

[2019-07-24 15:20] pombredanne commented on #1627
@Mindbowser do you have any feedback on the above?

[2019-07-24 15:32] linexb commented on #1643
I have added the argument "--list-package" to show all supported package code through command.

The usage and result is like this:
[code]

[2019-07-25 00:39] JonoYang opened #1662 "Have a global ignore ruleset for get_package_resources for package parsers"
We could update the package parser classes to have an ignore attribute that we can iterate through to find all the things that we should ignore when running `get_package_resources` for any given Package.

[2019-07-25 06:50] rajashreetutgirl commented on #1606
Hi,

When can I have this change in official release? For time being how to use this fix?

Thanks
Rajashree

[2019-07-25 14:20] pombredanne commented on #1606
@rajashreetutgirl You are welcomed and it would be great if you can test this in this branch/PR: https://github.com/nexB/scancode-toolkit/compare/license-updates-07-12
Process-wise, once merged this will be in the next release.
The next release is in the works and we should have a release candidate soon...

[2019-07-25 17:48] pombredanne commented on #1658
Thank you for the report. The data used in the HTML template does not seem to report absolute locations https://github.com/nexB/scancode-toolkit/blob/ddcacb12a8baf75099ade6803fcdff6f1bdbf3a9/src/formattedcode/templates/html/template.html

Can you try to use the latest develop branch? 2.9.9 is a very thing!

[2019-07-25 17:49] pombredanne commented on #1643
@linexb thanks... could you also add a tests for each know package type to make sure this is detected when using a command line scan?

[2019-07-25 21:53] pombredanne commented on #769
@TG1999 sorry for the late reply. At this stage we have these: `release-archive` and `wheel installable by pip`. @aj4ayushjain  is working on the `distro-package`

[2019-07-25 23:46] pombredanne commented on #1658
@themifycloud I just realized you are using the HTML app... This is deprecated and will soon be removed entirely. You should instead consider using this app https://github.com/nexB/scancode-workbench to visualize the scan results (it uses the JSON output)

[2019-07-26 02:04] ShandrisFeathermoon opened #1665 "Can i install it on CentOS?"
### Description
Please leave a brief discription of the bug or feature request:
* if reporting a bug, tell us how to reproduce the issue.

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on? (Windows/MacOS/Linux)
* What version of scancode-toolkit was used to generate the scan file?
* What installation method was used to install/run scancode? (pip/so

[2019-07-26 06:43] rajashreetutgirl commented on #1606
@pombredanne
Thanks a lot!! I cloned this branch license-updates-07-12. It is detecting apache 2.0 for the statement Licensed under the Apache License, Version 2.

"matched_rule": {
            "identifier": "apache-2.0_291.RULE",
            "license_expression": "apache-2.0",
            "licenses": [
              "apache-2.0"
            ],

Does this branch has all features so that I can use

[2019-07-26 09:12] Abhishek-Dev09 commented on #1665
Yes, CentOS is also version of linux.You can't open a issue for such small question.You can visit github page of any project and find which os it supports.

[2019-07-26 10:59] rajashreetutgirl commented on #1606
@pombredanne

I got one exceptional scenario Unknown and Apache 2.0 both getting detected. Could you please look into it.

File: vis.min.js
/**
 * vis.js
 * https://github.com/almende/vis
 *
 * A dynamic, browser-based visualization library.
 *
 * @version 4.20.1-SNAPSHOT
 * @date    2017-10-12
 *
 * @license
 * Copyright (C) 2011-2017 Almende B.V, http://almende.com
 *
 * Vis.js is dual licensed

[2019-07-26 16:40] pombredanne opened #1666 "Incorrect unknown detection"
### Description
Originally reported by @rajashreetutgirl  in https://github.com/nexB/scancode-toolkit/issues/1606#issuecomment-515410018

File: vis.min.js
[code]
licenses list from result json:

[code]

[2019-07-26 16:41] pombredanne commented on #1606
@rajashreetutgirl thanks... Let me move this to another brand new ticket https://github.com/nexB/scancode-toolkit/issues/1666 such that this is easier to track. We are trying to get one problem means one issue

[2019-07-26 16:43] pombredanne commented on #1606
This is otherwise confirmed as fixed.... This is still in the branch but I am closing now to avoid confusion. @linexb @rajashreetutgirl Thank you ++

[2019-07-26 16:43] #1606 closed

[2019-07-26 16:46] pombredanne commented on #1665
@ShandrisFeathermoon yes this is supported. There is a bug on some CentOS that you may be facing though.

See https://github.com/nexB/scancode-toolkit/issues/443 and the workaround is to execute this once:
`sudo ln -s /usr/lib64/libbz2.so.1 /usr/lib64/libbz2.so.1.0`

[2019-07-27 15:23] pombredanne commented on #1356
This has been added alright. Closing now.

[2019-07-27 15:23] #1356 closed

[2019-07-30 09:43] #1665 closed

[2019-08-01 09:43] pombredanne opened #1669 "Possible false positive copyright?"
### Description
This is a problem found in ClearlyDefined by @duranbc

Here is the gist of a chat conversion:

The following component shows (C) Hewlett-Packard, however the statement appears to be extracted from the metadata of a JPEG image.
CD Definition: https://clearlydefined.io/definitions/git/github/h2non/filetype/b2d66fbb5aed4a1fe9f0ca71a109b9161373866a
If you look inside the file "sample.t

[2019-08-01 09:46] pombredanne commented on #1669
Here is the output of ImageMagick `indentify`:
[code]

[2019-08-01 11:36] kallesoranko opened #1670 "ScanCode scan crashes when used in ORT"
### Description
I am using ScanCode indirectly from ORT and I have faced two cases where ScanCode scan crashes and those seems to cause an NPE in ORT. Original ORT issue can be found at https://github.com/heremaps/oss-review-toolkit/issues/1406#issuecomment-517217030.
Full logs can be found there but I add stacktraces below:

[code]

[code]

### System configuration
* Windows 10
* Scancode 2.9.7
*

[2019-08-01 11:42] pombredanne opened #1671 "Do not report absolute paths in CSVs"
### Description
The CSV output `files.path` attribute is always prefixed with a `/` ... this should only be the case when the path is an absolute path. Otherwise, only a relative path without a slash prefix should be there. The absolute way we have today makes it hard when you copy and paste a path in a shell.

[2019-08-01 12:03] pombredanne commented on #1670
@kallesoranko Thank you for the report! Let me look into this though Scancode 2.9.7 is a very old version!
@sschuberth is this still the version that is used in ORT? this is ancient :grimacing:

[2019-08-01 12:52] sschuberth commented on #1670
Yes, it is, @pombredanne... my (ex-)collegues at HERE (I'm at Bosch SI now) have https://github.com/heremaps/oss-review-toolkit/pull/1467 pending but there are internal reasons why this is not yet taken into use.

[2019-08-01 13:28] rajashreetutgirl commented on #1666
@pombredanne may i pls know, when can I get this fix?
Thanks in Advance!

[2019-08-01 14:26] pombredanne commented on #1666
@rajashreetutgirl I already made a fix for this a couple days ago but I did not push these commits yet. I will later today. And thank you for the report ++!
PS: I will make sure the fix is in a separate commit in case you would want to study how this is done and may be willing to learn how to make such a fix in the future ;)

[2019-08-01 17:27] pombredanne commented on #1670
@sschuberth congrats!

To convey a sense of the magnitude of the changes since 2.9.7 when compared to teats develop, here are the number of commits and filed changed:
- Commits 1,689
- Files changed 24,646

https://github.com/nexB/scancode-toolkit/compare/v2.9.7...develop

[2019-08-01 17:30] pombredanne commented on #1670
@kallesoranko
1. The first case is likely an heisenbug on Windows that is transient: are you able reproduces this consistently?

2. For the second case, we can try a scan on Windows using these:
https://repo.spring.io/libs-milestone/com/android/support/test/espresso/espresso-core/3.0.0/

Can you confirm this the package you had troubles with?

[2019-08-01 19:28] JonoYang commented on #1661
This has been fixed in develop. `resource.walk()` and `codebase.walk()` have an argument called `ignored` that takes a callable function to determine whether or not a Resource should be ignored when walking a Codebase. This callable should have `resource` and `codebase` as arguments.

[2019-08-01 19:28] #1661 closed

[2019-08-01 19:29] JonoYang commented on #1638
This issue has been fixed in develop.

[2019-08-01 19:29] #1638 closed

[2019-08-01 19:34] JonoYang commented on #1653
There is a workaround that has been merged into develop: https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/plugin_package.py#L133, though this will have to be fixed properly.

[2019-08-01 19:34] #1653 closed

[2019-08-01 19:53] johnmhoran opened #1672 "Copyright notice is not detected"
Running ScanCode 3.0.2 (on Ubuntu 16.04) on a section of a codebase, I see that the following text at the top of one file was not detected as a copyright (`Acme Inc.` has been substituted for the actual name):

[code]

[2019-08-02 00:02] JonoYang opened #1673 "Consolidation plugin should consolidate on known build files"
Related to #1553, it would be nice to be able to consolidate on package build files like we do with package metadata files.

[2019-08-02 01:00] JonoYang commented on #1662
`Resource.walk()` and `Codebase.walk()` now take an argument called `ignored`, which is a callable function. (https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/resource.py#L1119)

`ignored` should take in a `resource` and `codebase`, and return True or False based on the attributes on the resource that makes it eligible for being ignored.

This feature is currently used in `get_pa

[2019-08-02 01:00] #1662 closed

[2019-08-02 01:01] #1647 closed

[2019-08-02 04:30] rajashreetutgirl commented on #1666
Thanks @pombredanne.  I do wanna learn it as I am actively using scancode.

[2019-08-02 04:35] pombredanne commented on #1666
@rajashreetutgirl you wrote:

Thank you for using it! I will make sure that I provide proper detailed comments.

[2019-08-02 08:00] kallesoranko commented on #1670
I did run a scan over those components that I wasn't able to scan yesterday individually this morning and all of those were successful, which is really surprising since those failures seemed consistent yesterday. As @pombredanne  suggested, it may have been heisenbug, caused by fragile Wndows environment. Anyway, it is nice that everything is working after all. Thank you both @pombredanne  and @ss

[2019-08-02 08:13] pombredanne commented on #1670
@kallesoranko Thank for retesting... but this is not over! I really want to understand why this is happening ;)

[2019-08-02 11:38] kallesoranko commented on #1670
Not sure whether this helps but the ORT analyzer results for packages that fail the scan are:
[code]
and for case2:
[code]

[2019-08-02 21:46] cpunekar commented on #636
Trying to the run on alpine but it's not working. Any updates on this?

[2019-08-07 18:48] geneh opened #1674 "Some files failed to scan properly errors"
### Description
"Some files failed to scan properly" errors from clearlydefined crawler:
`/opt/scancode-toolkit-3.0.2/scancode --copyright --license --info --license-text --is-license-text --package --license-diag --strip-root --email --url --license-clarity-score --classify --generated --summary --summary-key-files --timeout 1000 -n 2 --json-pp /tmp/cd-fuyuU8 /tmp/cd-YsiJvd`

### System configura

[2019-08-07 18:50] pombredanne commented on #1674
@geneh Thank you ++ for this report. Let me make sure we get this before the next major release which is planned for anytime now!

[2019-08-08 08:05] pombredanne opened #1675 "RFC: Revamp "unknown" license detection"
### [Context and Problem](#context-and-problem)

The whole idea of detecting unknown licenses and reporting these with the real detection is a bit weird and confusing.

We should make this area clearer and cleaner by cleaning up license keys in use and changing the way "unknown" are reported, named and detected. Since we eventually detect many short mentions and do diffs, we may at time catch too

[2019-08-08 08:34] pombredanne commented on #1537
This is now in develop. Thanks!

[2019-08-08 08:34] #1537 closed

[2019-08-08 08:34] pombredanne commented on #1564
This is now merged in develop. Thank you again!

[2019-08-08 08:34] #1564 closed

[2019-08-08 08:38] pombredanne commented on #1515
This is now reported in both places with a --package and --copyright scan:
[code]
This is in https://github.com/nexB/scancode-toolkit/pull/1660 and will be merged in develop shortly.
Thank you ++!

[2019-08-08 08:38] #1515 closed

[2019-08-08 15:01] mjherzog commented on #1675
This all makes good sense, but I think that we need to look a bit harder at other-copyleft and other-permissive because there seems to be a non-trivial difference between one-off/rare licenses and unknown license text. One approach might be to design a naming convention like other-copyleft-001 etc for cases where we do have a match to meaningful license text, but the license is very rare.

[2019-08-08 22:42] JonoYang opened #1678 "Add ability to parse build files"
Related to #1673, we can identify build files and return their Resources, but we don't have the ability to parse them for data.

[2019-08-09 17:17] pombredanne commented on #1674
@geneh

No longer an issue in latest `develop` branch.

youtube_dl-2014.09.14.3-py2.py3-none-any.whl-extract/youtube_dl/extractor/dbtv.py

The files are not there, but https://github.com/linq2db/linq2db/tree/5e26fa1693208b92b0791dff445ab7b42e79fb1b instead

https://github.com/linq2db/linq2db/raw/5e26fa1693208b92b0791dff445ab7b42e79fb1b/Data/Northwind.sqlite
https://github.com/linq2db/linq2db/raw/5

[2019-08-09 17:49] geneh commented on #1674
Thanks, @pombredanne! Please feel free to close the issue.

[2019-08-09 22:49] DennisClark opened #1679 "Recent scan of kubernetes-1.15.2.tar.gz has unexpected problems"
A recent scan of `kubernetes-1.15.2.tar.gz` from download url `https://github.com/kubernetes/kubernetes/archive/v1.15.2.tar.gz`  reported some unexpected problems in the log.  According to the messages, some *.go files and a directory called `LICENSES` failed to scan properly, but scancode should be able to handle those.

[code]

[2019-08-11 17:45] pombredanne commented on #295
Here is a bit of status and what I think should be the remaining port order:

These modules have been ported:
- commoncode, plugincode, typecode, extractcode, textcode :+1:
@Abhishek-Dev09  congrats for the work done so far!

The porting order for the remainder modules should be:
- cluecode
- formattedcode, starting with JSON (some tests are integration tests and will have to wait to be ported)
-

[2019-08-11 18:35] knobix commented on #1147
Since January 2019 scancode-toolkit is available as a [port](https://www.freshports.org/textproc/scancode-toolkit/) on FreeBSD.

This issue can actually be closed from my point of view but I would like to open a PR for **src/commoncode/system.py** that needs to be patched to make scancode-toolkit run on FreeBSD.

Would it be ok to open a new PR and use this issue as a reference for it?

[2019-08-14 01:27] linexb commented on #1643
Here is all packages we supported now and the status means if we have the test cases for it or not.

Package: about
Status: Yes

--------------------------------------------
Package: android
Status: No

--------------------------------------------
Package: android-lib
Status: No

--------------------------------------------
Package: autotools
Status: No

-------------------------------------------

[2019-08-14 10:26] linexb commented on #1643
@pombredanne Adding the test to the package type whose status is "No" above will have no package found  so doesn't make sense, the root cause is those packages don't have function  "def recognize(cls, location)"  defined. Do you agree that we should include "recognize" function for those missed one or at least for some major ones? Or this may be by design? Please advise. :)

[2019-08-19 15:32] pombredanne commented on #1643
@linexb so if we do not have a `recognize(cls, location)` defined that makes sense. I think we are good with that then. I will need to revisit these though, sooner than later as we likely have a tad too many entries for these untested packages.

[2019-08-20 09:14] pombredanne commented on #1649
@linexb btw, re:

`MANIFEST.MF` are also parsed and should and the issue here is confirmed to be the `--strip-root`

[2019-08-20 11:06] linexb commented on #1167
This was merged into develop branch and I will close the ticket now. Please reopen if needed.

[2019-08-20 11:06] #1167 closed

[2019-08-20 11:31] pombredanne commented on #1237
So here is where I will be going for now following the details of this conversation and https://github.com/nexB/scancode-toolkit/issues/1237#issuecomment-499901304 :

1. add (or rather add back since we had it before) `package_manifest` as a single file-level attribute that contains package manifest metadata. (Today returned as `packages` only and moved around to the package root.

2. keep `packag

[2019-08-20 11:34] pombredanne commented on #1672
This has been merged in develop. Thank you for the report and fixes.

[2019-08-20 11:34] #1672 closed

[2019-08-20 11:36] linexb opened #1685 "Add plugin to collect elf and lkm_clue"
The idea is to add a plugin to collect LKM clues and elf perhaps elf_needed_library, and it can be in the same plugin with dwarf, please refer to #1167

[2019-08-20 12:24] DennisClark opened #1686 "Improve the consolidated component identifier returned by the consolidate option"
I recently scanned package cayley-0.7.5.tar.gz (https://github.com/cayleygraph/cayley/archive/v0.7.5.tar.gz) using scancode-toolkit-3.1.0 and I specified the `--consolidate` option.  The scan results were initially very mysterious.  Eighteen `consolidated_components` were created with the identifier `the_cayley_authors_n` where n was an integer from 1 to 18. Each one of these consolidated componen

[2019-08-20 14:03] majurg commented on #1514
@pombredanne Did we determine that packages without a name should NOT be allowed?

[2019-08-20 15:00] pombredanne commented on #1514
@majurg I am split on this. For now they are allowed. BUT they are super rare.
On the one hand, once a package has no name, its manifest becomes close to a mere `build_script` than a proper `package_manifest` as discussed in #1237.
On the other hand they may still contain valuable license and origin data. So I am may inclined to allow an empty name and to add an explicit `private` flag attribute w

[2019-08-20 15:19] pombredanne commented on #1686
@DennisClark Thank you this very thorough report. Thee is one thing that does not make the consolidated component super clear is that we do not list the files that were used in the consolidation. Instead, we list a the file-level the `consolidated_to` component name.

[2019-08-20 15:29] JonoYang commented on #1686
@DennisClark There is a step to dedup consolidated components in ScanCode that I have commented out for now: https://github.com/nexB/scancode-toolkit/blob/develop/plugins/scancode-consolidate-scan/src/plugin_consolidate/__init__.py#L175

[2019-08-20 15:48] JonoYang commented on #1686
@DennisClark license-holder consolidated component deduplication is available on this branch of ScanCode: https://github.com/nexB/scancode-toolkit/tree/dedupe-license-holder-consolidations

[2019-08-20 18:39] bobgob1 opened #1688 "Check for Update - feature request"
Feature Request:

To facilitate running on the most recently released version of scancode-toolkit, add "Check for Software Update" under Help menu.  Or some similar implementation.  Without this it is too easy to continue running old versions because if you aren't actively involved in development, you probably don't go to github to check.

[2019-08-20 19:16] pombredanne commented on #1688
@bobgob1 excellent suggestion... I think we can use something such as the pip nag that comes this way as a simple warning message that is issues no more than once per week.
[code]

https://github.com/pypa/pip/blob/449d268b5a6a6e126e4f00f0c848f101e689c2a0/src/pip/_internal/utils/outdated.py

Actually we already have code in a branch in https://github.com/nexB/scancode-toolkit/commit/200d96196b050c3

[2019-08-21 08:56] kallesoranko commented on #1670
ORT updated the version of ScanCode they use to 3.0.2, but this same error keeps happening. Original issue at https://github.com/heremaps/oss-review-toolkit/issues/1731 and log from ORT:
[code]

[2019-08-21 23:33] LOV3hurtS commented on #1675
Awesome

[2019-08-22 08:39] pombredanne commented on #1675
@LOV3hurtS thank you for chiming in... ca you elaborate?

[2019-08-22 14:44] majurg opened #1690 "scancode-fingerprint plugin does not figerprint UTF-8 encoded files correctly."
### Description
When using the `-f` command from `plugins/scancode-fingerprint/` plugin, it fails to fingerprint any UTF-8 encoded files.
[code]

The full cli args (can be reproduced):
[code]

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on? **Linux**
* What version of scancode-toolkit was used to generate the scan file? **Latest Develop**
* What

[2019-08-22 15:44] pombredanne commented on #1670
@kallesoranko thank for following up... It could be a byzantine between the JVM multithreading and Python own threading and that on Windows only which is a platform with challenges.

Or more plainly it could be [TOCTU problem](https://en.wikipedia.org/wiki/Time-of-check_to_time-of-use)

It seems to be a well known issue See:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1391811
- https://stackove

[2019-08-22 17:09] pombredanne commented on #295
Status update: using the develop branch we have now reached a major milestone, we have liftoff on Python 3!
I can run `scancode -clipeu samples/ --json-pp - -n4` without errors ;)

At the last status update https://github.com/nexB/scancode-toolkit/issues/295#issuecomment-520246956
we had these modules ported:
* commoncode, plugincode, typecode, extractcode, textcode

An now we have these new modul

[2019-08-23 09:18] sschuberth commented on #1670
Hmm, so if the "fix" is to *unconditionally* ignore the exception, I'm not so happy about that. Probably a better work-around would be (as also described in the StackOverflow answer) to catch the exception, then sleep, then terminate again. That second call to `terminate()` should not be catched.

[2019-08-23 10:02] pombredanne commented on #1670
@sschuberth good point. Catch, sleep 1/10s, retry, catch, sleep 1/2s, retry, Catch, sleep 1s, retry, Fail
Some simple "exponential-like backoff" :) and a failure for sure if we have a failure

[2019-08-23 20:20] armijnhemel opened #1691 "scancode with --summary throws warnings about missing logger handlers"
### Description
Please leave a brief discription of the bug or feature request:

When running scancode with the --summary option I get warnings:

    No handlers could be found for logger "bs4.dammit"

Scancode was run as follows:

    $ ./scancode --full-root -l --license-text -c -e -u -n 8 --summary --json-pp=/tmp/output.json2 /tmp/busybox-1.28.0/

### System configuration
For bug reports, it re

[2019-08-23 20:23] armijnhemel opened #1692 "--summary does not use spdx notation"
### Description

It would be nice if the --summary option would report licenses using spdx short identifiers (if applicable).

[2019-08-23 20:25] armijnhemel opened #1693 "include spdx version information"
### Description

The scancode results do not specify which SPDX version the license identifiers are from. It would be nice to include this.

[2019-08-25 20:11] pombredanne opened #1697 "[RFC] Include the full license details (including the reference texts) for every matched licenses"
### Description
We never include the actual texts of a matched license, only the license matched text. This could be a mere notice or reference and not a full text. To automate attribution notice creation, it would be useful to have also all the license texts and extra details.

Therefore I suggest we had a new `--license-reference` option that would work such that a `license_references` scan-leve

[2019-08-27 10:57] pombredanne commented on #1147
This was autoclosed by GitHub...
I think we should may be also add it to https://github.com/nexB/scancode-toolkit/blob/develop/etc/configure.py  and I can help with crafting plugins for native code pointing to actual FreebSD installed packages binaries too

[2019-08-28 13:26] armijnhemel opened #1700 "Javascript eval statements included in license text"
### Description
Please leave a brief discription of the bug or feature request:
https://github.com/tscanlin/tocbot/releases/tag/v3.0.2

for tocbot.js the whole eval statement in line 89 is included, with a lot of cruft.

### System configuration
For bug reports, it really helps us to know:
using develop branch commit 483e47a69e24a0b9ac08f0861ce63dbb7be457f9

[2019-08-29 08:34] LeChasseur opened #1701 "ODbL not found"
### Description
I found the following header:
https://raw.githubusercontent.com/Leaflet/Leaflet/master/debug/vector/route.js
-----------
/*
   Route exported from CloudMade;

   Map data used is Copyright (c) OpenStreetMap contributors 2010
   OpenStreetMap® is open data, licensed under the
   Open Data Commons Open Database License (ODbL) by
   the OpenStreetMap Foundation (OSMF).

   See full li

[2019-08-30 10:18] pombredanne commented on #1147
We should be adding a FreeBSD CI test run with Cirrus IMHO

See https://github.com/YutaroHayakawa/generic-ebpf/blob/3685ece59da8258d3553f50f31cada02ce75299e/.cirrus.yml#L4 ...

Help welcome

[2019-08-30 11:36] Abhishek-Dev09 opened #1703 "Create a installer of scancode-toolkit including Python 3"
Description : This ticket is to create installer for scancode-toolkit including Python 3.

Outcome :

- No need to install python 3

- User can directly install scancode-toolkit

And on cli also , no need need to need to install python 3, ./configure will do for the user.
First it check whether Python 3.6.8 exist or not just like that https://github.com/Abhishek-Kashyap09/scancode-toolkit/blob/dev

[2019-08-30 13:49] LeChasseur opened #1704 "Wrong dedication GPL-2.0 - GPL-3.0"
Scancode provides the following result for the following file from Wordpress 4.9.5:
wp-content/themes/twentyfifteen/genericons/COPYING.txt

 {
      "path":
"//scancode/source/WordPress-4.9.5/wp-content/themes/twentyfifteen/genericons/COPYING.txt",
      "type": "file",
      "licenses": [
        {
          "key": "gpl-3.0-plus",
          "score": 92.31,
          "name": "GNU General Public Li

[2019-08-30 13:52] pombredanne commented on #295
Status: the port to Python 3 is done!

Congrats to @Abhishek-Dev09 and everyone that helped. :heart:

[2019-08-30 13:58] armijnhemel commented on #1704
Direct link to the file: https://raw.githubusercontent.com/WordPress/WordPress/master/wp-content/themes/twentyfifteen/genericons/COPYING.txt

[2019-08-30 17:51] pombredanne commented on #749
Base support has been merged in develop and the port to Python 3 is completed so we will see what this brings. Thank you for the patience!

[2019-08-30 17:52] pombredanne commented on #245
Merged in develop after a rebase

[2019-08-30 17:57] pombredanne commented on #1691
Thank you for this. Dammit dammit!

[2019-08-30 17:59] pombredanne commented on #1692
Excellent idea. See also #1217 that's related

[2019-08-30 18:01] pombredanne commented on #1693
@armijnhemel this makes sense. Where would see this? in the scan headers? Or with each license data?

[2019-08-30 18:02] pombredanne commented on #1700
@armijnhemel good catch. There is a function arg that's supposed to avoid this... but I did likely mishandled that

[2019-08-30 18:02] armijnhemel commented on #1693
I would say scan headers.

[2019-08-30 18:03] pombredanne commented on #1701
@LeChasseur Thank you! I made a small sweep to ensure that we are covered correctly on oDBL

[2019-08-30 18:07] pombredanne commented on #1704
Thanks! this is clrealy a bug, though we have a "match_coverage": 92.31" e.g. "matched_length": 204of rule_length": 221 meaning we have parts not matched. Quite likely, someone took the GPL 2 notice and just changed the number to 3. choking!

[2019-08-30 18:08] armijnhemel commented on #1704
you mean the other way around?

[2019-08-30 18:25] pombredanne commented on #1704
@armijnhemel I meant that someone took a GPL 2 notice and just changed the number to 3, and then that was added as a RULE in scancode. And therefore we match it because except for the version number, this is mostly a GPL 2 notice

[2019-09-01 17:29] knobix commented on #1147
Thank you for merging #1695 and sorry for late reply! Indeed, it makes sense to align `configure.py` and also add a CI test for FreeBSD. Both are great ideas and I'll come back to them as soon as possible.

At the moment I'm still testing the Python 2.7 and Python 3.6 variants of the scancode 3.1.x release against the available Python ports in the FreeBSD ports tree.

[2019-09-02 20:56] pombredanne commented on #1700
I pushed a fix in a branch and this should be merged by tomorrow in develop.

[2019-09-02 20:58] pombredanne commented on #1701
@LeChasseur I pushed a few new rules there. I also made extra additions for some related OpenStreet map notices using the same license. This will be merged in develop tomorrow.
Thank you ++

[2019-09-02 20:58] pombredanne commented on #1704
This has been fixed in a branch and will be merged in develop tomorrow. Thank you for the report!

[2019-09-03 08:28] pombredanne commented on #1659
This is now merged in develop with the `--filter-clues` option. Closing

[2019-09-03 08:28] #1659 closed

[2019-09-03 12:53] linexb commented on #1628
This was fixed and merged into develop branch. I would close ticket, please reopen if needed.

[2019-09-03 12:53] #1628 closed

[2019-09-03 12:55] linexb commented on #1685
This was fixed and merged into develop.

To invoke plugin, you need to manually install the plugin by running:

Please follow the steps in README  file under the plugin to run the command or run the test cases.

[2019-09-03 12:55] #1685 closed

[2019-09-03 14:39] pombredanne commented on #1670
I pushed a fix that should help ... this is merged in develop.

[2019-09-03 14:42] pombredanne commented on #301
This has been merged and is done now

[2019-09-03 14:42] #301 closed

[2019-09-03 14:43] pombredanne commented on #931
This is no longer needed now that Scancode was used to detect and help normalize all the Linux kernel licenses.

[2019-09-03 14:43] #931 closed

[2019-09-03 20:33] pombredanne commented on #111
This is merged in develop now.

[2019-09-03 20:33] #111 closed

[2019-09-03 20:35] pombredanne commented on #1688
This is merged in develop now: all yours to test there (though it may be hard to test until we have made releases at PyPI).
Do you think we should have a command line option to also force a check if a newer version is available?

Otherwise this is automatic and done once a week at most

[2019-09-03 22:18] bobgob1 commented on #1688
I like command line options as much as the next person, but perhaps a version check would be best done by overloading --version?   Would this mess anyone up who is parsing that info?  They can always just pick off the third field.
Something like:
scancode --version
ScanCode version 3.0.2 (A newer version, 3.0.3, is available at <link>>.
or
ScanCode version 3.0.2 (This is the latest released versio

[2019-09-04 01:47] linexb opened #1712 "Migrate compiled code from scancode contrib project"
### Description
Add a command to collect the #includes statements in a C/C++ file, it's better to make it as a plugin.

[2019-09-04 08:06] pombredanne commented on #1688
I do not think so. The actual current version is available in a structured form in the scans alright. I can add that to a new line too.

[2019-09-05 01:04] bobgob1 commented on #1688
What I would really like is if that version info  "A newer version ... is available" was part of the scancode output, because that's where I'll see it.

[2019-09-05 03:52] qduanmu opened #1714 "Perl license notice is reported as artistic-2.0 OR gpl-1.0-plus"
License expression of the license rule [artistic-2.0_or_gpl_5.RULE](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/artistic-2.0_or_gpl_5.RULE) is 'artistic-2.0 OR gpl-1.0-plus', should it be mapped to "artistic-perl-1.0 OR gpl-1.0-plus" instead?
(There are several other similar license rules).

Seems like Scancode will take a piece of very general rule text such

[2019-09-05 13:45] majurg opened #1715 "Run plugin tests as apart of the CI suite"
### Description
Currently, no tests are run for the various external plugins in the `plugins/` directory. These tests should probably be run in our CI environments since we include them in the source tree of `scancode-toolkit`.

Alternatively, we could add these as git submodules with their own repos handling the CI/testing aspect. But for now, we should probably develop a way to make these run in

[2019-09-05 13:52] pombredanne commented on #1714
@qduanmu thank you ++ for this... this is a bug alright.
1. we can fix the rules alright
2. in a few ambiguous cases we can ensure that the rules are a `relevance: XXX` set in their yml such that we provide a hint that this is not 100% relevant

The difficulty in such cases is being both useful, accurate and not misleading so this definitely needs to be beefed up.

[2019-09-05 17:26] aj4ayushjain opened #1716 "Naming of the plugins-builtin to be used with distro packages"
This is for naming convention problem of the plugins which are to be used with the distro packages to provide the path to prebuilt binaries as provided by the system package.

Reference :-#1580

[2019-09-05 17:35] aj4ayushjain commented on #1716
@aj4ayushjain -The distro package plugins i do have created has the same name so they overwrite the existing one's or which ever executes last according to build-plugins.sh script only exists --->so need to segregate them.

@pombredanne -the package names could be different I think, as long as they provide a path alright?

@aj4ayushjain -The package name have to be same because debian package uses

[2019-09-05 17:41] aj4ayushjain commented on #1716
No i we have the same tags as well this is causing the issue .

[2019-09-06 06:15] pombredanne commented on #1716
@aj4ayushjain what does the deb contain for `extractcode-7z` ?

[2019-09-06 07:08] aj4ayushjain commented on #1716
The deb only contains the installed plugins  dir without any binaries.

[2019-09-06 07:20] pombredanne commented on #1716
But is `extractcode-7z` in it? can you paste a listing of the plugins?

[2019-09-06 12:55] aj4ayushjain commented on #1716
Ya i got it now the plugins name can be different inside along with tag remaining the same as the module which is inside `src/` dir name remains the  so it satisfies and works it is not overwritten!
Thanks for the help.

[2019-09-06 13:45] pombredanne commented on #1716
@aj4ayushjain :+1:
I knew there should be a way out!

[2019-09-08 13:38] adityaviki commented on #1671
Hi! @pombredanne I would like to work on the issue and wanted to know if someone is not already working on it?

[2019-09-08 20:00] majurg commented on #1671
@adityaviki Feel free to work on any open issues.

[2019-09-09 06:44] pombredanne opened #1718 "manifest_path is mostly empty for packages"
### Description
with:
[code]
I get this error:
[code]

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on? Linux Python 2.7
* What version of scancode-toolkit was used to generate the scan file? v3.1.1 pre release
* What installation method was used to install/run scancode? standard archive

[2019-09-09 13:42] LeChasseur opened #1720 "Wrong dedication gpl-1.0-plus OR bsd-simplified"
Scan indicated the following BSD-2-Clause as gpl-1.0-plus OR bsd-simplified:

https://github.com/CindyJS/CindyJS/blob/master/lib/midi/Base64binary.js

Scancode result:

{
      "path": "/home/jaeger/scancode/source/CindyJS-master/lib/midi/Base64binary.js",
      "type": "file",
      "licenses": [
        {
          "key": "gpl-1.0-plus",
          "score": 90.55,
          "name": "GNU General P

[2019-09-09 21:36] pombredanne commented on #1720
@LeChasseur Thank you again. I added a few extra rules from a quick scan review of the whole CindiJS too for good measure.
That said the key resolution was this: https://github.com/nexB/scancode-toolkit/commit/c8881b961eaff306aa81e7ab7151a2cfc6d7322a#diff-cc5950431ae33524fd83d0b5aee65340R4 e.g. ensuring that a rule that detects both bsd and gpl is less prominent (e.g. requires more of it to be "co

[2019-09-10 06:57] #1716 closed

[2019-09-11 14:10] majurg opened #1723 "Incorrect ScanCode version warning"
### Description
[code]

From the above output, scancode gives a warning that I am using an out-of-date version even though I am on develop branch version: `3.1.1.post12.d32880591`

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on? **Linux**
* What version of scancode-toolkit was used to generate the scan file? **3.1.1.post12.d32880591**
* What inst

[2019-09-11 15:51] knobix commented on #1147
So, as promised in my previous comment I created PR #1724 that implements the following items:

- Add Cirrus CI support for FreeBSD (the `.cirrus.yml` file will evolve during the further progress)
- Add `pip` build/install support for https://github.com/nexB/scancode-toolkit/blob/develop/etc/configure.py and https://github.com/nexB/scancode-toolkit/blob/develop/etc/conf/base.py
- Change the sheban

[2019-09-13 13:21] adityaviki commented on #1010
@pombredanne

What do you mean by "regression"? also, what type of file should not be considered for scanning?

[2019-09-13 13:58] pombredanne opened #1728 "Add back file-level package manifest"
### Description
Since #1212 and https://github.com/nexB/scancode-toolkit/commit/4605700d39e926972947a77f60a29899fa179ae7 (Remove package_manifest attribute for packages ) package manifest are moved to the root package location away from their manifest files. This creates all kind of weirdness such as having a manifest file without any info.

I think we should instead have this behavior:
1. a `pack

[2019-09-15 17:45] #1671 closed

[2019-09-17 17:05] pombredanne commented on #1010
@adityaviki a "regression" is a general term for something that used to work and no longer works (it did "regress"). Here I am pretty sure that we did not attempt in the past to scan any character device file, FIFO and similar.
At least that must have been the case in v1.0
That said, we want to skip these: FIFO, character device files, symlinks,

For instance you can see that the code in https://g

[2019-09-18 10:25] qduanmu opened #1731 "license_expression for 'ASL 2.0' is unknown"
### Description
Declared license in rpm spec is `License:        ASL 2.0`,  and scancode failed to get the correct license expression.

'unknown'

After adding a license rule with 'ASL 2.0' as rule text for 'apache-2.0',  reindexed icenses, the license expression could be recognized correctly.

'apache-2.0'
Same issue for 'ASL 1.1', 'ASL 1.0'.

### System configuration
For bug reports, it really h

[2019-09-18 13:00] linexb opened #1732 "Add the plugin to scan if the text is generated code"
### Description
Add the plugin to scan if the text is generated code

[2019-09-18 20:46] pombredanne commented on #1731
@qduanmu good catch.
There are two different ways we could consider to fix this:
1. as you suggested we could add rules, with the risk that some of these are are very short and lead to some false positive when found in another context (e.g. not in an RPM metadata)
2. alternatively, we could add a new type of license detection "matchers" that would be specific to each package type and could be as s

[2019-09-19 15:32] LeChasseur opened #1733 "Incorrect detection of GPL-2.0"
Scanning of the following file (clearly MIT only)
https://github.com/WordPress/WordPress/blob/master/wp-includes/js/thickbox/thickbox.js
provides the following result:

 "type": "file",
      "licenses": [
        {
          "key": "mit",
          "score": 50.0,
          "name": "MIT License",
          "short_name": "MIT License",
          "category": "Permissive",
          "is_exception": f

[2019-09-19 15:42] LeChasseur opened #1734 "Incorrect detection of Linux-syscall-note"
Not sure if it is helpful to report wrong result without understanding the rules for identification and helping to correct them. Here the following file:
https://github.com/WordPress/WordPress/blob/master/wp-content/themes/twentyeleven/license.txt
It contains a regular GPL-2.0 but no Linux-syscall-note. However, Scancode reports:

"licenses": [
        {
          "key": "gpl-2.0",
          "scor

[2019-09-19 15:47] krutztq opened #1735 "ERROR: failed to run scan plugin: packages"
### Description
An error occured during a scan with the following command:
scancode -plucie --only-findings <dir> --json-pp result.json

### System configuration
* What OS are you running on? (Windows/MacOS/Linux)
Ubuntu 18.04.2 LTS
* What version of scancode-toolkit was used to generate the scan file?
3.1.1
* What installation method was used to install/run scancode? (pip/source download/other)
d

[2019-09-19 23:30] madscientist159 opened #1736 "Scantool packaging requires non-free Intel/AMD systems"
When trying to use Scantool on a libre non-x86 platform, I discovered the following problems:

1.) The standard pip install method requires precompiled binaries.  Those binaries are only available for x86 systems.
2.) After downloading the source from this repository, I found more x86 binaries blocking build.  At minimum there are binaries in extractcode_libarchive with no clear way of how to buil

[2019-09-20 07:48] pombredanne commented on #1735
@krutztq Thank you for the report and sorry for that ... especially since it was already fixed by @adityaviki  !
Do you mind trying the latest `develop` to confirm this is fixed?

[2019-09-20 08:00] pombredanne commented on #1736
@madscientist159 thank you for this report: the pre-built x86 binaries are only provided as a convenience such that they do not need to be compiled by end users.

The full corresponding source code is in https://github.com/nexB/scancode-thirdparty-src/ and there is definitely a need for better documentation hee... we are working on it and in particular there is a student that started last week to

[2019-09-20 08:01] pombredanne commented on #1733
@LeChasseur Thank you for the report. I think this has been fixed in the `develop` branch.

[2019-09-20 08:04] krutztq commented on #1735
No problem.. I already tested the changes of the relevant commit c4fc08c and the error did not occur.

[2019-09-20 08:04] #1735 closed

[2019-09-20 08:04] pombredanne commented on #1734
@LeChasseur thanks for this. Definitely something weird... but it looks like the Wordpress folks have truncated their GPL license text. How shocking! :smile:  Let me dive deeper in this as in anycase we should not report the syscall notes there

[2019-09-20 08:09] pombredanne commented on #1735
@krutztq Thank you ++ for testing this and using scancode: If you have any further bug, issue or feature request... sent it our way .

[2019-09-21 15:35] aj4ayushjain commented on #1736
I would love to help you out if you could please provide more details .
Not actually an expert.:p

[2019-09-22 03:10] madscientist159 commented on #1736
@pombredanne Great to hear there is interest in fixing the problem!

I am specifically looking at Debian on ppc64le.  My main desktop, where I do this kind of work, is based on a POWER9 Blackbird system, and after struggling for a bit trying to figure out how to recompile the binaries I ended up giving up and having someone else run the tools for me.

The documentation definitely needs help -- a C

[2019-09-22 19:30] gjainiitr commented on #1655
I'd like to take this issue. Do I have to convert AUTHORS.rst file into the library.json format?

[2019-09-23 22:47] mjherzog commented on #1445
Some recent examples of errors for Programming Language (pygments):
- .rST files reported as VB.Net
- .yaml and .yml files reported as ActionScript3
- .less files reported as GAS
- .md files reported as Objective-C

[2019-09-24 11:15] pombredanne commented on #1723
@lechasseur @armijnhemel FYI

[2019-09-24 14:12] pombredanne commented on #1445
@mjherzog thanks. I pushed an updated pygments library in 4aaec8c58d6813f7428b010bae1494fdf45ac5c8 but this is only a first baby step

[2019-09-24 14:46] mjherzog commented on #1445
I don't know how/if this factors in to a solution, but I would say that "false positives" are the main concern. It would be better for a .rST file to be reported as No Value Detected for Programming Language than a false positive for VB.Net.

[2019-09-24 18:54] ChinnuJose opened #1738 "Where to find the Rules used for License detection"
Hi,

Can you please tell me where we can find the Rules which is used to find the licenses.
I could only see the import, but not sure where to check the exact rules used.

I am using Linux Redhat 7.3 & ScanCode 3.0.2

Also, in script its mentioned to ignore these license, but scan code still find zlib. SO how can we deactivate any rules?

# these key would create too many false positives if added.

[2019-09-24 20:08] ChinnuJose commented on #1738
I was able to locate the Rules & License folder.
So could you please help me to deactivate custom rules.

[2019-09-25 09:25] pombredanne commented on #1738
@ChinnuJose  you wrote:

'zed',
'zend-2.0',
'zlib',
])

if there is ANY license that is not detected correctly, you should report a ticket here and this will be fixed. Disabling a few rules locally is possible (just delete them) but this is not a solution in 99.999% of the cases and is not a fix that is then shared with everyone.  So please report a ticket for each incorrect license detection.

Th

[2019-09-26 08:10] ChinnuJose commented on #1738
We will try with the new version once.
Also, can you please let me know from where the Key is identified, as far my understanding, its the word from the package file, and hope it does not depend on the scan code.

[2019-09-26 17:02] pombredanne commented on #1738
@ChinnuJose re:

Do you mean where the license key is defined?

[2019-09-27 09:54] pombredanne opened #1739 "Add new Hippocratic license"
Reported by @royaljust
### Description
See https://firstdonoharm.dev/
https://firstdonoharm.dev/version/1/0/license.md
[code]
- https://firstdonoharm.dev/version/1/1/license.md
[code]

See also #1486  that has some high level similarity
This should be treated as a proprietary category for now

[2019-09-27 10:14] pombredanne commented on #1739
See in use in https://github.com/SplittyDev/Animus and https://github.com/jellybob/rack-read_only

[2019-09-29 16:53] aj4ayushjain commented on #1736
@madscientist159 Is there much difference between ppc64le and ppc64el architectures except endianness?

As the plugins addresses the issue for ppc64el architectures.

[2019-09-29 20:34] madscientist159 commented on #1736
@aj4ayushjain No difference at all -- one is Debian style for the same architecture, the other is used most other places.  It's the same thing though -- PowerPC 64 bit little endian.

[2019-09-30 18:59] aj4ayushjain commented on #1736
@madscientist159 Not much of a problem.

You can use the python plugins suffixed with system_provided which lie in plugins-builtin dir but before you need to install the following packages which will fetch the binaries according to your arch :-
1: extractcode-7z dependency - p7zip-full
2: extractcode-libarchive dependency - libarchive13
3: typecode-libmagic dependency - libmagic-dev,libmagic-mgc

[2019-09-30 19:04] madscientist159 commented on #1736
@aj4ayushjain My next concern becomes ease of installation for users of the POWER platform.  Is there any way we can provide the same out-of-box-experience for ppc64le as for x86 by at least shipping ppc64le builds on pip?

[2019-10-01 11:49] ummer9987 opened #1740 "Creative common license in Scancode"
### Description
@pombredanne Does Creative Commons licenses are available in any version of Scancode. I am currently using Scancode version 3.0.2 in which Creative Commons are not listed in the rules. Could you please mention versions of Scancode if any  which will identify Creative commons licenses.

[2019-10-01 12:57] pombredanne commented on #1740
We should have all the CC licenses. They are stored in https://github.com/nexB/scancode-toolkit/tree/develop/src/licensedcode/data/licenses

Each license is a pair of files that share the same base name (which is the license key):
- a file with a .yml extension contains the data about a license
- a file with a .LICENSE extension contains the license text

See https://github.com/search?l=&p=1&q=rep

[2019-10-01 14:52] pombredanne commented on #1444
At this stage there are no xfail anymore, so we can close this.

[2019-10-01 14:52] #1444 closed

[2019-10-01 16:51] linexb commented on #1715
The test of the compiled code  plugin can be started with these commands/steps, please refer to: https://github.com/nexB/scancode-toolkit/blob/1712-cppinclude-command/plugins/scancode-compiledcode/README.md

[2019-10-02 09:10] pombredanne commented on #1733
Note that the score was low: 50/100

[2019-10-02 09:10] pombredanne commented on #1733
I am closing this now, since this is confirmed fixed in the develop branch

[2019-10-02 09:10] #1733 closed

[2019-10-02 10:25] pombredanne commented on #1237
So here is where the latest on this. I am pushing this for comment in a branch:

1. add `manifests` as a single file-level attribute that contains package manifest metadata. This will be renamed `manifests`. This is a list like `packages` was as a manifest may declare more than one package (e.g. an RPM spec file, some build script, etc). See  also #1728 . This is essentially the same and replaces

[2019-10-02 10:31] pombredanne commented on #1447
This is now merged in develop

[2019-10-02 10:31] #1447 closed

[2019-10-02 10:38] pombredanne commented on #1718
The base fix has been contributed by @adityaviki (Thanks! )
The follow on related work is tracked in https://github.com/nexB/scancode-toolkit/issues/1237#issuecomment-537432329

[2019-10-02 10:38] #1718 closed

[2019-10-02 10:39] pombredanne commented on #1728
This is tracked instead in https://github.com/nexB/scancode-toolkit/issues/1237#issuecomment-537432329

[2019-10-02 10:39] #1728 closed

[2019-10-02 13:36] pombredanne commented on #1712
All done. Closing
Thank you!

[2019-10-02 13:36] #1712 closed

[2019-10-02 13:42] aj4ayushjain commented on #1736
@madscientist159 I think so this could be done only thirdparty binaries are the issue for now so we could include them for the ppc64le arch.
@pombredanne What's your take on this ?

[2019-10-03 13:11] pombredanne commented on #1532
Actually this has been reverted. So I am leaving this opened for now.

[2019-10-03 13:35] pombredanne commented on #1237
And here is yet another updated proposal:

1. keep `packages` as today as a file-level attribute that contains package manifest or dependency manifest or build script package-like  metadata in a list.  (e.g. an RPM spec file, some build script, etc). See  also #1728 . The only change is that the `packages` attributes is NOT moved to its root location anymore, but stays with the manifest.

2. add a

[2019-10-03 15:53] pombredanne commented on #1237
ok one last round... back toward keeping things simple enough and making fewer changes:

1. keep `packages` as today as a file-level attribute that contains package manifest or dependency manifest or build script package-like  metadata in a list.  (e.g. an RPM spec file, some build script, etc). See  also #1728 . The only change is that the `packages` attributes is NOT moved to its root location a

[2019-10-03 21:30] majurg commented on #1237
@pombredanne I think in the context of consolidation and other summation techniques this makes a lot of sense.

[2019-10-03 22:49] johnmhoran opened #1745 "Create plugin to determine file categories"
This plugin will apply a set of rules to certain fields/values collected during a scan (e.g., `file_type`, `mime_type`) and add a `category` (or similarly named) field and associated value (e.g., `Java`, `JavaScript`) to the JSON output file.

[2019-10-04 11:23] ummer9987 commented on #1740
@pombredanne
is it possible to search a particular keyword in a package with scancode.

[2019-10-04 14:24] pombredanne opened #1746 "Add support for electron ASAR archives"
### Description
This is the format used by Electron apps.
This is defined here https://github.com/electron/asar
See these Python libs:
- @leovoel https://github.com/leovoel/BeautifulDiscord/blob/master/beautifuldiscord/asar.py
- @AS1337 https://github.com/AS1337/asarPy
- @Photonios https://github.com/Photonios/pyasar
- @minitech https://github.com/minitech/as2t

[2019-10-04 14:34] pombredanne commented on #1740
@ummer9987 re:

can you explain a bit more what you mean by this (btw it is usually best to create a new ticket for each unrelated question: it feels like this new question is not about CC licenses...)

[2019-10-04 23:42] DennisClark opened #1747 "Incorrect Package URL returned from scan of insomnia-7.0.0.tar.gz"
A recent scan of insomnia-7.0.0.tar.gz from download URL https://github.com/getinsomnia/insomnia/archive/v7.0.0.tar.gz returned a Package URL of `pkg:npm/insomnia@1.0.0` which does not make any sense, because the version is very clearly `7.0.0` as indicated in both the package filename and the download URL.

Scan results attached.
[insomnia-7.0.0.tar.gz_scan.json.zip](https://github.com/nexB/scanc

[2019-10-05 00:02] majurg commented on #1747
@DennisClark For what its worth, the package manifest for insomnia has its version at `v1.0.0` on the v7.0.0 tag in GitHub: https://github.com/getinsomnia/insomnia/blob/v7.0.0/package.json

So this may not be a ScanCode bug

[2019-10-05 00:06] DennisClark commented on #1747
@majurg    Shocking !    Closing ticket.

[2019-10-05 00:06] #1747 closed

[2019-10-05 13:37] adityaviki commented on #372
@pombredanne
How should we go  about this? From what I can think of, we can't simple maintain a list of organizations to ignore, since it will ignore their code related copyrights. We probably have to check for the name of the file ( i.e the file name should contain the word "license" and it should have no extension or ".txt" extension)

[2019-10-06 11:28] pombredanne opened #1748 "Fail to scan on user home with ~"
### Description
A scan to ~/ fails:
[code]

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on? Linux
* What version of scancode-toolkit was used to generate the scan file? https://github.com/nexB/scancode-toolkit/tree/2529cd7e2b3f9e41522d657fe26697be142b4645
* What installation method was used to install/run scancode? git clone

[2019-10-07 14:23] pombredanne opened #1749 "When scanning wheel package also collect Classifiers as declared licenses"
### Description
Somehow for wheel we only collect the "license" field

[2019-10-07 18:51] JonoYang commented on #1748
@pombredanne Is scancode failing to scan a folder in your home directory? I am unable to reproduce the error.

[2019-10-07 21:02] pombredanne commented on #1748
good catch... this is not the root cause.
The small zip attached fails with:
[code]
[scan.zip](https://github.com/nexB/scancode-toolkit/files/3699426/scan.zip)

[2019-10-07 21:47] JonoYang commented on #1748
@pombredanne Thanks, I am able to reproduce the error with the attached zip.

[2019-10-07 22:12] JonoYang commented on #1748
@pombredanne The issue is with the directory `scan.zip/rcs/`. ScanCode will ignore the `rcs` directory since it's shares the same name as RCS, the version control system.

[2019-10-08 13:43] pombredanne commented on #1748
OK, I think we can now drop ignoring RCS ten... I have not seen RCS directories in ages, and digging in them if we ever meet some real ones is not a problem IMHO.

We still need to avoid this kind of errors too BEFORE removing skipping rcs

[2019-10-09 07:30] ummer9987 opened #1751 "Scanning package for keyword"
### Description
Is it possible to trigger the scancode for searching a keyword in the packages. If user gives an input keyword is it possible to search that particular keyword in the packages.

Current version 3.0.2

[2019-10-09 14:13] linexb opened #1752 "Test dwarfs fails"
Test for dwarfs3.py fails:

[2019-10-09 19:10] DennisClark commented on #209
This has been addressed, quite nicely, by the `-clipeu` and similar options.  Closing.

[2019-10-09 19:10] #209 closed

[2019-10-09 19:11] DennisClark commented on #778
This has been addressed.  Closing.

[2019-10-09 19:11] #778 closed

[2019-10-09 19:24] DennisClark commented on #1086
No longer getting the errors. Closing.

[2019-10-09 19:24] #1086 closed

[2019-10-09 19:26] DennisClark commented on #1107
detection of authors confirmed.  closing.

[2019-10-09 19:26] #1107 closed

[2019-10-09 19:31] DennisClark commented on #1117
Not a material problem.  Closing this issue.

[2019-10-09 19:31] #1117 closed

[2019-10-09 19:47] DennisClark commented on #1109
Working much better now.  Closing.

[2019-10-09 19:47] #1109 closed

[2019-10-09 21:07] DennisClark commented on #1290
Issue #1395  is also related to this one.

[2019-10-09 21:07] DennisClark commented on #1395
Issue #1290 is also related to this one.

[2019-10-09 21:44] JonoYang commented on #964
The head of the develop branch is able to scan sqlite3.c with no problems now. Closing

[2019-10-09 21:44] #964 closed

[2019-10-09 21:55] JonoYang commented on #1233
VirtualCodebase is able to be created from JSON strings or dicts. Closing.

[2019-10-09 21:55] #1233 closed

[2019-10-09 23:17] JonoYang commented on #1040
New attributes are now placed at the bottom without having to resort to workarounds. Closed.

[2019-10-09 23:17] #1040 closed

[2019-10-10 03:40] adityaviki commented on #1746
on it :)

[2019-10-10 09:19] ummer9987 commented on #1751
@pombredanne could you please help me on this

[2019-10-10 10:51] adityaviki commented on #1746
Hi! @pombredanne
Since, neither 7zip nor libarchive supports ASAR archives, we'll probably have to create another extractor. Can you provide any pointer on how to do that?

From what I can think of , we can package official asar libarary into a binary file or use one of its python implementation or maybe create our own python asar library for extraction.

[2019-10-10 13:14] pombredanne commented on #1746
@adityaviki the general approach would be to copy something such as  any of https://github.com/nexB/scancode-toolkit/blob/develop/src/extractcode/libarchive2.py https://github.com/nexB/scancode-toolkit/blob/develop/src/extractcode/sevenzip.py or https://github.com/nexB/scancode-toolkit/blob/develop/src/extractcode/patch.py ... e.g. a module that has these functions in the same way other modules ex

[2019-10-10 20:56] mjherzog opened #1754 "Prototype new summary/primary Content Type prototype"
ScanCode currently reports the following 9 fields for determining the content type of a file:
- MIME Type, - File Type, - Language
- Is Binary, - Is Text, - Is Archive, - Is Media, - Is Source, - Script

When organizing a codebase for analysis, it would be useful to consolidate this data into a single field that indicates the level and type of analysis to apply. The focus should be on identifying

[2019-10-11 14:00] #1738 closed

[2019-10-11 15:06] ChinnuJose opened #1755 "Using ScanCode Pluggings"
I have to search for certain keywords during the Scanning.  Is there any in build plugin for these or is it possible to use certain kind of plugins for searching the Keywords.
Is there any documentation/samples for using plugins?
I have gone through: https://github.com/nexB/scancode-toolkit/wiki/Plugin-architecture , but would prefer something which gives more clarity.

Installed ScanCode 3.0.2 in

[2019-10-11 16:46] mjherzog commented on #426
Some comments:
- Fonts may need to be separate from other media/assets - they are almost always licensed.
- We probably need to keep this separate from CD facets. Facets are not yet not well defined and do not know how this concept will evolve
- The end goal is to support policies for analysis and conclusions where you have a primary Content Type that you can reference in a policy for what files y

[2019-10-11 16:47] mjherzog commented on #426
#1754

[2019-10-11 17:29] adityaviki commented on #1746
@pombredanne I looked at the python ASAR libraries that you linked.
All of them are pretty similar. None of them provide a function to list the content of the archive and don't work on Python 2.7.x

So here's what I can do

- Modify the chosen library to work with python 2.7.x .
- Implement a function to list the content of the archive.
- Create a builtin plugin for the said library.
- Create a mo

[2019-10-11 17:48] fossygirl opened #1756 "Crates cargo.toml "license-file=LICENSE""
### Description
cargo.toml license-file=LICENSE is often getting read as NOASSERTION because the community norm is to include that phrasing as a pointer to a LICENSE file in the package. Can we improve the scanning to understand this phrasing?

Example component: https://clearlydefined.io/definitions/crate/cratesio/-/memrange/0.1.3
https://clearlydefined.io/file/a6fc9020d3bf01aa315b15de1821e3ab2db

[2019-10-11 18:38] johnmhoran commented on #1754
As an initial step to get familiar with [contenttype.py](https://github.com/nexB/scancode-toolkit/blob/develop/src/typecode/contenttype.py) and related files/processes, I will:
1. create a test to verify that `.awk` files are identified as text files and as scripts, and modify the code as needed to reach that result; and
2. add an attribute and related test(s) to identify build scripts.

[2019-10-11 20:54] pombredanne commented on #1756
@fossygirl thanks! and yes.

There is already a ticket that tracks this at a high level https://github.com/nexB/scancode-toolkit/issues/1675

And the important work is tracked in https://github.com/nexB/scancode-toolkit/issues/1364#issuecomment-514460202 and was initially for npms

The `"SEE LICENSE IN"` is the way that npms document following licenses in files.

So there is already the ground wor

[2019-10-11 20:58] pombredanne commented on #1751
@ummer9987 Thank you for this
@ChinnuJose has also a ticket in #1755

I suggest we have a chat online on Gitter on the details together to hammer a design.
The chat room is at https://gitter.im/aboutcode-org/discuss

[2019-10-11 20:58] pombredanne commented on #1755
@ChinnuJose there is no plugin yet, but there is definitely interest to add this feature! not only from you but also from @ummer9987 in #1751

I suggest we have a chat online on Gitter on the details together to hammer a design!
The chat room is at https://gitter.im/aboutcode-org/discuss

[2019-10-11 21:00] pombredanne commented on #469
@aj4ayushjain at this stage I think this is all completed and working, correct?

[2019-10-12 00:11] pombredanne opened #1757 "Incorrect license detected"
### Description
See https://github.com/Pylons/pylons-sphinx-themes/blob/master/setup.py

We should have a repoze, not a zpl.
Reported by @fossygirl based on https://clearlydefined.io/definitions/pypi/pypi/-/pylons-sphinx-themes/1.0.9

[2019-10-12 10:44] ummer9987 commented on #1751
@pombredanne We are from same team. How will we able to implement this keyword search?

[2019-10-12 16:25] AyanSinhaMahapatra opened #1758 "Error in `filter-clues` Plugin"
### Description

Running the following Command:

`./scancode -clp --json-pp sample_filter_clues.json samples --filter-clues`

Gives the Error:

[code]

### System configuration
For bug reports, it really helps us to know:
* What OS are you running on? Ubuntu 16.04 LTS
* What version of scancode-toolkit was used to generate the scan file? v3.1.1
* What installation method was used to install/run sc

[2019-10-13 01:32] aj4ayushjain commented on #469
@pombredanne Naming of the plugins is still an issue which need to be resolved in case of use with the debian package.
http://dpaste.com/0A828GQ

[2019-10-13 11:19] pombredanne commented on #469
@aj4ayushjain I copied the trace here... it is better to have it self contained.
`The 'extractcode-libarchive' distribution was not found..` --> which branch does this happen? what do you think the root cause of the problem would be? you alluded to naming... can you elaborate?

[2019-10-14 01:14] linexb commented on #1752
sesser [3:13 AM]
https://dev.azure.com/nexB/44deaec8-15bb-470e-b20f-1e2c33a64c65/_build/results?buildId=1203&view=logs&jobId=61f2a608-9da0-5553-4059-ff39c3ff2531
Here is that same elf test error I was experiencing locally, reproduced on the linux CI system (edited)

li [7:48 AM]
Thanks :slightly_smiling_face:

li [9:12 AM]
I still can't reproduce on my local Ubuntu. Anyhow, I got some clues and tr

[2019-10-14 01:15] linexb commented on #1752
@majurg  Can you pleas try with the latest version and let me know if the quick fix works? Thanks :)

[2019-10-14 10:38] pombredanne commented on #1751
@ummer9987 @ChinnuJose  if you are from the same team, let's keep only one ticket.

Please work together to close one of the two tickets.

The best place to implement this is IMHO to model after code in the cluecode module. The email and url scans are essentially regex string searches.

That said, there are many design questions pending.

What can be searched?:
- plain strings?
- globs?
- regex?
-

[2019-10-14 11:43] ChinnuJose commented on #1755
Hi , I have commented same in the chat. Is it like if we make changes in the Python scripts which is there in the scan code or add these special characters as some rules /license will this will wok & show the added keyword/rules/license?

[2019-10-14 12:13] ChinnuJose commented on #1751
What can be searched?:

plain strings? - Yes
globs? - Not Mandatory
regex? - Could be
would upper/lower case matter? - No .

And then what could be the user experience: IPR & Legal team can evaluate the package more efficiently and check in detail if specific keyword exist.

do we allow to search in binaries or only in plain text files? - Both
what is the data structure returned and does it includ

[2019-10-14 12:38] pombredanne commented on #1755
@ChinnuJose let's chat as I would need to understand how would a keyword search be related to license detection and ruels

[2019-10-14 14:11] pombredanne commented on #1745
See also #426
I think we could eventually bundle all this as part of the `--info` scans... this is quite essential
IMHO

[2019-10-14 16:10] johnmhoran commented on #1745
👍  @pombredanne    See also [#1754 Prototype new summary/primary Content Type prototype](https://github.com/nexB/scancode-toolkit/issues/1754).

[2019-10-14 16:32] Iamshankhadeep commented on #1691
@pombredanne What do I need to do exactly?

[2019-10-14 18:01] pombredanne commented on #1691
@Iamshankhadeep thanks for willing to help!
I guess you would need to try to reproduce this bug first with the help of @armijnhemel
Then I am not sure how to fix this... it could be that this is a bug in bs4 https://pypi.org/project/beautifulsoup4/ ?

[2019-10-14 18:07] Iamshankhadeep commented on #1691
thanks for replying @pombredanne . so, @armijnhemel how did you get to that error?

[2019-10-14 18:37] armijnhemel commented on #1691
I ran scancode ;-)

My system is Fedora 30. The command I used can be found in the first post in this thread.

[2019-10-14 23:52] johnmhoran commented on #1691
@pombredanne I am also now getting this alert running scans on my Windows 10 box -- pretty sure I only started seeing this recently.  Running on `develop` branch `version 3.1.1.post82.d7c826308,`.  Excerpt:

[code]

[2019-10-15 01:43] AyanSinhaMahapatra opened #1759 "Error in `summary-by-facet` Plugin"
### Description

Running the following command:
``./scancode -clpieu --json-pp facet_summary.json samples --summary --facet dev=*.java --summary-by-facet``

Generates the following Error
[code]
### System configuration
* What OS are you running on? Ubuntu 16.04 LTS
* What version of scancode-toolkit was used to generate the scan file? v3.1.1
* What installation method was used to install/run scanc

[2019-10-15 01:44] AyanSinhaMahapatra commented on #1759
[Update]
Running `` ./scancode -clieu`` instead of `` ./scancode -clpieu`` doesn't give error.

[2019-10-15 03:05] AyanSinhaMahapatra opened #1760 "Error in wiki template file for `--custom-template`"
### Description

The error is in the template2.html example template file (Probably just outdated) of this [wiki](https://github.com/nexB/scancode-toolkit/wiki/How-To:-Format-scan-output#custom-format).

Running the following Command
``./scancode -clpeui --custom-output sample.json --custom-template template2.html samples``

Gives the following Error:
[code]
### System configuration
For bug report

[2019-10-15 09:54] pombredanne commented on #1691
@Iamshankhadeep  use this.
We get either `No handlers could be found for logger "bs4.dammit"` on some OS or `Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.` otherwise. A problem in anycase. The culprit is this in @leonardr 's bs4.dammit https://bazaar.launchpad.net/~leonardr/beautifulsoup/bs4/view/head:/bs4/dammit.py#L379 but we should be able to fix this rogue

[2019-10-15 10:24] pombredanne commented on #1759
thank you: good catch!
side note, always quote patterns in a facet to avoid shell glob expansion e.g. use `dev="*.java"` and not `dev=*.java`

[2019-10-15 10:26] pombredanne commented on #1760
@AyanSinhaMahapatra thanks! please go ahead and update the template if you do not mind!

[2019-10-15 10:30] linexb opened #1761 "Dwarf dump has the error when running on Windows 64bit."
### Description
Chin-Yeung has reported an issue when running dwarfdump on windows 64bit, please refer to the logs:
[code]

[2019-10-15 10:45] linexb opened #1762 "Readelf can't be launched on some Linux 64bit OS"
### Description

Steven reported an issue that elf test has the error in the plugin on Ubuntu 16.

[code]

### Investigation

1.  I tried to check the by running "file readelf", it shows 32bit
[code]

2. Steven and I  tried manually run the readelf command on his machine, it can't be invoked.
[code]

### Possible Reason
So I think we are using 32bit Linux for both 32bit and 64bit Linux OS.
Ubuntu

[2019-10-15 10:48] pombredanne commented on #1691
A simple fix is to configure a null handler for the root logger ONLY when scancode is started as a command line application :
[code]

[2019-10-15 11:40] leonardr commented on #1691
Hi, I got tagged in to this and I'm interested in helping to fix the problem but I'm missing some context.

The discussion that led to this decision within Beautiful Soup is in [Launchpad issue 1013862](https://bugs.launchpad.net/beautifulsoup/+bug/1013862). We decided to use `logging.warn` here because "there is nothing the client application can do about the situation, but the event should still

[2019-10-15 13:33] pombredanne commented on #1751
@AyanSinhaMahapatra  ping ... see the details above

[2019-10-15 13:34] pombredanne commented on #1758
@AyanSinhaMahapatra Thanks! can you tell if this also happens in the `develop` branch latest and greatest?

[2019-10-15 13:41] ummer9987 commented on #1751
@pombr We were trying to add the sample plugin in https://github.com/nexB/scancode-toolkit/wiki/How-To:-Add-a-post-scan-plugin. We followed all the steps mentioned in the page, but we are getting the below error.
Could not find a version that satisfies the requirement scancode-toolkit-3.0.2 (from scancode-hello==1.0.0) (from versions: )
No matching distribution found for scancode-toolkit-3.0.2 (fr

[2019-10-15 13:44] pombredanne commented on #1691
@leonardr thank you for chiming in! your code is delicious and mighty useful :bowing_man:

I tagged you as I thought this might be of interest to you.

Correct. I have attached a small culprit test file extracted from busybox https://git.busybox.net/busybox/tree/shell/ash_test/ash-quoting/dollar_squote_bash2.right
[dollar_squote_bash2.right.txt](https://github.com/nexB/scancode-toolkit/files/37295

[2019-10-15 15:36] chinyeungli commented on #1761
I tried with the "1752-dwarf-test-failure" and still get the same error:
[code]

[2019-10-15 16:12] linexb commented on #1761
Fixed and verified by Chin-Yeung.

[2019-10-15 16:31] pombredanne commented on #1618
This is now detected this way in develop:
[code]

[2019-10-15 16:31] #1618 closed

[2019-10-15 17:07] pombredanne commented on #1617
Fixed in develop

[2019-10-15 17:07] #1617 closed

[2019-10-15 17:08] pombredanne commented on #1619
Fixed in develop

[2019-10-15 17:08] #1619 closed

[2019-10-15 17:09] pombredanne commented on #1674
This is all in 3.1.1RC and will be in the next 3.1.2 too and is in develop. Closing

[2019-10-15 17:09] #1674 closed

[2019-10-15 17:12] pombredanne commented on #1673
This is all working in develop ... closing!

[2019-10-15 19:15] AyanSinhaMahapatra commented on #1759
Noted. I will update docs accordingly.

[2019-10-15 23:23] JonoYang commented on #1643
We now have the `--list-package` option that will tell the user which package scanners are available. The Pypi parser that was once disconnected is now used.

[2019-10-15 23:23] #1643 closed

[2019-10-15 23:35] JonoYang commented on #956
We now have the `plugins` directory, where we store plugins that are not meant to be part of scancode just yet. Each plugin has its own project structure and process to install into scancode. Although this is not the same process I described above, it's a process that works with the current system.

How to create your own plugin:
https://github.com/nexB/scancode-toolkit/wiki/How-To:-Add-a-post-sca

[2019-10-15 23:35] #956 closed

[2019-10-16 06:00] Iamshankhadeep commented on #1691
@pombredanne why can't I reach to [this](https://www.busybox.net/downloads/busybox-1.28.0.tar.bz2)  server?

[2019-10-16 07:31] #1679 closed

[2019-10-16 07:39] pombredanne commented on #1700
This is now correct:
[code]
Thanks!

[2019-10-16 07:39] #1700 closed

[2019-10-16 10:55] pombredanne commented on #1714
@qduanmu I think we are all set now and this is in the develop branch ! Thank you ++. Closing!
I also sent you an invite to join the chat channel for the project at https://gitter.im/aboutcode-org/discuss

[2019-10-16 10:55] #1714 closed

[2019-10-16 11:15] linexb commented on #1762
There are some source info of the readelf:
https://github.com/bminor/binutils-gdb/tree/master/binutils
https://www.gnu.org/software/binutils/
ftp://sourceware.org/pub/binutils/snapshots

[2019-10-16 11:51] pombredanne commented on #1734
This is confirmed as fixed in the develop branch.

[2019-10-16 11:51] #1734 closed

[2019-10-16 13:31] ummer9987 commented on #1751
@pombredanne We have managed to install the sample plugin successfully. But after installation we triggered the scan but it is showing Error: no such option: --hello.

Could you please help us on this

[2019-10-16 13:38] pombredanne commented on #1666
this is all merged in develop. Closing. Thank you again

[2019-10-16 13:38] #1666 closed

[2019-10-16 13:39] pombredanne commented on #1629
this is all merged in develop. Closing. @cruzerika Thank you again  !

[2019-10-16 13:39] #1629 closed

[2019-10-16 13:39] pombredanne commented on #1627
@ Mindbowser ping?

[2019-10-16 13:40] pombredanne commented on #1625
Merged in develop... all set!

[2019-10-16 13:40] #1625 closed

[2019-10-16 13:40] pombredanne commented on #1624
Merged in develop... all set!

[2019-10-16 13:40] #1624 closed

[2019-10-16 13:41] pombredanne commented on #1623
Merged in develop... thanks you!

[2019-10-16 13:41] #1623 closed

[2019-10-16 13:41] pombredanne commented on #1622
Merged in develop... thanks you!

[2019-10-16 13:41] #1622 closed

[2019-10-16 13:41] pombredanne commented on #1621
All fixed and merged in develop... thanks you!

[2019-10-16 13:41] #1621 closed

[2019-10-16 13:41] pombredanne commented on #1620
Merged in develop... thanks you!

[2019-10-16 13:41] #1620 closed

[2019-10-16 13:42] pombredanne commented on #1611
Merged in develop... thanks you for the report!

[2019-10-16 13:42] #1611 closed

[2019-10-16 13:43] pombredanne commented on #1572
Added as ldap-sdk-free-use. Merged in develop. Closing!

[2019-10-16 13:43] #1572 closed

[2019-10-16 13:45] pombredanne commented on #1510
@reversi-fun so which license should I add to ScanCode?

[2019-10-16 13:46] pombredanne commented on #1476
Merged in develop.

[2019-10-16 13:46] #1476 closed

[2019-10-16 13:47] pombredanne commented on #1466
This has been fixed and merged now

[2019-10-16 13:47] #1466 closed

[2019-10-16 13:49] pombredanne commented on #1468
The free licenses are :

and are all detected correctly. The other license is proprietary.