[2017-02-21 16:46] pombredanne commented on #496
@sschuberth if the new `free-unknown` license works for you then you can close this alright

[2017-02-21 16:48] pombredanne commented on #474
@sschuberth Would you know where is the problem for this?

[2017-02-21 17:07] pombredanne commented on #506
This is all fixed and merged. Thanks!

[2017-02-21 17:07] #506 closed

[2017-02-21 17:13] sschuberth commented on #474
Out of my head, no, sorry. So far I've only used *spdx-tv* output. But I'm wondering why the exception is "spdx.writers.*tagvalue*.InvalidDocumentError" when the output is RDF.

[2017-02-21 19:11] richardfontana opened #508 "GPL-3.0 license notice identified as GPL-2.0 in cloud-init"
ScanCode applied to the current master branch of cloud-init (https://git.launchpad.net/cloud-init/) identifies a standard GPL-3.0 license notice as GPL-2.0.
[LICENSE-scancode.txt](https://github.com/nexB/scancode-toolkit/files/791201/LICENSE-scancode.txt)

[2017-02-21 20:10] sschuberth commented on #506
Confirmed to be fixed, thanks!

[2017-02-21 20:18] sschuberth commented on #496
Looks like it's working great, thanks!

[2017-02-21 20:18] #496 closed

[2017-02-21 21:24] pombredanne commented on #508
@richardfontana Thank you for the report!

[2017-02-21 21:49] pombredanne commented on #508
@richardfontana This latest commit in the `develop` branch should fix your issue

[2017-02-21 21:53] pombredanne commented on #462
@aparnaNammi any update? did this work for you?

[2017-02-21 22:03] pombredanne commented on #281
@majurg Thanks. Closing.

[2017-02-21 22:03] #281 closed

[2017-02-22 09:33] pombredanne commented on #463
@aparnaNammi RHEL 6.7 comes with Python 2.6.6 as stock Python. This is not supported for ScanCode.
What is the python version you have on your RHEL box? and how was it installed?

[2017-02-22 10:45] sschuberth opened #512 "Benchmark ScanCode with PyPy / Pyston"
Hi @pombredanne! I wonder whether you have ever done any benchmarking with using [PyPy](http://www.pypy.org/) or [Pyston](https://github.com/dropbox/pyston) instead of the default CPython. Would you expect any considerable speedup?

[2017-02-22 11:14] pombredanne commented on #359
@Ahmed-A-Syed Was everything working for you? I would like to close this

[2017-02-22 11:16] pombredanne commented on #463
@aparnaNammi I installed RHEL 6.7 in a VM and it does not have Python 2.7.
https://developers.redhat.com/blog/2013/02/14/setting-up-django-and-python-2-7-on-red-hat-enterprise-6-the-easy-way/ explains how to get it but I need to know how you did install it exactly rather than relying on some article.

[2017-02-22 11:17] Ahmed-A-Syed commented on #359
Yes, you can close this.! forgot to close the issue

[2017-02-22 11:17] #359 closed

[2017-02-22 11:28] sschuberth commented on #512
They [seem to do](http://doc.pypy.org/en/latest/faq.html#do-cpython-extension-modules-work-with-pypy), but from what I read it does not really make sense performance-wise.

That's what I was thinking, too. Glad you confirm it.

The [blog](https://blog.pyston.org/) says "It uses modern JIT techniques and natively supports many CPython C extension modules". On the other hand Dropxbox just announced

[2017-02-22 12:02] pombredanne opened #513 "Identify that information are from scancode or another tool"
For results such as packages, there is no direct way to determine from the JSON that this came from scancode or another tool. This is implicit. We should have a way to list which tool provided data explicitly.

[2017-02-22 12:07] pombredanne commented on #513
A way to track which tools have touched a JSON could be to include some history/log so we know this has been touched by scancode, then aboutcode manager then something else, etc.

[2017-02-23 11:52] pombredanne opened #514 "Add all the CC licenses to the ScanCode detectable licenses"
See https://github.com/creativecommons/creativecommons.org/tree/45420471049bbf7a6420a12c737376b6bf3fc9dd/docroot/legalcode
With all the translations and variants, this would be a good addition even if some are rather exotic...

[2017-02-23 11:53] pombredanne commented on #514
Another source is https://github.com/creativecommons/license.rdf/tree/3b47cda59c2ef60ad713ca14e111b9867a1be997/cc/licenserdf/licenses

[2017-02-23 12:01] pombredanne commented on #514
And this contains some code to handle them: https://github.com/warpr/licensedb.git

[2017-02-23 15:33] pombredanne opened #515 "Scancode CLI failiure on MAC"
This fails https://travis-ci.org/nexB/scancode-toolkit/jobs/204553317
And this was introduced by
https://github.com/nexB/scancode-toolkit/commit/35b4e1965be263afe60d9ae74809f028e12745c6
@hugo-bmwcarit would you know why? It sounds like readlink behaves differently on OSX

[2017-02-23 15:35] pombredanne commented on #515
FYI http://stackoverflow.com/questions/1055671/how-can-i-get-the-behavior-of-gnus-readlink-f-on-a-mac

[2017-02-24 16:43] pombredanne commented on #447
@sschuberth the SPDX path is relative to the package root, but it does not specify what the package root is. It can be a directory alright in all cases. And in the case of a scan in any case we may be scanning a package or not.

[2017-02-24 22:42] richardfontana opened #519 "Spurious detection of ACE TAO license"
In the file tzfile.h in ICU (Icu4c, version 57.1, file source/tools/tzcode/tzfile.h (checked out from svn repository http://source.icu-project.org/repos/icu/tags/release-57-1), ScanCode detects a set of #define directives as the ACE TAO license.
[tzfile.h-scancode.txt](https://github.com/nexB/scancode-toolkit/files/800621/tzfile.h-scancode.txt)

[2017-02-24 23:26] pombredanne commented on #519
@richardfontana Thank you for the report! This now is fixed in the `develop` branch.

[2017-02-24 23:57] pombredanne commented on #515
Most tests are passing... Travis now is taking forever to complete builds... overloaded maybe?  May time to check for Circle?

[2017-02-24 23:58] pombredanne commented on #468
This is working again now and is fixed.

[2017-02-24 23:58] #468 closed

[2017-02-26 11:30] pombredanne commented on #495
All merged in develop. @sschuberth Thanks for the report!

[2017-02-26 11:30] #495 closed

[2017-02-26 11:52] pombredanne commented on #252
This is really only a test environment issue. Not worth fixing IMHO but thanks for the report.

[2017-02-26 11:52] #252 closed

[2017-02-26 11:52] pombredanne commented on #262
This has been merged in develop. @chinyeungli @majurg Thanks you!

[2017-02-26 11:52] #262 closed

[2017-02-26 11:54] pombredanne commented on #290
Older MacOS versions have been dropped for quite a while now with no complaints. Closing!

[2017-02-26 11:54] #290 closed

[2017-02-26 11:55] pombredanne commented on #293
This is abandoned in favor of a continued semver versioning using the VCS (i.e. git) tags as a base in #465

[2017-02-26 11:56] pombredanne commented on #508
@richardfontana any other feedback on this? If this fixed to your satisfaction you can close alright

[2017-02-26 11:57] pombredanne commented on #519
@richardfontana any other feedback on this? If this fixed to your satisfaction you can close alright

[2017-02-26 11:58] pombredanne commented on #171
We are scanning RPMs alright and there is no plan for now to scan .spec files yet, though I am renaming this issue to do that

[2017-02-26 12:04] pombredanne commented on #393
This has been fixed with c25e6d8d810cda34fe89031e2712194e988dfb37

[2017-02-26 12:04] #393 closed

[2017-02-26 12:07] pombredanne opened #520 "Add File-based user preferences and scan configuration"
When I run a scan I should be able to point to a a configuration file that would contain defaults for a scan as well as things such as in these tickets:
- [x] #36 : files to ignore in a scan
- [x] #214 : license policy choices
- [ ] #377 : deduction and summarization preferences and options
- [x] #106 : define copyright holders to be skipped
- [x] #125 and #126 : set a preferred license choice whe

[2017-02-26 12:44] richardfontana commented on #508
Thanks @pombredanne

[2017-02-26 12:44] #508 closed

[2017-02-26 12:44] richardfontana commented on #519
Thanks @pombredanne

[2017-02-26 12:44] #519 closed

[2017-02-26 17:44] pombredanne commented on #297
@K-rex ... I guess you are no longer interested. Since I have not received further interest for Linux 32 bits, I will discontinue support for it unless I have a few requests. for this. 32 bits is on its way out!

[2017-02-26 17:44] #297 closed

[2017-02-26 18:10] pombredanne commented on #126
The new approach with #74 is going to be different after all. In particular there is no consistent way to tell which license an exception may apply too all the times. It may be more than one possibility or not defined.

- exception licenses will be flagged with an `is_exception` boolean tag.
- licenses that support `or_later` will be flagged with an `is_or_later` boolean tag
- licenses that are ve

[2017-02-26 18:10] pombredanne commented on #126
So I am closing this in favor of #74 and full support for license expressions.

[2017-02-26 18:10] #126 closed

[2017-02-26 18:12] pombredanne commented on #125
This is going to be the case ass part of #74 with license expression support as this is eventually needed for proper validation and or expression expansion. I am closing this in favor of #74

[2017-02-26 18:12] #125 closed

[2017-02-26 18:13] pombredanne commented on #34
@xizhao You never replied, so I assume that you are not interested. Closing.

[2017-02-26 18:13] #34 closed

[2017-02-26 18:47] pombredanne commented on #515
This is fixed.

[2017-02-26 18:47] #515 closed

[2017-02-26 23:27] pombredanne commented on #74
The new approach is this:

- exception licenses will be flagged with an `is_exception` boolean tag.  Note that there  there is no consistent way to tell which license an exception may apply too all the times. It may be more than one possibility or not defined, hence why we only will use a flag.

- licenses that are  for this "or later" versions  will be flagged with an `is_or_later` boolean tag
-

[2017-02-27 15:35] sschuberth opened #521 "Unhandled exception in _runner"
This is what I'm getting with ScanCode db5f6eb:

    Unhandled exception in thread started by <function _runner at 0x7f0f27e99ed8>
    Traceback (most recent call last):
      File "scancode/src/scancode/interrupt.py", line 74, in _runner
        res = func(*args, **kwargs)
      File "scancode/src/scancode/cli.py", line 575, in scan_one
        for scan_name, scan_func in scanners.items():

[2017-02-27 15:54] pombredanne opened #522 "Add support for composite licenses"
Some licenses such as SPDX's sleepycat and the licenses parked in https://github.com/nexB/scancode-toolkit/tree/d1da4db48a768a870332489507af7ae926becf34/src/licensedcode/data/composites and https://github.com/nexB/scancode-toolkit/tree/d1da4db48a768a870332489507af7ae926becf34/src/licensedcode/data/composites-rules are not plain "lower level" licenses, but composed of several licenses.

They are va

[2017-02-27 15:56] pombredanne commented on #521
@sschuberth Thanks for the report. Is this all you get?

Likely unrelated I am getting some weird heisen test failures on Travis atm that I have trouble to trace down.

[2017-02-27 15:58] pombredanne commented on #521
@sschuberth Anything extra to help reproduce this? which scan options where you using? any public test file that would exhibit the same issue?

[2017-02-27 16:00] sschuberth commented on #521
There's no more than that in the output, but I get these a ton of times. Command line used is `scancode --copyright --license --package --info --diag --only-findings --strip-root --timeout 300 -n 2 -f json . results.json`. I'll see if there's a public repo to reproduce.

[2017-02-27 16:02] sschuberth commented on #521
@pombredanne Any idea which commit might have introduced this so I can temporarily revert it?

[2017-02-27 16:11] pombredanne commented on #521
@sschuberth The last stable build in the CI is e339571 https://travis-ci.org/nexB/scancode-toolkit/builds/205610589

[2017-02-27 16:13] pombredanne commented on #521
@sschuberth have you tried with a clean clone in a different directory?

[2017-02-27 16:14] pombredanne commented on #521
@sschuberth I cannot find a way to reproduce here, using the HEAD of `develop`

[2017-02-27 16:15] pombredanne commented on #521
@sschuberth if you want wee could have a quick screen sharing session with uberconference.

[2017-02-27 16:23] sschuberth commented on #521
Thanks for the offer but I am on my way home from the office currently. My feeling is this only happens if the machine is under heavy load. While we only use `-n 2`, we run several separate invocations in parallel.

[2017-02-27 16:26] pombredanne commented on #521
@sschuberth This does not feel right and I would like to get to the bottom of it. I am available anytime so we can fix this.

[2017-02-27 16:28] pombredanne commented on #521
@sschuberth could it be that you updated the code to a newer version while you had processes running with the older version? This could eventually lead to some weird cases I guess especially with the license cache.

[2017-02-27 16:31] mjherzog commented on #522
Two comments:
1. Conjunctive is likely a  better name than composite
2. How could we design this so that we flag new license/notice files that are very likely conjunctive licenses/notices from the scan?  The pattern of multiple licenses in one file should be a strong clue for this and in most cases it is likely to be conjunctive rather than disjunctive.

[2017-02-27 16:41] pombredanne commented on #522
@mjherzog
1. I am not sure conjunctive is a better name as the underlying expression could be a complex combo of conjunctions and disjunctions?  eg. `gpl-2.0 or later with classpath exception and (mit or gpl-2.0 or later) and bsd`
2. actually we would only report as a composite things that are known to be a composite (e.g starting with the few we have [here](https://github.com/nexB/scancode-toolki

[2017-02-27 17:19] sschuberth commented on #521
Not really. The different invocations run in isolated workspaces, and in each a `git clean -fdx` is done in the beginning.

[2017-02-27 18:25] pombredanne commented on #521
hum, let me see if I can add some logging/tracing enabled with `--diag` even if temporarily in a branch

[2017-02-28 01:10] JonoYang opened #524 "json2csv.py should not prepend a root directory on the resource path"
Now that root paths are reintroduced into ScanCode resource paths, json2csv.py does not need to prepend the resource path with `/code` anymore.

[2017-02-28 09:31] sschuberth commented on #521
More similar stack traces:

    01:57:07.817 Scanning files...
    02:01:25.843 Unhandled exception in thread started by <function _runner at 0x7f457fae8de8>
    02:01:25.843 Traceback (most recent call last):
    02:01:25.843   File "/var/lib/jenkins/jobs/scancode/workspace/tools/scancode/src/scancode/interrupt.py", line 75, in _runner
    02:01:25.843     results.put(res)
    02:01:25.843 Except

[2017-02-28 09:45] pombredanne commented on #521
@sschuberth could you try a test scan using the code in the `521-trace-threading` branch? it should print out more details of the failure.

[2017-02-28 10:29] pombredanne commented on #524
I think this should become/stay as an option. The output may of may not have a root dir as this is as option on the scancode side.

[2017-02-28 10:32] pombredanne commented on #447
This is merged in develop

[2017-02-28 10:32] #447 closed

[2017-02-28 10:34] pombredanne commented on #415
This is done. Closing

[2017-02-28 10:34] #415 closed

[2017-02-28 10:58] sschuberth commented on #521
I'm giving it a try now, however I can only use our staging environment for this, and in there I've not yet seen the issue anyway, only in production :-(

[2017-02-28 11:01] pombredanne commented on #521
@sschuberth these kind of heisenbug are a pita, are they? What can I do to help your testing in production?

[2017-02-28 11:02] pombredanne commented on #521
@sschuberth are the OSses/arch and python versions the same on staging and prod?

[2017-02-28 11:02] pombredanne commented on #521
and the installed OS packages too?

[2017-02-28 11:05] pombredanne commented on #521
May be a VM with limited resources could help to reproduce ? Is there a public piece of code that chokes systematically? or is this random? The only thing I can think of being a culprit would be in there: https://github.com/nexB/scancode-toolkit/commits/develop/src/scancode/interrupt.py

[2017-02-28 11:07] sschuberth commented on #521
Thanks a lot for your willingness to help, but I fear there's not much you can do right now. I'm trying to retrigger a bunch of jobs, and we'll simply have to wait for the outcome.

Arch and Python versions are the same, but production is a VM, and staging is a bare metal machine. So indeed a VM with limited resources could help to reproduce the issue...

[2017-02-28 11:28] sschuberth commented on #521
I can reproduce it in staging now (which is a bare metal machine running Ubuntu 16.04.02 LTS, 64-bit, with Python 2.7.12). I'm running two scans with `scancode --copyright --license --package --info --diag --only-findings --strip-root --timeout 300 -n 10 -f json .` each in parallel, and that triggers:

    00:45:54.058 Scanning files for: infos, licenses, copyrights, packages with 10 process(es)..

[2017-02-28 11:34] pombredanne commented on #521
excellent. Any special scanned files that triggers this? of anything goes?

[2017-02-28 12:23] sschuberth commented on #521
I'm not currently running with `--verbose` to the see files, but I'll do now. I'll also decrease the timeout to `--timeout 30` to see if it happens for files were the timeout is exceeded.

[2017-02-28 16:05] v27u27 commented on #487
Hello Sir, as per my understanding, are you asking to make debain and RPMs distribution package for the scan code toolkit, so that linux users can directly install this toolkit onto their system ?, Please correct me if i am wrong anywhere.

[2017-02-28 17:13] pombredanne commented on #487
@v27u27 Yes this is exactly that. Note that eventually there could be some tools to help build skeletons for these.

[2017-03-01 00:23] JonoYang commented on #524
I agree that this should become an option. By default, json2csv.py should not add a root directory, as the new version of ScanCode reintroduces root directories. In the cases where the scan result does not have a root directory, then json2csv.py should have an option, like `--prepend-root`.

[2017-03-01 01:23] K-Rex commented on #297
Sorry for my lately reply. We have the holiday in my country. Thanks you for your help last year. Maybe the older version in 32 bits is enough for me.

[2017-03-01 10:08] pombredanne commented on #505
@linexb  Could you look instead in a completely different implementation of parsing Maven POMs? with https://github.com/sassoftware/pymaven  and in a maven2.py script? I think this would be much better to get actual deps. And eventually we can patch pymaven and submit upstream our improvements as it may support dependencies well but not basic information fields.

See also https://github.com/sassof

[2017-03-01 15:32] sschuberth commented on #521
So, after turning on `--verbose` I cannot see any pattern behind the files it's failing for:

[code]

[2017-03-01 15:42] sschuberth commented on #521
Also, what's a bit annoying is that is does not tell *which* exception is actually being thrown. Could we change that?

[2017-03-01 15:52] pombredanne commented on #521
Well I wished I knew what is happening but exceptions in multithreaded code are sometimes hard to get to.

Now at least I have enough to try reproduce this:
- System: Ubuntu 16.04.02 LTS, 64-bit, with Python 2.7.12
- test archive: this directory https://github.com/spring-projects/spring-framework/tree/master/spring-websocket/src
- command: `scancode --copyright --license --package --info --diag --

[2017-03-01 15:54] pombredanne commented on #521
@sschuberth I will be spinning a VM with this:
`ubuntu-16.04.2-server-amd64.iso`

[2017-03-01 15:57] sschuberth commented on #521
Sounds good, let me know if you manage to reproduce it. Note that I had to launch `scancode --copyright --license --package --info --diag --only-findings --strip-root --timeout 300 -n 10 -f json .` at least two times in parallel to trigger this.

[2017-03-01 16:24] yashdsaraf commented on #36
@pombredanne I've added the --ignore and -I options to add files which are to be ignored while scanning. Here's the commit d9bc14ba8fe3ff907479d08e3d80bc8c28e4754a
Glob is also supported so `'file1.doc, file2.doc'` or `'*.doc'` both should work,
Kindly tell if these changes satisfy the goal and follow the coding ethics of this project so I can make a PR.

[2017-03-01 17:08] singh1114 opened #525 "The UI of html-app produced by the scancode needs some improvement"
The UI of html-app produced by the command "./scancode --format html-app ...." needs some improvement.

[2017-03-01 17:10] mjherzog commented on #525
This app is being deprecated and replaced by AboutCode Manager - https://github.com/nexB/aboutcode-manager

[2017-03-01 20:07] majurg commented on #525
I agree with @mjherzog, we are phasing out the usage of `html-app` in favor of `aboutcode-manager` https://github.com/nexB/aboutcode-manager.

Minor changes can certainly be made, but sweeping UI/UX improvements are not what we want to do here.

@singh1114 What in particular do you wish was different about the `html-app` UI?

[2017-03-01 20:13] singh1114 commented on #525
@majurg
These are just the minor changes a few changes like the position of the of few things to make them more readable. You can see the #526 for the for the image of the changes.

[2017-03-01 20:19] majurg commented on #525
@singh1114 I am not opposed to the general direction of your changes. However, you need some UI improvement.

For instance, you would need to make sure the 'bar' object containing the pathname is the same dimensions as the tree-view box below it.

I also think the the text 'scan results for: ' should be on the same line as the path. In fact, change that would probably make the tests pass without h

[2017-03-01 20:40] singh1114 commented on #525
@majurg: I agree on what you suggest about the bar length and the same line thing.

What changes do you suggest for making it "polished"?

[2017-03-02 04:31] linexb opened #529 "Refine the POM handler for dependency and its sub elements"
We currently have a line structure to get dependency element and its sub elements. with https://github.com/sassoftware/pymaven  and in a maven2.py script? I think this would be much better to get actual deps.

[2017-03-02 07:01] pombredanne commented on #36
@yashdsaraf Thank you! Let me look into and post some reviews comments. Did you look at #214 and #520 too? the way we want to do this would likely be using a config file of sorts, either a `.gitgnore`-like file or a general YAML file.

From a quick look, I am not sure that using a comma-separated list is the best approach. And using a global mapping does not feel entirely right.

@sschuberth @K-Re

[2017-03-02 07:17] pombredanne commented on #521
@JonoYang You are running Ubuntu 16.x on your laptop if I recall? Would you mind doing a quick test on this too? I will run a VM test today with virtualbox on my side. But I could not reproduce on Ubuntu 14.04.x desktop on my laptop. ....
@sschuberth I will push also a CI test. But the Travis CI machines run on Ubuntu 12.04.x and my hunch is that there is something specific about the combo of OS a

[2017-03-02 07:34] chinyeungli commented on #36
What is the use case here. Ignoring scans for `.xml`, `.txt`, `.json`, `.yml`, `.html` etc... may not be a very good idea as these files can contains license/copyright information.

Will the code automatically ignore scan on media files such as images/videos?

Instead of having ignore scan on certain file_type, perhaps the `ignore` option should ignore scan on resource that contains the user-defin

[2017-03-02 08:26] yashdsaraf commented on #36
@pombredanne So perhaps a `--config` option to specify a YAML file with keys like `ignore`, `license` with an optional subkey `copyright` which can further be divided into `only` and `except` options to fix #106
Also would the paths provided in the config should or should not support Glob?
@chinyeungli The code by default only ignores some VCS related files, can be found at https://github.com/nexB

[2017-03-02 08:47] chinyeungli commented on #36
@yashdsaraf adding well-known OSS component dirs in the code is not a good idea as, perhaps, sometimes users or other people may want to see if these components been modified and/or if it contains any proprietary notice/company copyright notice if it's been modified.

[2017-03-02 08:57] yashdsaraf commented on #36
@chinyeungli I meant giving the users an option, for e,g in a YAML config they could add something like
`ignore: @oss`
This would ignore a predefined set of well-known OSS component dirs or any other file (defined by the user) for that matter.

[2017-03-02 10:36] agneet42 commented on #475
hi. i'd like to work on this. could someone guide me through?

[2017-03-02 11:37] pombredanne commented on #475
@agneet42 Thanks for your interest. Did you read the wiki docs and the README on the topic of adding license rules and tests? See https://github.com/nexB/scancode-toolkit/wiki/How-to:-Add-new-license-rules-for-enhanced-detection

A good intro is also to study this PR: https://github.com/nexB/scancode-toolkit/pull/498 to get what it means.

[2017-03-02 16:17] mjherzog commented on #36
Whatever we do to enable ignore options must be primarily handled by a configuration file.  A command line list is not practical in most cases where your ignore list may be tens or more arguments.

[2017-03-02 18:24] JonoYang commented on #521
@pombredanne  Using both the develop branch and commit `db5f6eb`, I have ran ScanCode on https://github.com/spring-projects/spring-framework/tree/master/spring-websocket/src with the command `scancode --copyright --license --package --info --diag --only-findings --strip-root --timeout 300 -n 10 -f json .` and I was unable to reproduce the error.

[2017-03-02 18:36] agneet42 commented on #475
Thank you sir. I'm going through the topic of adding license rules and tests.

[2017-03-02 19:13] sschuberth commented on #521
Note that I also needed to run scancode with that command line at least two times in parallel (and with `-n 10` each), e.g. different terminal windows, to see the exception.

[2017-03-02 19:48] JonoYang commented on #521
@sschuberth I have reran the test using two terminal windows and I could not reproduce the issue. Am I missing something?

[2017-03-02 19:54] sschuberth commented on #521
Probably not, it's simply hard to reproduce. I also only see it occasionally in scan that last > 30 mins and create a lot of CPU / IO load.

[2017-03-02 20:06] sschuberth commented on #36
I don't necessarily think the ignore option *must* be managed by a configuration file. I do like the idea of passing glob patterns to ignore (but not just `.doc` to ignore all documents, that has to be something like `**/*.doc` then) as most likely very few patterns would do. Like for example `**/src/test/**` to ignore all test source code, which most of the time does not get delivered, and thus m

[2017-03-02 21:12] jwilk opened #531 "Broken regexp in is_relative_path()"
`textcode.strings.is_relative_path()` is completely broken:

[code]

Tested against git HEAD (bca0af4a6ff10f4ef0bef6459f2f06a17d21f9f6).

Found using [pydiatra](https://github.com/jwilk/pydiatra).

[2017-03-02 21:39] pombredanne commented on #531
Thanks! @jwilk I like how you use your tools. e.g. https://github.com/jwilk/pydiatra/ Very smart and duly noticed! would you care to submit a patch? Note that the code you find this bug in is actually not used and never was, though it could and should!

[2017-03-03 09:07] yasharmaster commented on #524
I want to work on this issue. Can someone guide me where to get started?

[2017-03-03 09:32] pombredanne commented on #524
@yasharmaster Thanks. You would need to wait for input from @JonoYang for this.

[2017-03-03 09:46] pombredanne opened #532 "Define a "namespace" for SPDX LicenseRef- for ScanCode licenses that are NOT known to SPDX (yet)"
ScanCode tracks many more licenses that SPDX does. As a result `LicenseRef-xxx` needs to be created (e.g. e37fec9d4ee3eeab0a5481386d81f24fcfb44f10 )

For sanity and simplicity and clarity we should define a namespace for these non-SPDX refs.
For instance `LicenseRef-scancode-<license-key>` ... I am not sure there is a convention that exist for this in SPDX though we could suggest it.

@sschuberth

[2017-03-03 10:21] sschuberth commented on #532
I was just wondering whether there are cases where it's uncontroversial how `<license-key>` should look like, e.g. because such a key / id is already provided by the creator of the license, and if for such cases we deliberately should *not* use a namespace to create a de-facto standard how the `LicenseRef` should look like for easier interoperability with other tools?

[2017-03-03 11:35] yasharmaster commented on #389
I am working on this.

[2017-03-03 12:06] yasharmaster commented on #389
@pombredanne In case filename exceeds terminal width then should we display partial filename for that particular file?

[2017-03-03 12:36] pombredanne commented on #389
@yasharmaster this make sense. The best is probably to do some "ellipsis" like with `very_longlonglonglonglonglonglonglonglonglonglong_filename.ext`
as:
`very_long..._filename.ext`

preserving the start and extension and munging some chars in the middle.

What's your plan to get the terminal width consistently on Windows/Mac/Linux?
Or may be use an hardcoded value?

[2017-03-03 12:46] yasharmaster commented on #389
I plan to use the following to get terminal width -
`import os
rows, columns = os.popen('stty size', 'r').read().split()`

[2017-03-03 16:36] mjherzog commented on #532
@pombredanne I recommend contacting Gary and/or Mark G. about the namespace idea.  We have had many discussions and good ideas on this topic in the SPDX Tech group, but I cannot remember the details and life is too short to reread the emails.

[2017-03-03 16:44] pombredanne commented on #532
@goneall @MarkGisi ping!

[2017-03-03 17:54] goneall commented on #532
Currently, license-refs are local to a document.  We have discussed different license lists with different namespaces in the past, but so far have not standardized an approach.  The current convention is to use the license name field and comment field.  Probably something we should revisit in the legal and tech teams

[2017-03-03 18:35] JonoYang commented on #524
@yasharmaster

`json2csv.py` converts ScanCode scan result data from JSON to CSV. For legacy compatibility, the path value is prepended with `/code`. Since the newer releases of ScanCode, we do not need to prepend `/code` anymore, but this should be an option if we ever need to do so.

You should start by finding the script here:
- https://github.com/nexB/scancode-toolkit/blob/develop/etc/scripts/

[2017-03-03 18:50] pombredanne commented on #532
@goneall thanks. So for now I am inclined to namespace all the non-SPDX scancode licenses with `LicenseRef-scancode-<license-key>` ... This would help adopters and provide a clean reminder that the license is available and where.  that would still keep the ref logically local to a doc, but conveys better info (and certainly better than `LicenseRef-08` ;) )

[2017-03-03 18:54] pombredanne commented on #532
@sschuberth you wrote:

That's a possibility, but would you have any such example?
One thing that could be done in such cases if any would be to pre-assign a license with an `spdx_license_key: LicenseRef-XYZ` this way it would not be pre-computed from the scancode key ?
And this would require no code change at all. In fact I was thinking to actually make no code change here but only add an `spdx_l

[2017-03-03 19:19] pombredanne opened #534 "License detection scores can be misleading - conversation with a Linux kernel committer"
I had a chat with a  Linux kernel committer (nick removed for privacy) earlier today:

[code]

[2017-03-03 19:47] pombredanne commented on #534
The proposed resolution for this bug is this:

1. if a license match is NOT a 100% match, do not nothing
2. if a license match is a 100% match using the sequence matcher, and if the match is not continuous and there are some non-matched query-side words in between the start and the end of the the matched license rule, then we should adjust the matching score with this approach:
 * `matched` = Coun

[2017-03-03 20:14] agneet42 commented on #15
I'd to like to work on this. By my understanding, this aims to provide more user-options.
Could you guide me a little further?  @pombredanne

[2017-03-03 20:47] agneet42 commented on #305
sir, could you link me up with the proper files so that I can work on this? Thank you.

[2017-03-03 22:44] pombredanne commented on #305
Sure, though is mas mistakenly labelled as an easy ticket. This is a tough one. Though if if you want to look at it, the code is in `src/cluecode` and this is NOT simple code

[2017-03-03 23:22] singh1114 commented on #514
What is needed to be done to solve this issue?

[2017-03-03 23:24] pombredanne commented on #514
well, this is about adding new licenses and rules and detection tests as needed by checking that each and every of the CC licenses, including all the translations exist as ScanCode licenses in src/licensedcode/data/licenses

[2017-03-03 23:25] pombredanne commented on #514
the best way to do this would be to use some simple script to automate the basics

[2017-03-03 23:28] pombredanne commented on #514
You should also check recent PRs related to adding new licenses, rules and tests for examples.

[2017-03-03 23:31] pombredanne commented on #493
@DennisClark Would you agree this license is Proprietary? Is it limited strictly to scientific/academic usage?

[2017-03-03 23:44] singh1114 commented on #514
Any particular one that you want to point out?

[2017-03-03 23:46] pombredanne commented on #514
Check the opened and closed PR. There are plenty of these and some are linked in the wiki doc on licenses

[2017-03-03 23:49] singh1114 commented on #514
So what you want to say is that I need to create a script that will check the file names and compares the file names in the directory and the link?

[2017-03-04 00:07] pombredanne opened #536 "Is this a new MIT variant?"
As a follow up to #534, is this a new MIT variant or not?
https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/plain/drivers/gpu/drm/gma500/cdv_intel_crt.c?id=refs/tags/v4.10

The middle sentence contains this extra: `(including the next paragraph)`
[code]
The rest is otherwise 100% MIT.
@DennisClark is this something your legal friends would consider material or not?
and therefore shou

[2017-03-04 00:45] pombredanne commented on #534
The branch `534-adjust-score-for-non-contiguous-license-match` has a fix for this bug

[2017-03-04 06:11] patniharshit commented on #513
Hi, I am new here. Looking to contribute. Can you guide me on how to start with this issue?

[2017-03-04 07:02] vikrant97 commented on #296
@pombredanne I would like to work on in this issue.

[2017-03-04 07:13] vikrant97 commented on #296
@pombredanne I want to confirm that for this issue I just have to add the gentoo/gentoo/licenses list to the existing data set of aboutcode source code.

[2017-03-04 11:58] sschuberth commented on #532
No, I don't have a concrete example. It was just something that came to my mind. Populating the `spdx_license_key` field in any case sounds like a reasonable idea to me.

[2017-03-04 12:05] pombredanne commented on #521
I am trying to get to the bottom of this.... But I was not yet able to reproduce :|

[2017-03-04 12:08] sschuberth commented on #521
Thanks for your continued effort to help resolving this. BTW, I don't think it's too much related to Ubuntu 16.04 in particular, because I see the same thing on Amazon Linux in an AMI. The only thing that's common is Python 2.7.12.

[2017-03-04 13:15] pombredanne commented on #521
@sschuberth thanks that a super useful input.

[2017-03-04 13:23] singh1114 commented on #514
Please see if the procedure that I am going to is right or wrong.

Let's say that I am adding the license for this one: https://github.com/creativecommons/creativecommons.org/blob/45420471049bbf7a6420a12c737376b6bf3fc9dd/docroot/legalcode/by-nc-sa_3.0_es_gl.html

First of all, I will check if the license already exist or not. As this is an HTML file I need open it in the browser. After that, I cop

[2017-03-04 14:09] agneet42 commented on #372
@pombredanne  sir could you tell me what all files and the changes to be made so that I could do the same ?

[2017-03-04 15:56] pombredanne commented on #514
@singh1114 let me come back with more details tomorrow. I have actually a script for something similar that I am working for SPDX licenses as part #41 .... Once I push this you could use it as a template and/or update this to support CC licenses.

[2017-03-04 16:00] pombredanne commented on #372
@agneet42 Thanks for looking into this: for a start you could run the copyright detection of scancode proper to locate and collect the list of all scancode licenses and rules that do contain a copyright statement.
something such as `./scancode --copyright --format json-pp src/licensed/data <someoutput.json>` .... and or do a grep on `src/licensed/data` ffor `-ie "copyri"`  then these text with a c

[2017-03-04 18:12] jwilk commented on #531
I don't quite understand the purpose of this function, so I'll somebody else patch it.

[2017-03-04 18:21] pombredanne commented on #521
The only I get atm with two runs in // of `./scancode --copyright --license --package --info --diag --only-findings --verbose --strip-root --timeout 10 -n 10 -f json-pp tests/` on a Ubuntu 16 server VM with 2Gb of rAM allocated is this:

`Traceback (most recent call last):
  File "/home/pombredanne/scancode-toolkit/bin/scancode", line 11, in <module>
    load_entry_point('scancode-toolkit', 'conso

[2017-03-04 18:22] pombredanne commented on #521
@sschuberth how many processors are enabled on these VMs? and how much RAM allocated?

[2017-03-04 18:25] pombredanne commented on #531
@jwilk sure. I will handle this. and Thanks again for the report. I am impressed by your toll!
FWIW, the purpose is/was to detect if a string extracted from a binary may be a relative file path of sorts

[2017-03-04 18:26] pombredanne commented on #531
In the end using a naive bayesian classifier may be more efficient. TBD.

[2017-03-05 02:01] goneall commented on #532
@pombredanne Seems like a reasonable and valid approach to generating the license-ref's in a readable manner.  When we created namespaces for the documents, we spent quite a bit of energy making sure there were no collisions and versions were properly handled.  From a spec perspective, these license refs will still be treated as local to the SPDX document.  Perhaps we should (re)discuss expanding

[2017-03-05 08:02] sschuberth commented on #532
Addressing the issue upstream by doing so should indeed be the first choice, IMO, but we certainly need a fallback if that's not feasible for whatever reason.

[2017-03-06 08:48] kartiksibal commented on #524
@JonoYang When exactly is **json2csv.py** being called?

[2017-03-06 09:24] sschuberth opened #542 "Paths in JSON output are URL-encoded"
This is a follow-up to [this discussion](https://github.com/nexB/scancode-toolkit/issues/390#issuecomment-267562291) to explicitly state that paths are now URL-encoded in JSON output. For example when scanning https://github.com/AFNetworking/AFNetworking the output contains

[code]

So `+` is encoded as `%2B`. I'm not sure whether that's still intended. If so, it should be clearly documented, sinc

[2017-03-06 09:46] jack17529 commented on #524
@kartiksibal  dude I have nearly solved it please take another issue ,I gonna submit P.R.

[2017-03-06 11:24] pombredanne commented on #542
@sschuberth Thank I think having percent/url encoded paths is **pure utter non-sense** that I introduced.

**This should NOT be needed at all.** So I need to get rid of it.

I think the issue/need would go away entirely by using Unicode at the boundary, right when a path is first ingested in the scancode CLI function and then used this way throughout, % encoding must not be needed at all.

[2017-03-06 12:52] pombredanne commented on #524
@kartiksibal @jack17529 there is already a work in progress PR by @yasharmaster who is working on this: a different PR is always welcomed, but duplicating work does not make sense especially on such a small feature.

You should collaborate instead such as providing comments and feedback and review on the current PR.

[2017-03-06 12:58] pombredanne commented on #524
And yet another PR #541 that I had to close ass duplicate from @sudeepb02
... Please have mercy on us: one at a time!

[2017-03-06 13:15] kartiksibal commented on #524
Haha. Also, @pombredanne It'd be awesome if you could assign the issue, to whoever is working on it. It'd avoid such confusions in the future. Cheers! :-D

[2017-03-06 13:19] pombredanne commented on #524
@kartiksibal issues in GH can only be assigned to actual project collaborator, e.g. these that have earned comitter right from the project standpoint. This is not great but this is the way for now.
Irrespective of this, asking first on the ticket and checking existing PR and ticket comment is the right thing to do.

[2017-03-06 13:25] kartiksibal commented on #524
@pombredanne Oh my bad. That totally skipped my mind and I very much agree to that, which is why I hadn't started working on it. But,  I wasn't able to find where exactly,  is json2csv being used. Hence the question. :-)

[2017-03-06 13:35] pombredanne commented on #524
@kartiksibal You run it as `python etc/scripts/json2csv.py` once you have a scan json on hand. Eventually it would need to be made a plugin with #381

[2017-03-06 13:37] pombredanne commented on #542
@sschuberth so if you agree with me this % stuff is non-sense, I will work out to remove this encoding entirely.

The paths in a scan should be readily usage as paths on the file system, period. (with some possible future caveat when we implement #14 )

[2017-03-06 13:39] sschuberth commented on #542
Agreed!

[2017-03-06 13:41] kartiksibal commented on #524
@pombredanne I hadn't seen #381,  because of which I was confused as to where exactly, is this being used. :-)

[2017-03-06 13:47] pombredanne commented on #532
@goneall @sschuberth

This is surely the best approach, but think about this: ScanCode has about 600+ more licenses than SPDX. Even if 200 of these could be set aside if I could determine quickly that they do not clearly fit the guidelines (hint: I cannot do this easily), then the work required to add to SPDX the 400 remaining licenses is immense!

I can float the idea on the spdx-legal ML for sur

[2017-03-06 13:51] pombredanne commented on #532
@goneall note that when I speak of "namespace" I am NOT speaking of XML/RDF namespaces at all. I am just thinking of a convention to clearly identify extra non-SPDX-listed licenses in simplified/conventional way.

[2017-03-06 14:21] sudeepb02 commented on #524
@pombredanne Sorry for all the trouble. I didn't see if @agneet42 was working on it. Maybe that was because this issue wasn't mentioned in the PR message. Anyway, I'll se if I can help with other issues

[2017-03-06 14:39] sudeepb02 commented on #487
Hello @pombredanne,
I'd like to work on this issue as my GSoC project'17 as it is listed here [GSoC 2017 nexb/aboutcode wiki](https://github.com/nexB/aboutcode/wiki/GSOC-2017)

[2017-03-06 14:40] pombredanne commented on #524
@sudeepb02 no problem. You review if this PR is always welcomed too.

[2017-03-06 14:45] sudeepb02 commented on #512
Hello, I'd like to work on this issue. Would you please guide me to get started?

[2017-03-06 14:47] sudeepb02 commented on #524
@pombredanne Thanks 👍

[2017-03-06 15:08] pombredanne commented on #378
The goal is to create a benchmark between scancode and other similar tools.
1. on license detection first
2. on copyright detection second

I have listed some of the tools to consider here: https://wiki.debian.org/CopyrightReviewTools

Some of the things to consider:
1. how to create a comprehensive test data set? How to get feedback on it? how to allow the community to add new tests? (web app?, p

[2017-03-06 15:10] pombredanne commented on #512
@sudeepb02 simply: try to install ScanCode on Pypy and Pyston. This is a long shot though and this may just NOT work at all. In which case the case is closed.

If you are interested in benchs as a GSOC project proposal, I suggest you look at this project idea: #378

[2017-03-06 15:11] pombredanne commented on #487
Great! Check also #469 and http://Appimage.org that would be a great candidate for Linux packaging.

[2017-03-06 15:45] jack17529 commented on #524
@pombredanne Please assign me any issue related to this in future if needed.I have worked on the code.

[2017-03-06 16:01] pombredanne commented on #524
@jack17529 send a  separate PR if you have worked on a solution.

I cannot and will not assign you to work on anything: 1. you are not a committer/collaborator on this project (yet). 2. this is not how we work and in anycase to become a full committer/collaborator you would have to demonstrate your abilities first, including being able to submit  proper PRs (and not just one but several over a lon

[2017-03-06 16:17] #475 closed

[2017-03-06 16:32] pombredanne commented on #296
The approach should be
1. run the license detection on the dataset

2. for each file that is is not detected 100% there are two cases possible:

2.1 this is a new license: then create a new license. each new license creation should go in its own PR. for new licenses, the key should be all ascii, lowercase. Suggest one with each new license and we can discuss in the PR which would be the best.

2.2

[2017-03-06 17:24] DennisClark commented on #536
I think this is a detection rule issue and not a new license.

[2017-03-06 17:29] kartiksibal commented on #513
@pombredanne I'd like to resolve this, if no one is working on it.

If no one is. I was thinking of making a log file, wherein, whenever a tool makes changes to the JSON. There is an explicit record. Which can maybe be done, by creating a wrapper/decorator? I am not sure if I am expressing my thought correctly here. Please do share your approach.

Thanks :-)

[2017-03-06 17:45] pombredanne commented on #513
@patniharshit @kartiksibal  I guess only one of the two of you should work on this.

 @patniharshit what's your approach? did you start? @kartiksibal same question.

 @kartiksibal Your approach sounds ok. Show me some code so I can understand what you mean exactly.

[2017-03-06 18:20] pombredanne commented on #536
Thanks. We will can then either create a new rule to get 100% or leave it as is and get 99% something detection for this case, as it is now.

[2017-03-06 18:25] mjherzog commented on #536
We do not need to add new license samples to get to 100% if we already have 99% - the latter seems very accurate in this case.

[2017-03-06 18:32] pombredanne commented on #536
@mjherzog thanks for the input. Closing then.

[2017-03-06 18:32] #536 closed

[2017-03-06 18:40] pombredanne commented on #521
@sschuberth after careful consideration and chat discussions with some expert Pythonista, I will push a new design that uses only processes and drops using threads entirely. This is the only sane way. ETA tomorrow.

[2017-03-06 19:29] sschuberth commented on #521
Sorry for not answering that earlier. The AWS instance is a [m3.xlarge](https://aws.amazon.com/ec2/instance-types/) one, so 4 CPUs and 15 GB of RAM. But like I said, I can reproduce the same thing in a bare metal machine with 12 CPUs and 12 GB of RAM.

Just curious, what's wrong with threads in Python?

[2017-03-06 22:19] pombredanne commented on #521
They cannot be killed cleanly short of a hack I committed in `src/scancode/thread2.py`
And they run one at a time in most cases in a given process because of the Python global interpreter lock. So this makes them poor parallelization primitives in the general case when using Python.

In our special case where we want to both kill on certain limits (time, ram) and be truly parallel they end up havi

[2017-03-07 00:06] johnmhoran opened #543 "The root node is not included as part of the scan results"
This issue relates to how AboutCode Manager displays the JSON scan-result nodes, raising the possibility of including a root node object with a key:value setting of `"type":"directory"` in the scan-result files.  (Whether included in the scan file or inferred by AboutCode Manager, the `type` values (`directory` or `file`) are used to sort sibling nodes and display node icons in the AboutCode Manag

[2017-03-07 02:54] kartiksibal commented on #513
@pombredanne Sure. I'll do that.

[2017-03-07 06:43] ashutoshsaboo commented on #14
Hi @pombredanne . I have started working on this. Kindly look at this PR - #544 . Thanks!

[2017-03-07 06:45] ashutoshsaboo commented on #458
I'll work on this as well in addition to the new PR that I just posted - #544 . Kindly give your suggestions towards the same. Thanks!

[2017-03-07 07:27] jack17529 commented on #524
@pombredanne  first you don't answer my comments and then you give your points.

[2017-03-07 07:40] pombredanne commented on #543
@johnmhoran Thanks!
Now would this apply when you scan a single file? I guess yes?

[2017-03-07 07:59] chinyeungli opened #545 "Path with space is replaced by `+`"
For instance,
If my project is located at `code/Source Code Package/test/`, the scan result will have the following as path:
[code]

I don't think this is correct to replace space by `+`

[2017-03-07 08:19] pombredanne commented on #545
@chinyeungli You are right! I think this is a dupe of #542 ... Let's track there.

[2017-03-07 08:20] #545 closed

[2017-03-07 09:18] sudeepb02 commented on #487
@pombredanne Thanks. I'll go through the Appimage documentation and start working on it ASAP.

[2017-03-07 10:44] pombredanne commented on #452
- New mailing list at https://lists.sourceforge.net/lists/listinfo/aboutcode-discuss
- #aboutcode IRC channel on Freenode
- Gitter channel at https://gitter.im/aboutcode-org/discuss

[2017-03-07 10:44] #452 closed

[2017-03-07 10:46] pombredanne commented on #268
To consider: https://github.com/chriskiehl/Gooey

[2017-03-07 11:37] michaelrup commented on #473
I've just created a PR #546 for a single test case from the patool test suite to check if this is the right of implementing a new test case. If everything checks out I will work on adding more test cases.

[2017-03-07 12:27] pombredanne commented on #473
@michaelrup great PR, and this is the right approach alright. Since in this case we borrow test archives files, we just need to credit @wummel and make sure we handle these properly as GPL-licensed test files from https://github.com/wummel/patool as I explained in https://github.com/nexB/scancode-toolkit/pull/546#pullrequestreview-25497165

@wummel: just a heads up @michaelrup is adding new tests

[2017-03-07 15:05] pombredanne commented on #454
Closing in favor #542

[2017-03-07 15:05] #454 closed

[2017-03-07 15:40] kartiksibal commented on #513
@pombredanne I am thinking of making a `@log`, decorator, for this, which will write to a file whenever a change to JSON has been made, hence containing the tool used.

Am I somewhere near, to what your expectations are with this? :-)

[2017-03-07 15:51] johnmhoran commented on #543
@pombredanne  I'm not sure I understand the import of your question -- could you please expand?

[2017-03-07 16:11] patniharshit commented on #513
@pombredanne I didn't had any ideas in particular. I was hoping to get started here if somebody could guide me on what to do.
But since kartiksibal has something, I am cool with he going ahead with this.

[2017-03-07 16:49] sudeepb02 commented on #512
@pombredanne Before running the test with Pypy, I ran all the tests with Python and there are out of the total test cases 10099 passed, 65 were skipped and 146 have failed. Is this an issue?

[2017-03-07 17:07] ashutoshsaboo commented on #542
@pombredanne I guess, when we implement #14 , would you want the paths of the extracted archives to be also appended to the JSON, since wasn't there a discussion about deleting the extracted files after the scanning is complete, as it would also lead to a lot of clutter for the user? Should we just add the path of the archive to all the paths of it's extracted files? Does that seem fine?

I would

[2017-03-07 17:21] pombredanne commented on #543
So say you `scancode myfile.txt` a single file: the path returned is `mydir/myfile.txt` where `myfile.txt` is a single file and `mydir` the parent dir of `myfile.txt`

Say now you `scancode mydir` a dir: the paths returned are `mydir/myfile.txt`  and `mydir/yourfile.txt` that are the two files in `mydir`

 My point is that I guess you want all the details for `mydir` in both cases. Which is an evi

[2017-03-07 18:22] kartiksibal commented on #513
@patniharshit I think, what matters is coming up with an efficient solution to the problem, it doesn't matter who does it. We are here to improvise the product and learn. :-D

I'd love to know how you were thinking of approaching this issue. :-)

[2017-03-07 22:45] kira0204 commented on #273
@pombredanne Are you still working on it? I was thinking of figuring how to store the scan in the database, and did you figure something out for the ID thing? Will you be implementing it or will leave it for later ?

[2017-03-08 07:50] pombredanne commented on #14
@ashutoshsaboo I have some trouble to understand where you are going with this #544. It would make sense to lay out your approach first in prose here.

The principle is overall simple:
1. a scan main input is a resource iterator that yield files
2. we need another iterator that will itself be positioned after that and will
2.1 receive an iterator of resources (not create a new one)
2.2 if the reso

[2017-03-08 07:54] pombredanne commented on #273
@kira0204 Yes I am. The branch https://github.com/nexB/scancode-toolkit/tree/orm-models is were I am working on actually using DB models internally as part of #275.  Though a lot of it hass changed and I did not repush it yet. The DB in itself is not the issue. The data models and structures are. Once that is done, the DB is a natural by product.

ID'ing also becomes a natural thing with a clean m

[2017-03-08 07:55] pombredanne commented on #273
@kira0204 This was marked by mistake as an easy ticket. It is not. It is quite complex and touches the core of it all.

[2017-03-08 07:58] pombredanne commented on #513
@kartiksibal I can comment when I see some code.

[2017-03-08 11:02] singh1114 commented on #543
To clear the statement:
When I scanned samples.html path returned is:
`"path":"scancode-toolkit/samples.html"`
On the other hand when I scanned samples directory:
`"path":"samples/__filenames__"`

So somehow scan-code is telling all the files that it is scanning. So, what @johnmhoran want is to remove the directory name scancode-toolkit from the first case. Am I right @johnmhoran?

[2017-03-08 14:54] ashutoshsaboo commented on #14
@pombredanne Hi, I have replied to this on my PR thread, in the last comment - #544 . Would be nice to have your inputs on the same. :smile:

[2017-03-08 15:19] kartiksibal commented on #513
@pombredanne I am on it.

[2017-03-09 09:04] pombredanne commented on #521
So after more chats with threading experts, the issues stem likely from using `multiprocessing` and not from `threading`: therefore the route I am taking now is:
1. an outer thread pool if possible NOT using `multiprocessing` but may be `billiard` or something else.
2. each thread will:
2.1. spawn a standard `subprocess` that will do its bidding and importantly write to cache (or to a defined temp

[2017-03-09 18:11] pombredanne commented on #521
@sschuberth do you mind to check out the code in this new branch? https://github.com/nexB/scancode-toolkit/tree/cache-lock
This is a separately reported problem by https://github.com/Linutronix/ but this is quite likely to be closely related to yours. The fix is only with new updated locking libraries.

[2017-03-09 19:59] richardfontana opened #549 "Spurious detection of "Deutsche Freie Software Lizenz" in flatpak 0.8.3"
ScanCode detects the Deutsche Freie Software Lizens in this German translation file in flatpak 0.8.3
https://github.com/flatpak/flatpak/blob/0.8.3/po/de.po
[de.po-scancode.txt](https://github.com/nexB/scancode-toolkit/files/832151/de.po-scancode.txt)

[2017-03-09 20:00] pombredanne commented on #549
@richardfontana Thanks! Looking into this now.

[2017-03-09 20:14] pombredanne commented on #549
@richardfontana this isfixed in the `develop` branch. Thanks again for this report.

[2017-03-09 20:14] #549 closed

[2017-03-09 21:17] richardfontana opened #550 "Makefile.am in glade 3.14.0 detected as GPL|LGPL|CPL 1.0"
ScanCode detects GPL, LGPL and CPL 1.0 in the Makefile.am file in glade 3.14.0
https://git.gnome.org/browse/glade/tree/Makefile.am?h=glade-3-14

I am not sure the detection of GPL and LGPL should be considered "wrong" (from a scanning point of view rather than a legal point of view) given that the file contains the strings
	COPYING.GPL \
	COPYING.LGPL \

But it seems the only reason CPL 1.0 is det

[2017-03-09 21:25] pombredanne commented on #550
@richardfontana thanks. I can fix in two different ways:

1. make this sequence `COPYING.GPL COPYING.LGPL`  a false positive because this is what this is when this is all that is matched

2. bump the minimum required coverage of the matched rule https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/cpl-1.0_and_gpl_and_lgpl.RULE that was matched here: it should require m

[2017-03-09 21:46] pombredanne commented on #550
@richardfontana This partially fixed in develop. Partially because I did not hide the detection of a bare GPL and a bare LGPL in this case. I can. What do you think?

[2017-03-10 00:23] majurg opened #551 "extractcode tries to extract shell scripts"
When using `extractcode` on typical archive files, I get error text on the output of the extraction, as seen in the attached picture:

![screen shot 2017-03-09 at 4 22 13 pm](https://cloud.githubusercontent.com/assets/7485204/23776678/93575232-04e4-11e7-8a5d-10cfe64298f8.png)

The archive itself gets extracted fine, it just seems like `extractcode` attempts to extract shell scripts. This same beha

[2017-03-10 03:08] richardfontana commented on #550
@pombredanne probably useful to have the partial detection, I think.

[2017-03-10 06:34] pombredanne commented on #550
@richardfontana we think alike.

Vaguely related: Please ping me when there are new releases of https://github.com/copyleft-next/copyleft-next so that I can make sure the new versions are added to the detectable licenses right away.

Thanks and closing

[2017-03-10 06:34] #550 closed

[2017-03-10 06:46] pombredanne commented on #551
@majurg Thanks. Yes it does.... because these could be SHAR, e.g. shell archives... but since these are not super common, no error should be issued when an extraction attempts fails in that case.

[2017-03-10 08:44] sschuberth commented on #521
I gave the *cache-lock* branch (9be63735625d19cdc2486a654b701217144a3a49) a try over night, but you won't like the answer:

[code]

This is again on our staging bare metal machine.

[2017-03-10 08:52] pombredanne commented on #521
@sschuberth Thanks. I like it. This is useful.

[2017-03-10 10:45] pombredanne commented on #381
Note: A plugin architecture is what is needed here. Some refinements on the formats is welcomed but is not the purpose. The purpose is to refactor the existing code for plugins.

[2017-03-10 10:46] pombredanne commented on #381
and each plugin for format should ideally be also runnable as its own CLI, with input = scan json (e.g. ABC Data format), output = other format

See for ABCD:
https://github.com/nexB/aboutcode/blob/a84e207bbe579dd9b419cc52bbfd00239f5beeb9/aboutcode-data/README.rst

[2017-03-10 10:52] pombredanne opened #552 "Plugins"
We need a plugin architecture such that it is easier to add new scanners, new formats and other features in a decoupled way.

At a high level, this is similar to Firefox, Chromium or Eclipse plugins.

The goal is to create a decoupled architecture such that output formatters and scanners (and in the future deduction tools) can:

1. be their own project/library and be plugged in ScanCode at install

[2017-03-10 17:12] kartiksibal commented on #551
@pombredanne Can this be resolved by adding an exception, for SHAR files, in `extrac_cli.py`  _extract_end()_ method?

[2017-03-10 17:32] kira0204 commented on #382
I ran the extractcode on linux too, the extraction took place smoothly. Will try on windows next

[2017-03-10 18:11] pombredanne commented on #382
@kira0204 thanks.

[2017-03-10 18:20] pombredanne commented on #551
@kartiksibal that may work: But I would likely rather look on the side on the archive extraction functions rather than the extract_cli
do you care for a patch?

[2017-03-10 18:53] kartiksibal commented on #551
@pombredanne I looked into `archive.py` prior to `extrac_cli`, I had thought of editing the `SHAR` handler to incorporate, these. I somehow didn't find this approach efficient enough. I'll look for an alternate approach.

PS: It'd be lovely if you could provide your input on #513, whenever you can allocate time. :-)

[2017-03-10 19:04] kartiksibal commented on #461
@pombredanne Since, you have explicitly mentioned in #457 the reason for not using a hash for an empty file. Could you please elucidate your expectations with this?

Thanks :-)

[2017-03-10 19:13] pombredanne commented on #461
are you sure this was #457 ? that does not sounds related?

[2017-03-10 19:21] kartiksibal commented on #461
@pombredanne I might have interpreted it wrong. I had based my conclusion on,

![screenshot from 2017-03-11 00-48-47](https://cloud.githubusercontent.com/assets/10362901/23809736/dce54cc2-05f4-11e7-865d-115b6b1fd959.png)

[2017-03-10 20:23] pombredanne commented on #521
@sschuberth I pushed something that looks quite stable so far to the `521-trace-threading`. This is not the final solution yet but I hope it should fix your bug. You will note that I removed entirely the max memory sentinel which is likely part of the problem.

[2017-03-10 21:15] sschuberth commented on #521
Ok, I've triggered again some scans. Let's see what their logs say tomorrow!

[2017-03-11 05:10] richardfontana opened #553 "Spurious detection of CeCILL and GPL in French translation of GFDL"
In [gnome-desktop 3.14.2](https://download.gnome.org/sources/gnome-desktop/3.14/gnome-desktop-3.14.2.tar.xz) the file desktop-docs/fdl/fr/index.docbook contains what I believe is a French translation of the GNU FDL. ScanCode detects GPL and CeCILL in this text.
[index.docbook-scancode.txt](https://github.com/nexB/scancode-toolkit/files/835525/index.docbook-scancode.txt)

[2017-03-11 06:24] yasharmaster commented on #551
@kartiksibal if you're not working on this, can I give it a try? @pombredanne

[2017-03-11 06:26] kartiksibal commented on #551
@yasharmaster I am on it. I was waiting for @pombredanne input.

[2017-03-11 06:33] kartiksibal commented on #551
@yasharmaster But, I think it'd be better if you discuss your approach towards this issue, with @pombredanne, since if you have a more efficient approach. Please go ahead with it. :-)

[2017-03-11 06:34] pombredanne commented on #553
@richardfontana thanks!

[2017-03-11 07:03] pombredanne commented on #553
License translations and non-English licenses are interesting cases: because they are reasonably rare at scale, they introduce subtle bias that often lead to some somewhat false positive detections (even though at very low scores) of legalese in that language. Also because the words used in these licenses are also much less frequent than the words used in English licenses, they tend to be given mo

[2017-03-11 07:05] pombredanne commented on #553
BTW, the spurious GPL match is because of the FSF address:
`"matched_text": "51 Franklin [Street], Fifth Floor</[street]>, \n             <[city]>Boston"`

[2017-03-11 07:43] pombredanne commented on #553
So I am adding a new GFDL 1.1 detection rule with the plain text version of the docbook file. I am using @jgm excellent pandoc for the conversion:
`$pandoc -f docbook -t plain -o index.txt  index.docbook`

[2017-03-11 09:00] pombredanne commented on #553
FWIW, these GNOME licenses are a treasure trove of quality markup: the docbook texts have hyperlinks to the essential conditions of the license. Quite a find and a great work that could have many reuse, e.g. helping with the legal review of a text.

[2017-03-11 14:14] shivakrishna9 commented on #487
Hi @pombredanne  I would like to give my first PR for this issue.

[2017-03-11 16:11] pombredanne commented on #487
@shivakrishna9 sure, that's great.

[2017-03-11 16:28] shivakrishna9 commented on #487
@pombredanne  please clarify if this project is assigned to me so that I will be able to completely dedicate my time to this. Thanks.

[2017-03-11 16:51] pombredanne commented on #487
@shivakrishna9 I cannot assign to you anything for now:

1. the GSoC has not even started in earnest. You have not suggested a plan for your project submission. And then you may or not be selected.  This will happen in April... I cannot tell anything now.

2. I do not know you. I will get to know you through PRs. This is part of our selection process.

So if you want to submit some PRs (which is a

[2017-03-11 20:14] sschuberth commented on #521
@pombredanne There's some improvement with branch *521-trace-threading* (91a553057f26e43f5f125aa9266a44bd50dc63ca ) it seems. I still see

[code]

But I see this only once where previously I was seeing this about eight times.

[2017-03-11 21:38] pombredanne commented on #521
@sschuberth thanks. I am working on yet another implementation that gets rid entirely of using queues (and any possibly pickling that may happen behind the scenes)

[2017-03-13 14:49] pombredanne commented on #553
@richardfontana The latest code in the `develop` branch fixes your bug and is ready for your review.  I am tracking other related foreign language licenses improvements in #139
Thanks++ for this report: please continue sending our way any oddity you would find. Any other feedback for improvements is welcomed too of course.
BTW, do you run ScanCode on your desktop or on a server?

[2017-03-13 15:00] sudeepb02 opened #555 "XFAIL : 146 test cases failing"
So I've started with the development and ran all the test cases. But out of the total test cases, 146 test cases failed without specifying the reason.

Operating System : Arch Linux
Kernel version : 4.10.1
Architecture : x86_64

[code]

[2017-03-13 15:08] pombredanne commented on #555
@sudeepb02 thanks for the report. Tests reported as `XFAIL` by pytest are tests that are marked using "@expectedFailure" from the `unittest` module and are therefore expected to fail for now. You are welcome to tackle them an come with either a fix or a revised expectation.

For copyright tests, there is often a pair of tests: the one that is passing currently and the one that should fail but does

[2017-03-13 15:08] #555 closed

[2017-03-13 15:10] pombredanne commented on #513
@kartiksibal you wrote:

It is hard for me to review paste bins: do you mind make a PR for your change or attach or submit a patch instead?

[2017-03-13 15:12] pombredanne commented on #551
FWIW, having a SHAR handler than does not error out when trying to extract a non-SHAR shell script is the way I would consider the best.

[2017-03-13 15:14] sudeepb02 commented on #555
@pombredanne Fine, I'll see if I can contribute to fix any

[2017-03-13 16:45] kartiksibal commented on #551
@pombredanne I'll get onto it then.

[2017-03-14 18:21] pombredanne commented on #521
@sschuberth I am pushing this new implementation today.... so you could try it tomorrow.

[2017-03-14 20:59] richardfontana opened #557 "ScanCode detects original PCRE license in PCRE2 AUTHORS file"
PCRE2 is basically under the 3-clause BSD license, but I gather that the original version of PCRE was under the legacy [PCRE license](https://enterprise.dejacode.com/licenses/Demo/pcre/), which as far as I can tell is not present in PCRE2. ScanCode appears to detect the PCRE license in the [AUTHORS](https://vcs.pcre.org/pcre2/code/tags/pcre2-10.23/AUTHORS?view=markup) file of PCRE2 because of some

[2017-03-14 21:01] richardfontana commented on #553
@pombredanne I have been running ScanCode on my laptop.

[2017-03-14 21:01] richardfontana commented on #553
Closing this as it was fixed.

[2017-03-14 21:01] #553 closed

[2017-03-14 22:58] pombredanne opened #558 "Cannot extract some uncommonly formed zip archive (e.g. directories without trailing slash)"
See this bug: https://bugzilla.redhat.com/show_bug.cgi?id=907442
The zip at http://dlcdnet.asus.com/pub/ASUS/MM/BD-HD_Player/1_06_03P.zip cannot be extracted properly by extractcode:
[code]
I have attached a minimal version of the zip file (mostly empty) that still exhibit the same behavior.

[1_06_03P.zip](https://github.com/nexB/scancode-toolkit/files/842965/1_06_03P.zip)

[2017-03-14 23:21] pombredanne commented on #558
The latest commit fixes this

[2017-03-14 23:30] pombredanne commented on #557
@richardfontana Thanks. Working on it.

[2017-03-15 00:01] pombredanne commented on #557
@richardfontana This is fixed in the latest `develop` branch.

[2017-03-15 00:34] #557 closed

[2017-03-15 06:16] #558 closed

[2017-03-15 07:26] pombredanne commented on #521
@sschuberth This should be ready for you to test now.

[2017-03-15 07:30] pombredanne commented on #521
Note that I am now using signals on posix and threads on Windows, using a well tested implementation of timeouts from the robotframework by @pekkaklarck and @mkorpela
Things should be also faster on posix as a result of this.

[2017-03-15 08:17] pekkaklarck commented on #521
That timeout code is mainly implemented by @mkorpela. Works surprisingly well considering how complicated the domain is. Really cool that it used externally! Can you @pombredanne share where/how you've used it? Perhaps @mkorpela and I could package the useful bits into a separate module outside Robot Framework.

[2017-03-15 08:38] sschuberth commented on #521
@pombredanne I'm giving branch *521-trace-threading* another try now!

[2017-03-15 12:49] sschuberth commented on #521
@pombredanne This is looking good now actually! No more unhandled exceptions in the logs anymore fo rthe use-case where I previously saw plenty of them! 👍

[2017-03-15 13:22] sschuberth opened #559 ""All rights reserved." line after copyright stament is not picked up"
For a copyright statement like

    /*
     * Copyright (c) 2017 HERE Europe B.V.
     * All rights reserved.
     */

ScanCode (commit db5f6eb) only reports

    "copyrights":[{"statements":["Copyright (c) 2017 HERE Europe B.V."],"holders":["HERE Europe B.V."],"authors":[],"start_line":2,"end_line":3}]

in the JSON output, whereas I'd expect the statement to be `"Copyright (c) 2017 HERE Europe B.

[2017-03-15 14:06] pombredanne commented on #559
@sschuberth actually, it was an early choice in the design in the copyright detection. The rationale was this: https://en.wikipedia.org/wiki/All_rights_reserved

So I am open to have that back, but the value is low. In the context of a proper and comprehensive notice capture in #260 it would be caught in the combo copyright + license.

[2017-03-15 14:08] sschuberth commented on #559
@pombredanne That's interesting feedback, let me point our Legal guys at this.

[2017-03-15 14:25] pombredanne commented on #521
@sschuberth Thanks. I need to refine a failing tests and we should back in business. Sorry it took so long... but this was a pesky one.

[2017-03-15 14:29] pombredanne commented on #521
@pekkaklarck @mkorpela I reused your posix and windows timeout implementation here: https://github.com/nexB/scancode-toolkit/tree/521-trace-threading/src/scancode/timeouts

It would be great to have the directory packaged separately. One simple approach is to add a timeout_setup.py that would just handle the packaging for this.... or a separate repo. Your call!
and thanks++ in anycase.

[2017-03-15 14:31] pombredanne commented on #559
@sschuberth It is not often that I can refer to the obsolescence of a 100+ years old international treaty or convention as an excuse to NOT fix a bug. :dancer:

[2017-03-15 15:49] kartiksibal commented on #551
@pombredanne While I was testing my code, I came across a weird behaviour.

Note: For testing i have used the same file as @majurg did.

On Ubuntu 16.10, if I was to, without any altercations run `extractcode filename`, on the dev version of scancode, I get-

![screenshot from 2017-03-15 20-56-03](https://cloud.githubusercontent.com/assets/10362901/23956890/dff888d4-09c3-11e7-9e83-484766d9830f.png

[2017-03-15 17:21] pombredanne commented on #551
@kartiksibal good catch. I pushed some changes to extraction yesterday. These could be the reason.
OR I noticed that the file type returned on Mac is sometimes a tad different per #438 and this could lead possibly to a different behavior on Mac. For now, I think the right way is to ensure that you get tests that pass on all OSes even if this means having a different test expectation on each OS...

[2017-03-15 17:24] pombredanne commented on #551
The key to trace how things behave could be to enable debug tracing by seting these flags to True locally (do not commit that) in these places:
- https://github.com/nexB/scancode-toolkit/blob/21b6c8456f6cfd42ffc07411312cc489adec26d5/src/extractcode/extract.py#L40
- https://github.com/nexB/scancode-toolkit/blob/21b6c8456f6cfd42ffc07411312cc489adec26d5/src/extractcode/archive.py#L53

And you can dec

[2017-03-15 17:37] kartiksibal commented on #551
@pombredanne I had used `debug trace`, prior. But, shifted to `pdb` instead, because of the added functionalities.

I was actually focusing more on `pick best handler`, since the results of `score` are sort of put into action here. I have almost traced, all the methods in `archive.py` & `extract.py`, after which. I gave up and shot up this reply. :sweat_smile:

I must have surely missed something.

[2017-03-15 17:55] pombredanne commented on #551
I am old school. I do not use debuggers but tracing. Try turning on the TRACE flags I listed above.

[2017-03-16 08:20] chinyeungli opened #560 "Improve license scan for proprietary license"
[code]
The above proprietary license notice is detected as
[code]

I cannot complain it is wrongly detected as the score is only 50%. However, can we somehow improve the scanning for the above notice.

[2017-03-16 15:22] pombredanne commented on #560
@chinyeungli Thanks. This is a great one.
It could even warrant to be added to ScanCode as its own license as this is common enough in Android and Linux contexts:
-  https://github.com/search?q=%22License+is+granted+only+to+Wi-Fi+Alliance%22&type=Code
- https://www.google.com/search?q=%22License%20is%20granted%20only%20to%20Wi-Fi%20Alliance%22&pws=0&gl=us&gws_rd=cr
- https://searchcode.com/?q=%22L

[2017-03-16 17:40] sudeepb02 commented on #487
@pombredanne I went through the AppImage documentation for distro packages and made some AppImages for applications. But I see that most of the work here is testing rather than coding.
I was able to run the AppImage successfully on my system but running it on different distros raise some issues which needs the source to be changed.
So can I take this up as a project for GSoC? As the duration for G

[2017-03-16 18:03] pombredanne commented on #487
@sudeepb02 Great! Can you point me to a public place where you pushed this?
Now this is a GSOC project alright, but to be complete it should cover in order of priorities:
1. Fix #469 and this will require quite a few code changes such that its works in scancode proper and the `scancode-toolkit-contrib` too.
2. Create a build loop that handles all the automated compilation of the natives deps on li

[2017-03-16 18:08] pombredanne commented on #487
@sudeepb02 so my point is that you should not underestimate the amount of work need for what is excepted there! Creating the package may end up being a tiny part of the effective work and there is quite a bit of code needed for #469 and to create build and tests scripts that are stable and highly automated.

[2017-03-16 21:32] richardfontana commented on #560
@pombredanne I don't think I have encountered this license before. I generally am in strong support of improving the ability of ScanCode to detect "things that look like they are probably licenses, but don't match anything known".

[2017-03-16 23:23] pombredanne commented on #560
@mjherzog @richardfontana thanks for the feedback. I am adding this as a new license.

@richardfontana you wrote:

What ScanCode does is to detect these by construction and by design: if it looks like a license it will be eventually matched to some existing parts of some existing license with a low/lower score. The matched  license would not be the right one as in this case here. And the price to

[2017-03-18 17:57] pombredanne commented on #560
This is fixed with the latest commit in develop

[2017-03-18 17:57] #560 closed

[2017-03-20 07:48] sschuberth commented on #521
@pombredanne Any update on when this will land in `develop`? We're seeing a lot of the unhanded exceptions currently, and it's unclear how many findings we're missing because of this.

[2017-03-20 15:06] pombredanne commented on #521
@sschuberth I am merging this today :)

[2017-03-20 20:01] pombredanne opened #564 "Add coverage and coding standard checks to CI runs"
In order to ease the review of PRs, we should add new checks for code coverage and coding standard.
DRF does a decent job there as pointed to me by @tdruez : https://github.com/tomchristie/django-rest-framework/blob/master/runtests.py

[2017-03-20 20:08] pombredanne commented on #564
I wonder if we can also have checks for the format of the commit messages too. I am sure this exists somewhere.

[2017-03-20 20:19] pekkaklarck commented on #521
@pombredanne This sounds like a good reason to sit down and have few beers with @mkorpela. We could try making the code fully independent on Robot and put it into PyPI one way or the other.

[2017-03-21 00:50] pombredanne commented on #521
@pekkaklarck :beer: and :beers: would be great! Alas we may need to settle for the virtual kind for now as we may not exactly be in the same locale...
My simpler approach would be to add a `setup.py` and related minimal files to also package this subset as its own separate Pypi lib. With this you would have a nice combo: no explosion of smaller repos that creates additional coordination work on yo

[2017-03-21 08:13] sschuberth commented on #521
Just checking: That "today" did refer to yesterday, right? 😜

[2017-03-21 08:18] pombredanne commented on #521
@sschuberth today is still today for me, as I am 8 hours behind you atm... and I was side tracked by some major bugs elsewhere.

[2017-03-21 08:20] sschuberth commented on #521
@pombredanne Ah, sorry. I thought you're in France these days!

[2017-03-21 08:23] pombredanne commented on #521
@sschuberth CA atm ;)

[2017-03-21 08:35] pombredanne commented on #521
@sschuberth This is merged now. I still need to refine one test, but this can wait until tomorrow.

[2017-03-21 08:41] pombredanne commented on #521
note that I meant to squash the commit, but the history on such pesky issue has some value ... so I decided to leave the commit stream as-is.

[2017-03-21 08:45] sschuberth commented on #521
Does "elsewhere" mean "outside of ScanCode"? IOW, are you aware of another major issue in ScanCode currently, or do you consider it somewhat safe to use the *develop* branch right now?

[2017-03-21 08:46] pombredanne commented on #521
@sschuberth yes, that was outside of scancode alright :) The develop branch is stable and is the one that I use all the time otherwise
Actually this is reaching the point where we need to cut a 2.0.0 at last now. Likely a job for tomorrow.

[2017-03-21 13:17] yasharmaster commented on #564
@pombredanne
I would like to work on this. How should I get started?

[2017-03-21 14:02] sudeepb02 commented on #487
@pombredanne Can you please explain the second point in some detail

I've not tried any automatic building tools but I guess Travis CI would be used for this?

[2017-03-21 21:11] pekkaklarck commented on #521
@pombredanne Was thinking about :beers: with @mkorpela, we live in the same city, but we'll raise a glass for you if/when that happens. =)

[2017-03-22 11:08] mkorpela commented on #521
After having enough of 🍻 I think all these timezone problems can be resolved :D

[2017-03-23 17:17] michaelrup commented on #564
Here are a few links, which I think are interesting to look at:
- code coverage: [codecov](https://codecov.io/) or [coveralls](https://coveralls.io/)
- coding standard: [flake8](http://flake8.pycqa.org/en/latest/) and [isort](https://pypi.python.org/pypi/isort) as seen in [DRF](https://github.com/tomchristie/django-rest-framework/blob/master/runtests.py)
- commit messages: [gommit](https://github.

[2017-03-23 17:24] kartiksibal commented on #551
@pombredanne First of all apology for the delay. The reason why the file won't error out in the stable version is because of the presence of

![untitled](https://cloud.githubusercontent.com/assets/10362901/24260769/eceb553c-101a-11e7-9188-a5f31fd3e8f0.png)

Since, the mime type matches. What I had originally thought of was to edit how the scoring was done. It should not increase the score if the m

[2017-03-24 00:07] majurg opened #566 "extractcode extraction error gives 'No error returned'"
When running `extractcode ~/Downloads/rsync-3.1.2.tar.gz`, extractcode sucessfully extracts the archive, but not before giving the following error message(s):
[code]

There are two problems here:
- `extractcode` attempts to extract these test files, which are not archives
- `extractcode` returns an error that states 'No error returned'

Edit:
This error was encountered on Mac OSX v 10.11

[2017-03-24 00:57] majurg commented on #566
For reference, ive uploaded the fileinfo scans of the archive and its contents. It is in excel flattened format: [rsync-issue566.xlsx](https://github.com/nexB/scancode-toolkit/files/866587/rsync-issue566.xlsx)

[2017-03-24 00:59] majurg commented on #566
For now though, I can suggest a change of error text from 'No error returned' to 'Unknown extraction error' or 'extractcode generic error'.

At the very least, this improves the UX as the user is no longer left with a contradictory error message.

[2017-03-24 02:55] pombredanne commented on #551
shar support is not enabled because we do not have a shar extractor that can run consistently on most shars and on Windows, Linux and Mac. It would need to be parsing the shell and finding when the payload starts and then try regular extractor/decompressor from there. shars (are/were) uncommon enough that it has not been an issue until now.
As you found out, the reason why shell files are extracte

[2017-03-24 03:00] pombredanne commented on #551
I pushed a branch with a possible fix (though I did not even run it nor checked the tests): the approach is to have an extractor wrapper that does not fail with errors at all, and use it only for Springboot shell-zips.

[2017-03-24 03:12] pombredanne opened #567 "Streamline README"
The README is too long and dense and could be split in other files and made easier to read.
As kindly reported by Calinou on #fsf IRC:
[code]

[2017-03-24 06:26] kartiksibal commented on #551
@pombredanne Was working exactly on that. Your fix works fine. I was looking forward to close this. :cry:

[2017-03-24 06:41] pombredanne commented on #551
Please go ahead to finish it and make it yours.

[2017-03-24 06:52] pombredanne commented on #493
All set. @yasharmaster Thanks!

[2017-03-24 06:52] #493 closed

[2017-03-24 07:00] kartiksibal commented on #551
@pombredanne Sir, you have already done everything. What else needs doing for this?

[2017-03-24 07:03] pombredanne commented on #39
This fixed upstream . Upgrade will be post 2.0

[2017-03-24 07:06] pombredanne commented on #253
The basic is there. Addintional updates will be for post 2.0

[2017-03-24 07:16] pombredanne commented on #479
This is done

[2017-03-24 07:16] #479 closed

[2017-03-24 07:16] pombredanne commented on #481
This is done.

[2017-03-24 07:16] #481 closed

[2017-03-24 07:20] pombredanne commented on #471
This is the cause of #551 and #566

[2017-03-24 07:21] pombredanne commented on #394
BTW, we have no support for the "Windows Subsystem for Linux" of Windows 10. Which explains this. I am keeping this open for now.

[2017-03-24 07:23] pombredanne commented on #543
@singh1114 this is about whether or not the root dir has all "info" attributes or not. ATM it does not

[2017-03-24 07:24] pombredanne commented on #465
This is fixed. Right @sschuberth ?

[2017-03-24 07:24] #465 closed

[2017-03-24 07:26] pombredanne opened #568 "Essential tickets to fix for v2.0 release"
Here is the list of v2.0 tickets I think should be closed to complete 2.0:
https://github.com/nexB/scancode-toolkit/issues?q=is%3Aopen+is%3Aissue+milestone%3Av2.0
@sschuberth @chinyeungli @majurg @JonoYang @jdaguil @johnmhoran You input is welcomed.

My goal is to close these asap and push a 2.0.0 final

[2017-03-24 07:28] pombredanne commented on #568
Note that most have a fix or need not a lot of work except for #542 but I really want it in 2.0.0

[2017-03-24 07:28] sschuberth commented on #465
Yes, thanks @pombredanne!

[2017-03-24 07:39] sschuberth commented on #521
I'm not seeing this anymore since the merge of *521-trace-threading* to *develop*, so I'm closing. Thanks @pombredanne for the good job!

[2017-03-24 07:39] #521 closed

[2017-03-24 07:43] sschuberth commented on #568
Can we have #504 on the list?

[2017-03-24 08:20] kartiksibal commented on #566
@pombredanne "Unrecognised archive format" as seen in majurg' screenshot on #551 was a lot better I think? I got the same message but I think someone changed it after ~2 days the bug was reported.

[2017-03-24 15:30] pombredanne commented on #568
@sschuberth done. Though this is one that require potentially significant work and may depend on #377

[2017-03-24 17:51] majurg commented on #568
@pombredanne :+1: on the list. The sooner we can push a final the better IMO.

[2017-03-24 17:52] JonoYang commented on #394
I am able to set up and run ScanCode using "Bash on Ubuntu on Windows" on a clean installation Windows 10 Pro 64-bit on a VM by following the quick start instructions. (As an aside, the instructions need to be updated a bit as the dependencies `libbz2` and `xzutils` were not found by apt-get but `bzip2` and `xz-utils` were.)

There are issues when ScanCode is run on a symlinked directory, however.

[2017-03-24 22:15] yasharmaster opened #570 "Add OSET Public License"
The OSET Foundation releases its software via the [OSET Public License](http://www.osetfoundation.org/public-license/). This can be added to the ScanCode licenses.

[2017-03-24 22:16] yasharmaster commented on #570
I will open a PR adding the license soon.

[2017-03-25 18:02] pombredanne commented on #570
sure :) Start with a test. It is very close to the MPL2

[2017-03-25 18:05] pombredanne commented on #542
@ashutoshsaboo you wrote:

sure.

[2017-03-26 04:46] yasharmaster opened #573 "Compute width of terminal window and use it in shortening the filename"
We can use blessings for this. I can start working on this once #538 is merged.

[2017-03-26 07:16] pombredanne commented on #389
This has been merged after a rebase. Thanks!

[2017-03-26 07:16] #389 closed

[2017-03-26 17:18] singh1114 commented on #564
@pombredanne For the commit messages, can we use something like this:

https://github.com/commitizen/cz-cli
I think the repo is MIT licensed.

[2017-03-26 19:10] kartiksibal opened #574 "Error while executing configure script."
The configure script when executed on the stable version of ScanCode seems to encounter an error.

Log:

[code]
OS: Ubuntu 16.10 Yakety Yak
ScanCode Ver: 2.0.0rc2
 Python Version: 2.7.10

Log:

[code]
OS: macOS Sierra 10.12
ScanCode Ver: 2.0.0rc2
Python Version: 2.7.10

Another Mac, Similar specs, exactly similar log.

The error seems to occur while the script tries to check for essential dependen

[2017-03-26 21:03] kartiksibal commented on #574
@pombredanne Why does the configure script on the stable ver, ignore indexes from `pypi.python.org/simple` ?

[2017-03-27 01:35] all3fox commented on #564
About code coverage:

Since `scancode-toolkit` already runs on travis-ci (has a `.travis.yml`) and runs unittests with pytest, then theoretically code coverage should not be hard:

1. Enable travis for the repository (already done)
2. Enable `coveralls.io` (say) for the repository
3. Install `pytest-cov`, `pytest-xdist` and `coveralls` in `.travis.yml`
4. Add an `after-success` wich will send coll

[2017-03-27 01:41] all3fox commented on #564
About commit messages:

There are *very* many projects, which is why I would strongly suggest sticking to Python-based ones (so as not to introduce extra infrastructure like `npm` if you go with a javascript test tool or whatever Go uses).

There is, for instance, a Python-based **co**de **an**alyzer called [coala][1] which does all sorts of static analysis for many languages (by wrapping other to

[2017-03-27 03:07] pombredanne commented on #574
@kartiksibal Thanks for the report. Do you mind to paste text rather than images? Images are OK for web pages screenshot but not great otherwise for console related things.

The fact to fetch only deps locally is by design and to avoid having dependencies fetched from the network by default.

[2017-03-27 05:09] kartiksibal commented on #574
@pombredanne I have added a paste, rather than raw log. It wasn't looking neat. If you prefer, should i post the raw log?

[2017-03-27 05:14] kartiksibal commented on #574
@pombredanne I tried to trace the flow of control and the only difference b/w the execution on the stable version and the dev version, is the dev version is _not_ ignoring indexes from the python repo. Whereas the script on stable version.

[2017-03-27 06:23] kartiksibal commented on #513
@pombredanne Apologies for the delay, got too engrossed in the project and I messed up a little here. :sweat_smile:

[2017-03-27 06:41] pombredanne commented on #564
@all3fox this looks awesome. Thanks for going through all this!

Some comments that explain your woes

We have this peculiar way to bundle all the deps with `configure` and `etc/configure.py` scripts. `py.test` and `xdist` are already included. Adding `coveralls` and `pycov` (and all theirs deps) should land in https://github.com/nexB/scancode-toolkit/tree/develop/thirdparty/dev and the correspond

[2017-03-27 06:43] pombredanne commented on #564
@all3fox re Coala. I have tracked this for a while and this looks great. That is likely what the doctor ordered with a pinch of pylint and flake8. Your recommendation is welcomed.

[2017-03-27 06:46] pombredanne commented on #564
@all3fox feel free to submit a PR even if this WIP, this will be easier for the discussion and you seem to have been there a bit per http://all3fox.github.io/2016/08/16/gsoc16-at-commitplease.html :)

[2017-03-27 06:46] pombredanne commented on #564
@michaelrup thanks! these links look great.

[2017-03-27 06:48] pombredanne commented on #564
@singh1114 https://github.com/commitizen/cz-cli seems to be more client-side and a developer tool.  We are looking for something on the CI/test suite side instead. The two can go hand in hand of course.

[2017-03-27 06:50] pombredanne commented on #574
@kartiksibal can you confirm you are trying to install from the 2.0.0rc2 tag and not from develop?
If this works OK in develop then this is a non-issue.

@JonoYang @johnmhoran You run Ubuntu 16.x  may be? do you experience any of these issues?

[2017-03-27 17:23] pombredanne commented on #564
@all3fox I enabled `coveralls.io` on the repo.

[2017-03-27 18:48] JonoYang commented on #574
@kartiksibal I can confirm that the configure script does not work on the 2.0.0rc2 release, but it works in develop. For now, use the develop branch. This will be fixed in the next release.

[2017-03-27 18:48] #574 closed

[2017-03-27 18:58] kartiksibal commented on #574
@JonoYang :-)

[2017-03-27 19:00] kartiksibal commented on #574
@JonoYang I was also a little curious, as to why didn't travis indicate this?

[2017-03-28 05:53] yasharmaster commented on #573
I will submit a PR soon.

[2017-03-28 19:24] all3fox commented on #564
TIL: add a "Refs: link" section to your commit message only at the very end when writing a final/good commit message. Otherwise, your attempts spam the issue.

On a more serious note (not really): the "easy" label is classic [planning fallacy][1] 😺

[1]: http://www.hpmor.com/chapter/6

[2017-03-30 04:10] johnmhoran opened #579 "Update README package names in Debian/Ubuntu python-dev installation command"
Replace `libbz2` with `bzip2` and replace `xzutils` with `xz-utils`

[2017-03-30 05:28] pombredanne commented on #579
Actually make sure you handle the changes that occurred between Ubuntu 14 and 16. We still support both. Somewhere in the README history you should see @majurg changes that got wiped out somehow

[2017-03-30 05:29] pombredanne commented on #579
e.g. you cannot just replace. You need to add and state which package is for version. Ideally we want to check/confirm that these are the same for Debian too.

[2017-03-30 08:03] all3fox opened #580 "Commit subjects with #-prefixed issue ids turn into comments"
Currenty, it is common practice in this repo to write a commit message that begins with a #-prefixed issue number. See for instance:

[code]

However, [`CONTRIBUTING.md`][1] does not actually mention this requirement at all and gives a generic commit message example here [at step 7][2].

Most confusing is probably the fact that `#` by default starts a comment in git message, unless you opt-out for

[2017-03-30 08:18] all3fox commented on #564
Coverage reports with coveralls have recently landed in `develop`. See [README.rst][1] for the badges.

However, the libraries that are used for this (namely, `pytest-cov` and `coveralls`) are being `pip install`ed in `.travis.yml` and do not currently come directly with `scancode-toolkit`. Adding these libraries into `thirdparty/` and `etc/conf` is probably a logical next step.

The catch is a de

[2017-03-30 08:26] all3fox opened #581 "Solve appveyor CI failure due to overtime"
Currently, [appveyor builds][1] of `scancode-toolkit` fail because they need more than 60 minutes to complete. And appveyor fails them because that is too long. Need to figure out why or at least fix it.

Here is a project that has some nice (though cryptic) scripts/examples for many CIs, including appveyor:

https://github.com/SethMichaelLarson/python_project_template

[1]: https://ci.appveyor.co

[2017-03-30 08:31] alisianoi opened #582 "Consider using CirceCI for MacOS (and Linux?) builds"
As pointed out [here][1] and [here][2], having a redundant build service is not a bad idea. Also, it might turn out to be easier to maintain/setup. Give it a thought/try to make `scancode-toolkit` build there.

Here is [`spdx/tools-python`][3] that builds on CircleCI on MacOS

[1]: https://github.com/nexB/scancode-toolkit/pull/577#issuecomment-289993567
[2]: https://github.com/nexB/scancode-toolki

[2017-03-30 12:11] sam09 commented on #384
Anyone working on this? I would love to give it a try

[2017-03-30 15:25] pombredanne commented on #581
Thanks! This is a bug that I introduced with my fix for #521
I am working on it!

[2017-03-30 15:31] pombredanne commented on #384
@sam09 Go for it . Thanks!

[2017-03-30 15:32] pombredanne commented on #582
Thank you.
and @sschuberth has some experience too in that space.

[2017-03-30 16:56] sam09 commented on #384
I think we could probably limit the list of emails and urls to a 1000?
The get_urls and get_emails method can be modified to limit the number.
https://github.com/nexB/scancode-toolkit/blob/develop/src/scancode/api.py.

[2017-03-30 20:10] pombredanne commented on #384
@sam09 anything with more than a 100 emails or urls is likely a data file with a huge amount of these. Actually 50 would already be a huge lot.

One consideration is how to report such cases of partial detection? some warning in the scan errors? some what to state like: 123673 URLs were detected in this file. Only the first 100 are reported... TBD. Suggestions  are welcomed.

Also it could make se

[2017-03-30 20:12] pombredanne commented on #384
and also since both urls and email would need a limit, having a single wrapper function that works for both would the way to go imho.... e.g. some generic function that accepts an iterable and yields a truncated iteable.   It may even exists in the stdlib itertools.

[2017-03-30 20:13] pombredanne commented on #384
e.g. https://docs.python.org/2.7/library/itertools.html?highlight=itertools#itertools.islice

[2017-03-30 20:15] pombredanne commented on #384
so with this and a `functools.partial` you can create simple wrappers and use at first a hardcoded limit of say 50, and later a CLI option for the limit, where using `0` would mean return all.

[2017-03-30 22:10] JonoYang commented on #579
I've set up Ubuntu 12.04 and Ubuntu 14.04 on virtual machines and tried to install the packages from the quick start section using `sudo apt-get install python-dev libbz2 xzutils zlib1g libxml2-dev libxslt1-dev`. Both versions of Ubuntu said that `libbz2` was replaced by `bzip2` and that `xzutils` did not exist. I believe that moving forward with the changes would not cause any issues for users of

[2017-03-30 23:20] johnmhoran commented on #579
The reference to the two now-problematic packages appears to have been introduced in [this July 27, 2015 commit](https://github.com/nexB/scancode-toolkit/commit/c22126cafc142c8095dc4007347b0b8495d2fb3d#diff-88b99bb28683bd5b7e3a204826ead112).  It is not clear when these packages became problematic.

[2017-03-31 09:23] tdruez commented on #582
@all3fox https://github.com/joerick/cibuildwheel is very new but looks promising.
Do you think it could be valuable here?

[2017-03-31 10:22] all3fox commented on #582
@tdruez I still don't quite get the workflow of wheel-building services.

As far as I understand, the scenario looks like this:

1. You introduce a new dependency lib/bump the version of your dependency lib.
2. You do not want to `pip install` the lib for any reason, so you want to ship it (vendor it?) together with your code.
3. You create a wheel out of your dependency (because that is more conv

[2017-03-31 19:42] aviaryan commented on #514
Hi @pombredanne .
I understand what is to be done in this issue. Should I try to solve it?
Here is what I am thinking as of now -
Since there are lots of licenses in that first link, I will create a script to parse those licenses, extract plain text from them and place them in the data/license folder if they don't exist. Tests would be created in the same way.
What do you think?

[2017-04-01 14:53] pombredanne commented on #582
@all3fox you wrote:

Actually you still want to `pip install` it, but either:
1. there is no pre-built wheel available on Pypi
2. you want to build it with specific options
3. it contains native code and/or is pure Python bu not universal. And the corresponding wheel do not exists as pre-built. This is the main use case: in particular you cannot assume that a regular user would have a compiler ins

[2017-04-01 14:58] pombredanne commented on #514
@aviaryan PR welcomed. The works consist in:

1. adding the license texts as-is and the corresponding .yml data files. Not sure were parsing is needed.
2. may be  add new rules for direct URLs, short forms and notices for these licenses
3. run the tests and ensure things are not broken.

Not much more would be needed for now, as adding a license or rule automatically creates a test for it.
Adding

[2017-04-01 16:20] aviaryan opened #584 "ScanCode should support Conda"
Right now installation of ScanCode fails when the host environment's primary Python is [Conda](https://www.continuum.io/downloads) (Anaconda or Miniconda).
I guess this is because Anaconda doesn't work with virtualenv.
Since Conda is a very popular Python distribution and it supports all major OS platforms, I think ScanCode should support it.

Ref: [Stacktrace of installing ScanCode over Conda](ht

[2017-04-01 16:28] aviaryan commented on #514
In [the first repo](https://github.com/creativecommons/creativecommons.org/tree/45420471049bbf7a6420a12c737376b6bf3fc9dd/docroot/legalcode), licenses are in HTML form with HTML formatting, not plain text. I assumed we won't be able to use them as they are, would we? Also some html pages there point to an external link for the LICENSE. ([Example](https://github.com/creativecommons/creativecommons.o

[2017-04-01 18:46] singh1114 commented on #514
@aviaryan I think for the HTML format, we need to open the file in the browser and get the real content from it in the browser.

@pombredanne was also mentioning something about the script. @pombredanne, Any update on that part?

[2017-04-01 19:11] aviaryan commented on #514
Yes, but I would just write a script to do that for me.

[2017-04-01 19:13] singh1114 commented on #514
@aviaryan That was what I wanted to say. Probably I missed it in the last comment.

[2017-04-02 08:57] pombredanne commented on #514
You could open the pages in lynx alright and you would get clean text.
for instance:
[code]

This would eschew most of the parsing.

[2017-04-02 09:05] pombredanne commented on #514
@singh1114 my mention of a script is something different to deal with the need for a reconciliation with occurrences of existing license instances. (eg there are some cc licenses already there).
The simple way to deal with that for now is to run the detection on each text and if matched 100% to the same license id, then this means the license is already there and present, for instance: https://git

[2017-04-02 09:09] pombredanne commented on #514
Note also that [some .txt](https://github.com/creativecommons/creativecommons.org/blob/b74b0ecebd27515dc7feb5c95fdd70c6a4fb226e/docroot/legalcode/by-nc-nd_4.0.txt) file exist ... but most [translations and older licenses](https://github.com/creativecommons/creativecommons.org/blob/b74b0ecebd27515dc7feb5c95fdd70c6a4fb226e/docroot/legalcode/by-nc-nd_2.0_nl.html) do not have a plain text

[2017-04-02 18:02] singh1114 commented on #514
@pombredanne That is a good solution. That means if the licenses have an HTML format we have to put the whole HTML text into the .txt file.

[2017-04-02 19:52] pombredanne commented on #514
@singh1114 we want the plain text, not the html. e.g. a lynx dump or similar, e.g no markup

[2017-04-03 19:33] kalagp opened #585 "Multiple repos in one html-app file ?"
@Hello

I was looking to scan the multiple repos and generate a single html-app file ? Any workaround solution are welcome.

[2017-04-03 20:28] pombredanne commented on #585
@kalagp what do you have in mind exactly? e.g. what do you mean by multiple repos?
If you mean multiple directories each containing a check-out of a code repository, you could just put all these in one directory and scan that directory? Or is there something else you had in mind?

[2017-04-04 03:08] tina1998612 commented on #531
@pombredanne Will the problem be solved if I change the re.compile to this?:
`relative = re.compile(r'^(?:[^/]|\.+\/|\/)(([\w_\-]+\/)+|)[\w_\-]+\.[\w]+$', re.IGNORECASE).match`

have tested at [regexr.com](http://regexr.com) and it works fine ;)

but I'm not sure if it requires suffix such as`.html` and `.png` in every relative path we want to find here

Thanks!

[2017-04-04 06:03] aviaryan commented on #514
@pombredanne I have almost finished work on this PR. There are 824 new licenses that will be added. Some of them have RULES too. Should I send them all in one PR or something else? Please suggest an approach.

[2017-04-04 12:45] pombredanne commented on #514
Thanks!
For the translated licenses, use dash and no underscores.
For a start, I suggest you send a small PR first with a few licenses. That way I can review and provide feedback that may likely apply to many licenses. Once we have a a few clean ones, then you could submit several PR for batches may be all the translations of a given license at once.

A massive 800 files PR would take too long to

[2017-04-04 12:47] pombredanne commented on #514
@aviaryan note that what is as much of interest as the licenses is a script to automate adding these CC licenses if you wrote such thing. Manually is OK too as once we are over the big hurdle new additions will likely be small in the future

[2017-04-04 12:48] pombredanne commented on #531
@tina1998612 may be. The only way to know is to write unit tests. Note though that this code is NOT used for now so working on fixing this is very low priority.

[2017-04-04 13:26] armijnhemel commented on #531
Why not use Python's built-in function?

https://docs.python.org/2/library/os.path.html#os.path.isabs

[2017-04-04 14:42] aviaryan commented on #514
@pombredanne Thanks for your feedback. Yes, I have written a script for the task. I am busy trying to make it as robust as possible.

[2017-04-04 21:07] kalagp commented on #585
@pombredanne is there any limitations if we have multiple check-out of a code repos in one directory ? I am looking around 120 - 150 repos ?

[2017-04-05 11:47] pombredanne opened #588 "Add actual license texts and captured notices to SPDX output"
Non-SPDX licenses are represented as `LicenseRef-<scancode license key>` in the SPDX output.
The actual corresponding text should be included in the results using typically these tags:
[code]
etc

The actual extracted text should be included too and is collected as part of #260

[2017-04-05 17:43] pombredanne commented on #585
@kalagp there is no limitations per se, but you are likely to hit some human and hardware limits:

1. the generated file may be so big that it may be impractical to load in a browser
2. there will too much data to review at once
2. the run time may be much longer : now if the repos are all small it may not be an issue. Did you try to run a plain JSON scan with multiple processes? How long does it

[2017-04-05 17:47] pombredanne commented on #531
@armijnhemel this definitely is a possibility, but you might need to call both `posixpath` and `ntpath` rather than the higher level `os.path` wrapper as the paths in some arbitrary binary may be either posix or Windows irrespective of the os you are running. e.g. `os.path` would resolve to `ntpath` on Windows and therefore a function using `os.path` would likely fail to handle posix paths convent

[2017-04-05 18:00] armijnhemel commented on #531
Right, I hadn't thought of that. I guess you should also throw splitdrive() and splitunc() in the mix to be complete.

[2017-04-05 21:41] pombredanne commented on #531
@armijnhemel yep, though that should not apply for detecting relative paths, but applies otherwise. Ah! things would be less fun without the joy of supporting non-posix platforms, would they?

[2017-04-06 10:53] armijnhemel commented on #531
So what is the use case of this? In build artefacts I encounter all sorts of paths.

[2017-04-06 12:53] pombredanne commented on #531
@armijnhemel the use case there (which has not yet been implemented) is that given a bunch of strings from a random binary, we should be able to classify each string so extract some meaning. Is this a path? a relative path? some symbol? some literal? such that with that you could get better clues towards some origin detection and/or matching. At second thoughts, this not-implemented-yet attempt ma

[2017-04-10 14:00] pombredanne opened #589 "Consider adding licenses from http://www.clipol.org/licences.json"
http://www.clipol.org/ and http://www.clipol.org/licences.json contains licenses. We need to check if we have them all and if not add the missing ones.

[2017-04-10 23:39] majurg commented on #564
@all3fox normally you would manually download the wheels for all the different platforms, if they exist.

@pombredanne correct me if I am wrong

[2017-04-11 08:35] pombredanne commented on #564
@majurg yes. And/or build them, then wee bundle them

[2017-04-11 09:06] sschuberth commented on #559
After some discussion with our Legal department they agree that it's more of a "habit" to include the "All rights reserved", and that they don't regard it as a major issue if it's missing from the detected copyright statement. As such I'm closing this issue.

[2017-04-11 09:06] #559 closed

[2017-04-11 09:33] pombredanne commented on #559
@sschuberth Thanks for having followed up on this.

[2017-04-11 22:45] majurg commented on #426
@pombredanne Would this make more sense as another fileinfo scan field, or as an additional thing added on after the fact, like the `scan_errors` field is for each file?

[2017-04-12 21:03] armijnhemel opened #591 "performance issues when scanning files individually"
I ran two tests: one on scanning a directory, and one on scanning all the files of the directory separately. The performance difference is quite big.

real	6m57.747s
user	6m2.996s
sys	0m48.011s

when doing:

time find  /tmp/bzip2-1.0.1/ -type f -print0 | xargs -0 -n 1 ./bin/scancode

and:

real	1m0.930s
user	0m59.054s
sys	0m1.309s

when scanning the directory normally.

I did some (unprofessional)

[2017-04-12 21:06] armijnhemel opened #592 "import errors because python include path not set correctly"
it appears that some of the extensions on my system are not found by scancode (I am playing around a bit and want to test with some extension).

By default:

['', '/usr/lib/python27.zip', '/usr/lib64/python2.7', '/usr/lib64/python2.7/plat-linux2', '/usr/lib64/python2.7/lib-tk', '/usr/lib64/python2.7/lib-old', '/usr/lib64/python2.7/lib-dynload', '/usr/lib64/python2.7/site-packages', '/usr/lib64/pyt

[2017-04-12 21:12] majurg commented on #592
This is on purpose. `scancode-toolkit` creates and isolate virtualenv when you run the command `source configure`.

Your system extensions are not touched, and if you want access to the same libs inside of scancode, simply `pip install` them inside the `scancode-toolkit` virtualenv.

[2017-04-12 21:17] armijnhemel commented on #592
I see. My inner former Unix-sysadmin is screaming. Not everything here in the future is good. Closing.

[2017-04-12 21:17] #592 closed

[2017-04-12 21:19] armijnhemel commented on #591
I ran a test with msgpack. It seems it would require some changes to the internal model:

    TypeError: can't serialize <licensedcode.index.LicenseIndex object at 0x7f9b7ae1f600>

Feel free to ignore.

[2017-04-13 12:08] armijnhemel opened #593 "please include option to include full path in the JSON output"
I am running the following command:

    $ ./scancode /tmp/tmpdTWS0C/bzip2-1.0.1/randtable.c

In the output I see:

    "path":"bzip2-1.0.1/randtable.c"

and part of the path is gone. I understand that this is the default in scancode:

    " The default is to always include the last directory
       segment of the scanned path such that all paths
       have a common root directory."

While I unde

[2017-04-13 12:32] armijnhemel commented on #593
Created a patch, see #594

[2017-04-13 15:01] armijnhemel opened #595 "optimization for extracting email and URLs"
In case the emails and URLs are extracted it is possible to avoid running the (expensive) regular expression and replace it with a much simpler and cheaper check to filter out large amounts of files (over 50% in my experience).

By first checking for '@' and '://' you can avoid having to run some of these checks, if these characters are not present.

[2017-04-13 22:28] pombredanne commented on #591
So there is a load time incurred in the cached/pickled index. This was optimized somehow but not to run on individual files. What would be the use case to scan file by file? I guess a server-based approach would make more sense this that case.

Of notes is that some native libs (e.g. for the ahocorasick automatons)  are in C and have pickle built-in and are not likely serializable directly with so

[2017-04-13 22:39] pombredanne commented on #592
@armijnhemel

How well... a virtualenv is not much different from a poor man's *nix, is it? ;)

Now by default, we ignore system installed packages entirely as they may otherwise conflict with ours.
I guess we could add a configure option to avoid that, but more practically once you can full install ScanCode from pypi with #24 this would become a non-event for your use case .

[2017-04-13 22:45] pombredanne commented on #593
Thanks. This makes sense!

[2017-04-13 23:30] pombredanne opened #596 "Ensure license score with 100% tokens matched with some unknown interlaced is not 100%"
And example would be this:
[code]

Here Atmel is an extra word (and also an unknown untracked word)  but we detect 100% on the license score.

[2017-04-14 10:04] armijnhemel commented on #591
The use case that I have is that I want to do a delta scan: for example, differences between two stable versions of the Linux kernel is usually just a handful of files and if I only have to scan 30 files instead of 40,000, then that's a big win.

Right now I have worked around this problem by first identifying the files that I don't want to scan, recreate the directory structure, copy the files th

[2017-04-14 15:34] kalagp commented on #585
@pombredanne I have one more question ..

I am scanning the repo by placing the entire thing in one directory, so do we have an option to exclude one particular sub-directory while scanning ?? If so, can you give me an example ??

[2017-04-15 08:11] pombredanne opened #598 "Scan stats are misleading: they count files + dirs as files and do not match find"
`Scan statistics: 50352 files scanned in 2832s.`
yet
[code]
The point here is that scancode ignores some files and ignore links and mixes files and dirs in its total.
We should have a way to cross-check that with `find` or be more explicit about what is scanned and not scanned.

Here we have scancode reporting files+dirs, ignoring links and ignored files (and the  root dir).
`scancode's 50352 == 5

[2017-04-16 12:34] armijnhemel commented on #598
Also do not forget pipes, sockets, device nodes, and so on. From a licensing perspective these make no sense to scan. I would probably only look at files, filter everything that is not a file (and for directories: don't follow the symbolic links).

[2017-04-16 21:37] pombredanne commented on #598
Every special files and links is ignored alright. Links are never followed. The end-of-scan stats could be made clearer though.

[2017-04-16 21:40] pombredanne commented on #585
@kalagp there is a new feature in https://github.com/nexB/scancode-toolkit/pull/528 to ignore "globs"... It is not yet merged in develop and if you could give a shot at it and tell me if this is what you expect, it would be great!

[2017-04-17 07:17] pombredanne opened #599 "Add summary data present in JSON in other outputs"
For instance in SPDX, we could use comments or notes. Same for HTML (or actual displayed HTML).

[2017-04-18 17:50] pombredanne commented on #504
so I got some informal request for this today too, so I will try to give it a shot
Note that grabbing whole lines at first should work OK, but may break when:
- this is a binary
- this is text with very long lines.

So I will try yo get something decent for these cases.

[2017-04-18 17:54] pombredanne commented on #551
@kartiksibal as I said "(though I did not even run it nor checked the tests)" ... so my possible fix has not been tested and has no unit tests. You can go ahead and add these :)

[2017-04-18 17:55] pombredanne commented on #566
@kartiksibal sure, but the point would not to have noisy messages for shell scripts that in their vast majority are not SHell ARchives.

[2017-04-18 18:02] pombredanne commented on #296
See https://github.com/nexB/scancode-toolkit/wiki/How-to:-Add-new-license-rules-for-enhanced-detection

For a license the principle is the same, but you need a .yml and .LICENSE file pair for each license.

So see it all in action consider the for instance the files for the apache-1.0 licenses
- the reference license with its data and text file:
  - data file ass YAML: https://github.com/nexB/scan

[2017-04-18 22:40] pombredanne opened #601 "Update expectations for Mac tests"
These tests now pass:
[code]

[2017-04-18 22:42] pombredanne commented on #581
Actually the timeout can only be solved by spawning multiple jobs rather than one big one. That was the settings before. Any reason why this could no longer be the case?

[2017-04-18 22:43] pombredanne commented on #581
Note that the issue appears also at time on Mac: https://travis-ci.org/nexB/scancode-toolkit/jobs/223258406

[2017-04-18 23:00] armijnhemel commented on #581
Just out of curiosity: which version of Python is used? I remember seeing KeyErrors with Python's multithreading when there were jobs that would be running for a very long time. I was never able to reproduce the errors, very frustrating. Just search online for 'multiprocessing' and 'KeyError' and it will pop up quite a few hits.

Of course, I am likely wrong in this case (and this is a different i

[2017-04-19 03:28] kartiksibal commented on #566
@pombredanne That'll be better. 👍

[2017-04-19 03:29] kartiksibal commented on #551
@pombredanne Yeah I realised that a little later. 😅
I'll add the tests. :-)

[2017-04-19 07:08] pombredanne commented on #551
thx!

[2017-04-19 07:09] pombredanne commented on #566
and it looks like #551 is likely to fix this

[2017-04-19 08:26] pombredanne commented on #581
It sounds like the issue is that coveralls does not support a build matrix where each job is not a full run maybe? https://github.com/lemurheavy/coveralls-public/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20matrix

[2017-04-19 08:31] pombredanne commented on #581
And this and other comments hint than codecov.io might be the cure.
https://github.com/lemurheavy/coveralls-public/issues/761#issuecomment-291165622

[2017-04-19 17:55] pombredanne commented on #426
@majurg sorry for the late reply! a fileinfo field makes the most sense

[2017-04-19 21:24] kalagp commented on #585
@pombredanne  Yes, I would like to give a shot. Can you give me some examples on a particular use case ??

[2017-04-20 04:31] kartiksibal commented on #566
@pombredanne Most probably.

[2017-04-20 13:59] pombredanne commented on #521
This is fixed for good now!

[2017-04-20 14:00] sschuberth commented on #521
Confirmed, I also haven't seen this in a long time! Thanks again!

[2017-04-20 14:01] pombredanne commented on #585
@kalagp It offers a new `--ignore` argument that you can use multiple time to ignore some paths. @yashdsaraf is this a correct depiction?

[2017-04-20 14:51] pombredanne opened #602 "Do not scan certain data-only data file"
I have mixed feelings on data files: I want to scan them as they may contain licenses or clues AND I do not want to scan them if they highly likely do not.

For the copyright detection that seeks possible dates and date ranges (such as Copyright (c) 2000-2013 XXXX), long list of numbers are a hog for now.
There are other cases where scanning data files is not great especially when these are big fi

[2017-04-20 16:00] yashdsaraf commented on #585
@pombredanne Yes that is correct. It can ignore multiple paths or files both supporting standard glob pattern (except ```**```).

[2017-04-20 17:59] kalagp commented on #585
@pombredanne @yashdsaraf  Awesome.. Is this available in 'develop' branch ??

[2017-04-20 18:06] yashdsaraf commented on #585
No not yet, it will be soon though (I hope :P). You can find the relevant code in #528 which is linked to [this repo](https://github.com/yashdsaraf/scancode-toolkit).

[2017-04-20 19:16] kalagp commented on #585
@yashdsaraf  Thanks. But let me know once its merged to 'develop' branch.

[2017-04-20 20:34] armijnhemel commented on #602
The Intel hex files in the Linux kernel are easy to detect as they follow a fixed format:

https://en.wikipedia.org/wiki/Intel_HEX

This is easy to verify as in instance #426

[2017-04-21 07:11] pombredanne opened #603 "Lock timeout...."
[code]

This came after this commit https://github.com/nexB/scancode-toolkit/commit/9be63735625d19cdc2486a654b701217144a3a49

It it happens with this setup at https://github.com/nexB/scancode-toolkit/tree/0cd685915b9cf3b13864ba8a172d11d9b68cdfb1

* 144 cores Intel, 256GB, 16T SSD running Debian 64
* `scancode -clp --verbose --license-text -f spdx-tv -n 4 --strip-root pathtoscan/ spdxfile`
* ... sp

[2017-04-21 07:31] pombredanne commented on #521
@sschuberth

It does not affect it in the sense that the behaviour should be the same. The code is just cleaner and tighter and there were a few corner cases that choked, especially on windows

[2017-04-21 07:36] pombredanne commented on #585
@kalagp could you give it a shot for testing before it is merged? That would be very useful

[2017-04-21 07:48] pombredanne commented on #603
This is likely introduced weirdly enough by https://github.com/zopefoundation/zc.lockfile/pull/8

The main diffs are:
 - yg.lockfile https://github.com/yougov/yg.lockfile/compare/2.1.1...2.2.2
 - zc.lockfile https://github.com/zopefoundation/zc.lockfile/compare/1.1.0...1.2.1

[2017-04-21 09:43] pombredanne commented on #603
@jaraco @jimfulton I am pinging you there for reference.

You may have an idea why this could timeout at times.

This is a license scan for a full Debian packages pool. Overall since the debian pool is about 24K packages, this will run about 24,000 x 4 = 96,000 processes total, ~160 concurrent at anytime, e.g acquiring and releasing 96K lock file locks over ~ 11 hours.

The yg.lockfile timeout is

[2017-04-21 09:45] pombredanne commented on #603
also this is Python 2.7.9 64bits Intel, on debian 8.

[2017-04-21 10:22] pombredanne commented on #603
So as a stopgap, I will see how we can bypass the need for locking in many cases. @sschuberth do you work from a clone and update that? or do you use a fresh clone when you run massive scans on your side?

[2017-04-21 10:35] sschuberth commented on #603
@pombredanne Are you referring to the software we scan, or how we update ScanCode itself? Fo rthe software to scan we do fresh clones. For ScanCode itself, we just fetch into an existing clone.

[2017-04-21 11:17] pombredanne commented on #603
@sschuberth thanks. That was for the software you scan.

[2017-04-21 11:55] pombredanne commented on #603
so with dc2ee02b77c74b381b1f6fc15e66b682b4b6f6de in #604 we now only ever do a single cache check for a given checkout. This will make the issue go away here, but there is still something fishy about this lockfile problem IMHO.

[2017-04-21 11:56] pombredanne commented on #603
e..g this is only a workaround

[2017-04-21 14:19] pombredanne opened #605 "Incorrect programming language reported for a config.h.in file"
[code]
From https://raw.githubusercontent.com/vysheng/tg/master/config.h.in
if I upgrade pygments to 2.2.0 the programming language is "Rexx"
We need to supplement this with a file name and extension registry: after all config.h.in is kinda well known autotools pattern

This is also closely related to #426

Reported by tglx

[2017-04-21 15:00] jaraco commented on #603
By my reading, the [default timeout is 10s](https://github.com/yougov/yg.lockfile/blob/2.2.1/yg/lockfile/__init__.py#L30). Where do you see 180s? Do you mean you're setting the timeout to 180s?

The only meaningful change to yg.lockfile between 2.1.1 and 2.2.1 is [in this file](https://github.com/yougov/yg.lockfile/commit/c57b5cb29c4fc49dcb697aa4657304b9f93c7e9f#diff-c47a771e30373249f82ca2fbc88971

[2017-04-21 15:49] pombredanne commented on #603
@jaraco Thanks ++ for chiming in!

I am setting the timeout to 180s here https://github.com/nexB/scancode-toolkit/blob/0cd685915b9cf3b13864ba8a172d11d9b68cdfb1/src/licensedcode/cache.py#L71

And this happens running Python 2.7.9 on Debian 8.

We can try that... The thing is that it only happens at a fairly large scale and semi-randomly and each test run is for now ~11hours and a few mega-watts ;)

[2017-04-21 22:26] jaraco commented on #603
At least you have to try pretty hard to instigate the issue.

I re-read yougov/yg.lockfile#2 and it does seem to validate the reference to the aforementioned change in 2.2.1.

[2017-04-23 06:52] pombredanne commented on #602
@armijnhemel Thanks. Note that hex files are still something that needs scanning, especially in the kernel. See https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/firmware/bnx2/bnx2-rv2p-06-6.0.15.fw.ihex#n360

Most hex firmwares there have the most byzantine and bizarre licensing. Several do not look like bona fide FLOSS licenses https://git.kernel.org/pub/scm/linux/kernel/gi

[2017-04-23 11:40] armijnhemel commented on #602
true, but by at least identifying the hex files as hex files would allow you to better zoom in.

[2017-04-24 10:58] pombredanne opened #606 "Collect Jsdoc, Javadoc, phpdoc, @ tags"
For instance:
PHP:
* https://github.com/bdelespierre/php-axiom/blob/c87a017512493cc9ebfb48d826d707f882871b0e/application/index.php#L6
* https://github.com/jelix/docs-jelix-org/blob/b2d5b672a77274032d70ca1c7d540f471a140aaa/lib/jelix-scripts/createapp.php#L7

JS:
* https://github.com/lyawile/tuna/blob/0cc908fc915fd1d9aaa63a3fc9c5ed0280bce3d7/media/plg_everything_in_everyway_cookie_policy/js/admin.js

[2017-04-24 20:36] kalagp commented on #585
@yashdsaraf  Can we ignore any sub-directory while scanning the parent directory ??
For example: scancode --ignore par1/output1 --format par1/ par1/output/test.html ??

[2017-04-25 04:48] yashdsaraf commented on #585
Yes, whatever pattern is supplied using the `--ignore` option, all the files are scanned *only* against that pattern, so from the given example, `output1` which is a child of `par1` will be ignored along with all its contents (if any), but the `par1` directory will still be scanned as well as all its contents other than output1. For more examples of ignore option see: https://github.com/yashdsaraf

[2017-04-25 12:16] pombredanne commented on #585
@yashdsaraf can you provide an example of a CLI?

[2017-04-26 03:07] yashdsaraf commented on #585
@pombredanne certainly, if a directory tree like
`samples`
`samples/arch`
`samples/README`
`samples/arch/zlib.tar.gz`
 is scanned with parameters
`scancode --ignore */arch/* samples`
then the paths scanned as a result would be
`samples`
`samples/arch`
`samples/README`
As you can see the `arch` directory's contents were ignored, but the parent directory i.e `samples` was still scanned for rest of i

[2017-04-26 21:06] kalagp opened #607 "Dir: Copyright Summary irregular count"
Hello,

Normally when I select any folder on the repository, the copyright summary tab gives the '#files' that doesn't have the copyright information. But looks like its counting the sub folders while giving the count.

For Example:

Lets say 'file1' doesn't have the copyright info and its placed in the following path, now the copyright tab shows '4' files that doesn't have the info. But in genera

[2017-04-26 21:18] pombredanne commented on #607
Thanks for the report. This smells like a bug indeed where the count reported is the number of "resources" as in either file or directories but is displayed as a file count. What would you prefer? see only files counted? or renamed "Total files Scanned" to something like "Total files and directories Scanned" ?

[2017-04-26 21:26] kalagp commented on #607
@pombredanne

I prefer to update the No Copyright Found: (# ) , this should give you the accurate files that were there in any folder.

[2017-04-27 04:20] darcyfdu opened #608 "Parallel or distributed"
Can this tool be parallelized or distributed? Now the scanning speed is too slow ... not very practical？If it can,how should I do?

[2017-04-27 08:57] pombredanne commented on #608
@darcyfdu you can run on `X` multiple processes with `-n X` or `--processes X` And it is fairly easy to distribute otherwise. Note that while the tool may not be as fast as it likely could be, yet the results are accurate.... and we value correctness over speed for sure.

You can surely find other tools that are faster and spit a lot of junk and or inaccurate results ;)

Now to give some perspecti

[2017-04-28 17:50] pombredanne commented on #608
@darcyfdu did this work for you?

[2017-05-01 17:52] armijnhemel commented on #36
Alternatively, just some .ini file (easy to parse using ConfigParser) could be a solution and is probably more intuitive than a YAML file.

[2017-05-02 23:14] JonoYang opened #609 "Copyright notice should be detected as `other-permissive`"
[`Xin Calendar 2`](http://www.yxscripts.com/tools/xc2/index.html) and [`Chained Selects`](http://www.yxscripts.com/tools/cs/index.html) (as well as other scripts by Xin Yang) contain the notice "This script is free as long as the copyright notice remains intact.". ScanCode should detect this as `other-permissive`.

[2017-05-03 10:52] linexb opened #611 "Add size and origin_date fields to Package model in packagedcode"
This is required since PythonPackage should have it, and we should make it generic in Package model

[2017-05-05 17:31] pombredanne commented on #608
Ping?

[2017-05-07 17:21] pombredanne commented on #581
@all3fox OK. I guess for now that the build pass within the time limits of travis alright. So there is no way to have a list of env variable (e.g. one for each sub test suite) for macosx and another one (the same) copied for Linux?

Also I do not get why Linux does not show up in the travis config at all? Is there a way to make it explicit.

[2017-05-07 20:35] all3fox commented on #581
Nice, I have restored the matrix of environment variables together with the matrix of python versions. See: https://travis-ci.org/all3fox/scancode-toolkit/builds/229749168

However, there is really ugly environment variable duplication. Looks like you cannot get around it if you want to have `matrix: include:`, see: https://docs.travis-ci.com/user/customizing-the-build/#Explicitly-Including-Jobs

[2017-05-07 21:12] all3fox commented on #581
Also, the build I am linking to above ([this one](https://travis-ci.org/all3fox/scancode-toolkit/builds/229749168)) fails on one `osx` machine and I think it is not these `.travis.yml` changes that are causing it.

[2017-05-10 19:54] sschuberth opened #614 "Bogus ANSI sequence present if --verbose output is redirected to file"
Using ScanCode version 2.0.0.rc2.post258.8559b54c and scanning its own `bin` directory like

    bin/scancode --verbose bin > a.txt 2>&1

results in `a.txt` to contain

    Scanning files for: licenses, copyrights, packages with 1 process(es)...
    Building license detection index...Done.
    Scanning files...
    Scanned: python2.7
    Scanned: easy_install
    Scanned: easy_install-2.7
    Scan

[2017-05-11 01:20] chinyeungli opened #615 "`bsd-new` detected as `flex-2.5`"
[code]
The above license text is detected as `flex-2.5` which it seems to me is `bsd-new` instead

[2017-05-12 00:37] chinyeungli opened #616 "json2csv - memory error when input is huge [need to support Wind64]"
[code]

I get the above `MemoryError` when dealing with a 127MB input JSON file.
However, @JonoYang ran the same input with no problem.

[2017-05-12 02:19] majurg commented on #616
@chinyeungli How much RAM does your machine have?

[2017-05-12 02:25] chinyeungli commented on #616
16GB

[2017-05-12 17:54] JonoYang commented on #616
The version of Python shipped with ScanCode that is used by Windows is 32-bit, whereas the version of Python shipped with ScanCode that is used by Linux is 64-bit. I used the test from [here](https://stackoverflow.com/questions/1405913/how-do-i-determine-if-my-python-shell-is-executing-in-32bit-or-64bit-mode-on-os) to determine if a 32-bit or 64-bit version of Python is being used. I'm guessing th

[2017-05-12 18:11] pombredanne commented on #616
@JonoYang I think this can be improved with streaming and should not be closed.

[2017-05-15 19:48] jdaguil opened #617 "Document the structure of ScanCode's JSON output"
There should be documentation for the ScanCode structure in the JSON output. Sometimes it's difficult to know what the data types are for the output.

For example, when the value is `null` or an empty array:
[code]

[2017-05-15 20:17] jdaguil opened #618 "Describe ScanCode output 'copyrights' type"
The following is an example excerpt from ScanCode's JSON output:

[code]

1. Why are `statements` arrays instead of simple strings?
2. Why are the corresponding `start_line` and `end_line` not arrays?

[2017-05-15 22:56] JonoYang commented on #616
@pombredanne Is there any particular reason why the 32-bit version of Python is used for ScanCode on Windows?

[2017-05-17 01:54] mjherzog commented on #442
ScanCode TK v 2.0.0rc2 incorrectly reports "@" sign from a scan as "%40".  This occurs with Angular sub-components from https://github.com/angular/angular/tree/2.0.x/modules/%40angular and may be related to the string of "%40angular " in the URL for "https://github.com/angular/angular/tree/2.0.x/modules/@angular"

[2017-05-17 10:42] pombredanne opened #619 "Copr. is apparently a valid copyright sign"
And is used in some weird cases. Blame mostly the French.
Some examples:
[code]

[2017-05-17 13:44] pombredanne opened #620 "Do not scan PEM certificate for license or copyright"
See for instance https://github.com/nexB/scancode-toolkit/blob/8559b54c9e6b78345f46e0c5ba9b165668be7486/tests/cluecode/data/copyrights/copyright_3a3b02ce_0-a_b_ce.0

[2017-05-17 15:49] sschuberth opened #621 "Scanning malformed POMs makes ScanCode show scan errors"
If `--package` scanning is enabled and malformed POMs are scanned, like deliberately invalid test files in the [byte-buddy-maven-plugin](https://github.com/raphw/byte-buddy/tree/master/byte-buddy-maven-plugin), I get

    Some files failed to scan properly. See scan for details:
      byte-buddy-maven-plugin/src/test/resources/net/bytebuddy/test/suffix.pom.xml
      byte-buddy-maven-plugin/src/tes

[2017-05-17 16:55] pombredanne commented on #621
@sschuberth this make sense. It is difficult to distinguish a bona fide manifest (e.g. a wel formed pom) from a test one. A couple ways:
1. detect that this is a test file somehow and ignore errors. Eventually do not even scan in this case
2. do not make manifest parsing errors a "failure"  but a warning instead.
3. silence manifest parsing errors entirely, unless other scans failed too

[2017-05-17 18:14] sschuberth commented on #621
I agree with your list of potential solutions. Some thoughts:

I believe 1. is not feasible to implement. Of course you could do something like checking whether the path to the scanned file contains "test" and use that as an indicator to ignore a failed package scan. But even with more sophisticated checks you'll have false positives, and the process of when errors get ignored is untransparent to

[2017-05-19 09:34] sschuberth commented on #621
FYI, the JSON result shows the following error for all of these files:

[2017-05-22 11:29] pombredanne opened #623 "Add new EUPL 1.2 licenses (and translations?)"
See http://eur-lex.europa.eu/legal-content/FR/TXT/?uri=uriserv:OJ.L_.2017.128.01.0059.01.FRA&toc=OJ:L:2017:128:TOC

[2017-05-22 18:47] pombredanne commented on #616
@JonoYang the only reason is that we did not port and test all the libraries that are native to Win64.

[2017-05-22 18:49] pombredanne opened #624 "Add Git blob sha1 to checksums returned with info"
This can be handy for identification in a Git context

[2017-05-24 08:25] pombredanne opened #625 "Add Package parser for LKMs"
LKMs binaries contain metadata (which are derived from the MODULE_* macros in the source code).
For instance:
[code]

[2017-05-24 08:27] pombredanne commented on #625
For reference, these are source-side parser: https://github.com/nexB/scancode-toolkit-contrib/blob/7c5c115a8c3144f60269cfaf2f59b1b639c120aa/src/sourcecode/kernel.py

[2017-05-24 08:31] pombredanne commented on #625
See include/linux/module.h for details

[2017-05-24 08:41] pombredanne commented on #611
@linexb on second thought, using `release_date` is much better than `origin_date` and this is really what this is. I am merging and updating the code at the same time.

[2017-05-24 10:00] pombredanne commented on #611
Fixed.

[2017-05-24 10:00] #611 closed

[2017-05-24 10:01] pombredanne commented on #615
This has been fixed in develop. Thanks!

[2017-05-24 10:01] #615 closed

[2017-05-24 10:02] pombredanne commented on #609
This has been fixed and merged in develop. Thanks!

[2017-05-24 10:02] #609 closed

[2017-05-24 10:03] pombredanne commented on #608
I am closing this since there was no reply in several weeks. Feel free to reopen though.

[2017-05-24 10:03] #608 closed

[2017-05-24 13:12] pombredanne opened #626 "ScanCode should return a proper exit code:0 for success and 1 when there is an error"

[2017-05-24 19:09] JonoYang commented on #524
merged in #597

[2017-05-24 19:09] #524 closed

[2017-05-25 17:37] pombredanne commented on #617
I generated some JSON schema from schematics for ScanCode... I will commit this later though jet me paste these

[json-schemas.zip](https://github.com/nexB/scancode-toolkit/files/1029754/json-schemas.zip)

 here.

[2017-05-26 00:00] rickfoosusa opened #629 "tree view license summary update no longer works."
In 1.6.0, selecting a file or directory updated the license summary.

This no longer works in 2.0.0rc2, or current tree.

Many more licenses are found in the current version, however it would be nice to be able to drill down as in the past.

[2017-05-26 14:57] pombredanne commented on #619
Fixed in develop

[2017-05-26 14:57] #619 closed

[2017-05-26 14:58] pombredanne commented on #617
https://github.com/nexB/scancode-toolkit/tree/develop/etc/scripts/sch2js now contains a script and generated JSON schema for the Package models.

[2017-05-26 14:58] #617 closed

[2017-05-26 14:58] pombredanne commented on #626
Fixed in develop

[2017-05-29 17:42] pombredanne commented on #551
Fixed in develop, with tests.
@majurg @kartiksibal Thanks!

[2017-05-29 17:42] #551 closed

[2017-05-29 17:43] pombredanne commented on #566
Fixed in develop @majurg @kartiksibal  thanks!

[2017-05-29 17:43] #566 closed

[2017-05-29 20:23] pombredanne commented on #621
Fixed in develop

[2017-05-29 20:23] #621 closed

[2017-05-29 20:23] pombredanne commented on #626
Fixed in develop

[2017-05-29 20:23] #626 closed

[2017-05-29 20:31] pombredanne commented on #581
This is all merged and I disabled coveralls alright.
Thanks!

[2017-05-30 07:37] pombredanne commented on #581
Actually, the codecode and dev deps should be bundled. Otherwise alternative, newer versions are picked which are shared with scancode at large and are not tested, supported versions and this make some tests fail (e.g. chardet)

[2017-06-01 12:59] pombredanne commented on #36
Merged in develop. Thanks!

[2017-06-01 12:59] #36 closed

[2017-06-01 13:01] pombredanne commented on #614
This has been fixed and merged in develop. Thanks!

[2017-06-01 13:01] #614 closed

[2017-06-02 07:30] pombredanne commented on #629
@rickfoosusa Let dig in all this... Note that eventually there are several upcoming changes  happening in this area:
1. all output are being moved to plugins
2. the html-app may become deprecated and all the visualization (and review/editing) of scans will be handled by the new https://github.com/nexB/aboutcode-manager

[2017-06-02 08:11] pombredanne commented on #629
@rickfoosusa The latest develop should be fixed. Thanks for catching this! Can you test the latest develop and tell me if this works for you?

[2017-06-02 13:35] sschuberth opened #630 "False positives when scanning joda-time pom.xml file"
I'm using

[code]

to scan the [joda-time POM file](https://github.com/JodaOrg/joda-time/blob/c09de9425d4727e35fdc5b1a69f1e3b3ea4799e0/pom.xml), which gives a bunch of false-positives on the "Opera Web Applications License 1.0":

[code]

Just wild-guessing on the cause: As the short name of the license is "owal-1.0", maybe the scanner is too tolerant when it comes across the [contributor name "Row

[2017-06-02 13:41] #573 closed

[2017-06-02 13:52] pombredanne commented on #630
This is in fact because a certain sequence of the word `contributor` exist in both cases and that this is considered an infrequent token... the fix is to make it a frequent one.

[2017-06-02 13:53] pombredanne commented on #630
@sschuberth here you go. This should be fixed in develop ;) Thanks for the report!

[2017-06-02 13:54] pombredanne commented on #630
@sschuberth please close if this works for you!

[2017-06-02 13:58] sschuberth commented on #630
LOL, thanks for the insanely quick fix! However, it went into 240-extractcode-as-a-lib instead of develop. Should I test with the first branch, or will you cherry-pick to the latter branch?

[2017-06-02 14:01] pombredanne commented on #618
Because each item  corresponds to an actual distinct copyright statement

Because the copyright detection is not super precise in reporting actual lines, so we only get a range of lines and within this range we report all the statements detected...

I get this is a tad confusing and eventually we should report instead an object of sorts such as:
[code]

Would this make more sense? The schema would

[2017-06-02 14:04] pombredanne commented on #607
Hum, I am willing to fix this, but on the other hand @jdaguil upcoming should support this and much more: https://github.com/nexB/aboutcode-manager
@jdaguil what's your take on this?

[2017-06-02 15:37] pombredanne commented on #630
@sschuberth let me fix this branch stuff... I was juggling with many at the same time ;)

[2017-06-02 15:46] pombredanne commented on #630
@sschuberth I cherry picked the culprit in develop... Thanks for catching this!

[2017-06-02 19:24] sschuberth commented on #630
Confirmed to be fixed, thanks a lot!

[2017-06-02 19:24] #630 closed

[2017-06-05 11:26] pombredanne commented on #603
The latest code now uses a SCANCODE_DEV_MODE tag file rather than an environment variable.

[2017-06-06 07:36] #570 closed

[2017-06-06 07:44] pombredanne commented on #570
For reference this was merged in develop with #572
Thanks!

[2017-06-06 19:36] kinxer opened #631 "Instructions for Identifying Dependencies Unclear"
The project description lists dependencies as one of the main categories of items Scancode detects; however, it is not clear from the wiki, the readme, or the command-line help how one actually uses Scancode to detect dependencies or whether this functionality is still missing or in development. Please update the readme or wiki to accurately reflect the state of dependency-checking in Scancode.

[2017-06-06 21:19] pombredanne commented on #631
@kinxer Thanks for chiming and this is a fair point, this is not much documented: this coming from the package scan. I will make sure this is clear in the upcoming doc for release 2.0. (e.g. both in the wiki and the CLi help and the readme)

[2017-06-09 12:46] pombredanne commented on #442
@mjherzog this "reports "@" sign from a scan as "%40"" is fixed in develop this was tracked in #542

[2017-06-09 12:47] pombredanne commented on #542
This is fixed in develop @sschuberth feedback welcomed

[2017-06-09 12:53] sschuberth commented on #542
Confirmed to be fixed in `develop`, thanks!

[2017-06-09 12:53] #542 closed

[2017-06-12 07:46] chinyeungli opened #632 "gpl-2.0 detected from non-license text."
[code]
The above notice is detected as under ```"key":"gpl-2.0","score":23.94,```

Although the score is not high to conclude the license, imo, scancode should not return any license match for the above text.

[2017-06-12 08:20] chinyeungli commented on #632
See https://code.msdn.microsoft.com/How-to-use-WIF-to-def0de33/sourcecode?fileId=132720&pathId=1518241965

this is just  warranty disclaimer. The question is whether it gives any usage and redist right

[2017-06-12 16:11] abuhman opened #633 "spdx-rdf results in output error"
I am running into this error for the spdx-rdf output type:
'TypeError: must be unicode, not string'

When I run this command, it scans as expected with no errors:
    'sudo scancode --format spdx-tv test.py output.SPDX'
However, this command results in the TypeError above:
    'sudo scancode --format spdx-rdf test.py output.SPDX'

The error appears to happen when ScanCode tries to write to the out

[2017-06-13 06:08] pombredanne commented on #633
@abuhman Thank you for the report.... though I could not reproduce this bug. Can you tell me which file you used for this and which version/commit of ScanCode you used?

[2017-06-13 11:46] abuhman commented on #633
I downloaded ScanCode from this link:  https://github.com/nexB/scancode-toolkit/archive/v2.0.0.rc2.zip .  While I did originally have this issue when running ScanCode from a file, I also have the same problem when I tried again running the same command directly from the command line, so it shouldn't need the file in order to be reproduced.

This is the file I ran it from when I first had the issue

[2017-06-13 13:54] pombredanne commented on #633
@abuhman ok, and which file did you scan? I am trying to know if this is a generic problem or specific to a certain file.

[2017-06-13 14:05] pombredanne opened #634 "Document if a dependency is required or not"
For instance with a  required attribute: yes/no

[2017-06-13 15:53] abuhman commented on #633
Okay, this is the file I scanned:

https://github.com/spdx/spdx-github/blob/master/run_scan/unit_test.py

I am also able to duplicate the error by scanning a local directory that does not contain this file.

[2017-06-13 16:49] pombredanne commented on #633
@abuhman can you paste the exact error you see here?

[2017-06-13 17:19] pombredanne commented on #633
@abuhman also ideally, could you contribute a test that fails and reproduces your bug?

[2017-06-13 18:10] abuhman commented on #633
Traceback (most recent call last):
  File "/usr/local/bin/scancode", line 11, in <module>
    load_entry_point('scancode-toolkit===2.0.0.rc2.post322.a11ef2a', 'console_scripts', 'scancode')()
  File "/usr/local/lib/python2.7/dist-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist-packages/scancode/utils.py", line 76, in main

[2017-06-13 18:12] abuhman commented on #633
[test.txt](https://github.com/nexB/scancode-toolkit/files/1072433/test.txt)

[2017-06-13 18:13] abuhman commented on #633
test.txt is a test in Python, but I couldn't upload it as test.py so I changed it to test.txt. It tries to scan itself and fails.

[2017-06-13 21:29] pombredanne commented on #633
thanks!

[2017-06-14 02:36] edbratt opened #635 "Copyright holder not assigned for single word company names"
Copyright "holder" for copyright statement:
  Copyright 1997-2012 Oracle and/or its affiliates. All rights reserved.
is not assigned. Additional words in Company name (e.g. Oracle America, Inc.) do result in assigned copyright "holder."
Would expect Copyright holder in example statement to be 'Oracle.'
(This results in Copyright Summary (html-app) to be confusing (Large number of parsed files, but

[2017-06-14 11:53] roscopecoltran opened #636 "Dockerfile (alpine based) + some quick ideas/suggestions"
Hi guys,

Hope you are all well !

I found your great repo while I was working on a  personal project aiming to do, also, some code analysis with a distributed bot, working as a virtual agent to build a semi-structured database of meta informations about some open source projects (mainly SQL and graph based).

**Context:**
The goal is to enrich automatically, with a virtual assistant/bot, some of

[2017-06-14 16:47] pombredanne commented on #636
@roscopecoltran this sounds like an awesome plan!

Having a Dockerfile would be great indeed.

Some other notes OTH:

- about Python3: yes the plan is to port to Python... and this should happen pretty soon after the release of v2.0.0. Help is definitely welcomed. The plan was to eventually support only Python 3.6 and up and the question is whether or not to continue support Python 2.

- something

[2017-06-14 16:47] #603 closed

[2017-06-14 16:50] pombredanne commented on #338
Test added in #637 .... closing

[2017-06-14 16:50] #338 closed

[2017-06-14 16:51] pombredanne commented on #635
@edbratt Thank you for this report. Getting holders right is sometimes a pesky task. Let me check this.

[2017-06-14 17:18] pombredanne commented on #632
@chinyeungli Thank you. I guess I might create a new license just for bare warranty disclaimers that do not look like they are providing any specific usage rights as this one (which has been mostly copied from a GPL, hence the match)

[2017-06-14 17:37] pombredanne commented on #632
@chinyeungli I pushed a branch for this with 5efb274ba73834791adf9375cf301abac2d8715a . @mjherzog @DennisClark your opinion is welcomed

[2017-06-14 17:40] pombredanne commented on #635
@edbratt btw, in the fix I pushed this is reported as `Oracle and/or its affiliates` .... This is not not what you want though and I could refine this alright.

[2017-06-15 05:10] edbratt commented on #635
Oracle and/or its affiliates is what we use so this is perfect. (And I merged this into my local copy and I can confirm this works for me. Looking forward to the update after it's passed the tests. Thank you very much!

[2017-06-15 07:44] pombredanne commented on #635
All set and merged. Closing.

[2017-06-15 07:44] #635 closed

[2017-06-15 07:49] pombredanne commented on #505
These are captured now but may not be full added to packages as part of #529

[2017-06-15 08:45] pombredanne commented on #588
@sschuberth in order to close in on 2.0, and also for #504 my plan for now would be to add a link to the scancode license and work out the proper solution immediately post 2.0? would this be OK as temp approach?

[2017-06-15 09:23] sschuberth commented on #588
Would you have an example of how exactly such a link would look like? Like, would it be easy to retrieve the license text from the link in a post-processing step on our side? In any case, I guess that's OK as a temporary solution.

[2017-06-16 08:07] pombredanne commented on #474
This is fixed in #637

[2017-06-16 08:07] #474 closed

[2017-06-16 08:10] pombredanne commented on #633
@abuhman this is fixed in develop. Thanks for the report!

[2017-06-16 08:10] #633 closed

[2017-06-16 13:42] pombredanne commented on #580
This looks good: we can either use this or use end of line issue number which is a tad less verbose. I am going for this for now and I updated https://github.com/nexB/aboutcode/wiki/Writing-good-commit-messages accordingly

[2017-06-16 13:42] #580 closed

[2017-06-16 13:49] pombredanne commented on #280
@DennisClark the url is now datapsace neutral and use urns as in https://enterprise.dejacode.com/urn/urn:dje:license:cc0-1.0 .... If you are logged in, if will go in your own ds.

[2017-06-16 13:49] #280 closed

[2017-06-16 13:50] pombredanne commented on #270
This has been merged in cobra. Closing

[2017-06-16 13:52] pombredanne commented on #382
@kira0204 were you able to test it on Windows too?

[2017-06-16 14:11] pombredanne commented on #473
@michaelrup any plan for you to add more tests to this?

[2017-06-16 14:13] pombredanne commented on #471
A test was added with 5ce7e9ed71169bcb3f2571de4de2f80486d433d4
Closing

[2017-06-16 14:13] #471 closed

[2017-06-16 14:19] pombredanne commented on #505
This is merged in develop.

[2017-06-16 14:19] #505 closed

[2017-06-16 14:19] pombredanne commented on #529
This is merged in develop.

[2017-06-16 14:19] #529 closed

[2017-06-16 14:20] pombredanne commented on #567
This is merged in develop.

[2017-06-16 14:20] #567 closed

[2017-06-16 14:21] pombredanne commented on #593
This is merged in develop. Thanks!

[2017-06-16 14:21] #593 closed

[2017-06-16 14:23] pombredanne commented on #588
@sschuberth This is merged in develop.
For now this is the "matched_text" if --license-text was used, otherwise this is a url to the license in the scancode repo (as a text is mandatory in SPDX)

#504 is still open to include the proper full text post 2.0

[2017-06-16 14:23] #588 closed

[2017-06-16 14:33] pombredanne commented on #358
Fixed in develop

[2017-06-16 14:33] #358 closed

[2017-06-16 14:35] pombredanne commented on #84
Fixed in develop

[2017-06-16 14:35] #84 closed

[2017-06-16 14:35] pombredanne commented on #379
Fixed in develop

[2017-06-16 14:35] #379 closed

[2017-06-16 14:36] pombredanne commented on #568
@sschuberth I want to push a final rc3 today for 2.0 and I will work on #504 right after that.

[2017-06-16 14:36] #568 closed

[2017-06-16 14:37] pombredanne commented on #579
@johnmhoran @JonoYang is this still a thing? I want to close this for 2.0

[2017-06-16 14:38] pombredanne commented on #543
@johnmhoran I am pushing this to post 2.0

[2017-06-16 15:55] pombredanne commented on #24
all is well in develop now.

[2017-06-16 15:55] #24 closed

[2017-06-16 16:05] pombredanne commented on #579
Ok, this wass fixed in https://github.com/nexB/scancode-toolkit/commit/d6b82c4e350954718a8cb136b5221c681e258ca1 but the commit was not referenced... hence my confusion!

[2017-06-16 16:05] #579 closed

[2017-06-17 07:45] pombredanne commented on #636
btw the ticket for Python 3 is #295 and also #442

[2017-06-17 17:34] #470 closed

[2017-06-17 21:02] pombredanne commented on #629
@rickfoosusa this is has been fixed. This in 2.0.0rc3 I am closing

[2017-06-17 21:02] #629 closed

[2017-06-17 21:03] pombredanne commented on #631
@kinxer if this was not clear it comes with the default scan or the `--package` option

[2017-06-17 21:03] rickfoosusa commented on #629
Thank you!

On Jun 17, 2017 4:02 PM, "Philippe Ombredanne" <notifications@github.com>
wrote:

[2017-06-18 14:14] kinxer commented on #631
@pombredanne Your previous reply made that clear; thank you for the replies. I do not, however, see how the packages section of the output is particularly useful for identifying dependencies.

[2017-06-19 12:21] sschuberth opened #641 "Timeout when scanning boost's vector200.h"
Running ScanCode 2.0.0.rc2.post331.8a314d95 on Boost's [vector200.hpp](https://raw.githubusercontent.com/boostorg/typeof/develop/include/boost/typeof/vector200.hpp) (which is 2.13 MiB in size) results in a timeout:

[code]

I've tried this on multiple machines (from VMs to beefy bare metal ones) with up to 6 processes (I know, that does not make a difference if scanning a single file, just mention

[2017-06-19 13:19] pombredanne commented on #641
@sschuberth The root cause is a combo of different problems:

- On the license side, each line contains the word mpl repeated several 100 times. Each of these result in a match to a bare `mpl` license (with a very low score). All of these are actually `mpl::int`
- One the copyrights side, this highlights another issue in the multistage detection which is first to isolate possible candidate lines t

[2017-06-19 14:09] pombredanne commented on #641
@sschuberth this latest commit fixes both the copyright and license detection issue: this should also fix a large number of potentially related copyright detection issues!
Thanks ++!

[2017-06-19 14:09] #641 closed

[2017-06-19 14:44] sschuberth commented on #641
Wow, that'd be great. This timeout issue with Boost actually was a quite arbitrary example, we see this happening a lot with other large text files (CSV, JSON, NMEA) which I'm not able to share, so I'll update and check whether we see these fixed, too. Thanks a lot again for the fast action!

[2017-06-19 15:32] pombredanne commented on #641
@sschuberth yes, this will likely solve several related in data files that look like they may contain a lot of copyrights but do not after all.

[2017-06-20 03:22] yashdsaraf opened #643 "Support grouping CLI options in CLI help"
Extension of #552
See `pytest -h`

[2017-06-20 23:47] chinyeungli opened #644 "Provide shallow extraction option for extractcode"
The current extractcode extract archives recursively which may not be the case that we always want

[2017-06-20 23:58] majurg commented on #644
@chinyeungli Try running `extractcode --shallow archive.tar.gz`

Also, see: https://github.com/nexB/scancode-toolkit/issues/262

Its not as well tested as I would like, so feel free to open a ticket if you run into issues.

[2017-06-20 23:58] #644 closed

[2017-06-21 18:32] JonoYang opened #645 "--package option should collect homepage URL from registry.npmjs.org for Node modules"
Many `package.json` files in NPM packages do not contain the homepage URL of the package. These could be collected by having ScanCode query [registry.npmjs.org](registry.npmjs.org) with the package name.

@pombredanne Should querying [registry.npmjs.org](registry.npmjs.org) be done by ScanCode or is it better off as a stand-alone script or (when it's complete) a ScanCode plugin?

[2017-06-22 09:14] pombredanne commented on #632
this has been merged. Thanks!

[2017-06-22 09:14] #632 closed

[2017-06-22 10:34] zilga opened #647 "Scan a simple .h file, the tool always tells me it is under GPL 2.0 License."
I created a very simple .h file, it only consist below contents:

//express
//warranty
//fitness for a particular

Using the scancode-toolkit-2.0.0rc3 to scan the file, the tool tells me the file is under GPL 2.0 License.

Why?

[2017-06-22 14:03] pombredanne commented on #647
Say I create this file that I call `test`:
[code]
and then I run this:
`scancode -l --license-text --diag -f json-pp test`
the results are:
[code]

Now the parts that explain what happens are:
[code]
Or stated simply, this is a weak, low score match to six words of this rule https://github.com/nexB/scancode-toolkit/blob/b50e2d41d11a433718f18ad5406b1ccd76658568/src/licensedcode/data/rules/gpl-2.0_3

[2017-06-22 14:18] pombredanne commented on #647
@zilga I hope this makes things clear for you?

[2017-06-23 04:16] zilga commented on #647
Thank you @pombredanne very much. This output makes things clear for me.

Is it possible to display the "match_coverage" or "score" to the html-app result files? Then we can know how possible the source code is under a license more easily?

[2017-06-23 08:46] zilga commented on #647
Please ignore my last comment.  I found a very useful option --license-score INTEGER for running the scancode.

Thank you @pombredanne again for your comment, it is really help.

[2017-06-23 08:46] #647 closed

[2017-06-23 10:39] pombredanne commented on #647
@zilga sure thing. Thanks for using ScanCode. FYI, I just pushed a final V2.0

[2017-06-23 10:42] pombredanne commented on #645
@JonoYang for scancode, I would be more in favor of a plain string operation to infer a download URL and not have a network dependencies. Later plugins that have such a network dep would be OK, but at least for now, I am pretty sure that you can come with a recipe to infer a download URL from an NPM name and version, could you?

[2017-06-23 11:51] roscopecoltran commented on #636
Bonjour Philippe, :-)

Hope you are all well !

I am bundling scancode into a docker alpine container but some errors occured.

I think that some tweaks are required while running the configure script. Mainly, it would be great to use fallbacks to find the library outside the scancode project, like operating a search in standard locations, and keeping the musl order, eg. paths = ['/lib', '/usr/loc

[2017-06-23 12:31] pombredanne commented on #636
@roscopecoltran this is effectively a todo: the prebuilt binaries need to be unbundled ... this is tracked in #469

[2017-06-23 12:32] pombredanne commented on #469
@roscopecoltran for your issue #636 related to the pre-built binaries it is best to do this here

[2017-06-23 13:01] pombredanne opened #648 "Add dependencies to NuGet"
We have a base parser but do not collect dependencies yet

[2017-06-23 13:03] pombredanne opened #649 "Add dependencies to RPMs"
We collect the basic but not the deps.

[2017-06-23 13:04] pombredanne opened #650 "Add support for rubygems"
The basic is in https://github.com/nexB/scancode-toolkit-contrib/tree/7c5c115a8c3144f60269cfaf2f59b1b639c120aa/src/packagedcode2 and needs to be moved to ScanCode proper

[2017-06-23 13:05] pombredanne opened #651 "Add support for Docker image detection"
The basics are in https://github.com/pombredanne/conan and should be integrated

[2017-06-23 13:07] pombredanne opened #652 "Add Windows PE data collection"
The basics are in https://github.com/nexB/scancode-toolkit-contrib/blob/develop/src/packagedcode2/win_pe.py and needs to be moved to ScanCode proper

[2017-06-23 13:16] pombredanne opened #653 "Add dependencies for Pypi packages"
We collect the basic but not the dependencies

[2017-06-23 13:19] pombredanne opened #654 "Add support for bower packages"

[2017-06-23 13:38] pombredanne commented on #631
ATM npm (JS), composer (PHP) and maven (POMs) direct dependencies are collected in the `"dependencies"` subsection of a given `package` entry.

Other are in the works (such as Godeps and Rubygems in https://github.com/nexB/scancode-toolkit-contrib/tree/develop/src/packagedcode2)

BUT there is bug.... this is not wired correctly!
You should see this for a Maven pom and you do not see this for insta

[2017-06-23 15:37] pombredanne commented on #631
This latest commit fixes the lack of Maven package collection. Other should work OK. Out of curiosity what are the package managers/formats you work with?

[2017-06-23 15:47] kinxer commented on #631
Mostly Maven and Pip. Thank you for the Maven update. It should be very helpful.

[2017-06-23 16:38] pombredanne commented on #253
Our hand rolled code for Python packages needs beefing. We should use instead:

1. https://github.com/pombredanne/pkginfo enhanced for pip-installed wheels
2. The requirements parser from pyup by @jayfk https://github.com/pyupio/pyup/blob/master/pyup/requirements.py

And possibly yet more candidates:

- Setup.py dynamic execution in docker:
  - https://github.com/noisy/parse_setup.py (but this nee

[2017-06-23 16:54] jarnugirdhar opened #655 "Error reported by scancode in few files while scanning."
While going through a repository on git [stackoverflow copy-paste](https://github.com/eggheadio-github/stack-overflow-copy-paste), I thought I should try scancode on that so while doing that following error occurred on few files.

![screenshot from 2017-06-23 15-45-42](https://user-images.githubusercontent.com/28496978/27492032-4a9bb890-5862-11e7-9658-7841a8f34abd.png)

Files attached:

[Erroraneo

[2017-06-23 17:10] JonoYang commented on #645
The download URLs are within the `package.json` files fairly consistently. The problem is with the homepage URLs to the package. The homepage URLs to these packages could vary from a GitHub repo, a website, or it doesn't exist at all. An easy way would just have the homepage URL be npmjs.org/<package name>, but not all packages exist on the NPM repo.

[2017-06-24 08:49] pombredanne commented on #253
See also this https://bugs.launchpad.net/pkginfo/+bug/1700200 submitted to @tseaver  and this simple patch to support properly dist-info installed wheels https://github.com/pombredanne/pkginfo/commits/master

[2017-06-24 08:59] pombredanne commented on #631
@kinxer Thanks you ++ for bringing it up ... I cannot fathom how the whole code was there but not wired in properly and that there was no proper tests on the CLI and package recognition side :|

Note a couple things:
1. on the python side, we are need to improve the code for installed packages detection (e.g. dist-info, egg-info etc) in #253 and properly add the dependencies in #653

2. eventually

[2017-06-24 09:13] pombredanne opened #656 "Ensure this license is detected correctly"
See https://github.com/USArmyResearchLab/Dshell/blob/master/LICENSE.txt
It has some mojibake FWIW:

[code]

[2017-06-24 09:54] amitsaha commented on #253
@pombredanne I have now added a LICENSE to https://github.com/amitsaha/parse_setup_py/ . Please feel free to see if you find it useful.

[2017-06-24 10:39] pombredanne opened #657 "Upstream pymaven updates and tests to pymaven"
The updates to pymaven (as a subclass for now) need to be contributed upstream to https://github.com/sassoftware/pymaven
See https://github.com/nexb/pymaven/ and https://github.com/sassoftware/pymaven/pull/8 for some details

[2017-06-24 16:56] pombredanne commented on #253
@amitsaha Thanks ++!

[2017-06-25 11:40] pombredanne commented on #534
The issue still exists for some cases when we have hash, aho or seq matches with some cases of known or unknown tokens

[2017-06-26 22:25] kalagp opened #658 "Failed to Scan properly: maven project"
We are getting the following message while scanning a maven project. And, we are not getting this error if we use the 1.6 version . (https://github.com/nexB/scancode-toolkit/releases/tag/v1.6.0)

Attached the log file
[nexB.txt](https://github.com/nexB/scancode-toolkit/files/1103652/nexB.txt)

[2017-06-26 22:43] pombredanne commented on #658
@kalagp Thank you. This mean that these maven poms are not handled properly. For now you can either ignore this (or explicitly avoid package scan) ...
Ignoring is fine and in this case you will just not get proper details for these POMs.
I will fix it asap otherwise. Now something that would help a lot is to get some details on the POMs. I reckon these may be a private file  though it will be  a t

[2017-06-26 23:55] majurg opened #659 "Integrate Usage Policy from DejaCode License library."
Older, semi-relevant tickets: #214, #280

It would be nice to have some sort of integration between scancode and a customer's instance of DejaCode. Specifically, we would like the ability to access usage policy from Dejacode and integrate that data into scancode results file.

This process could be done during scan time, or as an external utility that runs on the scancode results file. This utilit

[2017-06-27 03:33] zilga commented on #647
Cool, i have downloaded and tried the final V2.0. 👍

[2017-06-27 16:11] chinyeungli opened #660 "RPM information is not collected"
I use ftp://ftp.ntua.gr/pub/linux/fedora/linux/updates/25/SRPMS/z/zookeeper-3.4.9-1.fc25.src.rpm as a sample:
the `scancode -p` only returns "type":"RPM", other fields are null.

However, there are many data which are not present and should: name, version, release, summary, description, distribution, vendor, license etc...

[2017-06-27 16:30] pombredanne commented on #660
@chinyeungli Thanks... this is a bug! the code is there but somehow is not being called on RPMs alright

[2017-06-27 16:39] pombredanne opened #661 "Add base_name for file information"
This is the name minus the extension. This only applies to files. As specified in this function: https://github.com/nexB/scancode-toolkit/blob/a79dd9da0e10d7da90f18d2d6551b19db2d682a4/src/commoncode/fileutils.py#L257

[2017-06-27 16:42] pombredanne commented on #659
IMHO this is a clear duplicate of #214 and there is code in the https://github.com/nexB/scancode-toolkit/tree/214-license-policy for this. Let me close this in favor of #214

[2017-06-27 16:42] #659 closed

[2017-06-27 16:43] pombredanne commented on #214
From #659  by @majurg

[2017-06-27 19:40] kalagp commented on #658
@pombredanne sent a private email

[2017-06-28 08:22] pombredanne opened #662 "New ST license"
This is a new and a tad obscure license discovered by @majurg : http://www.st.com/software_license_agreement_liberty_v2
It looks like a BSD and the notice like an Apache notice but is instead some kind of proprietary license of sorts with serious limitations:

[code]

And it comes with this notice:
[code]

[2017-06-28 08:23] pombredanne opened #663 "Detect new GPL and LGPL notice"
[code]

[2017-06-28 09:22] pombredanne opened #664 "Detect an EPL license with markdown more accurately"
This md-formatted license does not detect 100% right:
[code]

[2017-06-28 09:23] pombredanne opened #665 "Detect "Confidential/Proprietary Information" as a proprietary license"
Confidential/Proprietary Information and Confidential/Proprietary should be detected

[2017-06-28 12:06] #664 closed

[2017-06-28 12:06] #665 closed

[2017-06-28 15:22] pombredanne commented on #655
Thanks. This is a pesky one that seems to be related to some very long tokenizing time for these generated JS parser files. I am on it!

[2017-06-28 15:28] pombredanne commented on #655
Note that this is only a timeout so it is mostly harmless.

[2017-06-29 07:06] #661 closed

[2017-06-29 09:09] pombredanne commented on #658
@kalagp This should be fixed in develop! Thanks ++ for this report. Can you give it a shot with the develop branch?

[2017-06-29 11:32] pombredanne commented on #655
So the root cause of the timeout of scanning these files is this regex: https://github.com/nexB/scancode-toolkit/blob/cb99c8b60349494d3d52eeba406342a89f341684/src/licensedcode/tokenize.py#L73 .... which chokes on the data that's at the bottom of the parser.js .... this is likely getting in some corner case. This regex is pretty bad anyway and that's a great deep you found there!

[2017-06-29 17:31] jarnugirdhar opened #666 "Issue with reporting certain file (with space and parens in their name) in the html-app output"
While scanning a directory, a particular file with name " parser (copy).js " is scanned (path shown in data.json) but not shown in Total Scanned files. (value = 0)

[2017-06-29 17:32] pombredanne commented on #655
@jarnugirdhar This is fixed in develop. Thanks ++

[2017-06-29 17:38] pombredanne commented on #631
The maven dependencies should be properly collected in develop now. .... Still need to add proper docs.

[2017-06-30 09:27] pombredanne opened #667 "Ensure matched License rules details are grabbed in json2csv"
They are not today

[2017-06-30 11:50] #667 closed

[2017-06-30 14:26] pombredanne opened #668 "Do not use gpl and lgpl bare license keys"
Instead use `lgpl-2.0-plus` for bare LGPL and `gpl-1.0-plus` for bare GPL. The rationale is that these licenses state that no version means any version can be used and lgpl-2.0-plus and gpl-1.0-plus are the earliest "or later" versions. This makes this simpler to sync up with external license list for #41 and #481

There are a few more candidates such as a bare `mpl` and a bare `gfdl`. There is no

[2017-07-03 15:44] armijnhemel opened #669 "copyright: 'Author's missed"
Copyright statements that do not contain the word 'copyright' such as

[code]

(from iproute2)

are missed by ScanCode.

[2017-07-03 16:04] pombredanne commented on #669
@armijnhemel which branch or release are you using? I added a test and it works in develop and should be the same for master

[2017-07-03 16:05] pombredanne commented on #669
@armijnhemel my bad... this is detected as as an author and these authors are NOT reported!!!

[2017-07-03 16:07] pombredanne commented on #669
let me fix quick

[2017-07-03 16:27] pombredanne commented on #534
Fixed and released in 2.0.1

[2017-07-03 16:27] #534 closed

[2017-07-03 16:28] pombredanne commented on #666
@jarnugirdhar this is in the html-app right?

[2017-07-03 16:29] pombredanne commented on #658
@kalagp Fixed and released in 2.0.1. Thanks for using ScanCode!

[2017-07-03 16:29] #658 closed

[2017-07-03 16:30] pombredanne commented on #655
Fixed and released in 2.0.1. Thanks!

[2017-07-03 16:30] #655 closed

[2017-07-03 16:39] armijnhemel commented on #669
Yeah, this is on 'develop'.

[2017-07-03 17:02] pombredanne commented on #669
@armijnhemel This should be fixed in develop now. Thank++ for the report!

[2017-07-03 17:04] armijnhemel commented on #669
"authors": [
            "Authors Patrick McHardy <kaber@trash.net>"
          ],

Should 'Authors' be there or is it directly copied from the source code (and if so, why is the : missing? )

[2017-07-03 17:07] pombredanne commented on #669
Authors is taken from the code, but eventually this should go away. And this would make the missing colon moot.

[2017-07-03 17:20] pkajaba opened #670 "pygments version does not resolve correctly"
Hello, after recent version bump scancode does not work.
[code]

[2017-07-03 17:46] pombredanne commented on #670
Ah! my bad in bumping the versions!!!! I blame `bumpversion` for this!
Thanks++ for catching this

[2017-07-03 17:49] pkajaba commented on #670
You are welcome :+1: I created PR, which reverts it back to working version, so you can take a look and merge if it's OK.

[2017-07-03 17:54] pombredanne commented on #670
@pkajaba Thanks++ there were actually a few more damages created by my run of bumpversion. Great catch and kudos for tracking the latest develop! I committed a fix before I saw your PR though!

[2017-07-03 18:51] pombredanne commented on #669
@armijnhemel this latest commit cleans junk prefixes from the returned authors.

[2017-07-03 19:01] pombredanne commented on #670
Note to self @pombredanne : NEVER COMMIT direct to `develop`. Use and hang on to the branches, Luke! they are there to avoid falling. ;)

[2017-07-03 19:13] jarnugirdhar commented on #666
@pombredanne Yes.

[2017-07-03 19:22] armijnhemel opened #672 "improvement e-mail/URL: filter bogus entries"
In the Linux kernel there is a document kernel/Documentation/SubmittingPatches which has a few mail addresses. ScanCode extracts those correctly, but they are basically bogus:

        {
          "email": "random@developer.example.org",
          "start_line": 337,
          "end_line": 337
        },
        {
          "email": "lucky@maintainer.example.org",
          "start_line": 359,

[2017-07-03 22:29] pombredanne commented on #672
@armijnhemel there is such a list in there: https://github.com/nexB/scancode-toolkit/blob/ff7752576e5d220cfdb00a1234bbc8cbef68752d/src/cluecode/finder_data.py .... we should also filter when `example.org` is used with subdomains

[2017-07-03 23:27] pombredanne commented on #670
Fixed in develop.

[2017-07-03 23:27] #670 closed

[2017-07-03 23:42] pombredanne commented on #672
The latest commit above (in a branch) has the fix for the specific issue you raised.

[2017-07-04 00:00] kalagp commented on #658
Perfect!! its working in 2.0.1

[2017-07-04 07:49] armijnhemel commented on #672
Actually, test.com is a valid domain of a company :-)

https://tools.ietf.org/html/rfc2606#page-2

and

https://tools.ietf.org/html/rfc6761

are relevant (start with the latter).

[2017-07-05 14:20] pombredanne commented on #672
@armijnhemel Thanks! test.com is a valid company with what seems an invalid domain per the RFCs....

[2017-07-05 14:24] armijnhemel commented on #672
No, not at all. The top level domain .test is reserved, but whenever there is 'test' in a domain name it is fine

[2017-07-05 16:36] yashdsaraf opened #674 "Add CSV format plugin"
Add /etc/scripts/json2csv.py as a plugin to save ABCD output as CSV

[2017-07-05 18:29] pombredanne commented on #522
So here is the plan:

Support for composite licenses detection in ScanCode would come along these lines:

Because they contain several other existing license texts, even though they could easily be detected at once,  their text and rules introduces too much bias in the detection which ends up often being inaccurate.

Therefore the approach would be to know which licenses are composite and what is

[2017-07-05 18:37] pombredanne commented on #672
So you reckon I should return test.com domains and emails? they are unfortunately often used as jusnk examples.

[2017-07-05 19:19] armijnhemel commented on #672
If you want to follow the RFCs it would be the correct approach although I agree with you that they are often used as junk examples.

I would also recommend filtering out localhost and 127.0.0.1 and the IPv6 equivalent.

[2017-07-05 23:49] mjherzog commented on #522
One other perspective is to define this as "composite notice" rather than composite license where license expression covers the combination of licenses and the typical pattern is that the composite license notice is normally documents subcomponent-license combinations.  So the combination of license conditions is better covered by a corresponding license expression and the composite notice serves

[2017-07-06 20:22] yashdsaraf commented on #674
@pombredanne the `/etc/scripts/json2csv.py` checks whether the input is in `json` or `html-app` format. Since all the plugin formats will be receiving the `json` data directly, should I remove the code specific to `html-app` from the plugin?

[2017-07-06 20:36] pombredanne commented on #674
@yashdsaraf yes you can. The old code in /etc/scripts/json2csv.py can stay there if needed anyway

[2017-07-07 23:16] pombredanne opened #676 "Add RH trademark notice as detectable license"
[code]
Though this may be obvious this might deserve explicit detection

[2017-07-08 19:49] yashdsaraf commented on #674
@pombredanne I've noticed `prefix_path` in json2csv.py, which tells it whether or not to prefix the paths supplied with **/code**. I'm not able to understand the significane of this, none of the other plugins do this either.

[2017-07-08 21:59] pombredanne commented on #674
Just ignore this in porting to and creating a CSV plugin. That's some optional odd customization that's no longer need I am sure.

[2017-07-11 00:42] chinyeungli opened #677 "Returned copyright info is incompleted/truncated"
[code]

Scancode returns the copyright for the above statement as  `Copyright 2014, Kenneth` which is incomplete.

[2017-07-11 00:43] chinyeungli opened #678 "Add license rule for bsd-simplified"
[code]

No license is currently detected for the above statement.
It should return `bsd-simplified`

[2017-07-11 08:24] jayfk commented on #253
Is there any interest in splitting the requirements parsing into a library?

[2017-07-11 08:37] pombredanne commented on #677
@chinyeungli Thank you!

[2017-07-11 08:37] pombredanne commented on #678
@chinyeungli Thanks!

[2017-07-11 08:44] pombredanne commented on #253
@jayfk that would be awesome... and I am game to help!

In fact, I think that with the triad of your own requirements parsing code that's you robustly tested at scale, the `pkginfo` of @tseaver for detecting and collecting as-installed Python packages and a safe `setup.py` handler (better based on an AST parsing rather than a mock execution) we could have a semi universal solution to answer this q

[2017-07-11 08:53] jayfk commented on #253
Awesome. I'll try to put something together.

[2017-07-11 11:12] jayfk commented on #253
All right, I've played around with this a little. I'll probably upload some code later today.

I thought about a clean `parse` entrypoint that takes some content and returns a `DependencyFile` class.

### requirements.txt
[code]

[code]

### conda.yml
[code]

[code]
### tox.ini
[code]

[code]

[2017-07-11 16:55] pombredanne commented on #253
@jayfk thanks++ this looks great! I could then easily plugin this in ScanCode by invoking the right "filetypes" parser on a given file that's being scanned. On the conda side I might contribute a few extras as I am interested in other metadata available beside the deps... but that can come later.

[2017-07-11 17:09] pombredanne opened #679 "Add parser to recognize C# AssemblyInfo.cs as package metadata"
These files are mostly generated from VisualStudio and contain package-like assembly data that end in the PE metadata too once compiled. See this example which should be easy to parse:

[code]

These files most often live in a subdir `Properties/AssemblyInfo.cs` of the main assembly/project directory they apply to.

[2017-07-11 17:16] pombredanne opened #680 "Incorrect GPL detection"
In this ....
[code]
a scan incorrectly returns a GPL (and for a good reason, the disclaimer is copied from the GPL disclaimer)

[2017-07-11 19:26] jayfk commented on #253
Yup. I have a somewhat useable prototype here: https://github.com/pyupio/dparse
It's not quite there yet, I'll keep you posted once it's useable.

One major pain point right now is that it requires an outdated setuptools release. 😡

[2017-07-11 19:52] pombredanne opened #681 "Add support for parsing .gitmodules as packages/deps"
This a clear statement of inclusion and dependency though a given repo may not have it unless it was checked-out the proper way.

[2017-07-11 20:18] pombredanne commented on #253
@jayfk you wrote:

what? you are not running setuptools `198.3` ? ;)

[2017-07-11 20:19] pombredanne commented on #253
@jayfk you rock!

[2017-07-12 01:12] chinyeungli opened #682 "Add detection rule for BigDigits License"
[code]

**Note that starting at version 2.5, they release their code under MPL 2.0**

[2017-07-12 08:42] chinyeungli opened #683 "Incorrect GPL detection"
[code]
ScanCode detects the above statement as `gpl-2.0` with `score: 75`. Although the score is not 100, I think it's still a bug to return such a high score

[2017-07-13 02:08] chinyeungli opened #684 "Dual BSD-GPL not detected"
[code]

Scancode detects the above license as under `gpl-2.0` and `intel-bsd-special` with both score = 100.

In my opinion, shouldn't the above text be Dual BSD-GPL ?

[2017-07-13 09:12] pombredanne commented on #684
Hum... The detected rule is this one https://github.com/nexB/scancode-toolkit/blob/23d835ff2ad0587eedef4f9eebef87ee1ff0fe48/src/licensedcode/data/rules/gpl-2.0_or_intel-bsd-special.RULE

But if I remove the middle lines about the GPL alternative e.g. these lines :
[code]
... then I get this detected exactly: https://github.com/nexB/scancode-toolkit/blob/23d835ff2ad0587eedef4f9eebef87ee1ff0fe48/src

[2017-07-13 10:33] jayfk commented on #253
Okay, this is now useable for `requirements.txt`, `tox.ini` and `conda.yml` (PyPi dependencies only).

I'm planning to add read-only `setup.py` support soon.

[2017-07-13 12:18] dengste opened #685 "Install via pip tries to use cache directory in /usr/local/lib"
I installed 'scancode-toolkit' via 'pip' on a Debian 9 box. On startup I get the following backtrace because a normal user obviously does not have permission to create files in /usr/local/lib:

     Traceback (most recent call last):
       File "/usr/local/bin/scancode", line 11, in <module>
	 sys.exit(scancode())
       File "/usr/local/lib/python2.7/dist-packages/click/core.py", line 722, in __

[2017-07-13 13:11] JonoYang commented on #685
Your can opt to install pip packages to your home directory using the `--user` option. If you wanted to install it systemwide, you'd need to run pip with root access.

[2017-07-13 13:21] pombredanne commented on #685
@JonoYang I think this has been installed system wide with sudo, right @dengste ?
I reckon this is a somewhat uncommon installation pattern that was never tried before!
What I think happens here is that ScanCode creates a cache for scan results and the license index. This cache is by default always created in the root directory which might end up being (incorrectly I reckon)  `/usr/local/lib/pytho

[2017-07-13 13:36] pombredanne commented on #685
Now this is a great bug ... especially since #487 absolutely needs this fixed.

The cache consists of two elements for now: a license index cache that could be global to a given installation and a transient per scan cache that would be best as local to a user.

For the sake of simplification, this might be best written to `~/.cache` when the root directory of the scancode installation is not write

[2017-07-13 13:37] pombredanne commented on #685
This is also related to #357

[2017-07-13 13:39] pombredanne commented on #685
This cache would then be used for this user's runs both for the scan-level and and the license-level caches.

Another thing which is about  convenience for development or for a tarball/zip release installation: ideally in this case the .cache would be best local to the installation or checkout directory

[2017-07-13 15:57] pombredanne commented on #253
@jayfk Thanks++
So I guess my approach will be to:
1. for conda and tox files invoke with the proper filetypes. Check for exceptions and is_valid
2. for req-like looking text files invoke with the proper filetypes. Check for exceptions and is_valid too. Since there are possibly more filename variety there, I will fish with a wide net and balk if this does not parse and only return errors when this

[2017-07-13 20:25] sschuberth opened #686 "GeoTools 10.2 LGPL 2.1 license header detected as gpl-1.0+ / gpl-2.0 in some files"
Using ScanCode 2.0.0.rc3.post9.32d87ece, scanning `src/main/java/org/geotools/filter/spatial/DefaultCRSFilterVisitor.java` from [GeoTools 10.2](https://sourceforge.net/projects/geotools/files/GeoTools%2010%20Releases/10.2/) results in wrong licenses to be detected. Th header is:

[code]

But the detected licenses are:

[code]

Also note that the copyright says `TOPP` instead of `Open Source Geospa

[2017-07-13 20:51] pombredanne commented on #686
Thanks!

[2017-07-14 07:13] dengste commented on #685
Quick followup: Yes, I ran pip as root and did a systemwide install so that all users on the system can use it. When running as normal user, I would indeed expect scancode to use a directory in the user's home, either ~/.cache, or following the xdg specification (.local/share/scancode or similar).

[2017-07-14 07:24] pombredanne commented on #685
@dengste Thanks. I guess ScanCode can run on a non-desktop so may be using a `~/.cache` might be cleaner than relying on the slightly more complex XDG spec and environment (especially since its environment variables may not be present if nothing of X/Freedesktop is installed) ... It also allows to have consistent approach across OSes and seems common enough and clear.

[2017-07-14 08:21] dengste opened #688 "UnicodeDecodeError backtrace during scan"
Using scancode 2.0.1. I get an abort with a UnicodeDecodeError backtrace. I'm guessing this is due to same illegal encoding in some file, but I cannot figure out which file exactly is responsible. The backtrace does not tell me much because I cannot see the original backtrace that triggered this but only the one from the multiprocessing pool:

[code]

[2017-07-14 10:35] pombredanne commented on #688
@dengste
Couple questions to help track this bug:

- Can you paste the exact scancode args and  options you have used?
- Is this while scanning public or private code? If public can you send a link?
- Was the code being scanned extracted from an archive? if so which tool did you use to extract this?
- Can you rerun your scan adding these options `--verbose --diag --processes 1` : these will provid

[2017-07-14 10:40] sschuberth commented on #686
Interestingly, other files from the same library with almost the same header are not misdiagnosed, e.g. the license header in `DisjointImpl.java` is detected correctly.

[2017-07-14 11:18] pombredanne commented on #686
I am adding tests for both.

[2017-07-14 11:18] sschuberth commented on #686
Turns out we were not scanning the file from GeoTools version 10.2 as we thought, but from SVN trunk. The SVN trunk version of `DefaultCRSFilterVisitor.java` has this header:

[code]

So this is indeed GPL 2.0 with some non-standard license text, plus a typo in "availible", so I'm not surprised that ScanCode also reports `gpl-1.0+`. So bottom line, all good.

[2017-07-14 11:18] #686 closed

[2017-07-14 11:39] dengste commented on #688
I simply ran scancode with

    ./scancode <directory> test.json

Unfortunately, it's private data and I cannot share it. It's a git repo, so the files were not extracted from an archive. Running with the suggested options simply says

    [....]
    Scanned: path1/path2/somefile
    Traceback (most recent call last):

and it follows the exact same backtrace as above. Funny thing is: If I rerun sc

[2017-07-14 12:17] dengste commented on #688
I found the offending file: it has a plus-minus sign in iso-encoding in it. On my shell (zsh) I can create such a file with

   touch foo$'\261'bar

Scanning that file will create the above backtrace. The file exists this way because it was checked in with an old MSysGit version for Windows, which still used codepages instead of UTF-8.

[2017-07-14 12:30] pombredanne commented on #688
@dengste Thanks. Let add a test and track this pesky bug

[2017-07-14 12:33] pombredanne commented on #686
@sschuberth nevertheless I pushed some tests and some new improved rules!

[2017-07-14 14:54] pombredanne commented on #688
@dengste I pushed some tests (failing) in a branch that show the problem thanks to your research.
Now there are various ways to resolve this:
1. always return a proper error for a path that is not unicode decodable: Do not scan but the scan will have a clear error message for this path.
2. if a path is not unicode decodable, do not error and fall back to bytes. Then in the scan outputs (that deman

[2017-07-14 15:00] pombredanne commented on #688
FWIW the error exists also in the std Python and is not so much a Python error per se.
Dealing with unknown encodings (aka. bytes) is always a potential issue when you want unicode out.

[code]

[2017-07-14 15:01] pombredanne commented on #688
Actually this is no longer a bug on Python 3....
[code]

[2017-07-14 15:01] sschuberth commented on #688
I indeed did see the same issue not too long ago in one of our scans, but I forgot to file a ticket about it.

[2017-07-14 15:08] pombredanne commented on #688
@sschuberth thanks!

So since this is eventually a bug in Python that is fixed in Py3, here is what I suggest:

Do not let a scan fail (ever) but do not attempt to scan the file either since most everything is expecting Unicode throughout inside in preparation to the Py3 move. Instead return an error for this path as a percent encoded path and also add its bytes representation in the error message

[2017-07-14 17:21] jpopelka opened #689 "How to ignore binary files ?"
I've been thinking about how to speed up scans of packages, which contain big binary files.
I [can](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/workers/license.py#L20) pass patterns to `--ignore` if I know the extensions I want to ignore, but that's tedious, because there's so many of them.
For example [pypi/alfanous](https://pypi.python.org/pypi/alfanous)

[2017-07-14 20:45] pombredanne commented on #689
Actually all or most of the information needed to detect mostly reliably binary files is available in ScanCode somehow already:
- there is `libmagic` that is bundled and called through a ctypes binding https://github.com/nexB/scancode-toolkit/blob/4e63a6775a895fdec5a3a53f96013399fa34b1b7/src/typecode/magic2.py#L57
- there is also @audreyr [binaryornot](https://pypi.python.org/pypi/binaryornot/ ) (

[2017-07-14 20:51] pombredanne commented on #689
Checking some quick info on alfanous, it looks like they are reported as `is_binary=True` alright:
[code]
....
2017-07-14 22:44:21 (2.05 MB/s) - ‘alfanous-0.7.28.tar.gz’ saved [9781872/9781872]
[code]
$ extractcode alfanous-0.7.28.tar.gz
Extracting archives...
[####################]
Extracting done.
[code]
$ ./scancode -f json-pp -i alfanous-0.7.28.tar.gz
alfanous-0.7.28.tar.gz          alfanous-0

[2017-07-15 11:18] openCage opened #690 "Question about pushing to maven"
I would like to put work using material scancode-toolkit.
The work is in java.
So the best case is to put basic code in maven (resource).

The part im interested in is scancode-toolkit/src/licensedcode/data/licenses.
I would but into a project: openCage/scancode-toolkit-licenses/

To get into maven the artifact name would be: de.pfabulist:scancode-toolkit-licenses.
The license cc0-1.0 the authors

[2017-07-15 12:50] pombredanne commented on #690
That's a great idea. There is already a ticket for this which is #477 to get a separate repos for the licenses data. My idea for this would then to have there multiple package manifests (for Maven, Ruby, JS, Python, Debian, RPMs, etc) such that the same dataset can be made available in multiple repos and published from one place to these repos. This would help a lot on the Debian side per #477
Als

[2017-07-16 12:01] yashdsaraf commented on #643
@pombredanne How should the groups look like?
I mean would there be just two groups, `normal` options and `plugin` options? Or `normal` options would be divided even further?

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-17 08:04] pombredanne commented on #643
@yashdsaraf Good point and this needs some thinking indeed!
There are a couple considerations:
- some options are part of the "core": `--help`, `--verbose`, `--diag`, `--processes` etc.  and are best shown in a group, but not the first group. Inside this group there is a preferred order that we want, probably from most common to least common.
- most of the other options are about which scans to ru

[2017-07-18 06:33] yashdsaraf opened #692 "InvalidDocumentError while scanning with spdx-rdf format"
**Operating system:** Linux x86_64 (Arch Linux 4.11.6-3)
**Python version:** 2.7.13 (running in virtualenv)
**Command:**
`./scancode -clip -f spdx-rdf samples`
**Stack trace:**
[code]

[2017-07-19 05:31] chinchang opened #693 "How to see actual files with the shown licenses"
After I have generated report, I see this:

![screenshot 2017-07-19 11 00 09](https://user-images.githubusercontent.com/379918/28352029-91079baa-6c71-11e7-8b3a-675b24b48f41.png)

I see I have 3 GPL licenses files. But how do I know which exact files? Nothing happens on clicking the numbers.

[2017-07-19 06:20] sschuberth opened #694 "Timeout for large XML file from JTS 1.13 library"
Using ScanCode version 2.0.0.rc3.post9.32d87ece with `--copyright --license --info --diag --only-findings --strip-root`, scanning `testxml/stmlf/stmlf-cases-20061018_int.xml` from [JTS 1.13](https://sourceforge.net/projects/jts-topo-suite/files/jts/1.13/) times out after 600s:

    Some files failed to scan properly:
    Path: testxml/stmlf/stmlf-cases-20061018_int.xml
      ERROR: Processing inte

[2017-07-19 07:40] pombredanne commented on #693
@chinchang if you go to the Clues tab, you can then search for GPL to see which files have this. Or you can sort by the "What" column too to see where licenses are detected.
Note that each license is reported alone for now, even if we detected a choice (as is common for JavaScript/jQuery code where the license is a choice of MIT or GPL)

[2017-07-19 07:41] pombredanne commented on #694
@sschuberth thanks! let me check what triggers this

[2017-07-19 09:14] pombredanne commented on #694
Sounds like the issue is similar to #641

[2017-07-19 09:19] #694 closed

[2017-07-19 09:21] pombredanne commented on #694
this should fix it!. Thanks again.

[2017-07-20 11:35] sschuberth opened #695 "Timeout for test XML file in Ivy 2.4.0"
This is yet another case like #641 or #694. Scanning [obr.xml](https://git-wip-us.apache.org/repos/asf?p=ant-ivy.git;a=blob;f=test/test-obr/obr.xml;h=36c7b17e5663730e5397caacd7d350d213a73c27;hb=0b9db35ee7a94a719e538b04122b86cb997f3a17) from Apache Ivy 2.4.0 times out after 120s (also tried with 600s):

    {
       "scancode_notice":"Generated with ScanCode and provided on an \"AS IS\" BASIS, WITH

[2017-07-20 12:01] pombredanne commented on #695
@sschuberth Thanks . I love these reports on these individual cases and this way I can evolve the code to be more generic. I am not hardcoding per-file workarounds at all ;)

[2017-07-20 13:04] pombredanne commented on #695
The obr.xml file is a 74MB xml file with 266K+ lines
Scanning gives with this with develop head:
- copyright: 59s. I think is acceptable
- license: this is the culprit. This case is interesting. There 1232 instances of a link to the Apache-1.1 license (e.g. this [rule](https://github.com/nexB/scancode-toolkit/blob/865d24874fa39acaca40e690ea111efb5edaa8ff/src/licensedcode/data/rules/apache-1.1_36.R

[2017-07-20 15:15] sschuberth commented on #695
I believe that's the most viable option: Report whatever results are available until the timeout occurred. Knowing something about the file is better than knowing nothing, esp. since most license text are headers in the beginning of files.

[2017-07-20 16:46] yashdsaraf commented on #674
@pombredanne Can we close this?

[2017-07-20 16:47] pombredanne commented on #674
@yashdsaraf when this is merged and only then ;P

[2017-07-20 21:16] pombredanne commented on #695
In general and in the case of license this is not entirely trivial... as the license matches are not streamed ... but need merging and filtering at the end.

Some ideas:
- run the detection in two steps: one that only looks at the start of a file, say as big as the biggest license text plus a one KB then a second step... return the first step only if the second step timedout
- bake the timeout han

[2017-07-21 06:31] sschuberth commented on #695
Yes, your second suggestion basically was what I was thinking about.

[2017-07-21 09:46] sschuberth commented on #688
Some more info from my side: I saw this happening on our CI when scanning https://github.com/expressjs/serve-static/tree/v1.12.3, however, locally the scan completed just fine. `locale` output is the same on both machines, so what could make a difference?

In any case, I guess the problematic path is this one: https://github.com/expressjs/serve-static/tree/v1.12.3/test/fixtures/snow%20%E2%98%83

[2017-07-21 11:32] pombredanne commented on #688
@sschuberth Thanks! are you sure you use the same scancode version on each sides?

[2017-07-21 12:31] sschuberth commented on #688
No, I'm not. On CI it's `ScanCode version 2.0.1.post77.05aa65a` (failing), locally I'm using `ScanCode version 2.0.1.post76.865d2487` (succeeding). I didn't think it would make a difference as this issue is still open and you didn't submit a fix, or?

[2017-07-21 12:49] sschuberth commented on #688
Ha, nailed it: The difference in CI is that stdout and stderr get redirected. I can reproduce the error locally by doing

    $ scancode --verbose . > log.txt 2>&1
    $ grep UnicodeEncodeError log.txt
    UnicodeEncodeError: 'ascii' codec can't encode character u'\u2603' in position 28: ordinal not in range(128)

[2017-07-21 13:29] sschuberth commented on #688
Thanks to [this article](http://chase-seibert.github.io/blog/2014/01/12/python-unicode-console-output.html) I learned that I can work around my new stack trace issue by doing `export PYTHONIOENCODING=UTF-8`.

[2017-07-21 13:32] pombredanne commented on #688
@sschuberth thanks++ for tracking this. This is indeed related but different and linked to the fact that we are unicode inside and the console may not be.  This will require a tad less engaged fix to deal with the stdout/stderr portions of outputs and to ensure that things (here path) are properly encoded as bytes on Linux.

For the FS path issue initially reported, at this stage after a bit of re

[2017-07-21 13:33] pombredanne commented on #688
that env `PYTHONIOENCODING` will solve nicely the console part!

[2017-07-21 13:52] yashdsaraf opened #696 "Add tests for the core of plugincode scan output writers"
As a follow up to #381 we need to have a few specific tests for the core mechanics of plugins:
1. add a test for an external plugin that would be installed through pip (eventually a tad complex, but worth it)
2. basic tests on the plugin registry and registration