[2021-07-14 13:56] pombredanne commented on #2596
That's a good point, but that's more of a ScanCode-TK issue where we should document the format (as discussed in the AboutCode weekly this week).
So I am going top move this ticket to the SCTK.

[2021-07-14 15:16] AvishrantsSh commented on #2593
@pombredanne, this is the exact command that I ran
[code]

I have also attached the result file for further diagnostics
[result.zip](https://github.com/nexB/scancode-toolkit/files/6817113/result.zip)

[2021-07-14 17:30] pombredanne commented on #2593
Thanks!
These will need to be fixed in SCTK
- NCBI.txt
- BabelstoneIDS.txt
- Sleepycat.txt needs to mapped to an expression
- Atmel.txt
- The "cpal-1.0_1.RULE" should be updated
- Facebook-2-Clause.txt
- GPL-2.0.header_d.txt

And basically everything that is detected with a seq sequence matcher and not exactly 100%

[2021-07-15 09:36] pombredanne opened #2597 "Incorrect copyrights and authors in nuget.exe"
See https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp-dotnet2/SwaggerClientTest/Lib/SwaggerClient/nuget.exe?raw=true
See below.
Only `Copyright (c) .NET Foundation` seems correct
[code]

[2021-07-16 08:04] pombredanne commented on #2015
Revisiting this, the npms in a package-lock-json are resolved by construction and by definition.

With the caveat here is the lockfile listed here use tilde ranges https://github.com/npm/node-semver#tilde-ranges-123-12-1 which is problematic as this means not resolved.
So IMHO the right way is to mark as resolved IFF the version in an npm is NOT a semver range at all.
Consider using the univers li

[2021-07-16 10:59] pombredanne commented on #2541
As discussed in https://github.com/nexB/purldb/issues/307 I am not super comfy with running arbitrary shell scripts during a scan. I reckon that APKBUILD may not be completely arbitrary and random but once plugged as a package manifest parser we could stumble on ill-formed or ill-intented and malicious APKBUILD files... therefore the approach of a static parsing and evaluation would be much better

[2021-07-16 17:27] AyanSinhaMahapatra commented on #2596
See also #2008 #2425

[2021-07-16 17:55] JonoYang commented on #2565
This function has been added to https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/win_reg.py#L218 and has been merged into develop. Closing.

[2021-07-16 17:55] #2565 closed, assigned to nobody

[2021-07-16 17:56] JonoYang commented on #2559
More elaborate MSI parsing has been added to develop: https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/msi.py

Closing.

[2021-07-16 17:56] #2559 closed, assigned to nobody

[2021-07-16 17:56] JonoYang commented on #2594
This fix has been merged into develop

[2021-07-16 17:56] #2594 closed, assigned to JonoYang

[2021-07-20 09:55] Ben-Thelen commented on #2547
@pombredanne
Is there any investigation possible in this direction? We are happy to help out but we would need to know in what direction to look for now.

[2021-07-20 09:57] AyanSinhaMahapatra commented on #1364
Btw, instead of a post-scan plugin, this could be a `process_codebase` step in a scan plugin, similar to [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/plugin_package.py#L84).

The [`get_scanner` function](https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/plugin_license.py#L103) for the license plugin is already there. The `process_codebase` coul

[2021-07-20 15:30] pombredanne commented on #2547
@Ben-Thelen sorry for not replying earlier... I had missed that!
ScanCode v21.3.31is using a streaming JSON approach for assembling the final JSON so it is supposed to  work.
https://github.com/nexB/scancode-toolkit/commit/8e67173e7f5ae797ae3255b3671fdc785bab0b67

And 160.000 files is not that big. I have scanned codebases with millions of files alright.

But the 2.2GB RAM feels like not a lot. Ba

[2021-07-22 11:27] akugarg commented on #1364
From chat@gitter

Akanksha:
For the reference part the step which is done here https://github.com/akugarg/scancode-toolkit/commit/1a7ea7d04e47415ade013bf281f389ac635e54fc#diff-9b8c9108cb6f529dc48ef0aba7a714c7e2b53feac33c7dc91eac423685a194b7R185 it will be present here only right since for every match we need to check for referenced files?

Ayan:
Why is the check done here, we can do this is the pr

[2021-07-22 20:03] AyanSinhaMahapatra commented on #1364
See how we get resources [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/plugin_package.py#L92) and from them resource attributes are accessed [here](https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/plugin_package.py#L105).

[2021-07-23 07:38] pombredanne opened #2599 "Support setup.py urls lists"
See: https://github.com/python-pillow/Pillow/blob/36ab95dab7ab9f5b769345cfa62c98cc8fea9b68/setup.py#L986

[code]

[2021-07-23 17:16] JonoYang opened #2600 "Ensure we treat .mui files like dll"
Windows .mui seem to be message tables that are packaged like dlls. We should look into extracting information from these files like we do with dlls/exes. .mui files are recognized as PE32 executable by `file`.

[2021-07-25 07:47] pombredanne commented on #2589
See also https://docs.microsoft.com/en-us/nuget/consume-packages/finding-and-choosing-packages#license-url-deprecation

[2021-07-25 10:36] pombredanne opened #2601 "Revisit versioning policy"
This is following up from @tdruez comment at https://github.com/nexB/scancode.io/pull/181#discussion_r640515511

One that would run the install at the moment would encounter issues running the docker pipeline:

There is indeed an issue with the lack of semver signaling in the way we use calver so far which is based on `yy.m.d` and only signals dates and nothing about API compatibility.

We should

[2021-07-25 11:19] pombredanne commented on #2601
Some semi random thoughts...

See these:
- pip: https://github.com/pypa/pip/pull/5324
- https://bernat.tech/posts/version-numbers/
- https://caremad.io/posts/2016/02/versioning-software/
- https://hynek.me/articles/semver-will-not-save-you/
- https://snarky.ca/why-i-dont-like-semver/

In  ssbarnea's post at https://sbarnea.com/posts/semver-vs-calver/  I like this:

This combines the best signaling

[2021-07-25 15:04] pombredanne opened #2602 "Add support for container-based style packages (appimage, snap, flatpacks and similar)"
These are packages that are container-image like.
See
- https://en.wikipedia.org/wiki/Snap_(package_manager) and https://github.com/snapcore . Using `snap download <name>` fetches an `.assert` deb822-like file with keys and checksums and a `.snap` file which is squashfs image (that extractcode can extract). Inside there is little package details and license data and files available, beyond some De

[2021-07-26 11:16] pombredanne opened #2603 "Incorrect license detected in CocoaLumberjack"
See https://github.com/CocoaLumberjack/CocoaLumberjack/blob/e518eb6e362df327574ba5e04269cd6d29f40aec/Integration/Sources/AppDelegate.h

We detected:
[code]

but the license is a subset of a bsd-new: clause 1 and 3, minus a disclaimer
[code]

Yet otherwise the root license is a bsd-new:
https://github.com/CocoaLumberjack/CocoaLumberjack/blob/4eacc74ce77aae3282898101827f5b62731a379c/LICENSE

[2021-07-26 11:36] pombredanne opened #2604 "Validate the correct detection of a Firebase NOTICE"
See  https://raw.githubusercontent.com/firebase/firebase-ios-sdk/a427df4b190233aaa91696974ad3939dac14c2df/CoreOnly/NOTICES

We should validate that it is detected correctly.
For instance at line 6582 we do not detect correctly a ISC with comments about GPL laced in:
[code]

and we get :
[code]
We shoudl rather get ONLY:
1. an ISC notice
2. an ISC text

[2021-07-27 01:43] soimkim opened #2605 "License is detected by "bootloader-exception" for "BSD-3-Clause" file."
### Description

The phrase "Distributed under the terms of the Modified BSD License.\n|\n| The full license is in the file COPYING.txt, distributed with this software." is matched with 'gpl-2.0-plus AND bootloader-exception'.

-> There is no GPL-related phrase, and it says Modified BSD License, so it should be extracted as BSD-3-Clause (https://opensource.org/licenses/BSD-3-Clause).

### How To R

[2021-07-27 21:31] #1391 closed

[2021-07-28 07:19] akugarg commented on #1364
https://github.com/akugarg/scancode-toolkit/commit/8681972a805cbf83c73e2cbde53f8a9d43f222dc
I tried this but how to get root_path for particular match since we need this for searching in particular directory.

[2021-07-28 15:29] gunaztar opened #2610 "scancode -h returns error in Windows 11"
I am trying to use scancode toolkit in my windows 11 system. I installed python3.6.8 64 bit and downloaded the latest scancode zip file(scancode-toolkit-21.6.7_py36-windows.zip) and unzipped to a folder. When I try to run
scancode -h

 I am always getting the below error message:

* Configuring ScanCode for first use...
* WARNING: Native Windows may be deprecated in the future in favor of Windows

[2021-07-28 19:24] JonoYang opened #2611 "Enhance Python package file collection"
Currently, scancode creates package objects from package manifest files. It would be useful to look at other ancillary package files for more information to enhance the data used to create the package object. For example, when reporting a Python package from a `METADATA` file, we can also find the package files for that package from looking at the `RECORD` file that is in the same directory as `ME

[2021-07-29 10:09] AyanSinhaMahapatra commented on #1364
See [here](https://github.com/nexB/commoncode/blob/main/src/commoncode/resource.py#L1205) for functions realted to Resource object on how to get parent resource. Have a look at the other functions for this class too.

[2021-07-29 16:38] pombredanne opened #2612 "Check detection on https://os.mbed.com/licenses/mbed-studio-license-tpip/"
This is a unch of licenses... we should double check that all are detected correctly in https://os.mbed.com/licenses/mbed-studio-license-tpip/

[2021-07-29 17:36] JonoYang opened #2613 "Create Package parser for font files"
.ttf files have a good amount of origin information stored in them. We could create packages from font files since they can contain name, version, copyright, license, etc.

[2021-07-30 01:09] JonoYang opened #2614 "InstalledWindowsProgram.populate_installed_files() does not return the right relative paths for installed files"
I am running a few Windows Docker images through a scancode.io pipeline. I noticed that I was getting an error that scancode.io cannot find the installed files of a package from a particular Docker layer.
[code]

In the above example, the proper layer rootfs_path for `CvtResUI.dll` should be `f358be10862ccbc329638b9e10b3d497dd7cd28b0e8c7931b4a545c88d7f7cd6/Files/Windows/Microsoft.NET/Framework64/v

[2021-07-30 01:57] JonoYang commented on #2614
The issue happens in scancode.io here (https://github.com/nexB/scancode.io/blob/main/scanpipe/pipes/docker.py#L145) where scancode.io attempts to get the CodebaseResources that are the installed files to a particular package. It concatenates the Docker layer id and the installed file path and uses the resulting path as part of the query. This leads to the incorrect codebase path of `f358be10862ccb

[2021-07-30 03:38] JonoYang opened #2615 "win_pe Package parser is not identifying binaries"
I am scanning a Windows codebase and there are files with the extensions that are prefixed with extensions recognized by the win_pe parser, like `.dll`, `.sys`, etc. which has a hex string as a suffix. For example, the extensions in question look like the following: `.dll_ebdc1de9`, `.mui_71b54a25`, etc. The extensions set in the win_pe parser should have a wildcard character after the extension t

[2021-07-30 08:36] agschrei commented on #1888
Having support for this output format would be a great help to anybody that wants to ingest ScanCode results into downstream tools like DependencyTrack or enrich them with data from other scanners/sources.

I'm assuming many people have a business need for this, so I'm leaving this comment here in the hopes that it gains traction.

Also, looking at the plugin architecture, it seems to me like impl

[2021-07-30 13:39] pombredanne commented on #1888
@eastmadc @agschrei yes that would be fairly straightforward to implement especially since CycloneDX embases Package URL that were born here. The approach is to implement an output plugin like in https://github.com/nexB/scancode-toolkit/blob/develop/src/formattedcode/output_yaml.py
You can see the simple commit stream here https://github.com/nexB/scancode-toolkit/issues/2208 covering the whole thi

[2021-07-30 13:40] pombredanne commented on #1888
@stevespringett FYI ^ :)

BTW in  https://github.com/CycloneDX/cyclonedx-python/blob/master/setup.py there are several deps which are pinned which makes it somewhat impractical to reuse this as a library. I will likely provide a patch for your consideration to makes this easier to reuse.

[2021-07-30 13:41] pombredanne commented on #1888
@agschrei Are you willing to chip in to help implement this? I can provide hand holding!

[2021-07-30 13:53] pombredanne opened #2617 "Add new PBL license"
From: @0xc0170 in https://github.com/ARMmbed/mbed-os/issues/13840#issuecomment-889815240

[2021-07-30 14:32] agschrei commented on #1888
@pombredanne I'll hopefully find some time this weekend to look into it. I can't guarantee anything just yet because of university exams, but will report back on Monday.

Given you know the codebase like the back of your hand, how do you estimate this feature in terms of effort/time required?

[2021-07-30 15:16] pombredanne commented on #2610
@gunaztar Thanks for the report! I did not even knew that Windows 11 was a thing ... so you may be the first user reporting a bug.
Have you tried installing the default path? and all default Python installer options?

or at `C:\Python36\` ?

This is how we find a Python: https://github.com/nexB/scancode-toolkit/blob/develop/configure.bat#L90

[2021-07-30 16:51] JonoYang opened #2618 "Ensure we can detect licenses from .rtf files"
Some license files are in .rtf on Windows and we would like to detect those.

[2021-07-30 16:52] JonoYang commented on #2618
[license.zip](https://github.com/nexB/scancode-toolkit/files/6909005/license.zip)

[2021-07-30 17:13] pombredanne commented on #1888
That's very gentle of you!

The easy part is likely to be the writing of the Cyclone file. The harder may be likely how to align the data with the Cyclone data model: for instance what about file-level details vs. packages? ScanCode collects also a lot of details that would likely not map with Cyclone at all.

Now, say as a first pass that this covers only detected packages (with the `--package` o

[2021-07-30 18:04] AyanSinhaMahapatra opened #2619 "Parse podfile.lock and podspec.json files for Cocoapods"
## Short Description

Scancode supports parsing `.podspec` files and Cocoapods in general here: https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/cocoapods.py , added at https://github.com/nexB/scancode-toolkit/pull/2075.

In xcode projects cocopods dependencies are present as `podfile.lock` and support needs to added for parsing them, and `podspec.json` files, like those from

[2021-07-31 08:30] pombredanne opened #2620 "Detect PEAR PHP packages"
See https://github.com/pranali2016/azure-cdn/blob/579b65e67cdc202a16969028dd3a2ba4dafb788c/vendor/pear/net_url2/package.xml
Not sure how frequent these are though

See also https://pear.php.net/manual/en/guide.developers.package2.php

[2021-07-31 10:44] coderpatros commented on #1888
@agschrei if you want any advice about aligning the data to the CycloneDX spec feel free to hit me up on the [CycloneDX Slack](https://cyclonedx.org/slack/invite)

@pombredanne I'm happy to provide feedback on the implementation too.

[2021-07-31 11:18] coderpatros commented on #1888
I've just gone back over this thread and the issue @pombredanne raised regarding pinned dependency versions in the CycloneDX Python implementation https://github.com/CycloneDX/cyclonedx-python/issues/211

The Python implementation only supports a subset of the spec. So trying to use it for this might be a hindrance. We of course welcome PRs. Just don't want you to be held up waiting for PRs to be

[2021-07-31 13:26] agschrei commented on #1888
@coderpatros thanks a ton for the offer, it's helpful to have a point of contact in case I run into trouble.

Concerning the lib, I also noticed that it doesn't provide any support for CycloneDX 1.3 yet, so perhaps also not a good fit in that respect.

I'll have to look into [cyclonedx-python](https://github.com/CycloneDX/cyclonedx-python) to see how much additional work support for revision 1.3 (

[2021-08-01 06:43] pombredanne commented on #2610
@gunaztar I found the problem using a VM and please bear with me!
Thank you for the report.

[2021-08-01 07:41] gunaztar commented on #2610
Thanks. What's the solution? Installed python on the default path and given all default Python installer options.

On Sun, Aug 1, 2021, 12:13 Philippe Ombredanne ***@***.***>
wrote:

[2021-08-01 08:28] pombredanne commented on #1888
Let's go with JSON for a start. I like its rounded curlies more than XML's pointies.

This works fine.

Same. I suggest though to start with something concrete here first and this can be extracted and contributed upstream afterwards.

@coderpatros thanks for chiming in !

[2021-08-01 12:04] coderpatros commented on #1888
As good a reason as any XD

[2021-08-02 06:56] pombredanne opened #2621 "Reinstate documentation and ABOUT CI tests"
These were running on Travis. They are in the legacy-travis.yml. We should run them on one OS on Azure or as a GH action or anything. We must run them again, as I think we no longer do this.

[2021-08-03 16:17] agschrei commented on #1888
I can get behind that line of reasoning.

Sounds good to me, I've already gotten started on some boilerplate, next step is doing the actual mapping to CycloneDX.

[2021-08-04 11:03] rbieniek opened #2624 "Scancode generates incomplete copyright statement"
### Description

When scanning the github library https://github.com/thenativeweb/uuidv4.git on tag branch 1.0.0, the copyright statements should include the text: 'Copyright (c) 2014-2021 the native web' for the file 'README.md'.
The actual scan output is truncated to 'Copyright (c) 2014-2021 the'

The following versions of scancode were used to reproduce the issue:
- 3.2.1rc2
- 21.3.31
- 21.7.30

[2021-08-05 01:32] JonoYang commented on #2600
We can now parse mui files. Closing.

[2021-08-05 01:32] #2600 closed, assigned to nobody

[2021-08-05 07:03] qduanmu commented on #2170
Thank you for your quick response, @pombredanne , hope everything goes well with you!
I didn't work on this for quite a long time(may be back in near future), so I need to have a check on the latest scancode first.

I second the proposal 3., design something new(like a regex pattern/rule for above files, yes, this is a hard approach for files like https://github.com/jslicense/spdx-exceptions.json/

[2021-08-05 10:53] cuiweining commented on #2366
D:\scancode-toolkit-21.7.30>scancode -h
* Configuring ScanCode for first use...
* WARNING: Native Windows may be deprecated in the future in favor of Windows Subsystem for Linux 2
* WARNING: Please visit https://github.com/nexB/scancode-toolkit/issues/2366 for details and to provide feedback
D:\python\python.exe: can't open file '3.6': [Errno 2] No such file or directory

How to solve this problem

[2021-08-05 22:00] pombredanne commented on #2624
@rbieniek @porsche-rishisaxena   thank you for this thorough and detailed report

[2021-08-05 22:06] pombredanne commented on #2170
@qduanmu Hey :wave: !

Thank you and yes, A-OK here ... and I hope for you too.
At the moment I think I went with 2. and several false positive rules were added, but that's not a satisfying solution for the ong term. At least https://raw.githubusercontent.com/jslicense/spdx-exceptions.json/master/index.json reports no license are detected.

https://raw.githubusercontent.com/NuGet/NuGet.Client/7bf0

[2021-08-05 22:07] pombredanne commented on #2366
@cuiweining re:

The latest ScanCode v21.8.4 has been released today to fix this issue. Do you mind to try it out?

[2021-08-05 22:09] pombredanne commented on #2610
@gunaztar this should be fixed now with v21.8.4 ... can you give it a try?
Thanks!

[2021-08-05 22:10] pombredanne commented on #2610
@gunaztar that was a plain bug, FWIW... thank you for reporting this ++

[2021-08-06 03:30] cuiweining commented on #2366
@pombredanne ：

The problem was successfully resolved. After testing, the scancode -h command can be executed correctly in windows

[2021-08-06 09:16] pombredanne commented on #2366
@cuiweining thank you ++ for testing :+1:

[2021-08-06 13:37] #2549 closed, assigned to nobody

[2021-08-09 08:06] pombredanne commented on #2022
This has long been deprecated now, so announcing it is no longer needed. Closing now

[2021-08-09 08:06] #2022 closed

[2021-08-09 11:37] #2574 closed, assigned to nobody

[2021-08-09 12:01] mapelpapel opened #2630 "Update contributing docs"
### Description
When trying to run pytest on Windows, it fails most tests. Somehow, it can't load all modules.

### How To Reproduce
Follow [Contributing Guide](https://github.com/nexB/scancode-toolkit/blob/develop/CONTRIBUTING.rst)
* clone Scancode
* `.\configure` (PowerShell, embedded in PyCharm) / `configure` (cmd)
* `.\Scripts\activate` (PowerShell) `Scripts\activate` (cmd)
* `pytest [-vvvs -n

[2021-08-09 13:15] mapelpapel commented on #2630
Ok, I found the Problem myself...
I needed to run `configure --dev`, which I found in the documentation (but not contributing file)

[2021-08-09 13:23] AyanSinhaMahapatra commented on #2630
Reopening this.

The contributing file should be updated (and maybe we should just include the contributing file in docs, instead of having two seperate contributing docs).

[2021-08-09 14:26] #2630 closed, assigned to nobody

[2021-08-10 17:14] pombredanne commented on #2392
@mapelpapel sory for the late reply... but we also started the chat on Gitter... that's great.
@JonoYang do you think you could usher @mapelpapel  there?

[2021-08-10 17:16] pombredanne commented on #2392
The base nuget handling is there: https://github.com/nexB/scancode-toolkit/blob/develop/src/packagedcode/nuget.py
and https://github.com/nexB/scancode-toolkit/blob/develop/tests/packagedcode/test_nuget.py
The first task would be to find a few example real files to use as test files.

[2021-08-11 09:20] jonassmedegaard opened #2633 "test licensedcode/data/rules/openldap-2.7.RULE contains spurious word "date" in header"
The file `licensedcode/data/rules/openldap-2.7.RULE` contains this as its first two lines of content:

The word "date" on second line seems uniwue to this test - I have been unable to locate that anywhere.
What is the origin of this test?
Is it perhaps simply an editorial typo when creating the test?

[2021-08-11 10:43] jonassmedegaard opened #2634 "license grant talking about "MIT X11" wrongly detected as MIT (not also alternatively X11)"
The test file `src/licensedcode/data/rules/mit_40.RULE` is detected as the MIT License, where in fact it is ambiguous: It can either be "the" MIT/X11 License, or it can be the X11-not-Expat variant of MIT licenses.
An example of the latter meaning of the term is at https://github.com/wayland-project/wayland/blob/main/CONTRIBUTING.md

[2021-08-11 13:24] pombredanne commented on #2633
That's a great catch.
It is a data conversion issues from a time when we used curly braces "{{markup}}" to tag variable parts of texts.
See the previous version at https://github.com/nexB/scancode-toolkit/blame/cf1cc7816b4fc002a0bf9200473970f9c16baad6/src/licensedcode/data/rules/openldap-2.7.RULE that had this `Version 2.7 {{date, 7 September 2001 }}` and that was converted as-is, by just removing

[2021-08-11 16:13] pombredanne commented on #2634
This one is not straightforward to solve
This was originally found in .Net and mono with this wording.
Yet you are right that this is ambiguous as witnessed in the case of your wayland finding.

It does not feel right to make this a choice of license... rather I would:
1. lower the relevance of the rule https://github.com/nexB/scancode-toolkit/blob/b7d070fc788f4c233df1f31d735e1ac5b3aa2d29/src/lice

[2021-08-11 18:59] jonassmedegaard commented on #2634
I fully agree that there is no choice possibe - instead this issue is about certainty being too high.

I would say that certainty is 50% - by the reasoning that popularity of one interpretation over the other is irrelevant for a concrete case.

[2021-08-11 19:05] jonassmedegaard commented on #2634
What I mean is that it is irrelevant if 90% of code authors thinks that "MIT X11" is equivalent to SPDX MIT.
For each concrete case the only thing that matters is what the author meant - and based on the presented evidence (the text itself) there is a 50% chance that the author meant equivalence with SPDX X11.

[2021-08-11 19:08] jonassmedegaard commented on #2634
...otherwise, should scancode-toolkit interpret the lack of any license statement as 60% chance of MIT by the reasoning that statistically MIT is popular and statistically authors forget to license their work... :-P

[2021-08-12 14:12] petergardfjall opened #2635 "Apparent MIT license gets discovered as Apache-2.0"
I'm trying to understand what I believe is buggy behavior which manifests itself on a specific version of a README file, but not on another, seemingly similar, version of it.

### Description

When scanning https://github.com/tiangolo/fastapi/blob/0.54.2/README.md, which contains the closing paragraph (it is obviously MIT-licensed)

[code]

`scancode` produces the following result:

[code]

That i

[2021-08-12 17:03] pombredanne commented on #2635
@petergardfjall Thank you for the report.
The solution is likely these two things:

1. add a new rule
[code]
should be added as a new license detection rule.

2. a `minimum_coverage: 70` should be added to https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/apache-2.0_328.yml (for https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/apache

[2021-08-12 17:09] pombredanne commented on #2635
And BTW, thank you ++ for taking the time to research and write a detailed report!

[2021-08-13 06:19] petergardfjall commented on #2635
@pombredanne thank you for the swift response!

I found that `2.` above was enough to resolve the issue. I'll try to produce a PR for it.

One thing I still fail to understand though is why the result was different when running against https://raw.githubusercontent.com/tiangolo/fastapi/0.54.2/README.md and https://raw.githubusercontent.com/tiangolo/fastapi/0.51.0/README.md. In both cases the `matc

[2021-08-13 06:56] petergardfjall commented on #2635
I submitted a PR to improve the accuracy of MIT license detection: #2636

[2021-08-13 11:11] petergardfjall opened #2637 "allow license rules to require the presence of certain defining keywords"
## Short Description
In many license expression rules, certain words or phrases carry a much higher significance than others. For example, `This software is distributed under a` seems a lot less important than `MIT License` for a rule that describes an MIT license notice. I think it would be valuable if these "defining words" could optionally be marked and, if declared, would prevent matches from

[2021-08-13 12:53] pombredanne opened #2639 "We could incorrectly skip npm licenses if the extracted license text is not a string or mapping"
See https://github.com/nexB/scancode-toolkit/blob/41d2d5b4e9284505b39691c3f21b85ab7dc16772/src/packagedcode/npm.py#L109
... We could skip npm licenses if the declared license is not a string or mapping

We need a third case there, otherwise there is a possibility that we would silently not detect a license (we would still report that as a declared license alright)

[2021-08-13 13:52] pombredanne opened #2640 "Do not yield npm dependencies as packages too"
These should be part of the dependencies list only and not reported both as deps AND as plain packages.
https://github.com/nexB/scancode-toolkit/commit/8759bd8fe2eb949a2f19c2a63ca8e2b45e6ddaa3#diff-e4c48ccec58b79d00305962756a49af0c450b76f51f72995b8d0f723f23f31f4R921 is not correct IMHO

[2021-08-13 14:28] hesa opened #2641 "False positive: GPL instead of LGPL"
### Description

Scancode reports:
[code]

Source code file states:
[code]

The source code file is released under: **LGPLv3 and/or LGPLv2.1**
But Scancode reports: **lgpl-2.0, lgpl-2.1, gpl-2.0, lgpl-2.1, lgpl-3.0, gpl-3.0-plus**

Disclaimer: I may be totally wrong (but I'm a Dancin' fool - Frank Zappa)

### How To Reproduce

[code]

### System configuration

My system:

* OS: Ubuntu", "20.04.2 L

[2021-08-13 15:16] pombredanne commented on #2635
the matching algorithm is a bit complex... it is documented here https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/README.rst

In a nutshell, we use multiple techniques and eventually select matches based on resemblance and containment. The key techniques are a multi pattern matching aho-corasick automaton, an inverted index using bitarrays, and an optimized pair-wise diff lev

[2021-08-13 15:17] pombredanne commented on #2635
(GH likes to close issues automatically based on PR/commit comments)

[2021-08-13 21:55] pombredanne commented on #2637
@petergardfjall This makes sense but within reason! Why? early versions of scancode were using a {{ markup }} to tag parts that could possibly not be matched... which is related but different from key phrases, and that markup was abandonned as being too complex and too inneficient with the engine used at that time  (see https://github.com/nexB/scancode-toolkit/blob/v1.0.0/src/textcode/analysis.py

[2021-08-14 08:25] pombredanne commented on #2641
@hesa Hey :wave: Thank you ++ for this detailed report!

[2021-08-14 09:18] pombredanne commented on #2637
@petergardfjall After thinking a bit more about this, I think that markup may be best and then what should be kept from parsing the markup would be the rule word positions for the key sentences (typically a list of integers that we handle usually as a `Span` backed by an integer bit set using `intbitset`. Checking the presence of theses positions in the actually matched positions of a LicenseMatch

[2021-08-14 21:04] pombredanne commented on #2641
I ran a test on the whole https://launchpad.net/libdbusmenu/16.04/16.04.0/+download/libdbusmenu-16.04.0.tar.gz and the latest code and this is detected correctly.
It looks like this was fixed with https://github.com/nexB/scancode-toolkit/pull/2505 ... merged in April and available in these releases v21.8.4, v21.7.30 and v21.6.7. You should try to update to the latest scancode.

[2021-08-14 22:07] hesa commented on #2641
Will do. I'll update the docker image and report back.

mille grazie

[2021-08-14 23:11] hesa commented on #2641
@pombredanne .... thanks for super fast response. I can confirm this is indeed fixed in the release 21.8.4. Sorry to bug you - I should have checked latest release before reporting.

You're awesome and thanks for all your hard work on Scancode

/h

Added the new 21.8.4 release of scancode to: https://github.com/vinland-technology/compliance-tool-collection/releases/tag/0.5.2

[2021-08-14 23:12] hesa commented on #2641
... this issue can be closed.

[2021-08-15 07:24] #2641 closed, assigned to nobody

[2021-08-16 06:04] petergardfjall commented on #2637
Thanks for your thoughtful response @pombredanne!
Glad to hear that you sound positive to the proposal. Your guidance towards an implementation is most appreciated. I'll need to see if I can get some time to work on this (I take it that you would prefer to see a PR rather than implementing this yourself).

[2021-08-16 09:18] pombredanne commented on #2635
I did investigate in details on why in this case an Apache match was preferred over the MIT match .... and this is because two MIT candidate rules where ranking as duplicate as candidates for diffing, and mit_932.RULE was kept but ended up being a lesser quality rule when confronted to Apache rule matches later.

- mit_494.RULE length 19 with text:

- mit_932.RULE, length 18 with text:

The fix is

[2021-08-16 09:37] petergardfjall commented on #2635
But from my perspective I suppose that this issue _can_ in fact be closed after #2636 (and 8dbf3d6). Unless I'm missing something?

[2021-08-16 10:18] pombredanne commented on #2635
This https://github.com/nexB/scancode-toolkit/issues/2635#issuecomment-899358073 was still an underlying problem and is why I kept this open.

[2021-08-16 14:32] pombredanne opened #2642 "Processing debian copyright files seems slow"
There is a lot of licenses in these, but a bit of profiling may be useful as it feels like parsing a Debian copyright file is now rather slow (but we do a lot of things too)

[2021-08-16 14:53] pombredanne opened #2643 "Debian copyright license matches lines are not correct"
These are not exposed yet externally, but eventually when we do we will need to ensure we return the correct license offset from the detections done in a Debian copyright file: since we consider each paragraph alone, for now we reset the line number to 1 for each paragraph

[2021-08-16 15:27] AyanSinhaMahapatra commented on #2643
This is also the case with copyrights (also for Structured Debian Copyrights as we parse the paragraphs seperately).

There are 2 ways to correct the offsets for these paragraphs:

1. Pass the start line for this paragraph and add the offset internally inside API.
2. Offset after getting the License Matches specifically and not have this in API.

RFC for the same, which should we do.

[2021-08-16 17:57] pombredanne opened #2644 "Missing license in Debian copyright file"
While scanning https://github.com/nexB/scancode-toolkit/blob/6bf2fd98653f376779ddfa71b567f92366bb4277/tests/packagedcode/data/debian/copyright/debian-2019-11-15/main/c/clamav/stable_copyright (see expected results in https://github.com/nexB/scancode-toolkit/blob/6bf2fd98653f376779ddfa71b567f92366bb4277/tests/packagedcode/data/debian/copyright/debian-2019-11-15/main/c/clamav/stable_copyright-detail

[2021-08-16 17:57] pombredanne opened #2645 "Debian copyright file matched text are returned lowercased incorrectly"
This part:
[code]
was matched and returned this way:
[code]
But matched_text should have been `'License: LGPL-2.1'` instead

[2021-08-16 18:05] JonoYang commented on #2615
I've added the wildcard character after the extensions handled by the win_pe parser. This should help with the issue.

[2021-08-16 18:05] #2615 closed, assigned to JonoYang

[2021-08-16 18:17] AyanSinhaMahapatra commented on #2644
zlib is detected [here](https://github.com/nexB/scancode-toolkit/blob/6bf2fd98653f376779ddfa71b567f92366bb4277/tests/packagedcode/data/debian/copyright/debian-2019-11-15/main/c/clamav/stable_copyright-detailed.expected.yml#L58)

The above `LGPL-2.1 and BSD-3-clause` is detected too [here](https://github.com/nexB/scancode-toolkit/blob/6bf2fd98653f376779ddfa71b567f92366bb4277/tests/packagedcode/data

[2021-08-16 18:21] AyanSinhaMahapatra commented on #2644
Also, License Paragraphs are not being reported in any case, as they are reported when they are referenced in the files paragraph only. Is this not correct?

Seperate checks on whether all the licenses in license paragraph is being used are there.

[2021-08-17 14:27] pombredanne opened #2646 "The order of license matches as found in a Debian copyright files does not match the file order"
The order of license matches as found in a Debian copyright files does not match the file order. It is therefore difficult to review the results

[2021-08-18 07:47] pombredanne opened #2647 "Detect license-checker.cfg files"
These files such as https://github.com/google/marl/blob/9929747c9ba6354691dbacaf14f9b35433871e5b/license-checker.cfg  are config files for https://github.com/google/licensecheck ... they are not frequent but a source of false positives and therefore could be ignored. Alternatively we could also leverage them

[2021-08-18 12:30] pombredanne commented on #2637
If you can chip in to help that would be much appreciated. In any case this is a good proposal.

[2021-08-18 21:47] mjherzog commented on #2566
I am raising the urgency of this request - specifically to support "reform" of the definitions and rules for commercial-license and proprietary-license.

[2021-08-18 23:01] mjherzog commented on #1805
Closing because Free Restricted handles this case. It does not make sense to create new Categories for each type of restriction.

[2021-08-18 23:01] #1805 closed

[2021-08-18 23:02] mjherzog commented on #1805
Moot

[2021-08-19 14:26] pombredanne opened #2649 "Test detection on all recent kernel firmware licenses"
[kernel-firmware-licenses.zip](https://github.com/nexB/scancode-toolkit/files/7015066/kernel-firmware-licenses.zip)
See license files in https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/ and attached.

[2021-08-19 15:53] pombredanne commented on #2403
There are also things to consider beyond the case such as:
- a bare word GPL/LGPL detection is found solo in a binary
- or is surrounded by gibberish (See also #2402 )
- or is surrounded by a context that makes it not a proper match

[2021-08-19 15:57] pombredanne commented on #2585
This is a good example of bare words detection issues #2403

[2021-08-19 16:00] pombredanne commented on #2585
See also the related issues:
- #2304
- #2484

[2021-08-19 16:00] pombredanne commented on #2402
See
- #2304
- #2403

[2021-08-19 16:02] pombredanne commented on #2437
@FrankHeimes at this stage the latest  version 21.8.x support fully and is fully tested with Python 3.9 .
I am closing. Thank you for the report!

[2021-08-19 16:02] #2437 closed, assigned to nobody

[2021-08-19 16:04] pombredanne commented on #2637
Some issues that would benefit from this approach:

- #1838
- #1902
- #1917
- #1924
- #2039
- #2040
- #2041
- #2185
- #2274
- #2275
- #2304
- #2428
- #2523
- #2550
- #2551
- #2552
- #2577

[2021-08-19 16:08] pombredanne commented on #2576
This is now fixed in the latest release:
[code]

Thank you for thre port

[2021-08-19 16:08] #2576 closed, assigned to nobody

[2021-08-19 16:10] pombredanne commented on #2533
This is now fixed and released. Closing.
Thank you again for the report. Send us more of these!

[2021-08-19 16:10] #2533 closed, assigned to nobody

[2021-08-19 16:12] pombredanne commented on #2516
That's valuable input. It means that eventually the Rust declared license cannot be too trusted.. and we should err towards reporting these as AND by default may be?

[2021-08-19 16:14] pombredanne commented on #2515
This is fixed in the latest release. Thank you ++ for the report!

[2021-08-19 16:14] #2515 closed, assigned to nobody

[2021-08-19 16:14] pombredanne commented on #2507
Closing now,

[2021-08-19 16:14] #2507 closed, assigned to nobody

[2021-08-20 07:13] pombredanne commented on #1895
So I am not sure mapping really work as a general purpose solution. To get a better understanding of the problem, see for instance, how we evolved in ScanCode and how the original designs with mapping files has "dissolved" naturally, in favor of a more comprehensive solution that yields better, more accurate results.
- Debian copyright files: there the declared license code have no global meaning,

[2021-08-20 07:14] pombredanne commented on #1523
See also https://github.com/nexB/scancode-toolkit/issues/1895#issuecomment-902486183

[2021-08-20 07:25] pombredanne commented on #378
We started publishing regular results and high level data for scans in ScanCode.io at https://github.com/nexB/scancode.io-reference-scans

[2021-08-20 07:37] pombredanne commented on #2374
I think a false positive rule with "audience general public License Changes" may be enough for this

[2021-08-20 07:39] pombredanne commented on #2323
This has been merged and release a long while ago! closing

[2021-08-20 07:39] #2323 closed, assigned to nobody

[2021-08-20 07:47] pombredanne commented on #2041
This has long been fixed and relased... so I am closing this now. Thanks for the report!

[2021-08-20 07:47] #2041 closed

[2021-08-20 07:49] pombredanne commented on #2040
This has long been fixed and released and I had forgotten to update this. Closing now. Thanks for the report!

[2021-08-20 07:49] #2040 closed

[2021-08-20 07:55] pombredanne opened #2650 "Support reporting unknown SPDX LicenseRef as their own license"
This is split from https://github.com/nexB/scancode-toolkit/issues/2502#issuecomment-864386537

In there @soimkim  wrote

I want to print the items marked with SPDX License, but the ScanCode json result is output as follows.

- Information written to the file:
`# SPDX-License-Identifier: LicenseRef-Sample-Proprietary`

- ScanCode json result :
[code]

[2021-08-20 07:56] pombredanne commented on #2502
@soimkim I entered a new issue for your report as I think it may be best tracked separately. Please see https://github.com/nexB/scancode-toolkit/issues/2650

[2021-08-20 08:01] pombredanne commented on #1902
I have really gotten good mileage from that rule with a solo `plupload` word. IMHO we should keep this as is and I am closing this ticket for now!

[2021-08-20 08:01] #1902 closed

[2021-08-20 08:16] pombredanne commented on #2577
Thanks for the report!

[2021-08-20 08:16] pombredanne commented on #2551
Thank you for the report!

[2021-08-20 08:21] pombredanne commented on #2403
See also:
- #2371
- #2304
- #2484

[2021-08-20 08:25] pombredanne commented on #2637
After a review, there is a surprising large number of detection issues that would be solved with this proposal! Also I reckon this is closely related to  #1838 from @furuholm and we may merge these in one.

[2021-08-20 08:27] pombredanne opened #2651 "Improve false positive license detection for license lists"
We have lists of license identifiers in code or data files that are being detected and lead to many false positive (FP). These are typically list of SPDX identifiers and are mostly found in license-related tools... or package management tools. But these tools are seen everywhere.

See this attached example code from NuGet: [NuGetLicenseData.cs.txt](https://github.com/nexB/scancode-toolkit/files/70

[2021-08-20 08:37] pombredanne commented on #2637
Another one #2605 by @soimkim

[2021-08-20 08:37] pombredanne commented on #2605
Thank you for the report!
This is still present in the latest version of scancode release a week or so ago.
I think that this is a poster child issue for the solution proposed in #2637

[2021-08-20 08:41] pombredanne commented on #2624
Note that "the native web" is not an easy case. Why? the copyright detection essentially uses a combo lexing and parsing to achieve a simple named entity recognition to find what is a name to use in a copyright statement. case, punctuation all matter there. The all lowercase "the native web" is also using non conspicuous and rather common words.

[2021-08-20 08:41] pombredanne commented on #2610
@gunaztar I am closing this now since this has been fixed. Thank you for the report!

[2021-08-20 08:41] #2610 closed, assigned to nobody

[2021-08-20 08:44] pombredanne commented on #2591
As a good example of what is achievable in ScanCode.io see this work in progress https://github.com/nexB/scancode.io/issues/191by @aalexanderr  and @quepop which is for Alpine packages

[2021-08-20 08:44] pombredanne commented on #2591
@IanMoroney Are you OK if we move this issue to ScanCode.io ?

[2021-08-20 08:48] pombredanne commented on #2633
see also #2637 that would likely reinstate using {{some markup}} for key phrases (which is not solving this issue, but part of what triggered the issue in the first place)

[2021-08-20 10:43] pombredanne commented on #652
This has been merged and released. @JonoYang Thanks! closing now.

[2021-08-20 10:43] #652 closed

[2021-08-20 10:44] pombredanne commented on #654
See also #2418 which is all about this topic

[2021-08-20 10:52] pombredanne commented on #954
This is integrated and works now with #2526

[2021-08-20 10:52] #954 closed

[2021-08-20 10:55] pombredanne commented on #2403
See also #797

[2021-08-20 10:55] pombredanne commented on #797
See also #2403

[2021-08-20 10:56] pombredanne commented on #942
@JonoYang I think this is implemented now... Can you confirm?

[2021-08-20 11:20] pombredanne commented on #2418
A few thoughts on design:

- when a package embeds other packages, we do not want to report the files of sub-pckages as being part of these of the main parent packages
- we would want to introduce a new embedded_packages attribute that would list sub packages in the parent

[2021-08-20 11:20] pombredanne commented on #1803
We are collecting installed Alpine but not yet .apk files (which BTW have the same extensions as Android packages)

[2021-08-20 11:24] pombredanne opened #2652 "Clarify the structure of packagedcode.models.Package subclasses"
This structure and how detection/recognition happens is not always obvious.
Also there are possible challenges when "rehydrating" a package plain data to a Package object.

We would need a doc and some refactoring as having several package manifests extensions for a single Package subclass makes things complicated.

Some redesign needed too in light of tracking package instances vs. manifests.

[2021-08-20 11:26] pombredanne commented on #1561
This is really a scancode.io issue. Transferring there

[2021-08-20 11:31] pombredanne commented on #1562
The issue here is that we do not check the inferred URL for correctness. This would never be done in ScanCode TK, but rather SCIO. Moving the issue there.

[2021-08-20 11:33] pombredanne commented on #1532
This is all merged now. Closing

[2021-08-20 11:33] #1532 closed

[2021-08-20 12:55] nikpete commented on #2624
@pombredanne  My conclusion (based on your comments) would be that it cannot be solved due to the above mentioned reasons, right?

[2021-08-20 13:43] pombredanne commented on #1288
This has been implemented but will likely be deprecated in favor of the new top-level package listing.

[2021-08-20 13:43] #1288 closed

[2021-08-20 13:46] pombredanne opened #2653 "Version JSON output data format"
As part of #2601 this is a first essential step before we start modifying more things to improve package reporting
This is also needed to support:
- #2350
- #2381
- #2389
- #2278

[2021-08-20 14:05] pombredanne commented on #2653
Here is a first take on the policy there:
1. the version string is using this format `scancode-toolkit-data-format-1.1`  where the last two segments represent a semver-like version.
2. the first segment is the major version of the data format; it is incremented when there are attributes that are removed, renamed, changed or moved.
3. the second segment is the minor version of the data format; it i

[2021-08-20 14:06] pombredanne commented on #2653
@JonoYang @tdruez @AyanSinhaMahapatra @sschuberth @tsteenbe ping. Feedback welcomed. This is rather non-controversial.

[2021-08-20 14:29] pombredanne commented on #2566
This can be done by downloading the whole scancode but that may not be what you want.

There are two ways to get this:
1. ... and we need this anyway: we could have them in the licensedb  with rules page where we could search, and browse and slice though the rules: we could also download the list of XLS the same way we can do this with the licensedb today (and with columns) ... the fields would be

[2021-08-20 14:35] sschuberth commented on #2653
You probably should clarify that "moved" does not refer to changing the order at the same level, as that's not something what would break deserialization.

Maybe you should also make clear that the `data_format_version` attribute itself must never move, or that it always appears as the first attribute in the file, or something like that.

"*if* needed"

[2021-08-20 14:35] pombredanne commented on #2566
Another thing is that we could also include simple "diffing" of two selected licenses or two selected rules  possibly reusing the code of  @alandtse  in https://github.com/spdx/spdx-license-diff (if there is a license change on the horizon and if this can be used server side)or something similar

[2021-08-20 15:54] mjherzog commented on #2566
Solution 1 for the LicenseDB makes good sense to support a variety of use cases. The primary requirement is some useful human-friendly display of the rules for a license. We should not add this to SCTK CLI because you may want to do this outside of a Scan.

[2021-08-20 16:19] petergardfjall commented on #2637
Nicely researched! Good to hear that the proposal has potential to resolve a lot of false positive scenarios. I'm currently burdened with a lot of other work but I will try to come back to this when time permits.

[2021-08-20 17:38] pombredanne opened #2654 "Include the host OS/arch/OS version/Python version that is running scancode in the scan headers"
This is helpful for debugging and we are missing this information in the scans. This should be added to the headers and should be a good first issue. See the JSON output format and the scancode/cli.py script to understand how headers are created.

[2021-08-20 19:01] mmurto opened #2655 "Some license files are not valid yaml due to duplicate fields"
Some of the license data files include duplicate fields, making them non-valid yaml, for example the duplicate `ignorable_urls` here:

https://github.com/nexB/scancode-toolkit/blob/3be07db24f251789d5a7982cfc0b18317f0b404c/src/licensedcode/data/licenses/gpl-3.0-plus.yml#L19-L30

[Duplicate keys are invalid yaml](https://yaml.org/spec/1.2/spec.html#id2764044), as also shown by https://yamlvalidator.

[2021-08-20 19:20] mmurto commented on #2655
I ran [yamllint](https://github.com/adrienverge/yamllint) for the errors, and the following files seem to be the offenders. Includes a couple of other errors as well.

[code]

[2021-08-20 22:46] pombredanne commented on #2655
@mmurto Hey :wave:  Thank you ++ for this excellent catch.
So I reckon we should:
1. fix these
2. run yamllint as part of the test suite so this does not happen again

We are using also a lot YAML in license detection rules and in copyright and license tests... so I will run a check there too.

[2021-08-21 17:30] pombredanne opened #2656 "Add support for Carthage Cartfile and Cartfile.resolved"
Carthage is a dependency manager for iOS/macOS mostly
See:
- https://github.com/Carthage/Carthage
- https://github.com/Carthage/Carthage#quick-start
- https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md#cartfile
- https://github.com/pombredanne/attributions
- https://github.com/pombredanne/punic/blob/master/punic/cartfile.py

[2021-08-21 17:58] pombredanne opened #2657 "Add support for Swift PM"
See https://swift.org/package-manager/
- https://github.com/mapbox/mapbox-maps-ios/blob/main/Package.swift
- https://github.com/mapbox/mapbox-maps-ios/blob/main/Package.resolved

See also some references:
- https://github.com/klassen-software-solutions/LicenseScanner/blob/master/kss/license/swift_scanner.py
- https://github.com/DataDog/dd-sdk-ios/blob/8673c7a076a86838bbe9294de4ee1f3feb9ea9b7/tools

[2021-08-22 08:17] rishishr commented on #2655
Is it okey if i also try solving this issue??

[2021-08-22 09:50] pombredanne commented on #2613
fonttools seems to be the tool.
There is a "name" section (which contains the metadata displayed with a font) with these ids that we may care for in the opentype/TTF metadata:
- copyright (nameID 0)
- familyName (nameID 1)
- styleName (nameID 2)
- uniqueFontIdentifier (nameID 3)
- fullName (nameID 4)
- version (nameID 5)
- psName (nameID 6)
- trademark (nameID 7)
- manufacturer (nameID 8)
- design

[2021-08-22 10:03] pombredanne commented on #2655
@rishishr sure thing!

[2021-08-23 08:22] pombredanne commented on #2653
@mjherzog @DennisClark your comments are welcomed too.

[2021-08-23 08:31] pombredanne opened #2658 "Review license detections of Chromium"
See https://github.com/chromium/chromium/blob/01d4dce6f351553bdadb4d5ac436f6dc1d5ecbd6/tools/checklicenses/checklicenses.py to validate it findings.
See also #2651 to use that file as a test file and avoid reporting with false positives.

[2021-08-23 08:40] pombredanne commented on #2139
This can be solved with a few extra rules and this is a poster child test for the solution proposed in #2637
At the moment the results returned are:
[code]

[2021-08-23 15:38] mjherzog commented on #2653
This makes sense to me. It is a "nice" idea to have one versioning convention for a whole system, but we are all learning about the important differences in licensing between software and data. So this sounds like using the right tool for the job.

[2021-08-23 16:05] JonoYang commented on #2653
@pombredanne

Will the Codebase-Resource model schema from commoncode be versioned in the same way as the JSON output or is the output format independent of the Codebase-Resource model schema?

[2021-08-23 16:53] pombredanne commented on #2653
@JonoYang that's a good point as these are tightly coupled . :|
This needs a bit of extra thinking.

[2021-08-23 16:54] pombredanne commented on #2653
@indirabhatt @maxhbr @soimkim ping too, FYI :)

[2021-08-24 07:28] pombredanne opened #2659 "Support Terraform modules"
See https://registry.terraform.io/browse/modules
Their manifest is TBD

[2021-08-24 07:55] pombredanne opened #2660 "Consider adding support for the package formats at these places/registries"
This is a list found in https://github.com/CVEProject/cve-schema/blob/c8638e22e534bb5dc38a7985f558248b7f61efba/schema/v5.0/CVE_JSON_5.0.schema

- [ ] #3074
- [ ] Add support for packages from https://conan.io/center
- [ ] Add support for packages from https://cpan.org/modules
- [ ] Add support for packages from https://ctan.org/pkg
- [x] Add support for packages from https://hub.docker.com
- [ ] A

[2021-08-24 14:30] bnowacky opened #2661 "Packages don't show up in scan results"
### Description

Packages used in projects don't show up in scan results Scans have a `-p` specifically set, but never show up. Whether it's python, php or .NET, none of the packages or their licenses show up in an output file (csv in this case),  Is Scancode pulling the licensed from

### How To Reproduce

`./scancode -plu --classify --consolidate --filter-clues -n 4 --license-text --summary --ma

[2021-08-24 19:27] johnmhoran opened #2663 "dbus-1.12.12 gpl-2.0-plus misidentified as gpl-3.0-plus"
Reviewing a non-public set of `dbus-1.12.12` files, I see that SCTK has identified a number of files containing a `gpl-2.0-plus` notice (as well as `afl-2.1`) as `gpl-3.0-plus` score=96.61.  (`afl-2.1` is correctly identified.)  A publicly-available example is

[code]

which can be retrieved here: https://dbus.freedesktop.org/releases/dbus/dbus-1.12.12.tar.gz

[2021-08-24 21:07] pombredanne commented on #2663
Thank you ++ these are great catches!
With https://raw.githubusercontent.com/freedesktop/dbus/dbus-1.12.12/tools/dbus-print-message.c I get:
[code]

and with https://raw.githubusercontent.com/freedesktop/dbus/dbus-1.12.12/bus/audit.c I get:
[code]

[2021-08-24 21:21] pombredanne commented on #2661
@bnowacky Thank you for the report!
I am surprised that nothing is found as I am routinely using SCTK to detect packages. And I just did run a scan a few minutes ago and we have 1000+ tests for this that run on each commit.
I can think of two reasons:

1. there is something that's not configured correctly
2. you have a very peculiar codebase

To help us find the problem:

- A. Can you provide a fe

[2021-08-25 07:49] pombredanne opened #2664 "Move to Python 3.8 as a the base Python version for release and testing"
Since 3.6 is losing runway [pretty soon](https://www.python.org/dev/peps/pep-0494/#and-beyond-schedule) I suggest we switch to Python 3.8 as a the base for running the core tests and add support for testing on 3.10
We will drop support for 3.6 when it goes EOL, sometimes end of 2021

[2021-08-25 08:34] pombredanne commented on #2651
Another example is https://raw.githubusercontent.com/jslicense/spdx-correct.js/master/test.js
This is NOT detected correctly @sschuberth FYI ;)
But the way this si NOT detected could be improved

[2021-08-25 08:52] pombredanne opened #2665 "Also support license file reference to self"
As a follow up to #2616 there is a possibility to have a scan for a single file that references itself. This is a rare and odd case but we are ignoring it for now based on https://github.com/nexB/scancode-toolkit/pull/2616/files#diff-e2d4fe549f45bf3d5eead089ceb9d1688b9b950dc4d208b348dd889ecf8bf985R123

[2021-08-25 09:07] #2619 closed, assigned to AyanSinhaMahapatra

[2021-08-25 11:59] #2362 closed, assigned to nobody

[2021-08-25 19:15] maxhbr opened #2668 "empty files are reported with empty hash in spdx tag/value, that makes it invalid"
### Description

The generated spdx in tag/value format is invalid, if the scan contained an empty file, e.g. the following part is invalid since it misses the SHA1 hash:

[code]

### How To Reproduce

* scan a directory with an empty file
* generate tag/value
* use https://tools.spdx.org/app/validate/ to validate and see the following violation:

![Bildschirmfoto_2021-08-25_21-12-38](https://user

[2021-08-25 19:28] maxhbr commented on #2668
Fun Fact: if I take the corresponding RDF/XML and try to convert it to tag/value I get the following error:
![Bildschirmfoto_2021-08-25_21-27-52](https://user-images.githubusercontent.com/1187050/130852861-67c0ba66-4bfe-4db2-87e5-ee6793745a41.png)

[2021-08-25 19:31] maxhbr commented on #2668
The files:
* tag/value: [scancode.spdx.txt](https://github.com/nexB/scancode-toolkit/files/7049449/scancode.spdx.txt)
* RDF/XML: [scancode.rdf.xml.txt](https://github.com/nexB/scancode-toolkit/files/7049450/scancode.rdf.xml.txt)

The scanned project:
https://github.com/gothinkster/node-express-realworld-example-app/tree/ba04b70c31af81ca7935096740a6e083563b3a4a

[2021-08-25 20:44] philippsimon commented on #2624
I also stumbled about that issue for uuidv4. Would be great if you could fix it.

Here btw their license text:
https://github.com/thenativeweb/uuidv4/blob/main/LICENSE.txt
[code]

[2021-08-26 06:31] pombredanne commented on #2624
@nikpete no, it can be solved .... this is not a quick fix like most other copyright detection issues

[2021-08-26 06:32] pombredanne commented on #2624
@philippsimon Thanks for the additional report!

[2021-08-26 07:24] pombredanne commented on #2624
For reference, copyright detection process is explained here:
https://github.com/nexB/scancode-toolkit/blob/5db9d05115bb6a3620f652bbbc9609ac6855bd48/src/cluecode/copyrights.py
The process consists in:
 - prepare and cleanup text
 - identify regions of text that may contain copyright (using hints).
   These are called "candidates".
 - tag the text to recognize (e.g. lex) parts-of-speech (POS) tags

[2021-08-26 07:27] pombredanne commented on #2624
BTW to highlight the solution further, with this text in a file named `c`:
- `Copyright (c) 2014-2021 The Native Web.`
and when I run a copyright scan:
- SCANCODE_DEBUG_COPYRIGHT=yes scancode --copyright --json-pp - c
... this is detected correctly as `"Copyright (c) 2014-2021 The Native Web"`
and the key debug log lines are:
[code]

And the key grammar logging is with SCANCODE_DEBUG_COPYRIGHT_DEE

[2021-08-26 12:28] pombredanne opened #2669 "Improve declared license collection from nuspec"
... and accordingly the detection proper.
For instance in https://globalcdn.nuget.org/packages/specflow.mstest.3.1.89.nupkg this should be reported for SpecFlow.MsTest.nuspec and we get only this today: `"declared_license": "https://aka.ms/deprecateLicenseUrl",`

[code]

Eventually this should be a candidate too for #1364 and  #2616

[2021-08-26 13:00] pombredanne commented on #2583
`update_min_steps` may be the culprit based on https://github.com/pallets/click/issues/676 and https://github.com/pallets/click/pull/1698

Or any of these: https://github.com/pallets/click/issues?q=is%3Aissue+progressbar+is%3Aclosed

And based on https://github.com/pallets/click/issues/1777

And https://github.com/pallets/click/issues/1924

then may be we should drop using Click for this?

[2021-08-26 13:46] mmurto opened #2670 "ocb-open-source-2013 not recognized"
### Description

ScanCode does not recognize `ocb-open-source-2013` in https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/modes/OCBBlockCipher.java.

### System configuration

ScanCode commit 5db9d0511.

[2021-08-26 21:17] pombredanne commented on #1888
@agschrei gentle ping :) 'sup on your side? Any help needed?

[2021-08-26 23:12] pombredanne commented on #2403
@chinyeungli FYI

[2021-08-27 00:12] pombredanne opened #2671 "Check that licenses in various large notices are detected correctly"
See these
- [ ] https://opensource.netapp.com/NetApp_Manageability_SDK/9.8-Beta/NOTICE.pdf
- [ ] https://tacsystem.jp/xelfinder/view/1762/T1-10083_MAN-ALIF4000-ADDER30_jpn_copyright_kai.pdf
- [ ] https://github.com/Hitachi/open-license which seems to be the same as https://ossinfo.herokuapp.com/ ?
- [ ] https://opensource.mageni.net/license_declaration.txt
- [ ] https://www.syncfusion.com/content/

[2021-08-27 03:19] yunhua-deng opened #2672 ""X11 License" wrongly matched to spdx_license_key "ICU""
### Description

"X11 License" wrongly matched to spdx_license_key "ICU"

[code]

### How To Reproduce

codebase to scan: https://mirrors.bfsu.edu.cn/apache/mina/ftpserver/1.1.1/apache-ftpserver-1.1.1-src.tar.bz2
commands: `scancode --license --info --only-findings --license-text --strip-root --license-score 80 --json-pp <output.json> <path_to_codebase>`

### System configuration

* What OS are yo

[2021-08-27 06:09] sbs2001 opened #2673 "Detect WPScan Public Source License"
ScanCode doesn't detect any license from the file at https://github.com/wpscanteam/wpscan/blob/master/LICENSE.

[2021-08-27 07:31] pombredanne commented on #2673
@sbs2001 Thanks... this is a proprietary license alright.
See also https://github.com/wpscanteam/wpscan/commit/f1acdd938997b4ad403a763b489c97525d471c6c#diff-c693279643b8cd5d248172d9c22cb7cf4ed163a3c98c8a3f69c2717edd3eacb7

This is barely usable IMHO except privately

[2021-08-27 08:19] hesa opened #2674 "Scancode report (RDF) can't be processed by spdx-tools"
### Description

**Background**: Scancode generates SDPX version 2.1 (with `--spdx-tv` or `--spdx-rdf`) and uses `spdx-tool` (https://github.com/spdx/tools-python) version `0.6.1? as listed in [requirements.txt](https://github.com/nexB/scancode-toolkit/blob/develop/requirements.txt)

**Problem**: When generating a scancode report the cli tools from [spdx-tool / tools-python](https://github.com/spd

[2021-08-27 09:41] hesa opened #2675 "False positive: MIT and Boost, should be MIT"
### Description

Checking [SQLiteCpp](https://github.com/SRombauts/SQLiteCpp) Scancode identifies: `boost-1.0` and `mit`

The reasons are as listed below:

**boost-1.0**
[code]

**mit**
[code]
**File header**
[code]

... and of course: I may be totally wrong (but I'm a Dancin' fool - Frank Zappa)

### How To Reproduce

[code]

### System configuration

* **OS**: Ubuntu", "20.04.2 LTS (Focal Fossa)

[2021-08-27 11:33] sbs2001 commented on #2673
@pombredanne  feel free to close this, if out of scope.

[2021-08-27 16:56] pombredanne commented on #2673
@sbs2001 a license that is not detected correctly is a bug, so not out of scope. ;)

[2021-08-27 17:46] pombredanne commented on #2675
Thank for the detailed record! This is case where also this is likely to help:
- #2637

[2021-08-27 18:10] pombredanne commented on #2670
@mmurto Thank you ++ for this report!
In case you could be interested to help fix similar issues in the future I tried to make a didactic PR in #2677

- The first commit https://github.com/nexB/scancode-toolkit/commit/e9286de6348d99a64952c122ed37348fe39e2449 adds the minimal rule and a test to fix the issue

- The second commit at https://github.com/nexB/scancode-toolkit/commit/98c4393b31f39a8dfba

[2021-08-27 18:12] pombredanne commented on #2583
This is now fixed and merged in develop!
Thank you ++ for the report

[2021-08-27 18:12] #2583 closed, assigned to nobody

[2021-08-27 20:21] pombredanne opened #2679 "Improve license URL detection"
Based on a report by @lechasseur and @armijnhemel
There is a large number of URLs that reference licenses and we have a good number of them as detection rules.
These rules are qualified as "is_license_reference"
1. It would be better to mark them as "is_license_url" so we can distinguish them
2. since there is a very large number of these possible we could optimize a secondary index and matching t

[2021-08-27 20:58] hesa commented on #2675
Nice. Looks good to me.

[2021-08-28 12:33] pombredanne commented on #2670
This  fixed and merged in develop. Thank you++

[2021-08-28 12:33] #2670 closed, assigned to nobody

[2021-08-28 14:28] pombredanne commented on #2403
Another case: `"LICENSE.gpl.\n\n3."` should not be detected as gpl-3.0_rdesc_1.RULE because of the two empty lines.

[2021-08-29 07:59] pombredanne commented on #1364
This should be still open:
1. the npm part is not implemented
2. there are issue wrt. adding license matches of referenced files to the main license match with "SEE LICENSE IN"...
- for now the matches are just copied
- there is no indication (attribute, or else) that tells me that a match is derived from following the license of a referenced filename. There is no indication either that the refere

[2021-08-29 07:59] pombredanne commented on #1364
@akugarg @AyanSinhaMahapatra  ^ FYI

[2021-08-29 08:03] pombredanne commented on #2665
This is a fluke. A file referencing itself does not need following, since it is already itself . :] (Note this was for #1364 )

[2021-08-29 08:03] #2665 closed, assigned to nobody

[2021-08-29 09:22] #2675 closed, assigned to nobody

[2021-08-29 10:27] pombredanne commented on #2672
Thank you for the report: I think the things are correct as they are though!

The short answer is that:

- ScanCode `x11` is mapped to SPDX `ICU`
- ScanCode `x11-xconsortium` is mapped to SPDX `X11`

I reckon that may be a bit confusing. You have to understand that ScanCode history of assigning license keys goes a long way back and pre-dates SPDX and that we do not change these keys lightly especi

[2021-08-29 10:40] agschrei commented on #1888
@pombredanne apologies for falling silent here,
so far I haven't been able to dedicate as much time to this as I had originally hoped, but I've at least had time to familiarize myself with the other output plugins, contribution guidelines and to set up some scaffolding for the CycloneDX plugin.

I'd assume that the majority of details can best be nailed down once I have a working prototype, which

[2021-08-29 21:53] pombredanne commented on #1888
@agschrei let's not worry about errors for now.

@coderpatros I see you contributed CycloneDX support to Tern in https://github.com/tern-tools/tern/commit/9bbb5dd3100a37956511cbe89af960447b578f24 ... is there something that could be extracted from there as a base?

[2021-08-29 22:03] coderpatros commented on #1888
@agschrei if there is information ScanCode captures, that doesn't quite fit, you can use custom properties.

https://cyclonedx.org/use-cases/#properties--name-value-store

@pombredanne most of the Tern changes were to work in with their data model and way of doing things. I also took a minimal approach. So it can probably be used as a guide for the implementation here. But probably not very useful

[2021-08-30 07:51] mmurto commented on #2670
Thank you, I'll try a fix next time!

One thing that's not immediately obvious from the rules you added is that why is `relevance` 100 in all of them? Could it be something else and what would that mean? [This](https://github.com/nexB/scancode-toolkit/blob/e912830fae079d1f25c4d88995360e1c49a697f9/src/licensedcode/models.py#L783-L790) generally describes what it's about, but if there's any more inf

[2021-08-30 15:26] pombredanne commented on #2670
Actually the relevance is not needed. The only time when a relevance is needed is when you have a small rule *(small as a in made of only a few words) and that is still highly relevant. For instance: `license: gpl3+` would be two words, but would be 100% relevant as a license tag for the gpl 3.

[2021-08-30 20:16] pombredanne commented on #2653
Here is the updated documentation based on the feedback above (@sschuberth :heart: ):

Output format version policy
==========================

We version the JSON output from ScanCode-Toolkit using this approach:

1. The version string is using this format `scancode-toolkit-output-format-1.1`  where the last segments after the dash represent a semver-like version of `1.1`.

2. The first segment i

[2021-08-31 01:49] chinyeungli opened #2683 "A web browser plugin and service to scan licenses while you browse"
## Short Description

When users see a license text in a webpage or license text/notice inside of an article, user can capture the text and save it in a file and then launch scancode detection to get the license information. However, wouldn't it be nice if user can either scan the whole webpage or selection of text directly from a brower plugin?

## Possible Labels

- new feature
- nice to have

#

[2021-08-31 12:32] pombredanne commented on #2683
That's an awesome feature.
And as an add-on I would also like to submit a PR or issue semi-automatically when there are detection issues that I want to correct.

Implementation-wise I can think of these ways:

1. a big fat browser plugin that contains all of scancode-toolkit including a Python runtime. The benefit would be that everything is self-contained and local.
2. same as above but one step

[2021-09-01 09:33] pombredanne opened #2684 "Copyright not detected entirely"
`Copyright (c) 2019-2021, Open source contributors.` is detected as  `Copyright (c) 2019-2021, Open`.

[2021-09-01 20:10] agschrei commented on #1888
@pombredanne
while I'm not done yet, there are a few questions that came up while working on this, I was hoping you could enlighten me on some of them.

Disclaimer: So far no code-cleanup has happened, I want to get to that once we have a result that everybody is happy with content-wise.

1. I know the pythonic way for doing this would probably just be to shove everything into a nested dictionary

[2021-09-02 01:34] coderpatros commented on #1888
I wouldn't worry about this. Turns out Sonatype have been working on a Python library they are going to donate to the CycloneDX community.

[2021-09-02 02:10] coderpatros commented on #1888
The output looks pretty good so far.

You could use component scope to indicate packages that are/are not included in released artifacts.

What's the difference between `license_expression` and `declared_license` here?

[2021-09-02 05:54] alandtse commented on #2683
No, it's not really something I'm too motivated to spend time on to change from GPL-3.0 and no takers so far on doing it. That said, I didn't realize anyone really wanted to use any of my hacked together code. I could be convinced to be more explicit that the stuff I wrote could be Apache-2.0 while the `cc-by-sa.js` stuff is just that.

If you meant my other [issue about integrating better with sc

[2021-09-02 08:35] Thalley commented on #2304
@pombredanne @mjherzog Any updates on this?

[2021-09-02 13:58] pombredanne commented on #2304
@Thalley we have some design in progress for a solution in #2403
In the meantime I am just pushing the rule I mentioned above... though I could not find an exact pointer to the code in question.
Do you have a URL by chance?

[2021-09-02 15:15] Thalley commented on #2304
@pombredanne Unfortunately not; because of this issue we've found workarounds for the code that caused the issue. The best example I have is the one from this issue itself:

[code]

[2021-09-02 16:29] bnowacky commented on #2661
Thanks for the feedback. I'm running python 3.6.8, on Mac 12.0 (but can repro on Mac 11 as well).

Regarding install, that's how I was running. I downloaded the tagged release directly, rather than a checkout. and when I run JUSt the --package  to see if it returns anything I get an empty results set... it's just a python requirements.txt file.

This was a scan for a company I was doing diligence

[2021-09-03 08:26] tgodau opened #2686 "scancode 21.8.4 starts with warnings"
### Description

scancode 21.8.4 starts with warnings:

    # scancode --version
    /home/tgodau/venv3.8-scancode/lib/python3.8/site-packages/cluecode/copyrights.py:3355: FutureWarning: Possible set difference at position 3
      remove_tags = re.compile(
    /home/tgodau/venv3.8-scancode/lib/python3.8/site-packages/pygmars/lex.py:95: FutureWarning: Possible nested set at position 7
      re.comp

[2021-09-03 18:06] AyanSinhaMahapatra commented on #2566
See [this comment](https://github.com/nexB/scancode-toolkit/pull/2685#issuecomment-912717107).

[2021-09-03 18:37] AyanSinhaMahapatra opened #2687 "Use `ubuntu-latest` in azure"
We currently use `ubuntu-16.04` images like [here](https://github.com/nexB/scancode-toolkit/blob/develop/azure-pipelines.yml#L16)

But these currently generate warning messages such as:

[code]

https://github.com/actions/virtual-environments/issues/3287 says

[code]

So we need to migrate to `ubuntu-latest` to let tests run correctly asap.

[2021-09-04 12:58] pombredanne opened #2689 "Collect datapackage.json metadata"
- https://dataprotocols.org/data-packages/
- https://specs.frictionlessdata.io/data-package/
- https://specs.frictionlessdata.io/schemas/data-package.json
- https://github.com/search?l=&q=filename%3Adatapackage.json&type=code
-
An example: http://datasets.datalad.org/datapackage.json
[code]

[2021-09-05 15:07] agschrei commented on #1888
That's awesome news. I'm assuming [this](https://github.com/sonatype-nexus-community/cyclonedx-python-lib)  is the project?

That's still on my list of TODOs.

Ideally I want to map the requirements that ScanCode outputs per package to the `Dependency` type that CycloneDx exposes, but to do that I will need to:
a) map the requirements to a concrete package (they are usually given in terms of compa

[2021-09-06 09:29] pombredanne commented on #2643
IMHO in all cases, we need to have line-number tracking when parsing debian copyright files.
So https://github.com/nexB/debian-inspector/issues/13 is needed first.

[2021-09-06 14:44] pombredanne commented on #2098
Here is an updated design:

The key elements are to:

- report `packages` as top-level. The data structure is the same as the one at the file level but will be the merged data from possibly several manifests and lock files.
- track which files are part of a given package instance

### Package model updates

  - [ ] Package model updates: Add new `package_instance` attribute used to track unique in

[2021-09-06 14:45] pombredanne opened #2690 "test"
foo

[2021-09-06 14:46] pombredanne opened #2691 "Package model updates: Add new `package_instance`"
Package model updates: Add new `package_instance` attribute used to track unique instances of each packages (say you have two identical wheels in the same code tree);use a UUID for this `package_instance` attribute.

[2021-09-06 14:47] pombredanne opened #2692 "Package model updates: Add `package_manifest_paths` attribute"
Package model updates: Add `package_manifest_paths` attribute that is a list of codebase paths for each `package_manifest` file that is contributing to a top-level Package instance (not the absolute locations)

[2021-09-06 14:47] pombredanne opened #2693 "Files model updates: add `for_packages` attribute"
Files model updates: add `for_packages` attribute which is a list of { purl + UUID, e.g. an instance of a package} this file is for. This replaces "installed_files" experiments.

[2021-09-06 14:47] pombredanne opened #2694 "Files model updates: Rename the current file-level `packages` to `package_manifests`."
Files model updates: Rename the current file-level `packages` to `package_manifests`. There the data structure is that of a `Package`, but with no constraints about which field are mandatory. We can have a manifest for a single package and its deps (say a package.json for npm) or a Debian status file with 100's of packages.

[2021-09-06 14:48] #2690 closed, assigned to nobody

[2021-09-06 14:53] #2687 closed, assigned to nobody

[2021-09-06 14:55] pombredanne commented on #2653
After extensive review, supporting multiple versions of the output data format at once is an immense task! much simpler on paper than in practice... therefore I think will instead only track which version of data format is in a given SCTK version and we can commit to limit the number of major data format  version changes to possibly no more than once a quarter.

The data format version and the doc

[2021-09-06 21:04] agschrei commented on #1888
The output plugin now maps dependencies, it also provides working XML output.
[results.zip](https://github.com/nexB/scancode-toolkit/files/7117788/results.zip)

For simplicity's sake package-urls are used as bom-refs, I assume that's okay given that the [examples](https://cyclonedx.org/use-cases/#dependency-graph) do the same thing

@coderpatros is there anything I am still missing here?

[2021-09-07 00:40] stevespringett commented on #1888
Absolutely. Package URLs are perfectly fine. However, the bom-ref is required to be unique within the context of the BOM. Under normal circumstances, this isn't a problem. Just something to be aware of.

[2021-09-07 09:57] Maarc opened #2696 "ScanCode killed within Docker container"
### Description

While analyzing some applications with the dockerized scancode, the scancode process is unexpectedly killed during the scan phase without any generated report:

[code]

I have had this issue with different apps that I have been able to analyze without problem with previous versions of ScanCode. I suspect the timeout handling to be a bit too radical.

Any help to get the reports ge

[2021-09-07 13:49] pombredanne commented on #2098
After a chat with @tdruez , we should list right away the `file_paths` under each top level package instance as it becomes much clearer and simpler to handle in scancode.io.

[2021-09-07 17:47] pombredanne opened #2697 "Remove duplicate entries in JSON fixtures"
See https://github.com/nexB/scancode-toolkit/blob/b5f462464694aded12c862588e1630cf9b5f7ed4/tests/packagedcode/data/win_reg/SOFTWARE-installed-programs.expected#L47

[2021-09-09 07:36] coderpatros commented on #1888
That is the correct project. First official CycloneDX release is up https://pypi.org/project/cyclonedx-python-lib/

[2021-09-10 09:44] tgodau opened #2699 "21.8.4 crashes in a Python 3.6.15 venv"
### Description

Scancode 21.8.4 crashes, when trying to scan a file.

### How To Reproduce

Checked installed Python version:

    # python -V
    Python 3.6.15

Uninstalled 21.6.7:

    # pip3 uninstall scancode-toolkit
    Found existing installation: scancode-toolkit 21.6.7
    Uninstalling scancode-toolkit-21.6.7:
      Would remove:
        /home/tgodau/venv-scancode/bin/scancode
        /ho

[2021-09-10 10:14] tgodau commented on #2699
After a

    # pip3 install --no-cache-dir -U click
    Collecting click
      Downloading click-8.0.1-py3-none-any.whl (97 kB)
         |████████████████████████████████| 97 kB 54.4 MB/s
    Requirement already satisfied, skipping upgrade: importlib-metadata; python_version < "3.8" in /home/tgodau/venv-scancode/lib/pyth
    on3.6/site-packages (from click) (1.7.0)
    Requirement already satisfie

[2021-09-14 15:36] pombredanne commented on #2699
@tgodau sorry for this. This is a bit of self-inflicted wound because of a too lax Click version range. Click is a third-party library that we use for command line processing.

[2021-09-14 15:36] pombredanne commented on #2699
@tgodau Have you tried using the release archive too?

[2021-09-14 15:44] pombredanne commented on #2696
@Maarc thank you for the report. I was not able to reproduce this .... yet based on the ouput it seems that your got "proc killed" by the kernel. How much RAM and CPU do you have?

With `-n 10` I would expect that you have about 11GB+ free RAM and about 10 cores?

Also in all cases you would need to guard you patterns from shell expansion with quotes as in `scancode -l -p -c --html-app hudson_2_sr

[2021-09-14 15:52] pombredanne commented on #2686
Thank you for the report! That's annoying but this is harmless... it still needs to be fixed though.

[2021-09-14 17:27] sutula opened #2700 "Copyright scanner seems to include too much text"
### Description

In the case below, the copyright scanner indicates that the copyright is three lines long.  From inspection, it seems that it is only one line.  I don't know exactly what terminates a copyright, but it seems like end-of-line should be significant.

### How To Reproduce

A scan of [list.rb](https://archive.softwareheritage.org/browse/content/sha1_git:f393dcaec40f83d5e7d9f4ac8a8a2a8

[2021-09-14 20:26] pombredanne commented on #2700
@sutula Thanks for the report!
The solution is likely this patch in https://github.com/nexB/scancode-toolkit/blob/d8d272ab561b4448698eaf4c420c8775ba125d70/src/cluecode/copyrights.py#L944 to design Last and Set as plain nouns and not proper nouns:

[code]

and with this I get (with the YAML output for a change):
[code]

[2021-09-14 20:37] pombredanne commented on #2663
@johnmhoran With these two commits, the detection should not work fine in this PR/branch https://github.com/nexB/scancode-toolkit/pull/2667

[2021-09-14 20:46] pombredanne commented on #2661
gentle ping :) I need your help to you be able to help you!

[2021-09-15 04:05] tgodau commented on #2699
Not yet, just the pip-stuff.
Good hint, I will try that....

[2021-09-15 04:47] sutula commented on #2700
Thanks for the quick response!  We are happy to help improve the tool.

[2021-09-15 08:40] pombredanne commented on #2446
This is now all fixed in the develop branch and we get these results:
[code]

[2021-09-15 08:40] #2446 closed, assigned to nobody

[2021-09-15 08:47] pombredanne commented on #1565
So upstream removed the code in question entirely and never merged https://github.com/espressif/esp-idf/commit/9a2af7ae33f2c0206ad15c0185e51613faf0bf64 ... :roll_eyes:  which is a solution for the future

But the many recent improvements to copyright detection are also fixing this. The results are now:
[code]

I think we are set now. Thanks!

[2021-09-15 08:47] #1565 closed

[2021-09-16 04:35] soimkim opened #2702 "Copyright includes SPDX Tag "SPDX-FileCopyrightText""
### Description
When scanning the SPDX format copyright text, the SPDX tag, "SPDX-FileCopyrightText", is also output.
- SPDX copyright text format example : https://spdx.github.io/spdx-spec/appendix-IX-file-tags/

### How To Reproduce
- File to scan
[code]
- ScanCode result
[code]
- Expected result
[code]

### System configuration

* What OS are you running on? Ubuntu 18.04
* What version of scanc

[2021-09-16 06:00] #2624 closed, assigned to nobody

[2021-09-16 19:07] kiranravindran90 opened #2703 ""Some files failed to scan properly" error for some large files"
I was running the scan on a batch of Binary files (.bin) and got the error "Some files failed to scan properly". When I saw which were the files, I noticed its failed on Large files (> 450 MB). While the smaller files scanned without any issues.

[2021-09-16 22:46] pombredanne commented on #2702
@soimkim Thank you for the report!
It could be that this is already fixed in the develop branch

[code]

[code]

[2021-09-17 06:52] pombredanne commented on #2172
This is detected correctly:

and this too:

(It has been for a long while, the ticket was left open by mistake)
Thank you again for the report!

[2021-09-17 06:52] #2172 closed

[2021-09-17 07:05] pombredanne commented on #2700
All merged. Thanks!

[2021-09-17 07:05] #2700 closed, assigned to nobody

[2021-09-17 08:05] pombredanne commented on #2402
I ran this with [bad-copyright-detections.txt](https://github.com/nexB/scancode-toolkit/files/5985058/bad-copyright-detections.txt)
- `pip install gibberish-detector`
- `gibberish-detector train examples/big.txt > big.model`
- in python:
[code]
I then loaded this in libreoffice to do some evaluation. Here are the results:

string    |         gibberish     |         correct
----------|------------

[2021-09-17 09:40] philippsimon commented on #2624
@pombredanne thanks a lot!!

[2021-09-17 15:11] pombredanne commented on #2624
@philippsimon sure thing!

[2021-09-17 15:12] pombredanne commented on #2624
this is now merged in the develop branch

[2021-09-18 07:28] pombredanne commented on #2672
@yunhua-deng I hope the comments I make sense for you. I am closing this for now. Feel to reopen if this was not clear or if you have further questions. Thank you for using ScanCode!

[2021-09-18 07:28] #2672 closed, assigned to nobody

[2021-09-19 03:24] hyounes4560 commented on #2485
@pombredanne This is the same page I mentioned it had a broken issue link [**Here**](https://scancode-toolkit.readthedocs.io/en/latest/misc/faq.html?highlight=faq#can-i-install-scancode-in-a-unicode-path)

[2021-09-20 05:27] kiranravindran90 commented on #2703
I was trying out different Timeout options and was able to run most files that doesn't timeout at 3600s. But there is a 5GB file which still doesn't scan. I tried having a timeout of 10800s, still getting an error. Find the error below.
-----------------*********************----------------------
Traceback (most recent call last):
  File "C:\Users\ravindk\AppData\Local\Programs\Python\Python36\lib

[2021-09-21 01:09] yichong96 commented on #2651
Hi @pombredanne may I work on this issue ? I am a recent Computer Science graduate at NUS and I would like to contribute to this project :-)

[2021-09-21 07:14] pombredanne commented on #2651
@yichong96 Yes and thank you!
This is not a trivial problem and it needs some design; for this the best start would be to outline and document your approach here (or in a separate document) so we can help and guide you.

[2021-09-21 08:33] #2621 closed, assigned to nobody

[2021-09-21 11:57] nikpete commented on #2624
Thanks a lot Philippe

[2021-09-21 12:53] pombredanne commented on #2489
The warning has been solved with #2686 and https://github.com/nexB/scancode-toolkit/commit/5c5235c10c96e5c1baa1ac938a8f44568f7432c7

[2021-09-21 12:56] pombredanne commented on #2703
@kiranravindran90 Thank you for the report. I guess that's unfortunate butr there are no easy way out:
1. either you want to ensure you scan everything and if you have very large files, you would need to have a lot of resources (e.g. RAM)
2. or you could add a `--ignore` to skip this file
3. or do you think we should always skip by default certain files? (that can be risky though)

[2021-09-21 12:59] pombredanne commented on #2696
gentle ping

[2021-09-21 13:07] pombredanne commented on #2674
There has been a new RC of the spdx tools and this has been merged in develop

[2021-09-21 13:09] pombredanne commented on #2702
Closing now. Thanks!

[2021-09-21 13:09] #2702 closed, assigned to nobody

[2021-09-21 13:09] pombredanne commented on #2684
Merged in develop

[2021-09-21 13:09] #2684 closed, assigned to nobody

[2021-09-21 13:15] pombredanne commented on #2661
ping again

[2021-09-21 13:18] pombredanne commented on #477
I am not sure the effort is worth it to break things in separate repo.
@jonassmedegaard I think this has not been in your way anyway, correct?

We have however published https://scancode-licensedb.aboutcode.org/ with the data and this will soon also be available at https://licensedb.org/

So I am closing this now.

[2021-09-21 13:18] #477 closed

[2021-09-21 13:22] pombredanne commented on #690
It looks like opencage has gone awol ... closing this then

[2021-09-21 13:24] pombredanne commented on #886
This is no longer an issue AFAIK, so closing after all.

[2021-09-21 13:24] #886 closed

[2021-09-21 13:31] jonassmedegaard commented on #477
What would be helpful to me is the tests - not the polished license data.

It seems that the source for the LicenseDB project is https://github.com/nexB/scancode-licensedb - which does not contain any tests :-(

[2021-09-22 02:02] soimkim commented on #2702
@pombredanne , Thank you for the reply. 😃

[2021-09-22 05:37] kiranravindran90 commented on #2703
@pombredanne Thank you for the response. But unfortunately the large file are the important ones for me and wouldn't want to skip it.
Is there any limit to --timeout?
I get this error when I set the --timeout > 3600s

[2021-09-22 09:07] pombredanne commented on #2703
The timeout can be set to "infinite" with `--timeout 0`  or to a very large value.

See https://github.com/nexB/scancode-toolkit/blob/6d2320ca15a7e19b50ffd151449406a1d41d65cc/src/scancode/cli.py#L1365

But that's not a great solution.
An alternative would be to consider carefully the type of this .bin file of yours. If this some binary firmware, it does not make sense to scan as-is. Instead it sho

[2021-09-22 09:27] pombredanne opened #2708 "Report Apache Section 4 notices separately"
`NOTICE file for use with the Apache License, Version 2.0, ` ... and similar are often seen explicitly. Also there are files named NOTICE that have a special significance for the Apache 2.0
All these are detected alright, but reported as plain Apache 2.0.
We should have a way to report these explicitly

[2021-09-22 09:45] pombredanne opened #2709 "Ensure that all license at https://copyfree.org/standard/licenses are detected"

[2021-09-22 10:48] AyanSinhaMahapatra commented on #2653
@pombredanne should this be closed as this is merged?

[2021-09-22 10:49] pombredanne commented on #2653
@AyanSinhaMahapatra not yet... we still need to re/write the documentation AND we need to add it to the docs

[2021-09-22 13:31] pombredanne commented on #2653
Here is an updated overall version policy. Because of the semver switch, and as discussed in the weekly community call the next version will be `30.0.0`. The initial data format version is at `1.0.0`

Versioning approach
==========================

ScanCode is composed of code and data (mostly license data used for license detection).

Historically we tried using calver to also convey that the dat

[2021-09-23 05:17] pombredanne opened #2711 "Fix warnings in tests"
A test run will yield this

[2021-09-23 08:38] pombredanne commented on #2359
This has long been fixed! https://github.com/nexB/scancode-toolkit/blob/6d2320ca15a7e19b50ffd151449406a1d41d65cc/setup.cfg#L67
Closing now.

[2021-09-23 08:38] #2359 closed, assigned to nobody

[2021-09-23 08:39] pombredanne commented on #2357
This has been fixed a while back.
https://github.com/nexB/scancode-toolkit/blob/6d2320ca15a7e19b50ffd151449406a1d41d65cc/setup.cfg#L66
Closing now

[2021-09-23 08:39] #2357 closed, assigned to nobody

[2021-09-23 08:40] pombredanne commented on #2358
This has been fixed a while back
https://github.com/nexB/scancode-toolkit/blob/6d2320ca15a7e19b50ffd151449406a1d41d65cc/setup.cfg#L57
Closing now.

[2021-09-23 08:40] #2358 closed, assigned to nobody

[2021-09-23 08:41] pombredanne commented on #2356
This is fixed now in https://github.com/nexB/scancode-toolkit/blob/6d2320ca15a7e19b50ffd151449406a1d41d65cc/setup.cfg#L92

[2021-09-23 08:41] #2356 closed, assigned to nobody

[2021-09-23 08:44] pombredanne commented on #2653
As part of this I am also adding a new outdated version notification: this will be listed in the scan headers when the version is either out of date on PyPI or 90 days old. Before that we were only displaying a warning in the CLI on stderr doing a remote PyPI version check. Note that the remote PyPI check is now optional thanks to @yns88 patch

[2021-09-23 08:49] pombredanne commented on #2653
This is the CHANGELOG entry:

  the installed ScanCode version is older than 90 days. This is to warn users
  that they are relying on outdated, likely buggy, insecure and inaccurate scan
  results and encourage them to update to a newer version. This is made entirely
  locally based on date comparisons.

[2021-09-23 13:35] pombredanne commented on #2601
The latest release is now based on semver.
See https://github.com/nexB/scancode-toolkit/blob/a0d4d814467779e397abdb9d5ebbea2cd25aa40a/docs/source/misc/versioning.rst for docs.

[2021-09-23 13:35] #2601 closed, assigned to nobody

[2021-09-23 14:56] pombredanne commented on #2651
https://github.com/spdx/license-list-data/tree/master/json is another source of false positive, e.g. lists of licenses

Here the key issue stems from sequences of license matches that are typically:

- only to short license references and tags (eg is_license_reference or is_license_tag rules)
- matched rules are usually for a single license key and not full expressions
- usually one match per line

[2021-09-24 06:23] pombredanne opened #2712 "Support ROS packages"
This is a package.xml format

- https://github.com/ros-planning/moveit_msgs/blob/master/package.xml
- https://github.com/ros-planning/moveit/blob/master/moveit_core/package.xml
- http://wiki.ros.org/catkin/package.xml
- https://github.com/ros-infrastructure/catkin_pkg/blob/master/src/catkin_pkg/package.py

[2021-09-24 06:25] tdruez opened #2713 "TypeError with latest 30.0.0 version"
[code]

[code]

[code]

[2021-09-24 06:28] pombredanne opened #2714 "False positive in copyright detection"
With:
[code]

we should get nothing but have:
[code]

[2021-09-24 06:32] tdruez commented on #2713
This looks like a kwargs API issue between `commoncode==21.8.31` and `click==7.1.2`.
The `click._termui_impl.ProgressBar` has no `update_min_steps` kwarg.

[2021-09-24 06:40] tdruez commented on #2713
Nevermind, this is caused by a conflict with celery 5.1.2 that depends on click<8.0 and >=7.0 forcing the installation of a 7.0.x click that is not supported by the toolkit.
The toolkit runs fine with click > 8.0.
Closing.

[2021-09-24 07:37] yunhua-deng commented on #2672
Thank you for the detailed elaboration. This case is complicated but understandable.

[2021-09-24 07:38] pombredanne commented on #2713
IMHO this should work. 7.0.x is a problematic buggy click version. But 7.1 works fine with ScanCode TK?

[2021-09-24 07:43] tdruez commented on #2713
@pombredanne No sign of `update_min_steps` in https://github.com/pallets/click/blob/7.x/src/click/_termui_impl.py

[2021-09-24 07:46] tdruez commented on #2713
The `update_min_steps` kwarg was added in https://github.com/pallets/click/commit/acc91bc4f47e38f43277fcdfd8ca855734c4fbbc so starting 8.0.1
You may want to update the toolkit requirements, currently `click >= 6.7, !=7.0`

See also https://github.com/nexB/commoncode/commit/ef5f0a62f0405b9e8e2bece71d6cfe1fe19063a1#diff-0f08a9e5de99e9a72325fb0133b61561966562f5cfd23217cd187d110f3506b0L208
and https:/

[2021-09-24 07:58] pombredanne commented on #2713
Actually I have a patch for this at https://github.com/nexB/commoncode/issues/31

[2021-09-24 08:33] pombredanne commented on #2179
See instead https://github.com/nexB/scancode-toolkit/issues/2713

[2021-09-24 08:33] #2179 closed

[2021-09-24 09:07] pombredanne commented on #2713
@tdruez I pushed https://github.com/nexB/scancode-toolkit/pull/2715 and your review is welcomed!

[2021-09-24 11:34] pombredanne commented on #2713
This is now fixed and released in 30.0.1
@tdruez thank you ++

[2021-09-24 11:34] #2713 closed, assigned to nobody

[2021-09-24 11:37] pombredanne commented on #1554
This is now handled in several tickets https://github.com/nexB/scancode-toolkit/labels/package-at-toplevel and in #2098

[2021-09-24 11:37] #1554 closed

[2021-09-24 11:39] pombredanne commented on #1759
This is now merged and fxied.

[2021-09-24 11:39] #1759 closed

[2021-09-24 11:42] pombredanne commented on #2073
This has long been completed

[2021-09-24 11:42] #2073 closed

[2021-09-24 11:44] pombredanne commented on #2098
From #1554

[2021-09-24 11:49] pombredanne commented on #2071
Eventually we built a tool that handles creation, documentation and publishing of wheels and source https://github.com/nexB/scancode-toolkit/tree/1bddb92c70abcf26cf9435061e429bae62cbe040/etc/release
And this is also part of the https://github.com/nexB/skeleton

For the release proper https://github.com/google/github-release-retry does the job until GH fixes their flakiness.

[2021-09-24 11:49] #2071 closed

[2021-09-24 11:50] pombredanne commented on #2087
Eventually we built a tool that handles creation, documentation and publishing of wheels and source https://github.com/nexB/scancode-toolkit/tree/1bddb92c70abcf26cf9435061e429bae62cbe040/etc/release
And this is also part of the https://github.com/nexB/skeleton

Using romp it builds wheel and tests them on many OS/Python combos

In the end they end up pushed to https://thirdparty.aboutcode.org/pypi

[2021-09-24 11:50] #2087 closed

[2021-09-24 11:51] pombredanne commented on #2088
Eventually we built a tool that handles creation, documentation and publishing of wheels and source https://github.com/nexB/scancode-toolkit/tree/1bddb92c70abcf26cf9435061e429bae62cbe040/etc/release
And this is also part of the https://github.com/nexB/skeleton

Using romp it builds wheel and tests them on many OS/Python combos

In the end they end up pushed to https://thirdparty.aboutcode.org/pypi

[2021-09-24 11:51] #2088 closed

[2021-09-24 11:51] pombredanne commented on #2136
https://github.com/google/github-release-retry does the job until GH fixes their flakiness.

[2021-09-24 11:51] #2136 closed

[2021-09-24 11:52] pombredanne commented on #2135
Eventually we built a tool that handles creation, documentation and publishing of wheels and source https://github.com/nexB/scancode-toolkit/tree/1bddb92c70abcf26cf9435061e429bae62cbe040/etc/release
And this is also part of the https://github.com/nexB/skeleton

Using romp it builds wheel and tests them on many OS/Python combos

In the end they end up pushed to https://thirdparty.aboutcode.org/pypi

[2021-09-24 11:52] #2135 closed

[2021-09-24 11:53] pombredanne commented on #2182
Eventually we built a tool that handles creation, documentation and publishing of wheels and source https://github.com/nexB/scancode-toolkit/tree/1bddb92c70abcf26cf9435061e429bae62cbe040/etc/release
And this is also part of the https://github.com/nexB/skeleton

See https://github.com/nexB/skeleton/blob/main/etc/scripts/gen_requirements.py

[2021-09-24 11:53] #2182 closed

[2021-09-24 11:53] pombredanne commented on #2180
We simply push to https://github.com/nexB/thirdparty-packages/pypi
And this published in https://thirdparty.aboutcode.org/pypi/

[2021-09-24 11:53] #2180 closed

[2021-09-24 11:54] pombredanne commented on #2089
This supported alright. Closing

[2021-09-24 11:54] #2089 closed

[2021-09-24 11:56] pombredanne commented on #2090
This supported alright. Closing
We now publish Python/OS combos release archives for a matrix of linux/windows/macos x 3.6 to 3.9
Next steps would be installers tracked in #1703

[2021-09-24 11:56] #2090 closed

[2021-09-24 11:58] pombredanne commented on #2072
The new https://github.com/nexB/scancode-toolkit/blob/1bddb92c70abcf26cf9435061e429bae62cbe040/etc/release/scancode-create-release.sh script creates these alright.

[2021-09-24 11:58] #2072 closed

[2021-09-24 12:08] pombredanne commented on #755
This is no longer an issue now that we only support Python 3 and dropped Python 2 support

[2021-09-24 12:08] #755 closed

[2021-09-24 12:10] pombredanne commented on #867
This has long been merged and fixed... closing
Thanks!

[2021-09-24 12:10] #867 closed

[2021-09-24 12:33] pombredanne commented on #988
We now bundle a pre-built index making this a solved problem.

[2021-09-24 12:33] #988 closed

[2021-09-24 12:34] tdruez commented on #2713
@pombredanne fix confirmed, thanks++

[2021-09-24 12:35] pombredanne commented on #926
Commoncode has been spun as its own project. Beyond this it would be hard to splita core further.

[2021-09-24 12:35] #926 closed

[2021-09-24 12:35] pombredanne commented on #972
We use semver alright now, after a stint in calver land. Closing this now

[2021-09-24 12:35] #972 closed

[2021-09-24 12:36] pombredanne commented on #907
We have completely transformed the way we handle the pre-built binaries  and this should be a non-issue now.

[2021-09-24 12:36] #907 closed

[2021-09-24 12:38] pombredanne commented on #1343
We dropped depending on six... and we no longer support Python 2.7. I am closing this now as I think this is no longer relevant.

[2021-09-24 12:38] #1343 closed

[2021-09-24 12:39] pombredanne commented on #1458
we now bundle a pre-built index, dropped support for 32 bits windows and now reindexing should run fine and  will always require some serious RAM. closing now!

[2021-09-24 12:39] #1458 closed

[2021-09-24 12:41] pombredanne commented on #1463
The supported OS/Python versions have changed quite a bit and I think this is no longer relevant.
Install runs fine on a fresh Ubuntu 16, 18 and 20 and these are all part of the test suites now.
Closing at last!

[2021-09-24 12:41] #1463 closed

[2021-09-24 12:42] pombredanne commented on #1464
The supported OS/Python versions have changed quite a bit and I think this is no longer relevant.
Install runs fine on a fresh Ubuntu 16, 18 and 20 and these are all part of the test suites now so I think this is fine now.
Closing at last!

[2021-09-24 12:42] #1464 closed

[2021-09-24 12:43] pombredanne commented on #1520
The index is now bundled so reindexing is no a requirement. Closing.

[2021-09-24 12:43] #1520 closed

[2021-09-24 12:46] pombredanne commented on #1530
I do not think is an issue anymore, but if so, I think the simpler way is going to demand a space-less installation path.
bin/scancode is generated by the Python wheel installer and we cannot do more than what Python in this domain.
I am closing this for now. If this is still an issue please reopen or create a new ticket
There is a new version 30.0.1 to test!

[2021-09-24 12:46] #1530 closed

[2021-09-24 12:47] pombredanne commented on #1511
I do not think is an issue anymore, but if so, I think the simpler way is going to demand a space-less installation path.
bin/scancode is generated by the Python wheel installer and we cannot do more than what Python in this domain.
I am closing this for now. If this is still an issue please reopen or create a new ticket
There is a new version 30.0.1 to test!

[2021-09-24 12:47] #1511 closed

[2021-09-24 12:47] pombredanne commented on #1573
We now only support Windows 64. Closing.

[2021-09-24 12:47] #1573 closed

[2021-09-24 12:49] pombredanne commented on #1736
All the binaries are built now at https://github.com/nexB/scancode-plugins
And all can be built from sources.
@madscientist159 I am closing this for now. Please reopen if you still want to work on PPC builds.

[2021-09-24 12:49] #1736 closed

[2021-09-24 12:50] pombredanne commented on #1811
These concerns have been addressed AFAIK. Closing now.

[2021-09-24 12:50] #1811 closed

[2021-09-24 12:51] pombredanne commented on #2101
Closing for now

[2021-09-24 12:51] #2101 closed

[2021-09-24 12:53] pombredanne commented on #1837
@AyanSinhaMahapatra do we still want this as a pinned issue?
I am closing for now and we can reopen if need be.

[2021-09-24 12:53] #1837 closed

[2021-09-24 12:54] pombredanne commented on #2448
@jonCeg21 I am closing for now for lack of activity. Feel free to reopen

[2021-09-24 12:54] #2448 closed, assigned to nobody

[2021-09-24 14:58] pombredanne opened #2716 "[RFC] Remove facets"
Facets are a lesser used feature of sumarization and are entirely buggy.
I would like to remove them entirely in the next major release

[2021-09-24 15:00] pombredanne opened #2717 "Regression in package summary in 30.0.x"
See https://github.com/nexB/scancode.io/pull/330/files#r715575173

[2021-09-24 22:35] rnjudge commented on #2696
@pombredanne I am also seeing a "killed" error after a recent scancode upgrade. Was there a significant space requirement change or something? I never had this issue before and working on the same machine. This is a large blocker for Tern at the moment.

[code]

Increasing the timeout doesn't seem the help. I am running with Scancode 21.8.4

[2021-09-27 15:42] Abhicodes-crypto commented on #2401
@kartikeysaran  Are you still working on this issue ?

[2021-09-27 17:30] pombredanne commented on #2401
@Abhicodes-crypto I think @kartikeysaran has not followed up on this, so this is good to grab!

[2021-09-27 17:51] Abhicodes-crypto commented on #2401
Thanks @pombredanne . I'll start working on it.

[2021-09-28 00:23] yichong96 commented on #2651
Hi @pombredanne thank you for your guidance. Am still trying to understand the code base. I would like to ask a question regarding license matching. In the `match_query` function, there are 3 types of matching that are run; Hashing, specifically matching spdx license and automaton matching. However, the flag to run spdx_license matching `as_expression` is set to `False`. Why is that the case ?

Re

[2021-09-28 06:59] pombredanne opened #2719 "Check the detected licenses in the scan of https://www.nongnu.org/avr-libc/ and https://github.com/picolibc/picolibc"
https://www.nongnu.org/avr-libc/ and https://github.com/picolibc/picolibc (which reuses some of it and part of newlib) have a varied licensing which would be worth double checking.

[2021-09-28 07:30] tgodau commented on #2686
Morning Philippe,

the warning

    /home/tgodau/venv3.8-scancode/lib/python3.8/site-packages/cluecode/copyrights.py:3382: FutureWarning: Possible set difference at position 3
      remove_tags = re.compile(

still exists in scancode-toolkit 30.1.0 for me (same environment as above)...

Regards, Thorsten

[2021-09-28 15:44] pombredanne commented on #2651
The main entry point is Index.match() not Index.match_query() ... see in https://github.com/nexB/scancode-toolkit/blob/152abdaa73d1b8203a6f3cc6057d6c31c7c49e2b/src/licensedcode/index.py#L781

But in all case, the `as_expression` flags means that the whole file or string is treated as a license expression. This is a special case that's used for matching only license expression, for instance in a pa

[2021-09-28 17:15] Abhicodes-crypto commented on #2401
@pombredanne I downloaded the first file (bootstrap.min.css.map) and then executed the following command
`scancode-toolkit-30.1.0/scancode -l --json-pp output.json bootstrap.min.css.map`

The output file is : https://pastebin.com/1eZNd5vj
It doesn't show any licenses.

The log that I got on terminal is : https://pastebin.com/jiEpjCEj

I am not sure what to look for. Can you please guide me further

[2021-09-29 02:53] yichong96 commented on #2651
@pombredanne Thank you for taking the time to explain :-) Yup agreed that filtering `matches` is a starting point.

[2021-09-29 06:34] pombredanne commented on #2651
@yichong96 re:

Actually, thank you for taking the time to dig in this and study and understand this mess! ;) That's much appreciated.

[2021-09-29 06:46] yichong96 commented on #2651
@pombredanne with regard to issue #1032, the automaton matches spdx rule files to these spdx ids. There are many of such spdx rule files such as `spdx_license_id_spl-1.0_for_spl-1.0.RULE` with only the license ID. Is it possible to only include these spdx rule files when there appears a "spdx identifier : spdx ID" line ? It seems that matching just the spdx license ID to the query file without any

[2021-09-29 07:40] tgodau opened #2720 "Typo in command to enter..."
### Description

https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html#pip-install

Point 2.: Run `pip install --upgraded pip setuptools wheel` to install the latest versions of base utilities.

"--upgraded" won't work.
The correct command should be:

 `pip install --upgrade pip setuptools wheel`

### Link to Documentation Page

see above

### Select Category

-  [ ] Incon

[2021-09-29 14:49] goekDil opened #2721 ""OSError: [Errno 28] No space left on device: '...' " during scan"
### Description

[moby-20.10.5.zip](https://github.com/nexB/scancode-toolkit/files/7252772/moby-20.10.5.zip)

After scanning the folder 'moby-20.10.5' I ran into following error:

* (from docker logs)
![image](https://user-images.githubusercontent.com/91614140/135285125-f97ee5d8-29ba-47bf-b602-ee959cf52ad7.png)

There should be enough space left on the device.

### How To Reproduce

Scan folder 'm

[2021-09-29 21:58] pombredanne commented on #2721
Would this be with https://github.com/moby/moby/archive/refs/tags/v20.10.5.tar.gz ?

[2021-09-30 06:50] pombredanne commented on #2721
And I had not seen your attachment! so I am good wih the code link you provided.

So I think this is sparse tarball issue which is 60GB extracted and only 5KB otherwise, unextracted, and not even compressed

Can you test scanning that one single 5KB file?
https://github.com/moby/moby/blob/363e9a88a11be517d9e8c65c998ff56f774eb4dc/vendor/archive/tar/testdata/gnu-sparse-big.tar

And can you detail wh

[2021-09-30 06:57] pombredanne commented on #2721
Note that this could be related to https://github.com/nexB/scancode-toolkit/issues/2431 where @Angi2412 and @avishmehta68710 both mentioned having a similar issue or at least this comment https://github.com/nexB/scancode-toolkit/issues/2431#issuecomment-800013030 references the same code:

[2021-09-30 07:29] yichong96 commented on #2651
Hi @pombredanne would like to clarify on some of the points made in this reply.

I think this example is quite clear to me. It is illustrated in the `NugetLicenseData.txt` and in the files mentioned in #1032.

Does "for a single license key" mean that there are multiple sequences of `LicenseMatch` with the same` license_expression`? What does not full expression mean?

I think these 2 points refer

[2021-09-30 10:40] goekDil commented on #2721
Yes, I apply extractcode first! Unfortunately, there is no place where you can see my code, but I can provide a minimalexample.py:

[code]

As you proposed, I tested the one single 5KB file and the exact same Error occurs:

![image](https://user-images.githubusercontent.com/91614140/135405769-9eddc133-da5a-4726-8610-a5c79a5f5912.png)
(docker logs) (Linux and Windows with docker)

Depending on the

[2021-10-01 17:45] beastrun12j commented on #2720
I would like to work on this issue

[2021-10-03 17:45] rijusougata13 commented on #2716
hi @pombredanne  I'd like to contribute in this. Can you guide me where should I look into?

[2021-10-04 10:08] Maarc commented on #2696
@pombredanne I just updated to the latest version and gave it another try.

With `-n 10` set, I had the same error as previously. I have 16 GBs and 12 cores (`nproc --all`) on my machine. After reducing the threads to 4. It took a while but worked like a charm.

Thank you very much for your support! This is highly appreciated. I think that we can close this issue. Maybe it would be good to add a h

[2021-10-04 16:43] sutula opened #2723 "extractcode crash with invalid gzip archive"
Description

In normal use of extractcode, I ran across a number of cases where extractcode crashes.  So far, I've investigated one of these cases.

The target archive is [here](https://github.com/ruby/rake/archive/refs/tags/v0.9.2.2.zip).  Within the Ruby Rake zipfile is what appears to be a compressed documentation file, rake-0.9.2.2/doc/rake.1.gz which could be directly downloaded [here](https:

[2021-10-05 11:40] Maarc commented on #2696
Meanwhile, I have conducted further tests leveraging the self-built Docker image and `-n 4`. The process does not get killed anymore. At the end of the execution, I got the following error:

[code]

[2021-10-05 12:57] pombredanne commented on #2723
@sutula Thank you for the report.

There are two issues:
1. there is a crash and that's a bug
2. I wonder why so many compressed man pages have trailing garbage as this is something I often see

[2021-10-05 12:58] armijnhemel commented on #2723
It seems that there is an extra newline (`0x0a`) at the end of the file. After removing that `gunzip` doesn't report an error.

[2021-10-05 13:09] armijnhemel commented on #2723
It seems that it wasn't intentional: https://github.com/ruby/rake/commit/ea834c6afde1bdb25edc4ba82fc0ae0c4c4df2ce

but that doesn't mean that scancode shouldn't be able to handle it. It might be better to switch to some sort of streaming unpacking of gzip files.

[2021-10-05 14:11] sutula commented on #2723
While the discussion continues on how to best handle these cases, is there a suggestion for how to work around the problem, such as a small patch that could allow unpack to continue with the non-corrupt content?

[2021-10-05 17:13] pombredanne commented on #2723
@armijnhemel thank you ++ for this awesome research!

@sutula

Yes, it should not crash at all.

Note that for the extraction of a plain gzip files we have on hand:
- https://github.com/nexB/extractcode/blob/main/src/extractcode/libarchive2.py  which is streaming, but probably not in the way @armijnhemel  mentioned
- https://github.com/nexB/extractcode/blob/main/src/extractcode/sevenzip.py which i

[2021-10-06 21:22] pombredanne commented on #2403
The attached binary contains three false positive detections:
[false-positive-in-binaries.zip](https://github.com/nexB/scancode-toolkit/files/7297191/false-positive-in-binaries.zip)

[code]

[2021-10-07 05:14] pombredanne opened #2724 "Partial copyright detected"
In the text below, I would expect these copyrights to be detected:
- `covered under Crown Copyright, Government of Canada`
- `Copyright (c) 2010-2017 Crown Copyright, Government of Canada (Communications Security Establishment)`

yet we detect these only: `Copyright (c) 2010-2017 Crown`

Test text:
[code]

[2021-10-07 06:27] pombredanne commented on #2723
@sutula I tried this setup:
[code]
I am not able to reproduce the crash.
So I may be missing something in my setup?
That said I note something peculiar in your output log:
[code]

The last line is about files in `'/tmp/trash/rake-0.9.2.2.zip-extract/rake-0.9.2.2/doc/rake.1.gz-extract` ... could this be because some files may have been moved or trashed while extracting?

[2021-10-07 11:49] FrankHeimes opened #2725 "Feature Request: Parallalize all steps of scancode if possible"
## Short Description
In all but the file scanning step, scancode only uses one core, resulting in a low CPU load and a long runtime.

## Select Category
-  [X] Enhancement

## **How This Feature will help you/your organization**
It should reduce the overall runtime substantially.

## **Possible Solution/Implementation Details**
I started scancode on a large codebase with parameter _-n 30_. After t

[2021-10-07 12:37] FrankHeimes opened #2726 "ERROR: failed to run post-scan plugin: consolidate: and False positive on very long lines"
### Description
After scanning the Qt code base, scancode failed to run the final steps:

[code]

### How To Reproduce

1. Download and extract Qt from https://www.qt.io/download
2. Install Python 3.9
3. Download and extract scancode 30.0.0 to `C:\My\scancode-toolkit-30.0.0`
4. Run scancode once to set it up
5. run `"C:\My\scancode-toolkit-30.0.0\Scripts\scancode"  -clpieu --license-score 60 --lic

[2021-10-07 12:49] FrankHeimes commented on #2726
After running the script again, I received more info, this time pointing to the file that caused the error:
[code]
That file happens to be the largest one with 548 MB.
May that size be the culprit?

And this time, scancode actually ended and produced a summary and output for the other files.

[2021-10-07 21:22] sutula commented on #2723
I apologize for not providing the entire extract command.  The difference between your result and mine seems to be that I use the "--replace-originals" option.  So some code path when --replace-originals is specified isn't checking for an unpack failure before proceeding to "replace the originals" with extracted content, resulting in the crash I see.

Thank-you very much, though, for trying this.

[2021-10-08 05:02] pombredanne commented on #2716
@rijusougata13 thanks. Let's discuss here what approach you would take for this first. Especailly there may be a need to do things in two steps and mark the feature for deprecation before removing it. I also need to hear from users of this feature before we can remove it.

[2021-10-08 05:10] pombredanne commented on #2723
@sutula Thanks! it makes more sense to me now and I can reproduce alright.  There is indeed a class of extraction  issues which are more in the realm of a warning like "we tried everything we could to extract this file and we cannot do much more, this is either a corrupted or truncated archive or not really an archive, look into it" ... (well may be not as verbose, but that's the gist of it).
So t

[2021-10-08 05:18] pombredanne commented on #2723
Now like is often the case, a bug or issue may only be a symptom for a deeper issue... here I wonder if the underlying issue is not "--replace-originals" ... why did you use this? Space saving? Rather I would assume that's because you did not want to scan things twice: both the archives and their content is one scan too many. So may be there should be something else to consider: since we use a rea

[2021-10-08 05:24] pombredanne commented on #2726
@FrankHeimes Thank you for the report. That's a sizeable DLL indeed and the likely cause for troubles. The difficulty in this case is that there is a delicate balance to find between possibly skipping such a file entirely and then missing out on some important information or finding a way to get some scan data (possible DLL metadata and basic file info) and not other (such as license and copyright

[2021-10-08 05:30] pombredanne commented on #2725
@FrankHeimes Thank you... yes this makes perfect sense, in particular when scanning whole devices where there can a lot of files and just the basic directory listing could benefit from speedups. Do you have experience on doing such parallelization for what could be described as a parallelized file system walk?

[2021-10-08 06:56] #2694 closed, assigned to AyanSinhaMahapatra

[2021-10-08 07:25] pombredanne commented on #2651
This is rather that a   `LicenseMatch`  would have to be for a single license, e.g. the rule should be for something like `mit` but not something for `mit OR gpl-2.0`.

Also to take into account would be the fact that matches are mostly to rules tagged with `is_license_reference` or `is_license_flag` flags... We could also introduce a specific rule flag like `is_license_name` to tag short rules th

[2021-10-08 07:26] pombredanne commented on #2651
@sschuberth I know this is something you raised in https://github.com/oss-review-toolkit/ort/wiki/Developer-Meeting

Note that https://raw.githubusercontent.com/jslicense/spdx-correct.js/master/test.js is currently NOT detected correctly in the latest ScanCode... this ticket here is to make this better and more robust

[2021-10-08 08:17] FrankHeimes commented on #2725
@pombredanne No, I don't. But I just did a quick test: Walking all files and folders recursively using PowerShell took 11 seconds, enumerating only the folders took 5 seconds; both for the large codebase mentioned above. That is reasonably fast so that this doesn't require parallelization. Apparently, the processing of each individual file (reading, classification, etc.) takes a lot of time.

So I

[2021-10-08 08:26] FrankHeimes commented on #2726
@pombredanne IMHO, binary files warrant type specific scanners, because they usually have a specific structure. So copyright data can't just appear at random locations in those files. And if it does, then it is _random_ data! For example, the (C) character followed by some arbitrary printable characters notoriously triggers false positive matches when using trivial scanners. Taking the structure o

[2021-10-08 08:30] goekDil commented on #2721
Thank you very much! After further analysis, I also came to the conclusion that this is a sparse file issue.

[2021-10-08 08:30] #2721 closed

[2021-10-08 08:42] FrankHeimes commented on #2726
Last night, I ran scancode on the boost sources. As a result, it reported the _consolidate_ error on these files:
[code]
These files are just 1.3MB and 2.2MB in size and appear to have "innocent" content.
However, some individual lines are as long as 5KB.

[2021-10-08 14:10] pombredanne commented on #2726
@FrankHeimes you are nailing it! The thing is that each format may need specific ways. But in general compressed data does not have much one can squeeze out.... but as it happens I once found GPL references in the paths from a compressed and unextracted Zip central file directory.

And I routinely find proper license and copyright in ELF and DLLs.

I guess one approach is to at least to find a way

[2021-10-08 14:27] pombredanne commented on #2726
The culprit is the copyright detection on these large files. The process for this is roughly explained here:
https://github.com/nexB/scancode-toolkit/blob/c09309f99c27de4ddb0c1e6e3619b833ceb2aa6e/src/cluecode/copyrights.py#L59

The process consists in:
 - prepare and cleanup text
 - identify regions of text that may contain copyright (using hints).
   These are called "candidates".
 - tag the text

[2021-10-08 15:22] pombredanne opened #2727 "Create license linting tool"
Based on our license detection capabilities we could add some option that would "fail" based on some common conditions such as:
- there a less-than-perfect license detection
- there is an inconclusive detection or an unknown license detected
- there is a non-standard license text or "non-standard-license-wording", or "non-standard-license", or "not-one-of-main-common-licenses" or not an SPDX licen

[2021-10-08 16:09] pombredanne commented on #2723
@sutula see https://github.com/nexB/extractcode/pull/33

[2021-10-08 19:25] sutula commented on #2723
Thanks for the quick patch.  I believe it solves the extractcode --replace-originals issue.  See patch discussion.

Other suggestions and potential problems were raised in discussion of this issue.  I propose to split the other items out into separate issues, leaving this issue only for the originally-intended extractcode crash.  Unless there is objection, I'll submit these new issues by early nex

[2021-10-08 21:00] pombredanne commented on #2723
@sutula that's a perfect plan. :+1:

[2021-10-11 07:04] pombredanne opened #2728 "Support new yarn-v2 ways of handling node modules with "plug and play""
See https://yarnpkg.com/features/pnp#fixing-node_modules

[2021-10-11 07:07] pombredanne opened #2729 "Distinguish yarn lock files v1 and v2. Add support for v2"
We support v1 format, e.g., something like documented here: https://classic.yarnpkg.com/en/docs/yarn-lock/
[code]

... but the new format is plain YAML....
- https://github.com/yarnpkg/yarn/issues/6953 and https://github.com/yarnpkg/yarn/issues/5629

- the format documentation is TBD

And the file name is configurable using a config file (yarnconf.json or .yarnrc.yml ?) so it may not be named yarn

[2021-10-11 07:09] pombredanne commented on #2729
See also https://github.com/nexB/scancode-toolkit/issues/2728

[2021-10-11 08:24] pombredanne opened #2730 "Add support for the newly released Python 3.10 and 3.11"
This should work out of the box but there are many small things to do:

- [x] ensure that our code works on Linux (syntax
- [x] ensure that the code of all deps works on Linux
- [x] recompile and publish wheels for all native on linux, windows and macos
- [x] setup CI
- [x] publish app archives for 3.8 - 3.11 on linux, windows, mac

Of note are some requirements meaning that some older Linux versi

[2021-10-11 12:17] pombredanne opened #2731 "Rev up base supported versions of OS and Python - including in CI"
See also https://github.com/nexB/skeleton/issues/46

We could still support some Ubuntu 16 by using a container image as opposed to CI-provided images... but these would be harder to keep up to date since there are no security updates provided by default. So I am in favor of:
- [x] move the base tests to Ubuntu 18 LTS on all supported Python versions
- [ ] add or keep Debian buster, Ubuntu 20 LTS,

[2021-10-11 12:18] pombredanne commented on #2286
@fviernau I am closing this for now, as this is for an ancient version. Please create a new ticket if this happens again.

[2021-10-11 20:45] #2720 closed, assigned to nobody

[2021-10-11 20:46] pombredanne commented on #2720
@beastrun12j Thank you!

[2021-10-12 12:59] pombredanne opened #2732 "Empty package-lock.json should not return packages"
An empty locfile should not return a package instance:
With this file named "package-lock.json":
[code]
and this scancode command:
`scancode -p package-lock.json  --yaml -`

I get:
[code]
and I should not get any package reported and get this:
[code]

[2021-10-12 13:16] pombredanne opened #2733 "Return a name for winexe, cab, jar and related packages that do not have structured metadata"
In the case where we do not have a package name, we could use the file name as package name?

[2021-10-12 13:18] pombredanne opened #2734 "Infer version from filenames (in particular package archives)"
We often have version clues in a file or archive name such as `time-1.9.tar.gz`

It would be useful to collect these. See also https://github.com/nexB/scancode-toolkit/issues/2733 and in particular this code https://github.com/nexB/commoncode/blob/main/src/commoncode/version.py

[2021-10-12 13:56] pombredanne opened #2735 "False positive license? "may not be modified" in SQLIte source code"
These are detected

- table sqlite_master may not be modified
- table terms may not be modified

but are SQLite error messages and are false positive.
See https://sqlite.org/forum/info/96fdf0bf95f225c9

The problem is that this text `may not be modified` may be a false positive in some cases: https://github.com/search?l=C&q=table+"may+not+be+modified"&type=Code

and in some other cases such as htt

[2021-10-13 09:27] 0xc0170 commented on #1549
I found this issue, it's related to ST so I am reporting here their new license format.  I don't know how actually can scancode detect their license properly.

What they do in the recent components, add LICENSE file that lists either full text license, and the files contain only this:

[code]

It's not easy to find out what is root if the component is distributed as part of bigger software pack. H

[2021-10-13 16:30] AyanSinhaMahapatra commented on #2653
https://github.com/nexB/scancode-toolkit-reference-scans has been added to store scancode-toolkit reference scans and documentation on output version changes with diffs. Repository: https://scancode-toolkit-reference-scans.readthedocs.io/en/latest/

This needs to be added to scancode-toolkit documentation.

[2021-10-13 16:35] AyanSinhaMahapatra commented on #2566
@mjherzog This can be closed as the LicenseDB update is tracked seperately here : https://github.com/nexB/scancode-licensedb/issues/3

[2021-10-14 09:24] fviernau opened #2738 "Add a command line option to dump the license data"
The OSS Review Toolkit needs to have all license IDs along with the respective license text for the ScanCode version it uses.
Currently it extracts it from the license data directory, see e.g. [1] [2]. So it depends on the directory structure as well as on the file formats of ScanCode license data. A ScanCode command line option for dumping

1. licenseIDs
2. corresponding texts
3. corresponding li

[2021-10-14 09:44] AyanSinhaMahapatra commented on #2109
See https://python-poetry.org/docs/basic-usage/

Example: https://github.com/Tinche/cattrs/blob/master/poetry.lock

[2021-10-18 12:21] george-kuanli-peng commented on #2668
I have the same problem with the generated tag/value file:

The scanned project (with empty files):
https://github.com/openwrt/openwrt

[2021-10-18 20:25] pombredanne commented on #2668
@maxhbr @george-kuanli-peng sorry for missing this bug before.
I think that by design the checksum of empty files is null/None per https://github.com/nexB/commoncode/blob/653225d58dcf5d1f75dbe572cac13f6d84ae755b/src/commoncode/hash.py#L37 where nothing is computed if there is no content to hash.
I reckon this is a problem here for SPDX... but at the same I am conflicted to assign a checksum to the

[2021-10-19 01:59] sutula opened #2740 "extractcode fails to unpack some gzipped files where the only issue is an extra trailing newline"
### Description

This case was originally proposed in the discussion of #2723.

There are some common conditions where extractcode fails to recursively unpack an archive, and one of those "fairly common" conditions is where a gzipped file happens to contain a trailing newline after the archive.  In truth, this makes the gzipped file an invalid archive, so gunzip fails to unpack it and returns an e

[2021-10-19 02:17] sutula opened #2741 "Proposal to add return code of "2" for extractcode partial failures"
### Description

This case was originally proposed in the discussion of #2723.

There are a number of cases where extractcode fails to fully recursively unpack an archive.  Embedded in the archive can be corrupt compressed content, or perhaps there are files that are recognized as archives, but an unarchiver is not configured for the current system.  In these cases, extractcode partially succeeds

[2021-10-19 02:22] sutula commented on #2723
Issues #2740 and #2741 have been submitted.  I believe this covers all the extra discussion in this issue.  I believe this issue can now be closed given the commit that fixes the original issue.

[2021-10-19 06:20] pombredanne opened #2742 "Detect setuptools.setup() calls when parsing setup.py"
### Description

A somewhat common pattern for setup.py is to have `import setuptools;setuptools.setup()`-like calls
We do not parse these correctly

See https://github.com/search?q="setuptools.setup"+filename%3Asetup.py+language%3APython+language%3APython&type=Code&ref=advsearch&l=Python&l=Python and https://raw.githubusercontent.com/BlueBrain/BluePyOpt/6d4185479bc6dddb3daad84fa27e0b8457d69652/se

[2021-10-22 07:29] FrankHeimes opened #2743 "Please use stderr ONLY for errors"
## Short Description
Please use `stderr` **only** for errors, not for warnings or informal messages

## Possible Labels
- enhancement
- GUI and outputs
- should have

## Select Category

-  [x] Enhancement

## **Describe the Update**
I'm running scancode 30.0.0 and Python 3.9 on Windows 10 (21H1).

I'm currently running scancode as a build step in my TFS build definition.
The TFS build logger auto

[2021-10-22 10:14] tdruez opened #2744 "Error with the consolidate post-scan plugin"
### Description

ScanCode-toolkit v30.1.0:

[code]

### How To Reproduce

[code]

[2021-10-22 14:49] pombredanne commented on #2743
@FrankHeimes Have you tried the `--quiet` option? It has been designed to only report errors to stderr and nothing else. If it does not work as advertized this is a bug!

[2021-10-22 15:52] pombredanne opened #2745 "Scan error when scanning partial ABOUT file"
The --package scan of a file name foo.ABOUT with:
`download_url: https://raw.githubusercontent.com/docker/docker/ff2de8dace1ba1c1f5e8542790ef5cd564375934/image/spec/v1.1.md`
fails to scan with:
[code]

[2021-10-22 15:53] pombredanne commented on #2745
Using the latest develop branch

[2021-10-25 12:28] FrankHeimes commented on #2743
@pombredanne Thanks for the tip. I forgot about this option. After specifying `--quiet`, nothing was printed to stderr, except for the _"Some characters ..."_ message (issue [1873](https://github.com/nexB/scancode-toolkit/issues/1873)). But that issue is still open anyways.

[2021-10-25 12:28] #2743 closed, assigned to nobody

[2021-10-27 03:05] soimkim opened #2746 "When running in Python 3.8*, a warning message occurs."
### Description

Warning message:
/cluecode/copyrights.py:3382: FutureWarning: Possible set difference at position 3
  remove_tags = re.compile(

### How To Reproduce
Run Scancode with Python 3.8.12

### System configuration
* What OS are you running on? (Windows/MacOS/Linux) : MacOS BigSur
* What version of scancode-toolkit was used to generate the scan file? 30.1.0
* What installation method was

[2021-11-03 08:35] AyanSinhaMahapatra opened #2747 "Package model updates: Add new `PackageManifest` class"
- Add new PackageManifest class
- Base Methods for manifest detection and package manifest creation
- Update recognize_package_manifests
- Modify all package ecosystem specific package models to have PackageManifest classes for each of the package manifest types

[2021-11-03 19:17] pombredanne opened #2749 "Add support to collect provenance ELF notes"
See:
- https://systemd.io/COREDUMP_PACKAGE_METADATA/
- https://fedoraproject.org/wiki/Changes/Package_information_on_ELF_objects
- https://github.com/eliben/pyelftools/blob/fa46554fdbad22c1925724ce82e20ffccf172baf/elftools/elf/notes.py#L14
- https://github.com/microsoft/CBL-Mariner/commit/3c22062735a1a660963c5bd200d138721e2e10ab
- https://salsa.debian.org/bluca/debhelper/-/commit/c42d5383f55b415ec

[2021-11-04 06:30] Mhanna112 opened #2750 "Scancode-toolkit-30.1.0 Python 3.8 Windows 10 installation issue"
Getting "'"C:\Users\hannmar\Downloads\scancode-toolkit-30.1.0\Scripts\scancode"' is not recognized as an internal or external command,
operable program or batch file." when I try to run scancode-h in the correct directory where the scancode folder is located.

[2021-11-14 00:25] peelandsee commented on #2746
Hi, thanks for creating the issue, I'm experiencing the same on Python 3.9.2

### How To Reproduce

Build the following Dockerfile:

[code]

prints the following (redacted to improve readability)

[code]

where you can spot the warning:

[code]

### System configuration
What OS are you running on? (Windows/MacOS/Linux) : `Linux` / `debian:stable-slim container image`
What version of scancode-toolk

[2021-11-14 10:33] eeisegn opened #2752 "scancode-toolkit-mini 30.1.0 - missing dependency"
### Description

When installing scancode-toolkit-mini in a clean system using pip it installs successfully, but produces this error when trying to execute it:

  File "/Users/egans/PycharmProjects/scanoss.py/venv/lib/python3.8/site-packages/typecode/magic2.py", line 103, in load_lib_failover
    ctypes.util.find_library('magic')
AttributeError: module 'ctypes' has no attribute 'util'

### How To

[2021-11-15 09:39] xu1119 opened #2753 "package scan requirement value confused"
### Description
When trying to scan the project https://github.com/pallets/flask with latest scancode
The file is: https://github.com/pallets/flask/blob/main/examples/javascript/setup.cfg
It get the following result:
value of requirement in dependencies is confused, whether the key requirement means dependency version requirement?
[code]

### How To Reproduce

scancode -p --json-pp - setup.cfg

##

[2021-11-15 17:30] DennisClark opened #2754 "Synchronize scancode with SPDX License List 3.15"
Please synchronize scancode-toolkit license detection rules with the latest SPDX LIcense List Release, 3.15.

[code]

[2021-11-15 21:15] DennisClark commented on #2754
Note that the 4 licenses new to SPDX are already in the LicenseDB, and basically those licenses should be updated with the spdx_license_key  (SPDX Short Identifier)

coil-1.0
COIL-1.0

verbatim-manual
Linux-man-pages-copyleft

frauenhofer-fdk-aac-codec
FDK-AAC

csl-1.0
Community-Spec-1.0

[2021-11-16 01:51] lwlwudi opened #2755 "The DEB package information cannot be identified. The dependent file is a control file."
<! --
Please fill out the template below and remove unnecessary text.
Error Report Example - https://github.com/nexB/scancode-toolkit/ Issue / 1778
Markdown Styles - https://commonmark.org/help/
-- >

### Description

Dependency information about the DEB package cannot be identified. Dependency files are control files. For example, the DEB package information of OpenSSL cannot be output.

### How

[2021-11-16 06:27] lwlwudi opened #2756 "How Do I Scan Installed DEB Packages?"
A [good first issue](https://github.com/nexB/scancode-toolkit/labels/good%20first%20issue)
means it's recommended for people who **haven't contributed to our codebase before**.
If you've solved a good first issue and want to help with more, you are welocome too!

If that's you, we're interested in helping you take the first step and can answer questions and
help you out as you do. Note that we're

[2021-11-17 02:48] dd-jy opened #2757 "GPL-2.0 false alarm"
### Description

GPL-2.0 false alarm detected.

### How To Reproduce

I scanned the source code of ipython 7.25.0.
It detected GPL-2.0 in the file (https://github.com/ipython/ipython/blob/7.25.0/setup.py).

Matched Text
[code]

### System configuration

* What OS are you running on? Linux
* What version of scancode-toolkit was used to generate the scan file?  v21.3.31
* What installation method wa

[2021-11-17 08:57] chinyeungli opened #2758 "package versions have conflicting dependencies"
[code]
I am having the above error when doing a `configure` on the develop branch downloaded on 2021-11-17
OS: Windows 10

[2021-11-17 13:04] pombredanne commented on #2757
@dd-jy Thank you ++
Excellent finding!
For reference the detection would yield this:
[code]

[2021-11-17 13:05] pombredanne commented on #2757
@dd-jy Could I interest you in submitting a pull request to fix this? :innocent:
That would be super nice if I you have the time.

[2021-11-17 13:06] pombredanne commented on #2757
@mrombout could this be an interesting use case and tests for the PR you are working on at https://github.com/nexB/scancode-toolkit/compare/develop...softsense:issue-2637-allow-license-rules-to-require-the-presence-of-certain-defining-keywords  for #2637 ?

[2021-11-18 08:44] ablam opened #2760 "LGPL 2.1 detected as LGPL 3"
### Description

Incorrect version of LGPL - detected 3 instead of 2.1

### How To Reproduce

Scan AppArmor (https://gitlab.com/apparmor/apparmor)
Check licence for libraries\libapparmor\src\parser.h
Expected: LGPL 2.1 as in file header:

Issue: there is no rule for LGPL 2.1 with such pattern, so closest match is rule lgpl-3.0_45.RULE:

Solution: creating similar rule for LGPL 2.1 based on the one

[2021-11-18 09:49] pombredanne commented on #2760
Thank you for the report! Would you want to help fix this?

[2021-11-18 11:59] dd-jy commented on #2757
@pombredanne
I tested it after fixing 2 files (gpl-2.0-plus_and_bootloader-exception_1.RULE, gpl-2.0-plus_and_bootloader-exception_1.yml) with the branch (softsense:issue-2637-allow-license-rules-to-require-the-presence-of-certain-defining-keywords).
And it detected only BSD-3-Clause. The new feature(#2637) works very good!
In which branch can I make a pull request to the modified gpl-2.0-plus_and

[2021-11-18 12:27] pombredanne commented on #2757
@dd-jy re:

This is awesome! :bow:

@mrombout would you accept a PR of @dd-jy on top of your branch at https://github.com/nexB/scancode-toolkit/compare/develop...softsense:issue-2637-allow-license-rules-to-require-the-presence-of-certain-defining-keywords?

@dd-jy otherwise, just make a PR here from develop and we can handle the merge once @mrombout is finished and merged.

[2021-11-18 12:45] mrombout commented on #2757
Either way is fine by me!

[2021-11-18 12:46] ablam commented on #2760
sure, np

[2021-11-18 17:46] pombredanne commented on #2760
I fetched: https://gitlab.com/apparmor/apparmor/-/raw/master/libraries/libapparmor/src/parser.h
[code]

and run a scan:
[code]
the culprit is that "2.1" is not matched alright.

@ablam re:

yes! that's exactly it.

In a near future I think that this would also be something that #2637 by @mrombout would be able to cure?
See https://github.com/nexB/scancode-toolkit/compare/develop...softsense:issue-

[2021-11-19 11:13] tardyp opened #2761 "packagecode: gradle nebula dependency lock parser"
## Short Description

gradle is a build tool for the ajva ecosystem especially popular in android apps.

nebula gradle dependency lock allows developer to lock their gradle dependencies and sub dependencies to specific versions
packagecode should be able to parse this simple information

## Possible Labels

- new feature
- package scan

## Select Category

-  [ ] Enhancement
-  [ ] Add License/Cop

[2021-11-19 14:32] sschuberth opened #2762 "Failing to build / configure ScanCode 30.1.0 in Docker with Ubuntu 18.04 "Bionic Beaver""
### Description

When building a Docker image for ORT (also see [here](https://github.com/oss-review-toolkit/ort/pull/4721)), we install ScanCode like

    curl -ksSL https://github.com/nexB/scancode-toolkit/archive/v$SCANCODE_VERSION.tar.gz | \
        tar -zxC /usr/local && \
        # Trigger ScanCode configuration for Python 3 and reindex licenses initially.
        PYTHON_EXE=/usr/bin/python3

[2021-11-20 08:25] pombredanne opened #2764 "Incomplete proprietary license detected"
@tsteenbe reported to me that  https://raw.githubusercontent.com/SanjayBaby/device_x3/b218142b30a9f47b0aac3b971cd4c6bd2e4c6e9e/hal/m4u/2.0/Android.mk is not detected correctly.

The YAML scan output is:
[code]

[2021-11-20 09:27] pombredanne commented on #2756
@lwlwudi can you explain what you are after exactly?

[2021-11-20 09:29] pombredanne commented on #2756
That's would be a task for ScanCode.io: it does it for VM and Docker images using pipelines.

[2021-11-25 09:28] pombredanne opened #2766 "Alpine packages can have no files"
### Description
See http://dl-cdn.alpinelinux.org/alpine/v3.10/main/x86_64/libc-utils-0.7.1-r0.apk
It contains no files beyond a .dummy
We should detect such a package and report that it has no "files" as otherwise this can be a head scratcher
This was discovered by @chinyeungli when reviewing an Alpine docker image scan in ScanCode.io

[2021-11-25 10:30] mdsahiloss commented on #2757
Hey! I'm interested in solving this bug , is there still this bug or been solved

[2021-11-25 12:20] pombredanne commented on #2757
@MdSahil-oss Thank you ++  but I think this is under control.

@dd-jy drafted a PR https://github.com/softsense/scancode-toolkit/pull/2 to be merged in https://github.com/softsense/scancode-toolkit/pull/1/ with this commit https://github.com/dd-jy/scancode-toolkit/commit/80e154bfe72f005de5a0c9a1cd3d89273a5f0557

I separately added a new RULE https://github.com/nexB/scancode-toolkit/pull/2765/files

[2021-11-25 19:22] pombredanne opened #2767 "Incorrect RPM license detected"
In http://rpmfind.net/linux/fedora/linux/development/rawhide/Everything/aarch64/os/Packages/g/GConf2-devel-3.2.6-31.fc36.aarch64.rpm  we get this and the "unknown" is incorrect:
[code]

[2021-11-26 07:27] BenediktThelen opened #2768 "Detections on binary files by assumingly interpreting it as text"
### Description

When scanning some larger projects we noticed that unextracted archives will be scanned by Scancode for licenses, leading e.g. to detections on an .tar archive based on it containing a packaged LICENSE-file. We are assuming that this impacts all binary files.
This would mean that interpreting any binary as text could lead to wrong detections depending on what is decoded from the b

[2021-11-26 08:45] pombredanne commented on #2768
@BenediktThelen Thanks for the report. There are several things to consider and this is an area that needs improvement:

1. we extract strings from binaries using a procedure similar to GNU strings and report both UTF-8 and UTF-16-le-encoded strings (this later being the encoding of strings used in Windows PE binaries). In general there are rather few wrong detections done in binaries in this cont

[2021-11-26 08:51] pombredanne commented on #2761
@tardyp note that I have done quite a bit of research on how to parse gradle builds at least the Groovy kind, and we could likely consider the Kotlin kind too

[2021-11-26 08:55] tardyp commented on #2761
@pombredanne That particular request is about nebula kind of package locks.

nebula looks like the poetry of gradle. Cool kids use it instead of the default gradle pinning method.
I don't think it is really about kotlin, but just as Poetry.lock is another file format as requirement.txt or Pipfile.lock.

Big advantage I see is that it is a lockfile and there is no need to run the gradle toolchain t

[2021-11-26 09:02] pombredanne commented on #2762
I was not able to reproduce with the latest version.
But you seem to be using https://github.com/oss-review-toolkit/ort/pull/4721/files#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557R29 an older version?

https://github.com/nexB/scancode-toolkit/archive/v$SCANCODE_VERSION.tar.gz would be the GitHub source archive... I would not recommend to use this:
1. it contains all the t

[2021-11-26 09:14] pombredanne commented on #2637
For reference this is being worked on at https://github.com/softsense/scancode-toolkit/pull/1

[2021-11-26 09:15] pombredanne commented on #2637
And https://github.com/softsense/scancode-toolkit/pull/2 by @dd-jy

[2021-11-26 12:53] pombredanne commented on #2617
This was merged long ago.

[2021-11-26 12:53] #2617 closed, assigned to nobody

[2021-11-26 13:33] pombredanne commented on #797
This specific issue has been fixed

[2021-11-26 13:33] #797 closed

[2021-11-26 13:35] pombredanne commented on #2321
This has long been fixed

[2021-11-26 13:35] #2321 closed, assigned to nobody

[2021-11-26 18:17] mjherzog opened #2769 "SCTK 30.1.0 detects classpath-exception-2.0 based only on word "classpath" in Java comments"
### Description

SCTK reports a license_score=7.33 for a set of Java files based only on the word "classpath" in comments.
The match details are:
   matched_rule_identifier = classpath-exception-2.0_5.RULE
   matched_rule_matcher = 2-aho
   matched_rule_length = 2
   matched_rule_match_coverage = 2
   matched-rule_relevance = 11

Since the word "classpath" is likely to appear frequently in Java co

[2021-11-27 06:40] pombredanne commented on #2769
This make sense but https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/classpath-exception-2.0_5.RULE has this text `classpath exception`

Would you have a file with the problematic detection to link or attach?

[2021-11-27 07:07] pombredanne commented on #2769
Never mind I can the see the issue now. For instance this C++ snippet from  https://github.com/SanDisk-Open-Source/SSD_Dashboard/blob/f0240a983544a86989eec80a9a5210f2b14fa1c1/uefi/gcc/gcc-4.6.3/libjava/gnu/classpath/jdwp/natVMVirtualMachine.cc#L280:
[code]
is  detected by this rule and with `matched_text: classpath::[jdwp]::exception;` and it should not be detected if there are extra words between

[2021-11-27 23:06] pombredanne commented on #2750
@Mhanna112 sorry for the late reply.
Can yo explain how you installed scancode exactly and what is your OS/arch/Python version?

[2021-11-28 07:35] pombredanne opened #2770 "Timeout when scanning very large JS file with large arrays of numbers"
In Apache JMeter, this file https://github.com/apache/jmeter/blob/c98be3f40009caffb8b66aded702356d975bb4d7/bin/report-template/content/js/graph.js.fmkr is a Freemarker template used to generate a "graph.js" JS file that can contain large images serialized arrays of digits and time series arrays with large number of integer or float values.
This is not specific to JS or JMeter. Go programs routinel

[2021-11-29 10:46] fb33 commented on #2762
Hello,

I've got the same error after updating my ORT dockerfile to use tar.xz.
[code]

[2021-11-29 11:07] pombredanne opened #2771 "Correct code and/or docstrings or both"
In get_primary_license, the docstring is not correct,
The text says:
[code]
but nothing is returned

https://github.com/nexB/scancode-toolkit/blob/1fdf40faabc0cf91fb3e7e8ff11412fcfb358577/src/packagedcode/debian_copyright.py#L374

[2021-11-29 15:19] fb33 commented on #2762
For info :
I tried ORT dockerfile with these versions :
- https://github.com/nexB/scancode-toolkit/releases/download/v30.1.0/scancode-toolkit-30.1.0_py36-linux.tar.xz : ❌
- https://github.com/nexB/scancode-toolkit/releases/download/v30.0.0/scancode-toolkit-30.0.0_py36-linux.tar.xz : ❌
- https://github.com/nexB/scancode-toolkit/releases/download/v21.8.4/scancode-toolkit-21.8.4_py36-linux.tar.xz : ❌

[2021-11-29 15:22] pombredanne commented on #2762
@fb33 @sschuberth
I was able to reproduce:
[code]
The culprit and bug is that the paths in https://github.com/nexB/scancode-toolkit/blob/1fdf40faabc0cf91fb3e7e8ff11412fcfb358577/configure#L29 are not fully qualified and interpreted as local to the current working directory

**The short term workaround is to `cd` to the installation directory before the first invocation. This would be needed only o

[2021-11-29 15:46] fb33 commented on #2762
Thanks, the workaround works fine !

[2021-11-29 15:54] pombredanne commented on #2762
@fb33 great.. I will push a fix in the next release. :+1:

[2021-11-30 10:08] pombredanne opened #2772 "Imprecise license detection"
@chinyeungli reported to me that in `pkg:alpine/cfitsio@3.48-r0?arch=x86_64` whose upstream is at http://lcgpackages.web.cern.ch/lcgpackages/tarFiles/sources/cfitsio-3.48.tar.gz we get these detected: `public-domain AND nist-pd` BUT  `us-govt-public-domain AND nist-pd` may be a better a detection:

The text in the fitsio.h is:
[code]

These results could be improved:
[code]

[2021-11-30 17:13] pombredanne opened #2774 "Properly detect Alpine virtual packages"
### Description

Alpine linux installed packages may be "virtual" such as with this snippet of installed DB
[code]

This was created from this https://github.com/postgis/docker-postgis/blob/e5e0e9b3b38acb6e4f1f16ed0c697c9f6cb2cf1e/Dockerfile.alpine.template#L61

`.postgis-rundeps` was created at install time and does not exist as a "real" package. This is instead just a collection of dependencies,

[2021-11-30 17:16] pombredanne commented on #2774
Other examples:
- https://github.com/docker-library/redis/blob/768afb5842d4d8daeab875d886771922749a0db3/Dockerfile-alpine.template#L90
- https://github.com/docker-library/python/blob/2bf869e357137d4d6d5c18afbfda284848cd46d1/Dockerfile-alpine.template#L136

[2021-12-03 08:21] #2655 closed, assigned to nobody

[2021-12-03 08:26] pombredanne commented on #2655
@mmurto this is now resolved thanks to  @fangxlmr #2276

I wonder if we should still want to run yamllint in the tests suite?

[2021-12-05 06:14] adityasangave commented on #2767
I'd like to work on this

[2021-12-06 07:16] BenediktThelen commented on #2768
I think this could lead to problems for people explicitely not using info for performance/runtime reasons.

Doing an internal check anyways could work and should also be quicker than a full info query I assume?

I think this would probably be the best solution once implemented. This still leaves room to either post-process results on the user's end or use the ScanCode option. Definitely a smooth s

[2021-12-07 04:08] chinyeungli opened #2777 "Incorrect license detection"
### Description

[code]
The above notice from https://metadata.ftp-master.debian.org/changelogs//main/t/tar/tar_1.30+dfsg-6_copyright has `public-domain` detected
[code]

The `public-domain` is detected from `based on John Gilmore's public domain version of tar,`. Not sure can the tool be smart enough to tell `public-domain` is actually not the license for this package.

[2021-12-07 09:30] pombredanne commented on #2767
@adii21-Ux great!

the resolution could include:
- EITHER a new license rule for `LGPLv2+ and GPLv2+`
- OR fixing the way we detect licenses in RPMs where the code is here https://github.com/nexB/scancode-toolkit/blob/1dfd73a28fed3bdd3bb6554eeda35f52fb3d86f9/src/packagedcode/rpm.py#L269

or both.

The first step would be a small unit test IMHO.

[2021-12-07 09:47] pombredanne commented on #2752
It is not missing anything, this is by design... the mini build is such that you are in control of dependencies using extras.
Can you elaborate what's is your use case?

[2021-12-07 10:09] scanoss-cs commented on #2752
If you take a clean machine with nothing from scancode previously installed, install the mini toolkit it will fail to run as it's missing the "typecode-libmagic" dependency.
So, I believe in order to make the scancode-toolkit-mini work, this dependency needs to be added?

[2021-12-07 10:11] eeisegn commented on #2752
If you take a clean machine with nothing from scancode previously installed, install the mini toolkit it will fail to run as it's missing the "typecode-libmagic" dependency.
So, I believe in order to make the scancode-toolkit-mini work, this dependency needs to be added?

[2021-12-07 12:03] adityasangave commented on #2767
Ok Got it

[2021-12-09 13:11] tsteenbe opened #2779 "Add GoJS software license to ScanCode"
Add [GoJS software license](https://gojs.net/latest/license.html) to ScanCode so scanning https://github.com/NorthwoodsSoftware/GoJS will not throw commercial-license on license.html but actually recognize the license.

### How To Reproduce

1. git clone https://github.com/NorthwoodsSoftware/GoJS.git
2.  Run scancode with default option on GOJS directory.

[2021-12-09 23:51] pombredanne commented on #2422
I forgot to update the ticket but I have pushed https://pypi.org/project/compiledcode/ this summer...
So you can try to get the latest scancode and then `pip install compiledcode` on top in its activated virtualenv ... This is not fully tested yet.

[2021-12-10 16:55] heliocastro opened #2780 "Crash on generation of cache license dir in R/O installation when run with user privileges"
If ScanCode is installed as a superuser/root in *nix environment and no previous cache is generated, first run as non-privileged user will crash

Easily reproducible:
- Compile and install scancode as root in any directory
- run scancode --version as user ( non privoleged )

Version tested: 30.1.0
Method if instlalation:
[code]

Log output:
[code]

[2021-12-12 07:43] adityasangave commented on #2767
I guess the reason for unknown license expression is we have 10 rules for **LGPLv2+ AND GPLv2+** and no rule file for **(LGPLv2+ AND GPLv2+) AND another expression** so I guess we have to add another rule, I don't see any code changes here, what do you think?

[2021-12-12 14:33] pombredanne commented on #2767
@adii21-Ux this is an approach... another one may be to craft a list of RPM license symbols and use the packaged.licensing code to parse RPM license tags as a license expression using these symbols(such as `LGPLv2+` , `GPLv2+`)

[2021-12-12 14:36] pombredanne commented on #2767
you can try to go first with a few rules for a start.

[2021-12-13 13:42] Zainab-Fahim commented on #1817
Hey @ritiek, I'm relatively a beginner here. Could you please tell me what the following lines mean;
[code]
what is `{,.bak}` and by `which python` you mean the python version right? (example: `Python 3.8.10` )
Thank You for your kind time.

[2021-12-14 14:02] mtichavsky opened #2781 "Missing infromation about GIT and PATH dependencies from Ruby package scan"
### Description

I need to parse Ruby dependencies from `Gemfile.lock`. For regular GEM dependencies, everything's ok, but for GIT and PATH dependencies, important information is missing from the generated output, such as a URL address to the git repository or information about the type of the dependency. Also, I'd expect that in the example below, purl for the Github dependency would start with t

[2021-12-14 22:09] pombredanne commented on #2781
@tichavskym Thanks for the report! that a great catch. Can I interest you in a patch and PR? :innocent:

[2021-12-15 06:49] tdruez opened #2782 "Promote ScanCode.io on the ScanCode-toolkit repo and documentation"
We should add some references to ScanCode.io app in the toolkit README and documentation.

- Homepage at https://scancode.io
- Code at https://github.com/nexB/scancode.io
- Documentation at https://scancodeio.readthedocs.org/

[2021-12-17 11:24] mtichavsky commented on #2781
I found out that we can import Scancode as a library to our project, which is great, but it also means this bug, which is CLI related, is not an issue for us anymore so I'm not planning to work on a patch. Either way, thanks for a timely response.

[2021-12-17 16:20] pombredanne commented on #2781
@tichavskym

This looks like an interesting project!
This is still a bug though IMHO.... which library function do you call ? just the ones in gemfile_lock.py ?

[2021-12-17 16:23] pombredanne opened #2784 "Add new license rule for https://github.com/My-External-Stuff/ublockorigin-rules/blob/44cbbd6c4d7684261fdbf495e1eb134daf3e943e/LICENSE"
This is a silly weird license.
Need to check if this used anywhere first.
https://github.com/My-External-Stuff/ublockorigin-rules/blob/44cbbd6c4d7684261fdbf495e1eb134daf3e943e/LICENSE

[2021-12-17 16:54] mtichavsky commented on #2781
Yes, it looks like functions/classes from `gemfile_lock.py` will get the job done (I've done only some proof of concept testing). And yes, I agree it's still a bug when using scancode as CLI app.

[2021-12-18 13:01] parthn2 commented on #2782
what do you mean by promote ?

[2021-12-24 15:53] adii21-Ux commented on #2771
I did try and solve this issue and found out problem was only with docstring

[2021-12-24 15:54] adityasangave commented on #2771
I did try and solve this issue and found out the problem was only with docstring, should I open a PR

[2021-12-25 14:55] #2637 closed, assigned to nobody

[2021-12-30 15:19] pombredanne opened #2787 "Add support for Scoop buckets"
See https://github.com/ScoopInstaller
- https://github.com/rasa/scoop-directory
- https://scoop.netlify.app/buckets/

[2022-01-03 16:24] #2746 closed, assigned to nobody

[2022-01-03 16:25] #2771 closed, assigned to nobody

[2022-01-03 16:33] #2747 closed, assigned to AyanSinhaMahapatra

[2022-01-04 21:08] johnjeffers commented on #2661
@pombredanne I'm having a similar issue, where scanning a python `requirements.txt` file doesn't return any license info. It's entirely possible that I'm doing something wrong because I just discovered scancode this morning.

Here's the command I'm running:

[code]

[2022-01-05 14:30] maynaS opened #2789 "Inconsistency in documentation of `--html-app FILE` in Command Line Interface Reference"
### Description

##### Given:

##### Correct command line input:

### Link to Documentation Page

### Select Category

-  [X] Inconsistency
-  [ ] New Section Request
-  [ ] General Improvement
-  [ ] Typo/Mistakes
-  [ ] Other

[2022-01-06 12:48] raratiru commented on #2160
What would be a "best practice" for scanning a virtualenv? In my case I initiated a full scan in a low end machine and bumped on this error in Debian Bullseye - Python-3.9.9, `Intel I5-2400@3.10GHz`, 8GB Ram :

After 12 hours: (Of course scancode, scans itself, would that be an issue?)

[code]

[2022-01-06 14:35] pombredanne commented on #2160
yes, this would likely be a significant issue, as there are some many licenses in there that it would take forever and exhaust all resources.

BTW, I do not think it is the same issue as the one experienced here before.

In your case, you could `--ignore` the paths where ScanCode modules are installed, but there are several top level ones in a typical site-packages.

That could be a short term wor

[2022-01-06 16:43] mnonnenmacher commented on #2498
@pombredanne I belive this can be closed, you have added the license in 6e12bd13dcdf31ae2695882767dc7329676de824.

[2022-01-06 16:46] #2498 closed, assigned to nobody

[2022-01-06 19:01] raratiru commented on #2160
@pombredanne

Indeed.

I followed the idea of a separate virtual environment for ScanCode, ran it with `-cl --package` and got a firm "first-time result" I can work with.

Thank you!

[2022-01-07 09:30] pombredanne commented on #2661
@johnjeffers you are not doing anything wrong!

A "requirements.txt" file typically does not contain any license. ScanCode does not fetch the requirements be it through an API call or actually fetching wheels. This is planned soon.

For now, to get the behaviour you expect, you want to run these commands

1. `mkdir downloads && pip download -requirement requirements.txt --dest downloads` to fetch

[2022-01-07 11:58] maynaS commented on #2789
I have pushed a little patch to fix this issue. Can one of the maintainers check it out?

[2022-01-07 13:00] adityasangave commented on #2772
I am trying to reproduce the results but I am not really sure about the input file, I did try and extract the package put there is no file called as **npd** as specified in above scan results please tell me how to reproduce this result after scan

[2022-01-07 14:42] pombredanne commented on #2772
The file is named fitsio.h as explained in the issue body above: `"The text in the fitsio.h is:` ....

[2022-01-07 19:25] johnjeffers commented on #2661
@pombredanne thank you so much for the clarification!

[2022-01-08 21:38] #2009 closed

[2022-01-09 17:00] pombredanne commented on #1364
The new https://github.com/nexB/scancode-toolkit/blob/d1e725d3603a8f96c25f7e3f7595c68999b92a67/src/licensedcode/detection.py is what's needed to complete this.

[2022-01-09 17:01] pombredanne commented on #1675
#2592 now implements an ngram-based approach with this logic:

1. run license detection proper
2. if unknown detection is requested, toward the end of license matching, collect the region of a file that are not matched or weakly matched
3. match using ngrams with an index built from all the licenses and license rules
4. reinject weak matches and do a final merge and filter

In addition we also hav

[2022-01-09 17:25] sschuberth commented on #1364
Out of curiosity, are you planning to make following these kind of references to only work when ScanCode is run with `-p`, or should it also work without `-p`?

[2022-01-10 13:23] 0xc0170 commented on #1185
We discussed if it would be possible for scancode to capture copyright year range - how I found this issue.

This would be useful to check if the files in the merge requests updated also the copyright year - the case is people usually forget this and just keep the line as it is.

I assume the simple check would be needed if we can get this data from scancode: if the current calendar year not in th

[2022-01-10 14:13] pombredanne commented on #1185
@0xc0170 The year and year ranges are collected internally here: https://github.com/nexB/scancode-toolkit/blob/28578ad660a7145eb954c4f2e2f1bc29a94ff787/src/cluecode/copyrights.py#L85 but is then discarded afterwards. It would be possible to optionally keep it and return it as a separate attribute in the CopyrightDetection and may be the HolderDetection objects in https://github.com/nexB/scancode-t

[2022-01-11 01:20] soimkim opened #2793 "GPL-1.0 false alarm improvement"
### Description

File to analyze :  https://android.googlesource.com/platform/external/dng_sdk/+/refs/tags/android-12.0.0_r25/Android.bp
`// e.g. GPL in an MIT project might only apply to the contrib/ directory.`

Because of the above sentence, **Android.bp** of many AOSP(https://android.googlesource.com/platform/) is analyzed as **GPL-1.0**.
Is there any way to handle that statement as an excepti

[2022-01-11 23:39] pombreda commented on #2793
@soimkim thank you very much, this is excellent catch!

Yes! it should be straight forward to create a `is_false_positive` rule for this sentence
` e.g. GPL in an MIT project might only apply to the contrib/ directory.` such that this is not detected as a false positive.

(Side note: shame on the Android developers for putting misleading licensing comments in their code! )
(Other side note: the mo

[2022-01-12 11:18] lukas2 opened #2794 "Inconsistent rule text error"
I just cloned the repo and ran `sudo docker build -t scancode-toolkit .` as [stated in the documentation](https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html#docker-install) and it fails with the following error:

[code]

[2022-01-12 21:37] pombredanne commented on #2794
@lukas2 Thanks for the report. That's surprising as the rules compile and tests pass otherwise :|
Which OS and docker version do you run?

[2022-01-13 07:33] pombredanne commented on #1675
@sameer1046 FYI

[2022-01-13 08:00] pombredanne commented on #1364
This is a feature of license detection in general so this is not only for `--package` scans but for any license detection that includes such as reference.
For instance `This is free software. See COPYING for details.` see in https://github.com/nexB/scancode-toolkit/blob/develop/src/licensedcode/data/rules/unknown-license-reference_91.RULE should be resolved based on the proper `COPYING` license fo

[2022-01-13 08:00] pombredanne commented on #1364
@sameer1046 FYI

[2022-01-13 08:15] pombredanne commented on #1364
@sschuberth actually this is mostly there (at least in the develop branch):
Say you have a directory with two files:

$ cat license-ref/COPYING
`license: apache 2.0`

$ cat license-ref/ref
`This is free software. See COPYING for details.`

$ scancode -l --license-text --license-text-diagnostics --yaml - license-ref/ yields for `license-ref/ref `:

[code]

To finish this store, the use of the new "

[2022-01-14 09:23] sschuberth opened #2796 "Bogus "Outdated ScanCode Toolkit version" message when running ScanCode 30.1.0"
### How To Reproduce

[code]

So ScanCode version 30.1.0 complains about being outdated although there currently is no newer release at https://github.com/nexB/scancode-toolkit/releases or https://pypi.org/project/scancode-toolkit/#history.

[2022-01-15 13:32] adityasangave commented on #2796
Yes I noticed that too @pombredanne should I work on this?

[2022-01-15 16:59] adityasangave commented on #2796
So I guess the problem is not comparing locally installed scancode version with latest version instead of just checking whether 90 days has passed by since latest release take a look at these images @pombredanne
![Screenshot from 2022-01-15 22-09-51](https://user-images.githubusercontent.com/88366673/149630562-8d82f192-8c4f-41b3-a396-8bb851986a85.png)
![Screenshot from 2022-01-15 22-09-58](https:/

[2022-01-16 00:28] kevbroch opened #2798 "two files with same license and copyright are classified differently (one erroneously)"
### Description

two files with the exactly the same copyright and license header are classified different (and one erroneously).

[code]

csv results:

[code]

### How To Reproduce

On Ubuntu 20.04.2 LTS, running scancode 30.1.0 installed with pip3

bash script below:

[code]

[2022-01-17 06:09] data1456 commented on #2366
`C:\Users\26878\Desktop\1\scancode-toolkit-30.1.0>scancode -h
* Configuring ScanCode for first use...
* WARNING: Native Windows may be deprecated in the future in favor of Windows Subsystem for Linux 2
* WARNING: Please visit https://github.com/nexB/scancode-toolkit/issues/2366 for details and to provide feedback `
**How to solve this problem?My scancode-toolkit's version is v30.1.0**

[2022-01-19 22:52] airpods69 commented on #2767
whats the status of this issue? seems like it hasnt been resolved yet

[2022-01-20 03:06] adityasangave commented on #2767
I am working on it

[2022-01-20 12:00] sameer1046 opened #2801 "License text in report output"
I want to get report in a customized xml file which should contain the complete license text.

Is there any way to do it? If so what should I modify in the source code?

[2022-01-20 12:32] tim-jagenberg-piscada commented on #1888
I am trying to use the CycloneDX format from the current `develop` branch, but I'm getting the following error when it tries to write out the collected results:

`./scancode --license --package --cyclonedx test.json PATH_TO_THE_TARGET`

[code]

[2022-01-20 13:27] AyanSinhaMahapatra commented on #2801
You have to add an output plugin like the other available output options [here](https://github.com/nexB/scancode-toolkit/tree/develop/src/formattedcode/). See https://github.com/nexB/scancode-toolkit/pull/2244 for reference.

[2022-01-20 15:22] arushi-mittal commented on #2782
Hi, I'd like to work on this if it's still open. Please assign it to me!

[2022-01-20 15:44] heliocastro opened #2802 "Set output destination for generated files"
By default, to get a file generated by ScanCode, we do need explicitly set filename and/or directory, like:

[code]

This presents a problem as when used as underlying tool, the command line config can't be changed all the time

Instead, a common output destination should considered by default as a command line, as together default naming for files, then reducing the overload to type naming for al

[2022-01-20 16:28] pombredanne commented on #1888
@tim-jagenberg-piscada Thank you ++ for the report!

[2022-01-20 21:48] rnjudge opened #2803 "'declared_license' has both 'License' and 'license' key"
### Description

Tern parses the `declared_license` dictionary from scancode output to determine the license of a file or package. We've noticed some discrepancies in the way that this information is reported from scancode, however, and are wondering if there is a reason for this and additionally, if there are standards for when we can expect a license to be reported under the `license` key vs `Li

[2022-01-21 07:46] pombredanne commented on #2796
That's a bug alright!

[2022-01-21 07:51] karan-vaishnav commented on #2787
May I work on this issue? If yes, then please provide me all the details regarding.

[2022-01-21 07:52] karan-vaishnav commented on #2787
May I work on this issue? If yes, then please provide me all the details regarding it.

[2022-01-21 12:08] pombredanne commented on #2803
@rnjudge Thanks for the report! And sorry for the confusion!
Actually naming this field `declared_license` is a mistake that is misleading becasue it reuse a name defined in SPDX to mean something entirely different!

This is rather the actual `extracted_license_statement` that exists in a package manifest using the same data structure as provided upstream, so it could be a list, a string, a dict

[2022-01-21 15:50] DominikLechner1 opened #2804 "Running scancode command after extractcode in a batch-file fails"
### Description
I tried to scan some *.jar Files automatically, by extracting them first, and then running the scan. I wanted to do this with a batch-file, however in the batch file the task stops after completing extractcode.
If I copy and paste the two commands into the cmd-console, it works like a charm and both are executed.

### How To Reproduce
Run extractcode and scancode from a batch-file

[2022-01-21 16:11] DominikLechner1 commented on #2804
Sorry my bad, initially I thougt, extractcode exits the batch-file, which I considered undesired behaviour.
But I solved my Issue by writing "call" before each command in the batch-file.

[2022-01-21 16:11] #2804 closed, assigned to nobody

[2022-01-21 16:26] pombredanne commented on #2804
@DominikLechner1 good to know! Keep us posted on your automation efforts!

[2022-01-21 22:18] DennisClark opened #2805 "v30.1.0 does not run the spdx plugins on MacOS v11.6"
On MacOS v11.6, After creating json output of scan results using the latest scancode.io 30.1.1, I attempted to generate SPDX formatted reports using the plugins in scancode-toolkit-30.1.0, but sctk was unable to load those plugins.  I successfully ran the same process in scancode-toolkit-21.8.4 on the same files in the same MacOS version.

Here are the errors reported by v30.1.0:
[code]

json-form

[2022-01-22 08:54] gaoh001 opened #2806 "Win10 demands Python 3.7 >= 3.7.5"
on win 10 ,After install scancode-toolkit 30.1.0,  I attempted to generate license and copyright report for test.
when i input Commands :
scancode  --license  --copyright --json   D:\scancode_result.json    D:\node-addon-api-3.0.1\LICENSE.md
then display:
d:\files\pythonfiles\newproject\lib\site-packages\cluecode\copyrights.py:3388: FutureWarning: Possible set difference at position 3
  re.MULTILI

[2022-01-22 11:28] gaoh001 commented on #2806
i uninstall python 3.7.2 and install 3.7.5
its ok

[2022-01-24 08:18] daniel-eder opened #2807 "Full text of CC-BY-4.0 is recognized as `license notice` instead of `license text`"
### Description

When scanning the [official REUSE example repo](https://git.fsfe.org/reuse/example) with ScanCode 30.1.0 the [CC-BY-4.0.txt](https://git.fsfe.org/reuse/example/src/branch/master/LICENSES/CC-BY-4.0.txt) is recognized as `license notice` instead of `license text`.

### How To Reproduce

This issue has been produced by scanning https://git.fsfe.org/reuse/example with ORT, following h

[2022-01-24 19:12] lucasgonze opened #2808 "Mac install problem: conflicting dependencies"
### Description

configure script throws error:

[code]

![image](https://user-images.githubusercontent.com/111581/150848760-0ab35890-12e0-4ec0-a5b8-068e5b683584.png)

### How To Reproduce

See
[log.txt](https://github.com/nexB/scancode-toolkit/files/7928196/log.txt)

1. Download "scancode-toolkit-30.1.0" (latest at this moment).
2. Unpack tarball, cd into it
3. vi PYTHON_EXECUTABLE and set python

[2022-01-24 21:55] pombredanne commented on #2806
@gaoh001 Thank you ... Let me reopen so we add this information in the documentation.

[2022-01-24 22:10] pombredanne commented on #2808
Thank for the report . Sorry for this bug!
There is likely some heisenbug-like condition in Python pip which I am tracking down.... Unless this is a macOS 12 issue? or just a macOS issue.
This is really weird as I just tracked a similar issue on macOS 11 on Friday with @DennisClark

[2022-01-24 22:15] pombredanne commented on #2808
I was just filling this https://github.com/pypa/pip/issues/10824

[2022-01-24 22:25] #2793 closed, assigned to nobody

[2022-01-24 22:26] pombredanne commented on #2793
@KevinJi22 Thank you for fixing this in https://github.com/nexB/scancode-toolkit/pull/2799

[2022-01-24 22:43] #2789 closed, assigned to nobody

[2022-01-24 22:46] pombredanne commented on #2802
@heliocastro Thank you !

[2022-01-24 22:47] pombredanne commented on #2801
Yes the way to do is with a plugin... tell me how we can help you !

[2022-01-24 22:47] pombredanne commented on #2807
Thanks you ++
Good catch!

[2022-01-24 23:20] AnalogJ opened #2809 "Cannot install extractcode[full]==21.7.23 because these package versions have conflicting dependencies"
### Description

I get the following error when attempting to install on Mac (using latest release binaries v30.x) or build a Docker image (from latest develop branch)

[code]

### How To Reproduce

[code]

[2022-01-25 00:49] pombredanne opened #2810 "False positive email detection"
In a  binary ARM build of libiconv (the attached text file contains a strings dump of the culprit section) this junk email was found
`6H@FO.LwfT`

[6H.txt](https://github.com/nexB/scancode-toolkit/files/7929813/6H.txt)

[2022-01-25 01:05] lucasgonze commented on #2808
It might be related that the system I'm using is noticeably slow. It's a 2017 Air running Monterey and Docker. This tends to trigger race conditions.

So try running something which overloads your hardware.

[2022-01-25 01:27] DennisClark commented on #2808
I have encountered the same problem on a MacBook Pro (16-inch, 2019) with a 2.6 GHz 6-Core Intel Core I7, and 16 GB RAM.

[2022-01-25 06:40] AnalogJ commented on #2809
this seems to be related to M1 macs. I was able to build the image successfully by running:

[code]

[2022-01-25 17:27] pombredanne commented on #2808
@DennisClark Thanks

@lucasgonze the short term workaround should be this, once the `./scancode --help` above failed:
1. run `source bin/activate`
2. run `pip install --editable .`
(This will fetch wheels live from PyPI though)

[2022-01-25 17:57] DennisClark commented on #2808
@pombredanne   i confirmed that the short term workaround is helpful in my installation, thanks.  And it means that I can now report other issues  :-)

[2022-01-25 18:06] DennisClark opened #2812 "cyclonedx output formats not recognized in scancode-toolkit-30.1.0"
This issue was originally pointed out to me by @mjherzog

There is a discrepancy between the output formats identified in the scancode --help option and in the scancode rtd text. See screensshots.  The --help text does not mention any cyclonedx support, but the rtd text describes two cyclonedx output formats in some detail.  When I attempt to generate that output format using scancode-toolkit-30.1

[2022-01-25 18:25] fviernau opened #2813 "ScanCode SPDX license key contains invalid characters"
The SPDX license key `LicenseRef-scancode-x11-xconsortium_veillard` contains an `_` which is not allowed according to [1][2], which says e.g. [3][4].

[1] https://github.com/spdx/spdx-spec/blob/development/v2.2.2/chapters/SPDX-license-expressions.md#d1-overview-
[2] https://github.com/spdx/spdx-spec/blob/development/v2.2.2/chapters/SPDX-license-expressions.md#d3-simple-license-expressions-
[3] `id

[2022-01-25 19:02] lucasgonze commented on #2808
Ditto. Ibid. What he said.

[2022-01-25 21:00] rnjudge commented on #2803
Thanks for your reply, @pombredanne. Tern collects the `license_expression` from Scancode in addition to this `declared_license` field currently.

This would work for us but we would need to make some changes so Tern can parse the data correctly. Is there an issue open for this proposal that I can track somewhere?

As you hinted, it sounds like `declared_license` is maybe not what we want to colle

[2022-01-25 22:23] pombredanne commented on #2808
@lucasgonze I want to keep this open until we have a proper fix with pip

[2022-01-26 00:44] lucasgonze opened #2814 "--from-json option throws error"
### Description

`./scancode --from-json scancodeio-output.json --json-pp /tmp/t.json
`
throws error
`
failed to collect codebase at: 'scancodeio-output.json'`

### How To Reproduce

1. Use scancode.io to generate json
2. Save the output
3. scancode-toolkit-30.1.0/scancode --from-json scancodeio-output.json --json-pp /tmp/t.json

Copy of json output file: [Magma.json.zip](https://github.com/nexB/s

[2022-01-26 00:46] lucasgonze commented on #2814
Detailed error info and CLI log:
![image](https://user-images.githubusercontent.com/111581/151083968-49d01382-bd52-4ba8-8287-2fa2dc2b3649.png)

[2022-01-26 07:06] pombredanne commented on #2777
@chinyeungli @KevinJi22 @DennisClark @mjherzog in connection to https://github.com/nexB/scancode-toolkit/pull/2811#issuecomment-1020820680 ... is this above

a proper public-domain statement or should this be ignored?

[2022-01-26 07:15] pombredanne commented on #2814
@lucasgonze Thanks for the report.... Your input JSON file looks like it is truncated?

[2022-01-26 07:20] pombredanne commented on #2813
@fviernau Good catch! @DennisClark IMHO we should no longer use underscore in license keys and validate this.
the only license is "x11-xconsortium_veillard" that we can deprecate and rename with a dash?

[2022-01-26 07:21] pombredanne commented on #2794
gentle ping

[2022-01-26 07:23] pombredanne commented on #2787
@karan-vaishnav Thanks... first step would be to research and document what are the package data and manifest formats used in there. Eventually we want to have manifests parsers in the "packagedcode" module.

[2022-01-26 09:19] sameer1046 commented on #2801
Thanks @pombredanne
I have looked at the debian output format.
https://github.com/nexB/scancode-toolkit/blob/develop/src/formattedcode/output_debian.py
Here it's possible to get matched licence text.
I m trying to get this matched text where the licence key is not available and the complete text where the licence key is available.

[2022-01-26 09:40] sschuberth opened #2815 "False positive for `LicenseRef-scancode-elastic-license-2018`"
### Description

ScanCode 30.1.0 falsely reports a finding of `LicenseRef-scancode-elastic-license-2018`.

### How To Reproduce

Run `scancode --license --json-pp - README.md` where `README.md` contains

[code]

which gets you

      "path": "README.md",
      "type": "file",
      "licenses": [
        {
          "key": "elastic-license-2018",
          "score": 66.67,
          "name": "Elastic

[2022-01-26 15:54] DennisClark commented on #2813
@pombredanne   I can fix x11-xconsortium_veillard in my license list.  will do it soon

[2022-01-26 17:32] pombredanne commented on #2801
@sameer1046 that's clear. Thanks!

[2022-01-27 03:44] sameer1046 commented on #2801
Hi @pombredanne
If possible can I get these details in a custom Jinja template?

[2022-01-27 10:31] sschuberth commented on #2686
We're also seeing this in ScanCode 30.1.0:

[code]

Might also be related to https://github.com/nexB/scancode-toolkit/issues/2726.

[2022-01-27 10:57] pombredanne commented on #2686
Thanks. Warnings are innocuous but annoying alright!
But https://github.com/nexB/scancode-toolkit/issues/2686#issuecomment-1023065257 is another separate issue IMHO.

[2022-01-27 11:00] sschuberth commented on #2686
So, can you confirm that we're under no circumstances missing any licenses being detected because of this? I'm worried as I also see a `multiprocessing.context.TimeoutError` in the stack trace. Doesn't that mean that something eventually wasn't scanned?

[2022-01-27 11:00] pombredanne commented on #2815
Thanks! the ST license needs a new rule for this notice and and the elastic rules need to have a stricter key phrases added.

[2022-01-27 12:45] pombredanne commented on #2686
@sschuberth re:

Do you have a way to reproduce this? Which OS/arch do you run with this Python 3.8?
Is there a larger error trace? Does the JSON contain an error for a certain file?

[2022-01-27 12:51] sschuberth commented on #2686
Unfortunately not, as it happens with internal code.

It's the [ORT Dockerfile](https://github.com/oss-review-toolkit/ort/blob/master/Dockerfile), so based on Ubuntu Focal.

Nope, that's all there is in the stack trace.

[2022-01-27 14:14] karan-vaishnav commented on #2787
@pombredanne can you please share the reference docs for me to understand ?

[2022-01-27 15:14] pombredanne commented on #2787
@karan-vaishnav you would need to research how things work at https://github.com/ScoopInstaller
What is the package manifest format? Is there a registry? an API?
And for the scancode side, play with and read the code in packagedcode

[2022-01-27 16:51] SidharajYadav commented on #863
how i contributed

[2022-01-27 16:52] SidharajYadav commented on #419
how i can contribute in this issuse

[2022-01-27 16:54] SidharajYadav commented on #1746
hi sir,
 I am new to open source.
I was looking at some good first issues.
Can I work on this?

[2022-01-27 17:55] lucasgonze commented on #2814
You're correct. Thank you for the reality check.

If I can reproduce the issue that produced the truncated JSON, I will post it separately.

[2022-01-27 17:55] #2814 closed, assigned to nobody

[2022-01-28 01:52] chinyeungli commented on #2553
Removed everything and recheck-out the code solve the issue.

[2022-01-28 01:52] #2553 closed, assigned to nobody

[2022-01-29 14:06] P-EB commented on #1950
On my Debian Testing workstation with 24G RAM, running scancode on scancode-toolkit/src leads to an OOMkill with only one process.

Using --max-in-memory 100 makes the "Collect file inventory..." last forever (no file actually scanned), so it doesn't seem helpful to manage RAM consumption and still have a working scancode. (edit, it started to scan files, but also OOMkilled)

Is there a way to man

[2022-01-29 15:55] pombredanne commented on #1950
@P-EB sorry for this. Can you provide some details?
- Debian version, arch, CPU and RAM specs
- Exact command line
- which codebase you are scanning

[2022-01-29 18:52] P-EB commented on #1950
@pombredanne that's no problem! :)

- Debian Testing (future Debian 12), amd64, Intel(R) Core(TM) i5-6600K CPU @ 3.50GHz, 24 GB RAM
- `./scancode --verbose -l -c --license-text -n 4 --max-in-memory -1 --debian toto src` or `./scancode --verbose -l -c --license-text -n 4 --max-in-memory -100 --debian toto src` or `./scancode --verbose -l -c --license-text --debian toto src`
- scancode-toolkit/src :

[2022-01-29 21:00] pombredanne commented on #1950
this is like running tar on a tar bomb or running an infinite loop and watching it loop forever... :) so that's not a great candidate... there are about 30,000+ license notices and texts in src / ;)

[2022-01-29 21:11] pombredanne commented on #1950
@P-EB

The day we can have all the versions of these Python packages in Debian it will be able to run from system dependencies. Not until then. All the packages in the requirements.txt file are used: direct dependencies are declared in the setup.cfg and the whole deps tree of exact dependent versions is in requirements.txt

@maxyz has started quite a bit of packaging work a while back and there ha

[2022-01-29 21:13] pombredanne commented on #1950
@P-EB re Debian port see also https://github.com/nexB/scancode-toolkit/issues/487

[2022-01-29 21:45] pombredanne opened #2819 "Incorrect license detection in https://github.com/albfernandez/juniversalchardet"
The attached scans shows some issues
[juniverschardet-scancode.csv](https://github.com/nexB/scancode-toolkit/files/7964797/juniverschardet-scancode.csv)
[juniverschardet-scancode.yaml.zip](https://github.com/nexB/scancode-toolkit/files/7964799/juniverschardet-scancode.yaml.zip)

[2022-01-30 10:00] P-EB commented on #1950
Thanks for the links!

I'll try to see what dependencies are missing in Debian.

[2022-01-30 11:02] pombredanne commented on #1580
For reference, repasting from https://github.com/nexB/scancode-toolkit/issues/1950#issuecomment-1024987215

@P-EB

The day we can have all the versions of these Python packages in Debian it will be able to run from system dependencies. Not until then. All the packages in the requirements.txt file are used: direct dependencies are declared in the setup.cfg and the whole deps tree of exact dependent

[2022-01-30 11:39] P-EB commented on #1580
@pombredanne  Did anyone made a track of what is and what is not in Debian ?

[2022-01-30 13:31] karan-vaishnav commented on #2787
https://docs.google.com/document/d/1bJLuOnO6MJizhJ7fq5HxnN1imCtaO4T0EYm-yVGTkJU/edit?usp=sharing

@pombredanne I'm done with my research on how things work at https://github.com/ScoopInstaller.
Please check through this link and tell me the changes required, I'll correct them.
Also, does this file work? Or do I need to make a readme file or anything else?

[2022-01-30 14:48] pombredanne opened #2820 "Incorrect license detection where a proprietary license is reported as GPL"
This (edited) text is detected incorrect as GPL:
[code]

Using a YAML scan with the details of matched texts:
[code]

The warranty disclaimer is not typical of a GPL and is what tripped detection there.
We should also add a new rule for this proprietary license notice.

[2022-01-30 16:04] pombredanne commented on #2777
gentle ping. @chinyeungli @DennisClark ?

[2022-01-30 18:10] pombredanne commented on #1580
@P-EB It was likely done back then and is likely obsolete now and would need to be redone IMHO

@maxyz  @aj4ayushjain ... unless you have something?

[2022-01-30 21:39] pombredanne commented on #2787
@karan-vaishnav this is awesome! Do you mind top copy this content here in the issue as a comment using markdown?
This way we can discuss in a single place.

[2022-01-31 09:47] pombredanne opened #2823 "Add support for nix packages"
We should add support for https://nixos.org/ packages
An example of a nix "derivation" is at https://github.com/nix-community/nix-direnv/blob/master/flake.nix
This is like a package manifest.
For instance, this is one of the packages of ScanCode in nix:
https://github.com/NixOS/nixpkgs/blob/nixos-21.11/pkgs/development/python-modules/pyahocorasick/default.nix#L29

Of note: it uses its own "languag

[2022-01-31 09:47] pombredanne opened #2824 "Add support for guix packages"
We should add support for https://guix.gnu.org/ packages
guix is based on nix (see https://github.com/nexB/scancode-toolkit/issues/2823 )

In contrast with nux that uses its nix language, guix is based on Guile scheme.
The doc for how packages are defined is at https://guix.gnu.org/manual/en/html_node/Defining-Packages.html
These package definitions are peculiar in that many are baked in a single

[2022-01-31 12:25] adii21-Ux commented on #2815
I thought of working on this issue but scanning README.md give different result
`files": [
    {
      "path": "README.md",
      "type": "file",
      "licenses": [
        {
          "key": "mit",
          "score": 68.75,
          "name": "MIT License",
          "short_name": "MIT License",
          "category": "Permissive",
          "is_exception": false,
          "is_unknown": false,

[2022-01-31 12:29] adityasangave commented on #2815
I started working on this issue but scanning README.md gave different results
`
files": [
    {
      "path": "README.md",
      "type": "file",
      "licenses": [
        {
          "key": "mit",
          "score": 68.75,
          "name": "MIT License",
          "short_name": "MIT License",
          "category": "Permissive",
          "is_exception": false,
          "is_unknown": false,

[2022-01-31 12:41] karan-vaishnav commented on #2787
okay sure.

[2022-01-31 12:43] karan-vaishnav commented on #2787
Scoop

Installation

Run the following command from your PowerShell to install scoop to its default location (C:\Users\<user>\scoop)

Invoke-Expression
(New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
# or shorter
iwr -useb get.scoop.sh | iex

Once installed, run scoop help for instructions.
The default setup is configured so all user installed programs and Scoop itself liv

[2022-01-31 12:51] adityasangave commented on #2823
Nixos has its own packages and we need to add support for scanning those packages am I right? I would like to work to work on these as I am familiar with package scanning in scancode can you please tell me where should I be starting

[2022-01-31 12:52] karan-vaishnav commented on #2787
# Scoop

## Installation

Run the following command from your PowerShell to install scoop to its default location (C:\Users\<user>\scoop)

Invoke-Expression
(New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
#or shorter
iwr -useb get.scoop.sh | iex

Once installed, run scoop help for instructions.
The default setup is configured so all user installed programs and Scoop itself

[2022-01-31 14:30] #2807 closed, assigned to nobody

[2022-01-31 15:51] purna135 commented on #2806
Hi @pombredanne I would like to work on this

[2022-01-31 15:54] purna135 commented on #2782
Hi @tdruez can I work on this ?

[2022-01-31 16:42] DennisClark commented on #2777
`heavily based on a public domain` of anything is not really a proper indication of public-domain.   It just means the authors used the public domain stuff, but are, of course, completely free to license some use of it otherwise.

[2022-01-31 18:55] lucasgonze opened #2826 "Feature: documentation on json and json-pp formats"
### Description

Scancode-toolkit emphasizes output formats labeled only as "json" or "json-pp." There is no information on the underlying schema.

Is it the same as any format used by other tools? How is it different than SPDX?

### Link to Documentation Page

https://scancode-toolkit.readthedocs.io/en/latest/cli-reference/output-format.html

![image](https://user-images.githubusercontent.com/111

[2022-01-31 19:41] DennisClark opened #2827 "Provide descriptive Notes text for all unknown/generic licenses in the ScanCode-LicenseDB"
Please refer to the attached spreadsheet.  We need to update the Notes field of a group of licenses in the ScanCode-LicenseDB to ensure that they provide adequate explanations of the purpose and meaning of various licenses that point to unknown or generic cases.  Please use the text in the "Reference Notes" column of the spreadsheet for that purpose.

[2022-01-31 19:43] DennisClark commented on #2827
replaced the spreadsheet

[unstated-license-analysis-2022-01-31.xlsx](https://github.com/nexB/scancode-toolkit/files/7973728/unstated-license-analysis-2022-01-31.xlsx)

[2022-02-01 10:58] pombredanne commented on #2806
@PurnaChandraMansingh hey :) You do not need to ask to work on something ;) this is open source!
Instead it is usually better to state that you are working on a fix and PR... BUT ONLY if you really intend to do so. If there is someone else already on it, they there should be a reply back in a few days (but there is no guarantee) from that person.

[2022-02-01 11:00] pombredanne commented on #2806
@PurnaChandraMansingh also for your kind consideration:

When you ask for permission with "I would like to work on this" you are requesting attention from the maintainers for something that did not even start and therefore does not require attention yet: please be mindful that attention is a precious thing that is always in short supply ;)

Also this is a community and not just me.... you do not n

[2022-02-01 11:03] purna135 commented on #2806
Thank you, I will follow this

[2022-02-01 11:06] pombredanne commented on #2806
Sure thing! do not hesitate to pass the word around.

[2022-02-01 11:24] pombredanne commented on #2327
This has been fixed and merged. Closing

[2022-02-01 11:24] #2327 closed, assigned to nobody

[2022-02-01 19:10] pombredanne commented on #2584
In particular in SCIO, we track a rootfs_path for resources

[2022-02-01 19:33] pombredanne commented on #2798
@kevbroch Thank you
There are thee unrelated issues:

1. the copyright detection where lowRisc is a somewhat uncommon letter case for a name is detected as a plain noun  in the grammar rather than a proper noun.
For reference I get this parse tree when using the SCANCODE_DEBUG_COPYRIGHT=yes env var:
[code]
This sequence of tags e.g., COPY NN  CONTRIBUTORS is not a copyright rule. It should and thi

[2022-02-01 19:39] pombredanne opened #2831 "Different license detected for what looks like the exact same text"
As a follow up for https://github.com/nexB/scancode-toolkit/issues/2798 by https://github.com/kevbroch there is a problem to track why we do not have the exact same results for these two files attached at commit https://github.com/nexB/scancode-toolkit/tree/8bd896af7052d652a9de4f0f36c37f3f62f2c8eb

    On Ubuntu 20.04.2 LTS, running scancode 30.1.0 installed with pip3

    bash script below:

[cod

[2022-02-01 19:40] pombredanne commented on #2798
The likely resolution would be
- for 1. add a new entry in the copyright grammar in https://github.com/nexB/scancode-toolkit/blob/8bd896af7052d652a9de4f0f36c37f3f62f2c8eb/src/cluecode/copyrights.py#L1767
- for 2. add a new license detection rule for more or less this:
[code]

for 3. this is a more serious internal bug and I need to investigate separately. This will tracked in https://github.com/ne

[2022-02-01 19:58] pombredanne commented on #1880
in this nuget case, the download URL is redirected to https://globalcdn.nuget.org/packages/libzmq-vc120.4.2.3.nupkg
SCTK may not be able to figure that out unless we add a way where SCTK can make online network calls, but ScanCode.io would likely be OK to do such thing in a pipeline.
Alternatively we could always infer a package archive filename and add this as a new attribute for a package?

Here

[2022-02-01 20:00] pombredanne opened #2832 "Determine if a directory is a package root of sorts"
Finding the root of a package is useful as it defines a point in a code tree where we can summarize things.
This is a complex topic. To help we can:

- look for patterns of key files (as identified with `is_key_file` by the FileClassifier plugin with --classify)
- look for package manifests, package and package-like data (where `package-like` is a new new TBD concept when we do not have a proper w

[2022-02-01 21:24] pombredanne commented on #2777
@DennisClark Thanks!

[2022-02-01 21:33] #2777 closed, assigned to nobody

[2022-02-01 21:34] pombredanne commented on #2777
Fixed by @KevinJi22  with https://github.com/nexB/scancode-toolkit/pull/2811

 @KevinJi22 did you add your name to the AUTHORS.rst file?

[2022-02-01 21:36] KevinJi22 commented on #2777
@pombredanne yeah, I added my name in a prior pull request.

[2022-02-01 22:35] pombredanne commented on #2777
Excellent! thanks again.

[2022-02-01 23:23] pombredanne opened #2833 "Add new --bug-report options"
The goal of this feature to to help with the report of license detection and copyright bugs.
Ideally we should have a new option that will re-run a scan with the debugging options such that the output can copied and pasted in an issue

[2022-02-02 06:23] pombredanne commented on #1649
@bduranc This has been fixed on the Scancode side a while back.
Here is the output in ScanCode of scanning https://repo1.maven.org/maven2/log4j/log4j/1.2.15/log4j-1.2.15.pom
[code]

Closing this now!
Thanks

[2022-02-02 06:23] #1649 closed

[2022-02-02 06:30] pombredanne commented on #116
I am labeling this and related issues that require network access with the "live-online-scan"

[2022-02-02 06:35] pombredanne commented on #1765
The newer compiledcode plugin now uses pyelftools ... See https://github.com/nexB/scancode-plugins/blob/53067ec8adc19e4809912a3c31eb73d668b918c2/binary-analysis/scancode-compiledcode/setup.py#L46
Closing now!

[2022-02-02 06:35] #1765 closed

[2022-02-02 06:38] pombredanne commented on #2045
Moving this to extractcode

[2022-02-02 06:46] pombredanne commented on #2069
This has been completed and merged. The reference code lives in https://github.com/nexB/skeleton and is now used eventually in all the projects using the skeleton. Closing now!

[2022-02-02 06:47] pombredanne commented on #2069
Actually we do not create hashes yet. Reopening and moving to skeleton!

[2022-02-02 06:48] pombredanne commented on #2366
@data1456 the message is not a problem... the question is whether or not we want to support only WSL2.

[2022-02-02 06:52] pombredanne commented on #2412
This is not simple, but a good first issue for a skilled aspiring contributor.

[2022-02-02 06:54] pombredanne commented on #461
Note that this is a possible issue in the SPDX output that demands to have a checksum even for an empty file.

That's likely the best approach

[2022-02-02 06:56] pombredanne commented on #1994
These Windows long path issues should be all sorted out on the latest Python and Windows. Can you confirm?

[2022-02-02 06:56] pombredanne commented on #1994
Moving to extractcode too

[2022-02-02 06:58] pombredanne commented on #1635
Since we have backing tests for this and no error report, I am closing for now.

[2022-02-02 06:58] #1635 closed

[2022-02-02 07:08] pombredanne opened #2835 "Update the minimum system requirements"
https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html?highlight=RAM#system-requirements documents the minimum requirements ...

4GB and 500MB is on the low end and we want a 64 bits processor. We may run OK on Apple ARM M1 too though this is not tested and likely requires  the x86 emulation mode.

To do this correctly, the following should be done:

- [x] Run tests on mult

[2022-02-02 07:09] pombredanne commented on #1461
I am closing this for now and please reopen if you still experience the same issue. We have since migrated to Python 3
In all cases using 1.5GB of RAM is not enough as this is below the current minimal required RAM of 4GB https://scancode-toolkit.readthedocs.io/en/latest/getting-started/install.html?highlight=RAM#system-requirements

I am closing this and we will track instead a doc update and ref